[2019-03-19 13:00] HarshKhandeparkar commented on #857
I will do the documentation

[2019-03-19 13:06] Harshithpabbati commented on #857
Ok fine thanks.

[2019-03-19 13:13] Divy123 commented on #892
I think the issue can be made a FTO.
What do you think @jywarren @HarshKhandeparkar ?

[2019-03-19 13:15] jywarren commented on #892
Sounds great!!

On Tue, Mar 19, 2019, 9:14 AM Slytherin <notifications@github.com> wrote:

[2019-03-19 13:18] HarshKhandeparkar commented on #892
Needs reformat

[2019-03-19 13:18] Divy123 commented on #892
Yup doing ..

[2019-03-19 13:20] Divy123 commented on #892
@HarshKhandeparkar do I have to add first timers issue template here?

[2019-03-19 13:30] HarshKhandeparkar commented on #892
Yes

[2019-03-19 13:30] HarshKhandeparkar commented on #892
Or open a new issue

[2019-03-19 13:30] HarshKhandeparkar commented on #892
Opening a new one would be better. Be sure to notify about it in issue #842

[2019-03-19 13:34] Divy123 commented on #892
Sure. So closing this one.
cc @jywarren

[2019-03-19 14:00] Divy123 opened #894 "Add step selector too narrow on mobile view"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-19 14:02] HarshKhandeparkar commented on #894
If a newcomer wants to solve an issue but cannot find one, they can get their name added to the list in #842

[2019-03-19 14:05] Divy123 commented on #894
Thanks @HarshKhandeparkar

[2019-03-19 14:06] HarshKhandeparkar commented on #892
Fto #894

[2019-03-19 14:06] #892 closed

[2019-03-19 14:06] hodbadger commented on #842
I'd like to help with documentation if there's an open issue.

[2019-03-19 14:07] HarshKhandeparkar commented on #842
Yes there is. #885

[2019-03-19 14:09] HarshKhandeparkar commented on #885
This issue has been reassigned to @hodbadger on request. @An0u can solve #894

[2019-03-19 14:10] HarshKhandeparkar commented on #894
This issue is reserved for @An0u

[2019-03-19 14:14] HarshKhandeparkar commented on #885
@hodbadger welcome!! You can resolve this issue. This one is reserved for you. Just let us know in the comments if you want to solve this.

[2019-03-19 14:25] #857 closed

[2019-03-19 14:47] Divy123 commented on #216
@jywarren staring with headlessGl here.
Just one question should I start converting the fisheye module to test out this?
Or is there something else I can continue with for this?

[2019-03-19 15:51] jywarren commented on #216
Yes please if you could start with the webgl-distort library that would be
great!

https://github.com/jywarren/webgl-distort

Cc @tech4gt ! 🎉🎉

On Tue, Mar 19, 2019, 10:48 AM Slytherin <notifications@github.com> wrote:

[2019-03-19 15:53] Divy123 commented on #216
Sure!
Thanks.

[2019-03-19 16:01] ebarry commented on #883
This week i will be closing the Survey down, so if you haven't filled it in, here's the link https://github.com/publiclab/plots2/issues/4614

I am also working on setting up an evaluation plan for our upcoming education work in the Gulf Coast.

[2019-03-19 16:12] VibhorCodecianGupta commented on #216
@jywarren @Divy123 seeing as this is one of the GSoC projects this year and is already being worked upon, is this still open to incoming proposals or shall I draft one pertaining to real-world use cases of IS? I have the necessary research for both, but this looks like it's already being worked upon?

[2019-03-19 16:14] Divy123 commented on #216
I think you can go on with real world use cases one and I would be really thankful if you can share your research here.

[2019-03-19 16:21] divyabaid16 commented on #883
Hi everyone!
My last week had been quite productive and I wish the same for this week too.

**My goals for this week**
1. Find some more bugs and report them in form of issues.
2. Work on some more issues and submit PR for the same.
3. Create my outreachy proposal.

And yes, I must say that this community is beginner friendly.

[2019-03-19 16:28] ananyaarun commented on #883
Hi everyone !!
The last few days were amazing considering the amount i got to learn!! Looking forward to a great week ahead :)
My goals for this week are:
- Work on some more issues and bugs
- Make a few FTO issues
- Finalize and submit my outreachy application
- Continue to help and learn from the community :smiley:

Good luck everyone !!

[2019-03-19 16:46] emestabillo commented on #883
Hi folks! It’s been awesome finding this community! Everyone is so active and helpful 🙂

First - My first PR got merged (Huzzah!)

For this week:
1. I hope to help out/review a pending PR, and
2. Find another issue to tackle

Have a good rest of the week to all! 🌞

[2019-03-19 18:26] vaarigupta commented on #885
@HarshKhandeparkar . Hello, This is Vaari  gupta. I would like to work on this issue.

[2019-03-19 18:30] HarshKhandeparkar commented on #885
Hello and welcome! Sorry but this is reserved for @hodbadger. I will add your name to the list in #842. Are you good with something not related to documentation? Or do you specifically want a documentation issue? I might open a new issue tonight. You will have to wait for it. It will be reserved for you.

[2019-03-19 18:33] HarshKhandeparkar commented on #842
@vaarigupta welcome! Your name has been added. You will be assigned soon.

[2019-03-19 18:47] HarshKhandeparkar commented on #773
@jywarren shall we start by creating the stable branch atleast?

[2019-03-19 18:48] Harshithpabbati commented on #773
What's the issue??

[2019-03-19 18:49] HarshKhandeparkar commented on #773
We want to gitignore dist files and force add them to a stable branch periodically.

[2019-03-19 18:54] Harshithpabbati commented on #773
If you need any help I would really love to do it

[2019-03-19 18:56] HarshKhandeparkar commented on #773
Only @jywarren and other maintainers can create and push to a protected branch so both of us can't do anything.

[2019-03-19 19:03] Harshithpabbati commented on #773
Oh :sad:

[2019-03-19 19:03] Harshithpabbati commented on #773
Oh

[2019-03-19 19:09] jywarren commented on #773
Sorry Harshith! Yes, i'll put some thought into this, and like the idea --
but if you could write up a procedure -- documentation -- for how to do
this, we could post that so there is more transparency about how it works,
too. We could brainstorm/refine the docs in this issue. Thanks! Very busy
today, apologies for replying slowly!

On Tue, Mar 19, 2019 at 3:04 PM Harshith pabbati <notifications@g

[2019-03-19 19:12] jywarren commented on #216
I also think it's fine to assume that even if we have an initial
implementation for any of these, we might want to refine it as part of SoC!

On Tue, Mar 19, 2019 at 12:15 PM Slytherin <notifications@github.com> wrote:

[2019-03-19 19:17] Divy123 commented on #216
implementation for any of these, we might want to refine it as part of SoC!
Can you please explain a bit more on this?

[2019-03-19 19:18] Divy123 commented on #216
Actually me and Vibhow both are applying for GSoC. So what's your view how should we proceed on this one?

[2019-03-19 19:19] jywarren commented on #216
Oh i just mean that -- think of any feature, the first version can be good
but may still be improve-able, right, so there's almost always room to
expand on a feature later. Coming up with a solution now need not mean
there can't be a Summer of Code proposal for it later too!

On Tue, Mar 19, 2019 at 3:17 PM Slytherin <notifications@github.com> wrote:

[2019-03-19 19:19] jywarren commented on #216
And we also allow multiple people working on the same project - we advise
folks to find ways to break up a problem into parts for better
collaboration.

On Tue, Mar 19, 2019 at 3:19 PM Jeffrey Warren <jeff@unterbahn.com> wrote:

[2019-03-19 19:23] Divy123 commented on #216
folks to find ways to break up a problem into parts for better
collaboration.

@jywarren I think that can be the best way to go on.
Thanks

[2019-03-19 19:28] #874 closed

[2019-03-19 19:28] IshaGupta18 commented on #883
Hey Everyone! Really great to see so many people coming in and expanding our community! I am learning so much from all of us!

Plans for this week:

1. Help out more, with PRs and issues.
2. Help out first-timers more in understanding the codebase and collaborate with them.

Make the proposals better and complete.
I would love it if you guys give some feedback on my GSoC proposal here:

https://pu

[2019-03-19 20:13] niravasher commented on #883
Hello contributors, glad to see so many people here. My goals for this week are
1) Finish my issue and work on new issues in image sequencer
2) Start working on mapknitter
3) Complete my GSOC proposal
Good luck to everyone

[2019-03-19 20:30] hodbadger commented on #885
Great! I'll solve it.

[2019-03-19 20:33] HarshKhandeparkar commented on #885
Cool!
9

[2019-03-19 21:46] vaarigupta commented on #842
@HarshKhandeparkar  I want to contribute as FTO on HTML , CSS , Javascript. How can I start contributing?

[2019-03-19 21:55] vaarigupta commented on #842
thanks a lot .I am an outreachy applicant and excited to work for public lab

[2019-03-19 21:57] jywarren commented on #883
Hi, everyone! I'm hoping this week to close out some long-running bugs on our different projects. Any help with this would be appreciated! You can find bugs and try to help document them, find relevant code links, that sort of thing at these addresses:

* "priority" bugs: https://github.com/publiclab/plots2/labels/priority
* all bugs (lots!) https://github.com/publiclab/plots2/labels/bug

It's so

[2019-03-19 22:19] niravasher commented on #822
Hey, a bit modification of the pythagoras theorem gives me this. The user now has control for the end color  of the gradient whereas the centre remains black.
![Screenshot (44)](https://user-images.githubusercontent.com/32176296/54645784-1309d380-4ac3-11e9-9a25-5ff2171d9f47.png)
@jywarren @HarshKhandeparkar

[2019-03-19 22:48] niravasher commented on #822
Also gave the user option to choose the starting point of the gradient.
![Screenshot (45)](https://user-images.githubusercontent.com/32176296/54647073-3767af00-4ac7-11e9-9247-e2b2d8695d46.png)

[2019-03-19 23:10] jywarren commented on #822
This looks awesome!!!

Ok, now, can you do it the same in all channels, and not expose the 3
channels in the settings -- what we'll do is then pass this through in
monochrome to the colormap module, which will apply any one of the complex
colormaps to the monochrome image. This will allow more than just
color-color gradients, but many-color gradients, does that make sense?

On Tue, Mar 19, 2019 at

[2019-03-19 23:57] niravasher commented on #822
Hey @jywarren didn't get you. Please explain in more layman's terms. "Not exposing the three channels" means?

[2019-03-20 00:05] jywarren commented on #822
My apologies - meant, mainly, not allowing the user to set channels as
options. I think we can simply accept x, y input and not do channels
differently - just set the color for all 3 channels equally so that it's
monochrome. Then the colorizing will happen in the colormap library. Is
that ok?

On Tue, Mar 19, 2019 at 7:58 PM Nirav Asher <notifications@github.com>
wrote:

[2019-03-20 04:53] HarshKhandeparkar commented on #822
Looks awesome!

[2019-03-20 04:54] HarshKhandeparkar commented on #822
Instead of asking for all channels you can ask for a space separted color like in many other modules like paintBucket and drawRectangle

[2019-03-20 04:56] HarshKhandeparkar commented on #842
Great! We don't have any ftos right now but many are to come. Btw do you have experience with git? If yes, you can try to solve the fto-candidate issues if you can or else wait for an fto. Thanks.

[2019-03-20 05:25] HarshKhandeparkar opened #898 "Improve Footer"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-20 05:27] HarshKhandeparkar commented on #898
This issue is reserved for @vaarigupta. You can resolve this at any time. Just let us know that you want to work on this.

[2019-03-20 05:27] HarshKhandeparkar commented on #898
If a newcomer wants to solve an issue, they can get their name added to the list in #842

[2019-03-20 05:28] HarshKhandeparkar commented on #842
@vaarigupta opened an fto #898. This one is for you. Go ahead and resolve it. 😊

[2019-03-20 08:01] vaarigupta commented on #842
@HarshKhandeparkar  Ya thanks I will look into it and ask if I get stuck meanwhile.

[2019-03-20 08:09] Divy123 commented on #842
Hello everyone in the discussion here who are here to grab some issues.
Just want to express that you can always ask @publiclab/is-reviewers or any of the contributors from ourselves for any help you need from us.
You people are awesome and thanks for helping us improve the  project through your contributions.

[2019-03-20 08:21] HarshKhandeparkar commented on #842
We, @publiclab/is-reviewers are always ready to help in case you get stuck. Thanks for your important contributions which improve this project! 😊

[2019-03-20 08:36] vaarigupta commented on #898
Thanks @HarshKhandeparkar  I resolve it as soon as possible and generate a pull request.

[2019-03-20 09:27] niravasher commented on #822
Added space separated color input
![Screenshot (46)](https://user-images.githubusercontent.com/32176296/54672098-598c1c00-4b1d-11e9-8f73-9edc97c9467f.png)
Also removed the savePixels and made new circularGradient.js file that is exported to module.js.
How should I pass this to colormap? @HarshKhandeparkar @jywarren

[2019-03-20 09:33] HarshKhandeparkar commented on #822
Looks great but I have a few questions.
1. Why do you need alpha values? Please try and keep the alpha at 255 and only change the intensity of the color used.
2. What do you want to do with colormap? What will you use it for?

[2019-03-20 09:36] niravasher commented on #822
Ok, I have set the alpha value to 255 only. As Jeff said we need to pass this to colormap, so I thought he wants some changes that way @HarshKhandeparkar

[2019-03-20 09:37] HarshKhandeparkar commented on #822
Oh so if you are asking for color, what is the use of colormap? Is it reqd?

[2019-03-20 09:38] niravasher commented on #822
Yes it isn't, so the circular gradient module is complete. Updating my PR @HarshKhandeparkar

[2019-03-20 09:42] HarshKhandeparkar commented on #822
I guess no. Wait, if you want a multicolor gradient like a rainbow, you will have to use colormap. Can you create a separate multicolor gradient module? It can be a metamodule. In this module, can you also let users have a circular greyscale gradient where the users don't have to set the color?

[2019-03-20 09:44] HarshKhandeparkar commented on #822
The colormap first averages the r, g, b values to get greyscale pixels and then maps the greyscale values to different colors based on some specific threshold maps. If you are able to create a greyscale gradient, a metamodule can be creater using this and the colormap module.

[2019-03-20 09:47] HarshKhandeparkar commented on #822
Can you also integrate circular and normal gradient modules into one? And provide an option like gradient type which can be linear or circular. Also can you add an option to set the direction of linear gradient. I don't doing these changes will be difficult as you have already created the scaffolding for it.

[2019-03-20 09:58] niravasher commented on #822
Ok
Step 1) Merge the circular and normal gradient. Give user the option to choose between them
Step 2) Add option for setting the direction
Step 3) Create greyscale gradients with colormap
Which three values from many will the colormap averge?
I mean I have an image, I apply the new metamodule to it which produces a greyscale. As there are many colors in the original image, which three should I ch

[2019-03-20 10:01] HarshKhandeparkar commented on #822
Whatever I have said might be a bit difficult to digest and understand. Even I couldn't understand what I wrote.😅. Sorry.
In proper words:
1. 🌈 Like gradients require colormap module. Colormap module requires all the three channels to be of the same color(i.e greyscale like the original linear gradient module). Can you do the same with circular gradient?
2. Having 2 different gradient modules isn'

[2019-03-20 10:03] HarshKhandeparkar commented on #822
You can have a look at the original gradient module to see how greyscale gradients are createdm

[2019-03-20 10:07] HarshKhandeparkar commented on #822
Did you understand everything or do you need more help?

[2019-03-20 10:14] niravasher commented on #822
Ok, first you want to combine linear and circular gradients (I am sure this is easy). Then in the new metamodule, the user will have option to select between colormap and gradient. If the user chooses colormap, he/she will be shown options like default, greyscale, stretched etc. If the user chooses gradient, he/she will be shown option to choose between linear and circular and a space separated co

[2019-03-20 10:21] HarshKhandeparkar commented on #822
Actually you are close to be correct. The metamodule is a completely different module from the gradient modules. The gradient module can only create a greyscale gradient or a single color gradient. The metamodule is like a module of its own with an info json file etc. It can be called`multicolorGradient` and it will be only used to create 🌈 like gradients. It can have only one option. I.e  linear

[2019-03-20 10:31] HarshKhandeparkar commented on #822
For e.g [colorbar](https://github.com/publiclab/image-sequencer/tree/main/src/modules/Colorbar) is a metamodule made up of gradient, colormap, crop and overlay modules which are already existing modules. Check it out.

[2019-03-20 10:39] Divy123 commented on #216
@HarshKhandeparkar you said that it provides full canvas context, so like if I do canvas.toDataURI() in browser, what can be done in here?
Can you please explain a bit here?

[2019-03-20 10:46] HarshKhandeparkar commented on #216
It is the full canvas API Available in nodejs. Whatever works in the browser will work here.

[2019-03-20 10:46] niravasher commented on #822
Yes Yes got it, will try to create the new metamodule

[2019-03-20 10:51] Divy123 commented on #216
you said that it provides full canvas context, so like if I do canvas.toDataURI() in browser, what can be done in here?

[2019-03-20 10:55] HarshKhandeparkar commented on #216
Same can be done

[2019-03-20 10:56] Divy123 commented on #216
But canvas is not there so gl.?

[2019-03-20 10:59] HarshKhandeparkar commented on #216
Yes. You can also assign it to a var named canvas

[2019-03-20 11:01] Divy123 commented on #216
Means instead I can do
`var canvas = require('gl')(....)`

[2019-03-20 11:01] HarshKhandeparkar commented on #216
Yes

[2019-03-20 11:03] Divy123 commented on #216
Coool!!

[2019-03-20 11:10] HarshKhandeparkar commented on #216
@Divy123 i found something important. Please have a look at it.
https://github.com/stackgl/headless-gl/blob/master/README.md#system-dependencies

[2019-03-20 11:12] Divy123 commented on #216
I looked into.
Do you find some problem in this?

[2019-03-20 11:20] HarshKhandeparkar commented on #216
You need to be careful as this might not work on every system. Might need some system dependencies to be installed

[2019-03-20 11:21] Divy123 commented on #216
For sure, Thanks.

[2019-03-20 11:59] jywarren commented on #822
Hi all, thanks! For simplicity we don't yet need to do the steps of
combining the gradient modules, we can do that later. And we can also do
the metamodule step in a follow-up PR. Let's focus on getting the
monochrome circular gradient module, which is almost done, and merging it,
then we can build on top of it! Thanks!!!

On Wed, Mar 20, 2019, 6:47 AM Nirav Asher <notifications@github.com> wrote:

[2019-03-20 12:11] jywarren commented on #216
Looks like for Travis it may require a travis.yml change...
*https://github.com/stackgl/headless-gl/blob/master/README.md#how-can-i-use-headless-gl-with-a-continuous-integration-service
<https://github.com/stackgl/headless-gl/blob/master/README.md#how-can-i-use-headless-gl-with-a-continuous-integration-service>*

This is great news as it answers our questions about needing a GPU on a
cloud contain

[2019-03-20 12:16] Divy123 commented on #216
I think this can be solved now without any worries.
Working on webgl-distort.
Cc:@jywarren

[2019-03-20 12:30] tech4GT opened #899 "There's a problem with exportBin"
<img width="1079" alt="Screen Shot 2019-03-20 at 5 59 39 PM" src="https://user-images.githubusercontent.com/25617855/54684330-070d2880-4b3a-11e9-906b-2a097172ccaa.png">
cc @jywarren @HarshKhandeparkar @Divy123

[2019-03-20 12:32] Divy123 commented on #899
Looking into it.

[2019-03-20 12:38] Divy123 commented on #899
I am unable to see the image variable declared in the whole file.

[2019-03-20 12:38] tech4GT commented on #899
Hmm, never mind I found it.

[2019-03-20 12:39] Divy123 commented on #899
What have you found out?

[2019-03-20 12:39] tech4GT commented on #899
Pushing in a fix now, please be careful to test the project via all the clients in the future, we don't want broken code on npm right.

[2019-03-20 12:39] tech4GT commented on #899
it should be "image" not image

[2019-03-20 12:40] Divy123 commented on #899
Ya that should work!!

[2019-03-20 12:43] Divy123 commented on #899
Actually I think there is a confusion.
I never changed anything in this file.
So this problem might be existing from some earlier parts.
@tech4GT

[2019-03-20 12:46] tech4GT commented on #899
That's okay, I did not mean you broke something, just wanted to say it's good practice to test for all clients before pushing to npm.

[2019-03-20 12:48] Divy123 commented on #899
Thanks for always helping and guiding.
I will be writing a workflow for webgl shim issue there.
Please help there to create a right workflow on things as majority of the hinderances have been figured out.

[2019-03-20 12:59] jywarren commented on #899
Thanks all! Was there a test we might write to protect this in the future?

We're also still seeing an error on addsteps in the demo, I wanted to try
to fix that but also add a test to protect it as well. Now that we have
test suites for all clients as well as UI, we can get much higher test
coverage and this sort of thing will happen less. Thanks again!

On Wed, Mar 20, 2019, 8:49 AM Slytherin <n

[2019-03-20 13:02] Divy123 commented on #899
Can you tell which kind of error in addSteps, the responsiveness one?

[2019-03-20 13:02] tech4GT commented on #899
Hi jeff, I redid the import-image using another instance of sequencer to load the image. If that’s okay we can merge and publish to npm since the current code is not working on CLI

[2019-03-20 13:03] tech4GT commented on #899
Btw import-image is now working in node.

[2019-03-20 13:05] Divy123 commented on #899
Can you please elaborate on why the CLI part is not working @tech4GT ?
I mean what are the issues?

[2019-03-20 13:06] niravasher commented on #822
So is there anything else that I am supposed to do? Also I am done with the direction setting of linear gradient @HarshKhandeparkar @jywarren

[2019-03-20 13:07] Divy123 commented on #216
Here are the steps I am planning to take with converting webgl-distort to be node compatible:
1). Creating an image with jsdom
2) Creating headless-gl context.
3)Adding Image to the texture.
4)Applying perspective with the given matrices.
5)Converting gl image texture back to dataURI .

I am a bit unsure on #4.
@jywarren @HarshKhandeparkar can you please tell if I am in the right direction?

[2019-03-20 13:18] jywarren commented on #216
That's right! Try just moving a couple corners by a hundred pixels or so,
something simple. The module will accept new x,y coordinates for each of
the four corners.

Sounds great!

On Wed, Mar 20, 2019, 9:07 AM Slytherin <notifications@github.com> wrote:

[2019-03-20 13:42] HarshKhandeparkar commented on #216
Try translation first to test if headless-gl works.

[2019-03-20 13:43] HarshKhandeparkar commented on #216
Try tanslating or rotating using simple matrices first. Even scale is ok

[2019-03-20 13:55] jywarren commented on #899
Awesome can u bump the version number?

The addsteps error is here:
https://github.com/publiclab/image-sequencer/issues/888

Thanks!

On Wed, Mar 20, 2019, 9:05 AM Slytherin <notifications@github.com> wrote:

[2019-03-20 14:13] harshkhandeparkar opened #901 "Coding Conventions in CONTRIBUTING file"
### Please describe the problem (or idea)
We can specify coding conventions like tab size etc. in the CONTRIBUTING.md file. The ui files and other src files especially the info.json files are currently a mess due to different tab sizes. I think the tab size should be 2 to fit the screen properly. Also in js, strings should be put in `'` single quotes since in ui files, the strings which contain ht

[2019-03-20 14:13] HarshKhandeparkar commented on #901
@publiclab/is-reviewers @jywarren @tech4GT

[2019-03-20 14:26] Harshithpabbati opened #902 "Quick buttons are not working."
### Unable to select the modules from quick buttons.

### Please show us where to look
https://beta.sequencer.publiclab.org

[2019-03-20 14:26] Harshithpabbati commented on #902
@jywarren @publiclab/is-reviewers major issue 😅

[2019-03-20 14:29] HarshKhandeparkar commented on #902
I saw it as well

[2019-03-20 14:30] HarshKhandeparkar commented on #902
Oy brightness works. Weird 😕

[2019-03-20 14:31] Harshithpabbati commented on #902
Yeah !!!

[2019-03-20 14:38] jywarren commented on #902
Yes, we found this already but I haven't had time to look into it, it is quite a major issue! Any help appreciated! https://github.com/publiclab/image-sequencer/issues/888

[2019-03-20 14:38] #902 closed

[2019-03-20 14:39] jywarren commented on #902
Thank you!!!

[2019-03-20 17:24] HarshKhandeparkar commented on #842
@teisenhower welcome! Your name has been added :tada:!

[2019-03-20 17:24] HarshKhandeparkar commented on #842
You will have to wait until an fto is created. Thanks.

[2019-03-20 17:26] HarshKhandeparkar commented on #842
In the meanwhile, you can browse other repos.

[2019-03-20 17:27] teisenhower commented on #842
@HarshKhandeparkar **Thank you!**

[2019-03-20 17:30] HarshKhandeparkar opened #903 "WelcomeBot mention is-reviewers"
### Please describe the problem (or idea)

First time contributors who are not publiclab members cannot mention is-reviewers. Only organisation members can. How about adding welcomebot to the organisation and let it mention is-reviewers in the newPRWelcomeComment?

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn ho

[2019-03-20 17:30] HarshKhandeparkar commented on #903
@jywarren @publiclab/is-reviewers

[2019-03-20 17:33] jywarren commented on #903
Sure, do you want to try it out by editing /.github/config.yml ?

On Wed, Mar 20, 2019 at 1:31 PM Harsh Khandeparkar <notifications@github.com>
wrote:

[2019-03-20 17:36] Harshithpabbati commented on #903
Easy way is directly mentioning it in the pr will it work ???

[2019-03-20 17:45] jywarren commented on #903
i think we have to test -- but i believe it'll run from the PR where you
change config.yml, so we can test it before merging!

I can't seem to add welcome [bot] to our team but could be since it's an
app it has privileges already?

On Wed, Mar 20, 2019 at 1:37 PM Harshith pabbati <notifications@github.com>
wrote:

[2019-03-20 17:53] #899 closed

[2019-03-20 17:58] Harshithpabbati commented on #903
I am saying can we add the line publiclab/is-reviewers directly in the pr template so that when we send it we will be called what do you say will it work????

[2019-03-20 18:03] HarshKhandeparkar commented on #903
I don't think it will work since the pr author will still be a first timer.

[2019-03-20 18:18] Harshithpabbati commented on #903
Why was the welcome bot not working here ???

[2019-03-20 18:23] HarshKhandeparkar commented on #903
When was it not working?

[2019-03-20 18:23] ElenaG518 commented on #842
Hello! I am interested in being added to the list of FTO contributors.  Thanks!

[2019-03-20 18:25] Harshithpabbati commented on #903
It's working right then we just need to add a line in config.yml isn't it???

[2019-03-20 18:30] gauravano commented on #842
Hi @ElenaG518, added your name and we'll ping you soon with an FTO. Thanks!

[2019-03-20 18:32] HarshKhandeparkar commented on #903
Yes but we are not sure if it will be able to mention is-reviewers. We can try adding to both the pr template and the config.yml. Can someone do that?

[2019-03-20 18:34] Harshithpabbati commented on #903
Fine i will do it.

[2019-03-20 18:35] Harshithpabbati commented on #903
Let's test it for once.

[2019-03-20 19:22] HarshKhandeparkar commented on #844
@Harshithpabbati please link to this in ur pr 906

[2019-03-20 19:23] HarshKhandeparkar commented on #844
Ok i did that myself.

[2019-03-20 21:21] #888 closed

[2019-03-20 22:19] jywarren commented on #888
Publishing 3.0.1 now! @Divy123 @HarshKhandeparkar @publiclab/is-reviewers @VibhorCodecianGupta @tech4GT - thank you!!!

[2019-03-21 03:19] #861 closed

[2019-03-21 06:27] hodbadger commented on #885
I went through the information in #710 but I didn't find any description of the two methods of the returned object - elem() and elemAll(). Can you help me with that - what do they do?

[2019-03-21 06:40] HarshKhandeparkar commented on #885
elem() is for selecting elements inside the scope, it is just a jquery selector but one which can be chained and elemAll selects all the instances instead of one it. It is like `document.querySelector()` and `document.querySelectorAll()`.
E.g if your scope is a div element with id="container". And you have other divs in it with ids, "1", "2", "3" and all of them have a class of "child". This will

[2019-03-21 08:53] Divy123 commented on #888
Feeling great to be a part of this. :heart:
Thanks a lot @jywarren @tech4GT @HarshKhandeparkar for helping out always .

[2019-03-21 09:51] HarshKhandeparkar commented on #875
Fixed in #897

[2019-03-21 09:51] #875 closed

[2019-03-21 13:20] Divy123 commented on #216
Sure @HarshKhandeparkar .

[2019-03-21 14:16] Harshithpabbati commented on #863
I will do this :+1:

[2019-03-21 16:18] niravasher opened #911 "New multi color rainbow gradients"
### Please describe the problem (or idea)

We can have multi color gradients that is a metamodule of colormap and linear gradient.

### Please show us where to look
 https://sequencer.publiclab.org

https://beta.sequencer.publiclab.org

### What's your PublicLab.org username?

### Browser, version, and operating system
windows 10 with subsystem for ubuntu

****

## Thank you!

Your help makes Publ

[2019-03-21 16:25] niravasher opened #912 "Black and White"
### Please describe the problem (or idea)

We could have a module that can convert colorful images into black and white

### Please show us where to look
https://publiclab.org/image-sequencer

### What's your PublicLab.org username?
niravasher

### Browser, version, and operating system
windows 10 with subsystem for ubuntu

****

## Thank you!

Your help makes Public Lab better! We *deeply* apprec

[2019-03-21 16:26] niravasher commented on #912
Hey, @jywarren @HarshKhandeparkar is there any module which already does this? If yes please close the issue.

[2019-03-21 16:32] HarshKhandeparkar commented on #912
Nirav do you mean greyscale images? If yes, colormap already does that.

[2019-03-21 16:33] HarshKhandeparkar commented on #912
We also have a pure black and white module, threshold. So shall this be closed?

[2019-03-21 16:35] subhahu123 opened #913 "cursor should change into pointer"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before.**

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-03-21 16:42] subhahu123 commented on #913
@jywarren  @Harshithpabbati  @HarshKhandeparkar  @publiclab/reviewers
please review

[2019-03-21 16:45] HarshKhandeparkar commented on #913
We are going to change the cache link to a button. You can exclude that gif.

[2019-03-21 16:47] Harshithpabbati commented on #913
What is the problem in save button ???

[2019-03-21 16:56] subhahu123 commented on #913
not save button it''s `save as png` dropdown
@Harshithpabbati

[2019-03-21 16:57] Harshithpabbati commented on #913
Ok!!!

[2019-03-21 17:01] subhahu123 commented on #913
@Harshithpabbati @HarshKhandeparkar  add first-timers-only label

[2019-03-21 17:02] Harshithpabbati commented on #913
Make it into first timers issue format @subhahu123

[2019-03-21 17:03] subhahu123 commented on #913
What format ????

[2019-03-21 17:14] Harshithpabbati commented on #913
Check this for sample.
https://github.com/publiclab/image-sequencer/issues/898
You should even add the code for first timers issues.

[2019-03-21 17:16] #912 closed

[2019-03-21 17:17] Harshithpabbati commented on #856
@jywarren can you explain me what to do ???

[2019-03-21 18:38] HarshKhandeparkar commented on #913
@subhahu123 you will have to include the diff and the step by step process etc.

[2019-03-21 19:49] niravasher commented on #806
Hey, I was working since yesterday. This is what I have made till now
![Screenshot (47)](https://user-images.githubusercontent.com/32176296/54780621-3d34d000-4c40-11e9-8376-5513258fa842.png)
Now I am trying to add shadow on the top portion of the image. Is this relevant? @jywarren @HarshKhandeparkar

[2019-03-21 20:16] HarshKhandeparkar commented on #806
Ya good going. Improvements can be made(if reqd) once the scaffolding is done.

[2019-03-21 20:35] HarshKhandeparkar commented on #911
@niravasher do you want to work on this?

[2019-03-21 20:50] #863 closed

[2019-03-21 20:55] Divy123 commented on #400
@jywarren one thing that if we want to convert PixelManipulation.js files and the pixel processing in modules as well.
Do we have something other as well ?
I mean can you please explain a bit more on the applicable areas of our code base here where we want to use wasm

[2019-03-21 20:58] niravasher commented on #806
What all options should we give to the user in this module?
I mean shadow in the top , left , right , bottom or two sided shadow, three sided shadow, all sided shadow?
As in what should I add in info.json file @HarshKhandeparkar

[2019-03-21 20:59] HarshKhandeparkar commented on #806
Maybe the same as CSS shadows use?

[2019-03-21 21:08] niravasher commented on #806
CSS shadows also give blur effect. That is a bit difficult but will try to do that (maybe i have to change the alpha value of the gradient). So there will be an option for three inputs separated by a space @HarshKhandeparkar

[2019-03-21 21:11] HarshKhandeparkar commented on #806
You can implement blur in a follow up pr.

[2019-03-21 21:12] niravasher commented on #806
Ok, roger that. Also how do we add color to the shadow? @HarshKhandeparkar

[2019-03-21 21:14] HarshKhandeparkar commented on #806
Is it of any use?

[2019-03-21 21:15] niravasher commented on #806
CSS has the option, maybe its not of any use. So it will be just a two input space separated option

[2019-03-21 21:16] HarshKhandeparkar commented on #806
You can add some color let's say #RRGGBB, then you can decrease each of the channels proportionally.

[2019-03-21 21:18] HarshKhandeparkar commented on #806
It will be a string with space separted decimal values for each channel.

[2019-03-21 21:19] niravasher commented on #806
I don't think a normal person who is not a developer and just wants a shadow would know what is a hexcode

[2019-03-21 21:21] HarshKhandeparkar commented on #806
Ya you can use hex but other modules use decimal. Also we use decimal values for channels in PixelManipulation so parsing hex into decimal will be difficult.

[2019-03-21 21:27] niravasher commented on #806
Ok for now I am keeping only two inputs, will change anything in the follow up PR. Is that Ok?

[2019-03-21 21:29] HarshKhandeparkar commented on #806
:+1:

[2019-03-21 22:30] Mridul97 commented on #707
Hi @jywarren, In this color differentiation, we will accept parameters for two rectangular regions to sample from and then average the color values and display the difference in color. I have few questions. We will select the two rectangular regions from the same image or two different ones? and will this be made as a new module?

[2019-03-21 22:51] #793 closed

[2019-03-21 23:12] shapironick commented on #707
just in an all-to-quick response to jeff's post on Jan 25. I would recommend a calibration patch on each colorimetric test, that helps adjust for lighting conditions and angle etc. for example over in https://github.com/publiclab/SmART-Form we have

* Calibration patch correction
	 * @param bitmap
	 * @return
	 */
	private double getRatio(Bitmap bitmap) {
		Bitmap ref, act;
		double ratio = 0;
		i

[2019-03-22 02:59] jywarren commented on #707
I actually think this project may involve using multiple sequencers, or
otherwise using IS as a utility in the final solution, rather than the
while functionality being a module within IS, does that make sense? Kind of
like how Leaflet.Multispectral uses IS within it.

On Thu, Mar 21, 2019, 7:12 PM Nick Shapiro <notifications@github.com> wrote:

[2019-03-22 03:00] jywarren commented on #707
So like this is something we could build using IS!

On Thu, Mar 21, 2019, 10:59 PM Jeffrey Warren <jeff@unterbahn.com> wrote:

[2019-03-22 07:02] hodbadger commented on #885
Yes, thanks :)

[2019-03-22 09:34] hodbadger commented on #885
I've just created a pull request. Is there anything else I have to do?

[2019-03-22 09:53] kaunair commented on #883
Hey everyone! I'm hoping to get a little more active on publiclab from this week!
I have been getting my hands dirty on a bit of CI lately, also configured coveralls for mapknitter :smile:
My aims for this week:
* Improve test coverage for mapknitter
* Try to set up dangerbot
* Finish my gsoc proposal

Have fun everyone!

[2019-03-22 11:07] HarshKhandeparkar commented on #885
Nope. The PR will be reviewed soon.

[2019-03-22 11:26] HarshKhandeparkar commented on #833
@jywarren docs pr done #916.

[2019-03-22 11:52] HarshKhandeparkar commented on #806
I think when x+25 is not inside the image. I.e. greater then the width of the image and lies outside of it, it throws an error and doesn't work.

[2019-03-22 12:27] niravasher commented on #806
Doesn't throw any erro in the console @HarshKhandeparkar

[2019-03-22 12:58] HarshKhandeparkar commented on #806
Any screenshots of what it does? Secondly have you built the dist and cleared the cache?

[2019-03-22 13:29] edwd42 commented on #842
Hi, please add me to the FTO list above.  I just started learning Ruby on Rails, but my others are MERN stack, Python, Java, MySQL

[2019-03-22 13:38] HarshKhandeparkar commented on #842
@edwd42 are you good with JavaScript? If yes, i will add your name here. If you sre learning ruby on rails, go and get your name added to the list here https://github.com/publiclab/plots2/issues/4963. This is our most famous repository, it is a runy on rails project.

[2019-03-22 13:40] HarshKhandeparkar commented on #842
Oh ok, you know MERN stack which means you should know JS. Adding your name here.

[2019-03-22 13:43] edwd42 commented on #842
Thanks @HarshKhandepakar!  JS is fine, but was hoping to get some issue for Ruby on Rails.

[2019-03-22 13:46] edwd42 commented on #842
I see @HarshKhandepakar I am now on two lists - this one above, and publiclab/plots2#4963.  Prefer #4963 if that's more for ruby on rails.

[2019-03-22 14:26] Harshithpabbati opened #918 "Problem with add step button"
### Add step button looks like this when we add the new step between the two steps

![button](https://user-images.githubusercontent.com/43822585/54829422-62771c00-4cdc-11e9-8373-0937b26b04a1.png)

### Please show us where to look

https://beta.sequencer.publiclab.org

### Browser, version, and operating system
 Chrome(latest version) ,Linux
## Thank you!

Your help makes Public Lab better! We *dee

[2019-03-22 14:29] HarshKhandeparkar commented on #842
Hello and welcome!
You can solve both if you want.
1. It's HarshKhandeparkar you forgot to put an 'r' in 'parkar' at the end.
2. This is a js and html/css lib, no ruby on rails.
3. Plots2 is a ruby on rails lib with some CSS/HTML/JS for normal DOM behavior but the backend is ruby on rails.
4. You can contribute to both or add your names in both the lists. No problem. I can also remove your name fr

[2019-03-22 14:31] Harshithpabbati opened #919 "Selectize isn't working on "insert step""
### When we append new step between the two steps then the selectize step is not working to select the modules.
![button](https://user-images.githubusercontent.com/43822585/54829741-11b3f300-4cdd-11e9-9390-f71ac302be3e.png)

### Please show us where to look

https://beta.sequencer.publiclab.org

### Browser, version, and operating system
Chrome(latest version) and Linux

## Thank you!

Your help m

[2019-03-22 14:36] HarshKhandeparkar commented on #919
Actually this and #918 are related. I think the selectize box is rendered inside the addStep button.

[2019-03-22 14:38] Harshithpabbati commented on #919
May be lets check it.

[2019-03-22 16:35] edwd42 commented on #842
Hi @HarshKhandeparkar  Thanks for the welcoming.  I greatly appreciate your help.  First, sorry about the spelling error.  I am happy to work and contribute on both.  JS is my first language, and Ruby on Rails is a new project I'm starting.
So, yea, waiting for my first issue.
Thanks and have a great day!

[2019-03-22 18:26] rmcorre commented on #842
Hi HarshKhandeparkar,
Please add me to the FTO list.
Thanks

[2019-03-22 18:37] niravasher commented on #806
This is not doing anything. Yes I built the dist and cleared the cache @HarshKhandeparkar

[2019-03-22 18:45] jywarren commented on #806
Hi, all - couple notes here - we have an improvement issue for "color
selection input" so that will simplify color selection (but we can do it
later). Second, are you increasing the canvas size? Because I
believe @tech4gt will be wanting such a step too for unrelated reasons, and
perhaps we should share code on that!

This is looking good -- perhaps for the time being you could test it with
an ima

[2019-03-22 19:15] jywarren opened #920 "Add Coveralls test coverage tracking"
This could be instead of #230 which we didn't get working...

https://docs.coveralls.io/javascript

I've added the REPO_TOKEN to Travis already! This would be great to help track how thorough our tests are. Any help appreciated!

[2019-03-22 19:20] niravasher commented on #806
I am going for resize now. Will do that later. Right now I am moving the image to the right so that it does not get cropped when the gradient is applied

[2019-03-22 19:28] jywarren commented on #883
@kaunair special thanks for that Coveralls issue!!!!

[2019-03-22 20:04] gauravano commented on #842
Hi @rmcorre, added your name to the above list. Thanks!

[2019-03-22 21:05] Divy123 commented on #400
@jywarren just one thing that if you can suggest apart from PixelManipulation.js what are some other areas that we can apply wasm to include in our code base like can we add to different modules as well?
Thanks!!

[2019-03-22 21:34] jywarren opened #922 "Offer warning before generating preview "quick-add steps" on very large images"
Uploading a big image (actually like any image from a smartphone camera 😂 📸 🤳 ) stalls out the sequencer because of the preview images. A few ideas:

1. we could not generate previews for the small steps if the image size is over a certain threshold, instead showing a message `Generating previews for images this large may take a while. _Do it anyways_?` so it can be overridden...
2. do we generate

[2019-03-22 22:07] jywarren commented on #400
Hi! Well, my thought was that PixelManipulation is used a LOT so if we
improve that, we'll see improvements across a lot of our codebase. And we
can start there to get a big improvement in one step, and then follow up to
see where else we could apply this. Many modules use PixelManipulation in
the same way, so it's a great leverage point to make a wide-ranging
optimization.

On Fri, Mar 22, 2019 a

[2019-03-23 08:19] niravasher commented on #806
I made a new js file inside the folder _nomodule. I can now translate the image any number of pixels in any direction and it won't be cut.
![Screenshot (50)](https://user-images.githubusercontent.com/32176296/54863738-56d63480-4d72-11e9-8b11-a4592c6e51f9.png)

The next step is, I am applying the gradient and opening a PR today itself.
After that will work on resizing the canvas @jywarren @HarshKha

[2019-03-23 08:27] HarshKhandeparkar commented on #806
:+1: what is that file called? Can the same func be added to PixelManipulation? Like a function translatePix(x, y) just like others like getNeighboutPixel, extraManipulation, changePixel? Or alternatively, you can require that file in PixelManipulation and let PixelManipulation return the func. If you have already done this then it's ok.

[2019-03-23 08:31] niravasher commented on #806
I am trying to add it to pixelManipulation

[2019-03-23 08:41] niravasher commented on #806
Yay! Pixel manipulation is modified, we have a shadow 😄
![Screenshot (51)](https://user-images.githubusercontent.com/32176296/54863962-70c54680-4d75-11e9-8b53-3b30516367c1.png)
@HarshKhandeparkar

[2019-03-23 08:55] HarshKhandeparkar commented on #806
Wow! Can the shadow be oy added in the top and left sides or anywhere? (I mean can the function oy translate the img in +ve directions or also -ve)?

[2019-03-23 09:33] niravasher commented on #806
I can translate the image in any direction and also can add the gradient in any direction. Shadow can be one sided or two sided but can't be three sided or four sided. @HarshKhandeparkar

[2019-03-23 09:40] rohithGoudM commented on #913
Can I take this up..?

[2019-03-23 09:55] subhahu123 commented on #913
go ahead

[2019-03-23 09:55] HarshKhandeparkar commented on #913
Sure!

[2019-03-23 09:55] HarshKhandeparkar commented on #806
Ok great!

[2019-03-23 10:41] rohithGoudM commented on #913
What shall I do now...?

[2019-03-23 10:44] HarshKhandeparkar commented on #913
I have reviewed your pr. the other reviewers will also review it soon.

[2019-03-23 10:51] subhahu123 commented on #656
@jywarren  @gauravano  can i be a  reviewer ? ( A member of publiclab/is-reviewers)

[2019-03-23 10:56] HarshKhandeparkar commented on #656
@subhahu123 I have deleted your comments in the other pr.

[2019-03-23 11:09] subhahu123 opened #924 "A small bug in UI"
### Please describe the problem (or idea)

![download (1)](https://user-images.githubusercontent.com/34541684/54865398-218a1080-4d8b-11e9-806d-5422e351ec6b.png)

[2019-03-23 11:13] subhahu123 commented on #924
@Harshithpabbati  @HarshKhandeparkar  @publiclab/is-reviewers  please review

[2019-03-23 11:19] HarshKhandeparkar commented on #924
Oh good. I was going to open an issue but didn't get time.

[2019-03-23 11:39] HarshKhandeparkar commented on #924
@rohithGoudM do you want to solve this issue?

[2019-03-23 11:40] subhahu123 opened #925 "Defer unused CSS"
### Please describe the problem (or idea)
Reference : https://github.com/publiclab/image-sequencer/issues/837

![download (2)](https://user-images.githubusercontent.com/34541684/54865647-8c891680-4d8e-11e9-96c4-53f0538278d9.png)

[2019-03-23 11:41] subhahu123 commented on #925
@Harshithpabbati  @HarshKhandeparkar  @publiclab/is-reviewers  please review this

[2019-03-23 11:43] HarshKhandeparkar commented on #925
Which stylesheets are unused?

[2019-03-23 11:44] subhahu123 commented on #925
not stylesheet but some css which are includes in files but not useful
i mean they are no implemented on html only taking up space in file
@HarshKhandeparkar

[2019-03-23 11:45] subhahu123 commented on #925
we should not remove anything from bootstrap but those css files which are written by us not any library we can remove unused style or tags from them
@HarshKhandeparkar

[2019-03-23 11:46] HarshKhandeparkar commented on #925
Hmm. We cannot edit bootstrap dist. Is there any unused css in demo.css?

[2019-03-23 11:46] subhahu123 commented on #925
we can check that using chrome developer tools or by using online websites

[2019-03-23 11:48] rohithGoudM commented on #924
Yes,
I'm working on it

[2019-03-23 12:05] subhahu123 opened #926 "[Discussion] Create a plugin or extension of image-squencer"
### Please describe the problem (or idea)

create a extensions and plugin which directly apply changes to webpages also
for example now we upload image and then change it what if webpages we surf we dont have to download them but we can directly apply changes to them using the extension like adding css to their style sheet so that their appearace changes according to them
for example we take a scr

[2019-03-23 12:07] HarshKhandeparkar commented on #926
@subhahu123 please review pr #906. Sorry for discussing this here.

[2019-03-23 12:07] subhahu123 commented on #926
ok

[2019-03-23 12:08] subhahu123 commented on #926
@Harshithpabbati  @HarshKhandeparkar  @publiclab/is-reviewers
please review this

[2019-03-23 12:08] HarshKhandeparkar commented on #926
I gave the wrong link. It's #908

[2019-03-23 12:17] subhahu123 commented on #926
@HarshKhandeparkar  what do u think about this .

[2019-03-23 12:18] HarshKhandeparkar commented on #926
I didn't quite understand what you mean to say. Could you please elaborate or give an example?

[2019-03-23 12:24] subhahu123 commented on #926
@HarshKhandeparkar  i changed the issue description
please have a view on it

[2019-03-23 13:11] HarshKhandeparkar commented on #926
This is a complicated issue. Is there any good usecase for this? Also, how difficult would it be to make such a thing?

[2019-03-23 15:14] subhahu123 commented on #926
ok i m closing this
@HarshKhandeparkar

[2019-03-23 15:15] HarshKhandeparkar commented on #926
Why are you closing it?

[2019-03-23 15:15] HarshKhandeparkar commented on #926
I was just asking questions. I didn't say that the issue wasn't good.

[2019-03-23 15:17] subhahu123 commented on #926
ok

[2019-03-23 15:23] subhahu123 opened #928 "Add codecov.yml for tests coverage"
### Please describe the problem (or idea)

site: https://codecov.io/

[2019-03-23 15:24] HarshKhandeparkar commented on #928
Check out #920

[2019-03-23 15:31] subhahu123 commented on #928
i know but they both are different This does not require any token only install its package and run it for generating report

[2019-03-23 15:32] HarshKhandeparkar commented on #928
So which one should be kept? Is there any need for keeping both?

[2019-03-23 15:38] subhahu123 commented on #928
i know only about codecov and it's very good

[2019-03-23 18:09] gauravano commented on #656
Hi @subahu123, I can't see your issues and PRs from https://github.com/publiclab/image-sequencer/issues/. Could you please list them below? Thanks!

[2019-03-23 20:47] rmcorre commented on #837
Hello,
I'm a first-timer and was just browsing some of your issues. Don't know if it's appropriate to add comments but I may have a solution that I use with webpack for defering and purifying css. I've found similar modules on NPM for grunt usage but haven't worked with grunt before. These plugins don't modify your original files. They ouput new files to your dist folder. I've tested them on some

[2019-03-23 21:54] gauravano commented on #883
Anyone interested in opening check-in for next week? Let's open this time in mapknitter. Thanks!

[2019-03-23 21:55] CoderJolly commented on #883
Yup !!

[2019-03-23 21:58] gauravano commented on #883
@CoderJolly please open check-in at mapknitter and you can refer https://github.com/publiclab/plots2/blob/master/doc/CHECKINS.md for details. Thanks!

[2019-03-23 21:59] CoderJolly commented on #883
Sunday evening would be good ?

[2019-03-23 22:00] gauravano commented on #883
Yes!

[2019-03-23 22:38] niravasher commented on #806
I am stuck here. I have to call changePosition function every time when I press apply button, this is only possible when I keep the function inside draw function. So I removed it from pixelManipulation and took it in Module.js. Here I declared an array called pixelArray. All the channels of all pixels are stored in this array. Now I do pixels.set(x-firstValue, y-secondValue, channel, pixelArray[i]

[2019-03-23 23:18] niravasher commented on #911
No I am working on shadow module. @Harshithpabbati , you want to work on this?

[2019-03-24 05:24] Harshithpabbati opened #933 "X and Y inputs in Resize module."
### We can have X and Y inputs to resize in perfect way.

### Please show us where to look

https://beta.sequencer.publiclab.org

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they'll be resolved, see:

https://publiclab.org/wiki/developers#Contributing+for+

[2019-03-24 05:24] Harshithpabbati commented on #933
@jywarren @publiclab/is-reviewers I would like to work on this.

[2019-03-24 05:32] HarshKhandeparkar commented on #933
There is an open issue and an open pr for this.

[2019-03-24 05:33] HarshKhandeparkar commented on #933
Pr #571 issue #464

[2019-03-24 05:36] HarshKhandeparkar commented on #806
PixelManipulation does run each time you press the apply button. You just put PixelManipulation inside draw.

[2019-03-24 05:39] HarshKhandeparkar commented on #837
Hello @rmcorre of course you can comment. Everybody can participate in a discussion. This is how a community grows.

For the CSS, there is a separate issue open for it #925 for deferring unused css and #860 for minifying css. I am already working on minifying css. I also have an open pr for it but the pr also does other things. Thank you!

[2019-03-24 06:53] #933 closed

[2019-03-24 07:00] tech4GT commented on #400
Yes, this is absolutely true, the heavy lifting is done by pixelManipulation for almost all modules, so that should give us a significant boost in performance!

[2019-03-24 07:32] HarshKhandeparkar commented on #400
What abt gpu.js which I am trying to implement for PixelManipulation? It will also work in node and will process the pixels on gpu. Can that also be compiled to wasm? It uses a node library headless-gl(will use in the future). Currently it uses the canvas api.

[2019-03-24 07:37] Divy123 commented on #400
Hi Harsh!
Can you explain a bit of your work here with gpu.js?

[2019-03-24 07:48] HarshKhandeparkar commented on #400
You can have a look at issue #849. Essentially it will manipulate all the pixels at the same time in parallel on a gpu.

[2019-03-24 13:08] Divy123 commented on #216
@jywarren @tech4GT  @HarshKhandeparkar some help required :
while uploading image-data to a texture in gl, it gives me this TypeError:
`TypeError: texImage2D(GLenum, GLint, GLenum, GLint, GLenum, GLenum, ImageData | HTMLImageElement | HTMLCanvasElement | HTMLVideoElement)`

This is my line of code:
`  gl.texImage2D(gl.TEXTURE_2D, 0, gl.RGBA, gl.RGBA, gl.UNSIGNED_BYTE, new Uint8Array(pixels.data));

[2019-03-24 13:49] jywarren commented on #400
I think we can pursue gl acceleration in a parallel track and use our new
benchmarks to compare!

On Sun, Mar 24, 2019, 3:49 AM Harsh Khandeparkar <notifications@github.com>
wrote:

[2019-03-24 13:49] jywarren commented on #933
But we'd love help on that issue, thanks!!!

On Sun, Mar 24, 2019, 2:54 AM Harshith pabbati <notifications@github.com>
wrote:

[2019-03-24 13:51] Harshithpabbati commented on #933
Adding X and Y options that's it right ???

[2019-03-24 13:54] jywarren commented on #933
Yes, adding a new type of input that let's the user select x and y by
clicking!

On Sun, Mar 24, 2019, 9:51 AM Harshith pabbati <notifications@github.com>
wrote:

[2019-03-24 13:55] Divy123 commented on #216
`const jsdom = require("jsdom");
const { JSDOM } = jsdom;
const { document } = (new JSDOM(`...`)).window;

const image = document.createElement('img');
image.crossOrigin = "anonymous";
image.src = 'https://i.imgur.com/tERJabA.png';
image.onload = function () {

  var width = 64
  var height = 64
  var gl = require('gl')(width, height, { preserveDrawingBuffer: true })
  // const canvas = document.c

[2019-03-24 14:13] Divy123 commented on #216
@HarshKhandeparkar

[2019-03-24 14:24] HarshKhandeparkar commented on #216
That is a  lot to digest. I will answer in a few hrs. I am busy. Sorry.

[2019-03-24 14:26] Divy123 commented on #216
No issues .
Thanks

[2019-03-24 16:05] jywarren opened #937 "Fixing "blend" module and adding test"
I tried using the Blend module and had trouble adding a custom function, so I wrote a test, but didn't quite finish it. Would anyone like to pick this up? I think the Blend module has a lot of promise for use in meta modules (now that those are working really well) and want to resuscitate it!

Any help appreciated!

[2019-03-24 16:05] jywarren commented on #937
For reference I started here, and documented what i did: https://github.com/publiclab/image-sequencer/pull/935

[2019-03-24 16:41] Harshithpabbati commented on #933
So in a simple way cropping it and then resizing the image isn't it.

[2019-03-24 18:17] CoderJolly commented on #883
Any theme ?

[2019-03-24 18:44] HarshKhandeparkar commented on #883
New check-in https://github.com/publiclab/mapknitter/issues/447

[2019-03-24 18:47] #883 closed

[2019-03-24 20:22] HarshKhandeparkar opened #938 "Upgrade to bootstrap 4"
### Please describe the problem (or idea)
We currently use bootstrap 3.7. Bootstrap 4 has some significant improvements/changes. Let's upgrade to v4.

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they'll be resolved, see:

https://publiclab.org/wiki/d

[2019-03-25 14:11] #924 closed

[2019-03-25 14:11] #613 closed

[2019-03-25 14:24] jywarren commented on #938
big change! But yeah, we can -- our HTML is relatively minimal. +1 after we
get the Bootstrap pane UI merged!

On Sun, Mar 24, 2019 at 4:23 PM Harsh Khandeparkar <notifications@github.com>
wrote:

[2019-03-25 18:15] Divy123 commented on #216
But I am pretty unsure about how to fetch the results out of it.
There we do have canvas in webGL but here I don't know.
@jywarren please help in this.

const jsdom = require("jsdom");
const { JSDOM } = jsdom;
const { document } = (new JSDOM(`...`)).window;

const image = document.createElement('img');
image.crossOrigin = "anonymous";
image.src = './examples/example-1024.jpg';
image.onload = funct

[2019-03-25 18:18] jywarren commented on #216
Hmm, is there a gl.toDataURL method?

canvas.toDataURL('image/png')

https://github.com/jywarren/webgl-distort/blob/f8a86cb7c60b25a1728ffb532c8ec2db116821f7/dist/webgl-distort.js#L3-L28

On Mon, Mar 25, 2019 at 2:15 PM Slytherin <notifications@github.com> wrote:

[2019-03-25 18:18] HarshKhandeparkar commented on #216
I think there is a `canvas.toDataUri()` method. @Divy123

[2019-03-25 18:20] HarshKhandeparkar commented on #216
Oh we both answered together. Ok I googled it. My answer is wrong. It is toDataURL()

[2019-03-25 18:20] Divy123 commented on #216
there is one on canvas but here there is no such method available.

[2019-03-25 18:21] jywarren commented on #216
:-))))))

On Mon, Mar 25, 2019 at 2:19 PM Harsh Khandeparkar <notifications@github.com>
wrote:

[2019-03-25 18:21] HarshKhandeparkar commented on #216
Are you sure? Did you try it out?

[2019-03-25 18:23] Divy123 commented on #216
yes

[2019-03-25 18:26] HarshKhandeparkar commented on #216
The docs for headless-gl say that it returns a `WebGLRenderingContext` object. [Here](https://developer.mozilla.org/en-US/docs/Web/API/WebGLRenderingContext) is a link to MDN docs about `WebGLRenderingContext`

[2019-03-25 18:29] Divy123 commented on #216
But I console.logged this and didn't get anything.

On Mon 25 Mar, 2019, 11:56 PM Harsh Khandeparkar <notifications@github.com
wrote:

[2019-03-25 18:30] HarshKhandeparkar commented on #216
Try doing
[code]

[2019-03-25 18:30] Divy123 commented on #216
ok wait!!

[2019-03-25 18:33] Divy123 commented on #216
![Uploading ss.png…]()

[2019-03-25 18:35] Divy123 commented on #216
Still undefined @HarshKhandeparkar

[2019-03-25 18:37] HarshKhandeparkar commented on #216
Even I 'm not sure now. Try searching for some other suitable method in the MDN docs link i just gave you. Maybe `get-pixels` accepts a buffer as an input? I'm not sure..

[2019-03-25 18:40] Divy123 commented on #216
I am a bit unsure about how to get the changed pixels out of the gl format like you can see the code above here.
Like there we have the context from canvas but here we directly do have gl. @HarshKhandeparkar
@jywarren Is there a way even in webGL that I can have the changed texture data as per the transformations without using canvas.

[2019-03-25 18:45] jywarren commented on #216
Actually webgl is a variant of 2d canvas, so it always has a canvas
context. Let me look a sec..

On Mon, Mar 25, 2019, 2:40 PM Slytherin <notifications@github.com> wrote:

[2019-03-25 18:46] jywarren commented on #216
Ah, readpixels- see the example?

https://github.com/stackgl/headless-gl#example

On Mon, Mar 25, 2019, 2:44 PM Jeffrey Warren <jeff@unterbahn.com> wrote:

[2019-03-25 18:46] HarshKhandeparkar commented on #216
So let me ask a few questions:
1. Are all of the pixels saved to a texture?
2. Do you specifically save them to a texture or are they required from the RAM on the go?
3. If you do save the data to a texture, there are some methods(i think) which return a buffer from the texture. I think you will have to explore the MDN docs.
4. In normal GLSL(the shader language), what you do is save the data to a

[2019-03-25 18:47] jywarren commented on #216
Also is it possible you need to use extra config on your node call like
shown here, for it to work?

https://github.com/stackgl/headless-gl#how-can-headless-gl-be-used-on-a-headless-linux-machine

On Mon, Mar 25, 2019, 2:45 PM Jeffrey Warren <jeff@unterbahn.com> wrote:

[2019-03-25 18:55] HarshKhandeparkar commented on #216
The links you provided don't seem to be working. @jywarren

[2019-03-25 19:04] jywarren commented on #216
Oh really? i just tried, them can you try again? It also looks like they're recommending get-pixels, but not sure if that's after an image has been exported. But these links show some examples for fetching per-pixel data!

[2019-03-25 19:20] HarshKhandeparkar commented on #216
No luck. It just opens the repo homepage i guess but not the readme. Both of them. Maybe it is because I use my phone? You may never know, github breaks in a different way every new day.

[2019-03-25 19:24] Divy123 commented on #216
Well I saw how to get data out of texture but no success till now! Still exploring.
Please do help if you find something @HarshKhandeparkar @jywarren .

[2019-03-25 19:37] jywarren commented on #216
Ah yes, on mobile view it doesn't open the full readme. But skim down the
readme, it's quite informative!

On Mon, Mar 25, 2019 at 3:24 PM Slytherin <notifications@github.com> wrote:

[2019-03-25 19:39] HarshKhandeparkar commented on #216
Ok.

[2019-03-25 19:45] HarshKhandeparkar commented on #216
O don't know what this does but it is included in the readme. Is it helpful?
[code]

[2019-03-25 19:47] Divy123 commented on #216
I have looked into this but the main issue how to get the data out of texture.

[2019-03-25 19:48] HarshKhandeparkar commented on #216
What does the code i posted above do?

[2019-03-25 19:53] HarshKhandeparkar commented on #216
There is a [getImageData()](https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/getImageData) method but it is a method of CanvasRenderingext2D object.

[2019-03-25 19:57] Divy123 commented on #216
Its writing image  or pixles data as a PPM formatted image.

[2019-03-25 19:58] Divy123 commented on #216
Again with canvas.

[2019-03-25 19:58] #431 closed

[2019-03-25 21:14] jywarren opened #944 "Add blur radius"
It'd be great to be able to set a "radius" for the blur, to make it much blurrier!

https://sequencer.publiclab.org/examples/#steps=threshold{input:100},blur{blur:20}

Love help with this!

[2019-03-25 21:18] jywarren commented on #806
Hi @niravasher can you share a PR? are you using the blur module to generate the shadow?

This is looking good, but I was thinking we really could make a metamodule if we debug the other modules to follow a path like this:

https://sequencer.publiclab.org/examples/#steps=threshold{},blur{},overlay{offset:-4}

See, here, we:

1. threshold the image to make a black and white version
2. then we blur

[2019-03-26 07:34] Harshithpabbati commented on #938
I will do this :smile:

[2019-03-26 07:49] Harshithpabbati commented on #938
Should I do it or leave to some new comers they may do it ???

[2019-03-26 08:11] HarshKhandeparkar commented on #938
I think you should do this as this is a relatively difficult task. What do you say?

[2019-03-26 08:12] Harshithpabbati commented on #938
Ok fine then I will do this!!

[2019-03-26 11:51] HarshKhandeparkar commented on #216
`WebGLRenderingContext` object has a [`canvas`](https://developer.mozilla.org/en-US/docs/Web/API/WebGLRenderingContext/canvas) property which will either return a [`offscreenCanvas`](https://developer.mozilla.org/en-US/docs/Web/API/OffscreenCanvas) element or `null`. Try this out.

[2019-03-26 13:21] ananya commented on #938
Can I work on this?

[2019-03-26 13:23] Harshithpabbati commented on #938
Fine then you can.

[2019-03-26 13:25] Harshithpabbati commented on #938
But you need to wait for some time. Let the panel be merged and then you can start your work !!!

[2019-03-26 13:27] ananya commented on #938
Thank you :smiley: Let me know once I can start working

[2019-03-26 13:44] aashna27 opened #945 "Div Overflowing bug"
### The select module div overflows over the "Add Step" button.

Firefox
![image](https://user-images.githubusercontent.com/26546120/55001638-10dfd180-4ffb-11e9-8439-4b72f4fab54c.png)

I ll solve this, but right now I don't have time , I ll do this after 29th March.

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to

[2019-03-26 15:35] Harshithpabbati opened #946 "Preview gif button overflow."
### Preview GIF overflow.
![savebtn](https://user-images.githubusercontent.com/43822585/55010680-9d45c080-500a-11e9-843b-e688ee805115.png)

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they'll be resolved, see:

https://publiclab.org/wiki/developers#C

[2019-03-26 16:42] tech4GT commented on #216
https://github.com/GoogleChrome/puppeteer/issues/1260
This solves an issue I was earlier facing with the puppeteer implementation, Just adding it here since it may be useful!

[2019-03-26 18:40] Divy123 commented on #945
@aashna27 this issue is already being discussed in
https://github.com/publiclab/image-sequencer/pull/909.

[2019-03-26 18:42] HarshKhandeparkar commented on #945
#909 doesn't fix it. Doesn't work

[2019-03-26 19:01] Divy123 commented on #945
Yup but I think this being a first timer issue can be made avaialable for first timers.

[2019-03-26 19:08] HarshKhandeparkar commented on #945
So what should be done?

[2019-03-26 19:08] HarshKhandeparkar commented on #945
Duplicate of #894

[2019-03-26 19:13] Divy123 commented on #945
I think this can be closed here.
Ask the person who has sent the PR there if he/she wants to continue.
If we don't get a reply within 2&3 days we can reassign it.

[2019-03-26 19:15] #945 closed

[2019-03-26 19:29] Divy123 commented on #753
@jywarren want to draw your attention upon this.
Also I would like to suggest that to increase the reach of the project and to have a better community experience, we can translate the documentaion to various languages.
This can be a community based issue and can be carried out across all of our projects.
Cc: @gauravano @tech4GT @SidharthBansal @HarshKhandeparkar

[2019-03-26 19:32] HarshKhandeparkar opened #948 "Demo site doesn't work"
### Please describe the problem (or idea)
The current beta demo site doesn't work.

![Screenshot_20190327-005856](https://user-images.githubusercontent.com/34770591/55027688-c7dd4c80-4ffd-11e9-818c-2b01f920837d.jpg)

It is stuck in this state.

### Please show us where to look

https://beta.sequencer.publiclab.org

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helpi

[2019-03-26 19:34] HarshKhandeparkar commented on #948
@publiclab/is-reviewers I think there is an error in the console but I cannot see that on my phone. Can someone post a screenshot of the error?

[2019-03-26 19:36] HarshKhandeparkar commented on #753
How can the docs be translated? Secondly, the code itself is in English, I mean we can translate the docs or the demo site but the docs have code examples, what about those?

[2019-03-26 19:37] Harshithpabbati commented on #948
When I tried to update the demo site then I got a message that github can have a max of 50 mb files but only the node modules files are about 70mb may be that was the error I guess.

[2019-03-26 19:37] Harshithpabbati commented on #948
But the push was done successfully.

[2019-03-26 19:39] HarshKhandeparkar commented on #948
Oh, that might be the issue. But why are the node_modules so big?

[2019-03-26 19:40] Harshithpabbati commented on #948
I don't know 🤔

[2019-03-26 19:40] HarshKhandeparkar commented on #948
Ok i will open a pr to update-is to only push reqd node Modules

[2019-03-26 20:07] #948 closed

[2019-03-26 20:07] HarshKhandeparkar commented on #948
The problem was that the dist has to be force pushed but it wasn't. It will be fixed in https://github.com/Harshithpabbati/Update-is/issues/5

[2019-03-26 20:14] Divy123 commented on #753
So we can have a different repo for this which can have docs for all the projects.
And about the code part they will remain as it is i.e. in the programing langauge they are in.
Though I think the comments can be translated.
Like React are also doing these days:
https://github.com/reactjs

[2019-03-26 20:19] HarshKhandeparkar commented on #753
Ok that is a great idea!

[2019-03-26 20:20] Harshithpabbati commented on #948
Done !!! Now it's working.

[2019-03-26 22:10] jywarren commented on #753
Whoa, this is a very cool idea! Wow, can you point at their repository
where they've posted such translated comments so we can browse how they're
structured?

Thank you for a great suggestion!!!

On Tue, Mar 26, 2019 at 3:30 PM Slytherin <notifications@github.com> wrote:

[2019-03-26 22:33] #898 closed

[2019-03-27 03:41] Michaellin250 commented on #842
Can you add me to the list? I want to get started with open source contributions.

[2019-03-27 03:46] Michaellin250 commented on #884
Can I work on this issue?

[2019-03-27 03:57] sashadev-sky commented on #842
@Michaellin250 added!

[2019-03-27 04:11] HarshKhandeparkar commented on #884
Go ahead!

[2019-03-27 04:12] HarshKhandeparkar commented on #842
@Jaya738 has not replied. His issue has been reassigned to @Michaellin250

[2019-03-27 05:33] MargaretAN9 commented on #237
@jywarren   Is  openv.js installed on  image sequencer? if so what version?  If not,  has anyway tried to install such as
 https://docs.opencv.org/3.4/d4/da1/tutorial_js_setup.html   ??

After install,  need to determine if capture video and stitcher commands will work with public lab cameras.....

[2019-03-27 07:53] HarshKhandeparkar commented on #894
@Divy123 @Harshithpabbati @aashna27 can this issue be solved by using bootstrap flex grid? The step selector can be given a class of `.col-sm-12 .col-md-8` and the add step btn `.col-sm-12 .col-md-4`. Is this possible? Also changing selectize dist file directly isn't advisable. Also selectize is actually included through node modules, so no question about editing dist.

[2019-03-27 07:55] Harshithpabbati commented on #894
I guess we can override them.

[2019-03-27 07:55] aashna27 commented on #945
Okay , cool .. if this is being kept as an fto people can go ahead and if they aren't able to solve it , I would like to go forward with it ! @Divy123 @HarshKhandeparkar

[2019-03-27 08:20] HarshKhandeparkar commented on #894
@aashna27 what are your views on this?

[2019-03-27 08:20] HarshKhandeparkar commented on #894
So shall we edit the issue?

[2019-03-27 08:46] Harshithpabbati commented on #894
@HarshKhandeparkar I just tried it now but we need to even change the width of the button so we have to change in it's own css.

[2019-03-27 08:53] HarshKhandeparkar commented on #894
I don't think we need to change the width. Did you try the col classes?

[2019-03-27 08:55] Harshithpabbati commented on #894
Yeah I tried it.

[2019-03-27 08:57] Harshithpabbati commented on #894
@HarshKhandeparkar I just tried to change the width of the option and then now it's ok even with the small screens.

[2019-03-27 09:15] Harshithpabbati commented on #894
![xs](https://user-images.githubusercontent.com/43822585/55063550-32de6000-509e-11e9-8632-90192a094a89.png)
See this is what it's happening even if I use col-xs.

[2019-03-27 09:16] HarshKhandeparkar commented on #894
Do you have a screenshot?

[2019-03-27 09:18] HarshKhandeparkar commented on #894
It is happening **because** you are using col-xs. Try adding only `.col-sm-12` class.

[2019-03-27 09:22] HarshKhandeparkar commented on #894
Please note that the columns have to be eirect children of a `.row`

[2019-03-27 09:24] Harshithpabbati commented on #894
Yeah they are in that row div.

[2019-03-27 09:26] Harshithpabbati commented on #894
Oh okay we want them in different lines right???

[2019-03-27 09:29] HarshKhandeparkar commented on #894
[code]

[2019-03-27 09:31] Harshithpabbati commented on #894
@harshkhandeparkar i did the same thing

[2019-03-27 09:37] HarshKhandeparkar commented on #894
How is it not working then? It should work...

[2019-03-27 09:38] Harshithpabbati commented on #894
![ch](https://user-images.githubusercontent.com/43822585/55065374-bbaacb00-50a1-11e9-984a-e7e4998c0b55.png)

[2019-03-27 09:40] Harshithpabbati commented on #894
It's because of the custom width of the selectize.

[2019-03-27 09:48] Harshithpabbati opened #951 "Webcam preview moves to the side."
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-27 09:48] HarshKhandeparkar commented on #894
The add step btn should have full sized....

[2019-03-27 09:50] Harshithpabbati commented on #894
May be even that have a particular width

[2019-03-27 09:50] HarshKhandeparkar commented on #894
It shouldn't...

[2019-03-27 09:51] HarshKhandeparkar commented on #894
Try giving it a style width=100%

[2019-03-27 09:52] Harshithpabbati commented on #894
In demo.css it is having max-width:500px; thats the reason.

[2019-03-27 09:53] HarshKhandeparkar commented on #894
Oh. Remove that and try...

[2019-03-27 10:21] HarshKhandeparkar opened #952 "Configure First Timers Bot"
### Please describe the problem (or idea)
Configure [First-Timers](https://probot.github.io/apps/first-timers/) probot to automate the process of creating FTO issues.

### To Do
Create the following files.
* /.github/first-timers.yml
* /.github/fto-issue-template.md (can be renamed)

For reference.
* [plots2/.github/first-timers.yml](https://github.com/publiclab/plots2/blob/master/.github/first-ti

[2019-03-27 10:21] HarshKhandeparkar commented on #952
@jywarren @publiclab/is-reviewers

[2019-03-27 10:27] HarshKhandeparkar commented on #952
@jywarren I have requested the installation of first timers bot on image-sequencer.
cc @publiclab/is-reviewers

[2019-03-27 14:53] Divy123 commented on #216
@HarshKhandeparkar this is still not available.
@tech4GT hope you can elaborate on your idea of this.

[2019-03-27 15:03] tech4GT commented on #216
Sure @Divy123 Anything in particular you want my help on?

[2019-03-27 15:06] Divy123 commented on #216
Like I tried using headless-gl for transforming webgl-distort to be node compatible.
But I know a bit about headless browser concept and would be delighted if you can help me with that like some basic steps that how can we use headless browser here.
Thanks a lot!!

[2019-03-27 19:57] gauravano commented on #753
Nice idea @Divy123!

[2019-03-27 21:08] niravasher commented on #849
This is really really amazing, this is a great thought @HarshKhandeparkar . You are a genius

[2019-03-27 21:58] niravasher commented on #849
I agree that using gpu.js enhances processing speed, so should we use it only to develop fisheyegl module or should make a function like changePixel or getNeighbouringPixel on which other modules can be built?

[2019-03-28 04:34] HarshKhandeparkar commented on #849
It actually is used for general purpose computing by default and not for webgl. To make fisheyegl work, we are going to use a package headless-gl and @Divy123 is working on this.
I am going to accelerate the whole PixelManipulation API and convolution (in modules which use it).

[2019-03-28 04:35] HarshKhandeparkar commented on #849
I was just searching for gpu processing in js (mostly for ML purposes) to see how developed it was compared to other languages/frameworks and I found this.

[2019-03-28 07:59] tech4GT commented on #216
Oh, the approach I tried on this was nothing special as well, I was running the headless browser inside node and the module was running on the sequencer inside the headless browser!

[2019-03-28 08:01] tech4GT commented on #216
The issue I posted earlier relates to the fact that by default gl is disabled in puppeteer. You need to explicitly enable it.

[2019-03-28 08:02] tech4GT commented on #216
This is not an ideal solution though since we would want to avoid running the headless browser if possible(coz it'll take up a lot of resources)

[2019-03-28 08:44] scheleon commented on #884
Is this issue assigned? I would love to work on it

[2019-03-28 08:46] aashna27 commented on #894
I am sorry, a little busy for 2 days I ll get back with a suggestion after
that.

On Wed, Mar 27, 2019, 1:50 PM Harsh Khandeparkar <notifications@github.com>
wrote:

[2019-03-28 08:58] HarshKhandeparkar commented on #842
@scheleon welcome! your name has been added.

[2019-03-28 20:37] jywarren opened #954 "Grid overlay"
We're looking to do a small use case with some NASA folks and they wanted to simply overlay a grid over an image, and we should be able to do that pretty simply with IS.

[I gave it a try here.](https://sequencer.publiclab.org/examples/#steps=import-image{url:data%3Aimage%2Fpng%3Bbase64%2CiVBORw0KGgoAAAANSUhEUgAABDoAAAMiCAYAAACPD6PBAAAACXBIWXMAAAsTAAALEwEAmpwYAAAKT2lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbG

[2019-03-29 00:59] #673 closed

[2019-03-29 01:28] jywarren opened #957 "Show spinner icon in panel header"
Now that sections can be collapsed in the panel UI, we should show a progress spinner in the header in case the pane is closed while updating. See how in collapsed state you can't see:

![image](https://user-images.githubusercontent.com/24359/55203054-63a6be00-51a0-11e9-9d01-e46c51600c0e.png)

The code is here:

https://github.com/publiclab/image-sequencer/blob/9f524615a51e5ff29f54ffa0c615f1e505f7

[2019-03-29 01:29] #884 closed

[2019-03-29 09:49] Divy123 commented on #753
Sorry to be late. I was travelling.
https://fr.reactjs.org/tutorial/tutorial.html.
Can have a look here @jywarren
![reactss](https://user-images.githubusercontent.com/31225007/55224178-f7769980-5235-11e9-96be-831d8d07e808.png)

[2019-03-29 09:55] Divy123 commented on #753
Here is a link to the repo:
https://github.com/reactjs

[2019-03-29 12:04] Harshithpabbati commented on #938
@ananya you can start working with it :tada:

[2019-03-29 14:01] HarshKhandeparkar commented on #753
@Divy123 do they use some kind of framework to so the translation?

[2019-03-29 14:02] HarshKhandeparkar commented on #753
Actually the repo we want to see is this
https://github.com/reactjs/reactjs.org?files=1

[2019-03-29 14:06] HarshKhandeparkar commented on #842
@Harshithpabbati do you have any ideas for an fto?

[2019-03-29 14:15] Harshithpabbati commented on #951
@harshkhandeparkar I will try to reformat this to fto

[2019-03-29 14:15] Harshithpabbati commented on #951
May be today night or tommorow, I have last exam tomorrow.

[2019-03-29 14:19] Harshithpabbati commented on #842
#951 I will reformat it to fto issue.

[2019-03-29 14:30] HarshKhandeparkar commented on #842
:+1:

[2019-03-29 21:58] Divy123 commented on #829
@jywarren following #159, do you suggest to have run() on another thread ?
Also what are some other parameters you suggest keeping in mind?
Thanks!!
PS: Know that you are very busy but actually I am drafting my soc proposal for that I am exploring web workers and related concepts.

[2019-03-29 22:21] Divy123 commented on #829
Also I found this on greenlet docs.
Will that be fruitful using @jywarren ?

[2019-03-29 22:27] Divy123 commented on #920
Its already opened here @jywarren  #774 .
I am involving this one is my soc idea. So can we put that hold on till then?

[2019-03-29 22:28] Divy123 commented on #928
@subhahu123 please have alook here. #774
Involving this in my soc idea.

[2019-03-29 22:28] Divy123 commented on #928
Duplicate Issue.

[2019-03-29 22:28] #928 closed

[2019-03-29 22:39] Divy123 opened #959 "Redundant arguments in ImageSequencer.js"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-29 22:40] Divy123 commented on #842
#959 can also be seen.

[2019-03-29 23:19] jywarren commented on #920
Well, please do include it in your proposal, but I think we prefer not to
hold back work before the summer; otherwise we would 'get stuck' between
GSoC applications opening and the start of summer work. But don't worry, we
will consider everything like this when we review applications, and if
someone else solves it it won't be held against you. Thank you!

On Fri, Mar 29, 2019 at 6:27 PM Slytherin

[2019-03-29 23:21] Divy123 commented on #920
Thanks @jywarren.
I will soon start on this as soon as possible.

[2019-03-29 23:26] jywarren commented on #829
I think we basically need to try it and see, unfortunately. I guess this is
a vote in favor of doing the whole `run()` rather than passing back and
forth to/from the worker thread... what do you think?

On Fri, Mar 29, 2019 at 6:21 PM Slytherin <notifications@github.com> wrote:

[2019-03-29 23:33] Divy123 commented on #829
Yes I think that has to be the soution in that case.
Yes but one thing to keep in consideration is we cannot manipulate DOM from worker thread so some utility has to be provided to worker or returned by it to do the task outside worker thread.

[2019-03-29 23:45] jywarren commented on #829
ah, indeed. So is it possible to use some kind of callback with the image
from each step?

On Fri, Mar 29, 2019, 7:34 PM Slytherin <notifications@github.com> wrote:

[2019-03-29 23:49] Divy123 commented on #829
Will get to you back after exploring a bit more on this as I think the problem is since the data is copied not shared, returning images(heavy data)  has to be optimized.

[2019-03-30 00:41] jywarren commented on #216
Even if it takes a lot of resources (starting up the browser) I still think we should move ahead with this implementation -- it's the closest I've seen to actually working so far. We could refactor and attempt another approach afterwards, but I think we have to try! Thank you all!!!

[2019-03-30 00:44] jywarren commented on #216
Hi @Divy123 could you open a PR with your attempt so far? I'd like to try a few things.

For example, https://github.com/stackgl/headless-gl#example says we can access the pixels like:

[code]

[2019-03-30 01:15] jywarren commented on #237
it is not yet, but we'd love it to be!

On Wed, Mar 27, 2019 at 1:34 AM MargaretAN9 <notifications@github.com>
wrote:

[2019-03-30 01:32] jywarren commented on #773
OK, reopening with an inquiry -

Now, when I build dist files in `stable`, i can no longer cleanly merge from `main`. It has to be rebased, or it has to be a merge commit. Is this ok with folks?

[2019-03-30 04:55] ananya commented on #938
@HarshKhandeparkar yeah okay :smiley: I will start working on this in the coming week.

[2019-03-30 05:06] Harshithpabbati commented on #938
@ananya check the name 😂

[2019-03-30 05:10] ananya commented on #938
haha fixed :stuck_out_tongue:

[2019-03-30 05:43] HarshKhandeparkar commented on #773
@jywarren I have messaged you on gitter about the same. Please have a look at it.

[2019-03-30 14:41] Harshithpabbati commented on #951
@HarshKhandeparkar made this an FTO

[2019-03-30 15:44] HarshKhandeparkar commented on #954
Hello! Can you explain a bit more? What is secondImagePixels?

[2019-03-30 15:50] Harshithpabbati commented on #954
@jywarren see this
![grid](https://user-images.githubusercontent.com/43822585/55278377-8ae0c500-5331-11e9-869a-48aee677e596.png)

[2019-03-30 16:39] Harshithpabbati commented on #954
@jywarren what do you say about it.

[2019-03-30 16:47] #957 closed

[2019-03-30 23:13] jywarren commented on #819
I was able to turn on this setting in the gh-pages configuration! I think we can close now, thanks for the great idea!

[2019-03-30 23:13] #819 closed

[2019-03-31 04:27] tech4GT opened #961 "Compositing/Canvas-resize module"
The goal of this module in conjunction with overlay is to combine images.

[2019-03-31 04:28] tech4GT opened #962 "Geotiff Module"
@jywarren If you happen to have any resources regarding this, it would be really helpful. :smile:

[2019-03-31 04:44] tech4GT commented on #216
@jywarren I have an idea, maybe I can create a binding between `gl` and `node-canvas` and add the gl based functions on node-canvas using gl! I think this might be worth a shot.

[2019-03-31 04:45] tech4GT commented on #216
If this works, it would allow for 100% code sharing between browser and node.

[2019-03-31 08:51] tech4GT commented on #216
@jywarren @Divy123 I think I have figured this out, what I am doing is using 2 libraries:
node-canvas and gl, and I have overriden the default canvas.getContext to return an instance of 'node-gl'
Apart from that I needed some more changes in the fisheye-gl code and I think this might be ready.
Now do you guys think we should modify jywarren/fisheyegl or I should bake the node-specific code in the

[2019-03-31 11:16] Divy123 commented on #829
![Screenshot from 2019-03-31 16-43-21](https://user-images.githubusercontent.com/31225007/55288368-2fb3de80-53d4-11e9-9e92-299a546cc94f.png)

Since greenlet does not work with nodejs, I went through node-webworker.
But the issue I am facing is:

[code]
So I think we can make this happen only on browsers until we don't find a good solution for node.
@jywarren what do you think upon this?

[2019-03-31 11:18] Divy123 commented on #829
Also I am exploring the following for node:
https://www.npmjs.com/package/webworker-threads

[2019-03-31 11:21] niravasher opened #963 "GSoC Forum."
Hello,
It's peak time for GSoC proposals. So you may have many doubts to ask and would possibly don't find any place to ask. You can ask your doubt's here!!
All the best for your proposals :smile:
We hope many contributions from you.
Thanks

[2019-03-31 11:23] niravasher commented on #963
1) What exactly should I write for the text overlay module that is already completed

[2019-03-31 11:31] niravasher commented on #963
2) GPU.js : a javascript library for enhanced graphics and resolution. Currently @Divy123 and @HarshKhandeparkar are working on this, so I don't know what modifications have to be done while the GSoC timeline

[2019-03-31 11:38] Divy123 commented on #963
@niravasher I am currently focusing on Webworkers and WebAssembly for my proposal.
Also if you want I can help you out in webGL issue which I have explored and Varun is getting to it.
You can explore webGL issue, I will try to help you get it done and other issues like shader refactoring etc. Also you can have a look at another idea involving real-world use cases  one.

Also text overlay module is

[2019-03-31 12:19] jywarren commented on #216
Can you push what code you have and we can see what changes would be best
in which module? Thanks!!!!

On Sun, Mar 31, 2019, 4:51 AM Varun Gupta <notifications@github.com> wrote:

[2019-03-31 12:59] niravasher commented on #963
3) We can't change dist/bootstrap.css . I am not sure if changing demo.css and demo-old.css will increase the performance drastically. So I think we are left with minifying js files but we are already using dist for it. So how can we go further with this issue?

[2019-03-31 13:17] niravasher commented on #963
4) In the ideas list, there are three points. Text Overlay module, performance, and gallery of real world. Do I have to choose any one of them or two or all the three?

[2019-03-31 13:28] Harshithpabbati commented on #954
Is this the one which you asked for???

[2019-03-31 14:00] HarshKhandeparkar commented on #963
Hi! I am working on gpu.js and it won't be big change. Also is @Divy123 working on this? I didn't know that. Please clarify. This will probably be my last contribution in the next 2 yrs(i will be busy for 2 yrs) so I want to work on it myself.
Gpu.js is not used for enhanced graphics and resolution but for faster speed(performance). I like working in that field and I'm almost done with that. Only

[2019-03-31 14:01] HarshKhandeparkar commented on #963
Please note that I am not participating in GSoC(im not eligible for that).

[2019-03-31 14:07] tech4GT commented on #216
@jywarren I have figured out a lot of things, can you explain a little about how this code is important though.
https://github.com/jywarren/fisheyegl/blob/89d28f0dee943681192a708b59c076e3d5854652/src/fisheyegl.js#L204-L217
Since we don't have window available in node context, how should we change this code?

[2019-03-31 14:07] tech4GT commented on #216
The current code is outputting a black image and I am unable to figure out why.

[2019-03-31 14:22] HarshKhandeparkar commented on #829
@Divy123 are you using a separate package? Doesn't nodejs have inbuilt support for workers? I think it should have because some node libs use promises, don't they? Also I think Varun had said that node has support for workers in a comment in the old issue.

Yes, he did here https://github.com/publiclab/image-sequencer/issues/159#issuecomment-395843135

cc @jywarren @tech4GT

[2019-03-31 15:25] HarshKhandeparkar commented on #829
News!

Nodejs v11.7.0 has worker threads inbuilt.

https://codeforgeek.com/2019/01/getting-started-node-worker-thread/

[2019-03-31 15:26] HarshKhandeparkar commented on #829
v10.5.0 has initial implementation of threads and v11.7.0 has full worker threads support.

[2019-03-31 16:34] jywarren commented on #740
This is looking good now -- I'm going to close it but if we come up with other ideas on how to test and stabilize the UI code, that'd be great too!

[2019-03-31 16:34] #740 closed

[2019-03-31 16:42] jywarren commented on #597
Harsh i think this is a great idea.

Looking for good UIs we could use, this is nice: https://farbelous.io/bootstrap-colorpicker/tutorial-Basics.html and bootstrap-compatible:

![image](https://user-images.githubusercontent.com/24359/55291910-35003180-53b2-11e9-9eb5-9c9efbd439dd.png)

This one has lots of different options but may be more complex to install: https://casesandberg.github.io/react-co

[2019-03-31 16:52] jywarren opened #965 "Break out module config UI into generateConfigUI.js file and add tests"
This section of code is great, and generates the different interfaces for configuring each module, like the left side of this panel, for example:

![image](https://user-images.githubusercontent.com/24359/55291994-4f86da80-53b3-11e9-8f5c-043616947434.png)

The code is inside a much larger file called `defaultHtmlStepUi.js`, and we should break it out into its own file, called, maybe, `generateConfi

[2019-03-31 16:57] HarshKhandeparkar commented on #965
@jywarren I am already working on UI code refactoring. Shall I be assigned?

[2019-03-31 16:57] HarshKhandeparkar commented on #965
I will fix this stuff in that pr.

[2019-03-31 16:57] HarshKhandeparkar commented on #965
#825

[2019-03-31 17:47] Divy123 commented on #829
@HarshKhandeparkar latest version of node is 10.15.0
So we shoud proceed that way.
We can use the native support in node v11.7.0 once it becomes the LTS but till then, I think we can proceed that way.

[2019-03-31 18:19] Divy123 commented on #829
@jywarren request a little help here.
Can you please help me out with how can I pass functions to workers since they are not allowed as per structured clone algorithm which web workers employ to copy data?

[2019-03-31 18:47] HarshKhandeparkar commented on #829
We can use the native support in node v11.7.0 once it becomes the LTS but till then, I think we can proceed that way.

This version won't be an LTS, node v12 will be. But anyways, :+1:

[2019-03-31 18:49] HarshKhandeparkar commented on #829
Can you please help me out with how can I pass functions to workers since they are not allowed as per structured clone algorithm which web workers employ to copy data?

Can you drop a link to the docs/README of the package you are using?

[2019-03-31 18:52] Divy123 commented on #829
@HarshKhandeparkar may have a look
https://www.npmjs.com/package/webworker-threads

[2019-03-31 19:01] HarshKhandeparkar commented on #829
Can you please explain a bit more? What is structured clone algorithm?

[2019-03-31 19:21] HarshKhandeparkar commented on #829
What function do you want to pass into the worker?

[2019-03-31 19:39] Divy123 commented on #829
Structured clone algo is the one used to copy data from ine worker to another and it has certain restrictions.
Can have a look here:
https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API/Structured_clone_algorithm

[2019-03-31 19:41] Divy123 commented on #829
Also I have to pass certain number of functions including the one that are imported through require() as require cannot be used inside worker threads.
So there is a lot to pass.
For example, I want to have run() on a worker thread and for that I have to certain functions like callback() to it.
Do you have any suggestions @HarshKhandeparkar @jywarren ?

[2019-03-31 19:51] HarshKhandeparkar commented on #829
1. MDN docs document browser workers, node may be different.
2. You can create workers inside the run func, pass static data through postMessage and let the worker return the final pixels, again using postMessage.
3. You don't have to use require inside the workers, you can require outside and provide it to the worker.
4. This is from the docs,

importScripts('a.js', 'b.js') loads one or more file

[2019-03-31 20:08] HarshKhandeparkar commented on #829
Try this,
[code]

[2019-03-31 20:09] Divy123 commented on #829
Actually the` importScripts()` runs the script most probably inside the file provided to it so the functions provided inside it will not work and moreover we cannot pass any args to it.
I will think about restructuring somethings here.
Thanks a lot @HarshKhandeparkar

[2019-03-31 20:10] Divy123 commented on #829
Looking at the code ..

[2019-03-31 20:13] Divy123 commented on #829
Also @HarshKhandeparkar can you please provide a link to the above code?

[2019-03-31 20:28] Divy123 commented on #829
Also the code provided is not running, it get stuck after logging
[code]
to the console.

[2019-03-31 20:32] Divy123 commented on #829
@jywarren request for your help here!!

[2019-03-31 20:44] Divy123 commented on #963
@HarshKhandeparkar I am not working on gpu.js but on webworkers and webassembly.
Also exploring various libraries that can help us in webgl.
Thanks a lot @HarshKhandeparkar for your outstanding contributions.

[2019-03-31 20:45] Divy123 commented on #829
Also @tech4GT can you please help me with this.
I am including this in my SoC proposal, so I don't have much time left.

[2019-03-31 20:47] Divy123 commented on #829
I think we can break various parts of run function and have them on alternate threads.
What do you say on this?

[2019-03-31 20:56] Harshithpabbati commented on #922
https://sharp.pixelplumbing.com/en/stable/

[2019-03-31 20:58] Harshithpabbati commented on #922
Coverting larger images to friendly image formats. What do you say about it???

[2019-03-31 21:52] vajean commented on #959
Hi, I will work on it.

[2019-04-01 04:29] HarshKhandeparkar commented on #829
[code]

I didn't find this code anywhere, I just edited the example code.

[2019-04-01 04:37] HarshKhandeparkar commented on #922
@jywarren I had mentioned about it in #955.
Also I think the images **have to be** downsclaes for the previews.

On my phone, the phone takes 15secs to even show the image in the load-image step and takes atleast 1.5 min to generate the previews. Then I actually saw the resolution, 3480x4610 and my phone is 3yrs old.

Without downscaling the imgs, the previews will just stop the page.

[2019-04-01 04:53] HarshKhandeparkar commented on #829
You can try something even simpler, (I'm just trying to pass a function into the worker using postMessage).

[code]

[2019-04-01 09:28] niravasher commented on #837
Hello, we cannot change dist/bootstrap and we already have grunt which compiles and minifies js files. So any ideas how can we improve the performance more? @jywarren @publiclab/is-reviewers

[2019-04-01 09:47] HarshKhandeparkar commented on #837
Minifying css is left but I will address that in #825.

[2019-04-01 09:47] HarshKhandeparkar commented on #837
What else do the dev tools suggest?

[2019-04-01 11:51] Divy123 commented on #829
@HarshKhandeparkar
this is something that supports both browser and node .
https://www.npmjs.com/package/threads

[2019-04-01 11:56] jywarren commented on #216
I think we can skip this in node because it seems to be to limit the
refresh of the library to the frame rate of the browser window refresh:
https://developer.mozilla.org/en-US/docs/Web/API/window/requestAnimationFrame

Hmm, maybe try a simpler webgl task to be sure the basic idea works?

On Sun, Mar 31, 2019, 10:08 AM Varun Gupta <notifications@github.com> wrote:

[2019-04-01 12:33] Divy123 commented on #829
I think this is one of the most reliable library, has 11032 weakly downloads .

[2019-04-01 14:34] HarshKhandeparkar commented on #919
I will address it in #655

[2019-04-01 14:35] HarshKhandeparkar commented on #919
I am almost done with it locally. Will push in a few days

[2019-04-01 14:35] HarshKhandeparkar commented on #918
Addressed in #655 check out #919 for reference.

[2019-04-01 14:43] jywarren commented on #963
And just to clarify - we are perfectly OK with pursuing multiple
optimization strategies at once -- parallel tracks will let us pick and
choose pros and cons since some will work better for some scenarios and
others for other scenarios. Thank you all so much!

On Sun, Mar 31, 2019 at 4:44 PM Slytherin <notifications@github.com> wrote:

[2019-04-01 14:51] niravasher commented on #963
@jywarren do you require a switch to GPU.js just to change the speed. I think the modules are fast enough and do not take much time to load.

[2019-04-01 14:52] tech4GT commented on #963
Hello @niravasher We are looking at more computationally intensive modules, specifically edge detect. In the future we might have more modules like that.

[2019-04-01 14:56] HarshKhandeparkar commented on #963
* when used with hysteresis.

[2019-04-01 15:04] lohitha02 opened #969 "Unordered list of modules"
The list of the modules have broken out we must arrange it back to normal.

![Screenshot from 2019-04-01 20-25-19](https://user-images.githubusercontent.com/43813629/55337663-be038f80-54bc-11e9-94f6-72631b12ede0.png)

And this is how it looks like

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great

[2019-04-01 15:25] niravasher commented on #963
@HarshKhandeparkar @jywarren  correct me if I am wrong GSoC 2019 the only module to be shifted to GPGPU is edgeDetect

[2019-04-01 15:29] niravasher commented on #963
In issue #849 you mentioned to change the entire pixelManipulation API to be dependent on GPU. So I thought all the modules are to be shifted to GPU @HarshKhandeparkar

[2019-04-01 15:30] jywarren commented on #965
:-) awesome!!

On Sun, Mar 31, 2019 at 12:58 PM Harsh Khandeparkar <
notifications@github.com> wrote:

[2019-04-01 15:31] jywarren commented on #954
Oh this looks really nice! Actually i hadn't meant we needed a new module
(although maybe we could make a meta module) but this does look awesome. I
had meant to just document the bugs I found with trying to do this with
existing modules! Did you make a new module?

On Sat, Mar 30, 2019 at 11:45 AM Harsh Khandeparkar <
notifications@github.com> wrote:

[2019-04-01 15:32] Harshithpabbati commented on #954
Yeah a new module with canvas.

[2019-04-01 15:35] HarshKhandeparkar commented on #963
1. changePixel func runs the same task on each pixel.
2. Convolution runs the same task on each module. Wr have 3 modules which convolve a kernel over an image, edgeDetect, blur, convolution

All of these can benefit from gpu.js

[2019-04-01 15:36] HarshKhandeparkar commented on #963
Btw, I am going to do this myself so try finding some other issue/idea to add to your proposal. Sorry.

[2019-04-01 15:47] gauravano commented on #969
Hey @lohitha02, would you be solving this or should this be offered as a FTO? Thanks!

[2019-04-01 15:52] HarshKhandeparkar commented on #969
@Divy123 might be able to convert this to an fto(probably). Does selectize have an option for ordering options?

[2019-04-01 15:56] first-timers[bot] opened #970 "testing"
### 🆕🐥☝ First Timers Only.

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝

[About First Timers Only](http://www.firsttimersonly.com/).

### 🤔 What you will need to know.

Nothing. This issue is meant to welcome you to Open Source :) We are happy

[2019-04-01 15:57] #970 closed

[2019-04-01 16:01] gauravano commented on #925
hey @subhahu123, are you working on this? Thanks!

[2019-04-01 16:03] niravasher commented on #963
Ok, In the list of real world cases since the particle filtration module is completed, I will make blob region detection module

[2019-04-01 16:05] HarshKhandeparkar commented on #952
Oh great! If it actually works then we can close this but I think the template and config.yml is yet to be added?

[2019-04-01 16:05] HarshKhandeparkar commented on #952
The template is a bit different from what we use normally

[2019-04-01 16:09] HarshKhandeparkar commented on #952
Also can we change its logo?

[2019-04-01 16:11] Harshithpabbati commented on #952
@HarshKhandeparkar we can't change the profile image as it is a registered github app.

[2019-04-01 16:14] gauravano commented on #901
PR to start with a clean initial condition, then add some rules afterwards.
That way each person submitting a PR doesn't have to pay the technical debt
of previous committers. Worth thinking about!

This makes sense but it would take time for one person to achieve. But, I think multiple people can collaborate to achieve this fast.

I think it's fine to install codeclimate too, because I think it i

[2019-04-01 16:18] gauravano commented on #890
Any updates here? @Divy123 are you working on fixing on those minor fixes? Thanks!

[2019-04-01 16:18] HarshKhandeparkar commented on #890
I think the minor fixes can be addressed in a separate issue. They are not related to this issue.

[2019-04-01 16:20] HarshKhandeparkar commented on #882
I am busy right now. If someone else wante to work, they can but of nobody claime it for the next few weeks, I will fix it. (Once my exams are over).

[2019-04-01 16:22] gauravano commented on #862
I think we don't need to cover this as anyone who would be interested in deploying over the heroku would go the extra mile.

Let's have @publiclab/is-reviewers opinion on this one.

Thanks!

[2019-04-01 16:23] Harshithpabbati commented on #862
Yup. I feel the same.

[2019-04-01 16:23] gauravano commented on #871
@Divy123 are you working on this one? Thanks!

[2019-04-01 16:25] Divy123 commented on #871
@gauravano yes.

[2019-04-01 16:26] Harshithpabbati commented on #969
@lohitha02 try to check it once again because I can't reproduce the bug.
check these for reference.
https://sequencer.publiclab.org/examples/#steps=
https://beta.sequencer.publiclab.org/examples/#steps=

[2019-04-01 16:27] HarshKhandeparkar commented on #862
Even me. Adding more files will only make the repo look messy. Also heroku is not the only service where people can deploy. Anyways, if someone wants to deploy the app to any service, they will have to make some or the other change. They will atleast have to make it compatible with the service.

So closing this one. Feel free to open if necessary.

[2019-04-01 16:27] HarshKhandeparkar commented on #862
Even me. Adding more files will only make the repo look messy. Also heroku is not the only service where people can deploy. Anyways, if someone wants to deploy the app to any service, they will have to make some or the other change. They will atleast have to make it compatible with the service.

So closing this one. Feel free to open if necessary.

[2019-04-01 16:27] #862 closed

[2019-04-01 16:27] HarshKhandeparkar commented on #969
Actually there is bo bug in it.

[2019-04-01 16:28] Harshithpabbati commented on #969
@HarshKhandeparkar Sorry I edited it and deleted your comment.

[2019-04-01 16:29] HarshKhandeparkar commented on #969
The modules are ordered alphabetically instead. Earlier they were ordered how they are ordered in modules.js file. Also the More Modules option which was added at the end.

[2019-04-01 16:30] Harshithpabbati commented on #969
Yeah even now every module in module.js is in alphabetical order right???

[2019-04-01 16:31] gauravano commented on #859
@HarshKhandeparkar your PR is handling this issue?

[2019-04-01 16:33] Harshithpabbati commented on #969
I guess she has the older version of IS as she doesn't have the selectize option.

[2019-04-01 16:34] HarshKhandeparkar commented on #859
No. Not for bootstrap.

[2019-04-01 16:36] Divy123 commented on #969
Yes that's the case.
They are arranged alphabetically, so I don't think there is a need to do anything here.

[2019-04-01 16:36] HarshKhandeparkar commented on #969
No the modules aren't in alphabetical order.

[2019-04-01 16:36] HarshKhandeparkar commented on #969
The most common ones are first.

[2019-04-01 16:37] Divy123 commented on #969
Let me have a look.

On Mon 1 Apr, 2019, 10:06 PM Harsh Khandeparkar <notifications@github.com
wrote:

[2019-04-01 16:38] Harshithpabbati commented on #969
No. I guess just the more modules option is not in order.

[2019-04-01 16:38] HarshKhandeparkar commented on #969
Well it doesn't matter for the modules. We have to atleast fix the more modules option.

[2019-04-01 16:39] gauravano commented on #969
Actually, they seem sorted now

[2019-04-01 16:40] HarshKhandeparkar commented on #969
Yes they are. But we need to do something to the more modules option.

[2019-04-01 16:41] Harshithpabbati commented on #969
Yup making that to the last option.

[2019-04-01 16:42] HarshKhandeparkar commented on #969
Instead, can we make it a placeholder?

[2019-04-01 16:43] Harshithpabbati commented on #969
Yeah lets remove the option and make it as a value.

[2019-04-01 16:46] gauravano commented on #882
No hurry @HarshKhandeparkar. All the best for exams!

[2019-04-01 16:59] Harshithpabbati commented on #954
Was this useful ???

[2019-04-01 18:03] jywarren commented on #954
Yeah i think it could be... did you want to open a PR? Thanks!

On Mon, Apr 1, 2019 at 1:00 PM Harshith pabbati <notifications@github.com>
wrote:

[2019-04-01 18:06] Harshithpabbati commented on #954
Yeah I will open it tommorow. I will make few changes and open a pr.

[2019-04-01 18:28] jywarren commented on #230
https://docs.codeclimate.com/docs/travis-ci-test-coverage

[2019-04-01 18:29] jywarren commented on #230
#774

[2019-04-01 18:29] #230 closed

[2019-04-01 18:30] jywarren commented on #774
Also noting: https://docs.codeclimate.com/docs/travis-ci-test-coverage could work for this...

and I believe this is needed? https://libraries.io/npm/codeclimate-test-reporter

[2019-04-01 18:31] jywarren commented on #920
Linking to #635 too

[2019-04-01 18:32] jywarren commented on #774
Also linking to https://github.com/publiclab/image-sequencer/pull/929/files!

[2019-04-01 18:37] jywarren commented on #954
awesome!

On Mon, Apr 1, 2019 at 2:07 PM Harshith pabbati <notifications@github.com>
wrote:

[2019-04-01 18:49] Harshithpabbati commented on #656
@jywarren I want to join into the maintainers team. How can I do that ??? Are there any prerequisites to complete???

[2019-04-01 18:50] jywarren commented on #963
Hi all - just to mention, we have in the past had multiple people working on the same project in collaboration, either breaking it into 2 parts, or supporting one another, so this is not a problem. Second, we are exploring several parallel tracks for speeding up performance across many different modules; some solutions will work better for some modules, others for different modules. So we are also

[2019-04-01 18:54] jywarren opened #971 "Get module speed benchmarks to appear in a PR comment"
We could use https://danger.systems/js/ to collect the benchmark times and add them to each PR so you can easily read them. We could use the HTML `<details>` element to hide them unless you want to see them:

[code]

This would be pretty neat! We could also actually eventually output test image outputs that could be visually reviewed.

[2019-04-01 18:58] subhahu123 opened #972 "Service Worker is not working properly"
### Please describe the problem (or idea)

Checkout out the developer tools you will see an error in application tab
Service worker is showing error
And when you make it offline and try to reload  it  , not working

[2019-04-01 19:02] subhahu123 commented on #972
@Harshithpabbati  @HarshKhandeparkar  @gauravano  @publiclab/reviewers  please review

[2019-04-01 19:07] harshithpabbati opened #973 "Input from saturation module."
### Why does it append different type of inputs to take the level.
![Screenshot_20190402-002839](https://user-images.githubusercontent.com/43822585/55352833-688caa00-54df-11e9-9405-2bd999b0d9e8.jpg)
See it is giving the bar and even the integer format for taking input.

[2019-04-01 20:57] niravasher commented on #963
Ok, also any ideas about how will we go about the canvas resize module?? @HarshKhandeparkar @jywarren @tech4GT @Divy123

[2019-04-01 22:51] jywarren commented on #922
Agreed! Ok, let's start by not running the preview generation on big images
then? We can pursue other options once we do this. Are you interested in
working on this one? Thanks!!!

On Mon, Apr 1, 2019, 12:38 AM Harsh Khandeparkar <notifications@github.com>
wrote:

[2019-04-02 05:25] niravasher commented on #829
This is what I have understood till now regarding web workers
![IMG_20190402_102541](https://user-images.githubusercontent.com/32176296/55377970-dc0cd680-5534-11e9-825e-ccd2f01866f7.jpg)

This is the way I am applying web workers to the DrawRectangle Module
![IMG_20190402_104441](https://user-images.githubusercontent.com/32176296/55378087-3017bb00-5535-11e9-862f-165d159c7b1b.jpg)
workers.onMessage

[2019-04-02 05:26] Divy123 commented on #829
@niravasher I am already working upon it.

[2019-04-02 05:29] Divy123 commented on #829
Also we first focus on Run.js file which is so much used.

[2019-04-02 12:51] lohitha02 commented on #969
We can make this as an FTO :)

[2019-04-02 13:37] #946 closed

[2019-04-02 15:37] rockstar777 commented on #300
hi @jywarren,
I have created a GSOC proposal for this issue, please review and help me to improve my proposal.
Thanks (apologies for being inactive for last few months)
:)

[2019-04-02 15:41] rockstar777 commented on #300
Also, please mention if it is okay to include this issue in GSOC '19.
Thanks

[2019-04-02 15:53] ananya commented on #938
![Screenshot from 2019-04-02 21-22-23](https://user-images.githubusercontent.com/33188930/55416993-73057d00-558d-11e9-8822-2fc78757c615.png)
![Screenshot from 2019-04-02 21-22-28](https://user-images.githubusercontent.com/33188930/55416994-73057d00-558d-11e9-8e1d-f5d4f413ac51.png)

My localhost is looking like this on installing the project. Is it fine or I am missing something?

[2019-04-02 15:55] Harshithpabbati commented on #938
No. It looks like this.
![image-se](https://user-images.githubusercontent.com/43822585/55417181-cd9ed900-558d-11e9-9b0d-c8589229e84f.png)

[2019-04-02 15:56] Harshithpabbati commented on #938
Your branch is not upto date. Pull the changes

[2019-04-02 16:30] ananya commented on #938
My branch is upto date. I just have to "npm run setup" and "npm start" sfter cloning the project right?

[2019-04-02 16:34] HarshKhandeparkar commented on #938
I think you have cloned jywarren/image-sequencer. Clone publiclab/image-sequencer

[2019-04-02 16:37] ananya commented on #938
![Screenshot from 2019-04-02 22-05-52](https://user-images.githubusercontent.com/33188930/55419953-84518800-5593-11e9-85bd-ca3aad9a0109.png)

@HarshKhandeparkar its publiclab/image-sequencer only

[2019-04-02 16:39] jywarren commented on #300
Of course it's fine to include! Did you post your proposal on our website
at
https://publiclab.org/notes/warren/02-28-2019/call-for-summer-of-code-2019-proposals
? Thank you!

On Tue, Apr 2, 2019 at 11:42 AM puneet bindal <notifications@github.com>
wrote:

[2019-04-02 16:40] jywarren commented on #938
Could it be a caching issue? Thanks for working together to figure this out!

On Tue, Apr 2, 2019 at 12:37 PM Ananya Agrawal <notifications@github.com>
wrote:

[2019-04-02 16:41] HarshKhandeparkar commented on #938
@ananya try `git fetch upstream` first.

[2019-04-02 16:41] HarshKhandeparkar commented on #938
You can also run
[code]

Bur be careful as this will overwrite any existing changes

[2019-04-02 16:44] jywarren commented on #938
But I am still seeing intermittent saved caches when testing things... so
wondering if it could be an issue!

On Tue, Apr 2, 2019 at 12:42 PM Harsh Khandeparkar <notifications@github.com>
wrote:

[2019-04-02 16:46] HarshKhandeparkar commented on #938
@ananya what browser ro you use?

[2019-04-02 16:46] ananya commented on #938
@Harshithpabbati i am on chrome

[2019-04-02 16:47] HarshKhandeparkar commented on #938
Is that chrome or chromium? Try upgrading it to the latest version.

[2019-04-02 16:47] HarshKhandeparkar commented on #938
Is it tye latest version?

[2019-04-02 16:48] ananya commented on #938
it is chrome. And I tried to fetch also but it is still showing the same page.

[2019-04-02 16:48] HarshKhandeparkar commented on #938
Also can you run `ls` in a terminal and provide a screenshot of the output?

[2019-04-02 16:49] HarshKhandeparkar commented on #938
Btw, did you try clearing the cache?

[2019-04-02 16:54] ananya commented on #938
It worked somehow :smiley: . Though this was the result i got when i installed the project for the first time, then how could this be a cache problem :thinking:

[2019-04-02 16:56] HarshKhandeparkar commented on #938
Maybe it cached once when your project was not up to date? Who knows but anyways I'm that you managed to fix it👍. Feel free to ask any other queries as well. 😊

[2019-04-02 16:58] ananya commented on #938
Oh Okay. Thank you for the help :smiley:

[2019-04-02 17:06] tech4GT commented on #216
Okay there is clearly some issue with the `gl` module, so for now I think we should proceed with the headless browser implementation. We can circle back to the other implementation once the issues are rectified.
cc @jywarren @Divy123

[2019-04-02 17:31] rockstar777 commented on #300
Yes,I had Posted it from username puneetbindal8989.
Link:  [post link](https://publiclab.org/notes/puneetbindal8989/04-01-2019/gsoc-proposal-automated-feature-detection-and-matching-300-https-github-com-publiclab-image-sequencer-issues-300)
Thanks :)

[2019-04-02 18:01] HarshKhandeparkar commented on #972
Fixed in #976

[2019-04-02 18:51] subhahu123 commented on #925
sorry @jywarren  but it was not intentional

[2019-04-02 19:02] HarshKhandeparkar commented on #973
Just check if it is a browser problem

[2019-04-02 19:05] Harshithpabbati commented on #973
No I am using chrome updated version.

[2019-04-02 19:06] HarshKhandeparkar commented on #973
I think the panel ui broke it?

[2019-04-02 19:07] HarshKhandeparkar commented on #973
Didn't happen before

![saturation](https://user-images.githubusercontent.com/34770591/55429225-9b4ea500-55a8-11e9-8d93-691568da94a8.png)

[2019-04-02 19:07] HarshKhandeparkar commented on #973
Sorry, wrong screenshot

[2019-04-02 19:09] Harshithpabbati commented on #973
It wasn't by UI i guess.

[2019-04-02 19:10] Harshithpabbati commented on #973
It's happening only few times.

[2019-04-02 19:13] HarshKhandeparkar commented on #973
Can you please check if there is any error log?

[2019-04-02 19:18] Harshithpabbati commented on #973
Sorry I am using mobile. I can't do it now.

[2019-04-02 19:19] HarshKhandeparkar commented on #973
Ok np. Let's check it out tmrw.

[2019-04-02 19:19] HarshKhandeparkar commented on #973
GN.

[2019-04-02 19:19] Harshithpabbati commented on #973
GN

[2019-04-02 19:27] Harshithpabbati commented on #925
Cool ! Don't be tensed. We will learn from our mistakes.

[2019-04-02 19:51] Divy123 commented on #216
I agree @tech4GT .
Exploring puppeteer nowadays to work on this.
Also I request you and @jywarren to please review my SoC proposal :
https://publiclab.org/notes/lit2017001/04-01-2019/soc-proposal-image-sequencer-v3-boosting-the-performance.
Thanks!!

[2019-04-02 20:01] Divy123 opened #978 "Document Does Not Have A Meta Description"
### Please describe the problem (or idea)
The Lighthouse says that the document does not have a meta description

For SEO, we should add desciption to the head of our index.html.
Example https://developers.google.com/web/tools/lighthouse/audits/description

[2019-04-02 20:21] Harshithpabbati commented on #978
We have it right?

[2019-04-02 22:44] jywarren commented on #216
Did you open an issue to ask more about it, and if so could you link there for reference? Thank you!

[2019-04-02 22:44] jywarren commented on #216
I will review ASAP, apologies this has been taking a lot of time this week 😄  thanks for your patience!

[2019-04-02 23:58] jywarren opened #979 "Colorimetry plan"
I'm documenting all of the steps required to go through a dual color analysis sequence for one of the #707 real-world use cases: colorimetric comparison!

Working [from this post](https://publiclab.org/notes/haines241/03-06-2018/smart-form-badge-lighting-analysis-experiments), i found a sample image of a colorimetric badge that reacted to formaldehyde, where one side got darker over a few hours.

[2019-04-03 00:03] jywarren commented on #979
Here is the "all in one sequence" approach!

https://sequencer.publiclab.org/examples/#steps=crop{x:260|y:110|w:50|h:50},average,import-image,crop{x:500|y:110|w:50|h:50},average

![image](https://user-images.githubusercontent.com/24359/55443860-44ce7000-5582-11e9-9127-724c10146d76.png)

[2019-04-03 00:07] jywarren commented on #707
Hi, I just wrote a detailed issue on the colorimetric project, with the bugs we'd need to solve, and some other ideas: https://github.com/publiclab/image-sequencer/issues/979 I hope this helps!

[2019-04-03 01:37] jywarren commented on #925
:-) thanks yes! No problem and thanks again for your help!

On Tue, Apr 2, 2019, 3:28 PM Harshith pabbati <notifications@github.com>
wrote:

[2019-04-03 06:01] HarshKhandeparkar commented on #963
@niravasher do you have any other doubts or should this be closed?

[2019-04-03 06:08] HarshKhandeparkar commented on #246
Hi! I'm working on separating ui files in #825

[2019-04-03 06:23] Divy123 commented on #216
Thanks a lot @jywarren .

[2019-04-03 06:59] niravasher commented on #963
Let it remain for some more time please.

[2019-04-03 07:03] HarshKhandeparkar commented on #963
Np. You can keep it open for as long as you like.

[2019-04-03 07:05] Harshithpabbati commented on #963
Leave it. So that someone who have doubt about GSoC can ask here.

[2019-04-03 07:06] HarshKhandeparkar commented on #963
So should we change the issue name to like GSoC forum?

[2019-04-03 07:06] HarshKhandeparkar commented on #963
Also change the issue body?

[2019-04-03 07:06] Harshithpabbati commented on #963
Yeah do it.

[2019-04-03 07:09] HarshKhandeparkar commented on #963
I don't have time. Can you do that? Also there is no rush. We can do it later whenever we get time but if you have time right now, please do. Thanks.

[2019-04-03 07:29] niravasher commented on #963
Do YPAE06 feature in images means the image below?????
![polyshaper](https://user-images.githubusercontent.com/32176296/55460701-3f1f6b80-5610-11e9-9ea2-434248944870.png)

[2019-04-03 07:34] HarshKhandeparkar commented on #963
What is YPAE06?

[2019-04-03 07:36] niravasher commented on #963
I don't exactly know the fullform. It was in one of the issues. I searched this on internet. I found many results like these polygonal images

[2019-04-03 07:40] HarshKhandeparkar commented on #963
Can you please drop a link to the issue?

[2019-04-03 07:40] niravasher commented on #963
https://github.com/publiclab/image-sequencer/issues/165

[2019-04-03 07:45] HarshKhandeparkar commented on #963
The isue also links to a demo.

[2019-04-03 07:46] niravasher commented on #963
It shows me WEBRTC not available. Can i do something?

[2019-04-03 07:48] niravasher commented on #963
Infact all the modules show this

[2019-04-03 07:54] HarshKhandeparkar commented on #963
It needs a webcam. Try it on ur phone.

[2019-04-03 08:07] aashna27 commented on #299
@jywarren Can you provide use case or any more information , as I was thinking of doing this. Any information about your expectations

[2019-04-03 08:37] niravasher commented on #963
I am getting a blue line for all the ideas. It is not loading somehow I think

[2019-04-03 09:53] HarshKhandeparkar commented on #963
Try askimg @jywarren or @tech4GT

[2019-04-03 10:02] niravasher commented on #963
Also how do we test the modules that are not supported for browsers???

[2019-04-03 11:38] HarshKhandeparkar commented on #963
Which modules are not supported for browsers?

[2019-04-03 12:26] aashna27 commented on #963
@niravasher I tested for text overlay module which works only in browser, https://github.com/publiclab/image-sequencer/pull/943 you can have an idea from here.

[2019-04-03 12:28] aashna27 commented on #963
Yeah I believe there is one, don't exactly remember which one it was.

On Wed, Apr 3, 2019, 5:08 PM Harsh Khandeparkar <notifications@github.com>
wrote:

[2019-04-03 15:29] niravasher commented on #963
I found a module online, compress-image. The functioning was only on CLI.

[2019-04-03 15:42] niravasher commented on #963
Thanks @aashna27 , found what I was looking for

[2019-04-03 21:27] aashna27 commented on #922
I am pursuing this , adding this in my proposal.

[2019-04-04 06:19] HarshKhandeparkar commented on #922
@aashna27 please have a look at the discussion in #955. Try to adding an option to stop previews altogether, if you want/can/have time. Thanks.

[2019-04-04 09:28] niravasher commented on #963
There is an issue open in the image sequencer https://github.com/publiclab/image-sequencer/issues/962 . This is the regarding making the geotiff module. I don't have mapknitter installed right now and very little time left with submitting the proposal, could somenone please explain me exactly what to do tn this issue? @jywarren @Harshithpabbati @HarshKhandeparkar , @tech4GT you have opened the iss

[2019-04-04 11:51] lohitha02 commented on #979
@jywarren what do you say about automating the input values of x and y instead of typing the coordinates.  Like how about having a click and drag option. So you can click and drag until where you need to crop and when you do so the values of x and y will get updated automatically.

[2019-04-04 14:16] tech4GT commented on #216
@jywarren here https://github.com/stackgl/headless-gl/issues/149

[2019-04-04 14:36] tech4GT commented on #963
Hi @niravasher Actually I would be working on that pretty soon, So it is a part of this new mapknitter exporter process that we are building over at https://github.com/publiclab/image-sequencer-app
You can get a bird's eye view about this in this issue https://github.com/publiclab/mapknitter/issues/298

If you would like to help out on that you can read more about geotiff in general and more speci

[2019-04-04 16:34] VibhorCodecianGupta commented on #963
@tech4GT is https://github.com/publiclab/image-sequencer-app an active GSoC project this year? Looks really cool. Could you point me to the prerequisites and future roadmaps for the project? Would love to explore

[2019-04-04 16:35] tech4GT commented on #963
I'm not sure about gsoc. I think @jywarren might be able to clarify.

[2019-04-04 19:51] shapironick commented on #979
at  https://github.com/publiclab/SmART-Form we overlaid a semi-transparent image of the optimal placement of the badge over the camera feed to guide users (worked well in beta and field testing) and I think but am not sure that we had an auto-cropping.

I *think*  the scaled bitmap should be around lines 999 -1016 here https://github.com/publiclab/SmART-Form/blob/master/Android/app/src/main/java/e

[2019-04-04 20:08] Harshithpabbati commented on #708
@jywarren we can make a big move by using react . I am interested in doing it.

[2019-04-04 20:34] Divy123 commented on #708
I am also interested.
May be we can collaborate?

[2019-04-04 20:40] Harshithpabbati commented on #708
Yeah we can once @jywarren agrees with it :smile:

[2019-04-04 20:46] Harshithpabbati commented on #708
@jywarren how about making it into a dynamic site we can have login system and once he get's into his account he can have all his data about the saved sequence and the images which he want for future use. What are your thought about it??

[2019-04-04 21:42] jywarren opened #987 "Drag to select crop UI is broken"
#205 added this nice interface for cropping -- drag selection -- and #229 was supposed to build on this. However it seems broken now --

![image](https://user-images.githubusercontent.com/24359/55590189-35753100-5700-11e9-8999-4e6a750f672b.png)

Looks like we're running `imgAreaSelect` on `imgEl` here:

https://github.com/publiclab/image-sequencer/blob/0e7323efa928972bfa26fd360bc616402b3e9957/src/

[2019-04-04 21:45] jywarren commented on #979
Hi @lohitha02 actually yes, there is supposed to be a "drag to select" interface which is currently broken -- @publiclab/is-reviewers any ideas what happened here? I opened an issue at https://github.com/publiclab/image-sequencer/issues/987

For the working demo, we should be able, as @shapironick says, to have an overlay to guide people. Thanks Nick.

This would change for different types of colo

[2019-04-04 22:21] jywarren commented on #216
oh awesome. Thanks.

On Thu, Apr 4, 2019 at 10:16 AM Varun Gupta <notifications@github.com>
wrote:

[2019-04-05 04:23] HarshKhandeparkar opened #988 "Please Help Me"
@jywarren I wanted to tell you something important. My exams will end on 15th April. I will start proper contributions after that. My last day will be 13th May after which I won't be able to contribute for 2 yrs. Could you please try to merge my currently open prs(except ui code refactor) before 15th April. I have also undertaken the task of gpu acceleration and gif manipulation. These are relativ

[2019-04-05 04:24] HarshKhandeparkar commented on #988
@jywarren @publiclab/is-reviewers please see this. Sorry if opening an issue was inappropriate.

[2019-04-05 08:39] lohitha02 opened #990 "Bugs in Text overlay module"
Text overlay is working only for the first step
![Screenshot from 2019-04-05 14-11-05](https://user-images.githubusercontent.com/43813629/55615342-d91c1b00-57ac-11e9-9d65-2c030e05e97e.png)

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they'll be resolved, s

[2019-04-05 14:44] tech4GT commented on #961
@jywarren Any ideas for this one? I was thinking maybe the module can take the final dimensions of the image and the overlay location for the image on the canvas?
Or do you think we should do % increase?? Keen to hear your take.

[2019-04-05 18:41] jywarren commented on #988
Hello @HarshKhandeparkar!!! No worries, and sorry to tag you on anything that stressed you out. Our very best wishes for your exams, and we'll take a look at your open PRs today.

https://github.com/publiclab/image-sequencer/pulls/HarshKhandeparkar

[2019-04-05 18:42] #952 closed

[2019-04-05 18:43] HarshKhandeparkar commented on #988
Thanks a ton for your help @jywarren. I am extremely grateful. :heart:

On Sat 6 Apr, 2019, 12:11 AM Jeffrey Warren, <notifications@github.com>
wrote:

[2019-04-05 19:08] #918 closed

[2019-04-05 19:08] #919 closed

[2019-04-05 19:08] #640 closed

[2019-04-05 20:07] Divy123 commented on #990
I would love to work on this.

[2019-04-05 20:08] Divy123 commented on #969
Sure! Making this an fto!!

[2019-04-05 20:19] HarshKhandeparkar commented on #969
Be sure to use first timers bot.

On Sat 6 Apr, 2019, 1:38 AM Slytherin, <notifications@github.com> wrote:

[2019-04-05 20:20] Divy123 opened #992 "Unordered list of modules"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-04-05 20:22] Divy123 commented on #842
#992 is up here.

[2019-04-05 20:22] #969 closed

[2019-04-05 20:27] Divy123 commented on #988
@HarshKhandeparkar please tell in case you need any kind of help.
Would be lot more than happy to help you.

[2019-04-05 20:29] Divy123 commented on #973
@Harshithpabbati can you elaborate a bit here on what the issue is?

[2019-04-05 20:46] Harshithpabbati commented on #973
See the input method. We are having two types in the same module one time we are getting the input box and other time a bar.

[2019-04-05 20:47] Harshithpabbati commented on #973
Check the input method in the image which I provided.

[2019-04-05 21:23] jywarren commented on #961
Let's just do pixel dimensions to start with, not percentages. Yes, i think
width, height of final size, and x,y position so we know where the output
of the previous step would be placed on this new canvas. What do you think?

On Fri, Apr 5, 2019 at 10:44 AM Varun Gupta <notifications@github.com>
wrote:

[2019-04-05 22:03] #959 closed

[2019-04-05 22:43] jywarren commented on #299
Ah, this will be the interface for
https://github.com/publiclab/image-sequencer/issues/64 ! Does that help?

On Sat, Jan 26, 2019 at 1:15 PM Slytherin <notifications@github.com> wrote:

[2019-04-05 22:58] teisenhower commented on #992
I'll take this one if that's ok!

[2019-04-06 01:27] jywarren commented on #992
That'd be great, thanks!!!

On Fri, Apr 5, 2019, 6:58 PM Terrence <notifications@github.com> wrote:

[2019-04-06 02:09] teisenhower commented on #992
Perfect! I'll get started tomorrow morning.

Thanks!

[2019-04-06 02:47] tech4GT commented on #961
Sure! Sounds good. I’ll start this up.

[2019-04-06 05:34] aashna27 commented on #299
Yeah it helps, I was thinking of adding this to my proposal but for now I had left it as I didn't have information, so if you could please go through my proposal and let me know your review it would be really great,
https://publiclab.org/notes/aashnaaashna/04-03-2019/soc-proposal-image-sequencer?_=1554388031

[2019-04-06 06:41] Harshithpabbati opened #993 "Image to pencil sketch module."
### A module which converts image into pencil sketch.

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they'll be resolved, see:

https://publiclab.org/wiki/developers#Contributing+for+non-coders

[2019-04-06 06:43] Harshithpabbati commented on #993
I want to work on this by creating a meta module.
![imagesketch](https://user-images.githubusercontent.com/43822585/55665956-50ad8100-5865-11e9-80d4-72351fe2eabd.png)
Does this looks like a image sketch.

[2019-04-06 07:14] HarshKhandeparkar commented on #993
Is this an edge detect meta module?

[2019-04-06 07:14] HarshKhandeparkar commented on #993
You can invert edge detect to do this

[2019-04-06 07:18] HarshKhandeparkar commented on #993
But it will take vwry long to process

[2019-04-06 07:18] HarshKhandeparkar commented on #993
And the image doesn't look quite like a sketch

[2019-04-06 07:18] HarshKhandeparkar commented on #993
It needs some shading

[2019-04-06 07:21] Harshithpabbati commented on #993
I did the same thing inverted edge detect.

[2019-04-06 08:00] Harshithpabbati commented on #993
I made the hysteresis false so it doesn't take much time.

[2019-04-06 08:01] HarshKhandeparkar commented on #993
:+1:

On Sat 6 Apr, 2019, 1:30 PM Harshith pabbati, <notifications@github.com>
wrote:

[2019-04-06 08:02] Harshithpabbati commented on #993
But still it needs some effect to look like a sketch.

[2019-04-06 08:49] tech4GT opened #995 "upgrade pixelManipulation to support async functions in extraManipulation"
I think we can update the getOutput function to take the pixels as as a parameter. This should allow for async functions in the extraManipulation and getOutput will acts as a callback of sorts.
What do you think @jywarren @publiclab/is-reviewers

[2019-04-06 13:24] teisenhower commented on #992
@jywarren Starting to dive into this. Just want to make sure I am on the right page. What is it you are looking to have done with this?

Thanks!

[2019-04-06 13:45] teisenhower commented on #992
@jywarren Hey! Making sure I am on the right page. You wanted the "More Modules" option removed from the drop down correct? So the drop down defaults to the first option "Add QR"

![moreModules](https://user-images.githubusercontent.com/47988669/55670266-52b91500-5850-11e9-8106-7396f2053cd5.png)

![moreModules2](https://user-images.githubusercontent.com/47988669/55670277-73816a80-5850-11e9-959d-02

[2019-04-06 13:45] HarshKhandeparkar commented on #992
:+1: great work!

[2019-04-06 13:49] teisenhower commented on #992
@HarshKhandeparkar **Thanks!** I'm hoping this is what you all were looking for!

[2019-04-06 13:50] HarshKhandeparkar commented on #992
Yes we were kind of. One last thing, can you add a placeholder text to it?

On Sat 6 Apr, 2019, 7:19 PM Terrence, <notifications@github.com> wrote:

[2019-04-06 13:56] teisenhower commented on #992
@HarshKhandeparkar Sure! Something like this?

![moreModulesPlaceholder](https://user-images.githubusercontent.com/47988669/55670438-433acb80-5852-11e9-94c6-bed4c2035ab0.png)

[2019-04-06 13:58] HarshKhandeparkar commented on #992
Perfect. Can you change the placeholder text as well?

[2019-04-06 13:59] teisenhower commented on #992
@Harshithpabbati Absolutely! What would you like it to say?

[2019-04-06 14:00] HarshKhandeparkar commented on #992
Something like "Select A Module" or "Select Modules" or "More Modules...". Whichever you think would best fit. You can add something of your own too. Awesome work!!

[2019-04-06 14:01] Harshithpabbati commented on #992
Change the place holder name to more modules ....

[2019-04-06 14:05] teisenhower commented on #992
@HarshKhandeparkar Thank you!

I changed it to "Select A Module" as that seems to best fit what the user is doing. But I can of course make it whatever.

![placeholderUpdate](https://user-images.githubusercontent.com/47988669/55670509-41bdd300-5853-11e9-9795-3b87be3386db.png)

[2019-04-06 14:05] HarshKhandeparkar commented on #992
Great! Are you going to open PR (pull request) now? Thanks.

On Sat 6 Apr, 2019, 7:35 PM Terrence, <notifications@github.com> wrote:

[2019-04-06 14:08] teisenhower commented on #992
Yep! I can do that now.

Thanks!

[2019-04-06 14:09] HarshKhandeparkar commented on #992
You can open a pr and mention me.

[2019-04-06 14:21] teisenhower commented on #992
@HarshKhandeparkar PR Submitted

[2019-04-06 14:23] Harshithpabbati commented on #992
@teisenhower make the capital A to small a.

[2019-04-06 14:26] teisenhower commented on #992
@Harshithpabbati Sure no problem

@HarshKhandeparkar  Should I make this change and then submit another PR?

Thanks!

[2019-04-06 14:26] Harshithpabbati commented on #992
Update this pr.

[2019-04-06 14:27] HarshKhandeparkar commented on #992
You can commit to the same branch.

[2019-04-06 14:33] teisenhower commented on #992
new commit pushed. Now a lowercase 'a'

Thanks!

[2019-04-07 12:07] lohitha02 opened #997 "Image is getting deleted after clicking enter"
The image is getting deleted after entering the changes and click enter.
Instead the changes should get applied to the image and not get deleted.

![Screenshot from 2019-04-07 17-36-26](https://user-images.githubusercontent.com/43813629/55683294-bda34280-595b-11e9-8195-eedfec857711.png)

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this s

[2019-04-07 12:34] HarshKhandeparkar commented on #997
@Harshithpabbati

[2019-04-07 12:35] HarshKhandeparkar commented on #997
Bootstrap penel problem I guess.

[2019-04-07 12:40] Harshithpabbati commented on #997
yeah but how to override the function, I don't know how it happened.

[2019-04-07 12:44] HarshKhandeparkar commented on #997
Is the delete button inside the form?

[2019-04-07 12:49] Harshithpabbati commented on #997
yeah i guess.

[2019-04-07 12:50] Harshithpabbati commented on #997
Fine i will make it correct i will change it.

[2019-04-07 16:09] lohitha02 opened #998 "Bugs in blur module"
The amount of gaussian blur is not changing even after changing the intensity value.

![blur](https://user-images.githubusercontent.com/43813629/55686318-51d1d180-597d-11e9-9ead-35cb0939e031.jpg)

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they'll be reso

[2019-04-07 16:17] HarshKhandeparkar commented on #998
I'll handle this in gpu.js PR.

[2019-04-07 16:19] HarshKhandeparkar commented on #260
I'll handle this in gpu.js PR.

[2019-04-07 17:12] #992 closed

[2019-04-07 19:08] Divy123 commented on #995
I also think this is one of the breaking steps we can take towards providing a more flexible option for adding modules. Like while, I was working towards Add-Qr module, I had some async code in my Module specific QR.js file for which I restructured PixelManipulation.js, I think by doing this, we can handle such situations more easily.
@tech4GT I think we should restructure not only getOuput but al

[2019-04-07 20:24] Harshithpabbati commented on #708
@jywarren we need your thoughts here.

[2019-04-07 21:33] Divy123 commented on #979
Hi @jywarren !
I would love to work upon it!!!
So basically what I have understood from the previous discussions is that we can have a sequence defined in the sequencer where we can have the badge image set to following steps:
1) Crop the left part and average the pixles of resulting image.
2) Crop the right part and average the pixels of resulting image.
3) Finally we can output the ratio of the

[2019-04-08 00:27] #961 closed

[2019-04-08 01:05] jywarren commented on #979
I think we could do this in an independent demo, built on top of IS, and
displaying in HTML the ratio output, instead of trying to build everything
in -- and provide a really simple UI to help with this. But yeah, you have
it right!

Mostly at this point, we will need to debug and build good tests around the
needed parts so that we can be sure we can rely on the system to be stable
enough to suppo

[2019-04-08 01:10] VibhorCodecianGupta commented on #979
@jywarren Yes, I believe making a separate micro service for this would be ideal. Passing in images (encoded or otherwise) and using two IS instances to process and then output the comparison would make this easy to implement AND easy to use.
The first step to this would be fixing the crop module, I'll be on it as soon as I draft a proposal.
Also, a little late on my SoC proposal, apologies! Will

[2019-04-08 12:26] #997 closed

[2019-04-08 18:34] HarshKhandeparkar commented on #851
Hi everyone I found some cool bootswatch dark themes:
- [cyborg](https://bootswatch.com/cyborg/)
- [darkly](https://bootswatch.com/darkly/)
- [lux](https://bootswatch.com/lux/) (semi dark)
- [slate](https://bootswatch.com/slate/) (kind of like YouTube, my favourite)

cc @jywarren @publiclab/is-reviewers @avsingh999

[2019-04-08 18:52] jywarren commented on #851
:-) cool!!!! awesome!

On Mon, Apr 8, 2019 at 2:35 PM Harsh Khandeparkar <notifications@github.com>
wrote:

[2019-04-08 18:55] Harshithpabbati commented on #851
@jywarren what is your thought on making the whole UI to react??

[2019-04-08 18:57] jywarren commented on #851
:-) I think it's a positive direction -- but I really want to stabilize the
existing system as much as possible so that some real-world use cases can
be launched, before taking on a major UI refactoring. I'll write back soon
to your question about UI tests, but I think that has to be part of it too!
Thank you!!!

On Mon, Apr 8, 2019 at 2:55 PM Harshith pabbati <notifications@github.com>
wrote:

[2019-04-08 21:07] jywarren commented on #850
Oh, thanks a million, everyone, for helping solve this!!!

[2019-04-08 21:13] jywarren opened #1000 "Writing more UI tests (with guidance)"
We need more UI tests to protect and stabilize the UI behaviors of the demo, so that we know when refactors and new features break things. This will build overall stability in the system and let us do more advanced work without chasing bugs. Bugs are natural! No worries! But we can catch them before they get published using more tests.

Our UI tests can be found here: https://github.com/publiclab/

[2019-04-08 21:18] jywarren commented on #1000
For example, we should be able to input settings using something like `$('.step .step-2 input.brightness').val(24)` --

But first, we'll need to add more unique CSS classnames so that we can make calls like that in jQuery. Right now, they're too generic:

[code]

[2019-04-08 22:57] Divy123 commented on #979
@jywarren I have made some changes to the proposal to include the calorimetric issue to my proposal which I really find is a strong use case for our organisation to proceed with.
Please have a look: https://publiclab.org/notes/lit2017001/04-01-2019/soc-proposal-image-sequencer-v3-boosting-the-performance

[2019-04-08 23:29] VibhorCodecianGupta commented on #1000
I'd like to take this up. This would be kind of a quest, adding UI tests as we go deeper into implementing more features for IS. Would like to start with some basic tests

[2019-04-08 23:46] jywarren commented on #1000
:-) great! And love the idea of a test-quest! You might like this fun
project i once did:

http://pxlqst.com/test (https://github.com/jywarren/pxlqst)

On Mon, Apr 8, 2019 at 7:29 PM Vibhor Gupta <notifications@github.com>
wrote:

[2019-04-08 23:47] #516 closed

[2019-04-08 23:50] VibhorCodecianGupta commented on #1000
Nice! I'll get on with improving some tests I already wrote while setting up the UI testing harness.
Rendering of buttons and steps should be a nice starting point.

Also, apologies for shamelessly plugging in my proposal, but trying to make it as comprehensive as possible. What are the chances I'll get reviewed, should I submit one in a couple of hours? Thanks!

[2019-04-09 00:43] jywarren commented on #1000
It's very close to the deadline - we will read it for sure, but not sure if
it'll be in time to file a revision! But thank you!!!

On Mon, Apr 8, 2019 at 7:50 PM Vibhor Gupta <notifications@github.com>
wrote:

[2019-04-09 05:27] HarshKhandeparkar commented on #1000
Hi. Can someone help with the testing of the `$step` method? See #833 for reference

@publiclab/is-reviewers @jywarren

[2019-04-09 09:57] Divy123 commented on #1000
Hi Harsh! I want to work on UI testing and would love to look into!!

[2019-04-09 09:59] Divy123 commented on #833
I would like to work upon writing the UI tests for it.

[2019-04-09 10:07] HarshKhandeparkar commented on #833
Thanks! Do you need any information about it?

[2019-04-09 10:08] Divy123 commented on #833
I will be exploring a bit and then discuss here,🙂

[2019-04-09 10:20] HarshKhandeparkar commented on #833
Ok.😊

[2019-04-09 16:05] VibhorCodecianGupta commented on #1000
@jywarren again, apologies for the plug, I sent over the commentable link to my proposal to you on Gitter. My proposal on publiclab.org says I'll be notified via mail once my proposal gets published. It is way too late for reviews, but the link is on Gitter for your reference. Thanks!

[2019-04-09 16:20] irasanchez commented on #842
Hey there, may I be added to the list? I am familiar with CSS, HTML, and JavaScript (vanilla, nodejs, React) and am looking for more practice in real projects. Thanks!

[2019-04-09 16:25] Harshithpabbati commented on #842
@irasanchez you can start your contributions with this issue #951

[2019-04-11 13:39] tech4GT commented on #216
@jywarren @Mridul97 So I was trying this out and I think the initial reload we do for the pwa results in puppeteer execution context being destroyed on sequencer.publiclab.org, I think we need to work around it somehow. That was a temporary solution anyway I guess.

[2019-04-11 14:17] tech4GT commented on #216
@publiclab/is-reviewers Can someone point me to the link for dist files.
I am trying to add image-sequencer.min.js as a script on a page.

[2019-04-11 16:18] aashna27 opened #1005 "Error on dropDown modules section"
### The dropdown menu shows error when a its clicked to select a Module.
![image](https://user-images.githubusercontent.com/26546120/55973650-a8a01980-5ca3-11e9-8777-73277f0eacf5.png)

![ezgif com-video-to-gif(5)](https://user-images.githubusercontent.com/26546120/55973713-cbcac900-5ca3-11e9-853a-835fa36a226e.gif)

### Please show us where to look

https://beta.sequencer.publiclab.org

## Thank yo

[2019-04-11 16:48] aashna27 opened #1006 "Grid Overlay error"
### If we change the input values for GridOverlay, The grid, disappears.

![ezgif com-video-to-gif(6)](https://user-images.githubusercontent.com/26546120/55975653-12babd80-5ca8-11e9-9c01-a8b637109cf1.gif)

### Please show us where to look

https://beta.sequencer.publiclab.org

## Thank you!

[2019-04-11 18:35] bhavayAnand9 commented on #1005
I'm not getting this error. Can you please check if your branch is updated?
![Apr-12-2019 00-00-33](https://user-images.githubusercontent.com/34943807/55982234-22d99980-5cb6-11e9-9ac1-3c213a84882f.gif)

[2019-04-12 14:11] #990 closed

[2019-04-13 03:13] tech4GT opened #1009 "Move to webpack"
Okay so I think this can be done this summer. Since a lot of complex modules are coming up, we are bound to run into issues with browserify.
@publiclab/is-reviewers

[2019-04-13 03:20] HarshKhandeparkar commented on #1009
related https://github.com/publiclab/image-sequencer/issues/670

[2019-04-13 05:14] VibhorCodecianGupta commented on #1009
@tech4GT nice addition, this one. Would be glad to incorporate this for summers. I can start work here :)

[2019-04-13 10:10] bhavayAnand9 opened #1010 "threshold throws error if used more than once consecutively"
###
![Screenshot 2019-04-13 at 15 24 36](https://user-images.githubusercontent.com/34943807/56078016-98518100-5e00-11e9-9c69-480fcecbbc29.png)

if we use the threshold module more than once consecutively, it throws an error.

### Please show us where to look

https://beta.sequencer.publiclab.org

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank yo

[2019-04-13 22:59] jywarren opened #1012 ""Console" demo to try making meta modules"
Now that making meta modules is pretty easy, what if we made a demo where you can type in the modules at the top and then edit the map function to make your own meta module.

We could show the output below using a demo image. And eventually we could make a "Save" button which could download files that could be added to a PR to submit it to our core library. (or to some kind of gallery page!)

What

[2019-04-14 06:18] tech4GT commented on #1012
This sounds so cool! Yeah, I think we can have a collection of independent modules, where people can post both normal and meta-modules. We also already have the groundwork for this with the dynamic loading of modules.

[2019-04-14 15:13] gauravano commented on #1010
Hi @bhavayAnand9, would you like to solve this one? Thanks!

[2019-04-14 15:14] gauravano commented on #1006
Hey @aashna27, would you be solving this one? Thanks!

[2019-04-14 15:15] gauravano commented on #993
@jywarren @tech4GT thoughts?

[2019-04-14 15:18] gauravano commented on #978
We have meta tag only. Refer https://github.com/publiclab/leaflet-environmental-layers/pull/130. Also, @Divy123 would you like to work on this one?

Thanks!

[2019-04-14 15:20] aashna27 commented on #1006
Yeah sure. I ll give it a try.

[2019-04-14 15:21] gauravano commented on #1006
Great!

[2019-04-14 15:25] bhavayAnand9 commented on #1010
Yeah why not? I'll definitely look into this.

[2019-04-14 15:31] gauravano commented on #1010
Thank you!

[2019-04-14 15:44] HarshKhandeparkar commented on #993
Can this be achieved through a simple filter? Or maybe separabale filters + post processing? @tech4GT do you know anything  this?

[2019-04-14 15:45] HarshKhandeparkar commented on #993
Anything about this*

[2019-04-14 19:30] Divy123 commented on #978
Thanks Gaurav! Would love to work upon it.
Will send a PR soon.

[2019-04-15 09:16] Divy123 commented on #978
@jywarren @gauravano this is something I am going to add as a meta description.
<meta name="Description" content="Image Sequencer is an image editing tool that creates a new downloadble image at each step.It works in browser and supports both node and CLI.">
<meta name="Keywords" content="image editing downloadable browser node CLI">
What do you think upon this?

[2019-04-15 12:21] #488 closed

[2019-04-15 13:33] Divy123 commented on #978
@jywarren please have a look.
This is a small but a very important change. Would send a PR as soon as possible then.

[2019-04-15 14:14] Divy123 commented on #1009
I think we can collaborate on this @VibhorCodecianGupta .

[2019-04-15 14:15] jywarren commented on #773
Just copying in Harsh's response here:

[2019-04-15 14:17] jywarren commented on #773
I think we still need to decide if stable's git history should be kept linear or if we should do merge commits after building and adding dist files...

My feeling is that we should treat `main` as canonical and never add merge commits there. Perhaps either stable can have merge commits, or we make another branch called "dist" which is always just one commit ahead of main?

[2019-04-15 14:56] HarshKhandeparkar commented on #773
@jywarren if we want to regard npm versions as stable versions, we can create releases for each of those.

[2019-04-15 16:56] VibhorCodecianGupta commented on #1009
Sure!

[2019-04-15 16:59] VibhorCodecianGupta commented on #979
@Divy123 Could we collaborate here? This task requires breaking down into multiple issues, I think it'll speed up things this way :D

[2019-04-15 17:38] #972 closed

[2019-04-15 18:39] jywarren commented on #773
Sure -- but unfortunately, if we aren't building or tracking dist files on the master branch, then any npm version is a branch off the trunk, because it includes commits not included in the master branch.

I can imagine two ways forward:

1. we track dist files in the `main` branch, but continue to gitignore them, and have maintainers build them periodically; new PRs would not include changes to `

[2019-04-15 18:40] jywarren commented on #773
Some thoughts on this here, but i'd love to read what best practices are in another project; please share links if you can! https://gist.github.com/nzakas/7633640

We could also just look at how some other repositories are set up, like https://github.com/bevacqua/woofmark or a Leaflet library.

[2019-04-15 18:41] jywarren commented on #773
I just published to gh-pages, by the way!

[2019-04-15 18:41] jywarren commented on #773
@tech4GT sorry this is holding up publishing the new gl work to npm... love to hear your input too!

[2019-04-15 18:49] HarshKhandeparkar commented on #773
- If maintainers build dist files periodically on the main branch (as in scenario 1) it will be almost the same as pushing to stable periodically.

-  Secondly, creating a new branch/tag each time we push to npm will help others get a specific version of the library in the browser. They can install a specific version in node but if they want to do the same in the browser, they can just include the

[2019-04-15 20:58] #774 closed

[2019-04-15 23:10] #885 closed

[2019-04-15 23:12] jywarren commented on #920
We now have codecov! #1014

[2019-04-15 23:12] #920 closed

[2019-04-15 23:15] jywarren commented on #213
I wonder if we should simply rewrite the crop module as it seems a relatively simple module. Could we use the canvas resize module?

[2019-04-15 23:18] jywarren commented on #213
Related to these lines?

https://github.com/publiclab/image-sequencer/blob/6fa8b1b8808d202355f51f9e3471d2f0423d3288/src/modules/Crop/Crop.js#L17-L52

[2019-04-15 23:19] jywarren commented on #213
We can write a test around these parameters which fail... https://sequencer.publiclab.org/examples/#steps=crop%7Bx:127%7Cy:127%7Cw:266%7Ch:266%7D

[2019-04-15 23:20] jywarren commented on #213
It also looks to me like we're missing a channel in each, either no blue or no red.

[2019-04-16 03:36] VibhorCodecianGupta commented on #213
Looking into this and other relevant crop module issues.

[2019-04-16 06:13] tech4GT commented on #773
@jywarren One thing we do need to make sure is that dist files are published to npm, since gl-work relies on that.

[2019-04-16 06:14] tech4GT commented on #773
Also, I think approach 1 is much more manageable!

[2019-04-16 06:17] HarshKhandeparkar commented on #773
Why are the dist files reqd in npm?

[2019-04-16 06:18] tech4GT commented on #773
Because I used them inside puppeteer to set up Image Sequencer.

[2019-04-16 06:19] HarshKhandeparkar commented on #773
Can't it be made dynamic? Can't the ImageSequencer.js file be included using a `require()` statement?

[2019-04-16 06:40] HarshKhandeparkar commented on #773
Another problem with approach no. 1:

If someone clones the repo, the code will(most of the time) work differently in the browser than in node as the dist files will(can) be outdated. Some things can work in node whereas they may not work in browser.

@jywarren @tech4GT

[2019-04-16 07:12] tech4GT commented on #773
It would be okay Harsh since before running on localhost the files built locally anyway.
Also you can’t use require in browser context, which is why we need to have the dist script in the first place.

[2019-04-16 08:14] HarshKhandeparkar commented on #773
Ok. The dist isn't a problem. I was just asking.

I also don't mean that the dist will cause problems for the devs as they will obviously build them. If they build them, there isn't a neee to add them in the first place but that is a different case.

I am talking about users. Suppose they want to use the lib. They clone the repo and use the dist in the browser. Now it they use the same repo to use

[2019-04-16 12:10] VibhorCodecianGupta commented on #987
Looking into this and other relevant crop module issues.

[2019-04-16 16:26] HarshKhandeparkar commented on #849
I wanted everyone's thoughts on this and also wanted the devs to do a quick survey/test.
I have created a codepen. [Here](https://s.codepen.io/imnotacoder/debug/KEyYjm/VJMxxVyWZmwM) is a link to its debug mode. [Here](https://codepen.io/imnotacoder/pen/KEyYjm) is its code.

Please have a look at it, benchmark it on matrices of different sizes(it multiplies a matrix of size XbyX, rows=cols). Please

[2019-04-16 16:27] HarshKhandeparkar commented on #849
cc if the above comment
@niravaher @subhahu123

[2019-04-16 16:30] HarshKhandeparkar commented on #849
The implementation of this in IS will also be similar. I want the views of others before I open a PR.

[2019-04-16 20:05] Divy123 commented on #979
Ya sure @VibhorCodecianGupta !!

[2019-04-17 08:44] Divy123 opened #1020 "Image downloading on image click is undesirable"
### Please describe the problem (or idea)
Every time and most of the time by mistake, we click on an image it gets downloaded which is most of the time undesirable

### Solution

A download image button can be added to the panel for this purpose .

[2019-04-17 08:44] Divy123 commented on #1020
CC: @jywarren @HarshKhandeparkar

[2019-04-17 08:46] HarshKhandeparkar commented on #1020
Wasn’t it added. It was discussed

[2019-04-17 08:53] Divy123 commented on #1020
No its not added yet!
Can you point out towards the issue?

[2019-04-17 09:02] HarshKhandeparkar commented on #1020
It was a very old issue. It is probably closed now. I had discussed this with someone else as well but I don’t remember who. It was probaby harshith in his panel pr.

[2019-04-17 09:03] Divy123 commented on #1020
Ohh so I think we can continue upon this here!!

[2019-04-17 09:14] HarshKhandeparkar commented on #1020
Yes sure. Also I would request you to have a look at https://github.com/publiclab/image-sequencer/issues/849#issuecomment-483733931

[2019-04-17 10:20] HarshKhandeparkar commented on #849
Updated links to the pen:
1. [Code](https://codepen.io/imnotacoder/pen/NmyWmx)
2. [Full page view](https://s.codepen.io/imnotacoder/debug/NmyWmx/NQkzYqmjgwJA)

[2019-04-17 15:09] tech4GT opened #1021 "Webgl Distort module"
@jywarren I don't have a lot of experience with out gl based work, could you guide me a little here, I think I just need to pretty much model the fisheye-gl module right, but using `webgl-distort` npm module?

[2019-04-17 15:13] jywarren commented on #64
Merging into https://github.com/publiclab/image-sequencer/issues/1021

[2019-04-17 15:13] #64 closed

[2019-04-17 15:13] VibhorCodecianGupta commented on #1021
I'd really like to collaborate here, the `fisheye-gl` with puppeteer opened a lot of avenues. I think we can start with @jywarren 's webgl-distort repository

[2019-04-17 15:14] jywarren commented on #1021
Some notes here! https://github.com/publiclab/image-sequencer/issues/299

The key is:

Thanks both!!!

[2019-04-17 15:16] VibhorCodecianGupta commented on #1021
Nice. I'll try mocking it tonight. Hopefully, I can come up with some ideas/code. Will post here ASAP

[2019-04-17 15:20] tech4GT commented on #1021
Oh, so we need to edit webgl-distort library then?

[2019-04-17 15:22] tech4GT commented on #1021
Also, Vibhor thanks a lot!! Actually we need this fairly quickly since this is a crucial part of the new exporter system, and with my end terms coming in, I really appreciate your help!! :D

[2019-04-17 15:23] VibhorCodecianGupta commented on #1021
Let's get this done by the weekend, then? Mine start in about two weeks as well. Let's make it happen @tech4GT

[2019-04-17 15:26] tech4GT commented on #1021
Okay fist thing, we need to make the library node compatible, right now requiring it in node is not doing much for me. Then using fisheye-gl as a template let's implement the example code in the readme over at `jywarren/webgl-distort`
You can open the pr, since I would be able to push code on top of that.

[2019-04-17 15:39] tech4GT commented on #1021
Hmm, @jywarren since the script is not too long do you think maybe we can copy and paste the dist file in is source files?
Or do you think we should edit the `jywarren/fisheye-gl`??

[2019-04-17 15:42] jywarren commented on #1021
I think we should edit the library separately, but you could start by doing
it locally and we can switch to requiring it later?

On Wed, Apr 17, 2019, 11:40 AM Varun Gupta <notifications@github.com> wrote:

[2019-04-18 10:19] Divy123 commented on #1020
@jywarren what are your views here?

[2019-04-18 10:50] VibhorCodecianGupta commented on #971
Related to #780
WIP.

[2019-04-18 11:22] HarshKhandeparkar commented on #1020
I had actually done this in the Materialize renderer. The image was materialboxed. Have you seen it?

[2019-04-18 11:25] HarshKhandeparkar commented on #1020
Link to materialbox docs https://materializecss.com/media.html. We can do something similar to the current bootstrap UI or we can add click to select pixel functionality. Either one of those. I would now actually prefer the latter. Your thought?
@jywarren

[2019-04-18 11:29] Divy123 commented on #1020
@HarshKhandeparkar I think that is quite cool.
Also what do you think on adding a download button?
Sorry if I am missing something.

[2019-04-18 11:37] VibhorCodecianGupta commented on #1020
@HarshKhandeparkar is this a separate bundled library? I think we can implement the click to select pixel feature easily with the native JS canvas as well, as a separate input type, to reduce the load of an extra library

[2019-04-18 11:40] #987 closed

[2019-04-18 11:43] jywarren commented on #979
Crop fixed in #1019!!!

[2019-04-18 11:59] #458 closed

[2019-04-18 12:10] HarshKhandeparkar commented on #1020
@Divy123 img download button is ready to go :rocket:!
I was thinking of what we can do with the img when it is clicked.

@VibhorCodecianGupta Materialbox is a modified verison of lightbox. Modified in materializecss. It is used for responsize imgs. Better image preview etc. I mean that you can click on the img to enlarge, zoom into it etc. Hovering over it will add a white mask.

When I had added

[2019-04-18 12:11] HarshKhandeparkar commented on #1020
Wait I'll drop links to some screenshots/gifs

[2019-04-18 12:13] Harshithpabbati commented on #1005
I can't reproduce the issue.

[2019-04-18 12:13] HarshKhandeparkar commented on #1020
* WIP draft PR: https://github.com/publiclab/image-sequencer/pull/825
* Scroll down from here to get billions of screenshots and GIFs: https://github.com/publiclab/image-sequencer/issues/708#issuecomment-457604566

[2019-04-18 12:16] HarshKhandeparkar commented on #1005
This is probably outdated. Even I couldn't reproduce the error. I am closing this **for now**. Let's see if we get the error again. @aashna27

[2019-04-18 12:16] #1005 closed

[2019-04-18 12:17] HarshKhandeparkar commented on #1020
I think lighthox is a jQuery plugin but I'm not sure.

[2019-04-18 13:24] jywarren commented on #849
Hi, @HarshKhandeparkar ! this looks cool... are you asking to brainstorm how we can catch and prevent crashes? Sometimes webgl has a "fallback" to rebuild the context if it fails, and pick up again where it left off...

[2019-04-18 13:32] HarshKhandeparkar commented on #849
I am not facing any errors. Just wanted to see if it crashes the **browser** which **can** happen with matrix sizes > 2048 in matrix multiplication.

It want to add a threshold let's say `4000by4000` after which convolution will not take place on a directly gpu but will happen in steps instead. I.e in batches of `1000by1000` each.

All numbers are arbitrary @jywarren

[2019-04-18 13:36] HarshKhandeparkar commented on #849
Currently I am facing an error with CPU fallback as it has some texture probs etc. It is a bit confusing and complicated as the same function will work differently on cpu and gpu.

Robert plummer (maintainer of gpu js) is helping me with this. I will fix that no problem.

The codepen will be half broken right now so just benchmark matrix multiplication but not convolution. Convolution benchmark is

[2019-04-18 15:51] Divy123 opened #1023 "Display width and height of image at each step"
### Please describe the problem (or idea)

What we very casually come across is getting the dimensions of the image we are processing, so I think we can provide these details somewhere in our panel. Maybe we can provide a button which can show or hide these details as per the choice of user.

[2019-04-18 15:51] Divy123 commented on #1023
Cc: @jywarren @HarshKhandeparkar

[2019-04-18 15:53] Divy123 commented on #1021
Looks interesting!
Please count me in!!

[2019-04-18 16:02] HarshKhandeparkar commented on #1023
Perfect! I was thinking of opening this issue since day before yesterday. Strange...🤔

[2019-04-18 16:03] Divy123 commented on #979
@jywarren proceeding further with this one.
I think I can make a repo on github and make you a collaborator?
Or if we can make a repo in Public Lab?

[2019-04-18 16:33] VibhorCodecianGupta commented on #979
Cool idea. Let's have a Public Lab repo, a separate colourimetry tool.
@jywarren on your discretion, shall we collaborate?

[2019-04-18 16:34] Divy123 commented on #979
Sure, we can collaborate..

[2019-04-18 16:34] VibhorCodecianGupta commented on #1023
Let's keep an `info` glyphicon at the corner of the step UI, which is hovered/clicked upon will show the details. thoughts?

[2019-04-18 16:36] VibhorCodecianGupta commented on #1021
@Divy123 head over to the PR for the issue if you will, I could use some ideas there. Mentioned some scopes of improvement on the issue comments there

[2019-04-18 16:37] Divy123 commented on #1023
@VibhorCodecianGupta can you show some example?

[2019-04-18 16:37] jywarren commented on #1023
cool idea!!!

On Thu, Apr 18, 2019 at 12:35 PM Vibhor Gupta <notifications@github.com>
wrote:

[2019-04-18 17:18] HarshKhandeparkar commented on #1023
We don't use glyphicons so we can use the same fontawesome icon that is used for the notification API. @Divy123 @VibhorCodecianGupta?

I think a similar hover functionality is used on github somehwere but I don't remember where. Nice idea.

[2019-04-18 17:21] VibhorCodecianGupta commented on #1023
Yes, that's what I meant. I'll push some code/UI mock in a while

[2019-04-18 17:22] HarshKhandeparkar commented on #1023
Actually do we need to have the icon? Will it even be noticed?

[2019-04-18 17:23] HarshKhandeparkar commented on #1023
I think a better thing would be to just add it to the bottom of the image. Won't take a lot of space. We can also add it somewhere else in the bootstrap panel.

[2019-04-18 17:24] HarshKhandeparkar commented on #1023
What do the others think?

[2019-04-18 18:17] jywarren commented on #979
Sure, go ahead! This could also be developed as a sub-demo, at
/examples/colorimetry/, if we want to... either way!

On Thu, Apr 18, 2019 at 12:34 PM Slytherin <notifications@github.com> wrote:

[2019-04-18 18:18] VibhorCodecianGupta commented on #979
@jywarren don't think we have access to creating a repo, you'll have to do that I'm afraid.

[2019-04-18 19:25] jywarren commented on #979
Oh, ok! what shall we call it? "colorimetry" is a bit simple, but could
work... "is-colorimetry" is not so catchy...

On Thu, Apr 18, 2019 at 2:18 PM Vibhor Gupta <notifications@github.com>
wrote:

[2019-04-18 19:34] HarshKhandeparkar commented on #979
This is just the name of thr repo right? Doesn't have to be technical? Should it have the `colorimetry` in its name or can it be called something like `rainbowmetry.js`?

[2019-04-18 19:38] jywarren commented on #979
:-) yeah we can also name an "app" or "website" differently later. I like
the idea... maybe we should keep it basic until we know more about it, and
we can call it `colorimetry` for now.

On Thu, Apr 18, 2019 at 3:35 PM Harsh Khandeparkar <notifications@github.com>
wrote:

[2019-04-18 19:42] jywarren commented on #979
https://github.com/publiclab/colorimetry/settings/collaboration

On Thu, Apr 18, 2019 at 3:38 PM Jeffrey Warren <jeff@unterbahn.com> wrote:

[2019-04-18 20:10] #978 closed

[2019-04-18 20:12] #731 closed

[2019-04-18 20:51] Divy123 commented on #1023
Ok will do some work and send a PR soon!!

[2019-04-19 07:26] HarshKhandeparkar opened #1025 "Is EdgeDetect working properly?"
These are the kernels
https://github.com/publiclab/image-sequencer/blob/ec40224831de17070d7c56489de186360b4bf0ab/src/modules/EdgeDetect/EdgeUtils.js#L2-L11

Here is the convolution code
https://github.com/publiclab/image-sequencer/blob/ec40224831de17070d7c56489de186360b4bf0ab/src/modules/EdgeDetect/EdgeUtils.js#L67-L77

Here the x coordinate of the kernel is swapped with the y coordinate(i guess).

[2019-04-19 07:27] HarshKhandeparkar commented on #1025
@VibhorCodecianGupta @tech4GT if I am right, I will tix this.

[2019-04-19 07:28] HarshKhandeparkar commented on #1025
It also needs a better convolution algorithm by afding some apdding to thr original array etc.

[2019-04-19 07:28] HarshKhandeparkar commented on #1025
I have done this in my gpu.js pen.

[2019-04-19 07:36] HarshKhandeparkar commented on #849
A maintainer of GPU.js once said to me

😂

But this is true.
It could convolve a 4000x4000 array of float values with a 3x3 kernel in just 160 milliseconds 🤯🤯. I would take about 20-30 seconds for a cpu to do this.

It was benchmarked [here](https://s.codepen.io/imnotacoder/debug/NmyWmx/NQkzYqmjgwJA)

[2019-04-19 07:38] HarshKhandeparkar commented on #1025
@tech4GT I really need yout help here.

[2019-04-19 09:07] Divy123 commented on #979
@jywarren so to proceed forward with this, what I was thinking is we ca provide a UI such that it includes:
1. Load Image similar to IS
2. After loadidng image, crop module is applied automatically to the image.
3. After the image is cropped, that means as soon as the user applies the changes for the crop, average module is applied.
4. At this step we can store the red channel avg value.
5. Once t

[2019-04-19 09:23] Divy123 commented on #1010
@bhavayAnand9 are you working on it?
If not, can I proceed with it?

[2019-04-19 09:41] HarshKhandeparkar commented on #979
I can work on the UI.

[2019-04-19 09:41] HarshKhandeparkar commented on #979
I can also help with the algorithm.

[2019-04-19 09:42] HarshKhandeparkar commented on #979
I can also GPU accelerate it if needed.

[2019-04-19 09:45] HarshKhandeparkar commented on #979
If we have similar images, we can select settings for one of them using the UI, we can parallelize colorimetry on all the images including the forst one after that. Paralellization can be done on a gpu. Thoughts? @jywarren please transfer this issue to the colorimetry repo so that we can discuss there.

[2019-04-19 09:46] VibhorCodecianGupta commented on #213
Reproduced it again, @Divy123 cc @jywarren

here:
![Screen Shot 2019-04-19 at 3 15 07 PM](https://user-images.githubusercontent.com/29275810/56418923-240e5600-62b6-11e9-8499-9440184d62f4.png)

[2019-04-19 09:48] VibhorCodecianGupta commented on #979
@Divy123 there are still bugs in crop module
#213 related issue

![Screen Shot 2019-04-19 at 3 15 07 PM](https://user-images.githubusercontent.com/29275810/56419001-56b84e80-62b6-11e9-8ec4-20009a1aa837.png)

cc @jywarren

[2019-04-19 09:52] #213 closed

[2019-04-19 09:52] VibhorCodecianGupta commented on #213
fixed in #1019

[2019-04-19 10:12] bhavayAnand9 commented on #1010
Sorry, It has been a busy week, @Divy123 please go ahead.

[2019-04-19 12:14] Divy123 commented on #1010
Sure!!

[2019-04-19 12:22] Divy123 commented on #979
Ya sure @HarshKhandeparkar !!
@jywarren what are your views upon this?

[2019-04-19 16:27] jywarren commented on #773
I agree this is an issue, but we should be able to add a section to the README about it. For the version on NPM, we can (if we are rigorous) guarantee that the dist files will match the src files, and we can recommend that anyone doing a stable usage should point at NPM, not GH... what do you think?

Sorry can you elaborate on this?

Regarding "having the latest dist files in main branch" i think

[2019-04-19 16:30] VibhorCodecianGupta commented on #773
@jywarren let's get this solved before SoC begins. This is essential to avoid inconvenience. I'll get on it tomorrow, read up the discussion here and come up with something :D

[2019-04-19 16:36] #882 closed

[2019-04-19 16:36] Divy123 commented on #979
@jywarren please share  your opinion !!

[2019-04-19 16:39] HarshKhandeparkar commented on #773
I mean that we can push the dist files of each commit into an unstable branch(somehow, can this be automated?). Only stable npm version files on stable. This will be difficult but organised. @jywarren

[2019-04-19 16:44] jywarren commented on #773
@HarshKhandeparkar you mean stable and NPM wouldn't have dist files? I think we can't do that, as people really rely on dist files for downstream production work. Or do you mean we'd branch off a release branch like `v3.2.0` and publish to NPM from there each time we did that?

Like right now, because we don't track dist files at all, i would need to do a merge commit (or worse, rebase the entire

[2019-04-19 16:50] jywarren commented on #773
So summary, i think our options are:

* branch off a release branch like `v3.2.0` and publish to NPM from there each time after merging to stable
* track dist files in `main` but only build and track built versions just before merging to `stable`; stable and NPM versions will be same and include dist files

[2019-04-19 16:52] HarshKhandeparkar commented on #773
Oops not at all. I mean that we will always push dist files to npm and branch tags. What will be the latest on npm will be on stable. What will be on main will be on a new `unstable` branch but will also have dist files. This will be difficult but can be managed(maybe it can be automated?)

[2019-04-19 16:53] jywarren commented on #773
Oh ok thanks, so that is pretty close to (2) above, right?

[2019-04-19 16:55] HarshKhandeparkar commented on #773
I don't think clean git history is a requirement (in my opinion it isn't) because people(users) will only pull the stable branch, they won't care about the history, for a history they can have a look at the main branch commit history.

For managing files and npm publishes, I can create a script for you so that you can open your terminal, tyoe one command, type your username and password. Done. Wha

[2019-04-19 16:56] HarshKhandeparkar commented on #773
Not really, it is a mix of both. So I mean that we never push dist files to main.

[2019-04-19 16:57] jywarren commented on #773
Oh, so where do we build them? Maybe I don't exactly follow `What will be on main will be on a new unstable branch but will also have dist files.`. Thank you for explaining!

[2019-04-19 16:59] jywarren commented on #773
Whoa... just noting: `Downloading Chromium r641577 - 109.8 Mb [=================   ] 85% 31.4s `

since we started including puppeteer... but yeah, cool! @tech4GT so did you say this actually uses the dist files locally in `main`? I think that may be a good reason to have them in `main` as well.

[2019-04-19 17:01] HarshKhandeparkar commented on #773
We have to install pupeteer and other deps anyways. For that we use the setup script. The setup script already builds dist files.

[2019-04-19 17:03] jywarren commented on #773
Well, some people may use `npm install` but in any case, can you describe the disadvantage to having `dist` files in `main`, so we can weigh the pros and cons? Thanks!

[2019-04-19 17:05] HarshKhandeparkar commented on #773
Unstable branch(which we need to create) can hold the latest beta. We will build dist files here. After each PR, we can push to this branch. Or at least once every 2 to 3 PRs. I can semi-automate this using a script. Only barrier between fully automated and semi-automated(you will have to run the command) is authentication.

Ok. I can create a highly specialised script with different options for n

[2019-04-19 17:06] jywarren commented on #773
I use Linux but sorry @HarshKhandeparkar i just don't want to make work for you on script writing before we've come to a consensus on this. Thanks!

[2019-04-19 17:08] jywarren commented on #773
Also, shouldn't we try to write an NPM script that would be cross-platform? But i think we may be getting ahead of the goal here, which is to decide a workflow. Can you tell a bit about the disadvantages you see to including `dist` files in `main`? Thank you!!!

[2019-04-19 17:12] HarshKhandeparkar commented on #773
Ok. Pros and cons of not having dist files:(in my opinion)
| Pros |Cons |
|--------|--------|
| No conflicts | end users need to take the extra step of cloning or pulling from stable |
| There will be no version conflicts(difference in browser and node as mentioned above | devs and users have to be extra careful

We can actually manage the dist files building on main(when it is freshly pulled) by

[2019-04-19 17:15] HarshKhandeparkar commented on #773
Yes that can be done.

[2019-04-19 17:20] HarshKhandeparkar commented on #773
Pros and cons of having dist files:

### Pros
- Clone it, use it
- No need to manage extra branches

### Cons
- There can be differences in browser and node
- Dist files can confuse newcomers

[2019-04-19 17:20] jywarren commented on #773
This is really helpful. Let's hear from some others now. Thanks, Harsh!

[2019-04-19 17:21] HarshKhandeparkar commented on #773
Sure.

[2019-04-19 17:21] HarshKhandeparkar commented on #773
Majority opinion should be full and final.

[2019-04-19 17:38] jywarren opened #1029 "Clarification about JSON formats"
Hi @VibhorCodecianGupta just wondering about these two sections in the readme and any ambiguities about them:

https://github.com/publiclab/image-sequencer/blob/main/README.md#adding-steps-to-the-image

mentions using JSON and offers an example. And i was wondering how to pass in options in the JSON format, so perhaps another example of that would be great (even including a function for a module t

[2019-04-19 17:49] jywarren opened #1030 "this.stringToSteps is not a function in ReplaceImage"
Hi @VibhorCodecianGupta -- thank you SO MUCH for #787 -- i'm really excited to put it to use.

I noticed an error in `replaceImage` --

`Uncaught TypeError: this.stringToSteps is not a function`

It seems to be related to `this` scope in this segment of code:

https://github.com/publiclab/image-sequencer/blob/e7fbada71efda1f4c5912037ac90f3b86b9e4670/src/ReplaceImage.js#L43-L54

You can reproduce i

[2019-04-19 17:54] VibhorCodecianGupta commented on #1030
On it. A little help, how to reproduce this on Image Sequencer? This runs in the browser context, right? I'll solve this and #1029 in the same PR

[2019-04-19 18:04] jywarren commented on #979
I left some notes in https://github.com/publiclab/colorimetry/pull/1 that may be relevant! Let's try to stay in sync by opening a few issues over there? I think it's possible to do a bare-bones UI with an image select and a display of the 2 numbers (and the ratio maybe?), with an example image of how you should photo the test badge.

Let's build out some issues over there! Thanks!

[2019-04-19 18:06] HarshKhandeparkar commented on #979
@jywarren GitHub has a transfer issue feature. Transfer this issue there.

[2019-04-19 18:11] jywarren commented on #1030
Ah, yes. Uh, i think we can initialize a new sequencer with `s = new ImageSequencer(); s.replaceImage(...)` in the console, at least for testing. Perhaps we should create a test for it as well. Thank you!

[2019-04-19 18:12] VibhorCodecianGupta commented on #1030
I'll get it working, then. See if we can create a test case here too.

[2019-04-19 19:08] VibhorCodecianGupta commented on #979
Discussion shifted to https://github.com/publiclab/colorimetry/issues/2

[2019-04-19 19:09] HarshKhandeparkar commented on #979
Closing...

[2019-04-19 21:53] jywarren opened #1032 "Puppeteer error: UnhandledPromiseRejectionWarning: Error: Failed to launch chrome!"
The VERY exciting work in #1021 and #1007 has enabled node-based WebGL processing. However, I'm working to get it running on Google Cloud and am encountering this error there, and also running it via the `index.js` CLI, for exampe:

`./index.js -s webgl-distort -i examples/images/test.png`

yields:

[code]

I'm also trying to get it to run headless in #1031 because of an issue I found there. Any h

[2019-04-19 22:01] jywarren opened #1033 "Error in CLI parsing of options"
It seems like the `|` which separates options in the string syntax are not getting read properly, causing sequencer to think they are part of a new type of module name, perhaps? See this error below:

[code]

@VibhorCodecianGupta i know you are quite busy already but could this potentially relate to the new string parsing work? Potentially we could ask someone else to help out here as well, I don'

[2019-04-19 22:15] #459 closed

[2019-04-20 01:15] jywarren commented on #1033
Hmm, another datapoint... I opened this url, and the URL stays the same:

`https://sequencer.publiclab.org/examples/#steps=crop{x:260|y:110|w:50|h:50},average,import-image,crop{x:500|y:110|w:50|h:50},average`

But the values in the options UI don't show the url values. I'm on a phone so I can't confirm but I wonder if it's showing the same parse error for | characters?

We could write a test for t

[2019-04-20 01:16] jywarren commented on #1033
@publiclab/is-reviewers I'd love some help with this one if anyone is interested!!!

[2019-04-20 01:59] HarshKhandeparkar commented on #1033
I'll look into it tonight.

[2019-04-20 03:19] VibhorCodecianGupta commented on #1030
@jywarren I think I managed to get this working, however, I want to test it out once. The browser script should run, but is not for me, for some reason. The image having that CSS selector remains unchanged with undefined console output. Were you able to reproduce this in the console?
I don't want to push the code without proofing it first, thanks

[2019-04-20 03:37] VibhorCodecianGupta commented on #1032
- https://github.com/GoogleChrome/puppeteer/issues/3422
 - https://github.com/GoogleCloudPlatform/nodejs-docs-samples/blob/master/appengine/headless-chrome/app.js
 - https://github.com/GoogleChrome/puppeteer/issues/3424

Seems to be a recurring problem @jywarren

[2019-04-20 03:42] HarshKhandeparkar commented on #1032
Can't we use headless firefox? Is it available? Firefox is a lot more stable as compared to chromium. @VibhorCodecianGupta?

[2019-04-20 05:52] VibhorCodecianGupta commented on #1032
Puppeteer is chromium specific, it's a subproject of the Chromium project. Switching to Firefox would essentially mean switching to some other web driver like selenium. Let's try resolving this first, if it's too much of an issue, then we can see what comes next.

[2019-04-20 06:22] VibhorCodecianGupta commented on #1033
@jywarren

1. The syntax you mentioned,
[code]

This is not yet supported for the CLI syntax. We only added the support for importing input strings in a node environment. If this is desirable for other projects, shall I add it here? This and the support for JSON modules?

The currently supported syntax is
[code]

2. The syntax

[code]
works fine for me in local environment and also works fine in `

[2019-04-20 06:26] HarshKhandeparkar commented on #1032
Why don't we switch to firefox? It will fix the problems and also make it future proof. What do you say?

[2019-04-20 06:31] VibhorCodecianGupta commented on #1029
@jywarren you're right, maybe we can document this better.

I mentioned [here](https://github.com/publiclab/image-sequencer/blob/main/README.md#adding-steps-to-the-image) that IS supports string syntax and JSON. The syntax `brightness{brightness:80}` is actually closer to a stringified JSON. Perhaps we can specify that the new support allows for string syntax which includes stringified JSON? This

[2019-04-20 08:26] VibhorCodecianGupta commented on #1032
TL;DR

@jywarren from the conversation on the above-mentioned forums, it looks like it was a GCF bug which was solved. People claimed that earlier versions were working for them, like `v1.7.0` (perhaps we could try that?) but someone from the team confirmed that tests were failing, following which they fixed it.

For some reason though, we are still facing this issue. People also mentioned how som

[2019-04-20 09:17] HarshKhandeparkar commented on #1032
We actually have support for nide 6, 8, 10. I had suggested to drop node 6 support and jywarren had agreed. Should we do that?

[2019-04-20 14:46] HarshKhandeparkar commented on #849
I am working on this! :rocket:

[2019-04-21 19:21] first-timers[bot] opened #1034 "Show default cursor on hover"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-04-21 19:43] johanuribe03 commented on #1034
Claimed

[2019-04-21 19:59] HarshKhandeparkar commented on #1034
Great!

[2019-04-21 19:59] HarshKhandeparkar commented on #1034
Comment if you need any help.

[2019-04-21 20:22] johanuribe03 commented on #1034
Thanks!

[2019-04-21 20:34] johanuribe03 commented on #1034
So the "diff" was done already, right?

[2019-04-21 20:34] johanuribe03 commented on #1034
So the "diff" was done already, right?

[2019-04-21 20:35] HarshKhandeparkar commented on #1034
No. You have to do what the diff tells you to do. You have to add what is
in green.

On Mon 22 Apr, 2019, 2:04 AM johanuribe03, <notifications@github.com> wrote:

[2019-04-21 20:36] johanuribe03 commented on #1034
oh ok I thought I had to delete the .name-header class as well

[2019-04-22 11:48] HarshKhandeparkar commented on #216
We are getting help from @robertleeplummerjr in using `headless-gl`
@tech4GT @jywarren @Divy123 @publiclab/is-reviewers

[2019-04-22 12:13] robertleeplummerjr commented on #216
I don't have a ton of time I can offer, already on borrowed, but I can look into getting the fisheye project running on headless-gl, and then we can connect the dots backwards to this project, so it can be loaded in.  Does that sound reasonable?

[2019-04-22 15:10] jywarren commented on #216
Wow that is very generous, thank you! We are very interested in this bc our `puppeteer` based approach (running a whole headless Chrome) is not very efficient. We would /love/ to work with whatever you can figure out and work to generalize a narrow case.

For what it's worth, this is another WebGL module we use that has simpler parameters (four corner coordinate pairs): https://github.com/jywarren

[2019-04-22 18:03] HarshKhandeparkar commented on #993
I created this by mistake

![edge-detect](https://user-images.githubusercontent.com/34770591/56515986-f4ca4400-6556-11e9-82fa-16587063f3da.png)

Does it look like a pencil sketch? @gauravano @Harshithpabbati @publiclab/is-reviewers @jywarren

[2019-04-22 18:04] HarshKhandeparkar commented on #993
Anyone would be surprised to know that it only contains pure black or pure white pixels, no intermediate

[2019-04-22 18:11] Harshithpabbati commented on #993
@HarshKhandeparkar lets make a trail invert it :)

[2019-04-22 18:13] Harshithpabbati commented on #993
May be invert module makes it to look more like a sketch module.

[2019-04-22 18:16] HarshKhandeparkar commented on #993
It is actually edge detect

[2019-04-22 18:19] Divy123 commented on #1032
@HarshKhandeparkar I also think due to some dependencies and other features we may add in future do not work on node v6, it can be dropped!

[2019-04-22 18:22] Divy123 commented on #1020
@HarshKhandeparkar what's the progress in this one?

[2019-04-22 18:24] HarshKhandeparkar commented on #1020
@VibhorCodecianGupta?

[2019-04-22 18:25] HarshKhandeparkar commented on #1032
great!

[2019-04-22 18:26] Harshithpabbati commented on #993
Yeah I know.

[2019-04-22 18:31] HarshKhandeparkar commented on #993
I created it by mistake when I was finding opportunities for GPU accelerating edge-detect.

[2019-04-22 18:37] Harshithpabbati commented on #993
May be you can open a pr this will improve the edge detect module.

[2019-04-22 18:48] HarshKhandeparkar commented on #993
How will this improve edgeDetect?

[2019-04-22 18:50] Harshithpabbati commented on #993
It's edge detect module right?

[2019-04-22 18:50] Harshithpabbati commented on #993
Didn't you change anything in it?

[2019-04-22 18:50] HarshKhandeparkar commented on #993
I did remove gaussian blur from it

[2019-04-23 09:01] HarshKhandeparkar commented on #993
@Harshithpabbati I tried to reproduce the same img but I am not able to. I forgot what I had done yesterday :sweat_smile:. Sorry.

[2019-04-23 10:32] HarshKhandeparkar commented on #993
Ok new plan:
1. Turn the image to greyscale(colormap)
2. Run some kind of a filter over it to get this effect.(convolution)

[2019-04-24 07:29] aashna27 opened #1039 "Code consistency with ESLint and Husky"
To ensure that our commits and code-base remains consistent which makes understanding easier for the new contributors as well as the regular ones.

[2019-04-24 07:30] HarshKhandeparkar commented on #1039
Let's add it along with babel and webpack

[2019-04-24 07:30] HarshKhandeparkar commented on #1039
#1009 #670

[2019-04-24 07:35] aashna27 commented on #1039
Yeah, cool I ll add it.

[2019-04-24 07:36] aashna27 commented on #1039
Also those are really cool additions.

[2019-04-24 09:26] Divy123 commented on #1009
I would like to start working on this one. I don't have much experience with webpack but want to learn.
Can I proceed @tech4GT @jywarren ?

[2019-04-24 10:01] Divy123 commented on #1039
I think @aashna27 @aashna27 that we should let it remain an issue in itself. The webpack issue is a big one which may take time, so inspite of loading all of the things at one place, we should do it here itself.

In my opinion, we should break the problems into small not collect it at a place. Many issues are related in IS but that does not mean to make them one.

[2019-04-24 10:06] HarshKhandeparkar commented on #1039
I meant that we should keep track of what is happening in the other issue and work on them by syncing our work. Webpack, Babel, ESLint, all are related together, for e.g. webpack and babel are run together. So if we make progress in one of the issues, it has to be compatible with the others. I didn't mean to combine the issues but instead synchronize them if that makes sense. @Divy123

[2019-04-24 10:12] aashna27 commented on #1039
Yeah yeah, there wouldn't be any combination of solutions, but refering is just to relate things. That's all.

[2019-04-24 10:17] Divy123 commented on #1039
Ah ok got your point. Actually got confused with this:

I think keeping them in sync is very cool!!

[2019-04-24 10:18] Divy123 commented on #1039
@aashna27 can we collaborate here?

[2019-04-24 10:18] Divy123 commented on #1009
@HarshKhandeparkar can we collaborate here?

[2019-04-24 10:26] HarshKhandeparkar commented on #1009
I am not really working on this, I think Vibhor is.

[2019-04-24 10:30] Divy123 commented on #1009
@VibhorCodecianGupta are you working on this?

[2019-04-24 10:31] aashna27 commented on #1039
@Divy this is something really new for me, so I would prefer working it all by myself, so that I learn more, but if I have any problems I would surely let you know. Thanks a lot.

[2019-04-24 10:40] Divy123 commented on #1039
Sure @aashna27. Please feel free to ask in case you need any help.

[2019-04-24 22:11] robertleeplummerjr commented on #216
If I use headlessgl like this:
[code]

And in fisheyegl, if I force the flow to use the pixels lib mentioned above, and I change [line 157](https://github.com/jywarren/fisheyegl/blob/89d28f0dee943681192a708b59c076e3d5854652/src/fisheyegl.js#L175) from:
[code]
to:
[code]

I believe it works.

Here is the full diff I did:

[code]

[2019-04-24 22:12] robertleeplummerjr commented on #216
You'll notice I only had an image size of 1x1 above, so not a practical solution, but proof you can load in the pixels.

[2019-04-24 22:50] jywarren commented on #1030
Hmm, so, can you show the solution you've got in a PR? I can try testing it, or if you want to download https://publiclab.github.io/leaflet-tile-filter/ and point it at your modified version, to confirm, that'd work too.  Thanks!

[2019-04-24 23:16] jywarren commented on #1033
Hmm, you're right that the colorimetry use case is working on gh-pages. Thanks!

Also, I think i was wrong that the CLI is the cause of issues in gcloud, thanks for clarifying. I jumped to conclusions about this error:

https://github.com/publiclab/image-sequencer-app/issues/6#issuecomment-485018092

So, while we can leave the CLI issue open because we /should/ solve it, the more urgent thing is t

[2019-04-24 23:17] jywarren opened #1040 "`Module 101|ne:1023 not found.` potentially erroring on | character in step parameters"
In working on this: https://github.com/publiclab/image-sequencer-app/issues/6#issuecomment-485018092

I got this error about not being able to parse parameters for the `webgl-distort` module:

`Module 101|ne:1023 not found.`

Full error here:

[code]

[2019-04-24 23:17] jywarren commented on #1033
OK, moved here with more specifics! https://github.com/publiclab/image-sequencer/issues/1040

[2019-04-24 23:20] jywarren commented on #1029
I guess perhaps we should think about running /everything/ through the same auto-identifier of syntax, and not having different ways JSON works. The string syntax is, indeed, intended to be similar to simplified JSON, but we skipped `:` and `,` to make it more compact in URLs.

I think the main thing is we should provide more full examples of the JSON that's accepted. Then we can look at where and

[2019-04-25 04:38] HarshKhandeparkar commented on #216
Wow! Thanks @robertleeplummerjr
@jywarren @tech4GT @VibhorCodecianGupta @Divy123

[2019-04-25 17:02] Divy123 commented on #1040
@jywarren can you please provide some description here.

[2019-04-25 17:07] VibhorCodecianGupta commented on #1040
It's related to #1033 , working on it. will update as soon as i find a fix

[2019-04-25 17:34] Divy123 opened #1042 "Add Code Climate"
This issue intends to add code climate.
Thoughts @jywarren ?

[2019-04-25 17:35] Divy123 commented on #1042
If looks good, I would like to proceed..

[2019-04-25 17:53] jywarren commented on #1042
I think that's be great. Thanks!

On Thu, Apr 25, 2019, 1:36 PM Slytherin <notifications@github.com> wrote:

[2019-04-25 18:03] jywarren commented on #1040
Indeed it's related, im actually not sure exactly what's happening, but I
would guess maybe it's splitting on the wrong character in the parameters
for webgl-distort?

On Thu, Apr 25, 2019, 1:08 PM Vibhor Gupta <notifications@github.com> wrote:

[2019-04-25 18:51] Sanscripter commented on #951
Hey, can I claim this issue?

[2019-04-25 18:52] Harshithpabbati commented on #951
Yeah you can. :)

[2019-04-26 14:54] teisenhower opened #1044 "'Select A Module' Dropdown - css width property"
The width of the dropdown containing the modules is set to a `vw` value in the css. This results in the dropdown growing and shrinking depending on the width of the browser window. Causing it to extend beyond where it should covering up the "Add Step" button.

I was able to fix this by removing the `width: 24vw;` from `.selectize-input`

This code lives in `examples->selectize.default.css` and the

[2019-04-26 19:40] #1006 closed

[2019-04-26 21:26] jywarren commented on #1044
Oh, this is great! So, does the solution then scale to multiple widths?
this is indeed something I've been hoping we can fix. Thank you!

On Fri, Apr 26, 2019 at 10:54 AM welcome[bot] <notifications@github.com>
wrote:

[2019-04-26 21:48] teisenhower commented on #1044
Of course! Happy to help out!

The simple solution of just removing that width property outlined above won't enable it to scale to different widths, it'll be locked to whatever other css is setting the width. However, we could absolutely implement another solution that allows the width to be dynamic while still containing it to fit within the box and not overlap the button. If that's what you're l

[2019-04-26 23:20] Sanscripter commented on #951
@Harshithpabbati Hey I made the change to the html but when I run it locally, even after I `grunt build` , the stays the same. Is there something I'm missing about the process?

[2019-04-27 04:16] Harshithpabbati commented on #951
Can you share a screenshot.?

[2019-04-27 10:20] Divy123 opened #1045 "Many redundant parameters in the code drastically increasing code readability and reliability"
There are two many parameters in the code base which are not of any use but present redundantly.

Example : In defaultHtmlSequencer.js file, addStepSelect is never coming from any options yet
present like this:
`var addStepSel = options.addStepSel = options.addStepSel || "#addStep";`

Also many variabless like this.

This is a long term issue which is not meant to be closed soon. Since the code ba

[2019-04-27 10:20] Divy123 commented on #1045
@jywarren @tech4GT

[2019-04-27 14:10] teisenhower commented on #1044
Hey!

Here is something I worked up if you did want multiple widths. This involves altering the CSS a little bit and also changing some of the Bootstrap column classes in the index. But this will allow the "Select A Module" dropdown and "Add Step" button to scale depending on the width of the browser window.

---

## Full Browser
(large breakpoint)
![Full](https://user-images.githubusercontent.com

[2019-04-27 18:29] Divy123 opened #1046 "Making code-base contain more comments"
Note: **We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

We can add more and more comments to the existing code base for making it more and more new contributors friendly.

This issue requires adding more comments to various files un