[2018-04-23 15:56] tech4GT commented on #200
@jywarren And yeah metamodule should surely have every function a normal module has.. I'll keep that in mind 👍

[2018-04-24 15:53] jywarren commented on #122
@ccpandhare @tech4GT I've consolidated some ideas for simplification above -- I think this could really dramatically simplify things! It could be like:

[code]

So then it'd be:

[code]

Or if we automatically pass the format (allowing it to be overwritten?):

[code]

What do you think?

[2018-04-24 21:00] tech4GT commented on #122
@jywarren This looks amazing!!! Also I'll start making an issue for summer checklist, I'll link this there as well. Thanks 😁

[2018-04-24 21:25] jywarren commented on #215
I like the "timeline view" idea -- cool!

[2018-04-24 21:34] jywarren commented on #200
So for `metaModule.import(string)` it would read a string, and construct the metamodule based on that string. For a sequencer, it could reconstruct a sequence from the string passed to `sequencer.import(string)`. Sorry, not that we would import new modules like Dynamic, but just that we'd import a sequence of modules which had been saved as a string.

So like we could then do:

[code]

Make sense?

[2018-04-24 22:00] tech4GT commented on #200
@jywarren Yes!! This is very clear to me now. Thanks a ton for the explanation.
[code]
But I think this won't work as it is, since this line would assign metaModule to a step, and then calling .toString() will be calling toString on a step.
Instead what we can do is:
[code]
How does this sound @jywarren

[2018-04-24 22:08] tech4GT commented on #200
@jywarren Option 2:  Actually sequencer.importString( MetaModuleString ) feels more natural to me than anything else, also I was thinking if we define functions on the metaModule itself then we would have to wrap it up in an object but if we keep the import on sequencer then metaModule can be just a String.
Thanks :)

[2018-04-25 19:32] jywarren commented on #200
I think this is partly a matter of paradigm. We could, in theory, build `.toString()` into each step -- i mean, it's an instance of a module, right? Can you explain about having to wrap it in an object?

Thanks!!!

[2018-04-26 02:38] tech4GT commented on #200
@jywarren Yeah that's right, it's an instance of a module but it feels kind of unnatural that we are doing
[code]
Here we assign a step into the metaModule variable.
Then where we import the metaModule, I want to ask one thing, Does the metamodule appear as an option in the list of modules to chose from or it gets applied right away??
Aah it's so difficult to explain this on text, It'll be so cool

[2018-04-28 20:48] jywarren opened #222 "Add "color bar" look-up table option to Colormap module"
![image](https://user-images.githubusercontent.com/24359/39400665-fe0fad9e-4b02-11e8-8eb4-0c1de9796d64.png)

Let's:

1. [ ] rename the `segmented-colormap` module to simply `colormap` and
2. [ ] get it to optionally overlay a 0-100% reference color bar to show the color mapping we're using, as in the above example

The first version need not show the numeric range, which currently would be only 0-

[2018-04-28 20:48] jywarren commented on #222
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/publiclab/image-sequencer/issues/52 (segmented-colormap module), https://github.com/publiclab/image-sequencer/issues/157 (Add a Contrast module), https://github.com/publiclab/image-sequencer/issues/97 (Add module options to CLI), https://github.com/publiclab/image-sequencer/issues/158 (Add a Saturation Module),

[2018-04-28 20:56] jywarren commented on #222
Here's a good reference for how to convert a `min` and `max` value into a colorbar using a colormap function like we have:

https://github.com/publiclab/infragram/blob/eb9fc19f993616caf9aa0311f7468d33c4529253/src/processors/javascript.js#L135-L154

`colorbar` could in fact be its own module which we call from here -- accepting an `x,y` location to draw the colorbar and the `min,max` and `colorize(

[2018-04-28 20:59] jywarren commented on #215
Hmm, interesting -- looking ahead, does this simplification involve "simply" (lol) removing these lines of code?

https://github.com/publiclab/image-sequencer/blob/4d75fb9640f9f5ddf9e05ad451a2672a2bd85cb5/examples/demo.js#L171-L200

[2018-04-28 21:03] tech4GT commented on #215
@jywarren I and mayank have decided to plan for the summer tomorrow, it would be great if you can join us. We can discuss all the major points..

[2018-04-28 21:37] jywarren opened #223 "(upcoming) Add "post to PublicLab.org" button to embeddable demo"
We should embed Image Sequencer's browser version on PublicLab.org, and have a `Save` button that lets people post their image as a note. Example code to test this out would be:

[code]

Then press the "submit" button -- although we'd do this in JavaScript instead of course.

It might also be tested out using a small image:

https://publiclab.org/post?legacy=true&i=data:image/jpeg;base64,/9j/4AAQS

[2018-04-28 21:38] jywarren commented on #223
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/publiclab/image-sequencer/issues/142 (Add select dropdown for some module UIs in demo), and https://github.com/publiclab/image-sequencer/issues/215 (Refine/simplify "add module" interface in demo).

[2018-04-28 21:55] tech4GT commented on #223
@jywarren this sound awesome 👍👍

[2018-04-28 21:59] jywarren commented on #215
Oh, tomorrow may be difficult -- what time? I'm usually more free during the week. But I can try!

Can you use  http://www.inyourowntime.info/ ?

[2018-04-28 22:01] tech4GT commented on #215
@jywarren what will be the best suited time for you, I can adjust since it's my holiday?

[2018-04-28 22:01] jywarren commented on #209
This now works!! https://github.com/publiclab/image-sequencer/pull/221

[2018-04-28 22:01] #209 closed

[2018-04-28 22:02] jywarren commented on #210
Solved, thank you @marzann !!!

If you're interested in tackling another one, we'd be happy to help you find something interesting!!

[2018-04-28 22:02] #210 closed

[2018-04-28 22:08] jywarren opened #225 "Color separation module"
This could probably be a meta-module or a dynamic module -- the ability to "extract" just one color from an image, to be able to do things like this eventually:

https://www.instagram.com/p/Bhcuh8QntX5/

[2018-04-28 22:26] jywarren commented on #212
We could likely integrate this into the "load-image" starter-module -- https://github.com/publiclab/image-sequencer/blob/master/src/LoadImage.js

We might actually merge the "drop zone" in demo.js with the load-image module, because it could show an example image but also say `drag in a new image to begin`.

[2018-04-28 22:29] tech4GT commented on #212
@jywarren that makes a lot of sense!! Great find!!

[2018-04-28 22:40] #215 closed

[2018-04-29 04:14] tech4GT commented on #215
@jywarren that is totally doable😃👍

[2018-04-29 08:34] tech4GT commented on #211
closing in favor of #217

[2018-04-29 08:34] #211 closed

[2018-04-29 15:00] marzann commented on #210
@jywarren, thank you. :) I will look over the open issues. Also, if you could recommend a new contributor issue, that would be great.

[2018-04-29 15:07] tech4GT commented on #210
@marzann have a look at #140 , it's again an issue related to the demo so you should feel comfortable with it. Best of luck👍

[2018-04-29 15:08] tech4GT commented on #210
You can see the cli syntax in the documentation,😄

[2018-04-29 15:10] tech4GT commented on #210
You know what would be cool, a button that says view cli command and it alerts the user with the syntax when pressed. Excited!!

[2018-04-29 15:26] jywarren commented on #215
Awesome will u be meeting in chatroom?

On Sun, Apr 29, 2018, 12:15 AM Varun Gupta <notifications@github.com> wrote:

[2018-04-29 15:26] tech4GT commented on #215
@jywarren what do you suggest? I was thinking hangouts?

[2018-04-29 15:27] marzann commented on #222
@jywarren, could you include a webpage link where the color bar would be added?

[2018-04-29 15:31] tech4GT commented on #215
@jywarren mayank and I are ready, whenever you say😄

[2018-04-29 15:32] jywarren commented on #215
I'm in a noisy place actually, I'm sorry - maybe I can join for a bit on
chat and you all can continue in video...

On Sun, Apr 29, 2018, 11:27 AM Varun Gupta <notifications@github.com> wrote:

[2018-04-29 15:33] tech4GT commented on #215
@jywarren actually mayank also cannot video call today so we all are on chat

[2018-04-29 15:36] tech4GT commented on #215
@jywarren what is your hangouts email??

[2018-04-29 16:19] tech4GT opened #227 "PLANNING ISSUE"
discussed on 29th April 2018

Original proposal: https://publiclab.org/notes/tech4gt/02-19-2018/gsoc-proposal-image-sequencer-v2-processing-on-steroids

New projects:
* [x] meta modules - Meta Modules (node): https://github.com/publiclab/image-sequencer/pull/203
* [x] meta modules in browser (should be possible to do both at once?)

Planning issues (see https://publiclab.org/notes/warren/01-18-201

[2018-04-29 16:37] jywarren commented on #222
Like, the button or link which would cause it to be generated? Sorry, maybe
I don't quite understand? Thank you!!!!

On Sun, Apr 29, 2018 at 11:27 AM, Marzanna <notifications@github.com> wrote:

[2018-04-29 18:12] marzann commented on #222
I would like to confirm 2 items:
1) the file to work on
2) the page url to test it  :)

[2018-04-29 18:13] marzann commented on #210
I will look this over, thank you for the suggestion. :)

[2018-04-29 19:34] marzann commented on #210
@tech4GT, could you give me more details for #140?
Would the button be for https://publiclab.github.io/image-sequencer/examples/#steps=ndvi-red,segmented-colormap?
Would the button go next to Choose file, and next to Add Step?

[2018-04-29 19:36] tech4GT commented on #210
Actually I was thinking maybe we can incrementally build this after each step and keep on adding into it

[2018-04-29 19:38] tech4GT commented on #210
For example if I apply invert then I'll get the button next to inverted image and then I apply green channel so next to final image I'll get the button which gives the syntax for the whole sequence before it which is ivert then green channel

[2018-04-29 19:40] tech4GT commented on #210
@marzann does that make sense?

[2018-04-29 20:27] marzann commented on #210
@tech4GT, yes it does make sense.
Could you give me more details on the implementation?

[2018-04-29 20:36] tech4GT commented on #210
Yeah, I think we can modify the html that gets generated by sequencer and add the button there and then use js to set its js to alert the cli syntax on getting clicked, how does that sound?

[2018-04-29 21:32] jywarren opened #228 "(multiple) Optimize code based on CodeClimate recommendations"
CodeClimate shows a lot of possible improvements that could be made to this codebase. We don't have extremely high test coverage, but we can tackle these optimizations one by one, and many are suitable for [first-time contributors](https://publiclab.github.io/community-toolbox/#r=all)!

[CodeClimate issues](https://codeclimate.com/github/publiclab/image-sequencer/issues?category=complexity&engine_

[2018-04-29 21:33] jywarren commented on #228
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @tech4GT.

[2018-04-29 23:02] jywarren opened #229 "follow-up refinements to crop image selection UI"
After #214 we may want to circle back to further refine the "drag to crop" workflow and UI, including:

* [ ] adding an `Edit crop` button to redefine the crop area
* [ ] potentially switch over to one of these better-maintained image selection libraries:

* https://www.npmjs.com/package/image-crop-element
* https://www.npmjs.com/package/image-area-selector
* https://www.npmjs.com/package/jquery-s

[2018-04-29 23:02] jywarren commented on #229
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @ccpandhare.

Possibly related issues are https://github.com/publiclab/image-sequencer/issues/5 (image cropping module), https://github.com/publiclab/image-sequencer/issues/205 (add "drag to crop" UI feature to Crop module), https://github.com/publiclab/image-sequencer/issues/85 (Rework UI Handling), https://gi

[2018-04-29 23:30] jywarren commented on #200
I think a metamodule could be used in two ways:

1. most important -- as a way to generate/instantiate a module from a sequence-string
2. as a module you can choose in the UI, supplying it a sequence-string as a parameter

They're pretty similar, you know, but does this make sense?

[2018-04-29 23:32] jywarren commented on #200
One advantage of building `toString()` and `importString()` into the module itself is that you could "reprogram" a metamodule, and also because the code for all of this could live in the module itself, rather than in the sequencer core, which seems cleaner. Sequencer doesn't even really need to know how it works, you know?

[2018-04-29 23:32] jywarren opened #230 "Add test coverage monitoring via CodeClimate"
I believe this is needed? https://libraries.io/npm/codeclimate-test-reporter

[2018-04-29 23:32] jywarren commented on #230
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/publiclab/image-sequencer/issues/51 (More Testing), https://github.com/publiclab/image-sequencer/issues/27 (add fisheyegl module), https://github.com/publiclab/image-sequencer/issues/157 (Add a Contrast module), https://github.com/publiclab/image-sequencer/issues/138 (Add a Dithering module), and https://github.

[2018-04-30 15:19] tech4GT commented on #210
@marzann sorry for this but jeff is actually refactoring the code in demo.js so I think we should get back to this once that’s done so that we don’t break anything in the process. I apologise if you had already started working on this!!

[2018-04-30 16:32] marzann commented on #210
Thank you for the heads up. If after the refactoring this issue is still open, let pick it up from here.

[2018-04-30 19:26] jywarren commented on #190
Just updating here that we talked a little about this being `sequencer.importModule(moduleName)` rather than `bind()` -- for clarity! Awesome!

[2018-04-30 19:28] jywarren commented on #190
Actually once this is completed, we can refactor how modules are loaded in, here: https://github.com/publiclab/image-sequencer/blob/2abf0fae0967342153ba6098d4af056d5873b538/src/ImageSequencer.js#L40

to iterate through that list and use `importModule()` for each one.

[2018-04-30 19:28] jywarren opened #231 ""Save as module" button on Dynamic module"
![screen shot 2018-04-30 at 2 36 49 pm](https://user-images.githubusercontent.com/24359/39445826-52a14c2c-4c8a-11e8-9962-6c383d152a76.png)

I used the Dynamic module to generate a unique filter, and thought "this would be nice to save as a module in its own right, for others to use". Sounds like a good way to generate a new module. Could this work as part of #200 meta modules, or #190 module impor

[2018-04-30 19:29] jywarren commented on #231
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @tech4GT.

Possibly related issues are https://github.com/publiclab/image-sequencer/issues/108 (Math Module), https://github.com/publiclab/image-sequencer/issues/201 (Allow easier access to neighboring pixels in Dynamic module), https://github.com/publiclab/image-sequencer/issues/112 (Scale module), https://git

[2018-04-30 23:35] marzann commented on #210
That sounds good. Thank you both!

[2018-04-30 23:45] jywarren commented on #140
Here, so what we could do is to make a function that could try to read through all the steps and settings, and assemble a CLI string from them. The CLI syntax is here:

https://github.com/publiclab/image-sequencer#cli-usage

The CLI also can take multiple steps at once, like so:

[code]

But for this, double quotes must wrap the space-separated steps.

Options for the steps can be passed in one li

[2018-05-01 15:18] jywarren opened #232 "Various demo UI fixes - checklist"
Small but helpful list of tweaks we could break out into first-timers-only issues! (once the demo refactor is done (#214)

* [x] Disable/dim the `Save` button until step inputs have been changed
* [x] Disable/dim the `Add step` button until a module is selected
* [x] Show a `Press save to see changes` next to each step's `Save` button
* [x] Add a `download` button at the bottom, in a panel next to

[2018-05-01 15:23] jywarren opened #233 "Add an "import image" module"
A module that fetches a remote image via URL (or data URL) and overlays it on the canvas (at a given `x, y, w, h` ?)

Based on the initial load image code:

https://github.com/publiclab/image-sequencer/blob/master/src/ui/LoadImage.js

Plus the UI code from the demo for selecting an image: https://github.com/publiclab/image-sequencer/blob/master/examples/lib/imageSelection.js

This should allow sel

[2018-05-01 15:46] marzann commented on #140
@jywarren thank you, I will look over your notes on this!

[2018-05-02 19:54] jywarren opened #234 "Ability to identify image type without URL filetype"
I tried running Image Sequencer (in bookmarklet mode) on a Google map page on MapKnitter.org --

https://khms1.googleapis.com/kh?v=798&hl=en-US&x=38213&y=49619&z=17

This is a jpg (i think , but maybe png) -- but i get:

[code]

Can we identify images using mime-type or something? Or at least fallback to jpg if you don't detect anything?

[2018-05-02 19:54] jywarren commented on #234
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @ccpandhare.

Possibly related issues are https://github.com/publiclab/image-sequencer/issues/19 (Filetype extraction), https://github.com/publiclab/image-sequencer/issues/5 (image cropping module), and https://github.com/publiclab/image-sequencer/issues/116 (Image overlay module).

[2018-05-02 20:12] jywarren commented on #4
Yay this is now possible!

Go here and drag the NDVI bookmarklet into your bookmarks bar: https://publiclab.org/wiki/imagesequencerbookmarklet#NDVI

Then go here: https://publiclab.github.io/Leaflet.DistortableImage/examples/

and click the bookmarklet!

[2018-05-03 15:27] jywarren opened #237 "Explore OpenCV.js module"
Let's start by attempting to include OpenCV.js and do some simple operation with it:

https://docs.opencv.org/3.4.1/dd/d4d/tutorial_js_image_arithmetics.html

Thanks @abtest-123 -- https://publiclab.org/notes/amirberAgain/01-12-2018/python-and-opencv-to-analyze-microscope-slide-images-of-airborne-particles#c19541

[2018-05-03 22:37] jywarren opened #241 ""RangeError: Maximum call stack exceeded" error on replaceImage() on Macs"
Confusing! Some computers (older Macs, so far -- 2008 and earlier) show a `Maximum call stack exceeded` error when running `sequencer.replaceImage()` -- you can test it by pressing `NDVI` on this page:

https://mapknitter.org/maps/palmyra-cove-nature-park-dredge-cell-monopod

(please don't mess with the images on that page, other than pressing that button)

Any ideas?

Full error:

[code]

It says

[2018-05-04 03:14] jywarren commented on #241
Looks like it only affects Macs -- Chrome and Safari both!

[2018-05-04 12:51] jywarren opened #242 "Step API - various utility functions for modules and UIs to reference step state"
While working on #214 I realize there are a lot of common needs that one has when writing a module or a UI. Writing a complex interface/module is a great way to discover what extra utility methods we really need to make life easier for module developers.

Let's make a list, and we can work to add them as we go -- this is a list of standard values or functions we should make available both to a giv

[2018-05-04 13:00] jywarren opened #243 "Create reprogrammable WebGL shader module"
If we manage #216 to make WebGL runnable on Node.js, or even if not, I was thinking about the speed of Infragram.org/sandbox?webgl=true and how it can do live video compositing. There are a few ways to do this --

Infragram is pretty clever; it inserts a `shader.frag` [WebGL script](https://github.com/publiclab/infragram/blob/master/dist/shader.frag) into an element on the DOM as a template, and t

[2018-05-04 13:02] jywarren commented on #122
Just a note that I created #242 -- but to distinguish:

Make sense?

Sorry to do all this fun stuff while you're in exams! I won't have as much time in the future, so I'm getting a bunch of things "set up" for when you start. Good luck, Varun!

[2018-05-04 13:08] tech4GT commented on #122
@jywarren I was just reading #242, all of it makes complete sense, thanks😃

[2018-05-04 18:31] jywarren opened #246 "Begin building the default UI in core or in image-sequencer-ui package"
Take a look at https://github.com/publiclab/image-sequencer/pull/245 to see the new organization of the default HTML ui --

We should consider spinning that out into part of ImageSequencer core, or a new NPM package called `image-sequencer-ui`!

Connected to https://github.com/publiclab/image-sequencer/issues/232 (ui fixes) and #197

[2018-05-04 18:32] jywarren commented on #197
Lot of this just completed in #245! Checked off. Tracking more in #246 and assoc.

[2018-05-04 18:32] jywarren commented on #205
Complete in #245!!!

[2018-05-04 18:32] #205 closed

[2018-05-05 02:47] jywarren opened #247 "grid of thumbnails showing step options in addStep ui"
We could generate a tiny thumbnail of the final image and run 5 or so of the most popular or useful modules, showing very low res previews of what they'd look like. Sort of like in Instagram!

(Low priority but fun, also dependent on a scale module)

[2018-05-05 02:48] jywarren commented on #247
![screenshot_20180504-224813](https://user-images.githubusercontent.com/24359/39659015-4756e8a2-4fed-11e8-8a62-4a65c735657a.png)

[2018-05-05 02:58] jywarren commented on #116
Related to #233

[2018-05-07 14:05] jywarren commented on #241
Whoa -- this looks like it could be it?

[code]

https://stackoverflow.com/questions/23508847/uncaught-rangeerror-maximum-call-stack-size-exceeded-in-chrome-on-osx-mavericks#27769111

We probably concatenate a LOT when doing pixel math. But why in this instance and not when using ReplaceImage on images in, for example, the bookmarklets? The bookmarklets only operate on 256x256px images, as I've us

[2018-05-07 14:06] jywarren commented on #241
Explanation maybe?

[code]
https://stackoverflow.com/questions/18308700/chrome-how-to-solve-maximum-call-stack-size-exceeded-errors-on-math-max-apply

[2018-05-07 14:08] jywarren commented on #241
It also looks like `Math.max` may be a culprit... ugh?

[2018-05-07 14:09] jywarren commented on #241
Could try from: https://stackoverflow.com/questions/18308700/chrome-how-to-solve-maximum-call-stack-size-exceeded-errors-on-math-max-apply

[code]

[2018-05-07 14:10] jywarren commented on #241
Should be able to: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/fromCharCode

[2018-05-07 14:11] jywarren commented on #241
@ccpandhare -- sorry, just trying to understand this line -- was there a reason to `.apply(null ...)`? Can we just use it directly?

[2018-05-07 14:12] jywarren commented on #241
This looks more and more like an image size limitation!

[2018-05-07 14:13] jywarren commented on #241
aha - here's v similar code: https://stackoverflow.com/a/20048852/1116657

[2018-05-07 14:14] jywarren commented on #241
Great, and a solution -- generating it in chunks:

[code]

[2018-05-07 14:33] jywarren commented on #241
Tried this in https://github.com/publiclab/image-sequencer/pull/248

[2018-05-07 14:46] #241 closed

[2018-05-07 16:12] jywarren opened #250 "Add step.toString() and sequencer.toString() methods"
Breaking this out of https://github.com/publiclab/image-sequencer/issues/200 --

Based loosely on:

https://github.com/publiclab/image-sequencer/blob/cbbfbff4bc14f494c423867cc4572b001c5c3c4d/examples/lib/defaultHtmlSequencerUi.js#L30-L37

and discussion from https://github.com/publiclab/image-sequencer/issues/200

Much discussion of how to implement per-step options in https://github.com/publiclab

[2018-05-07 16:13] jywarren commented on #200
This has many parts now -- i'm going to start breaking it up by making a new one for a `toString()` method:

https://github.com/publiclab/image-sequencer/issues/250

[2018-05-07 16:15] jywarren opened #251 "Proposal: restructure to sequencer.steps instead of sequencer.images.image1.steps"
Breaking out from #250:

Does this make sense?

[2018-05-09 15:52] jywarren opened #254 "Suppress progress bars in tests"
This may be a dual issue - i see a lot of piling up of progress bars when running `npm test` -- but not sure if this is because multiple bars are running at once in tests, or what. But in general i think we should suppress progress bars in tests, does this make sense?

![image](https://user-images.githubusercontent.com/24359/39825269-669c30c4-537f-11e8-877b-3fa4b59fcd40.png)

[2018-05-09 15:59] tech4GT commented on #254
@jywarren oh I see yeah, I'll have the progress bars suppress on running tests. This makes complete sense!!

[2018-05-09 16:00] tech4GT commented on #254
@jywarren infact we can disable progress bars in Dev environment and have them show up only in production

[2018-05-09 17:30] jywarren commented on #233
started with generic image selector in https://github.com/publiclab/image-sequencer/pull/253

[2018-05-09 17:30] jywarren commented on #246
started with generic image selector in https://github.com/publiclab/image-sequencer/pull/253

[2018-05-09 17:30] jywarren commented on #116
merging into #233 !

[2018-05-09 17:30] #116 closed

[2018-05-10 16:10] jywarren commented on #127
So in summary, we should run the URL hash through a new `sequencer.import()` type command, and implement options-setting as part of the standard "command string" syntax which this `import()` reads. Changing title to match this!

[2018-05-10 18:42] jywarren commented on #232
Here's where the Save button is made:

https://github.com/publiclab/image-sequencer/blob/630eb773de712873d6323eb86275fadb2b802fc1/examples/lib/defaultHtmlStepUi.js#L94-L96

We can use the same kinds of selectors to modify it, add more text, change the styling -- using Bootstrap styles:

https://getbootstrap.com/docs/3.3/css/

[2018-05-10 18:42] jywarren commented on #140
Hi, @marzann -- we've gone ahead and merged in the new demo code - in #214 -- a big change! Demo code is now in `/examples/lib/____.js`. Maybe one of these would be interesting to try?

https://github.com/publiclab/image-sequencer/issues/232

Take a look!

[2018-05-21 05:29] ccpandhare opened #260 "Blur module producing a black 'border' at the top and bottom"
## Example Image
![Example Image](https://user-images.githubusercontent.com/20787612/40291921-aa173118-5ce5-11e8-811a-1eae9485c681.png)
## Example Image Blurred
![Example Image Blurred](https://user-images.githubusercontent.com/20787612/40291929-b792debe-5ce5-11e8-8e34-093bacbd0546.png)

Is this the intended behaviour of the algorithm or is this a bug?

[2018-05-21 05:30] jywarren commented on #260
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @jywarren.

Possibly related issues are https://github.com/publiclab/image-sequencer/issues/177 (Add a Gaussian Blur module), https://github.com/publiclab/image-sequencer/issues/108 (Math Module), https://github.com/publiclab/image-sequencer/issues/112 (Scale module), https://github.com/publiclab/image-sequence

[2018-05-22 10:04] #254 closed

[2018-05-23 15:45] jywarren opened #261 "Set of smaller issues for Run() and AddStep/InsertStep"
* [ ] rename `Run()` parameters to be a bit easier to follow (instead of "ref", "json_q", something descriptive)
* [ ] reduce redundancy of `AddStep` and `InsertStep` -- `AddStep` should be a more specific use of `InsertStep` and largely use the same code but just have a position (at the end of the sequence) hard-coded

[2018-05-23 20:51] tech4GT opened #262 "Add Tests for getStep function"
Add the following tests for the API function getStep which gets the previous steps

- [x] Test for the the blend module

- [x] once we have meta modules, we could pass in a module which has a callback build into its draw method, and confirm that the callback gets called with a correct value for some `getStep()` output.
- [x] Remove these lines https://github.com/publiclab/image-sequencer/blob/09c4

[2018-05-23 20:52] jywarren commented on #262
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @jywarren.

Possibly related issues are https://github.com/publiclab/image-sequencer/issues/51 (More Testing), https://github.com/publiclab/image-sequencer/issues/230 (Add test coverage monitoring via CodeClimate), https://github.com/publiclab/image-sequencer/issues/27 (add fisheyegl module), https://github.com

[2018-05-24 20:08] jywarren commented on #233
Solved in #263 !!!

[2018-05-24 21:18] #233 closed

[2018-05-24 21:21] jywarren commented on #242
Made lots of small edits to this - worth looking over, @tech4GT !! Thanks!!

[2018-05-24 21:22] tech4GT commented on #242
@jywarren going through this now😀

[2018-05-24 21:39] jywarren opened #266 "getStep may return wrong step when used in the non-final step?"
I'm using images from here: https://publiclab.org/notes/warren/12-24-2010/ndvi-test-lima-peru

I started here: https://publiclab.github.io/image-sequencer/examples/

Then added: `importImage`, `blend`, and `ndvi` -- i left default settings for all three.

What i see is that once I add `ndvi` the `blend` step seems to only fetch the previous step, not the original image. See this gif:

![ndvi](http

[2018-05-24 21:40] jywarren commented on #266
[GitMate.io](https://gitmate.io) thinks a possibly related issue is https://github.com/publiclab/image-sequencer/issues/150 (Using GitMate).

[2018-05-24 21:44] tech4GT commented on #266
@jywarren looking into this now!!

[2018-05-24 21:49] jywarren commented on #266
Awesome! The test images i linked to are really helpful. We are looking to get the black and white version as output!

[2018-05-24 21:52] jywarren opened #267 "Drag zone listeners get confused in ImportImage UI"
Try opening this: https://publiclab.github.io/image-sequencer/examples/#steps=import-image,blend,ndvi

And dragging an image into the very first `load-image` step.

What I see is that the wrong image is replaced:

![replace-image](https://user-images.githubusercontent.com/24359/40515527-2e5054f4-5f7b-11e8-8be5-b0c0581fcfbb.gif)

I think we need to make the selectors more specific on these lines:

[2018-05-24 21:53] jywarren commented on #267
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @tech4GT.

Possibly related issues are https://github.com/publiclab/image-sequencer/issues/205 (add "drag to crop" UI feature to Crop module), https://github.com/publiclab/image-sequencer/issues/85 (Rework UI Handling), and https://github.com/publiclab/image-sequencer/issues/229 (follow-up refinements to crop i

[2018-05-24 22:04] jywarren commented on #137
This could be reworked along the lines of #242 -- a clear API you can use when writing UIs.

[2018-05-24 23:12] tech4GT commented on #266
@jywarren After some research here are the results
We are calling the module from within the addStep function and there is a variable(function) getStep defined  in the addStep scope which we wish to pass on to the module.
There are 3 ways we can do this
- Input parameter: pass as a parameter, we do not want to do this
- this: Using `this` of the function scope we can bind getStep and the data it o

[2018-05-28 04:27] tech4GT commented on #267
@jywarren on it!!😃

[2018-05-28 05:33] #266 closed

[2018-05-28 16:25] jywarren opened #269 "Prior steps need not re-run when a new module is added or deleted"
In the demo, I see the entire sequence being re-triggered when a module is added or deleted.

We should only have to run the final new step, if a new one is added, and if one is deleted, only the steps after it. Let's look at the logic and if we need to make `run()` accept a parameter like `sequencer.run(startIndex)` we can do that.

[2018-05-28 16:26] jywarren commented on #269
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/publiclab/image-sequencer/issues/27 (add fisheyegl module), https://github.com/publiclab/image-sequencer/issues/138 (Add a Dithering module), https://github.com/publiclab/image-sequencer/issues/157 (Add a Contrast module), https://github.com/publiclab/image-sequencer/issues/158 (Add a Saturation Module), and htt

[2018-05-28 16:27] tech4GT commented on #269
@jywarren Actually I also noticed this while working on the getStepApi, but this would call for some major changes in demo architecture or even in the architecture of the sequencer itself, I would suggest we keep this long term, what say?

[2018-05-28 16:29] jywarren commented on #127
Here's the current implementation of `importStepsFromUrlHash()` which could be generalized into a `sequencer.importSteps(string)`:

https://github.com/publiclab/image-sequencer/blob/1de72d7325cfa8ea1ab38ba8f5f5b1c75e31195f/examples/lib/defaultHtmlSequencerUi.js#L12-L23

Hope that helps!!!

[2018-05-28 16:30] jywarren commented on #70
This is addressed in https://github.com/publiclab/image-sequencer/pull/77

[2018-05-28 16:31] tech4GT commented on #127
@jywarren thanks😀

[2018-05-28 16:32] jywarren commented on #250
Here's where we're adding new steps to the URL hash string, which is similar although this code is not that flexible. With the new `sequencer.toString()` we could just replace the URL hash with the complete string the sequencer produces:

https://github.com/publiclab/image-sequencer/blob/1de72d7325cfa8ea1ab38ba8f5f5b1c75e31195f/examples/lib/defaultHtmlSequencerUi.js#L42-L45

[2018-05-28 16:33] tech4GT commented on #250
@jywarren I completely get this!! Awesome!!

[2018-05-28 16:37] jywarren commented on #267
Once this bug is fixed, we should be able to use this sequence to do NDVI with 2 images, with no extra configuration!

https://publiclab.github.io/image-sequencer/examples/#steps=import-image,blend,ndvi,colormap

Although with #127 we'll be able to add some configuration, something like:

https://publiclab.github.io/image-sequencer/examples/#steps=import-image:{ url:'/example.png'},blend:{},ndvi:{

[2018-05-28 16:39] tech4GT commented on #267
@jywarren Sorry I was busy will college stuff all day, I'll start working on this in 20-30 mins, Thanks

[2018-05-28 16:44] jywarren commented on #267
no problem, just running this around in my head today and wanted to help get these properly linked together!

[2018-05-28 16:45] tech4GT commented on #267
@jywarren This is a big help, I have a roadmap in my mind now, I think we can get all of this done by next week. Les's see, I'm optimistic!!!😀

[2018-05-28 22:46] tech4GT commented on #250
@jywarren should I move onto this or complete all the functions of #242 ??

[2018-05-28 22:50] jywarren commented on #250
Yes, let's shift to this for the time being. Thanks! Thisll let us do the
string configuration in the URL and such. Very useful!

On Mon, May 28, 2018, 6:47 PM Varun Gupta <notifications@github.com> wrote:

[2018-06-01 15:02] tech4GT opened #274 "ability to pass loadImage starting image path through URL parameters"
Maybe we can do something like #steps=loadImage(url:"pathToImage"),invert().....

[2018-06-01 15:03] tech4GT commented on #274
@jywarren I would love to hear your thoughts ons this, like this a particular sequence on a particular image can also be shared through the url

[2018-06-01 15:04] jywarren commented on #274
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @jywarren.

Possibly related issues are https://github.com/publiclab/image-sequencer/issues/234 (Ability to identify image type without URL filetype), and https://github.com/publiclab/image-sequencer/issues/5 (image cropping module).

[2018-06-01 15:28] jywarren commented on #274
Yes this is a perfect use of the string format!!!!

[2018-06-01 15:30] tech4GT commented on #274
@jywarren let's add this to core work milestone!!

[2018-06-01 15:43] jywarren commented on #274
Great. I think this could be done as part of importimage, if we figure out how to use that module as the starting module, maybe? Importimage accepts a url parameters.

[2018-06-01 15:44] tech4GT commented on #274
@jywarren Yeah that sounds reasonable!!

[2018-06-01 16:02] jywarren commented on #127
Once we get to this, we'll want to have a number of tests which show how it can be used. For example, let's have a test which begins with just one module, then use a string like `invert,importImage(url:"dir/example.jpg"),ndvi` and then confirm that the sequencer has those steps `invert`, `importImage`, `ndvi` - and that `importImage` has correctly received the URL. We could show tests for each typ

[2018-06-01 16:04] tech4GT commented on #127
@jywarren Got it!! This makes total sense!!

[2018-06-03 16:11] #250 closed

[2018-06-03 16:28] jywarren opened #277 "add sequencer.importString()"
This is a small one but we can now use this code:

https://github.com/tech4GT/image-sequencer/blob/ac183205f0e30015d1c273359e2d6ee7cede7538/examples/lib/defaultHtmlSequencerUi.js#L17-L20

as a built-in sequencer function called `importString()`, right?

[2018-06-03 16:29] jywarren commented on #277
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/publiclab/image-sequencer/issues/250 (Add step.toString() and sequencer.toString() methods), https://github.com/publiclab/image-sequencer/issues/157 (Add a Contrast module), https://github.com/publiclab/image-sequencer/issues/138 (Add a Dithering module), https://github.com/publiclab/image-sequencer/issues/113 (

[2018-06-03 16:29] jywarren commented on #200
We should now be able to implement metamodules using `sequencer.importStringtoJson()`!! from #276

[2018-06-03 16:30] jywarren commented on #127
Should we make a pure-json variant or hold off on this for now?

[2018-06-03 16:42] tech4GT commented on #200
This is great!! @jywarren but we need to keep a discussion session before implementing this

[2018-06-03 16:45] tech4GT commented on #127
@jywarren I think after doing this only one function makes sense `sequencer.importStepsfromJSON()` since after importing the steps sequencer.toString() can be used to produce the string.

[2018-06-03 16:47] tech4GT commented on #127
this function can basically serve as a wrapper around adding multiple steps defined in an array with their options
This will also complete the architecture we originally decided

[2018-06-03 16:52] jywarren commented on #127
but why not `importStepsFromString()`? I'm thinking about if we take the
entire URL hash and pass it to a single function, you know?

On Sun, Jun 3, 2018 at 10:47 AM, Varun Gupta <notifications@github.com>
wrote:

[2018-06-03 16:53] jywarren commented on #200
OK! Can you write out your questions here? Maybe this issue needs a little
clean-up as we discuss, too. Thanks!

On Sun, Jun 3, 2018 at 10:42 AM, Varun Gupta <notifications@github.com>
wrote:

[2018-06-03 16:59] tech4GT commented on #200
@jywarren Sure I'll gather everything we have discussed so far and write questions tomorow after fixing the run optimization.
Thanks Good night!!😁

[2018-06-03 17:00] tech4GT commented on #127
@jywarren I don't understand, do we want to stringify JSON?

[2018-06-03 17:01] tech4GT commented on #127
I mean the current ImportStepsfromString() imports these steps right?

[2018-06-03 17:01] jywarren commented on #200
good night!

On Sun, Jun 3, 2018 at 10:59 AM, Varun Gupta <notifications@github.com>
wrote:

[2018-06-03 17:03] jywarren commented on #127
oh, wait -- let me see. the API has changed a lot in the past week!

[2018-06-03 17:04] tech4GT commented on #127
@jywarren I'll list it so we have a sequencer.toString() which takes the currents steps and outputs them as a string, then we have a sequencer.importStepsFromStringtoJson(string) which takes a stringified sequence and returns the steps as json.

[2018-06-03 17:07] tech4GT commented on #277
@jywarren Exactly!!

[2018-06-03 17:09] jywarren commented on #127
Oh, wait - no that's ok, no need for `importStepsFromStringtoJson` - i just don't see a `sequencer.importStepsfromJSON()` -- going from, say, a URL hash directly to steps. It's exactly the function the excerpted demo code does. The code we have already in the core is only to JSON, not to instantiated steps. I just want one more simple function that gets you all the way in a single function -- how

[2018-06-03 17:11] jywarren commented on #127
Yikes sorry too many function names flying around. Edited the above to mean `importStepsFromString()`

[2018-06-03 17:11] tech4GT commented on #127
@jywarren that is a great idea!!
what we can do is that we can have a importString function which internally calls the sequencer.toJSON function(basicall we change the current importStepsfromStringtoJson to sequencer.json)

[2018-06-03 17:12] tech4GT commented on #127
@jywarren I got this!! Don't worry I have a pretty good idea of what we need now

[2018-06-03 17:12] tech4GT commented on #127
I 'll do some refactoring and then post all the final function names and what they do here

[2018-06-03 17:13] jywarren commented on #127
OK! One thing that may help is to move all of the import/export functions into a separate source file called `io.js` or something? Our main source file ImageSequencer.js is getting a bit long, and we have a whole set of inter-related functions we could put in their own file, right?

[2018-06-03 17:14] tech4GT commented on #127
@jywarren Good idea!! I'll do that too!!

[2018-06-03 17:14] jywarren commented on #127
But isn't it very late there? No need to do this now, just thinking about next steps!!!

[2018-06-03 17:14] tech4GT commented on #127
working on this now!!

[2018-06-03 17:15] tech4GT commented on #127
@jywarren No problem this will only take a couple of minutes

[2018-06-03 17:49] jywarren opened #278 "Module not found error in demo"
https://publiclab.github.io/image-sequencer/examples/#steps=import-image,blend,ndvi,colormap is returning `Module  not found.` -- not sure why. Looking...

[2018-06-03 17:50] jywarren commented on #278
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @tech4GT.

Possibly related issues are https://github.com/publiclab/image-sequencer/issues/145 ("reader is not defined" error on demo), https://github.com/publiclab/image-sequencer/issues/3 (CORS Image error on GitHub hosted demos), https://github.com/publiclab/image-sequencer/issues/142 (Add select dropdown fo

[2018-06-03 17:53] tech4GT commented on #278
@jywarren the url is not correct, The current format is channel(channel:green),invert() like this

[2018-06-03 17:54] jywarren commented on #278
So then https://publiclab.github.io/image-sequencer/examples/#steps=import-image(url:0),blend(blend:function(r1%2C%20g1%2C%20b1%2C%20a1%2C%20r2%2C%20g2%2C%20b2%2C%20a2)%20%7B%20return%20%5B%20r1%2C%20g2%2C%20b2%2C%20a2%20%5D%20%7D),ndvi(filter:red),colormap(colormap:fastie)

OK - so because we're splitting on both comma and `(`, that's broken previous saved sequences, that's not good. I think we h

[2018-06-03 17:54] tech4GT commented on #278
@jywarren Oh I got it!! Fixing this now!! Sorry my bad!!

[2018-06-03 17:55] jywarren commented on #278
Since we're now URL-encoding the functions, we can go back to splitting on `,` alone, and then:

* if there are no configurations specified OR
* the config is the default

then we can leave out the configs?

[2018-06-03 17:55] jywarren commented on #278
No problem! I guess we should've added more thorough tests... when we write the `importStepsFromString()` method we can more fully test that and catch things like this 😄

[2018-06-03 17:56] jywarren commented on #278
The quickest fix right now should just be to switch to `,` separation, i think? We can do the other default-sensitive stuff as a follow-up.

[2018-06-03 17:56] jywarren commented on #278
To preserve this usage: https://publiclab.org/notes/warren/05-30-2018/use-image-sequencer-for-ndvi-plant-analysis-with-2-images

[2018-06-03 18:01] tech4GT commented on #278
@jywarren I am getting an error loading the monarch image but this is working fine!!

[2018-06-03 18:02] jywarren commented on #278
really? did you not see the error I saw?

[2018-06-03 18:04] jywarren commented on #278
I think we need to change this line:

https://github.com/publiclab/image-sequencer/blob/871453b857b80a89e51819b0cb68324ef18a403e/src/ImageSequencer.js#L226

[2018-06-03 18:04] jywarren commented on #278
I can do it if it's too late at night?

[2018-06-03 18:04] tech4GT commented on #278
<img width="408" alt="screen shot 2018-06-03 at 11 33 24 pm" src="https://user-images.githubusercontent.com/25617855/40889581-ac5202f4-6786-11e8-95fe-a3b2155c412f.png">
@jywarren I think this is working fine but the image is not being loaded

[2018-06-03 18:08] jywarren commented on #278
Are you sure you're in the right branch? On the link that I shared at top, it doesn't even load the steps.

[2018-06-03 18:12] tech4GT commented on #278
@jywarren got the problem!!

[2018-06-03 18:13] tech4GT commented on #278
https://publiclab.github.io/image-sequencer/examples/#steps=import-image(url:https%3A%2F%2Fpubliclab.github.io%2Fimage-sequencer%2Fexamples%2Fimages%2Fmonarch.png),blend(blend:function(r1%2C%20g1%2C%20b1%2C%20a1%2C%20r2%2C%20g2%2C%20b2%2C%20a2)%20%7B%20return%20%5B%20r1%2C%20g2%2C%20b2%2C%20a2%20%5D%20%7D),ndvi(filter:red),colormap(colormap:fastie)

Hit this url and for now please enter the path h

[2018-06-03 18:13] jywarren commented on #278
I wrote a test for this -- see https://github.com/publiclab/image-sequencer/pull/279

[2018-06-03 18:13] tech4GT commented on #278
and click save, it should work

[2018-06-03 18:14] jywarren commented on #278
I don't believe the monarch.png issue is blocking, although we should separately solve it -- it doesn't stop https://publiclab.github.io/image-sequencer/examples/#steps=import-image,blend,ndvi,colormap from running though!

[2018-06-03 18:15] tech4GT commented on #278
@jywarren the `()` are essential!!

[2018-06-03 18:15] tech4GT commented on #278
please use them after every step they are essential!!

[2018-06-03 20:28] jywarren commented on #278
Fixed in #279 ! Thanks Varun!

[2018-06-03 20:28] #278 closed

[2018-06-03 20:30] jywarren opened #281 "Skip writing defaults into toString"
So if the step settings match the defaults, let's not write them into the `toString` output. That way we can keep it pretty short.

For example in https://publiclab.github.io/image-sequencer/examples/#steps=import-image,blend,ndvi,colormap

Now we have #278 fixed, when you click that, it correctly loads all the steps, BUT the URL quickly gets really long due to the defaults getting saved into it.

[2018-06-03 20:32] jywarren commented on #281
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @tech4GT.

Possibly related issues are https://github.com/publiclab/image-sequencer/issues/169 (ability to write metadata into exif tags), and https://github.com/publiclab/image-sequencer/issues/250 (Add step.toString() and sequencer.toString() methods).

[2018-06-03 20:59] jywarren commented on #278
Part of the solution was to substitute `|` pipe characters for the commas when inside of the step settings, so:

`#steps=invert,crop(x:1|y:0|h:10|w:10)`

[2018-06-03 22:28] jywarren commented on #274
In `importImage` -- https://publiclab.github.io/image-sequencer/examples/#steps=import-image(url:https://publiclab.org/i/25043.jpg),blend,ndvi,colormap this doesn't seem to be working, although basic parameters DO get pulled in -- not sure why!

https://publiclab.github.io/image-sequencer/examples/#steps=ndvi(filter:blue),colormap(colormap:fastie) does work, for example!

[2018-06-03 22:29] jywarren commented on #274
Perhaps we should also offer a few more example images in a dropdown -- this could be a follow-up issue to this one!

[2018-06-03 22:57] jywarren commented on #223
This should now work because https://github.com/publiclab/plots2/pull/2675/ was resolved!

[2018-06-04 02:14] tech4GT commented on #274
@jywarren the bug lies in importImage I'll fix that no prblem

[2018-06-06 23:28] tech4GT opened #284 "Shorten long URLs"
Since the urls can get very long we can optionally short these urls but currently nor service can support a url with an entire image's data in it

[2018-06-07 00:12] jywarren opened #285 "Colorbar generation module"
That generates a color bar to overlay on an image (useful in showing scales with the `colormap` module) -- this could start by mapping pixel `x` values to a gradient from 0 to 100% brightness, then run the `colormap` module on it, then overlay this image at some location on another image.

This might take a few more new modules -- or something like the `blend` module but that overlays an image at

[2018-06-08 18:03] tech4GT commented on #127
This is done now closing!!

[2018-06-08 18:03] #127 closed

[2018-06-08 18:09] tech4GT commented on #159
@jywarren we just got Native support for worker threads in node.js!!🎉

[2018-06-08 18:09] tech4GT commented on #159
We can now implement this natively!!!

[2018-06-08 18:10] tech4GT commented on #159
@ryzokuken Am I right? We are looking to run the image processing calculations on a different thread in both browser and node, so we can now just implement it in node and will browserify handle it for the browser?

[2018-06-08 18:11] jywarren commented on #127
Did we want to break out any follow up steps like a pure json style string
type? Or anything else?

Esp not including settings if they match the defaults? Or do we have one
open for that already?

Great!!!!!

On Fri, Jun 8, 2018, 2:04 PM Varun Gupta <notifications@github.com> wrote:

[2018-06-08 18:11] jywarren commented on #159
Whoa.... link? Cool!

On Fri, Jun 8, 2018, 2:09 PM Varun Gupta <notifications@github.com> wrote:

[2018-06-08 18:12] tech4GT commented on #127
@jywarren we have it already!!😁

[2018-06-08 18:13] #269 closed

[2018-06-08 18:14] tech4GT commented on #159
https://github.com/nodejs/node/pull/20876#issue-189524671

[2018-06-08 18:15] jywarren opened #286 "get settings updates in demo to only run() from current index"
Using the new version of Run!

[2018-06-08 18:15] jywarren commented on #286
Actually I realized the new Run is a major version update because we've broken the previous version of Run. Can you also bump a major version?

[2018-06-08 18:18] tech4GT commented on #286
@jywarren I think I did this in it too!! I did update the demo to run from current index on save and addstep, run from 0 when page is visited!!

[2018-06-08 18:18] tech4GT commented on #286
bumping major version though!!

[2018-06-08 18:18] tech4GT commented on #286
@jywarren Also can we putout a tweet about the sequencer 2.0 this is so exciting!!!!!

[2018-06-08 18:20] jywarren commented on #286
:-)))

On Fri, Jun 8, 2018, 2:19 PM Varun Gupta <notifications@github.com> wrote:

[2018-06-08 18:22] tech4GT commented on #286
Awesome!! Closing this via #287

[2018-06-08 18:43] tech4GT commented on #286
@jywarren what issues are you facing specifically??

[2018-06-08 18:44] jywarren commented on #242
yes, i agree!

Anything to add here that we've learned is useful?

On Fri, Jun 8, 2018 at 2:24 PM, Varun Gupta <notifications@github.com>
wrote:

[2018-06-08 18:46] jywarren commented on #286
I added a set of 3 invert operations, and when i delete the middle one, the
last one doesn't re-run. I think we should be able to write a test for this
sort of thing... but for now, manually testing it showed some
inconsistencies like this.

On Fri, Jun 8, 2018 at 2:43 PM, Varun Gupta <notifications@github.com>
wrote:

[2018-06-08 18:49] tech4GT commented on #286
@jywarren hmm this wierd, I just tried it and It worked

[2018-06-08 18:56] tech4GT commented on #286
@jywarren are we serving the right files??

[2018-06-08 18:56] jywarren commented on #286
Try opening this locally and then deleting the `invert` step:
http://localhost:8000/examples/#steps=import-image(url:%2Fexamples%2Fimages%2Fmonarch.png),saturation(saturation:0.5),channel(channel:green),invert()

On Fri, Jun 8, 2018 at 2:49 PM, Varun Gupta <notifications@github.com>
wrote:

[2018-06-08 18:57] jywarren commented on #286
ER wait! Deleting the "channel" step i mean! The Invert step is then
unaffected for me?

On Fri, Jun 8, 2018 at 2:56 PM, Jeffrey Warren <jeff@unterbahn.com> wrote:

[2018-06-08 18:58] tech4GT commented on #286
@jywarren looking into this now!!

[2018-06-08 18:59] tech4GT commented on #286
Ah small error!! found it!!

[2018-06-08 19:48] tech4GT commented on #286
@jywarren should we now publish to npm??

[2018-06-08 20:34] jywarren commented on #286
I already did!!!

On Fri, Jun 8, 2018 at 3:48 PM, Varun Gupta <notifications@github.com>
wrote:

[2018-06-08 20:43] #286 closed

[2018-06-09 15:52] tech4GT commented on #242
@jywarren can you please explain the first and second point in step? what do we exactly mean by having it as soon as its calculated and passed??

[2018-06-11 14:31] jywarren opened #290 "drag/drop error on 1st step of demo"
I tried uploading an image to the demo in gh-pages and got an error... a no module error, in https://publiclab.github.io/image-sequencer/examples/#steps=import-image,blend,ndvi,colormap

Can you check on this Varun? Thanks!!!

[2018-06-11 14:48] tech4GT commented on #290
Working on this now!!

[2018-06-11 14:50] jywarren commented on #242
Just that it would be nice to, from inside the step, be able to refer back to the untouched original input image, and, after it's been run once, to the current (or most recent) output (for example to see if our calculated output is different from last time it was run?).

[2018-06-11 14:54] tech4GT commented on #242
@jywarren Oh okay I got it so we can have functions like
[code]
but I still don't get the second point, do we want to have the outputs stored in an array, each time the step is run?

[2018-06-11 15:10] jywarren commented on #242
I think the output is less needed. In theory you can ask the next step for
its input.

On Mon, Jun 11, 2018 at 10:54 AM Varun Gupta <notifications@github.com>
wrote:

[2018-06-11 15:12] tech4GT commented on #290
@jywarren go it!! Small bug in demo.js

[2018-06-11 15:14] tech4GT commented on #242
So @jywarren should I not do the second one?

[2018-06-11 15:16] jywarren commented on #242
Yeah, i guess so, at least not for now. This is a kind of "wishlist" so we
can identify the most helpful items to implement in our first more
formalized Step API.

On Mon, Jun 11, 2018 at 11:15 AM Varun Gupta <notifications@github.com>
wrote:

[2018-06-11 15:25] #290 closed

[2018-06-11 15:30] tech4GT commented on #242
Oh i got it!! Actually i was seeing in terms of progress percentage of the core work milestone so we can implement the ones we need right now and then maybe remove this from the core work and keep breaking out separate issues out of this as we need them, what say?

[2018-06-11 16:05] tech4GT commented on #242
@jywarren Can you please help me with that? I think we should handle UI later with the rest of the UI improvements so leaves us with step, can you please mark the ones we should do in step?

[2018-06-11 16:16] jywarren commented on #242
I re-ordered them - I agree about the UI ones -- and otherwise i think the output src is really the only one we can leave for later. It won't even be too hard if you can get access to the next step, and it's input.

[2018-06-11 16:16] jywarren commented on #242
UI ones are nice to break out into a separate issue -- all related

[2018-06-11 18:31] tech4GT opened #292 "Crop Module changes in a sequencer are not persisting"
https://publiclab.github.io/image-sequencer/examples/#steps=crop,invert here if crop is changed and image is saved the changes do not take place

[2018-06-15 16:21] jywarren commented on #242
Hi, for the listeners, I guess I am thinking of ways that in the step setup, you could create functions that would run upon specific triggers. We currently do this as part of the UI for some steps, but you could imagine this happening in the step itself for non-UI reasons too, perhaps?

https://github.com/publiclab/image-sequencer/blob/master/src/ui/UserInterface.js

Maybe events for `onUpdate` fo

[2018-06-15 17:04] tech4GT commented on #242
@jywarren yeah this could make sense for when options are updated and when the module is removed maybe, I think we should implement this separate from the UI api, since UI api handles events on sequencer and this new api will handle events on the module itself!!

[2018-06-15 19:44] #122 closed

[2018-06-18 18:18] tech4GT commented on #200
@jywarren I have been thinking about this and I think best way to tackle this would be having a registerMetaModule function that takes a sequence string and this would add this new meta-module to a json file "meta-modules.json" and image sequencer would have a reload-modules function which would load modules and meta-modules again. This is also consistent with the dynamic modules idea and I think

[2018-06-19 04:10] tech4GT commented on #159
@ryzokuken can you please guide me a little here
Thanks

[2018-06-21 15:14] tech4GT commented on #190
Started core work on this in #294

[2018-06-21 19:15] #261 closed

[2018-06-22 07:41] tech4GT opened #297 "Named Exports"
Ability to define the directory, name and extension of the images that will be exported.

[2018-06-22 07:51] tech4GT opened #298 "Create a sample module repository"
I think we can make a sample repository(dynamic module) so that someone looking to make a module can clone the repository, write their custom code and be done!! Basically this way we can eliminate the boilerplate code a user has to copy through the documentation

[2018-06-22 07:52] tech4GT commented on #298
@jywarren What do you say? Kind of like how grunt provides a sample plugin repository that you can clone to get started with writing a plugin.
This should be taken up after #294 is accepted and we have a fix structure for how an independent module will look like

[2018-06-22 12:13] jywarren commented on #298
Love this!!!

On Fri, Jun 22, 2018, 3:53 AM gitmate[bot] <notifications@github.com> wrote:

[2018-06-27 20:19] jywarren opened #299 "Ability to distort an image with 4 corner points (perspective distortion)"
https://github.com/publiclab/Leaflet.DistortableImage allows distortion of images using 4 points, in the browser.

(https://github.com/jywarren/webgl-distort produces a distorted image and could be integrated as a webgl-only module -- see https://github.com/publiclab/image-sequencer/issues/64)

We could implement this kind of "drag four corners" interface as an HTML UI, backed with a distortion li

[2018-06-27 20:26] jywarren opened #300 "Automated feature detection (and matching) - long-term"
Let's not think too much about this YET - but one add-on feature we could add to this feature for image distortion (#299) would be a way to automatically examine 2 images and find how they ought to overlap. This has several steps:

1. finding interest points in 2 images
2. matching interest points between 2 images
3. calculating the corner transformations required to use the matches (if any) to pe

[2018-06-27 21:01] jywarren commented on #234
So, I think the issue was that the file URL didn't end in `.jpg` or `.png` -- but simply resolved to a file with such an ending. So the URL couldn't be used to fetch the format. I think we could try to determine it with mime type, or maybe the fallback you linked to in #296 would be a good start? But if there's an efficient way to do it, we could refactor `GetFormat` to be able to detect file type

[2018-06-27 21:16] tech4GT commented on #234
@jywarren I was thinking we start off with this and build it up

[2018-06-27 21:46] jywarren commented on #234
+1!

On Wed, Jun 27, 2018 at 5:16 PM Varun Gupta <notifications@github.com>
wrote:

[2018-06-28 14:44] tech4GT commented on #234
@jywarren I have been reading up on this and it seems to me even if we are able to do this, it will be async and we would have to refactor our calling code to use callbacks instead of returning the value

[2018-06-28 14:45] tech4GT commented on #234
Can you give me a permalink to where we use this getformat?

[2018-06-28 14:49] tech4GT commented on #169
@jywarren can you please elaborate on this one a little?

[2018-06-28 16:07] pahenry commented on #299
It would be helpful for alignment purposes if the opacity of the top layer could be reduced while adjusting the alignment.

[2018-06-28 16:31] jywarren commented on #299
For sure! Leaflet DistortableImage has that menu option, and we can try to
preserve it in this adaptation.

On Thu, Jun 28, 2018 at 12:07 PM pahenry <notifications@github.com> wrote:

[2018-06-28 16:44] jywarren commented on #169
This was was just to try to come up with a standard namespace and
convention for the metadata generated by all the steps, and to write that
into a custom EXIF tag in the image, as you go. That way, there is some
"trace" of how the image was produced via the steps. Does that make sense?
Sort of an evidence trail, or showing your work.

On Thu, Jun 28, 2018 at 10:50 AM Varun Gupta <notifications@git

[2018-06-28 17:06] jywarren commented on #234
Right now only in ImportImage -- https://github.com/publiclab/image-sequencer/search?q=getformat&unscoped_q=getformat

But i'd like to see it more widely adopted if it's efficient!

Hmm, yeah, if it's async maybe not worth it... can you link to what you've been reading? Maybe we get inspired later with an idea.

[2018-06-28 18:40] tech4GT commented on #234
Actually @jywarren what i figured out was we can use any way but we would have to convert the image into its dataURI which will take a callback.

[2018-06-28 18:44] tech4GT commented on #169
@jywarren Yeah I get this!! So we are embedding the sequence data in the image itself, right?

[2018-06-28 19:05] jywarren commented on #169
yep!

On Thu, Jun 28, 2018 at 2:44 PM Varun Gupta <notifications@github.com>
wrote:

[2018-07-11 06:43] tech4GT commented on #297
Working on this to achieve imagemagick like cli
[code]

[2018-07-11 14:44] tech4GT commented on #234
@jywarren should we close this coz this will call for a major refactor using async?

[2018-07-11 15:13] jywarren commented on #234
sure, or you can leave it open with "wontfix" or just clearly note that
it's a long-term project, not high priority... maybe someday!

On Wed, Jul 11, 2018 at 10:44 AM Varun Gupta <notifications@github.com>
wrote:

[2018-07-11 15:24] tech4GT commented on #234
sure

[2018-07-11 20:23] jywarren commented on #227
Let's update this page too! 👍

[2018-07-12 07:22] tech4GT commented on #227
@jywarren Sure!!

[2018-07-16 11:33] tech4GT commented on #232
Breaking these up to make some first timer issues!!

[2018-07-16 11:40] tech4GT opened #302 "Disable/dim the Save button until step inputs have been changed"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2018-07-16 12:00] tech4GT opened #303 "Disable/dim the Add step button until a module is selected"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2018-07-16 19:05] tech4GT commented on #140
@jywarren taking this up now!!

[2018-07-17 11:24] CoderJolly commented on #303
can u attach an image for visual representation ?

[2018-07-17 11:29] tech4GT commented on #303
<img width="1232" alt="screen shot 2018-07-17 at 4 59 18 pm" src="https://user-images.githubusercontent.com/25617855/42814732-c69fdf40-89e2-11e8-970f-68072ee62a4b.png">
Here, since I have not selected any step the button should be disabled

[2018-07-17 11:32] tech4GT commented on #303
https://github.com/publiclab/image-sequencer/blob/0c0147354e679fdc561b194ec8b98d0bfbefc1ac/examples/index.html#L76
We have made the button here

[2018-07-17 11:36] tech4GT opened #304 "Design Overhaul(More modern UI)"
We are planning a design overhaul according to this mockup
<img width="552" alt="screen shot 2018-07-17 at 5 04 15 pm" src="https://user-images.githubusercontent.com/25617855/42815025-a9976ac0-89e3-11e8-8300-2f8b69b540cc.png">

[2018-07-17 11:37] tech4GT commented on #304
@jywarren I am facing trouble making this design since bootstrap does not have quite the same ring as this, Should I include some elements from semantic-ui?
https://semantic-ui.com/

[2018-07-17 15:04] jywarren commented on #303
I think you can disable with the Bootstrap style "disabled" if that's
helpful!

On Tue, Jul 17, 2018 at 7:32 AM Varun Gupta <notifications@github.com>
wrote:

[2018-07-17 16:22] jywarren commented on #140
awesome!

On Mon, Jul 16, 2018 at 3:07 PM Varun Gupta <notifications@github.com>
wrote:

[2018-07-17 16:23] jywarren commented on #232
awesome!!!

On Mon, Jul 16, 2018 at 7:34 AM Varun Gupta <notifications@github.com>
wrote:

[2018-07-17 17:54] LostLaser commented on #303
I'm not sure if anyone is working on this at the moment, but do you mind if I take a shot?

[2018-07-17 17:57] tech4GT commented on #303
Go ahead!! Thanks

[2018-07-18 03:51] tech4GT commented on #304
@jywarren semantic-ui is another css framework like bootstrap, the thing is that bootstrap has kind of cartoonish and rounded elements, whereas we are looking for a more modern design

[2018-07-18 14:13] jywarren commented on #304
I guess I'm thinking that for the time being, many other PL projects are in
Bootstrap, so we may want to stick with that for the time being. It's also
a very comprehensive library with many many UI features, so it's flexible.
But if we find that it's not suitable for a very specific reason in the
future, we can discuss!

On Tue, Jul 17, 2018 at 11:52 PM Varun Gupta <notifications@github.com>
wrote

[2018-07-18 14:14] tech4GT commented on #304
@jywarren what if we do both? I mean we can include some elements from semantic UI as well in the current page

[2018-07-18 14:17] jywarren commented on #304
I guess i just think that for the basic UI we should keep things as simple
as possible. I'm sorry Varun it sounds like you really like semantic-ui --
I just want to be making decisions that keep this easy to use and very
standard parts, you know? Is semantic-ui very well maintained like
Bootstrap?

Do you think it'd be a lot of work to maintain two different UI systems? It
would help keep us from

[2018-07-18 14:20] tech4GT commented on #304
@jywarren Yeah that makes sense!! Actually semantic-ui is much more elaborate than bootstrap as well so you may be right, we should stick with bootstrap. Ok I'll start trying this out!! Thanks

[2018-07-18 14:39] #297 closed

[2018-07-18 14:49] jywarren opened #305 "Make in-browser replaceImage method work sequentially"
It can hog all the CPU, so we should have the default be that it does images one at a time, although it could be overridden with a parameter to be asynchronous too.

This'll be better once we have #159 workerized processes, i think?

[2018-07-18 20:07] jywarren opened #306 "default string format doesn't work in Markdown"
unfortunately, it reads the `()` as part of the URL syntax, it seems!

https://publiclab.github.io/image-sequencer/examples/#steps=ndvi(filter:blue),colormap(colormap:fastie)

See https://publiclab.org/notes/MaggPi/07-18-2018/ndvi-micrsocopy#c20160

Maybe we should switch for `{}`?

[2018-07-19 00:00] jywarren commented on #285
Hi, @tech4GT -- this is one module I guess i'd like to see if you'd be able to implement... it's really important for knowing the actual value by examining an image. What do you think, after your big changes?

[2018-07-19 00:01] jywarren commented on #285
For example think about knowing the NDVI value of one spot on this image: https://publiclab.org/notes/Claytonb/08-13-2016/plant-health-ndvi-white-balance

[2018-07-19 00:02] jywarren opened #307 "UI feature: display value of pixel under mouse while hovering over image (NDVI module)"
This would be GREAT and is much requested in the https://github.com/p-v-o-s/infragram-js project

[2018-07-19 05:10] tech4GT commented on #285
@jywarren Sure!! Once we are done with meta modules I'll start this!!

[2018-07-19 14:36] #262 closed

[2018-07-19 21:56] jywarren commented on #285
fantastic!!!

On Thu, Jul 19, 2018 at 1:10 AM Varun Gupta <notifications@github.com>
wrote:

[2018-07-20 05:26] kevinkmmak commented on #303
I am a first-timer. I have forked and cloned the repo.
Am I supposed to add scripts inside examples/index.html, or add to demo.js?
I think I will control the attribute "disabled" by using prop method.

[2018-07-20 08:49] tech4GT commented on #303
You can do it in either but we prefer to do it in demo.js

[2018-07-20 19:22] ebinxavier commented on #302
I would like to contribute something to this project. I am a first-timer, I have cloned the project locally and I need to modify this file "image-sequencer/examples/lib/defaultHtmlStepUi.js" right? Please help me I am new to github and open source.

[2018-07-20 19:23] tech4GT commented on #302
Hello there!! Welcome to the community!!😁

[2018-07-20 19:30] ebinxavier commented on #302
okay, I have forked and cloned the source. Let me familiarize the project. I will try to do my best. :)

[2018-07-20 20:43] ebinxavier commented on #303
I have raised a PR : https://github.com/publiclab/image-sequencer/pull/309 for this issue. please check.

[2018-07-21 12:02] tech4GT commented on #306
@jywarren can you please elaborate on this? I'm sorry I did not quite get you.

[2018-07-22 12:01] tech4GT commented on #285
@jywarren So I was looking into this, can you please explain the gradient part a little more, or maybe you can give me some more links where i can read more about this...
Right now What I gather is that this can be a meta-module like "dynamic(gradient) colormap overlay"
So I'll start by working on an overlay module first then we can discuss what will be the input to the dynamic module and that sho

[2018-07-23 22:36] jywarren commented on #285
+1 meta module - this really seems like an ideal thing for it!

I think we could basically

1. make a new image that's a gradient,
2. then make a new module that can insert that gradient into another image,
3. then maybe we need to display UI that says `color bar maps from 0-100` or whatever the scale is?
4. would we ideally want a text module to insert text? That's harder now without canvas, but.

[2018-07-23 22:39] jywarren commented on #306
ah - i tried pasting a URL with the parentheses in it into a PL wiki page,
but it didn't save properly as a full link because Markdown thinks it
should try to parse the ()... you know?

On Sat, Jul 21, 2018 at 8:02 AM Varun Gupta <notifications@github.com>
wrote:

[2018-07-24 13:39] tech4GT commented on #285
@jywarren Thanks for the info but I still don't get the gradient part, can you please elaborate on that. Also we can have a different module for the mapping so that we can ask for that input at run time, what say?

[2018-07-24 16:34] jywarren commented on #306
sure!!!

On Tue, Jul 24, 2018 at 9:27 AM Varun Gupta <notifications@github.com>
wrote:

[2018-07-24 16:35] jywarren commented on #306
could we make square brackets the standard, but allow it to still accept
parenthesis for backwards-compatibility?

On Tue, Jul 24, 2018 at 12:34 PM Jeffrey Warren <jeff@unterbahn.com> wrote:

[2018-07-24 16:36] tech4GT commented on #306
@jywarren yes we can but I'm afraid then it won't be reasonable as an fto. I'll do it myself then😄

[2018-07-24 16:38] jywarren commented on #285
so the first step could be do just make a full-image gradient from black to white. Then we can run that through a colorize filter.

A gradient could be like (very rough pseudocode):

[code]

[2018-07-24 16:39] jywarren commented on #306
ok! Thanks!

On Tue, Jul 24, 2018 at 12:36 PM Varun Gupta <notifications@github.com>
wrote:

[2018-07-24 16:40] tech4GT commented on #285
@jywarren do we do this on both the dimensions and take average?

[2018-07-24 16:41] tech4GT commented on #285
Or we do that for every row of pixels individually?

[2018-07-24 17:13] jywarren commented on #285
We could do it for every line, but we could also just make an image that is
1 pixel tall. I think if we want a horizontal gradient, we'd only want to
do this on the x-axis. But maybe people want gradients for other reasons,
so we could allow setting which direction the gradient should run as an
option? But it doesn't have to be implemented to accomplish this task... it
could be marked for later ex

[2018-07-25 18:58] tech4GT commented on #242
All of core work on this has been done, taking this out of the milestone core work now!!

[2018-07-31 21:30] jywarren commented on #231
Hmm, actually i think it's no longer possible to POST to gist... `$.post('https://gist.github.com/', { gist: { content: 'HELLO' }})` has a CORS error. Oh well!

[2018-07-31 21:30] jywarren commented on #231
Oh wait! https://gist.github.com/Jmlevick/5781079

[2018-08-02 17:29] ronmaple commented on #302
Hello,

This is my first time trying to contribute. So far I'm just trying to understand the issue. I've installed and run locally, and tried it out on the 'brightness' field as my first attempt.

So basically, the displayed button on the screen shot is one of the buttons we're trying to disable when the field is empty?

What I did was I just selected the form with jquery (var trythis), and evalua

[2018-08-04 10:34] tech4GT commented on #302
Hello @ronmaple Welcome to the community first of all!!😁
What we want here is that the `Save` button for each step shall remain disabled until the value of the field is changed. Right now as the user starts typing into the field of selects a new option from the dropdown the `Save` button should become enabled. Down the line we will add some form of verification for the inputs that are typed in the

[2018-08-04 10:37] tech4GT commented on #302
I think you should write a function with the following signature and set it on the `change()` of every field.
[code]

[2018-08-04 11:04] tech4GT commented on #285
@jywarren Now researching this!! I think I have a pretty good idea of how this could work. One concern though should we make it only one pixel tall? Would it be visible?

[2018-08-04 13:16] tech4GT commented on #285
@jywarren I think I have figured this out! Once meta modules are merged in I can get this done!!

[2018-08-04 13:30] jywarren commented on #285
if we make an image one pixel tall, we can display it at any height, and
maybe in the UI for this module we set a height minimum?

On Sat, Aug 4, 2018 at 9:17 AM Varun Gupta <notifications@github.com> wrote:

[2018-08-04 13:30] jywarren commented on #231
yeah let's do a modal!

On Sat, Aug 4, 2018 at 7:24 AM Varun Gupta <notifications@github.com> wrote:

[2018-08-04 13:31] tech4GT commented on #285
@jywarren I'll take the height as an input then, what say?

[2018-08-04 13:32] jywarren commented on #285
sure!

On Sat, Aug 4, 2018 at 9:31 AM Varun Gupta <notifications@github.com> wrote:

[2018-08-04 13:33] tech4GT commented on #285
Perfect!!

[2018-08-04 14:38] #140 closed

[2018-08-04 15:09] #307 closed

[2018-08-04 16:42] jywarren commented on #306
Solved in #313 !

[2018-08-04 16:42] #306 closed

[2018-08-04 16:47] jywarren opened #315 "Non-expanding, fully opaque meta modules"
The new meta modules is very powerful! You can select one like `NDVI-Colormap`, and it expands to:

https://publiclab.github.io/image-sequencer/examples/#steps=ndvi(filter:red),colormap(colormap:default)

But, right now, if you want to use a meta module like `NDVI-Colormap`, you can't just use it in a string like:

https://publiclab.github.io/image-sequencer/examples/#steps=ndvi-colormap

`Module

[2018-08-04 16:50] tech4GT commented on #315
@jywarren this is a very interesting idea and yes I don't think we can do this before the end of soc but I will surely work on this afterwards.
One good thing is that our architecture is perfect and all we need to do in order to achieve this is change the expand steps function.

[2018-08-04 16:50] tech4GT commented on #315
This will be very interesting to implement

[2018-08-04 16:56] jywarren commented on #315
agreed, very interesting! And that's great to hear. Think of all the
excellent architectural choices we made earlier in the year that will allow
us to do this! 👏👏👏

On Sat, Aug 4, 2018 at 12:51 PM Varun Gupta <notifications@github.com>
wrote:

[2018-08-06 05:05] tech4GT commented on #190
closing this now!!

[2018-08-06 05:05] #190 closed

[2018-08-06 15:53] #285 closed

[2018-08-06 16:39] jywarren opened #318 "Delete buttons and indices slightly off in demo"
I noticed after adding the new colorbar module, the delete buttons delete the wrong module, it deletes the `n+1` module instead of `n` -- probably to do with the extra "parent" meta module?

Another smaller thing is that once the metamodule is expanded, the meta-module's UI controls don't seem to work any more, is that right? Maybe we should hide the meta module UI until we have fully internalized

[2018-08-06 16:41] tech4GT commented on #318
@jywarren hmm I see!! Let me see what can be done

[2018-08-06 16:52] jywarren commented on #318
Very nice though!

![overlay](https://user-images.githubusercontent.com/24359/43729870-9cacc730-9977-11e8-89f9-471fd4cb11cf.png)

[2018-08-06 18:34] jywarren opened #320 "Small fixes to NDVI"
Note to self - we should show NDVI value from -1 to 1, rather than 0-255 ... very easy fix!

[2018-08-07 05:41] ronmaple commented on #302
Looking into using `paramName` to select for the fields... and have a `switch` statement on a `change` event listener for `inputDesc.type`

[2018-08-15 17:42] Mridul97 commented on #302
Hello I am new to github and would like to contribute something to this project, I have forked this project and cloned my own fork. Can I work on this issue ? I am a first timer, so I may require some help.

[2018-08-16 01:13] tech4GT commented on #302
Hi @Mridul97 welcome to publiclab 😄
You can go ahead for sure!

[2018-08-18 19:57] Mridul97 commented on #302
I tried to start a local environment to test the UI. I did these steps :
1. Made a package.json file using npm init.
2. Installed image-sequencer using npm install image-sequencer --save
3. Tried to run a local environment using npm start
But I could not run a local environment, I got errors. Please help me how to run a local environment to test UI. This is my first time working on an open source

[2018-08-19 03:57] MargaretAN9 commented on #237
@warren

I used the SciPy  library for the sobel  filter in the microscope video[](https://publiclab.org/notes/MaggPi/08-14-2018/computer-vision-observations-of-elodea-plant-cell)s

.    I used this example because it showed how to merge the x and y filters.
[](http://www.turbare.net/transl/scipy-lecture-notes/advanced/image_processing/auto_examples/plot_find_edges.html)
I realize  know I could ha

[2018-08-19 04:01] MargaretAN9 commented on #237
@warren

I used the SciPy  library for the sobel  filter in the microscope video
https://publiclab.org/notes/MaggPi/08-14-2018/computer-vision-observations-of-elodea-plant-cells
 I used this example because it showed how to merge the x and y filters.

http://www.turbare.net/transl/scipy-lecture-notes/advanced/image_processing/auto_examples/plot_find_edges.html
I realize  know I could have probably

[2018-08-19 11:41] Mridul97 commented on #302
I also tried to do the following steps :-

1. Go to the project folder.
2. Installed all the dependencies in package.json using npm install
3. Tried to run a local environment using npm start

But it failed again, I got many errors. Please help me how to run a local environment to test UI. I have tried all the steps given in the README.md but not able to run the local environment.
Please Help!!

[2018-08-19 11:42] tech4GT commented on #302
Hey there! Sorry for the trouble. So you need to
- fork and clone the project
- run npm I
- run npm start

[2018-08-19 11:51] Mridul97 commented on #302
Hey I tried those steps but I am getting errors. Please have a look.
![untitled](https://user-images.githubusercontent.com/21158457/44308472-3ad17580-a3d4-11e8-986f-49838fc8795f.jpg)

[2018-08-19 11:57] tech4GT commented on #302
Oh actually you don't have grunt installed!!
Try this `npm install -g grunt grunt-cli`

[2018-08-19 18:46] Mridul97 commented on #302
Hey, I made a change to disable/enable 'save' button. Please take a look. Pull request #322.

[2018-08-28 07:53] tech4GT commented on #318
This issue has been already solved, now closing this up.

[2018-08-28 07:53] #318 closed

[2018-08-28 15:34] jywarren opened #323 "detect edges stalling or broken?"
https://publiclab.github.io/image-sequencer/examples/#steps=edge-detect{blur:2|highThresholdRatio:0.2|lowThresholdRatio:0.15}

Even on a reasonably powerful machine this seems to hang with the example image. @tech4GT any ideas? It shouldn't be this power-hungry, right?

[2018-08-28 15:47] jywarren opened #324 "Module idea: matrix math"
Many image operations are made possible with matrix operations, including blurs, edge detection, and lens distortion.

http://aishack.in/tutorials/image-convolution-examples/

If we had a general purpose matrix math module (or just a matrix math core function?), we could use it as the basis for lots of cool modules!

[2018-08-31 17:07] jywarren commented on #302
Solved! Thanks!

[2018-08-31 17:07] #302 closed

[2018-08-31 20:57] Mridul97 commented on #232
Hello, I made changes to show 'Press save to see changes' next to each step's 'Save' button and add a 'download' button next to the 'Add Step' button. Please take a look. Pull request #325.

[2018-09-01 11:39] tech4GT commented on #323
My laptop broke down, currently trying to setup my dev-environment on an old windows laptop while my mac is repaired, hopefully will be able to look into this today.

[2018-09-01 13:49] Mridul97 commented on #305
I would like to take up this issue but I would need some guidance. Could you please guide me a little here.
Thanks

[2018-09-02 13:55] tech4GT opened #326 "Move towards a progressive web app on the demo"
We should add progressive elements to the demo, going with the recent trend. I have listed some basic elements below please feel free to suggest more 😄
- [ ] manifest.json
- [ ] cache static assets for offline use
- [ ] Improve responsiveness of the design
- [ ] Move saving sequences to indexedDB API (possibly making it optional for user to store it using any api, currently this is done using loca

[2018-09-04 15:50] tech4GT commented on #323
Hmm @jywarren i think I have found the problem, there is a little issue with the hysteresis step, so I am going to fix that, plus I think should we move this into a metamodule, the workflow will look like this "grayscale,blur,sobel,double-threshold,connected-component-labelling,hysteresis" or should we keep this as one module only?

[2018-09-04 15:51] tech4GT commented on #323
I think that would depend on if we want to use this in other meta-modules, since the current implementation does not support meta-module inside of a meta-module.

[2018-09-04 16:53] jywarren commented on #324
lol isn't "canny" a matrix math method?

On Tue, Sep 4, 2018 at 12:20 PM Varun Gupta <notifications@github.com>
wrote:

[2018-09-04 16:54] tech4GT commented on #324
Haha😂

[2018-09-04 16:54] jywarren commented on #324
aha, well we could start with a narrower 3x3 implementation to try this
out. Isn't 4x4 not centered around a single pixel? Or does it operate on 4
pixels? Or do I not really understand matrix math LOL

On Tue, Sep 4, 2018 at 12:52 PM Jeffrey Warren <jeff@unterbahn.com> wrote:

[2018-09-04 16:55] jywarren commented on #323
aha, well, interesting. Will the truly isolated meta modules support nested
meta modules? Then if so maybe we refactor this as a meta module AFTER that
work?

On Tue, Sep 4, 2018 at 11:52 AM Varun Gupta <notifications@github.com>
wrote:

[2018-09-04 16:55] tech4GT commented on #324
Oh yeah you're correct!! Sorry for that, it's going to be odd so 3x3, 5x5 and so on...

[2018-09-04 16:56] tech4GT commented on #323
Yeah totally! We can keep this as a long term issue. I'll make the issue right now.

[2018-09-04 16:58] jywarren commented on #323
super!

On Tue, Sep 4, 2018 at 12:57 PM Varun Gupta <notifications@github.com>
wrote:

[2018-09-04 22:08] jywarren commented on #305
@tech4gt maybe you have an idea about this?

On Sat, Sep 1, 2018 at 9:49 AM Mridul97 <notifications@github.com> wrote:

[2018-09-04 22:08] jywarren commented on #326
love this!

On Sun, Sep 2, 2018 at 9:57 AM gitmate[bot] <notifications@github.com>
wrote:

[2018-09-04 22:09] tech4GT commented on #305
Can you please elaborate on this issue, I didn't quite get it from the description. Sorry.😅

[2018-09-04 22:12] jywarren commented on #305
Ah, when it's run in a browser on a whole selection of different images,
they all begin processing at once. I think it may be better for browser
freezing if we only do 10x at a time, and queue the remainder, so the
browser doesn't try to process 100 or 200 images at the same time, you know?

On Tue, Sep 4, 2018 at 6:10 PM Varun Gupta <notifications@github.com> wrote:

[2018-09-04 22:14] tech4GT commented on #305
Aha! Got it!! I would have to think this one through! Hmm this is interesting.

[2018-09-05 20:39] #323 closed

[2018-09-06 06:04] Mridul97 commented on #326
I want to work on this issue. Can I work on this issue ?

[2018-09-06 10:46] tech4GT commented on #326
Yes @Mridul97 this would be great, we need to finalize on some ideas though, maybe you can start with adding a manifest and caching static assets with a network first strategy and then we can where we can go from there. Thanks!

[2018-09-06 11:48] Mridul97 commented on #326
Sure! I will start with adding a manifest and caching static assets with a network first strategy.

[2018-09-06 12:03] Mridul97 commented on #326
What will be the theme colour for manifest.json file ?

[2018-09-06 12:04] tech4GT commented on #326
Isn’t the dominant colour of the page automatically picked? I’m sorry if I don’t make sense here, I’m a little out of touch from this.

[2018-09-06 12:10] tech4GT commented on #326
Oh i got it! You’re right can you use a color picker to get the exact colour of the `save sequence` button. Thanks!

[2018-09-06 12:11] Mridul97 commented on #326
Okay! will do that.

[2018-09-06 13:19] Mridul97 commented on #326
I have made a manifest.json file. Please see it, is it fine ?
![screenshot 35](https://user-images.githubusercontent.com/21158457/45159869-90e04e80-b205-11e8-802f-ba9710ea373a.png)
![screenshot 36](https://user-images.githubusercontent.com/21158457/45159870-90e04e80-b205-11e8-8dc3-b401a5264038.png)
![screenshot 37](https://user-images.githubusercontent.com/21158457/45159871-90e04e80-b205-11e8-8584

[2018-09-06 15:54] tech4GT commented on #326
This looks very promising @Mridul97 Way to go!! Thanks!

[2018-09-06 19:46] Mridul97 commented on #326
Thanks! @tech4GT :-)

[2018-09-06 23:42] Mridul97 commented on #326
Hey, could you please tell me to cache assets for offline use, first do I have to set up service worker or it has  to be done without using service worker?

[2018-09-07 01:32] tech4GT commented on #326
We would need a service worker definitely or else the data will be flushed if the user clears browser cache. So Just cache all the assets like html, css, js, images an so on. Basically the idea here is to cache everything that is currently being served by the server, so that in case of network outage these files can be used. Please also try to flush these cache files if we get fresh data from the

[2018-09-07 06:36] Mridul97 commented on #326
Okay Thanks!

[2018-09-07 13:08] Mridul97 commented on #326
Hey, I have cache all the assets on install event of the service worker and as you said to use network first approach, the service worker will first send request to network and only if it fails then service worker will take response from the cache. Please see it. Is it fine ?
![screenshot 40](https://user-images.githubusercontent.com/21158457/45220812-17ac2e80-b2cd-11e8-944a-bd1732fa0a9d.png)
![sc

[2018-09-07 13:55] Mridul97 commented on #320
I would like to work on this issue. Can I work on this issue?

[2018-09-07 15:18] Mridul97 commented on #320
Hey, could you please tell me that changes has to be made in this changePixel function ?
![ss](https://user-images.githubusercontent.com/21158457/45227908-4501d800-b2df-11e8-9583-9c306e3c8215.jpg)

[2018-09-07 23:47] Mridul97 commented on #320
Do we have to do something like this ? I mean this will change the value of ndvi from 0-255 to -1 to 1 but this doesn't make any change in the working of the project ?
![ss_1](https://user-images.githubusercontent.com/21158457/45247611-62a66000-b326-11e8-816e-04eb1b83fe80.jpg)

[2018-09-08 03:57] AmanGarg97 commented on #228
Hi , Is this issue still open and can I start working on this? @jywarren

[2018-09-08 04:17] tech4GT commented on #326
This looks awesome @Mridul97 just one more thing, don't you think we should update the cache version if the files are changed? Just a thought.

[2018-09-08 08:35] Mridul97 commented on #326
Yes, we should update the cache version if the files are changed. I will do it. Thanks!

[2018-09-08 14:06] Mridul97 commented on #326
Hey, I have made changes to update the cache. When any of the files are changed, we also change the static cache name from something like 'image-sequencer-static-v1' to 'image-sequencer-static-v2'. This creates a new version of the service worker and we delete the old the caches on the activation of this new version of service worker. Please take a look.
![ss_2](https://user-images.githubuserconte

[2018-09-08 14:09] tech4GT commented on #326
This looks pretty good! One doubt though, the cache will update to V3 and so on right?

[2018-09-08 14:11] Mridul97 commented on #326
Yes, we will change the staticCacheName to 'image-sequencer-static-v3' and it will save this cache and delete all the other old caches.

[2018-09-08 14:15] tech4GT commented on #326
This is great work!! Please open a pull request so that I can look at the diff. Thanks Mridul! Way to go!!

[2018-09-08 14:17] Mridul97 commented on #326
I will open the pull request. Thanks!

[2018-09-08 14:17] tech4GT commented on #326
Actually we have to be careful with this stuff!! We don't want someone to be stuck with an old version of cache, especially someone with no technical knowledge. So please allow edits from maintainers. Thanks!

[2018-09-08 14:39] Mridul97 commented on #326
I have made a pull request #331. Please take a look. Thanks!

[2018-09-08 23:15] Mridul97 commented on #304
I would like to work on this issue. Can I work on this issue?

[2018-09-10 14:26] Mridul97 commented on #324
I would love to work on this issue. I think we have to create a module that takes pixels of the input picture and the 9 values of 3x3 kernel as arguments and returns the pixels of the picture after applying convolution. For starters we can keep kernel to be 3x3 and then later try to make it general. Your thoughts please? @jywarren

[2018-09-10 15:07] jywarren commented on #228
oh, that would be really great! Thank you!

On Fri, Sep 7, 2018 at 11:58 PM Aman Garg <notifications@github.com> wrote:

[2018-09-10 15:17] jywarren opened #332 "Error in default color map"
https://github.com/publiclab/image-sequencer/blob/cce65141d284d12fbb5c6e5331a29c72cb17eab8/src/modules/Colormap/Colormap.js#L59-L63

via @MargaretAN9 shows an error in the default color bar, which has 2 "yellow" regions. We'd love help fixing this!

![image](https://user-images.githubusercontent.com/24359/45306626-24a66900-b4eb-11e8-804e-1e885462f97f.png)

[2018-09-10 15:30] jywarren commented on #320
Try using it in a browser and screenshotting how the value is displayed!

[2018-09-10 15:43] jywarren commented on #324
This sounds pretty interesting and i like your idea of specific first
general later. Would you be interested in opening a PR to test it out?

On Mon, Sep 10, 2018 at 10:27 AM Mridul97 <notifications@github.com> wrote:

[2018-09-10 16:03] jywarren commented on #304
As one possible way forward, I think we could explore Blockly -- https://developers.google.com/blockly/

This is a bit different but pretty interesting too!

[2018-09-10 17:17] Mridul97 commented on #320
Where exactly is the value displayed? I used NDVI on a image but I did not see any value displayed in the interface?

[2018-09-10 17:29] Mridul97 commented on #304
Cool! I will definitely explore Blockly. Thanks!

[2018-09-10 21:01] jywarren commented on #320
ah, when you hover over the image, i believe it should be shown in the web
interface to the left. Is it not?

On Mon, Sep 10, 2018 at 1:18 PM Mridul97 <notifications@github.com> wrote:

[2018-09-10 21:48] Mridul97 commented on #320
I have created a PR #333. Please take a look.

[2018-09-11 20:35] jywarren commented on #237
oh cool!

I'm also interested in exploring OpenCV for interest point finding and matching - possibly as a way to automatically stitch together multiple images. I'll try to paste in some links!

* http://answers.opencv.org/question/5348/evaluation-of-interest-point-detectors-and-descriptors/
* https://docs.opencv.org/2.4/doc/tutorials/features2d/feature_detection/feature_detection.html
* https://st

[2018-09-11 20:36] jywarren commented on #237
https://docs.opencv.org/2.4/modules/ocl/doc/feature_detection_and_description.html?highlight=feature%20description

[2018-09-11 20:42] jywarren commented on #237
My ideal use would be:

1. run SURF on Image 1 to find interest points
2. run SURF on Image 2 to find interest points
3. find best matches of common points from each
4. in relation to image 1, rotate, scale, and translate image 2 to best overlap the top 2-3 common points between the 2 images
5. flatten into 1 image

[2018-09-12 04:11] MargaretAN9 commented on #332
Questions: @jywarren
1)I have downloaded several colorbars form public lab (https://publiclab.org/wiki/ndvi-gradients) and other sites.   Are you looking for something like ‘physics’ for default?
![slide3](https://user-images.githubusercontent.com/37722313/45401735-08f0af00-b620-11e8-830e-1c1f4b7ae083.JPG)

2)There are 5 colormaps in image sequencer but only 4 are posted (default, stretched, greys

[2018-09-12 07:58] abTest-123 commented on #237
I'm not really in the loop on this, but want to make sure you are familiar
with the basic OpenCV tutorials, here is the feature matching example:
https://docs.opencv.org/3.3.0/dc/dc3/tutorial_py_matcher.html

Amir

On Tue, Sep 11, 2018 at 11:42 PM Jeffrey Warren <notifications@github.com>
wrote:

--
Amir Bernat
http://physweb.bgu.ac.il/~bernat/

[2018-09-12 13:59] jywarren commented on #332
ah cool, yes we can add in the NDVI colormap, i'm not sure why it wasn't
included. What does it look like? For the others, if we can figure out how
to reproduce them we could add them, they look cool... I wonder if there
are any programmatic descriptions of how they are generated?

On Wed, Sep 12, 2018 at 12:12 AM MargaretAN9 <notifications@github.com>
wrote:

[2018-09-12 13:59] jywarren commented on #237
oh thanks!

On Wed, Sep 12, 2018 at 3:59 AM abTest-123 <notifications@github.com> wrote:

[2018-09-12 15:11] jywarren commented on #320
Solved!!!

[2018-09-12 15:11] #320 closed

[2018-09-12 15:14] jywarren commented on #300
This should be possible in OpenCV.js!

* http://answers.opencv.org/question/5348/evaluation-of-interest-point-detectors-and-descriptors/
* https://docs.opencv.org/2.4/doc/tutorials/features2d/feature_detection/feature_detection.html
* https://stackoverflow.com/questions/23637916/find-interest-point-in-surf-detector-algorithm
* https://stackoverflow.com/questions/29133085/what-are-keypoints-in-imag

[2018-09-12 15:14] jywarren commented on #300
An initial version wouldn't need to do full 4-corner transform but could start with just rotation/scale/translate!

[2018-09-12 15:15] jywarren commented on #305
We could just add them to an array, and then have the script pick off X items from the array to process, where when each process finishes, it goes back to fetch a new one from the array?

[2018-09-13 05:13] MargaretAN9 commented on #332
-OK so they are all  good except for the old default,
- I think the default colormap problem may be just that the colors values are misplaced.
-  Its going to take me time to figure out how to test  colormaps direct from the image sequencer code but I will try

[2018-09-13 12:58] Mridul97 commented on #281
Hey, I have opened a PR #334  to fix this issue. Please take a look. @jywarren

[2018-09-13 21:15] jywarren commented on #332
Awesome! So, you can supply a unique colormap as an array parameter to the colormap module:

https://github.com/publiclab/image-sequencer/blob/cce65141d284d12fbb5c6e5331a29c72cb17eab8/src/modules/Colormap/Colormap.js#L14-L22

I bet we could offer the ability to input a string that would be used as a gradient, using the `info.json` file's inputs:

https://github.com/publiclab/image-sequencer/blob/m

[2018-09-13 21:17] jywarren commented on #332
Adding a string input like `colormap` to the `info.json` should expose it internally as `options.colormap`, as here with `options.brightness`:

https://github.com/publiclab/image-sequencer/blob/88364decf6a6111a0be31fd98010576d5c6f918e/src/modules/Brightness/Module.js#L23

[2018-09-25 18:30] tech4GT commented on #232
I think this issue is done, closing this up now!

[2018-09-25 18:31] #232 closed

[2018-09-25 18:47] tech4GT opened #335 "Add a footer to the main page"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contr

[2018-09-25 18:57] tech4GT commented on #332
@jywarren @MargaretAN9 Are you guys still working on this issue?

[2018-09-26 06:27] MargaretAN9 commented on #332
Yes, but I haven’t had time to sort out all the  issues.

1)Problem: Existing ‘default’  colormap has two yellows (255,255,0)
default:   colormap([
              [0,     [0,   0,   255], [0,   255, 0]   ],
              [0.25,  [0,   255, 0],   [255, 255, 0]   ],
              [0.50,  [0,   255, 255], [255, 255, 0]   ],
              [0.75,  [255, 255, 0],   [255, 0,   0]   ]

Solution: Remove fir

[2018-09-26 11:30] tech4GT commented on #332
@MargaretAN9 should I go ahead and implement these changes in code or would you like to do it? Thanks for all the help!

[2018-09-27 06:40] MargaretAN9 commented on #332
@jywarren, @tech4GT

Yes,  that would solve the current    'default' glitch problem as well as add the NDVI colormap option.  This should make image sequencer consistent with  infragram (https://infragram.org/sandbox/)

Note I am still not exactly sure if I have the right  'default' function so we may have to adjust again.

[2018-09-27 07:12] tech4GT commented on #332
@MargaretAN9 I tried your function and this is the result I am getting. Please have a look.
<img width="643" alt="screen shot 2018-09-27 at 12 40 30 pm" src="https://user-images.githubusercontent.com/25617855/46128892-9fdd7e00-c252-11e8-9b71-df099f9ffd5b.png">

[2018-09-27 09:47] Mridul97 commented on #324
Hey, I have opened a PR #336. Please have a look!

[2018-09-27 09:48] Mridul97 commented on #324
Hey, I have opened a PR #336. Please have a look!

[2018-09-27 10:29] tech4GT opened #337 "Add a list of available modules to the documentation"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contr

[2018-09-27 10:40] tech4GT opened #338 "Display an installation message to user in the CLI"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contr

[2018-09-27 17:10] Ankit-Singla opened #340 "'Save' button for an action is automatically disabled in UI"
The 'Save' button is automatically disabled whenever a new action/process is applied on any image, or after some parameters are changed and the 'Save' button is clicked. It requires being clicked _two times_ on changing values of parameters, as it does not get autofocus when the values are changed.
@tech4GT @jywarren

[2018-09-27 17:12] tech4GT commented on #340
hmm, yes this appears to be a problem, I think we should enable the save button on "focus" based event. Thanks for pointing out @Ankit-Singla
Would you like to work on this issue?

[2018-09-27 17:15] Ankit-Singla commented on #340
Yes, I would love to give it a try.

[2018-09-28 03:06] tech4GT opened #342 "Add a success prompt for saved sequence"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contr

[2018-09-28 03:09] tech4GT opened #343 "Add a success prompt for module installation from npm"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contr

[2018-09-28 03:15] tech4GT opened #344 "Add a function to create a gif from the outputs of all steps"
@jywarren We can add an option which enables sequencer to export the whole sequence as a gif, I think this makes sense since right now we do not have any way of exporting the complete sequence as a single file. What do you think, would this be useful?

[2018-09-28 06:07] MargaretAN9 commented on #332
-Thanks for this, but I was wrong,  it solves one problem and creates another .  It isn't good since green is repeated.
- Today, I was able to get image sequencer working on raspberry pi  so hopefully I will be able to test some new functions.
@jywarren, @tech4GT

[2018-09-28 06:09] tech4GT commented on #332
Awesome!!

[2018-09-28 13:22] Mridul97 opened #345 "Display a flash message on removal of a step"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

# First Timers Only
Hi, this is a first-timers-only issue. This means this has been worked to make it more legible to folks who either haven't contributed to our codebase before, or

[2018-09-28 13:38] tech4GT commented on #345
Good one, @Mridul97 Let's make this one a medium gci issue, Thanks!

[2018-09-28 18:43] jywarren commented on #345
Hi, great! Is there a simple "flash notification" library you'd recommend for someone, or example code of what a notification could look like? Bootstrap has an "alert" component you could use; you could try linking to that -- https://getbootstrap.com/docs/3.3/

[2018-09-28 22:05] rbhatia46 opened #346 "Include a back-to-top Button on scrolling down"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

## First Timers Only
Hi, this is a first-timers-only issue. This means this has been worked to make it more legible to folks who either haven't contributed to our codebase before, or

[2018-09-28 23:48] rockstar777 opened #348 "Improve Images step Ui"
![screenshot 25](https://user-images.githubusercontent.com/26599651/46238138-ecd26900-c3a6-11e8-8ba1-8c536e952126.png)

Having a card like view is more better.

[2018-09-28 23:58] rockstar777 commented on #345
please review

[2018-09-29 03:43] tech4GT commented on #348
@rockstar777 I think we have a discussion on design going on there #304
Could you please add this as comment there. Thanks!

[2018-09-29 03:43] #348 closed

[2018-09-29 03:44] jywarren commented on #346
Love this! Great!

On Fri, Sep 28, 2018, 4:07 PM gitmate[bot] <notifications@github.com> wrote:

[2018-09-29 03:45] tech4GT commented on #346
Very nice idea indeed!!

[2018-09-29 03:47] jywarren commented on #344
👍🏽🎉

On Thu, Sep 27, 2018, 9:22 PM Varun Gupta <notifications@github.com> wrote:

[2018-09-29 04:03] jywarren commented on #165
Great source of FTOs! @tech4GT @Mridul97

[2018-09-29 04:12] tech4GT opened #349 "Add a web app install prompt for the demo -- Long term"
Information about this can be found in this post by google https://developers.google.com/web/fundamentals/app-install-banners/

[2018-09-29 04:12] tech4GT commented on #165
@jywarren Thanks!

[2018-09-29 04:27] tech4GT opened #350 "Find a bug -- Google code-in"
If you find a bug in the code, please raise an issue here on github but clicking the new issue button on the top right of this page. Thanks!

[2018-09-29 04:50] Paarmita opened #351 "Image selector area in crop for the first sequence"
When we choose crop for the first time, the image selector area doesn't appear.
Here's the screenshot of the problem.

![screenshot from 2018-09-29 10-17-09](https://user-images.githubusercontent.com/26546816/46241150-28822880-c3d1-11e8-9c5e-7e3d58caff4a.png)

[2018-09-29 04:53] Paarmita opened #352 "Patch on delete a sequence after crop"
There occurs a black patch when we delete the crop sequence.

Issue can be reproduced like this

![aaa ogv](https://user-images.githubusercontent.com/26546816/46241158-61220200-c3d1-11e8-9c5e-bf9652f2eceb.gif)

[2018-09-29 05:06] Paarmita opened #353 "Adding a feature that takes width and height in percentage values."
We could add a feature in the input that can also take integer values other than an integer.

![screenshot from 2018-09-29 10-31-33](https://user-images.githubusercontent.com/26546816/46241228-d6420700-c3d2-11e8-9d6d-1c4347fffbf8.png)

File to be changed
https://github.com/publiclab/image-sequencer/blob/main/src/modules/Crop/Ui.js#L75

[2018-09-29 07:35] tech4GT commented on #69
@jywarren i was reading up on this and I think I can make this work! I was thinking maybe we can overlay the histogram on the bottom of the image itself, what say?
So histogram can be a meta module which calculates the histogram and overlays it onto the image.

[2018-09-29 12:55] Mridul97 commented on #165
Thank you! :smile:

[2018-09-29 12:57] rbhatia46 opened #355 "Adjust/Correct the position of Buttons in Mobile View"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

## First Timers Only
Hi, this is a first-timers-only issue. This means this has been worked to make it more legible to folks who either haven't contributed to our codebase before, or

[2018-09-29 13:14] jywarren commented on #353
Awesome!!

On Fri, Sep 28, 2018, 11:08 PM gitmate[bot] <notifications@github.com>
wrote:

[2018-09-29 13:15] tech4GT commented on #353
So would we be taking the starting position as 0,0 then?

[2018-09-29 13:15] tech4GT commented on #353
@jywarren

[2018-09-29 13:27] jywarren commented on #353
The defaults can be 0,0 for sure, I'm just thinking to leave the
opportunity for more specifics open for people who want them... How's that?
Thanks!

On Sat, Sep 29, 2018, 7:22 AM Varun Gupta <notifications@github.com> wrote:

[2018-09-29 13:29] tech4GT commented on #353
Hmm, I think maybe we can allow % in all fields and then someone can clip the image from 30% to 60%

[2018-09-29 13:30] tech4GT commented on #353
I think the best way to do this is to define a function on sequencer itself which parses the input and if it is in % then it picks up the output and generates coordinates from that, what say?

[2018-09-29 13:30] jywarren commented on #353
Ok!

On Sat, Sep 29, 2018, 7:29 AM Varun Gupta <notifications@github.com> wrote:

[2018-09-29 13:31] jywarren commented on #69
Cool!

On Sat, Sep 29, 2018, 1:35 AM Varun Gupta <notifications@github.com> wrote:

[2018-09-29 13:31] tech4GT commented on #353
something like `sequencer.parseCoordinates(input)`

[2018-09-29 13:31] jywarren commented on #69
Maybe we can set where the overlay goes?

On Sat, Sep 29, 2018, 7:30 AM Jeffrey Warren <jeff@unterbahn.com> wrote:

[2018-09-29 13:33] tech4GT commented on #69
@jywarren please have a look at #354 I have made a basic module for this there.
One thing I can't decide on is whether to make this a meta-module or to include the overlay code in histogram module only, what do you think @jywarren ?

[2018-09-29 13:34] tech4GT commented on #69
I guess we can do something having a module which generates the histogram and then have a separate meta-module `histogram-overlay`

[2018-09-29 13:39] jywarren commented on #353
Great!!

On Sat, Sep 29, 2018, 7:31 AM Varun Gupta <notifications@github.com> wrote:

[2018-09-29 13:40] jywarren commented on #69
👍🏽 good thinking!

On Sat, Sep 29, 2018, 7:34 AM Varun Gupta <notifications@github.com> wrote:

[2018-09-29 14:08] Paarmita commented on #353
The default for width and height is 100%, so from there I got this idea. This will not be okay for x and y fields as they are coordinates with (0,0).

[2018-09-29 16:58] Paarmita opened #356 "'No file chosen' wrongly placed in Import Image module"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

## First Timers Only
Hi, this is a first-timers-only issue. This means this has been worked to make it more legible to folks who either haven't contributed to our codebase before or

[2018-09-30 01:31] tech4GT commented on #344
@rockstar777 While it is always better to do things natively if possible, I think using a library here should be fine. Just make sure the library does not slow down the page. Thanks!

[2018-09-30 01:33] tech4GT commented on #344
Ok so gifshot looks really promising!! GO ahead!👍

[2018-09-30 05:00] vikul1234 commented on #356
@Paarmita  can I work on this issue

[2018-09-30 05:08] vikul1234 commented on #356
@Paarmita  It's work properly look this, can  you post another screenshot
![ss](https://user-images.githubusercontent.com/22452641/46253591-e6261d80-c49c-11e8-8872-b950a9b6a3b8.PNG)

[2018-09-30 05:11] vikul1234 commented on #355
@rbhatia46  can I work on this issue?

[2018-09-30 05:17] Paarmita commented on #356
@vikul1234 Plz add an import image module, then you will be able to reproduce this.

[2018-09-30 07:58] Mridul97 commented on #324
Hi, I was trying to test the module but I am not getting how to convert ndarray to imagedata. Could you please help me with that? @jywarren @tech4GT

[2018-09-30 08:02] tech4GT commented on #324
@Mridul97 You wouldn't need to do that if you use the pixelManipulation API available in image sequencer, if you want to though you can look at this file https://github.com/publiclab/image-sequencer/blob/main/src/modules/_nomodule/PixelManipulation.js
We basically use the save-pixels npm package to convert to an image

[2018-09-30 08:03] tech4GT commented on #324
Look at this code https://github.com/publiclab/image-sequencer/blob/88364decf6a6111a0be31fd98010576d5c6f918e/src/modules/_nomodule/PixelManipulation.js#L80-L95

[2018-09-30 09:14] Mridul97 commented on #324
Thanks! @tech4GT

[2018-09-30 09:54] rockstar777 commented on #344
@tech4GT can you help me in finding src link of images at each step?
thanks

[2018-09-30 20:58] rockstar777 commented on #344
@tech4GT Please review PR

[2018-09-30 21:03] rockstar777 commented on #344
![gif_step](https://user-images.githubusercontent.com/26599651/46262688-43b07d80-c522-11e8-8e64-4de97261011e.gif)

[2018-09-30 21:21] rockstar777 opened #361 "unreachable code error"
![error](https://user-images.githubusercontent.com/26599651/46262695-60e54c00-c522-11e8-995e-c1e74923117d.png)

[2018-09-30 22:14] Yugandhartripathi commented on #356
I would like to work on this.

[2018-10-01 10:22] rockstar777 opened #363 "add placeholder when brightness step applied"
## First Timers Only

Hi, this is a first-timers-only issue. This means this has been worked to make it more legible to folks who either haven't contributed to our codebase before or even folks who haven't contributed to open source before.

If you have contributed before, consider leaving this one for someone new, and looking through our general help wanted issues. Thanks!

## The Problem

Add pl

[2018-10-01 12:46] kostadriano commented on #363
Hi, Can I claim this issue?

[2018-10-01 14:19] vsk4 opened #364 "Restrict upload of files other than images(jpeg,png etc)"
In [image-sequencer](https://publiclab.github.io/image-sequencer/examples/#steps=) only image type  files types must be uploaded,all other file types like pdf, JS, .md files must be ignored/rejected.
while uploading a gif  the uploaded gif is broken. please refer to the screenshots/gif attached.

![screen shot 2018-10-01 at 7 46 32 pm](https://user-images.githubusercontent.com/23310407/46294155-c2

[2018-10-01 14:34] avsingh999 commented on #364
@vsk4  great catch

[2018-10-01 14:42] vsk4 commented on #364
Hello, I want to work on this issue .

[2018-10-01 14:44] Mridul97 commented on #315
I would like to give this issue a try. Can I work on this issue?

[2018-10-01 15:07] SidharthBansal commented on #361
Hi, thanks for creating an issue.
Can you please explain the issue?
In the gitter chat, you told me to mark it as ``first timer only `` issue. There are a few guidelines for creating a first timer issues
1. It  should explain the issue well in simple english statements. As it is for the person who starts OSS
2. We need to provide the potential solution to the problem
3. We need to provide the code

[2018-10-01 15:08] SidharthBansal commented on #361
Thanks for catching a bug

[2018-10-01 16:14] rockstar777 commented on #361
sorry for inconvenience

[2018-10-01 16:48] SidharthBansal commented on #361
No need to worry.
We are here to help

On Mon, Oct 1, 2018 at 9:44 PM puneet bindal <notifications@github.com>
wrote:

[2018-10-01 17:47] jywarren commented on #355
This was solved! Thanks!!!

[2018-10-01 17:47] #355 closed

[2018-10-01 20:34] rockstar777 commented on #300
Can I work on this issue?

[2018-10-01 21:06] aashna27 commented on #364
@avsingh999 please review.

[2018-10-01 21:35] jywarren commented on #300
That'd be really awesome. Have you been able to merge a more basic module first? Perhaps #165 has some, if you haven't (apologies, it's been a busy week so I forget!)

However, we'd really like your help with this. It seems like a big project but we'd love to hear how you might try to solve it? What would be your first step?

👍 🎉

[2018-10-01 21:39] jywarren commented on #315
this one is a deep one! But @tech4gt has said he thinks it will be possible
with relatively minimal changes. Perhaps he can guide a bit! But YES this
would be amazing!

On Mon, Oct 1, 2018 at 10:45 AM Mridul97 <notifications@github.com> wrote:

[2018-10-02 00:10] kostadriano commented on #363
for me to be sure, what you need is a placeholder with an example like this?
![image](https://user-images.githubusercontent.com/15300776/46322213-08fc2300-c5be-11e8-9e17-a0cbd81e172e.png)

[2018-10-02 03:24] Mridul97 opened #367 "Create Contrast Module"
A module that changes contrast of an image.

[2018-10-02 03:26] #367 closed, assigned to Mridul97

[2018-10-02 03:32] Mridul97 commented on #157
Hi, I was trying to create this module. The module will accept values between -100 and 100, but we turn these into a double between the values of 0 and 4.

This is the output for contrast value of 50. Please have a look!

![ss_11](https://user-images.githubusercontent.com/21158457/46327913-d421b780-c621-11e8-800d-7c45903b2c4d.jpg)

[2018-10-02 03:59] Mridul97 opened #368 "Add a Gamma module"

[2018-10-02 04:01] Mridul97 opened #369 "Add a Grayscale module"

[2018-10-02 04:08] Mridul97 commented on #315
No not at all!!

[2018-10-02 04:10] tech4GT commented on #315
Thanks!

[2018-10-02 05:58] rockstar777 commented on #363
Yes, It should display when we apply step UI, so that user could get data used when adding a step

[2018-10-02 08:09] rockstar777 commented on #300
Thanks
I had'nt merge that before but i would try that in #165
Yes, It is big project but let's try to solve by detecting interesting points in two images using opencv.js.
My first for this issue would be I will get comfortable in OpenCV.js, then try to implement code, then moving to matching points and distortion of images.

[2018-10-02 12:53] kostadriano commented on #363
https://github.com/publiclab/image-sequencer/pull/370

[2018-10-02 13:17] roshniRam opened #371 "Multiple images show in grid"
When selecting multiple images, instead of stacking, it should be displayed in a grid.

Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in help

[2018-10-02 13:33] roshniRam commented on #369
@Mridul97 Can I work on this issue?

[2018-10-02 13:51] tech4GT commented on #369
Sure go ahead @roshniRam Thanks!!😄

[2018-10-02 13:53] Mridul97 commented on #369
@tech4GT Actually I was working to implement it:sweat-smile:

[2018-10-02 13:56] jywarren commented on #369
Maybe you could team up or you could share what you've done so far? Awesome!

On Tue, Oct 2, 2018, 9:54 AM Mridul97 <notifications@github.com> wrote:

[2018-10-02 13:56] Mridul97 commented on #368
Working on this!

[2018-10-02 13:59] Mridul97 commented on #369
Yes, sounds good. Thanks!

[2018-10-02 14:15] tech4GT commented on #369
Oh I'm sorry!! My bad!

[2018-10-02 14:47] jywarren commented on #368
ooh cool!

On Tue, Oct 2, 2018 at 9:57 AM Mridul97 <notifications@github.com> wrote:

[2018-10-02 15:36] roshniRam opened #373 "Button to top"
After selecting multiple files, add a button for the user to go back to-the top.

Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping yo

[2018-10-02 15:39] tech4GT commented on #373
@roshniRam Could you please elaborate on this a little more. Do take a look at #346 I think that is similar. Thanks!!

[2018-10-02 16:30] roshniRam commented on #373
@tech4GT Yes you are right

[2018-10-02 17:20] tech4GT commented on #373
@roshniRam then maybe you can add these things in a comment on the same issue? Should we close this one?

[2018-10-02 22:53] jywarren commented on #300
yes, i think we could have a "finding points" module, a "matching points"
module, and then a distortion one... solve it piece by piece in separate
PRs, you know?

On Tue, Oct 2, 2018 at 4:10 AM puneet bindal <notifications@github.com>
wrote:

[2018-10-03 06:52] wptechprodigy commented on #363
Is this still up for grabs?

I want to work on it right away.

[2018-10-03 07:48] wptechprodigy commented on #363
defaultHTMLStepUi.js seem to be empty after I had forked, cloned and view it with vim on my Termux CLI

[2018-10-03 07:49] wptechprodigy commented on #363
What could be the cause?

[2018-10-03 13:18] roshniRam commented on #373
@tech4GT Yup😄

[2018-10-03 13:18] #373 closed

[2018-10-03 18:45] rockstar777 commented on #363
I think it is merged, try to find another issue.
It should not be empty but may due some cloning error.
Try to open it in different text editor, may be it works.
Thanks for your interest.
keep contributing

[2018-10-03 18:45] #363 closed

[2018-10-04 00:57] RishabhBhaai commented on #356
Can I work on this issue?
I want to contribute for the first time.

[2018-10-04 16:55] Mridul97 opened #375 "Arrange the modules in alphabetical order"
We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.

# First Timers Only
Hi, this is a first-timers-only issue. This means this has been worked to make it more legible to folks who either haven't contributed to our codebase before or even

[2018-10-04 17:02] jywarren opened #376 "Extra information on new convolution module"
Hi! The new module is AMAZING. Just a couple follow up requests, @Mridul97 --

![image](https://user-images.githubusercontent.com/24359/46490106-163f2a80-c7d5-11e8-98c9-9464d56bb57c.png)

First, I'd like to have a link to what convolution is and what it's good for, just a wikipedia link as for matrix math i guess... anything that'd help people craft their own inputs.

Second, I'd like to show the

[2018-10-04 17:04] jywarren opened #377 "Module save button is sometimes greyed out when needed"
I'm seeing this on the Convolution module but it may affect all modules.

![image](https://user-images.githubusercontent.com/24359/46490443-05db7f80-c7d6-11e8-9698-e8509abc18b7.png)

We could start by finding the line of code which drives this in the UI code!

Thanks!

[2018-10-04 17:10] Mridul97 commented on #376
Great! Yes, I will make these changes. This will make the website more informative!

[2018-10-04 17:12] rohan2599 opened #378 "add a website icon to the website link"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-10-04 17:13] DakshGondaliya commented on #378
I want to work on this issue.

[2018-10-04 17:14] rohan2599 commented on #378
@DakshGondaliya  goahead

[2018-10-04 17:14] Mridul97 commented on #377
@jywarren I think this is happening because in the code below it is querySelector where as it should be querySelectorAll!

https://github.com/publiclab/image-sequencer/blob/70654a5aace44893e9940ea6b902b875d7e4cddc/examples/lib/defaultHtmlStepUi.js#L101

[2018-10-04 17:18] jywarren commented on #377
oh awesome, good catch!

This could be a first-timers-only issue, then. :-)

On Thu, Oct 4, 2018 at 1:15 PM Mridul97 <notifications@github.com> wrote:

[2018-10-04 17:19] jywarren commented on #376
Awesome :-)

On Thu, Oct 4, 2018 at 1:11 PM Mridul97 <notifications@github.com> wrote:

[2018-10-04 17:21] tech4GT commented on #378
@rohan2599 Please do take a review from @publiclab/mentors on the issues you raise before assigning them to contributors(especially first timers), we want to make sure that no effort goes to waste, and it's always nice to have another opinion, isn't it. Thanks!

[2018-10-04 17:28] rohan2599 commented on #378
I forgot to do that ! Sorry @tech4GT  . and  @publiclab/mentors please review the issue

[2018-10-04 17:58] tech4GT commented on #378
@jywarren In my view the link seems to be fine, What do you think?

[2018-10-04 18:21] jywarren commented on #378
Hmm, here it is:

https://github.com/publiclab/image-sequencer/blob/70654a5aace44893e9940ea6b902b875d7e4cddc/examples/index.html#L53

I'm OK with adding the globe icon but perhaps keeping all other text the same?

Thanks! @tech4GT is right, it's best to get a quick review. But your help is much appreciated!!! 👍

[2018-10-05 02:27] LeeWarnock commented on #375
claiming 😀

[2018-10-05 05:22] Ankit-Singla opened #382 "Provide a function signature for blend step"
I have noticed that some actions, like blend require a function as input. I think it would be great to provide a function signature for the same, to make it more descriptive.
![fnsignature](https://user-images.githubusercontent.com/22820781/46517418-c6bc3580-c88c-11e8-87e5-bc6b6b319a26.png)

[2018-10-05 05:32] tech4GT commented on #369
@Mridul97 Please take care about these things, I think we already have a greyscale feature inside colormap. We don't want anyone's efforts to go in vain.

[2018-10-05 05:36] Mridul97 commented on #369
Oh sorry, I didn't know that. I will take care about these things in the future. Thanks!

[2018-10-05 06:06] Ankit-Singla opened #383 "Input/Output mismatch on applying edge-detect"
In some cases, 'Detect Edges' is giving output not corresponding to the input image, but some other image loaded after that, and whose processing steps had later been removed.

This is the sequence of steps I followed :
1. Loaded initial image (default)
![screenshot 2018-10-05 at 11 07 27 am](https://user-images.githubusercontent.com/22820781/46518097-3ed82a80-c890-11e8-9056-5a86a2827817.png)

2.

[2018-10-05 06:30] Mridul97 commented on #375
Hi @LeeWarnock, we have reserved this issue for gci. Please look for any other issue which is not labeled as gci-candidate.

[2018-10-05 06:52] Apoorva-13 commented on #378
Hi can i take up this issue?

[2018-10-05 07:30] tech4GT commented on #378
@Apoorva-13 I think this one has already been taken, we would really like you try another one! Thanks!!😄

[2018-10-05 08:10] Apoorva-13 commented on #378
ok thanks:)

[2018-10-05 08:10] varun560 commented on #382
@Ankit-Singla i want to work on this.Can you explain in a little more detail?

[2018-10-05 08:15] Ankit-Singla commented on #382
Sorry @varun560 , I don't have the authority to assign the issue to you. Actually this issue has not been confirmed yet. Let's just wait for the mentors to review this.

[2018-10-05 08:29] tech4GT commented on #382
@Ankit-Singla Nice suggestion!! I think this is a great idea!!(I feel silly we didn't think of this haha)!
I think we can user the default value defined in info.json here! In fact this will be nice if use it for all modules! You can go ahead and work on this!
@varun560 I think @Ankit-Singla would be working on this issue, we can really use your help on other issues, Thanks to both of you!!

[2018-10-05 08:42] mkiara commented on #335
Hi. May I try?

[2018-10-05 08:45] tech4GT commented on #335
Hi @mkiara while we would love your help, this issue has been reserved for Google Code-in. It would be awesome if you can pick an issue which is not labelled`gci`
Thanks!!

[2018-10-05 08:51] Ankit-Singla commented on #382
Thank you @tech4GT . I'll give it a try.

[2018-10-05 09:02] mkiara commented on #335
Alright. Thank you sir.

[2018-10-05 14:07] tech4GT commented on #383
Thanks for pointing this out @Ankit-Singla
I'll look into this one!!

[2018-10-05 14:11] tech4GT commented on #376
@jywarren Awesome!! We have a very clever fix for the default thing in #384
Closing this one now!!

[2018-10-05 14:11] #376 closed

[2018-10-05 14:13] tech4GT commented on #377
@jywarren There is more to this issue as pointed out by @Ankit-singla on #340
Both of these can be fixed together I think then.
cc @Ankit-singla

[2018-10-05 14:14] tech4GT commented on #368
Closing this now. Thanks @Mridul97 👍

[2018-10-05 14:14] #368 closed

[2018-10-05 14:18] tech4GT commented on #361
Okay I looked through this and this seems to be a browser specific, since the issue does not happen on my machine. Please try clearing your browser cache and reopen this if the problem persists. Thanks!

[2018-10-05 14:18] #361 closed

[2018-10-05 14:19] tech4GT commented on #356
This issue has been reserved for GCI @vikul1234
We would really appreciate your help on another one which is not labelled `gci`. Thanks!!

[2018-10-05 14:44] jywarren opened #385 "JavaScript widget that initiates a mini Sequencer interface from any image on a page"
I've been thinking of how to integrate IS into sites like PublicLab.org, so that people who upload images can use these powerful image processing tools on photos and images they upload to that site. Think of, for example, people uploading microscope images, or aerial photos.

What if we could put in a JavaScript snippet that inserted an IS icon in the lower right corner of uploaded images, which,

[2018-10-05 14:59] jywarren commented on #385
ah oops... `ActiveRecord::ValueTooLong (Mysql2::Error: Data too long for column 'remote_url' at row 1: INSERT INTO `images` (`uid`, `crea
ted_at`, `updated_at`, `remote_url`)`

OK, so... have to do it differently... um... i think we need to adapt the images_controller to accept data urls... checking....

[2018-10-05 15:33] jywarren commented on #385
OK, so this would depend on this working: https://github.com/publiclab/plots2/pull/3619

[2018-10-05 15:55] #382 closed

[2018-10-05 16:00] jywarren commented on #377
Hmm, #340 is now live, but I still see this happening. Maybe there is another sneaky bug in there somewhere?

https://publiclab.github.io/image-sequencer/examples/#steps=convolution{constantFactor:0.1111111111111111|kernelValues:1%201%201%201%201%201%201%201%201}

[2018-10-05 16:35] jywarren commented on #377
yes please! thank you!

On Fri, Oct 5, 2018 at 12:27 PM Ankit Singla <notifications@github.com>
wrote:

[2018-10-05 16:47] Mridul97 opened #386 "Link in the description does not work as required"
Read more link in the description at the left side of the image downloads the image rather than opening the information webpage. The link should open a information webpage.

[2018-10-05 16:48] Mridul97 commented on #386
@jywarren @tech4GT can I work on this issue?

[2018-10-05 18:18] Ankit-Singla commented on #176
Is this issue open?
If so, I would like to work on this one if it's okay?

[2018-10-05 18:28] tech4GT commented on #176
@Ankit-Singla this is a relatively difficult issue, we would love your help here though!! Don't hesitate to ask if you get stuck! Thanks!!

[2018-10-05 18:34] Ankit-Singla commented on #176
I was thinking to present it as an input to the user, whether he/she wants the background to be white or black in the existing 'Detect Edges' module. Does this seem fine, or should I integrate this alternatively. @tech4GT
Thanks

[2018-10-05 19:15] vanguard07 opened #388 "Creating a new issue template"
We could implement something like done here [ISSUE_TEMPLATE.md](https://github.com/publiclab/plots2/blob/master/.github/ISSUE_TEMPLATE.md) @jywarren

[2018-10-05 19:36] tech4GT commented on #385
@jywarren This sounds really cool!! Also I think since we are not doing anything commercial here maybe we can use imgur's api, what say? That way we can upload these images to imgur and use that url.(As far as I remember they support data urls upto 10mb)
Have a look at this https://api.imgur.com/endpoints/image/

[2018-10-05 20:08] Paarmita opened #389 "When the input is larger make it as textarea"
In the blend module, the input is the blend function, according to which blending should be done.
So the input area shows function in a single line, it would look good if we can use the text area or some other component for it, instead of input.

![screenshot from 2018-10-06 01-34-24](https://user-images.githubusercontent.com/26546816/46557628-299ee280-c908-11e8-9600-64e32cd214ba.png)

[2018-10-05 20:10] tech4GT commented on #389
@Paarmita Awesome! I was also thinking about this earlier today, maybe we can create a ui for this module by embedding a light weight text editor into it!

[2018-10-05 20:11] tech4GT commented on #389
Since we expect people to write a complete function in there!

[2018-10-05 20:22] aashna27 opened #390 "Fix alignment of image sequencer description"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-10-05 20:52] Paarmita commented on #390
@aashna27 Can u please also provide the misplaced alignment of image sequencer description, in order to understand the problem better?
Thanks!

[2018-10-05 21:05] Paarmita opened #391 "Add download button to download image from a specific module"
In order to download the image, we need to click on it to do this. But if a button can be made to this, which is a good pattern to follow.

UI for download button can be

![screenshot from 2018-10-06 02-32-26](https://user-images.githubusercontent.com/26546816/46560161-53f49e00-c910-11e8-80ec-4f2042c15c1e.png)

Files need to be changed in order to add the button
https://github.com/publiclab/image-

[2018-10-05 21:24] vanguard07 opened #392 "Fix alignment of message in Add step box"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-10-05 21:31] aashna27 commented on #390
Yeah sure @Paarmita
The previous alignment of the description is as follows:
![image](https://user-images.githubusercontent.com/26546120/46560726-738cc600-c912-11e8-8060-b56854c108e0.png)

The modified look will be :
![image](https://user-images.githubusercontent.com/26546120/46561097-c61ab200-c913-11e8-8689-0de06616a4dd.png)

[2018-10-05 21:34] dlarner3194 commented on #392
I can take this one

[2018-10-05 21:37] vanguard07 commented on #392
@publiclab/mentors Please review.

[2018-10-05 23:13] tech4GT commented on #391
@Paarmita I think we already have a lot of ways to download stuff, adding one more seems redundant, what do you think?

[2018-10-05 23:32] gowrimanoharir commented on #390
Hi, can I work on this?

[2018-10-05 23:34] tech4GT commented on #390
Hello @aashna27 the description is supposed to take up that width, it's not a bug. Closing this one now. Thanks for your help!!

[2018-10-05 23:34] #390 closed

[2018-10-06 01:50] dlarner3194 commented on #392
I submitted a PR for this issue [here](https://github.com/publiclab/image-sequencer/pull/393)

[2018-10-06 03:29] Mridul97 commented on #386
Oh, I meant when we click on the 'Read more' link it downloads the image where as It should open a webpage that contains more information about that module!

![link](https://user-images.githubusercontent.com/21158457/46566954-20cd0180-c946-11e8-8081-603248e2bd34.gif)

[2018-10-06 03:32] Mridul97 commented on #159
Yes, I would love to give this a try! Thanks! @jywarren

[2018-10-06 04:35] Paarmita commented on #391
@tech4GT But it would be a great way to do so and removing other like clicking on the image. The button near Add step only downloads the last module image and not other.
And what does save sequence do as it didn't worked in my case?

[2018-10-06 07:02] Ankit-Singla commented on #389
@tech4GT I would like to work on this one. May I go ahead and start?

[2018-10-06 07:30] Ankit-Singla commented on #352
@tech4GT @jywarren Take a look at this. The patch stays until and unless a there is a click in the grey of the patch, and also renders the part of the UI it overlaps inaccessible/unresponsive.
Good observation @Paarmita
I would like to give it a try, if that's okay.

[2018-10-06 07:35] Paarmita commented on #352
@Ankit-Singla Go for it :+1: You need to see the files to be changed for this bug.

[2018-10-06 07:40] Ankit-Singla commented on #351
Even I faced the same issue.
@tech4GT What do you think might be the reason for this?

[2018-10-06 08:40] Mridul97 commented on #159
@jywarren @tech4GT Could you please tell which all image processing calculations we want to run on a different thread?

[2018-10-06 11:42] tech4GT commented on #386
Ah I see! Nice catch!! @Ankit-Singla would you like to work on this one?

[2018-10-06 11:47] tech4GT commented on #391
@Paarmita I see, let's keep this one long term then since right now apart from click to download and the download buttons, we are adding a save as gif button and too many buttons sort of give a bad UX. Let's keep this on hold until we figure out exactly how we want to handle the downloads part, I think @Mridul97 is working on some major design changes as well so maybe we can look into this post th

[2018-10-06 11:51] tech4GT opened #395 "Disable the Save Sequence button until one step is added"
# First Timers Only
Hi, this is a first-timers-only issue. This means this has been worked to make it more legible to folks who either haven't contributed to our codebase before or even folks who haven't contributed to open source before.

If you have contributed before, consider leaving this one for someone new, and looking through our general help wanted issues. Thanks!

# The Issue
The `save-se

[2018-10-06 11:54] tech4GT commented on #389
@Ankit-Singla Sure!! The one concern I have right now is that the editor needs to be as light weight as possible, so that it does not slow down the page!

[2018-10-06 12:01] tech4GT commented on #352
@Ankit-Singla Actually I am aware of this issue and last I checked this was an issue with the library `Image-area-select` that we for the selection feature. Maybe you can solve some smaller issues first to familiarize yourself with the code a little more before diving into this one, what say? Thanks!

[2018-10-06 12:04] tech4GT commented on #351
@Paarmita I'll look into these issues with the crop module, actually the library `image-area-select` had some bugs of which the developers were aware of and they were actively working on them, I'll see if they are fixed or I'll replace it with something else! Thanks!

[2018-10-06 12:07] tech4GT commented on #159
@Mridul97 So thing with this one is that this makes more sense for the browser since it becomes unresponsive while waiting for complex steps like edge-detect to run, what we want is a system where `sequencer.run()` is called on a different thread.

[2018-10-06 12:10] tech4GT commented on #159
So you need to figure how to pass all the image data from one thread to another and then back without introducing any significant delay, I tried this using the web worker API but it copies the data you are trying to pass in the new thread, making it slower for large amounts of data like images.

[2018-10-06 12:14] tech4GT commented on #159
I also found this page a while back https://keithwhor.github.io/multithread.js/
It also uses the web worker api but this is easier to use.

[2018-10-06 14:11] Ankit-Singla commented on #386
Yes, I would love to give it a try.

[2018-10-06 14:38] Mridul97 commented on #159
Ah okay, I will try to find a way to pass data from one thread to other faster. Thanks!

[2018-10-06 16:44] vanguard07 commented on #392
@dlarner3194 I made a mistake while writing the solution. Apologies for that. Could you update you PR accordingly. (Just replace the '#' with '.' in demo.css)

[2018-10-06 17:06] #383 closed

[2018-10-06 17:10] tech4GT commented on #392
Hi @vanguard07 @dlarner3194 Can you please elaborate on this issue with a screenshot?

[2018-10-06 17:11] jywarren commented on #324
I think this is basically complete -- we should break out the follow-up issues, but I also wanted to highlight what seems to be odd about the "sharpen" kernel of:

https://publiclab.github.io/image-sequencer/examples/#steps=convolution{constantFactor:1.0|kernelValues:-1%200%20-1%200%205%200%20-1%200%20-1}

Could be I"m doing something wrong...

![image](https://user-images.githubusercontent.com/24

[2018-10-06 17:19] Mridul97 commented on #159
@jywarren @tech4GT We want to run this function inside a different thread right?

https://github.com/publiclab/image-sequencer/blob/09669fe858fb738d6311c52f3306793b621c7358/examples/lib/defaultHtmlSequencerUi.js#L56

So we cannot use any npm? because browserify is not used on this file. I am sorry if I am not making sense:sweat_smile:

[2018-10-06 17:27] tech4GT commented on #324
@jywarren This is wierd behavior, I'll look into this issue right away! Thanks!

[2018-10-06 17:28] Mridul97 commented on #159
So we don't have to use greenlet?

[2018-10-06 17:30] jywarren commented on #324
Don't stress out! Pace yourself! 👍🏼

On Sat, Oct 6, 2018, 1:28 PM Varun Gupta <notifications@github.com> wrote:

[2018-10-06 17:30] tech4GT commented on #159
Greenlet is also based on worker api only, I'll suggest try browserifying it and then using it!

[2018-10-06 17:31] tech4GT commented on #324
Actually my trip got cancelled, I figured might as well write some code, haha 😃

[2018-10-06 17:31] Mridul97 commented on #159
Oh okay, Thanks!

[2018-10-06 17:36] vanguard07 commented on #392
@tech4GT
Before:
![screenshot 88](https://user-images.githubusercontent.com/23207859/46574119-5e6c7180-c9bc-11e8-84a4-a04f00338ca9.png)
After:
![screenshot 89](https://user-images.githubusercontent.com/23207859/46574122-717f4180-c9bc-11e8-8656-3bb92d149465.png)

[2018-10-06 17:38] tech4GT commented on #392
hmm, I guess we can go ahead with this, my one concern is how it will react to smaller and larger screen sizes, did you try that?

[2018-10-06 17:42] vanguard07 commented on #392
@tech4GT Yes I tried that. It looks good to me.
Before:
![screenshot 90](https://user-images.githubusercontent.com/23207859/46574175-46e1b880-c9bd-11e8-98b6-621c3c7daa8f.png)
After:
![screenshot 91](https://user-images.githubusercontent.com/23207859/46574179-4e08c680-c9bd-11e8-9726-8c3d7d2b10ea.png)

[2018-10-06 18:54] vanguard07 commented on #388
@publiclab/reviewers Please review

[2018-10-06 19:45] tech4GT commented on #392
Awesome!! You can go ahead and work on this one then, this looks good to me. Thanks!

[2018-10-06 19:53] tech4GT commented on #388
Okay I tried the link but it does not seem to lead anywhere, please check the link. Also if we have an issue template on plots do you think we need to add it here as well?

[2018-10-06 20:05] vanguard07 commented on #388
@tech4GT I have updated the link.
My suggestion is that having all the templates (Issue template, PR template, fto template) will help us understand the issues and pull requests more clearly. 😅

[2018-10-06 20:09] tech4GT commented on #388
Hmm, I suppose this can make sense for someone not all familiar with the plots project. Maybe let's wait to hear what jeff thinks of this. Thanks for pointing this out though! 😄
cc @jywarren

[2018-10-06 20:31] LeeWarnock commented on #375
of course! 😄 Thanks!

[2018-10-07 04:55] Mridul97 commented on #159
I was installing webworker-threads npm but I got the following error. Could you please help me with this. @tech4GT

![ss_21](https://user-images.githubusercontent.com/21158457/46578336-4972fb00-ca1b-11e8-8e48-c45522ee9e87.jpg)

![ss_22](https://user-images.githubusercontent.com/21158457/46578338-51329f80-ca1b-11e8-84ab-4a6a917aba84.jpg)

[2018-10-07 05:06] tech4GT commented on #159
Hmm, it seems this only works on mac, look it says requires os darwin.

[2018-10-07 05:47] Mridul97 commented on #159
Oh I see it requires os darwin. Thanks!

[2018-10-07 05:50] tech4GT commented on #159
I would suggest pass the sequencer object to a worker thread through the web worker api and then try to optimise the amount of data that is being passed. For instance we don’t need all the step outputs since we can process them, stuff like this.

[2018-10-07 06:31] Mridul97 commented on #159
Oh okay, I will try doing that. Thanks!

[2018-10-07 09:16] Mridul97 commented on #159
@tech4GT I tried to pass sequencer object to the worker thread from the main thread but I got the error 'could not be cloned'. I also tried to pass sequencer.run but I got the same error. Could you please help me with this.

[2018-10-07 09:18] tech4GT commented on #159
Yes mridul, this is difficult part, I think cloning custom objects has to follow certain rules, you would have to google that, so you would have to format the sequencer object accordingly before passing trying to pass it.

[2018-10-07 20:43] karthikhegde05 commented on #392
Hello sir, My name is Karthik Hegde. I wanted  to ask if I could claim this issue and send a pull request. This would be my first contribution to opensource community.

[2018-10-07 23:40] dlarner3194 commented on #392
Updated

[2018-10-08 13:36] Dhiraj240 commented on #389
@tech4GT i would like to work on this too.

[2018-10-08 13:37] tech4GT commented on #389
@Dhiraj240 I think Ankit has already started on this one, maybe you guys can collaborate?

[2018-10-08 13:41] Dhiraj240 commented on #389
@Ankit-Singla  will you collaborate because i probably need help. Can we submit two different PRs for this same issue?

[2018-10-08 16:11] jywarren commented on #392
@karthikhedge05 - we'd love a contribution from you. This task is taken already but there are more at https://code.publiclab.org#r=all - please check it out! We can also help you find one if there's not one available. Thank you and welcome!

[2018-10-08 18:01] Mridul97 commented on #159
@tech4GT I read that we cannot pass methods to the worker thread so I defined the run function in task.js and passed the images object and sequenceLength. I am actually stuck, there is no error showing but I am not getting the desired output. Will you please have a look once. Should I open a PR so that you can look at the code?

[2018-10-08 18:14] #378 closed

[2018-10-08 18:24] Mridul97 commented on #159
I have created a PR #398. Please have a look!

[2018-10-08 18:34] tech4GT commented on #159
Hmm mridul don't we have access to `new ImageSequencer()`  in the worker thread, Can't we pass the sequence and the image and then process them in a new sequencer object?

[2018-10-08 18:37] tech4GT commented on #159
Okay mridul I'll look into this in detail tom, gtg right now. Thanks for all the hard work on this one and don't worry we'll figure something out!

[2018-10-09 03:57] tech4GT commented on #324
Awesome!!👌

[2018-10-09 04:43] Ankit-Singla commented on #389
@tech4GT awesome! I'll do this today. Are you okay with this @Dhiraj240 ?

[2018-10-09 10:31] Dhiraj240 commented on #389
Alright, as you wish i am here to learn @Ankit-Singla

[2018-10-09 14:32] Ankit-Singla commented on #389
Cool @Dhiraj240
I have created a branch named `inputtextarea' and have invited you to be a collaborator. Please accept the invitation so that we can work on this one together. 😄

[2018-10-10 08:46] #344 closed

[2018-10-10 14:14] Mridul97 commented on #159
I tried creating a new ImageSequencer(), it didn't work. I think we don't have access to new ImageSequencer () in the worker thread. Please help!

[2018-10-11 03:40] MargaretAN9 commented on #332
I have  finished encoding new colormaps for image sequencer.  This should fix the double color  default problem described above and add  more options.

-Updated colorbars for image sequencer are pictured below:
![slide1](https://user-images.githubusercontent.com/37722313/46779165-abb25100-cce4-11e8-9f90-8834cba1bb7b.JPG)

-Changes made:
1)Replaced old ‘default’  with new default  that is  blue to

[2018-10-11 09:30] tech4GT commented on #395
@Mridul97 Could you format this into a first timers issue, much thanks!!

[2018-10-11 09:32] tech4GT commented on #159
Hmm, Mridul actually I am not working this week, let's look at this next week, maybe I'll think of something until then. Thanks!

[2018-10-11 10:01] jywarren opened #400 "explore acceleration w WebAssembly"
WebAssembly seems like a way we might speed up pixel-by-pixel operations.

https://developer.mozilla.org/en-US/docs/WebAssembly

But would it suffer from the same issues as webworkers, i.e. a cost of passing the image data over?

[2018-10-11 10:02] jywarren commented on #400
Also note this way of writing WebAssembly:

https://github.com/ballercat/walt

[2018-10-11 10:04] tech4GT commented on #400
@jywarren Even I was thinking we can write the pixel manipulation code in c and create a js binding to it, is that the same as web assembly? I mean the code shows up as native code.

[2018-10-11 13:39] Mridul97 commented on #159
Okay!

[2018-10-11 13:50] Mridul97 commented on #395
Done! Should we make it a gci-candidate issue?

[2018-10-11 19:01] maciejmyslinski commented on #395
I'm on it.

[2018-10-11 19:15] PrzemyslawPolrolniczak opened #401 "Typo in CONTRIBUTING.MD"
Hi,

I just noticed that link to "Ideas" in section 'Jump To' is dead.

[2018-10-12 07:07] jywarren commented on #371
Hi, @roshniRam -- would you be able to link to the lines of code which would have to change, and possibly share a screenshot of the area you'd like to invite people to adapt?

Thank you!

[2018-10-12 10:46] roshniRam commented on #371
@jywarren this issue has been fixed. Therefore, I am closing this issue.

[2018-10-12 10:46] #371 closed

[2018-10-13 12:54] sk9331657 opened #405 "Create a screencast showing installation of project and share the link in pr."
### Create a screencast showing the installation of the project and share the link in pr.

[2018-10-13 15:51] tech4GT commented on #405
@sk9331657 do you think we should put it in the readme? I was thinking maybe having an installation script would be better, what say?
cc @jywarren

[2018-10-13 15:57] tech4GT commented on #69
Closing this one now! 🎉

[2018-10-13 15:57] #69 closed

[2018-10-13 16:07] tech4GT commented on #332
Great work @MargaretAN9 I'm a little busy right now but will get to this as soon as possible!! Thanks!! 😄

[2018-10-13 16:09] sk9331657 commented on #405
@tech4GT  We can use installation script also but creating a gif or video will help noobies to get better hands-on in setting up projects.

[2018-10-13 16:11] tech4GT commented on #405
Hmm maybe okay I like the idea of having more info on installation and setting up so let's change this issue to `Creating an installation script`(Since we need to install grunt globally as well in order for the project to work and people have had trouble with it).
We can then link add the command to run the install script in the README file. Thanks @sk9331657

[2018-10-13 16:13] sk9331657 commented on #405
@tech4GT  Can I add up this issue in GCI tasks??

[2018-10-13 16:14] tech4GT commented on #405
Oh I think this will be a little too much for gci students no?

[2018-10-13 22:33] jywarren commented on #69
🙌

On Sat, Oct 13, 2018, 11:58 PM Varun Gupta <notifications@github.com> wrote:

[2018-10-13 22:45] jywarren commented on #401
Ah, thanks for the catch! Would you be interested in submitting a fix?

On Fri, Oct 12, 2018, 3:17 AM gitmate[bot] <notifications@github.com> wrote:

[2018-10-14 11:31] aashna27 opened #407 "Remove Redundant text and Capitalize first word"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-10-14 11:49] aashna27 opened #408 "Typo in info.json"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-10-14 12:34] aashna27 opened #409 "Fix installation setup by improving package.json."
The scripts in the package.json file are segregated incorrectly and this leads to unresolved warnings while trying to run the project locally.

![image](https://user-images.githubusercontent.com/26546120/46916542-a8b3ab00-cfd9-11e8-98b7-d24a568dc278.png)

The unnecassary warnings prevent the project, from running locally. An updation of the Readme.md and package.json is required.

Note:I am workin

[2018-10-14 12:36] tech4GT commented on #409
Hmm, this seems to be a windows specific issue. I’ll take a look. Thanks for pointing this out.

[2018-10-14 12:37] aashna27 commented on #409
Yeah .. but i would like to work on this.

[2018-10-14 12:39] tech4GT commented on #409
Oh sure, go ahead! We would love your help😄
PS please make sure you don't break the script for Unix environments

[2018-10-14 12:40] aashna27 commented on #409
yeaahh suree !!! :)

[2018-10-14 12:42] tech4GT commented on #409
Also try clearing your npm cache and then running the script again.(hope you're running it as administrator).

[2018-10-14 12:51] aashna27 commented on #409
Yeah , thanks. I did try all these but the problem persisted

[2018-10-15 02:03] sashadev-sky commented on #407
I would like to work on this issue.

[2018-10-15 02:07] sk9331657 commented on #407
Go ahead .

[2018-10-15 02:38] sashadev-sky commented on #407
thank you, this is done.

[2018-10-15 04:53] sk9331657 commented on #407
Sure.

[2018-10-16 04:29] jywarren commented on #332
OK, this is super. @MargaretAN9 have you opened a pull request yet? I think we could essentially do this in 2 smaller parts - the back-end code in one, where you have to specify based on just submitting a string. We currently display the names of colormaps here:

![image](https://user-images.githubusercontent.com/24359/46992810-8ac97180-d0d1-11e8-8432-d4bd18469710.png)

However, I think we ought t

[2018-10-16 04:34] jywarren commented on #356
This is a great issue - @Paarmita thanks! Maybe one addition is that you can link to a page including the import-image module using a permalink:

http://sequencer.publiclab.org/examples/#steps=import-image

[2018-10-16 04:39] Paarmita commented on #356
@jywarren Yup! we can do that as well.

[2018-10-16 19:56] aashna27 commented on #386
@Ankit-Singla are you still working on this one ??

[2018-10-16 20:33] aashna27 opened #416 "Add anchor for read more"
I believe the description should have an anchor to the url provided, rather than the link being specified as plain text.
![image](https://user-images.githubusercontent.com/26546120/47045473-84f68d80-d1b0-11e8-9102-b644704e8763.png)

Note: I want to work on it.

[2018-10-16 23:41] jywarren opened #417 "image-sequencer webservice"
This idea was proposed by, I think, @tech4gt? It involves setting up a new repository in which we have a containerized/dockerized node version of image-sequencer which can accept commands via REST API calls.

The string syntax makes this easier, by allowing us to pass an image or url plus an instruction set. An image would be output.

Another thing we could offer is a callback function maybe? Hmm.

[2018-10-17 06:19] jywarren commented on #416
Agreed! How would you like to solve it? Thanks!

On Wed, Oct 17, 2018, 4:35 AM gitmate[bot] <notifications@github.com> wrote:

[2018-10-17 06:28] aashna27 commented on #416
The Read more would link to the url provided.

[2018-10-17 07:03] jywarren commented on #417
Ah, this is part of https://publiclab.org/notes/tech4gt/02-19-2018/gsoc-proposal-image-sequencer-v2-processing-on-steroids and

https://github.com/publiclab/image-sequencer/issues/198

[2018-10-17 07:04] #417 closed

[2018-10-17 07:15] jywarren commented on #198
Getting back to this one, esp after all the great improvements this last summer.

This could involve setting up a new repository in which we have a containerized/dockerized node version of image-sequencer which can accept commands via REST API calls.

The string syntax makes this MUCH easier, by allowing us to pass an image or url plus an instruction set. An image would be output.

Another thing w

[2018-10-17 09:28] albanmahmut commented on #407
Can I contribute this one?

[2018-10-17 14:48] jywarren opened #418 "transform metadata module"
This module would simply pass through the image with no changes but would modify the metadata using a provided function. This can help prepare image metadata for modules that require specific upstream metadata formats.

None of these modules yet exist so this doesn't need to be written yet. But they most likely will!

[2018-10-17 22:51] Divy123 commented on #408
Hi! Is this issue still open to contribute?

[2018-10-18 01:42] tech4GT commented on #408
@Divy123 I think this one was fixed already, we could use your help on another one. Thanks! 😄

[2018-10-18 01:42] #408 closed

[2018-10-18 01:51] tech4GT commented on #198
@jywarren This looks great! I didn't quite get the purpose for callback though. Also I was thinking of starting this one in my winter break.

[2018-10-18 01:52] tech4GT commented on #407
@albanmahmut I think this was already fixed by @sashadev-sky but we can really use your help on another one. Thanks! 😄

[2018-10-18 01:53] #407 closed

[2018-10-18 01:54] jywarren commented on #198
The callback is not necessary for most cases. But it could function like a
push request back to an originating server which could replace polling for
progress. Just thinking ahead to useful architecture.

On Thu, Oct 18, 2018, 9:52 AM Varun Gupta <notifications@github.com> wrote:

[2018-10-18 01:57] tech4GT commented on #198
Hmm, I am thinking rather than doing it this way maybe we can use web sockets for this kind of functionality, what do you think?

[2018-10-18 02:18] jywarren opened #421 "configurable parameters for blend module image number"
I believe the blend image module, which combines two previous step's outputs, has a fixed or static choice of which two images to use. We should make the default be what it currently is, but allow a settable option parameter for which earlier step to blend in, as an integer index. So two steps back would be -2, three would be -3.

This shouldn't be too hard to make into a first-timers-only issue!

[2018-10-18 05:15] albanmahmut commented on #407
Ah, I see. Yes, I would appreciate it. :) @tech4GT

[2018-10-18 07:42] vagita24 commented on #421
Can i take this  issue?

[2018-10-18 10:08] Divy123 commented on #395
Is this issue still open?

[2018-10-18 11:48] tech4GT commented on #421
Sure @vagita24!! Go ahead!

[2018-10-18 11:52] KusioDev commented on #421
I didn't see the vagita24 comment, and I've made my solution for this issue.

[2018-10-18 11:54] tech4GT commented on #421
Oh! Hmm, @kusioDev please do claim the issue before working on it. It saves a lot of effort. Anyway since you have already opened a project, @vagita24 we can really use your help on another one. Thanks!😄

[2018-10-18 11:56] KusioDev commented on #421
Sorry, I'm new to this, and I'm still learning. Next time I'll claim the issue so others won't waste their time 😁

[2018-10-18 12:04] jywarren opened #423 "add slider UI to some modules HTML UI: brightness, blur"
I believe there's a few simple slider libraries available! jQuery slider, and you can probably search https://npmjs.com for more options.

Let's start with the brightness module and make adjusting brightness easier for people!

[2018-10-18 13:03] tech4GT commented on #421
Thanks a lot @KusioDev It's okay, don't stress on it. Thanks for your contribution 😄

[2018-10-18 13:05] tech4GT commented on #395
@maciejmyslinski Are you still pursuing this one? If not @Divy123 can proceed with this. Thanks!

[2018-10-19 06:43] aashna27 commented on #423
I would like to work on this.

[2018-10-19 06:46] tech4GT commented on #423
Sure!! Go ahead! Thanks! :Smile:

[2018-10-20 20:57] vishalka98 opened #427 "Download and download as gif button not working in image sequencer"
### Please describe the problem (or idea)
Download button is not working in image sequencer where as download as gif button repeats the gif again and again.

Download the image or gif.

### Please show us where to look

http://sequencer.publiclab.org/examples/#steps=channel{channel:green}

### What's your PublicLab.org username?
vishalka98

### Browser, version, and operating system

****

## Than

[2018-10-20 22:44] KusioDev commented on #427
Can I work on this?

[2018-10-20 22:47] jywarren commented on #427
We'd love your help but I'm not sure of the problem just yet. Can someone
try the demo and paste in the JavaScript error that happens when you do
these actions?  Thanks!

On Sat, Oct 20, 2018 at 5:45 PM KusioDev <notifications@github.com> wrote:

[2018-10-21 21:14] jywarren commented on #13
I think this is solved now that we no longer use the plotly library!

[2018-10-21 21:14] #13 closed

[2018-10-21 21:17] aashna27 opened #429 "Allow upload of only image file types in import-image module"
### We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI !

Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can a

[2018-10-21 21:21] jywarren opened #430 "Colorbar overlay module with more advanced design"
After #285, we now can generate and overlay a colobar, and it looks great:

![](https://user-images.githubusercontent.com/25617855/43723773-13fce2e6-99b6-11e8-9926-f6e3133a76cb.png)

I'm thinking what the next step could be; we could potentially work on text overlay (currently in #165 but will be broken out) to show labels

and also display the colorbar with an outline (we also don't have "drawing

[2018-10-21 21:31] jywarren opened #431 "Text overlay module"
It'd be great to have a module which accepts a `string`, `font_size` (default 10pt?), `x`, `y`, `width`, and `height`, and `color`, and draws the text onto the image at the specified dimensions.

The default text would probably be Lorem ipsum, or maybe `Hello world.`.

Since we don't use `canvas` utilities, we would need to manually render the fonts. However, this library seems to be able to gener

[2018-10-21 21:39] jywarren commented on #300
There are actually feature detection and description abilities in `jsfeat` here: https://github.com/publiclab/image-sequencer/issues/165

I /believe/ this is in pure javascript!

[2018-10-21 21:41] jywarren commented on #300
and there's a very cool demo that seems to be running here: https://inspirit.github.io/jsfeat/sample_orb.html

[2018-10-21 21:44] jywarren commented on #324
I was wondering if the sharpen above is still seeing issues? no rush though, just curious.

[2018-10-22 02:04] Mridul97 commented on #431
I would love to work on this issue. Can I work on this?

[2018-10-22 02:10] Mridul97 commented on #431
I would love to work on this issue. Can I give this issue a try?

[2018-10-22 03:11] Mridul97 commented on #431
I would love to work on this issue. Can I give it a try?

[2018-10-22 03:12] Mridul97 commented on #431
I would love to work on this issue. Can I give it a try?

[2018-10-22 03:17] jywarren opened #432 "display add step menu with common modules as "quick" buttons"
When selecting a new step to add at the demo, https://sequencer.publiclab.org, we should have a way to quickly add the most common types of

Sort of like the Instagram menu shown in this screenshot!

This can be a design issue first - needing mockups, sketched ideas, discussion. We'd love some help!

![screenshot_20181021-231523](https://user-images.githubusercontent.com/24359/47276756-7f6dbe80-d5

[2018-10-22 03:17] jywarren commented on #432
![screenshot_20181021-231523](https://user-images.githubusercontent.com/24359/47276756-7f6dbe80-d587-11e8-96ce-bdf0f1492426.png)

[2018-10-22 03:19] jywarren opened #433 "display add step menu with common modules as "quick" buttons"
Sort of like the Instagram menu shown in this screenshot!

[2018-10-22 03:19] jywarren commented on #433
![screenshot_20181021-231523](https://user-images.githubusercontent.com/24359/47276795-ca87d180-d587-11e8-989e-559a81c6c851.png)

[2018-10-22 12:41] #433 closed

[2018-10-22 12:41] jywarren commented on #433
Oops double posted!

[2018-10-22 12:41] jywarren commented on #432
We can probably use fontawesome for the icons!

[2018-10-22 13:08] jywarren opened #434 "Rotate module"
We should have a rotate module that accepts an angle. I'm sure there's a library we can use to make this easy. Maybe:

https://www.npmjs.com/package/imagejs

We'd love help with this one!

[2018-10-22 13:11] jywarren opened #435 "Resize/scale module"
We should have a resize/scale module that accepts a percent parameter. I'm sure there's a library we can use to make this easy. Maybe:

https://www.npmjs.com/package/imagejs

We'd love help with this one!

[2018-10-22 15:38] SidharthBansal commented on #346
Published on GCI dashboard

[2018-10-22 15:54] #416 closed

[2018-10-22 15:55] #409 closed

[2018-10-22 17:12] jywarren commented on #434
Wow that would be super!!!

On Mon, Oct 22, 2018 at 12:24 PM aashna27 <notifications@github.com> wrote:

[2018-10-22 17:20] rockstar777 opened #436 "Enhance gif view"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

## The Problem
Enhance gif view, Gif should show in popup view instead of it showing in same page.
some thing like this.
 https://www.w3schools.com/bootstrap/bootstrap_modal.asp

##

[2018-10-22 17:37] SidharthBansal commented on #335
This task is published on GCI dashboard. Thanks all.

[2018-10-22 17:38] SidharthBansal commented on #337
This task is published on GCI dashboard. Thanks all.

[2018-10-22 17:38] SidharthBansal commented on #375
This task is published on GCI dashboard. Thanks all.

[2018-10-22 17:39] SidharthBansal commented on #356
This task is published on GCI dashboard. Thanks all.

[2018-10-22 17:40] SidharthBansal commented on #343
This task is published on GCI dashboard. Thanks all.

[2018-10-22 17:55] SidharthBansal commented on #436
Can you please tell code links in the repository?
So that I can publish this onto GCI main website.
We need to have code links in the issues before posting them onto GCI dashboard.
Thanks

[2018-10-22 17:59] SidharthBansal commented on #345
This task is published on GCI dashboard. Thanks all.

[2018-10-22 18:09] rockstar777 commented on #436
yeah sure in a moment
thanks

[2018-10-22 18:39] SidharthBansal commented on #429
@tech4GT can you please tell whether this is needed?

[2018-10-22 19:00] jywarren commented on #429
I think this one is OK to do!

On Mon, Oct 22, 2018 at 2:40 PM Sidharth Bansal <notifications@github.com>
wrote:

[2018-10-22 19:03] rockstar777 commented on #436
@SidharthBansal I think this can be pushable on gci dashboard
Thanks

[2018-10-22 21:01] #423 closed

[2018-10-22 21:53] jywarren commented on #198
I think websockets could be cool, but a basic API may be easier to
implement and integrate -- the client may not be submitting from javascript
in any case. So perhaps we could work on a RESTful approach first, but then
consider if a websockets interface is a good follow-up! What do you think?

On Wed, Oct 17, 2018 at 9:58 PM Varun Gupta <notifications@github.com>
wrote:

[2018-10-23 19:31] KusioDev commented on #435
Can I take this one 😃?

[2018-10-23 20:10] jywarren commented on #435
That would be awesome, thank you!

[2018-10-24 05:08] aashna27 commented on #435
@KusioDev would love to help you, if you need . 😄

[2018-10-24 06:10] SidharthBansal commented on #335
Go ahead

[2018-10-24 06:52] generationXcode commented on #335
Thanks

[2018-10-24 07:50] generationXcode commented on #335
what can I write in the footer?

[2018-10-24 08:48] Alfen16 commented on #346
How do I claim this issue??? or open it with Desktop Github?

[2018-10-24 12:03] SidharthBansal commented on #346
For claiming the task just write a comment asking to claim it

For reproducing the task you need to install the software first

[2018-10-24 12:38] generationXcode commented on #335
![the_work_i_did](https://user-images.githubusercontent.com/43435971/47430747-d659da80-d7b7-11e8-8483-14b5510d3dd5.png)

[2018-10-24 13:57] Dhiraj240 commented on #389
@Ankit-Singla please remove your invitation as i am planning to give a direct PR so if you don't mind then i am working on it as already several days have passed without working.Let me give it a try and if i am not able to reproduce this issue, i will assign you.

[2018-10-24 18:02] Ankit-Singla commented on #389
Sure @Dhiraj240 go ahead!

[2018-10-24 20:31] KusioDev commented on #435
@aashna27 Sure, I'm still new to this, and I would appreciate some help 😄
If you have discord you can add me Kusioo#4401 😎

[2018-10-25 10:59] tech4GT commented on #324
Oh, I completely forgot about this, will look into this as soon as I get time, pretty busy with the end of semester though 😄

[2018-10-25 11:07] tech4GT commented on #429
This one has been fixed.

[2018-10-25 11:07] #429 closed

[2018-10-25 13:22] makoteq commented on #356
what we have to give in response on GCI?

[2018-10-26 17:53] #436 closed

[2018-10-26 18:54] jywarren commented on #385
Confirmed that this works using the following script, from JavaScript console on any PublicLab.org page:

[code]

[2018-10-27 14:41] Divy123 commented on #395
@tech4GT I have taken up this issue as of now and started with the code base.
https://github.com/publiclab/image-sequencer/blob/b30b539dab5c329d874a1c5f235fa2518605da10/src/InsertStep.js#L39-L41
Is this the array (stepsArray) the one with number of steps?

[2018-10-27 18:47] tech4GT commented on #395
@Divy123 No you are looking in the wrong place, you need to look at the UI in examples folder and not the src.

[2018-10-27 22:34] #346 closed

[2018-10-30 23:16] #338 closed

[2018-11-01 15:38] jywarren commented on #400
Interesting -- well, the WebAssembly approach means it'd be runnable at (near?) native speed in the browser, too! I think it could get really fast -- maybe not GPU speed, but maybe closer to video speed. For a speed reference we'd like to get closer to, see the Infragram WebGL demo: https://publiclab.github.io/infragram/

[2018-11-01 15:41] jywarren commented on #400
Walt seems like a good way to easily write webassembly code!

[2018-11-02 02:44] Divy123 commented on #353
Can I work on this issue?
@tech4GT

[2018-11-02 02:47] Divy123 commented on #434
Can I work on this issue @jywarren ?

[2018-11-02 03:53] ho-dor commented on #431
is this issue solved @Mridul97 ? can I help @jywarren ?

[2018-11-02 03:54] ho-dor commented on #430
can I work on this @jywarren  ?

[2018-11-02 05:16] Mridul97 commented on #431
@ho-dor No, this issue is not solved. Actually I was busy with college last week. Yes we can work on it together if you want:smile:

[2018-11-02 22:32] jywarren commented on #198
This could relate to https://github.com/publiclab/pi-builder/pull/42 where we want to run Image Sequencer on the Raspberry Pi!

[2018-11-03 10:55] Paarmita commented on #353
@Divy123 Yes, You can as no one is currently working on it.

[2018-11-03 10:58] Paarmita commented on #435
Closing this one, As PR has been merged. Thanks @KusioDev :)

[2018-11-03 11:01] #435 closed

[2018-11-03 17:43] aashna27 commented on #434
@Divy123 I am really sorry I could give time to it but i would like to pursue this. I would let you know if I need some help 😄

[2018-11-04 23:49] jywarren commented on #14
I'm going to close this since we now only re-run the critical modules! If someone wants to open a new issue for "preview versions" that'd be cool too!

[2018-11-04 23:49] #14 closed

[2018-11-05 02:35] Divy123 commented on #434
Sure @aashna27 .

[2018-11-08 15:03] jywarren commented on #400
Also noting imagemagick has been compiled for webassembly... Wow!

https://github.com/KnicKnic/WASM-ImageMagick/blob/master/Readme.md

[2018-11-08 15:12] jywarren commented on #400
I think we could write a version of Pixelmanipulation following this example!

https://github.com/ballercat/walt/wiki/Walt-In-5-Minutes

...but would we be able to run a JavaScript function inside? I'm not sure about that. Would the function have to be compiled as well?

[2018-11-08 15:16] jywarren commented on #400
Docs for reading an image into webassembly: https://developer.mozilla.org/en-US/docs/WebAssembly/existing_C_to_wasm

[2018-11-08 15:21] jywarren commented on #400
This is a great area for testing code snippets!

https://ballercat.github.io/walt/

[2018-11-08 19:20] jywarren opened #458 "Break out string parsing functions into a separate file called Strings.js"
This is some great code! Let's break it out so it's more readable. We might even make a folder called `strings` and break it out more thoroughly.

https://github.com/publiclab/image-sequencer/blob/2243a4b8f7dae9741873b721c9a6d41582fa3c98/src/ImageSequencer.js#L234-L344

Keep an eye on the tests here, which will tell us if we've properly moved the code:

https://github.com/publiclab/image-sequencer

[2018-11-08 19:20] jywarren commented on #458
@Mridul97 would you be at all interested in this one? Just curious!

[2018-11-08 19:23] jywarren opened #459 "Close-parentheses in Dynamic module input get lost when sourced from URL"
The new ability to use a `map()` function in the Dynamic module (#457) works, but the URL gets messed up;

http://localhost:8000/examples/#steps=dynamic{red:map(r%2C0%2C255%2C0%2C128)|green:g|blue:b|monochrome%20(fallback):r%20%2B%20g%20%2B%20b}

This loses the closing ) from the map(...) function when you open it... not sure why!

https://github.com/publiclab/image-sequencer/blob/2243a4b8f7dae974

[2018-11-08 20:44] #434 closed

[2018-11-10 09:05] ho-dor commented on #458
Can I claim this @jywarren, please?

[2018-11-10 16:40] jywarren commented on #458
Yes please, that'd be great!!!

On Sat, Nov 10, 2018, 4:05 AM Kunal Rai <notifications@github.com wrote:

[2018-11-10 17:56] jywarren commented on #157
Oh wow this looks great. Do you have a PR for it? I'd love to accept this! Thank you!

[2018-11-10 22:49] jywarren commented on #198
@icarito i'm a little curious about this - do you think we could containerize this library and run a "job" processing a batch of image sequencer steps on a batch of images, in a CI process? Such that we could "submit" a job with URLs of a set of images, and get out the processed output as an artifact?

[2018-11-11 13:17] Mridul97 commented on #157
I have created a PR #463 Please have a look!

[2018-11-11 17:19] jywarren commented on #430
That would be super - we'd love your help!

[2018-11-11 17:26] jywarren opened #464 "Add x and y inputs to Resize module"
We have a great new Resize module by @KusioDev!

Try it here: http://sequencer.publiclab.org/examples/#steps=resize{resize:25%25}

It's super. Let's expand on it by allowing resize to be done either with locked aspect ratio (the current, where both x and y are scaled the same) or separately by x and y:

![image](https://user-images.githubusercontent.com/24359/48316099-ccecb280-e5ac-11e8-983d-dc53f

[2018-11-11 17:49] jywarren opened #465 "Overlay module offset parameter doesn't work"
The Overlay module has a parameter called "offset" which lets you set which step is overlaid onto. But it doesn't seem to work:

See it malfunctioning here in the final step:

http://sequencer.publiclab.org/examples/#steps=crop{x:0|y:0|w:611|h:479},gradient{},colormap{colormap:stretched},crop{x:0|y:0|w:611|h:60},resize{resize:25%25},overlay{x:5|y:5|offset:-5}

Compare to:

http://sequencer.publicl

[2018-11-11 17:50] jywarren commented on #465
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://code.publiclab.org/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting it as a first-timers-only

[2018-11-11 18:11] jywarren opened #466 "Add an "insert step" button on each step UI"
This code shows the excellent "insert step" method in use:

https://github.com/publiclab/image-sequencer/blob/5f57123503993e889fbd3869cdcbc356c7d0bf6b/test/modules/image-sequencer.js#L139-L144

We should add a new button (next to the trash button) which lets you insert a new module:

![sketch-1541958834514 png](https://user-images.githubusercontent.com/24359/48316374-ea238000-e5b0-11e8-95e4-d187be

[2018-11-11 18:12] #375 closed

[2018-11-11 18:16] jywarren commented on #432
The "adjust" icon is generic but good, maybe for brightness? https://fontawesome.com/v4.7.0/icon/adjust

![image](https://user-images.githubusercontent.com/24359/48316606-f0ffc200-e5b3-11e8-91c3-e23b7102c2ec.png)

[2018-11-11 18:16] jywarren commented on #432
Refresh is good! https://fontawesome.com/v4.7.0/icon/refresh

![image](https://user-images.githubusercontent.com/24359/48316612-0543bf00-e5b4-11e8-9dbd-f852d5e3083f.png)

[2018-11-11 18:47] jywarren commented on #400
Just asked over at the Walt project if their compiler runs in the browser. Otherwise we could look at precompiling these at build time.

[2018-11-11 18:57] jywarren commented on #400
So I think if the simple pixel manipulation function we pass into the PixelManipulation module is close enough to Walt syntax, which is actually WebAssembly, but "looks like" javascript... so if the inside of a function like this could be compiled almost directly, that'd be interesting:

https://github.com/publiclab/image-sequencer/blob/1311119787e6b7e7100cec80da59253adb0eba8b/src/modules/Brightne

[2018-11-12 04:32] jywarren opened #467 "Ability to set background color when "over cropping" to enlarge canvas"
When the crop module is given dimensions larger than the original image, it adds blank (transparent) pixels to the image edges; see this example:

http://sequencer.publiclab.org/examples/#steps=crop{x:0|y:0|w:611|h:479}

![image](https://user-images.githubusercontent.com/24359/48326907-cf312a00-e609-11e8-9840-59be62388551.png)

It would be excellent to offer as a parameter the color that can be fi

[2018-11-12 04:32] jywarren commented on #430
I've added a new issue for setting the background during a crop operation: https://github.com/publiclab/image-sequencer/issues/467

[2018-11-12 04:36] jywarren commented on #430
So, this sequence is getting closer! https://sequencer.publiclab.org/examples/#steps=crop{x:0|y:0|w:611|h:479},gradient{},colormap{colormap:stretched},crop{x:0|y:0|w:611|h:60},resize{resize:25%25},overlay{x:5|y:5|offset:-4}

But I still can't get it to appear in the newly added padding below the image that results from the crop. But closer!

[2018-11-12 11:19] KusioDev commented on #467
It looks interesting! But how would we set the color? RGB, HEX, or color input?

Anyway, I'd like to work on that one 😅

[2018-11-13 15:00] Mridul97 commented on #237
Hey, I used OpenCV.js to add two images. It took two images as input. The tulips image below was given twice as both the inputs. Please have a look! :smiley:
![tulips](https://user-images.githubusercontent.com/21158457/48421586-d29bf100-e782-11e8-9132-917d54fadfa3.png)

And I got this output.
![output](https://user-images.githubusercontent.com/21158457/48421634-e9dade80-e782-11e8-8bb7-92eb5bad3765

[2018-11-13 15:02] jywarren commented on #237
oh wow. can you share a PR to see how you did this? Was it integrated into
image sequencer, or just a demo? If not integrated, maybe you could share
on gist.github.com so we have some code examples to go from?

very cool!!!!

On Tue, Nov 13, 2018 at 10:01 AM Mridul97 <notifications@github.com> wrote:

[2018-11-13 15:37] Mridul97 commented on #237
No, It is not integrated into image sequencer. It is just a demo. Link of the gist :- https://gist.github.com/Mridul97/8588a6029b54942cd319605ad7a3917a
Please have a look!

[2018-11-13 17:09] Divy123 commented on #353
@Paarmita can you please guide me on how to start with this?
I was looking through the discussion above and concluded that we require a function that takes the input ,parses it and converts to the coordinates.

[2018-11-13 17:14] Divy123 commented on #466
@jywarren can I work on this?
Looks interesting to me.

[2018-11-13 17:21] jywarren commented on #466
oh that would be great, thank you!

On Tue, Nov 13, 2018 at 12:15 PM Slytherin <notifications@github.com> wrote:

[2018-11-13 17:22] jywarren commented on #353
I think that's right -- perhaps we can detect if the input ends in a %, and
parse only if it does. And keep in mind inputs might be one in percentage,
the other in units, so that we'll need to decide to parse them on a
case-by-case basis?

On Tue, Nov 13, 2018 at 12:09 PM Slytherin <notifications@github.com> wrote:

[2018-11-13 17:22] #157 closed

[2018-11-13 17:23] Divy123 commented on #388
@jywarren @tech4GT can I work on this please?

[2018-11-13 17:31] jywarren commented on #237
Looking at https://docs.opencv.org/3.4.1/df/d24/tutorial_js_image_display.html ... maybe imshow is not canvas-specific?

[2018-11-13 17:35] jywarren commented on #237
I saw there's a `matFromImageData` function, and am looking for a matching `matToImageData` function...

[2018-11-13 17:38] jywarren commented on #237
You might also inspect what `cv.imshow` does in the source... i couldn't find this. Or inspect what's inside of `mat1` and `cv` to see if we can parse it out ourselves?

[2018-11-13 17:58] jywarren commented on #237
Oh awesome. So `mat1.data` is a `Uint8Array(409600)` -- we can work with that!

Maybe some help here:

* https://www.npmjs.com/package/array-to-image ??
* https://stackoverflow.com/questions/13385335/setting-uint8clampedarray-to-imagedata-is-very-slow-in-firefox
* https://stackoverflow.com/questions/50620821/uint8array-to-image-in-javascript#50621435
* https://www.html5rocks.com/en/tutorials/webgl

[2018-11-13 18:08] Divy123 opened #470 "UI Improvements"
The UI for browser can be improved in these ways:
1.`choose file` option should be made to centre.
2.Project description can be made to look better.
3.`open source by public lab` line can be made to appear at the bottom of the page
4.The step description can be made to appear at  right and the resultant image at the left.
5.`Add Step` and `Download PNG` view boxes can be aligned vertically for a b

[2018-11-13 18:11] Divy123 opened #471 "Change Gif to GIF in 'View Gif' button."
File that can be looked in:
[https://github.com/publiclab/image-sequencer/blob/main/examples/index.html](url)

[2018-11-13 19:27] Mridul97 commented on #237
Yes, we can access and modify pixel values using mat.data!! Something like this:
'let row = 3, col = 4;
let src = cv.imread("canvasInput");
if (src.isContinuous()) {
    let R = src.data[row * src.cols * src.channels() + col * src.channels()];
    let G = src.data[row * src.cols * src.channels() + col * src.channels() + 1];
    let B = src.data[row * src.cols * src.channels() + col * src.channels(

[2018-11-13 19:35] #342 closed

[2018-11-13 21:38] jywarren commented on #400
Walt folks responded to say that `walt` does indeed compile in the browser, on the fly! Awesome.

[2018-11-13 21:41] jywarren opened #472 "refactor/speed up Brightness module (and other PixelManipulation modules)"
Folks from the `walt` project helpfully suggested some optimizations for the Brightness module, that are also applicable to any PixelManipulation module:

[code]

`r = val*r<255?val*r:255` could simplify to `r = 255 * Math.min(val, 1)`

[code]

[code]

https://github.com/ballercat/walt/issues/173#event-1964290508

This is very helpful! Anyone want to try implementing this?

https://github.com/publ

[2018-11-13 21:42] jywarren commented on #472
This would be equally valid to implement on any PixelManipulation-based module: https://github.com/publiclab/image-sequencer/search?q=pixelmanipulation

[2018-11-13 22:33] jywarren commented on #467
Cool, great! Yes, let's set the color for now via a hex value... could that
work? Or shall we say an array like [r, g, b, a] to make an easier first
step?

Later, we might want to include some color conversion tools so you could
use various methods of indicating a color.

On Mon, Nov 12, 2018 at 6:20 AM KusioDev <notifications@github.com> wrote:

[2018-11-14 23:29] JonathanXu1 commented on #432
Hi, I'd like to work on this task. Before I get on making a prototype, I would like to confirm the icon set with you guys.

How are these icons:
brightness: https://fontawesome.com/icons/sun?style=regular
![image](https://user-images.githubusercontent.com/22998430/48519299-7399b300-e83a-11e8-90f5-0184d18c0baf.png)

contrast:  https://fontawesome.com/icons/adjust?style=solid
![image](https://user-i

[2018-11-14 23:35] jywarren commented on #432
this is great! Good finds! Yes, and one GCI task was just finding the
icons, so that's a great start. We'd love your help with this!

On Wed, Nov 14, 2018 at 6:29 PM Jonathan Xu <notifications@github.com>
wrote:

[2018-11-15 00:37] jywarren commented on #432
this looks good, but perhaps it could be displayed below the step,
similarly to how the Add Step box is shown, but wider. And then perhaps Add
Step with the dropdown could be below these quick button options, since we
won't have a button for everything. What do you think?

Hmm, i can't seem to find that task... perhaps it got changed or deleted.
Sorry!

On Wed, Nov 14, 2018 at 7:29 PM Jonathan Xu

[2018-11-15 01:00] JonathanXu1 commented on #432
So something like this?

![prototype2](https://user-images.githubusercontent.com/22998430/48522777-fd03b200-e847-11e8-9a91-489772ab76ea.png)

[2018-11-15 01:11] jywarren commented on #432
I think that looks great. Maybe you can move "Select a new module..." up
above it, and have the existing Add Step in the same box but below your
icons. It could say "More modules" above the Add Step area. How about that?

On Wed, Nov 14, 2018 at 8:01 PM Jonathan Xu <notifications@github.com>
wrote:

[2018-11-15 01:53] JonathanXu1 commented on #432
How's this?
![prototype2](https://user-images.githubusercontent.com/22998430/48524681-528f8d00-e84f-11e8-831d-b6e344ee1547.png)

[2018-11-15 03:40] jywarren commented on #432
This is awesome. Just be sure that clicking Add Step while "More modules"
is selected doesn't do anything! I think there may be a way to disable the
initial option in a select... worth looking up!

This is so exciting :-)

On Wed, Nov 14, 2018 at 8:54 PM Jonathan Xu <notifications@github.com>
wrote:

[2018-11-15 05:07] JonathanXu1 commented on #432
Great, I'll start coding this now. By the way, do you have auto-reload capabilities with grunt serve on localhost?

Also, I'm having some trouble loading specific icons:
![image](https://user-images.githubusercontent.com/22998430/48531350-f423d800-e869-11e8-89ea-5a349565ac11.png)
As you can see in the code, the number within the tags is just to see where the icons ought to be.
![image](https://use

[2018-11-17 05:39] MargaretAN9 commented on #332
@jywarren, @tech4GT

[2018-11-17 05:53] jywarren commented on #332
Ah! I missed this because it was opened against jywarren, but should be publiclab... moving to publiclab#475

AWESOME

[2018-11-17 16:19] #332 closed

[2018-11-17 16:50] Rishabh570 commented on #471
@Divy123 I would like to work on this

[2018-11-18 04:20] jywarren commented on #432
Hi, hmm, you should be able to auto-detect and build with just the command `grunt`!

Ah ok, so your icons now work? Could you open a pull request for this, it's tremendous! Thank you!

[2018-11-18 04:23] jywarren commented on #432
Could you put each icon in a circle, to make it seem more "clickable"? You can set the `border-radius:40px;` in CSS or there may be a Bootstrap style for round things... Awesome!!!

[2018-11-18 04:34] jywarren opened #477 "Enter-to-submit for form inputs in each step"
When changing the settings for a step, it would be great to be able to press return to just save the new settings:

![image](https://user-images.githubusercontent.com/24359/48668654-f338b380-eac0-11e8-8b1c-2afdabef6183.png)

But it's not set up this way currently. I believe we could wrap each in a `<form>` element, disable the submit action but detect `onSubmit` and have it save instead.... on the

[2018-11-18 04:37] jywarren commented on #377
I think this has maybe been figured out? I haven't seen it happen recently.

[2018-11-18 04:47] jywarren commented on #340
Merging with #377!

[2018-11-18 13:48] Rishabh570 commented on #471
Hi @Divy123, please close this issue :)

[2018-11-18 14:07] JonathanXu1 commented on #432
Yeah sure I'll work on it right now!

[2018-11-18 15:44] JonathanXu1 commented on #432
I've finished the bulk of your requests, but am having some issues. I've opened a pull request so you can see the details: https://github.com/publiclab/image-sequencer/pull/479

[2018-11-18 17:29] #345 closed

[2018-11-18 17:34] #471 closed

[2018-11-18 17:34] jywarren commented on #471
Hi, do you want to try #477? We'd love your help!

[2018-11-18 18:52] HarshKhandeparkar opened #480 "Bug in example/lib/defaultHtmlStepUi.js"
### Flash Message During Step Removal Typo Bug

![gci-bug](https://user-images.githubusercontent.com/34770591/48676821-ef289680-eb91-11e8-911d-b1c949c2b461.gif)

https://github.com/publiclab/image-sequencer/blob/bf13d5807ab34b04517a3c9d3b4c318342432a48/examples/lib/defaultHtmlStepUi.js#L19

[2018-11-19 17:39] Rishabh570 commented on #470
@Divy123 I would like to work on this

[2018-11-19 17:42] Divy123 commented on #470
@Rishabh570 I am currently working on it.
Please look into some other issue.Thanks for your help.

[2018-11-19 17:43] Rishabh570 commented on #228
@jywarren I guess this should get closed now...?

[2018-11-19 17:48] Rishabh570 commented on #470
@Divy123 No worries, I'll be available for help though :)

[2018-11-19 17:57] jywarren commented on #228
Ah, actually this could be done more -- if you click on this link you can see a lot of suggestions!

https://codeclimate.com/github/publiclab/image-sequencer/issues?category=complexity&engine_name%5B%5D=structure&engine_name%5B%5D=duplication

[2018-11-19 19:18] HarshKhandeparkar commented on #470
Some of these improvements are in their own issue in the issues tab and are currently being worked on.

[2018-11-20 07:47] Paarmita opened #484 "Align box in center in mobile view"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before or even folks who haven't contri

[2018-11-20 21:46] #477 closed

[2018-11-20 22:04] #480 closed

[2018-11-21 14:08] Rishabh570 commented on #484
For anybody who would work on it, only removing [this](https://github.com/publiclab/image-sequencer/blob/bf13d5807a/examples/demo.css#L130) would made it sit in the center :)

[2018-11-22 14:18] jywarren opened #487 "List of UI tasks to be broken out into issues"
Looking for help with these! They could also make good GCI issues @publiclab/mentors !

* [x] change "Save" module button to "Apply"
* [x] change description text above quick-add buttons so it stays as "apply a new step" instead of getting replaced by the last applied module's description (needs gif to demonstrate issue)
* [x] make Image Sequencer header reload the page with no steps
* [x] add a "

[2018-11-22 14:34] jywarren opened #488 "White balance module"
I think this could be done with the OpenCV.js module which is under development in #237 -- but for what it's worth, it'd be great to have a white balance module:

https://stackoverflow.com/questions/51372779/color-balance-formula-adding-too-much-white

could help!

We'd love help with this one!

[2018-11-22 15:02] lwahlnayar commented on #484
Can I give it a go at this? I'm completely new to contributions =)

[2018-11-22 15:06] Rishabh570 commented on #484
@lwahlnayar Are you participating in GCI?

[2018-11-22 15:07] lwahlnayar commented on #484
not really...

[2018-11-22 15:10] Rishabh570 commented on #484
Actually, this task is for GCI participants...I appreciate that you want to contribute, you can take a look at other open first-timer-only issues here: https://code.publiclab.org/

[2018-11-22 15:15] lwahlnayar commented on #484
alright, thanks!

[2018-11-22 15:44] Rishabh570 opened #489 "Change "Save" to "Apply" on save button in add step UI"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

## First Timers Only
Hi, this is a first-timers-only issue. This means this has been worked to make it more legible to folks who either haven't contributed to our codebase before or

[2018-11-22 15:49] rajcrk commented on #489
I would like to work on this issue.
Getting on it right now.

[2018-11-22 15:50] Rishabh570 commented on #487
@jywarren Opened [this](https://github.com/publiclab/image-sequencer/issues/489) issue for changing "save" to "apply" in add step UI...

[2018-11-22 15:51] HarshKhandeparkar commented on #489
I feel like the text besides it should also change to "press apply to see changes" or simply "press to see changes"

[2018-11-22 15:56] jywarren commented on #487
Awesome!

On Thu, Nov 22, 2018, 10:51 AM Rishabh Rawat <notifications@github.com
wrote:

[2018-11-22 15:57] jywarren commented on #489
Agreed!

On Thu, Nov 22, 2018, 10:52 AM HarshKhandeparkar <notifications@github.com
wrote:

[2018-11-22 15:58] jywarren commented on #487
Actually we could make a gci task to break out this list into separate
issues, too! Just an idea :-)

On Thu, Nov 22, 2018, 10:56 AM Jeffrey Warren <jeff@unterbahn.com wrote:

[2018-11-22 16:55] Rishabh570 commented on #489
@HarshKhandeparkar Yess...

[2018-11-22 17:02] Rishabh570 commented on #487
@jywarren and they'll be getting credits/points for that?

[2018-11-22 19:02] jywarren commented on #487
I think so, if they're well formatted! We could ask them to post a
screenshot and describe the feature a bit more. Not everyone will be able
to but some are pretty simple.

On Thu, Nov 22, 2018, 12:02 PM Rishabh Rawat <notifications@github.com
wrote:

[2018-11-22 20:38] JonathanXu1 commented on #247
This would be a cool task to work on for GCI! I'm happy to work on it if it will be made into one :)

[2018-11-22 20:41] aashna27 opened #491 "Correct default view for brightness module"
#### We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.

### Problem

The brightness module when selected displays a white screen in the image area instead of the image from the previous step or the selected image.
![image](https://user-i

[2018-11-22 20:43] aashna27 commented on #487
added #491 for "set brightness default to not be totally white"

[2018-11-22 20:44] aashna27 commented on #487
should I continue with breaking up or leave it for gci task ?

[2018-11-23 08:15] Rishabh570 commented on #487
screenshot and describe the feature a bit more. Not everyone will be able
to but some are pretty simple.

That would be great :+1:

[2018-11-25 06:36] oorjitchowdhary commented on #491
I'd like to work on this.. Can I please get help regarding the code links for the main image sequencer page and the brightness module .. Thanks

[2018-11-25 06:41] oorjitchowdhary commented on #489
Is anyone working on this... I'd like to work on this issue

[2018-11-25 06:48] oorjitchowdhary commented on #491
Our task here is to show the image in the brightness box right?

[2018-11-25 06:48] aashna27 commented on #491
http://sequencer.publiclab.org/examples/#steps=

http://sequencer.publiclab.org/examples/#steps=brightness{brightness:100}
Go ahead!!

[2018-11-25 06:49] aashna27 commented on #491
yes basically the image coming from the previous step should be visible when brightness module is added.

[2018-11-25 06:49] oorjitchowdhary commented on #491
Ok

[2018-11-25 06:50] oorjitchowdhary commented on #491
Sorry if I wasn't clear.. I meant to ask for the code files which would be required here... I'm not so familiar with this repo...

[2018-11-25 06:54] aashna27 commented on #491
https://github.com/publiclab/image-sequencer/tree/main/src/modules/Brightness
I hope this works for you. This is basically the folder of this module.

[2018-11-25 06:56] oorjitchowdhary commented on #491
@aashna27 Yes, Thanks

[2018-11-25 07:33] Paarmita commented on #489
@oorjitchowdhary I guess @rajcrk is working on this. You can see other first time issues.

[2018-11-25 07:55] oorjitchowdhary commented on #487
@jywarren @Rishabh570 @aashna27 So is this a GCi task? I may be able to make these into well-formatted issues... We can also use the plots2 repo issue template

[2018-11-25 08:15] Rishabh570 commented on #487
Pinging @jywarren for that, you can make these into well formatted into issues...you can get credits/points for it :)

[2018-11-25 10:35] oorjitchowdhary commented on #487
So I can start working right?

[2018-11-25 10:36] Rishabh570 commented on #487
Yep, that would be great :+1:

On Sun, 25 Nov, 2018, 16:05 Oorjit Chowdhary <notifications@github.com
wrote:

[2018-11-25 10:42] oorjitchowdhary opened #492 "Add the Resize module to the quick buttons bar"
### Please describe the problem (or idea)

### Please show us where to look

http://sequencer.publiclab.org...

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they'll b

[2018-11-25 11:08] oorjitchowdhary opened #493 "Move 'Download PNG' box on the same line as 'Save Sequence'"
### Please describe the problem (or idea)
![screenshot 35](https://user-images.githubusercontent.com/39333058/48978378-c7c15480-f0d0-11e8-90c8-ec88d962f8f9.png)

We can move the **Download PNG** and **View GIF** buttons onto the same line as the **Save Sequence** button for better user interface.

## Solution
This would look better on the site.
![quick buttons bar](https://user-images.githubuserco