[2020-10-07 11:21] HarshKhandeparkar commented on #1633
@jywarren  I have added some of the goals and priorities to the issue body, please check it out :)

cc: @blurry-x-face @daemon1024

[2020-10-07 11:26] HarshKhandeparkar commented on #1633
The priorities are absolutely tentative, I just wrote whatever came to my mind.

[2020-10-07 14:09] jywarren commented on #1633
OK awesome i like them a lot. I propose for module goals:

to add: also, `ensuring that creating new modules remains easy and accessible and well documented`

And: "developing compelling use cases for sequences to show off IS functionality, as in #1480"

what do you think?

[2020-10-07 15:49] HarshKhandeparkar commented on #1633
Sure, I'll add it.

[2020-10-07 16:20] HarshKhandeparkar commented on #1633
Umm, should child teams of is-reviewers be made? We can add these priorities and goals there.

[2020-10-07 16:33] jywarren commented on #1633
Hmm, cool idea! Yes, we can do that - like is-module-maintainers,
is-core-maintainers? Also, i forget if whole teams can be made
CODEOWNERS...

also maybe interesting --

"round robin" auto review requests to prompt only some people in a team!
https://docs.github.com/en/free-pro-team@latest/github/setting-up-and-managing-organizations-and-teams/managing-code-review-assignment-for-your-team=

also

[2020-10-07 17:28] HarshKhandeparkar commented on #1633
I think teams can be codeowners according to this official blog post.
https://github.blog/2017-07-06-introducing-code-owners/
![image](https://user-images.githubusercontent.com/34770591/95366088-9468c700-08f0-11eb-97eb-52aa0e240d06.png)
That(github/js) looks like a team

[2020-10-07 21:14] jywarren commented on #1633
Awesome. Anyone else @publiclab/is-reviewers want to join a maintainers
team? Any last changes before we start this up? Thanks!!!

On Wed, Oct 7, 2020 at 1:28 PM Harsh Khandeparkar <notifications@github.com>
wrote:

[2020-10-08 19:02] HarshKhandeparkar commented on #1633
If @blurry-x-face confirms the list then ig we are good to go.

[2020-10-08 19:05] blurry-x-face commented on #1633
Yea @HarshKhandeparkar goals and pririties looks good to me, we can continue with this :)

[2020-10-08 21:59] jywarren commented on #1633
Great -- Harsh, would you like to open a PR with the CODEOWNERS file
accordingly, and i can review and make the corresponding teams? Thanks, all!

On Thu, Oct 8, 2020 at 3:06 PM Rishabh Shukla <notifications@github.com>
wrote:

[2020-10-09 05:55] HarshKhandeparkar commented on #1633
Umm. I don't exactly know what a CODEOWNERS file is :joy:.

[2020-10-13 16:58] jywarren commented on #1633
Ah, my apologies - the CODEOWNERS file is what drives this feature -- see this PR -- https://github.com/publiclab/plots2/pull/6502/files

Make sense? what do you think?

[2020-10-13 17:56] HarshKhandeparkar commented on #1633
Where can I find the docs for it?

[2020-10-13 17:57] HarshKhandeparkar commented on #1633
Actually, I don't really need to. @jywarren Can you make the teams though?

[2020-10-13 18:45] jywarren commented on #1633
Done! https://github.com/orgs/publiclab/teams/is-maintainers

[2020-10-13 18:48] jywarren commented on #1633
OK, folks, invited you too -- but i set the checks to 2 approvals required just while we try this system out. Thanks, let's take it one step at a time and we can prob lower that threshold soon.

[2020-10-15 12:00] Divy123 commented on #1633
@jywarren I would be most interested but I would like to start work on the project once again first and see some of the amazing recent advancements, it has made to which I get accustomed to!!!

Thanks a lot for considering! Will love to be a part here soon!!

[2020-10-15 15:18] jywarren opened #1724 "Add "Loading version number" instead of "unable" message in UI"
The message shown while loading the version number could use a tweak.

![Screen Shot 2020-07-10 at 3 00 15 PM](https://user-images.githubusercontent.com/24359/87189123-17608e00-c2be-11ea-8a25-165baf1221cf.png)

It says "unable to load version number" until the page is finished loading. Maybe it should say:

`Loading version number` until it's loaded, but if it fails we rescue and try changing to `

[2020-10-15 15:19] #1475 closed

[2020-10-15 19:50] #1311 closed

[2020-10-16 04:18] #1538 closed

[2020-10-16 04:39] HarshKhandeparkar opened #1725 "Better method of parsing %ages"
### Please describe the problem (or idea)
https://github.com/publiclab/image-sequencer/blob/d33afe09da371c8aa69a3e84027b030f47b476bf/src/modules/Resize/Resize.js#L5

The resize module parses %ages eg `50%` by just removing the last character `50% -> 50` but this is an issue since one can type `50% ` with space or just `50`. We need to find a better way to parse percentages in all modules.

****

#

[2020-10-16 04:54] #1558 closed

[2020-10-16 19:21] HarshKhandeparkar opened #1728 "CRITICAL: Dynamic module uses eval"
### Please describe the problem (or idea)
The `dynamic` module uses the javascript `eval` function to evaluate expressions. But the exec method should not be used **at any cost** because it will **execute any js code that is entered in the textbox**.

![image](https://user-images.githubusercontent.com/34770591/96298324-e48e0a80-100f-11eb-8b59-52e5bf1ea90c.png)

This is a major security threat to t

[2020-10-17 15:34] #1381 closed

[2020-10-17 15:44] jywarren commented on #1728
Hi, do you have any ideas for other ways to accomplish this functionality? Thanks!

Could we swap for https://github.com/silentmatt/expr-eval ?

[2020-10-17 15:46] jywarren commented on #1728
https://github.com/publiclab/image-sequencer/blob/8c461bbeeebd5c79676185ecf209f1d9181ad1f2/src/modules/Dynamic/Module.js#L17-L22

could we swapped for:

[code]

Also, i think you maybe meant `eval` and not `exec`? Thanks Harsh!

[2020-10-17 15:46] #1632 closed

[2020-10-17 15:56] HarshKhandeparkar commented on #1728
Oh yeah sorry, I meant eval.

[2020-10-17 15:58] HarshKhandeparkar commented on #1728
I guess there are packages like the one you found. We can switch if it doesn't break anything... What kind of expressions need to be supported though? :thinking:

[2020-10-17 16:07] HarshKhandeparkar commented on #1692
I would like to suggest a workflow:
1) Decide some milestones (PRs and issues) for the next version number and decide a date.
2) Keep track of these milestones via a project so that we can easily write the changelog.
3) When it is time to publish, and the maintainers approve one person (I can do this) should do the following:
 - Create a tag and a release along with the changelog
 - Push to the `s

[2020-10-17 16:07] HarshKhandeparkar commented on #1692
@publiclab/is-maintainers

[2020-10-17 18:47] jywarren commented on #1728
It's designed just for simple mathematic expressions to do color channel compositing - so this should be fine!

[2020-10-17 18:54] jywarren commented on #1728
Check out #1729!

[2020-10-18 15:18] adzo261 commented on #1725
Hi, can I do this?

[2020-10-18 16:11] HarshKhandeparkar commented on #1725
Sure @adzo261

[2020-10-18 16:30] adzo261 commented on #1725
Can `options.resize` be a floating-point percentage value like `70.65%` ? . Since we are parsing it as int, I am assuming integral percentages. Correct me if I am wrong.

[2020-10-18 16:40] HarshKhandeparkar commented on #1725
I think it can be a floating point but I don't think that will make a big difference... Let there be support for it though because one can type `90.0`. What do you think?

[2020-10-18 16:44] adzo261 commented on #1725
I agree. We should cover floating-point also.

[2020-10-20 03:18] jywarren commented on #1692
Ah, ok let's merge our workflow discussions -sorry! Here was my suggestion for a release checklist, to be run from an issue template for each release:

* [x] compile release notes from release milestone
* [x] finalize and merge to `main` branch
* [ ] build and publish `/dist/` files (should this be part of the PR that finalizes the bump, i.e. should we have done that here @HarshKhandeparkar et al?

[2020-10-20 03:46] HarshKhandeparkar commented on #1692
https://github.com/publiclab/image-sequencer/pull/1734 This also needs to be on the checklist.

[2020-10-22 14:12] jywarren commented on #1692
I added that, plus a link to the 3.6.1 project for any later work.

[2020-10-22 14:14] jywarren commented on #1692
Do i have the order right at "merge to stable + resume merges to main branch" and "create a release" -- or do we wait until the release is made to resume merging to `main`?

[2020-10-22 15:17] HarshKhandeparkar commented on #1692
Actually, we don't have to wait for anything. We can create a tag from any commit. But we can stop for a few minutes, I will at least push to stable :) I will make the tag and the release later.

[2020-10-22 15:26] HarshKhandeparkar commented on #1692
Pushed to stable, merges to main can resume :)

[2020-10-22 15:26] HarshKhandeparkar commented on #1692
I'll create the tag soon, it can be published to gh-pages in the meanwhile.

[2020-10-22 15:47] jywarren commented on #1692
awesome! Where's our gh-pages checklist? Doesn't @harshithpabbati often do this for beta? Thank you!!!

[2020-10-22 16:08] HarshKhandeparkar commented on #1692
I think he has a GitHub action set up so we(or even he) needn't interfere.

[2020-10-22 16:09] HarshKhandeparkar commented on #1692
![image](https://user-images.githubusercontent.com/34770591/96899869-0fb0a800-14af-11eb-9325-94ab0a08f1aa.png)
Yes, the beta has been updated :-)

[2020-10-22 18:13] HarshKhandeparkar commented on #1692
@jywarren published v3.6.0! There are a lot of changes, so can someone confirm?
Ty.
I can also publish to gh-pages if needed, although npm publish will have to be done by you. Should we try a Github action for that too? There are plug and play default ones for that I suppose.

cc: @publiclab/is-maintainers

[2020-10-22 18:20] HarshKhandeparkar commented on #1692
Interestingly, even though the tag was created from the `stable` branch, the dist was not copied. Is that an issue?

[2020-10-22 18:22] HarshKhandeparkar commented on #1692
I have added the dist to the GitHub release.

[2020-10-22 18:25] HarshKhandeparkar commented on #1692
Well, the old tags don't have the dist either ¯\\\_(ツ)_/¯

[2020-10-22 18:33] jywarren commented on #1692
Hmm, when we publish to NPM we will def. want the `/dist/` files. But otherwise it's not that important, i think?

[2020-10-22 19:37] HarshKhandeparkar commented on #1692
I don't think so... People can always get them from `stable` or build them.

[2020-10-22 19:38] HarshKhandeparkar commented on #1692
I don't think anyone will try to get the dist of an older version so tags may not have them but stable will always have the dist. I have also added the dist to the release entry this time.

[2020-10-22 20:28] jywarren commented on #1692
yes and NPM is a reliable source of compiled, ready-to-use dist files for any published version. 👍

[2020-10-22 21:07] jywarren commented on #1692
OK great so i should `npm publish` from the tag https://github.com/publiclab/image-sequencer/tree/v3.6.0 right?

[2020-10-22 21:09] jywarren commented on #1692
Re: gh-pages and a github action, that would be great! I'll publish now from the v3.6.0 tag.

[2020-10-22 21:32] jywarren commented on #1692
Published to npm! https://www.npmjs.com/package/image-sequencer

[2020-10-22 21:40] jywarren commented on #1692
and tweeted 😄  https://twitter.com/jywarren/status/1319393210205196291

[2020-10-22 22:22] jlev opened #1738 "Not working in Safari"
### Please describe the problem (or idea)

Load page, can't take or upload photos.
Console error "Invalid regular expression: invalid group specifier name"

Quick google search indicates that error message may be due to using look-behinds in regular expressions.
https://stackoverflow.com/questions/51568821/works-in-chrome-but-breaks-in-safari-invalid-regular-expression-invalid-group

### Please sh

[2020-10-23 05:30] dipeshgund commented on #1504
Hi! I would like to contribute here. Is it still available? If not, then it would be really helpful of you if you guide me to some other first-timers-only.

[2020-10-23 08:40] HarshKhandeparkar commented on #1504
It has been a while since the last PR was closed (and not merged) so sure, feel free to contribute :)

[2020-10-23 08:41] HarshKhandeparkar commented on #1738
Umm, does it work on other browsers? If yes, then it might be a safari regex implementation issue...

[2020-10-23 08:42] HarshKhandeparkar commented on #1738
Can you tell which line of code is throwing the error?

[2020-10-23 15:43] jywarren commented on #857
Hi @harshithpabbati @HarshKhandeparkar shall we place this script in a `/scripts/` folder in the repository? Thanks!

[2020-10-23 15:48] jywarren commented on #1692
OK awesome, just the main demo to update now. @HarshKhandeparkar you have a script for that? Is it similar to https://github.com/publiclab/image-sequencer/issues/857 or the same? Thanks!

[2020-10-23 16:07] HarshKhandeparkar commented on #857
The core script is in my repo `HarshKhandeparkar/Update-is` and the github action is in Harshith's repo. We can definitely migrate the script but that won't change Harshith's github action.

[2020-10-23 16:09] HarshKhandeparkar commented on #1692
I don't have a script for the main demo specifically but my script `HarshKhandeparkar/Update-is` needs just one change ie changing the name of the repo to `publiclab/is` instead of `harshith/is`. Or I can make it take input from the terminal. And no, I didn't update the main demo yet, should I?

[2020-10-23 16:09] harshithpabbati commented on #857
Yes @jywarren, we can do that.

[2020-10-23 16:21] jywarren commented on #1692
If you could update the main demo that'd be great - and yes, why don't we include your script in a folder like `/scripts/` and then it'll be a bit more cohesive? Thanks, @HarshKhandeparkar, you're on fire!

[2020-10-23 16:46] HarshKhandeparkar commented on #1692
One caveat: It is a BASH script so it might only work in Linux that too only the distros which use the bash shell. I am not sure about other shells such as KSH or ZSH. Can anyone who uses Mac confirm whether it works on a Mac? It most probably will.

[2020-10-23 16:53] jywarren commented on #1692
That's fine, though, let's just add that in the comments at the top of the script and we can track compatibility in a separate issue. Thank you!!!

[2020-10-23 16:59] HarshKhandeparkar commented on #1692
Just opened a PR with the script :)

[2020-10-23 18:35] harshithpabbati commented on #1692
Yes @HarshKhandeparkar, it works on Mac

[2020-10-23 18:53] HarshKhandeparkar commented on #1692
Great! Can you also review the PR? And btw, please update your script too since there were a few dependencies which were not added :)

[2020-10-23 19:45] HarshKhandeparkar commented on #1692
@jywarren Apparently I don't have perms to push to gh-pages. I waited for almost 30min to git clone (Github downloads are unexpectedly slow at 100KiB/s) and then build took 15min and the rest... Just to see this message :joy:
![image](https://user-images.githubusercontent.com/34770591/97047165-28e05400-1596-11eb-854f-6a060fc4e5c2.png)

[2020-10-26 20:12] HarshKhandeparkar commented on #1716
I experimented a bit on this. I found that image sequencer is meant to be synchronous but hive computing works on async promises. We will have to completely change the `extraManipulation` method and make it async or find out another way...

[2020-10-26 20:28] HarshKhandeparkar commented on #1716
There is an easy way to do that and that is to create a new callback similar to extraManipulation or pixelManipulation. I tried this locally but unfortunately, it doesn't seem to work :(

[2020-10-26 22:43] jlev commented on #1738
Not in production, because there aren't source code maps published.

Running locally, the error I get is
[code]

Looks like it was fixed in https://github.com/micromatch/picomatch/issues/15

[2020-10-27 14:26] jywarren commented on #1692
Ack! oops, ok, looking now re: gh-pages, thanks!

[2020-10-27 20:04] jywarren commented on #1692
Phew! Done!

![image](https://user-images.githubusercontent.com/24359/97356106-26b81700-186e-11eb-9791-1d5f74a75742.png)

[2020-10-27 20:31] HarshKhandeparkar commented on #1692
Issue template will be awesome!

[2020-10-28 20:16] jywarren commented on #1692
OK, made that in https://github.com/publiclab/image-sequencer/commit/10f27394358f3afe889765d4555a55b1f98e06f0 -- great!

[2020-10-28 20:23] jywarren commented on #1692
Done!

![image](https://user-images.githubusercontent.com/24359/97492421-e7ef9300-1939-11eb-83e3-ec83c639c7cb.png)

Shall we close this? I guess so!!!

[2020-10-28 20:25] HarshKhandeparkar commented on #1692
The issue template refers to this discussion, why is that?

[2020-10-28 20:33] HarshKhandeparkar commented on #1692
Ah ok... Let's close this then!

[2020-10-28 20:33] #1692 closed

[2020-10-29 11:42] #1694 closed

[2020-10-29 20:38] jywarren commented on #1716
hmmmm i like the idea -- we've tried to centralize and standardize module code to make optimizations like this possible... but i understand it may not be easy on the first try. Thanks for giving this a go, Harsh!

[2020-10-30 18:22] HarshKhandeparkar commented on #1716
Would it be useful if IS becomes asynchronous?

[2020-10-30 19:53] jywarren commented on #1633
Hi all! How are we feeling about the workflow, given we just published a new release, we now have a checklist for releases #1692 and we are getting ready with both a project and a milestone for `v3.6.1` or `v3.7.0`?

Should we drop the # of reviews required down to 1? Or are we OK as it is? Also, i'll re-open this so we can recruit more maintainers and just have more dialogue. Thank you!

[2020-10-30 20:06] jywarren commented on #1716
I'm not sure - i guess it would still end up synchronous on the level of
module-to-module connection, wouldn't it? So, within a module, it seems
like there could be substantial potential. This is one example - what other
uses might it have? Parallel processing?

On Fri, Oct 30, 2020 at 2:22 PM Harsh Khandeparkar <notifications@github.com>
wrote:

[2020-10-30 20:14] HarshKhandeparkar commented on #1716
Parallel, yes! Other than that, performance benefits. We can let a module run in a web worker for hours without affecting the main window. Show a spinner until then, and once the output is ready and the promise resolves, display the output.

[2020-10-30 20:17] jywarren commented on #1716
OK, maybe it's worth opening a new issue to discuss. Things like, are there
modules that /wouldn't/ work asynchronously, is there a graceful fallback,
is this something like gpu acceleration where we could mark
asynchronous-friendly modules, which files would need to be modified,
would older modules need an upgrade to work, any breaking changes... stuff
like that? Thanks Harsh!

On Fri, Oct 30, 20

[2020-10-30 20:20] HarshKhandeparkar commented on #1716
Everything synchronous can be async, async can't be sync.

[2020-10-30 20:50] daemon1024 opened #1747 "CLI Test Suite"
_Follow up meta issue for #1694 and #1718_

##### Aim of this suite

Write tests for various components of the CLI aspect of Image Sequencer.

##### Where to add the tests

[code]

##### How to run these tests

[code]

#### List of needed tests

- [ ] various kinds of parsing
- [ ] installModule
- [ ] saveSequence
- [ ] sequencerSteps
- [ ] config and steps ( ref #1634 )
- [ ] input/output
- [ ] b

[2020-10-31 14:20] jywarren commented on #1747
This is great!!

Let's tie it to the documentation for the cli, like, reading the readme
ought to link to corresponding tests demonstrating those features, what do
you think?

We might also reuse test scenarios (input and expected output images) from
other test suites like the basic module tests.

Thanks so much - this is really helpful!!

On Fri, Oct 30, 2020, 4:51 PM Barun Acharya <notifications

[2020-11-01 16:15] jywarren commented on #659
Fixed in #1718

[2020-11-01 16:15] #659 closed

[2020-11-01 16:36] #1605 closed

[2020-11-01 17:27] HarshKhandeparkar commented on #1633
(I couldn't find a better issue to discuss this)
@jywarren Can we please use a "project" instead of a milestone for v3.7.0 since a project makes it much easier to organize the issues and PRs separately and it also has multiple columns (one for issues, one for closed issues, one for PRs etc)
Refer to the v3.6.1 project.

Thanks.

[2020-11-01 19:32] jywarren commented on #1633
Sure, i was just more familiar with milestones. Do you think all the existing entries in the v.3.7.0 milestone could go into the 3.6.1 project, and secondly, do you want to rename 3.6.1 project to 3.7.0? What are your thoughts? thanks!

[2020-11-01 19:35] jywarren opened #1751 "Checklist and coordination for v3.7.0 minor release"
Just getting started... no rush on this, but noting we will be basing this out of the project, not the milestone. cc @publiclab/is-maintainers (@HarshKhandeparkar does this notify sub-teams?)

This template guides us through the steps of creating a new release, based on [conversation and testing in https://github.com/publiclab/image-sequencer/issues/1692.

Discuss with @publiclab/is-maintainers if

[2020-11-01 19:44] jywarren commented on #1502
Pretty good solution just needs a rebase here: https://github.com/publiclab/image-sequencer/pull/1604

[2020-11-02 03:37] HarshKhandeparkar commented on #1633
I am ok with both.

[2020-11-02 03:39] HarshKhandeparkar commented on #1751
I think it does notify sub-teams.
I will move the milestone items to 3.6.1 as of now. We can then rename it if needed.

[2020-11-02 03:49] HarshKhandeparkar commented on #1751
Done.

[2020-11-02 04:29] HarshKhandeparkar commented on #1747
Should we add something to CONTRIBUTING.md too?

[2020-11-02 04:55] HarshKhandeparkar commented on #1633
I just created a sort-of *template* release project.
![image](https://user-images.githubusercontent.com/34770591/97831344-b7bb4200-1cf5-11eb-9314-f45682465840.png)
We can copy this from the menu.

[2020-11-02 05:08] #1725 closed

[2020-11-02 05:09] jywarren commented on #1633
oh awesome idea!!!!

On Sun, Nov 1, 2020 at 11:55 PM Harsh Khandeparkar <notifications@github.com>
wrote:

[2020-11-02 05:11] jywarren commented on #1747
oh, good idea!

On Sun, Nov 1, 2020 at 11:29 PM Harsh Khandeparkar <notifications@github.com>
wrote:

[2020-11-02 05:39] daemon1024 commented on #1747
Yeah this is something I felt too. The test aren't documented well in general so documenting the CLI tests along the way will be start :)

[2020-11-02 05:52] harshkhandeparkar opened #1757 "More Issue Templates"
![image](https://user-images.githubusercontent.com/34770591/97834257-66af4c00-1cfd-11eb-9c88-41ba433adbb9.png)

We have the above issue templates as of now. Adding the following issue templates might be helpful:
- Feature Request
- FTO
- A default template instead of a blank one.
Any suggestions? Please :point_down: :upside_down_face:

References:
- [Github templates docs](https://docs.github.com/

[2020-11-02 09:17] daemon1024 commented on #1747
How should I proceed btw? 😅 Open individual issues for each test scenario? Or just directly PRs.

Also should I plan them out in a project or linking them to this issue is enough?

[2020-11-02 09:28] HarshKhandeparkar commented on #1747
Do whatever is convenient :) But I suppose linking them here is a minimum.

[2020-11-02 13:43] HarshKhandeparkar commented on #1747
@daemon1024 Is it possible to create a test template so that people don't have to spawn the `commander` instance each time? eg: `/tests/core/templates/`

[2020-11-02 14:44] daemon1024 commented on #1747
That makes sense. Let me try to implement that.

[2020-11-02 14:53] #806 closed

[2020-11-02 19:44] #1738 closed

[2020-11-16 13:13] jywarren opened #1767 "Make text alignment easier with a few more buttons"
I made a meme and realized the text overlay tools are pretty rough... I kind of wish for a bit more ability to align center, vertical align, some other simple tools like that. I wonder how much work that would be?

![Screenshot_20201116-080907](https://user-images.githubusercontent.com/24359/99256459-70e44680-27e3-11eb-9b80-4f8296325599.png)

[2020-11-16 16:49] cesswairimu opened #1768 "Weekly Community check-in #83 - Check-in with us"
Hi everybody! 👏

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about the

[2020-11-16 21:22] tawahpeggy commented on #1768
Thanks for checking in @cess. The virus has really left the whole world speechless and has affected all of us in one way or the other.
I will love to do the next check-in

[2020-11-16 21:30] tawahpeggy commented on #1768
Last week was especially difficult for me as i wasnt feeling too well. thank God I feel a whole lot stronger now and hope this week turns out much more better and fruitful.
A great and fruitful week to you all too.

[2020-11-17 07:26] Tlazypanda commented on #1768
Hey everyone :wave: How are you all doing? :sweat_smile:

I am sorry to hear this @tawahpeggy Hope you are feeling better! I was also having covid symptoms for a couple of weeks and had self isolated but am feeling better now :tada:

Some great work here by all the Outreachy folks :tada:  :heart:
Also noticed that the site has slowed down as flagged by skylight and also on gitter chat @icarito @jy

[2020-11-17 11:01] tawahpeggy commented on #1768
yes i am @Tlazypanda , thanks for the concern.its good to know you are okay too.

[2020-11-17 22:03] jywarren commented on #605
Updated to show 2 remaining pieces - the checksum of the last commit and the date of last update. Thanks!

[2020-11-17 22:33] jywarren commented on #1768
I'm glad to hear both of you are feeling stronger/better now. It's getting even scarier out there; we'll probably lock down again soon (should probably already). Please be as safe as you can.

I'm trying not to get stressed about all the things I had hoped to do this year and which have to be delayed. There are much more serious things in the world but sometimes it can feel like one's own plans an

[2020-11-17 22:37] jywarren commented on #1768
And, congrats to @RuthNjeri for this really big PR getting finished! https://github.com/publiclab/plots2/pull/8620 with thanks to @sagarpreet for the assistance.

[2020-11-18 07:43] RuthNjeri commented on #1768
Hi everyone!

Yes, the pandemic has really made me scared as well, anytime I feel a scratch in my throat I quickly drink a concoction of ginger, turmeric, lemon, and garlic that my mother usually has on standby. I never leave the house without a sanitizer and a mask...seems like we are all trying to survive until a treatment or vaccine is accessible...

Happy to hear you are all okay now @Tlazypan

[2020-11-18 16:39] HarshKhandeparkar opened #1769 "Enhance Module"
![img](https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Usm-unsharp-mask.png/220px-Usm-unsharp-mask.png)

ref: https://en.wikipedia.org/wiki/Edge_enhancement

[2020-11-19 16:14] cesswairimu commented on #1768
Glad to hear everyone is doing fine.
I am stay indoors..only leaving for supplies but the introvert in me is thriving so no complains :smile:
Fantastic job @RuthNjeri and @sagarpreet-chadha  on the notes preview feature :tada: :tada:

[2020-11-19 22:23] tawahpeggy commented on #1768
sure thing @cesswairimu  congrates @RuthNjeri am so proud of you.thanks alot for this massive work. keep up

[2020-11-23 16:30] cesswairimu commented on #1768
Moved to https://github.com/publiclab/plots2/issues/8760 . Thanks everyone :heart:

[2020-11-23 16:30] #1768 closed

[2020-11-27 15:23] jywarren commented on #1769
Looks cool! Maybe we name it "edge enhance"?

Also makes me want to do a local contrast module!

[2020-11-27 15:27] jywarren commented on #1716
Maybe if we tackled this in chunks it's be best- what if we started by breaking out an issue to try running pixel manipulation on gpu.js, which itself would be useful?

Then we could try to make it so you can press the gpu.js icon in any module to generate a link to share with other devices, which would make a hive?

[2020-11-27 16:02] HarshKhandeparkar commented on #1716
A hive needs some form of a server. To allow for communication between devices. Have you read the docs of `gpujs-hive-compute`? (Not too long) It will give you a better insight...

[2020-11-27 16:02] HarshKhandeparkar commented on #1769
Absolutely! Trying to enhance text is very difficult without a local contrast.

[2020-11-27 16:03] HarshKhandeparkar commented on #1769
After enhancing, if we reduce contrast and optionally increase exposure, text (especially handwritten) becomes very clear...

[2020-11-27 17:35] jywarren commented on #1716
Ah I will... Does it even require them if using peer.js style webrtc
peerConnection? That can do serverless and even NAT traversal if u use a
TURN server. Cool!

On Fri, Nov 27, 2020, 11:02 AM Harsh Khandeparkar <notifications@github.com>
wrote:

[2020-11-27 17:38] HarshKhandeparkar commented on #1716
I have no idea what the last two terms mean... lol.

[2020-11-27 17:41] HarshKhandeparkar commented on #1716
The only required thing is communication between the two devices. Since I couldn't find an (easy to use) protocol that would allow for direct communication between two browsers. The only thing I can think of is a WebSocket relay server.

I was thinking of creating a special package for it anyway... Instead of just relaying the between two devices, it will only assign them tasks, get the data from

[2020-11-27 17:46] HarshKhandeparkar commented on #1716
Currently how it works:
 Helper 1 <->  Leader <-> Helper 2
1) Leader will tell each helper what to do. Each helper will render a piece of the final image.
2) The helpers send their respective outputs back to the leader.
3) Leader also calculates a part of it.
4) Leader combines the outputs to generate one mega output.

What I want to do:
I want to add an option to `gpujs-hive-compute` that skips s

[2020-11-27 17:50] jywarren commented on #1716
I guess i wonder if it's adaptable to a model where the initiating
sequencer is the host (formerly the server) and anyone who connects to it
is a helper peer, using a library like this:
https://rtcmulticonnection.herokuapp.com/demos/

On Fri, Nov 27, 2020 at 12:46 PM Harsh Khandeparkar <
notifications@github.com> wrote:

[2020-11-27 18:10] HarshKhandeparkar commented on #1716
We'll see... Currently, async doesn't work very well with IS. Is it possible to block the js thread to make async sync? (But ig that is not desirable)

[2020-12-04 17:20] jywarren opened #1775 "Color halftone "float" input can only be integer, should allow values in between 0-1"
Looks like maybe a small issue, but the slider here should allow float/decimal values.

![halftone](https://user-images.githubusercontent.com/24359/101193601-d1b8af00-362a-11eb-8821-41750b64a72c.gif)

It's set up that way in the `info.json` of that file:

https://github.com/publiclab/image-sequencer/blob/cbaa0f0f6f22ccd06d200cc9f3737f26dc18edd1/src/modules/ColorHalftone/info.json#L6-L12

Looks lik

[2020-12-04 17:24] jywarren commented on #1775
Looks like this is possible by setting `step` which is a quick fix!

https://github.com/publiclab/image-sequencer/blob/3caa033c8febf5055c28f616b534933c00fcbe65/examples/lib/defaultHtmlStepUi.js#L132-L139

However we should make step = `0.1` the default for type `float`, maybe? Where are defaults kept?

[2020-12-04 17:32] jywarren commented on #1775
Doing both solutions!

[2020-12-05 17:34] #1775 closed

[2020-12-05 17:38] jywarren commented on #1751
Added a couple bugfixes for range step size for floats in https://github.com/publiclab/image-sequencer/pull/1777 and https://github.com/publiclab/image-sequencer/pull/1776 to the project for 3.7.0!

[2020-12-26 20:39] YogeshSharma01 commented on #1581
@ataata107  anyone working on this ?

[2020-12-26 20:45] YogeshSharma01 commented on #1767
@jywarren I get your points can i work on this.

[2020-12-27 05:37] HarshKhandeparkar commented on #1767
Go ahead @YogeshSharma01

[2021-01-02 16:37] daemon1024 commented on #1747
@HarshKhandeparkar What do you think about #1785. This eliminates the need to spawn commander instance each time.

P.s. Sorry I got busy with university and couldn't work on it, Now that I have holidays I hope to make some progress on the test-suite.

[2021-01-03 09:38] YogeshSharma01 commented on #1767
Hi, @HarshKhandeparkar we can add options for text to set itself on the left side of the image and at the right side of the image or in the center of the image.

[2021-01-03 09:46] HarshKhandeparkar commented on #1767
Sounds good! Go ahead!

[2021-01-03 20:12] YogeshSharma01 commented on #1098
Hi, @blurry-x-face  you doing this?

[2021-01-04 10:00] YogeshSharma01 commented on #1767
Thanks, @HarshKhandeparkar, I actually working on the Community toolbox just right after finish my work from there I'll start work on this.

[2021-01-06 18:43] HarshKhandeparkar commented on #773
@publiclab/is-maintainers Should we close this now?

[2021-01-08 21:25] #773 closed

[2021-01-08 21:25] jywarren commented on #773
sounds good!

[2021-01-10 07:45] endurance21 commented on #1716
@jywarren  @HarshKhandeparkar
Hey !

I came across this and found it amusing, to as far the the concern of making async action to sync , I saw something relevant
https://github.com/tc39/proposal-top-level-await
, This top level `await` thing is awesome.
I would like to hear your views !

[2021-01-10 07:56] HarshKhandeparkar commented on #1716
We still don't use a lot of ES6 features due to browser compatibility. That is ES10! We might have to use babel for that.

Although async...await is very widely supported, just not top-level await.

[2021-01-10 11:39] frappelatte28 commented on #1724
Hey! @jywarren Can I work on this issue?

[2021-01-10 14:07] endurance21 commented on #1716
@harshithpabbati  though i am not very sure but It appears we are using web assembly and that for a reasons  a way faster , also gpu.js requires gpu which is absent in most of devices we gonna deliver our apis.

my second thoughts are on using python image processing capacity which would higher than any js script processing as it supports parallel processing in action. In particular i am taking ab

[2021-01-10 14:50] HarshKhandeparkar commented on #1716
1. Parallel processing requires GPU no matter whether it is python or js
2. We use gpu.js anyway, and it can fall back to CPU mode.
3. I am not sure about the REST APi though.

[2021-01-10 15:07] HarshKhandeparkar commented on #1716
What kind of image processing do you need for your API?

[2021-01-10 15:56] endurance21 commented on #1716
Particularly I don't need any of them , I was saying we can increase speed of image processing if we use python on backend and send those results to frontend using REST APIS.

[2021-01-10 15:56] endurance21 commented on #1716
However , I think that would be too much and it seems too much away from current implementation that is done in javascript.😬

[2021-01-10 16:34] HarshKhandeparkar commented on #1716
If you want to do something quickly, you can use OpenCV.js although that library is massive.

[2021-01-10 18:23] HarshKhandeparkar commented on #1716
Also, see https://github.com/publiclab/image-sequencer-app

[2021-01-12 15:44] jywarren commented on #1724
That would be great! Would you like some help finding the area of code for this? I'd start by searching the codebase for ""unable to load version number" -- thanks!!

[2021-01-13 08:20] vivek-30 commented on #1724
hi @frappelatte28 mam are you still solving this issue if not then i have made a decent progress regarding the same  and want a feedback for that so is it ok if i will raise a PR for this issue

[2021-01-13 09:29] vivek-30 commented on #1526
sir is this issue still open, if yes i would love to work on it.

[2021-01-13 09:37] HarshKhandeparkar commented on #1526
Considering that the last comment was made almost a year ago, yes, it is open! Go ahead! Ty.

[2021-01-13 09:57] vivek-30 commented on #1526
ok thanks sir

[2021-01-14 11:41] vivek-30 commented on #1526
Sir i had understood entire problem and worked on it. Then i found the most appropriate way to handle this issue but when i
try to commit the changes, then an error occur , then i searched for that error but nothing worked so can you help me out to resolve this error.

#### The error is something like :

![Screenshot 2021-01-14 at 4 58 35 PM](https://user-images.githubusercontent.com/75980147/1045

[2021-01-14 13:39] HarshKhandeparkar commented on #1526
Can you show the code?

[2021-01-14 15:13] vivek-30 commented on #1526
sure sir,
This is code which i have changed-

![Screenshot 2021-01-14 at 8 36 32 PM](https://user-images.githubusercontent.com/75980147/104608890-7279a000-56a8-11eb-94c3-270ec6ce9e2b.jpg)

### Inside examples/lib/defaultHtmlStepUi.js

[2021-01-14 16:52] HarshKhandeparkar commented on #1526
So the error isn't related to your changes?

[2021-01-14 17:29] vivek-30 commented on #1526
I thinks so ,bcoz sir recently i have made one more commit which did not gave any error but i am not getting why this creepy error is arriving this time ,whenever i try to commit it.

[2021-01-14 18:26] HarshKhandeparkar commented on #1526
If it is not related to your code, you can just use `--no-verify` and open a PR. We'll see if there is any error :)

Also, please don't call me sir :joy:

[2021-01-14 18:47] vivek-30 commented on #1526
ok sir 😅  ,but the happy part is i resolved this error and also thanks for your kind help ♥️.
i went through this [page](https://github.com/typicode/husky/issues/716) and found real cause of this error.
lastly thank u so much @HarshKhandeparkar .

[2021-01-14 19:04] HarshKhandeparkar commented on #1526
Nice! Np! Waiting for your PR :wink:

[2021-01-14 19:05] HarshKhandeparkar commented on #1526
Also, please don't call me sir :rofl:

[2021-01-14 19:23] HarshKhandeparkar commented on #1751
After considering the changes made, I renamed everything to 3.7.0.

[2021-01-14 19:31] HarshKhandeparkar commented on #1751
Also wrote part of the release notes.

[2021-01-15 05:51] frappelatte28 commented on #1724
Go ahead @vivek-30 I am busy with my semester exams, I will find some issues as soon as this semester thing ends.

[2021-01-15 07:33] vivek-30 commented on #1724
**Thank you**  mam ☺️

[2021-01-15 09:20] vivek-30 commented on #1526
Now as per your guidance i have made these changes.
plz have a look -
![Screenshot 2021-01-15 at 2 12 44 PM](https://user-images.githubusercontent.com/75980147/104705823-64775e00-5740-11eb-8ed1-36fd21725596.jpg)
Is it ok now

[2021-01-15 10:09] vivek-30 commented on #1724
Hlo @jywarren sir, looking up the above issue i found something related which when modified gives desired output( but partially )
here what i have found in examples/index.html

![Screenshot 2021-01-15 at 3 29 52 PM](https://user-images.githubusercontent.com/75980147/104711483-6f81bc80-5747-11eb-89a5-7c5ffcf64a0c.jpg)

One Thing which is a bit confusing is that when i test the project on port other

[2021-01-17 14:31] vivek-30 commented on #1724
Actually ,sir its my bad 😅 ,It was just the offline cache that the browser was using that time .
But now it is working as expected

[2021-01-18 07:34] vivek-30 commented on #1411
@ataata107  sir, is this issue still open?
if yes then i would love to work on this ☺️ .

[2021-01-23 13:13] vivek-30 commented on #1411
@HarshKhandeparkar i have solved this issue but still waiting for it to be assigned what should i do?

[2021-01-23 13:28] HarshKhandeparkar commented on #1411
Go ahead!

[2021-01-23 13:58] vivek-30 commented on #1411
![test](https://user-images.githubusercontent.com/75980147/105580170-c2dfb480-5db0-11eb-8449-6bcb644aa11b.gif)

this is the working gif of above problem, is this ok?

[2021-01-23 14:06] vivek-30 commented on #1411
Also i have submitted a PR #1789 around 5 days ago . Could you please review it as well. I am waiting for the feedback.Also Thanks for your time :)

[2021-01-25 15:22] #1724 closed

[2021-01-29 12:39] #1411 closed

[2021-02-01 13:19] vivek-30 commented on #1767
@HarshKhandeparkar  can i work on this?

[2021-02-01 15:30] YogeshSharma01 commented on #1767
Vivek actually I'm working on it and asap I'll give a PR actually I'm busy
in my exams and working on community toolbox as well.
Warm Regards,
Yogesh Sharma

On Mon, 1 Feb 2021, 18:49 Vivek Singh, <notifications@github.com> wrote:

[2021-02-01 17:01] vivek-30 commented on #1767
ok @YogeshSharma01  take your time, no hurry and if you need any kind of help plz let me know i will be happy to help you ☺️

[2021-02-01 17:22] YogeshSharma01 commented on #1767
@vivek-30 thanks

[2021-02-03 18:48] YogeshSharma01 commented on #1581
@blurry-x-face You working on it?

[2021-02-03 18:50] YogeshSharma01 commented on #1569
Hi, @blurry-x-face can I work on this?

[2021-02-03 18:51] YogeshSharma01 commented on #1553
@ataata107  you still working on it?

[2021-02-03 18:53] YogeshSharma01 commented on #1355
@pythongiant can I work on this?

[2021-02-04 14:37] vivek-30 commented on #1581
@YogeshSharma01 Have you completed your text-alignemt issue?

[2021-02-04 17:33] vivek-30 commented on #1767
@HarshKhandeparkar may be @YogeshSharma01  is very busy and i have finished this issue so if you allow i can submit a PR so that this issue is no longer open?

[2021-02-04 17:34] vivek-30 commented on #1767
what will you say?, i think he is also working with some different issue he can finish it meanwhile

[2021-02-04 19:16] HarshKhandeparkar commented on #1767
If Yogesh agrees, you can open a PR :)

[2021-02-05 02:16] vivek-30 commented on #1767
@YogeshSharma01 if you are working on community toolbox then i can fix this issue on your behalf. Also i have already resolved this just need to push it .

[2021-02-05 04:01] YogeshSharma01 commented on #1767
Hi, Vivek
Yeah sure go-ahead.
Warm Regards,
Yogesh Sharma

[2021-02-05 04:10] vivek-30 commented on #1767
Thanks a lot @YogeshSharma01 😊

[2021-02-06 21:05] #1526 closed

[2021-02-07 13:55] tanish14 commented on #1396
Is this issue still open? I would like to contribute if this issue is open. Thanks.

[2021-02-07 14:21] HarshKhandeparkar commented on #1396
The last comment was quite old, you may take it :)

[2021-02-07 15:26] tanish14 commented on #1396
@HarshKhandeparkar  can you pls review the PR. Thanks :)

[2021-02-09 09:31] vivek-30 commented on #1138
@HarshKhandeparkar I have fixed this problem.
if no one is working on it , then can i raise a PR for this ?

[2021-02-09 18:11] HarshKhandeparkar commented on #1138
Sure!

[2021-02-10 14:06] daemon1024 commented on #1747
We should probably merge https://github.com/publiclab/image-sequencer/pull/1786 before proceeding with the suite.

[2021-02-10 14:21] daemon1024 opened #1808 "Import Images from URL"
Currently sequencer only allows to load image from file or use the camera to capture on the top of the page for the base image. We should add an option to load an image from URL too.

There's a `import-image` module as well but it also doesn't seem to load an image from a global url for some reason.

[2021-02-10 15:16] jywarren commented on #1747
Great, i left some comments and analysis there although didn't get too far. thanks!

[2021-02-10 15:19] #1396 closed

[2021-02-14 14:30] vivek-30 commented on #1808
@daemon1024 ,sir can i work on this?

[2021-02-15 10:58] vivek-30 commented on #1808
@daemon1024 i have fixed this issue .if you allow then can i raise a PR for this?

[2021-02-15 16:45] #1767 closed

[2021-02-15 16:48] #1138 closed

[2021-02-15 16:56] jywarren opened #1810 "ES6 => error in base tests, though not triggering a test failure"
In base tests i see this error at the top:

[code]

https://github.com/publiclab/image-sequencer/runs/1904955782#step:6:9

However that job is still passing, oddly. I wonder if it's in the first part of the command:

`> TEST=true istanbul cover tape test/core/*.js test/core/ui/user-interface.js test/core/modules/*.js | tap-spec;`

and so the failure isn't causing an 0 output because `tap-spec` wor

[2021-02-15 18:22] #1728 closed

[2021-02-16 13:30] daemon1024 commented on #1808
Hi @vivek-30 sorry I had been busy with some work. Sure you can work on this, I was hoping to discuss what the exact issue is here but if you have fixed it already might as well submit a PR we can look into it and discuss further there.
Thank You.

[2021-02-16 14:15] vivek-30 commented on #1808
No big deal sir, i understand that you are busy . Also thanks for granting me the Permission.😊

[2021-02-16 15:00] jywarren commented on #1808
Hi @vivek-30 your solution looks great, we used to allow fetching remote images through the url via a simple sec= parameter, but maybe it no longer works? It may not have been well tested. But this method is more modular and structurally clear. Let's just be sure to add a good test for it!

[2021-02-16 15:45] vivek-30 commented on #1808
@jywarren  ,Sure sir.

[2021-02-17 13:03] GuptaTanisha commented on #1531
@blurry-x-face Is this issue open?

[2021-02-17 13:07] GuptaTanisha commented on #1504
@HarshKhandeparkar Can I work on this issue?

[2021-02-17 13:20] GuptaTanisha commented on #1525
@HarshKhandeparkar Can I work on this?

[2021-02-17 13:36] HarshKhandeparkar commented on #1525
It was actually fixed by the other PR but the PR has a conflict. Maybe you can revive that PR?

[2021-02-17 13:37] HarshKhandeparkar commented on #1504
That last comment was old, so yes! (But try to work on only one issue at a time :))

[2021-02-17 17:06] vivek-30 commented on #1281
@HarshKhandeparkar i have solved this issue ,can i raise a PR for this?

[2021-02-17 17:32] #1504 closed

[2021-02-17 17:51] HarshKhandeparkar commented on #1281
Sure

[2021-02-17 18:10] vivek-30 commented on #1281
ok Thanks ☺️

[2021-02-18 19:00] vivek-30 commented on #1310
@HarshKhandeparkar I have finished this one as well so can i open a PR for this 😅  .

[2021-02-18 20:16] HarshKhandeparkar commented on #1310
Launch it!

[2021-02-19 02:14] vivek-30 commented on #1310
Ok @HarshKhandeparkar and thanks a lot ☺️

[2021-02-19 15:26] #1310 closed

[2021-02-19 15:43] #1281 closed

[2021-02-20 10:43] daemon1024 commented on #1808
I was hoping if we can add a import from url method on the top
Current:
![image](https://user-images.githubusercontent.com/47106543/108592811-cd807000-7395-11eb-8c0d-c77ea4039c46.png)

What I wanted to propose:
![image](https://user-images.githubusercontent.com/47106543/108592929-834bbe80-7396-11eb-95ea-559ab13084ca.png)

[2021-02-20 12:09] vivek-30 commented on #1808
@daemon1024 ,sir your proposal is interesting ,but it is a separate module in IS and should be remained it in that category. moreover due to CORS error we can't import most of the image so keeping on top will lead to a negative impact for the sequencer. Hope my point is clear. apologies in advance if i said something wrong.
BTW let us wait for views of @jywarren sir ,so whatever he will say we wil

[2021-02-20 12:20] daemon1024 commented on #1808
Hi @vivek-30, your point seems valid, but it seems like the top part is a separate module kinda for now. Ref https://github.com/publiclab/image-sequencer/blob/3caa033c8febf5055c28f616b534933c00fcbe65/src/ui/SetInputStep.js

Maybe we can implement that here?
Thank You

Also it's fine if you just mention me or potentially everyone just with their usernames no need to append sir/maam :D

[2021-02-20 12:34] vivek-30 commented on #1808
ok @daemon1024 😅  .  I will keep this in my mind . Lets hear what @jywarren will say on this. Also one more thing i wanted to ask : is your local repo is synced with remote one? bcoz it doesn't seems to be as you showed the outdated code.

[2021-02-20 12:44] daemon1024 commented on #1808
@vivek-30 My bad for referencing an older commit. https://github.com/publiclab/image-sequencer/blob/main/src/ui/SetInputStep.js This should be it? The point remains the same I guess 😅

[2021-02-20 12:47] vivek-30 commented on #1808
yes . you are right the point is still same.

[2021-02-20 13:12] jywarren commented on #1808
Hi all, we're starting to get into this discussion from early in project
history of how the initial step is or isn't similar to a module itself...
We had discussed a kind of "starter module" vs the code being part of the
demo UI in https://github.com/publiclab/image-sequencer/issues/82

Also we had a discussion of using the "uppy" package for the initial
module, to standardize the ways of initiati

[2021-02-20 13:13] vivek-30 commented on #1237
@HarshKhandeparkar i have solved this issue can i raise a PR for this?

[2021-02-20 13:31] daemon1024 commented on #1808
"uppy" seems to be the exact thing I was trying to propose here, Maybe we can reopen it and try to work on it again 🤔

[2021-02-20 13:37] vivek-30 commented on #1808
yes we can work on it but do remember that the sole purpose of this is not only to add a extra field for import-image. what @jywarren is thinking of is to merge load-image starter module with initial UI as you can see here https://github.com/publiclab/image-sequencer/issues/212#issuecomment-385209622

[2021-02-20 13:40] vivek-30 commented on #1808
Also it will require some more adjustments for drag-and-drop , capture a new picture and to display load-image as a starting stuff which is currently implemented.

[2021-02-20 13:40] vivek-30 commented on #1808
@jywarren , @daemon1024  what's your views on this?

[2021-02-20 14:04] HarshKhandeparkar commented on #1237
Sure!

[2021-02-20 14:10] vivek-30 commented on #1237
Thank you ☺️

[2021-02-22 15:02] SharmaTanish commented on #1531
Hi @blurry-x-face  ! I am very exited to work on this issue , if it is still open . I have learnt web development from coding ninjas and all my basic concepts are clear . I am very hardworking and have scored 94.2% in 12th . You can also go through my linkedIn profile - https://www.linkedin.com/in/tanish-a54b771b3 .
Looking forward for your reply .

[2021-02-22 15:05] SharmaTanish commented on #1525
Hi @HarshKhandeparkar  ! I am very exited to work on this issue , if it is still open . I have learnt web development from coding ninjas and all my basic concepts are clear . I am very hardworking and have scored 94.2% in 12th . You can also go through my linkedIn profile - https://www.linkedin.com/in/tanish-a54b771b3 .
Looking forward for your reply .

[2021-02-22 15:07] SharmaTanish commented on #1354
Hi @HarshKhandeparkar  ! I am very exited to work on this issue , if it is still open . I have learnt web development from coding ninjas and all my basic concepts are clear . I am very hardworking and have scored 94.2% in 12th . You can also go through my linkedIn profile - https://www.linkedin.com/in/tanish-a54b771b3 .
Looking forward for your reply .

[2021-02-22 15:08] SharmaTanish commented on #1319
Hi @Divy123  @HarshKhandeparkar  ! I am very exited to work on this issue , if it is still open . I have learnt web development from coding ninjas and all my basic concepts are clear . I am very hardworking and have scored 94.2% in 12th . You can also go through my linkedIn profile - https://www.linkedin.com/in/tanish-a54b771b3 .
Looking forward for your reply .

[2021-02-22 15:43] HarshKhandeparkar commented on #1525
Sure!

[2021-02-22 15:44] HarshKhandeparkar commented on #1319
Yeah sure! Try to work on one at a time though :)

[2021-02-22 15:45] HarshKhandeparkar commented on #1354
You can only do one issue labeled with `first-timers-only` because you won't be a first-timer once you do one :smile:. You can select either one of these :)

[2021-02-23 07:56] SharmaTanish commented on #1319
Thank you @HarshKhandeparkar for replying . Please tell me what to do and how ?

[2021-02-23 19:24] jywarren commented on #1531
Hi all, can we try to confirm if this is still happening by running https://sequencer.publiclab.org with the JS console open? Then we can see if we need to close it.

Thanks everyone for being helpful! And, welcome!

[2021-02-26 11:19] vivek-30 commented on #851
@HarshKhandeparkar i have solved this issue so, can i open a PR for it ?

[2021-02-26 14:30] HarshKhandeparkar commented on #851
Go for it!

[2021-02-26 14:43] vivek-30 commented on #851
Ok. And thank-you 😊

[2021-02-26 17:08] vivek-30 opened #1825 "Clear Input Field After Selecting a Module/Step"
### Please describe the problem (or idea)

#### The Step remains Intact in the input field Even after its selection.

*observe it here* -

https://user-images.githubusercontent.com/75980147/109331037-590c6c00-7882-11eb-826c-69e000501685.mov

#### After Selecting a Step/Module the input field must be Cleared out, so that a user don't have to manually erase it to choose another step.

### Please sho

[2021-02-27 04:51] vivek-30 commented on #1825
@HarshKhandeparkar what do you think of this ?

[2021-02-27 04:56] HarshKhandeparkar commented on #1825
A small but nice change.

[2021-02-27 12:30] daemon1024 commented on #1747
Since https://github.com/publiclab/image-sequencer/pull/1820 is now merged. I guess we can proceed with is.

[2021-02-27 12:35] daemon1024 commented on #1747
Updated how to implement with the refactored test method.

[2021-02-27 12:38] daemon1024 commented on #1747
I will begin working on it and try to introduce a few `fto`'s as well.

[2021-02-27 16:38] #1237 closed

[2021-02-27 16:50] jywarren commented on #1808
I wonder, if we are able to incorporate uppy into one of the two modules, perhaps that's a good first step in merging the modules. This would take some thinking about the abstractions -- is it possible to have a module or a sub-module which can act as a regular module but also provide the UI and services of a starter module? It's a little complex. What are the lines of code we'd have to change to

[2021-02-27 17:31] vivek-30 commented on #1808
@jywarren sir, you are right and we should first attempt to implement this on the topmost region. as it is main crux for the merging.
once we are successful in planning and implementing it for that region .we can plan accordingly for bottom part as well.

[2021-02-27 17:34] vivek-30 commented on #1808
i am too busy to try this for now . but may be @daemon1024 can achieve this 😊

[2021-02-27 19:47] jywarren opened #1826 "Add step thumbnail previews generate for non-final steps"
I think the previews are being generated for each step, which may be slowing things down a lot. Can someone else try to confirm?

![Screenshot_20210227-144111_Chrome](https://user-images.githubusercontent.com/24359/109398360-8c92d900-790a-11eb-9734-57d75afcbae1.jpg)

See how the previews correspond to the 2nd to last step and not the last step?

[2021-02-28 14:23] vivek-30 commented on #1826
@jywarren sir, i tried this. But strange, i am not facing any such issue 🤔 . in my case only the last step preview get generated.
btw are you talking about initial rendering of a step right? or may be i have interpreted this issue wrongly.

[2021-02-28 14:30] vivek-30 commented on #1826
Rather when we delete a step then this kind of rendering starts.
Is this are you taking about?

[2021-03-03 18:13] jywarren commented on #1808
I agree this is a bigger project, thank you!!!

On Sat, Feb 27, 2021 at 12:34 PM Vivek Singh <notifications@github.com>
wrote:

[2021-03-03 18:16] jywarren commented on #1826
Hm, I wonder if this happened because i added intermediate steps, and changed things several times. This would be perfect for a full-stack UI test to simulate the whole sequence of interactions...

What i saw was that each step also regenerated the thumbnail previews, but if you waited long enough, the final step would generate them too. But it was wasted effort to make thumbnails for any but the

[2021-03-10 19:22] jywarren commented on #1554
Taking this off because we now use GitHub Actions!

[2021-03-10 19:22] #1554 closed

[2021-03-11 14:25] waridrox opened #1840 "Improving the drag and drop functionality container"
The current section of files that assists drag and drop functionality visually is very buggy. Sometimes it works and sometimes it doesn't. Plus the lack of light colors almost makes it impossible to realise if the operation is really being made or not.

We can provide a visual enhancement after fixing the ambiguous nature of the upload section when the files are dragged wherein the formatting sudd

[2021-03-11 16:23] #1429 closed

[2021-03-12 04:24] #1840 closed

[2021-03-12 04:27] jywarren opened #1842 "Add a very simple alternative UI that fulfills the ui tests, and document the requirements for alternative UIs"
This would make the rules for UI development clearer and may cause us to refine the UI tests so they are more flexible.

[2021-03-12 04:30] jywarren opened #1843 "Add some "for all modules" buttons like "collapse all steps""
Where would such a button fit nicely?

[2021-03-12 04:41] jywarren opened #1844 "Refine the UI for changing settings"
What can we do to make this smoother to use? Could we allow pressing enter on inputs to apply changes?

Other ideas?

[2021-03-12 04:43] waridrox commented on #1843
I'm really sorry if I'm wrong sir, but are we targeting all the modules to be applied to the image in one go with this button ? Or there is some other functionality associated with this ?

[2021-03-12 04:43] jywarren opened #1845 "Saturation module acting weird"
I think this doesn't look right - can anyone confirm?
![Screenshot_20210311-233332](https://user-images.githubusercontent.com/24359/110893235-90880900-82c3-11eb-8798-406e75afff8b.png)

[2021-03-12 08:52] waridrox commented on #1845
When we go past 1.0 that's when the functionality gets hindered
<img width="853" alt="Screenshot 2021-03-12 at 2 21 09 PM" src="https://user-images.githubusercontent.com/58583793/110915877-34ae9600-833e-11eb-9dba-a8c34eec4357.png">

[2021-03-12 13:43] vivek-30 commented on #1844
@jywarren sir, i have a very impressive idea to share regarding this . But that will require significant amount of time and effort . Btw i can discuss it with you in detail if you want.
Actually i did some research regarding image sequencer and thought we have reached a little saturation point of it (not completely but yet we are missing joy of some newer and powerful features of latest techs). so

[2021-03-12 17:24] jywarren commented on #1844
Hello @vivek-30 and thank you for your interest! I think we are definitely prioritizing ideas for GSoC that are on our list, and this year we didn't include ImageSequencer. That doesn't mean we'd never consider it but if you want to offer some ideas, I can discuss them with @publiclab/community-reps to see if they would be something we're interested in this year. Thank you so much and I appreciate

[2021-03-12 17:31] jywarren opened #1846 "Write UI test for "click to select coordinates" function"
https://github.com/publiclab/image-sequencer/pull/1187 introduced a nice new tool for selecting pixel coordinates by clicking the main image. However, we need a UI test to protect this, and I'd like to ensure we also have:

1. a "crosshairs" icon next to the input: https://fontawesome.com/v4.7.0/icon/crosshairs (in the "addon" [style of Bootstrap](https://getbootstrap.com/docs/4.4/components/input

[2021-03-12 17:32] jywarren commented on #1846
For an example of this kind of test, see: https://github.com/publiclab/image-sequencer/blob/main/test/ui-2/test/ColorPicker.test.js

[2021-03-12 17:35] jywarren commented on #1843
I was thinking of tools that primarily are for the whole sequence, not to apply to each module. But the example "collapse all steps" does apply to each module, it just does it in a batch mode, although it affects the UI and not the actual module image manipulation. I'm just trying to think about ways to make the overall system smoother.

Another idea i had was to use CSS styles and maybe Bootstrap

[2021-03-12 17:43] jywarren opened #1847 "Use blobs instead of dataurls to pass data between modules"
We spend a lot of compute time encoding images as datauri in order to pass them from one module to the next. It may also be possible to use blobs and save encoding time, although we would definitely want to compare the benchmark tests to see if this is true.

(moving this from [this comment thread](https://github.com/publiclab/image-sequencer/pull/1455#discussion_r592137953))

I think this is prob

[2021-03-12 17:43] jywarren commented on #1847
cc @publiclab/is-maintainers

[2021-03-12 17:44] jywarren commented on #1847
And noting that this would also require documentation changes to the Module API to make devs aware that this is allowed.

[2021-03-13 01:55] vivek-30 commented on #1846
Ok i will try this😊

[2021-03-13 01:58] vivek-30 commented on #1844
Ohh thanks a lot @jywarren sir . Btw its good to hear that there can be a possibility of this. I will draft my idea soon so you can better judge it.

[2021-03-13 07:05] vivek-30 commented on #1846
Actually @jywarren sir i went through the entire conversation held in #1187 and i think that i have already did this in #1804 . with all the requirements satisfied like -
- having crosshairs icon in button
- fill coordinates only when clicked on button.
Now according to your issue statement the only thing left is Writing a UI test for this right sir ???
Please correct me if i am wrong or missing s

[2021-03-13 13:57] vivek-30 commented on #1846
One more thing sir how do i push the code to the existing pull request won't there be any permission conflict there?.

[2021-03-14 14:08] waridrox opened #1848 "Adding an image sharpening module"
Currently in the image sequencer, it seems there is no image sharpening module which can sharpen the image based on the intensity. This might be very useful for use cases where the image is a bit blurred and needs some sharpening.

_The proposed idea for the module, I believe dates back to issue #1612_

So, I managed to implement the functionality by applying a 3x3 convolution filter on a given im

[2021-03-16 13:00] waridrox commented on #1845
It's very uncertain as the filter works perfectly for `saturation values <= 1`.
I tried to get it to work by converting the image to HSV format from RGB and then explicitly changing the saturation value in the S parameter, before it can be converted to RGB again, but still I only could get it to work till `value = 1`.

[2021-03-16 16:26] waridrox opened #1851 "Removing scroll-to-top on mobile devices"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2021-03-16 16:27] waridrox commented on #1851
@jywarren @cesswairimu Kindly add the `fto` label :)

[2021-03-16 16:50] HarshKhandeparkar commented on #1851
If another reviewer/maintainer approves this, they can add the first-timers-only label :)

[2021-03-16 18:16] jcads commented on #1851
Can I work on this one?

[2021-03-16 18:30] HarshKhandeparkar commented on #1851
Go ahead! :rocket:

[2021-03-17 14:17] vivek-30 commented on #1846
@jywarren i have tried to write a test for this and everything is working fine except for only one thing. But don't know how to tackle that, could you please give some suggestions.

[2021-03-17 14:22] vivek-30 commented on #1846
see -
![Screenshot 2021-03-17 at 7 43 33 PM](https://user-images.githubusercontent.com/75980147/111482155-a11fff80-8759-11eb-90b9-8b413a1d6c20.jpg)

the problem is when we select the image to click on it we have 2 images get selected and `image.hover` will hover on the first element it found hoverable.
see the documentation -
![Screenshot 2021-03-17 at 7 50 49 PM](https://user-images.githubusercon

[2021-03-17 14:23] vivek-30 commented on #1846
@jywarren sir after this the whole test will be completed

[2021-03-17 15:36] jywarren commented on #1851
Thank you @waridrox for creating this and @jcads for taking it up!!! And @HarshKhandeparkar for supporting!!! 🎉

[2021-03-17 16:16] #1851 closed

[2021-03-18 12:17] jywarren commented on #1845
Hmm, I agree it looks wrong over 1.0! Thanks for catching that!!

On Tue, Mar 16, 2021, 9:00 AM Mohammad Warid ***@***.***>
wrote:

[2021-03-25 16:21] #1848 closed

[2021-03-25 18:49] jywarren commented on #1612
Solved by @waridrox! Thank you!!!

[2021-03-25 18:49] #1612 closed

[2021-03-25 18:54] jywarren commented on #1751
I added these:

* new sharpness module in #1612
* switch to GitHub Actions in https://github.com/publiclab/image-sequencer/pull/1783
* offline caching improvements in https://github.com/publiclab/image-sequencer/pull/1819 and https://github.com/publiclab/image-sequencer/pull/1807
* switch to `expr-eval` in https://github.com/publiclab/image-sequencer/pull/1729
* CLI improvements in https://github.

[2021-03-25 19:01] jywarren commented on #1810
Noting this is still happening -- https://github.com/publiclab/image-sequencer/runs/2196031191?check_suite_focus=true#step:6:22

[2021-03-25 19:45] waridrox opened #1859 "Focus stacking module addition"
### The idea
Focus stacking (also known as focal plane merging and z-stacking or focus blending) is a digital image processing technique which combines multiple images taken at different focus distances to give a resulting image with a greater depth of field (DOF) than any of the individual source images.Focus stacking can be used in any situation where individual images have a very shallow depth

[2021-03-25 22:52] jywarren commented on #1859
i love this it'd be so cool!!!

On Thu, Mar 25, 2021 at 3:45 PM Mohammad Warid ***@***.***>
wrote:

[2021-04-09 15:25] jywarren commented on #1846
Hi, @vivek-30 my apologies for replying slowly. Just to catch up:

I think you're right that you've solved #1187 in #1804 however just to confirm i think you did it slightly differently - by defining a `coordinate-input` type rather than having an `id` in the form `"id": "x-coord"` as @aashna27 did?

If so we should be OK however i see that in #1187 @aashna also enabled this type of input for 4 mo

[2021-04-09 15:27] jywarren commented on #1846
For the test, are you working in a pull request you can link us to? So we can refer to specific lines of code?

I'm not sure which click event is getting the wrong image - i think we should be able to use more specific CSS to click but can you highlight:

* which line is causing the issue
* which image it's supposed to click
* which image it's actually clicking

then hopefully we can disentangle i

[2021-04-10 13:57] vivek-30 commented on #1846
No Problem @jywarren sir , I understand that you have lot of work to do and finding time for all such things is very hard.
Taking about the issue, yes you are absolutely right i did it in a bit different manner as that issue is targeting only ease in adjusting text on the image. @aashna27 did it for #1187 which solely focuses on input-coordinates. No doubt that her approach is to the point and ama

[2021-04-10 14:09] vivek-30 commented on #1846
sorry sir if i have confused you . i was talking about the PR #1187 , i thought after completing the test i have to add the commit in this PR . so thats why i asked "how will i add a commit to someone else PR with appropriate authority".

[2021-04-10 16:58] vivek-30 commented on #1846
BTW i will try this again with some different approach ☺️

[2021-04-15 19:57] jywarren commented on #1846
Hi, sorry, i may still misunderstand, but if you can add the test in its own PR that's fine - in theory your own solution should fulfill it, right?

Merging @aashna27's code would be great, but we don't want 2 different systems, and your seems fine -- do you see an added benefit of also merging @aashna27's code?

I'm sorry I didn't catch that the two PRs overlapped. We were holding @aashna27's cod

[2021-05-13 21:43] jywarren opened #1889 "Halftone angle (in radians) needs to be a decimal instead of an integer"
When I try to adjust the angle of a halftone in this sequence: https://sequencer.publiclab.org/examples/#steps=color-halftone{}

The slider will only go to 0 or 1, and I can't set a decimal. I think the type is set incorrectly or perhaps the input step size?

![rads](https://user-images.githubusercontent.com/24359/118191200-38c86400-b412-11eb-8832-b3e53cc68493.gif)

Aha, the input is this:

[code]

[2021-05-13 22:48] waridrox commented on #1889
I think it might work. Will take a look at this soon...

[2021-05-14 04:49] waridrox commented on #1889
Hey @jywarren, I think the module already has the `step` parameter to account for the variable angle 😅. Maybe the changes are not yet pushed to the stable version release then...🤔

https://github.com/publiclab/image-sequencer/blob/86115fcc88225c907fefd92762e60042c93f73c5/src/modules/ColorHalftone/info.json#L6-L13

That's because the module works perfectly on the local dev env:

https://user-images

[2021-05-14 05:36] jywarren commented on #1889
Ack! Good catch! I knew I was having deja vu while writing that issue.... !!

On Fri, May 14, 2021, 12:49 AM Mohammad Warid ***@***.***>
wrote:

[2021-05-14 20:17] #1889 closed

[2021-05-20 11:15] GuptaTanisha commented on #1842
@jywarren I want to work on this. Can u help me to get started with this issue?

[2021-05-25 21:11] jywarren commented on #1842
Hi @GuptaTanisha I appreciate the offer - this might be quite a big project! Have you had an opportunity to try some other issues in this repository first?

But yes, i think the process might be to make a copy of the index.html file in /examples/ and to begin stripping down the HTML bit by bit, running the tests each time -- the tests would have to be adapted to run a 2nd time on the simpler versi

[2021-06-11 09:00] aktamoli0910 commented on #1393
hello, is this issue still available?

[2021-06-11 14:38] jywarren commented on #1393
I think this could still work -- but @harshkhandeparkar are we concerned about really large data-urls? also, dragging in an image would then change the URL making the sequence harder to save. I think unfortunately this one needs a bit more discussion before it is ready!

I wonder if we should offer a button (near save buttons) that generates such a URL "with the current image preserved". It could

[2021-06-11 15:32] harshkhandeparkar commented on #1393
Didn't think about it :sweat_smile:

[2021-06-25 04:35] unnati914 commented on #1757
I want to work on this issue

[2021-06-25 10:12] harshkhandeparkar commented on #1757
Sure! Which templates do you plan on adding?

[2021-06-25 11:47] unnati914 commented on #1757
We can have a seperate template for enhancements, any design issue we contribute to.. any proposal we have for the project etc.

[2021-06-25 11:48] unnati914 commented on #1757
any feature additions too :D

[2021-06-25 14:45] harshkhandeparkar commented on #1757
:rocket: :+1:

[2021-07-01 15:42] #1757 closed

[2021-07-27 20:11] harshkhandeparkar commented on #1751
Added them to the v3.7.0 project :)

[2021-07-27 20:21] harshkhandeparkar opened #1933 "Puppeteer Out Of Date"
IS uses puppeteer v1.19.0 whereas the latest is https://github.com/puppeteer/puppeteer/releases/tag/v10.1.0

[2021-07-27 20:27] harshkhandeparkar opened #1934 "Remove Unused Dependencies"
Example: `resemblejs` was not found anywhere in the code - https://github.com/publiclab/image-sequencer/search?q=resemblejs

https://github.com/publiclab/image-sequencer/blob/056090cba9da95f880c2924503a5c936937225da/package.json#L110

[2021-07-27 20:33] harshkhandeparkar commented on #1934
Oh wait it is used
https://github.com/publiclab/image-sequencer/blob/056090cba9da95f880c2924503a5c936937225da/test/core/templates/gif-module-test.js#L4

Looks like github search is broken

[2021-07-27 20:37] #1934 closed

[2021-07-27 20:49] harshkhandeparkar opened #1935 "Supported NodeJS Versions"
Currently IS supports and runs tests on NodeJS v10 and v12. Node 10 has reached EoL and dependencies such as [this](https://github.com/publiclab/image-sequencer/pull/1901#issuecomment-887823406) are no longer compatible.

Also support for the current LTS v14 and upcoming versions needs to be discussed.

[2021-07-27 21:23] harshkhandeparkar commented on #1751
I just marked some PRs that are almost done but need some more work (such as tests) with the `incomplete` label. Some others that required a lot more work were converted to drafts.

[2021-07-27 21:36] harshkhandeparkar commented on #1751
Added a few more issues to the project, including this one which is ready to merge: https://github.com/publiclab/image-sequencer/pull/1543

[2021-07-31 12:29] jywarren opened #1937 "New module idea: ocr text recognition"
https://ian-nai.github.io/In-Browser-OCR/

[2021-07-31 12:30] jywarren commented on #1935
I think let's drop 10 and support 14!

[2021-07-31 12:31] jywarren commented on #1933
Thanks for this excellent list!!

[2021-07-31 14:28] harshkhandeparkar commented on #1935
Adding 16 won't hurt either, right?

[2021-07-31 14:34] harshkhandeparkar commented on #1935
Checklist:
- [ ] update github actions
- [ ] update package.json

Please add anything else I missed out :)

[2021-07-31 14:40] harshkhandeparkar opened #1938 "Use Modern JS"
Since we are thinking of dropping node 10 support in https://github.com/publiclab/image-sequencer/issues/1935 and because most browsers support ES6 and beyond, we can:
- [ ] Remove all `var`s and use `let`/`const` instead.
- [ ] Use async/await and promises.
- [ ] Even use ES6 `import`s by converting normal JS files to `.mjs`. (which will be compiled by browserify into a single package)

This can

[2021-08-04 08:27] Ash-KODES commented on #1319
IS THIS ISSUE STILL OPEN?

[2021-09-14 14:22] jywarren commented on #1751
That's awesome. Thanks @harshkhandeparkar!! Maybe we should release 3.7.0 now and batch anything else into the next?

[2021-09-14 14:23] jywarren commented on #1369
Maybe we should check in on whether some of these tests have been written and could be checked off?

[2021-09-14 14:31] #1531 closed

[2021-09-14 16:50] harshkhandeparkar commented on #1751
How about releasing another 3.6.x patch?

[2021-09-14 16:54] harshkhandeparkar commented on #1751
Except for the shadow and alpha masking modules, all other PRs are bug fixes or refactorings.

[2021-09-14 16:57] jywarren commented on #1751
Well, if we even have 2 new things, it qualifies for a minor version bump, no? Are you OK with 3.7.0? Or are you worried about the project needing to be reorganized as a result?

[2021-09-14 17:05] harshkhandeparkar commented on #1751
Yeah true, let's make it 3.7.0.

Not at all :)

But I was looking at potentially merging https://github.com/publiclab/image-sequencer/pull/1673 because it adds just a single character.

[2021-10-06 04:43] shreyshreyansh opened #1969 "Can add units to the dimension of the image"
![Screenshot 2021-10-06 101106](https://user-images.githubusercontent.com/53744971/136141782-1b2afcfa-159d-44bc-ad0f-30ce56d1d9d3.jpg)

*image width: 611px*
*image height: 429px*

[2021-11-16 00:54] dcc82 opened #2000 "How do I specify "executablePath" when calling Puppeteer"
I'm trying to run it on a Raspberry PI, but it gives me an error saying "Failed to launch chrome".

To make it work, I have to manually add "executablePath: '/usr/bin/chromium-browser'" to gl-context.js

Is it possible to add an option for users to run a different headless browser? Thanks.

[2022-01-11 22:15] jywarren commented on #1751
OK, so this may need to be published due to errors related to https://github.blog/2021-09-01-improving-git-protocol-security-github/ ; I'd prefer to do it as 3.6.x as a bugfix on the stable branch, so I may do that first, but then we might as well roll out a new version with all these fixes anyways.

Short story: the package.json link to git://github.com/jywarren/imgareaselect.git needs to change

[2022-01-14 22:12] jywarren commented on #1751
Gah, unfortunately forgot to follow the checklist entirely before releasing v3.7.0, so it doesn't include the latest /dist/ builds! Doh! :sob:

Working on it now but it looks like we have a yarn.lock conflict. Need to review again why we track yarn.lock.

Also, to add to the process:

1. if it doesn't merge cleanly into stable, do we force push to stable? or rebase a copy of main? Or did we do som

[2022-01-15 16:47] jywarren commented on #2000
Ah, hmm, it's supposed to run headless actually! We have CLI based tests too...

https://github.com/publiclab/image-sequencer/blob/main/test/cli/saveSequence.js

I think it's supposed to simply skip GL acceleration if it's not available. What sequence are you trying to run? Let me try to reproduce.

As to different headless browser, we do use Puppeteer, which i believe now supports firefox headles

[2022-01-15 17:01] jywarren opened #2035 "yarn.lock vs. package-lock.json"
This has come up a couple times - why do we have both yarn.lock and package-lock.json? I think it may have simply been an oversight. Comments by @daemon1024 and @harshkhandeparkar: https://github.com/publiclab/image-sequencer/pull/1899#issuecomment-887815917, https://github.com/publiclab/image-sequencer/pull/1791#issuecomment-773605563

We're facing an issue with yarn.lock in our latest release pr

[2022-01-15 17:02] jywarren commented on #2035
(noting that according to this, which could be out of date, yarn.lock stores a little bit less information anyways, and can be regenerated from package-lock.json: https://classic.yarnpkg.com/blog/2018/06/04/yarn-import-package-lock/)

[2022-01-15 17:10] jywarren commented on #1751
So let's also do:

* [ ] add to [checklist](https://github.com/publiclab/image-sequencer/blob/main/.github/ISSUE_TEMPLATE/release_workflow.md) a step for copying checklist over to the PR
* [ ] add clarification about rebasing vs. force pushing? Check what we've done in the past. Will force pushing or rebasing affect the auto-build steps for https://beta.sequencer.publiclab.org?
* [ ] add node vers

[2022-01-15 17:20] jywarren commented on #1751
To clarify on rebase vs. force - `v3.6.0` was a2d654321d79ce8773c5621e3b4aa8f371d669e2, which is identical in both `main` and `stable` branches. So we aren't rebasing, as far as I can see.

I don't see previous evidence of compiling to /dist/ in the stable commit history, and searched back several versions. So I believe we are force-pushing to stable, then compiling in a follow-up commit. I think

[2022-01-15 17:23] jywarren commented on #1751
Noting (responding to https://github.com/publiclab/image-sequencer/pull/2034#issuecomment-1010438427) running the `main` branch in gitpod (after deleting yarn.lock, although possibly unrelated) i am able to run `npm install` now. node version `16.3.0`, probably same as yesterday...

[2022-01-15 18:55] #1751 closed

[2022-01-15 18:55] #2035 closed

[2022-01-15 19:05] jywarren commented on #1751
https://github.com/publiclab/image-sequencer/releases/tag/v3.7.1 released! cc @publiclab/is-reviewers @publiclab/is-maintainers @publiclab/is-module-maintainers @publiclab/is-ui-maintainers @publiclab/is-cli-maintainers 🎉

[2022-01-15 19:27] jywarren opened #2037 "Checklist and coordination for v3.7.2 patch release"
Also see:

- https://github.com/publiclab/image-sequencer/issues/2038

* [x] open an issue using the "release" template with this checklist with title `Checklist and coordination for v0.0.0 major/minor/patch release` (see [semantic versioning](https://docs.npmjs.com/about-semantic-versioning/))
* [ ] create a release [project](https://github.com/publiclab/image-sequencer/projects) from [this templ

[2022-01-15 19:27] jywarren commented on #1751
Moving to https://github.com/publiclab/image-sequencer/issues/2037 for any following changes! Thanks, all!

[2022-01-15 19:31] jywarren commented on #605
Confirming this worked (except 2 remaining pieces) for v3.7.1:

![Screen Shot 2022-01-15 at 2 25 29 PM](https://user-images.githubusercontent.com/24359/149635361-3c6653c5-e953-4207-a5bc-4d27cc53c7ba.png)
![Screen Shot 2022-01-15 at 2 25 39 PM](https://user-images.githubusercontent.com/24359/149635364-0bb9aa0e-f6e6-4905-a16c-602e7d188f28.png)

![Screen Shot 2022-01-15 at 2 25 42 PM](https://user-im

[2022-01-15 19:31] jywarren commented on #2037
![Screen Shot 2022-01-15 at 2 25 29 PM](https://user-images.githubusercontent.com/24359/149635381-568bfa56-7db1-4504-bd8b-6cd101dba9ce.png)
![Screen Shot 2022-01-15 at 2 25 42 PM](https://user-images.githubusercontent.com/24359/149635386-d8ae09e6-9980-4074-b291-60713a87ffe9.png)

[2022-01-16 23:57] jywarren opened #2038 "Ideas for next release"
- scroll to step after adding it
- click to set coordinates for many modules
- revamp perspective warp to allow reverse coordinates (ie "click on new corners")
- slider for color temperature?
- change channel to checkboxes
- tint as slider/input

[2022-01-18 23:06] dcc82 commented on #2000
The sequence is "fisheye-gl". My environment is NodeJS v16, DietPi (Raspberry Pi 4). There's no GUI.

When I ran this particular sequence to fix distorted images, it would try to launch a headless Chrome (via Puppeteer) to process them. Since Chome is not available on Raspberry Pi, I needed to manually add "executablePath: '/usr/bin/chromium-browser'" to gl-context.js (src/modules/_nomodule/gl-con

[2022-01-18 23:46] jywarren opened #2040 "Yarn complains about node-png@0.4.3 expecting node 0.8.x"
error Found incompatible module.`

This is actually stopping MapKnitter from getting a new version: https://github.com/publiclab/mapknitter/pull/1585 although strangely, not plots2: https://github.com/publiclab/plots2/pull/10664

As @harshkhandeparkar [noted](https://github.com/publiclab/image-sequencer/pull/1141#issuecomment-507355377),

This also happened when running `yarn install` in https://g

[2022-01-18 23:57] jywarren commented on #2040
OK, so `node-png` isn't a direct dependency. Should trace it.

`0.4.3` is the latest version, published 8 years ago - https://www.npmjs.com/package/node-png

[2022-01-18 23:57] jywarren commented on #2040
It's used by imagejs: https://www.npmjs.com/package/imagejs

[2022-01-19 00:38] jywarren commented on #2040
`imagejs` last updated on May 23, 2015, so I think our options are to:

1. refactor using something like https://www.npmjs.com/package/jimp
2. refactor using some approach we already use in Image Sequencer (since we already do stuff like this surely for other modules)
3. see if we can get yarn to not care about the specified node version? I mean, the code runs, right?

The requirement is listed in

[2022-01-19 00:48] jywarren commented on #2040
So, there are other versions of this code on GitHub:

- https://github.com/kunhualqk/node-pngjs
- https://github.com/sapphire-al2o3/node-pngjs
- https://github.com/jin-sandbox/node-pngjs

The first two seem furthest along but none are more than what they call `0.4.0`, so not yet `0.4.3`.

[2022-01-19 00:51] jywarren commented on #2040
Aha - a very new `v6.0.0` one here: https://www.npmjs.com/package/pngjs

And code for `v0.4.3` here: https://github.com/opentable/node-png

[2022-01-19 00:52] jywarren commented on #2040
And https://github.com/gforge/pngjs3 which has adaptations for browser use?

[2022-01-19 00:55] jywarren commented on #2040
OK, so what if we add to package.json:

`"node-png": "git+https://git@github.com/opentable/node-png.git"`

Or a fork of that which doesn't have the "engines" specified as node 0.8.0 or 0.10.0

Or, alternatively, we try pointing at https://www.npmjs.com/package/pngjs, although many major version numbers have gone by so i wonder if it's compatible.

[2022-01-19 00:56] jywarren commented on #2040
https://github.com/opentable/node-png/blob/master/package.json#L12

[2022-01-19 00:57] jywarren commented on #2040
Just noting that the API described in https://www.npmjs.com/package/pngjs#example is identical to the one in the current `node-png` `v0.4.3`

[2022-01-19 00:59] jywarren commented on #2040
On careful consideration, I think (but not 100% sure) we'd have to fork and modify `imagejs` to point at `pngjs` instead, and couldn't simply add a substitute to our package.json...

[2022-01-19 01:00] jywarren commented on #2040
Still, that's only a 1-line change: https://github.com/guyonroche/imagejs/blob/27298b499aec5f73888caed2d7fc8d5bca4a4d1b/lib/bitmap.js#L30

[2022-01-19 01:01] jywarren commented on #2040
Aha, this person already did this: https://github.com/glennjones/imagejs/commits/master

[2022-01-19 01:03] jywarren commented on #2040
So we'd just change:

https://github.com/publiclab/image-sequencer/blob/a4020cddad86b6a6150411c361e59f7e3012d10c/package.json#L59

to:

[code]

[2022-01-21 14:07] harshkhandeparkar commented on #2037
Hi! I saw the activity. I didn't get why we published 3.7.1 without publishing 3.7.0 though.

For the next release, I guess we can start with updating https://github.com/publiclab/image-sequencer/projects/4.

[2022-01-25 20:46] #2040 closed

[2022-01-25 20:48] jywarren commented on #2038
We just merged https://github.com/publiclab/image-sequencer/pull/2041 and anticipate it will unblock uptake of IS in MapKnitter: Bump image-sequencer from 1.4.1 to 3.7.1 https://github.com/publiclab/mapknitter/pull/1585

So, i'm inclined to release a `v3.7.2` with just this addition, but we could also wait for more here.

[2022-01-25 22:45] jywarren commented on #1613
I like this! Thanks!

[2022-01-25 23:00] jywarren commented on #2037
We just merged https://github.com/publiclab/image-sequencer/pull/2041 and anticipate it will unblock uptake of IS in MapKnitter: Bump image-sequencer from 1.4.1 to 3.7.1 https://github.com/publiclab/mapknitter/pull/1585

So, i'm inclined to release a `v3.7.2` with just this addition, but we could also wait for more from here. If we wait, it will probably be `v3.8.0`, given some new features.

[2022-01-25 23:05] #1378 closed

[2022-01-25 23:32] jywarren commented on #2000
fisheye-gl requires a GPU. I think that's what you're tweaking in gl-context... but ok, great, so let's try to find a place to put a configurable flag. Tracing the call, your modification was here:

https://github.com/publiclab/image-sequencer/blob/28b648361b9193d4cbb94a9d06d6a793455f7f92/src/modules/_nomodule/gl-context.js#L12

So we would pass in the option to the three modules that use it. I th

[2022-01-25 23:36] jywarren commented on #2000
How does that sound? Do you have any interest or capacity to give this a try, or would you like my support in getting this going? Thanks!

[2022-01-29 16:19] anantraghuvanshi commented on #1969
Hey @shreyshreyansh, may I take up this issue?

[2022-02-01 15:35] jywarren commented on #2038
- extremely efficient resizing via https://github.com/nodeca/pica with webAssembly/webworkers/etc autodetection
- faster processing with Sharp https://sharp.pixelplumbing.com/ (try replacing some operations and compare using benchmarks)
- inter-module image handoff without data-uri encoding (if both modules can negotiate a faster common format)

[2022-02-09 07:25] KarishmaVanwari commented on #1969
Hey @shreyshreyansh can I take up this issue?

[2022-02-09 07:40] shreyshreyansh commented on #1969
Actually I don’t own this repo

[2022-02-09 07:46] KarishmaVanwari commented on #1969
Okay, then whom can I ask to get this issue assigned? @shreyshreyansh

[2022-02-09 08:04] shreyshreyansh commented on #1969
Tag @jywarren

[2022-02-09 09:20] KarishmaVanwari commented on #1969
Okay, thanks @shreyshreyansh
Hey @jywarren , can I take up this issue?

[2022-02-10 07:43] harshkhandeparkar commented on #1969
Sure! Also you may tag `publiclab/is-reviewers` from next time \:)

[2022-02-10 08:28] KarishmaVanwari commented on #1969
Okay, thanks!

[2022-02-10 09:47] KarishmaVanwari commented on #1969
Hey @harshkhandeparkar, I have created a PR #2066 . Please have a look!

[2022-02-10 13:24] KarishmaVanwari commented on #1825
@harshkhandeparkar can I work on this?

[2022-02-10 15:37] KarishmaVanwari commented on #1355
@publiclab/is-reviewers  Can I take up this issue?

[2022-02-10 16:15] #1969 closed

[2022-02-11 17:10] harshkhandeparkar commented on #1355
Go ahead!

[2022-02-12 20:52] KarishmaVanwari commented on #1355
I've created a PR #2068 . Please do have a look @harshkhandeparkar.

[2022-02-16 18:26] harshkhandeparkar commented on #1318
Since you have already opened your first PR, it would be better if you leave this one for others :)

[2022-02-16 18:26] harshkhandeparkar commented on #1825
Go ahead!

[2022-02-17 00:21] #1355 closed

[2022-02-25 23:32] jywarren opened #2078 "New module idea: descreen/dehalftone/inverse halftone"
Halftoned images, esp old images, can be "descreened" to produce clearer versions than just blurring the halftone.

Some use neural networks and some use FFT math. Here's a nice image of descreening from [this excellent page and paper](https://thnkim.github.io/):

![image](https://user-images.githubusercontent.com/24359/155816582-d7fc2e6a-2ad8-45ea-9a97-855e0292519b.png)

Research:

- https://derc

[2022-03-22 20:35] jywarren commented on #2037
I'm going to go ahead and release `v3.7.2` with these:

- https://github.com/publiclab/image-sequencer/pull/1589
- https://github.com/publiclab/image-sequencer/pull/2041 (high priority) - fixes node-png dep issue

I'll move the rest into a new issue for `v3.8.0`!

[2022-03-22 20:38] jywarren opened #2089 "Checklist and coordination for v3.8.0 minor release"
This template guides us through the steps of creating a new release, based on conversation and testing in [#1692](https://github.com/publiclab/image-sequencer/issues/1692).

Discuss with @publiclab/is-maintainers if anything is ambiguous!

Also see:

- https://github.com/publiclab/image-sequencer/issues/2038

* [x] open an issue using the "release" template with this checklist with title `Checklis

[2022-03-22 22:16] jywarren commented on #2037
Released! https://github.com/publiclab/image-sequencer/releases/tag/v3.7.2

Published! https://www.npmjs.com/package/image-sequencer

Demo updated too!

<img width="275" alt="image" src="https://user-images.githubusercontent.com/24359/159585456-f8b4fe5a-5224-44a0-99f3-eb566eb60f99.png">

[2022-03-22 22:29] jywarren commented on #2037
Unfortunately the dist files didn't make it in!

[2022-03-22 22:30] jywarren commented on #2037
I'm not sure how. Compiling and releasing as 3.7.3, unfortunately 😭

[2022-03-22 23:05] jywarren commented on #2037
Published as v3.7.3!

[2022-05-19 18:54] jywarren opened #2125 "Incorrect local path for manipulation.wasm when using as an embedded library in MapKnitter.org"
Incorrect local path for manipulation.wasm when using as an embedded library in MapKnitter.org: https://stable.mapknitter.org/maps/ir1/edit

`GET https://stable.mapknitter.org/dist/manipulation.wasm 404 (Not Found)`

I think we need to reference a relative path?

[2022-06-03 11:01] Vedavyas11062004 commented on #1354
Hi @harshkhandeparkar,I want to work on this issue does any one already working on it.

[2022-06-03 17:05] harshkhandeparkar commented on #1354
Sure, go ahead!

[2022-06-07 06:10] #1354 closed

[2022-10-01 12:09] k99sharma commented on #1825
Hi, I would like to fix this issue. Do you still want this fixed?

[2022-10-01 12:37] harshkhandeparkar commented on #1825
Sure!

[2022-10-01 17:00] k99sharma commented on #1825
Hey, I tried looking for the bug. I found this in the `index.html` file in `examples/` folder.
[index.html](https://github.com/publiclab/image-sequencer/blob/main/examples/index.html)

![index html - image-sequencer - Gitpod Code](https://user-images.githubusercontent.com/54969439/193419629-70965631-1620-489d-bb25-797c6a7f25d3.png)

I looked in the `demo.js` file which is calling `addStepsUI` hand

[2022-10-01 18:00] harshkhandeparkar commented on #1825
It's not a generated file, it is the source.

[2022-10-01 18:02] harshkhandeparkar commented on #1825
You can run `npm start` to test your changes in the browser.