[2019-02-04 16:56] bhavayAnand9 opened #747 "select module box with a search option"
### Please describe the problem (or idea)
As our list of modules is increasing it'll be getting difficult to find a particular module from the select box. So I think it'll be more convenient if we add a search option.

imagine you just know the module name so instead of searching for the module in that list we can start typing and filtering out that module from the list.

### Please show us where

[2019-02-04 16:58] HarshKhandeparkar commented on #747
@bhavayAnand9 is there any lib which can provide help here?

[2019-02-05 02:50] Divy123 commented on #743
I think this can be great to implement. We can also accept some options like pdf, svg, GIF  and others which we can provide in a drop-down(lets say) and then terminate the sequence accordingly providing that ouput.@jywarren

[2019-02-05 03:00] Divy123 commented on #747
I think this can be done by a simple search function and I would love to implement it.

[2019-02-05 11:51] bhavayAnand9 commented on #747
https://select2.org/searching
https://developer.snapappointments.com/bootstrap-select/
https://selectize.github.io/selectize.js/

But I aslo think we should consider doing it with jquery or vanilla js.
@Divy123 we'd love your help but let's first get a go signal from @jywarren

[2019-02-05 12:06] Divy123 commented on #747
Sure @bhavayAnand9 .

[2019-02-05 15:22] VibhorCodecianGupta commented on #546
@jywarren added tests at #748 for brightness, invert and contrast modules. `image-manip` had some code which was buggy and wasn't being used. One of them was the QR code module testing, which was not functioning because the module itself is buggy in the first place. Removed those tests.

[2019-02-05 15:40] Itaachime commented on #737
i want to contribute to this project

[2019-02-05 15:58] HarshKhandeparkar commented on #737
@Itaachime welcome. You sure can contribute but this issue is already taken up. Can you please try resolving one of [fto-candidate](https://github.com/publiclab/image-sequencer/labels/fto-candidate) issue or [first-timers-only](https://github.com/publiclab/image-sequencer/labels/first-timers-only) issues if it is available ?

[2019-02-05 16:31] #546 closed

[2019-02-05 16:32] #711 closed

[2019-02-05 19:42] Divy123 commented on #747
@jywarren should I proceed with vanilla js?

[2019-02-05 21:01] jywarren commented on #747
Cool, the https://selectize.github.io/selectize.js/ options of "groups"
looks good!

On Tue, Feb 5, 2019 at 2:42 PM Slytherin <notifications@github.com> wrote:

[2019-02-05 21:07] Divy123 commented on #747
Thanks I will proceed with this.

[2019-02-05 22:03] jywarren commented on #731
I just linked to this from https://github.com/publiclab/leaflet-tile-filter/issues/3 because once this is complete we should be able to vastly improve that use case! Thanks @VibhorCodecianGupta !

[2019-02-06 16:10] #628 closed

[2019-02-06 21:32] jywarren commented on #746
Fixed in https://github.com/publiclab/image-sequencer/commit/58c6cbff24d7ab5ad4a643d679a1f11d278e3d9d !!

[2019-02-06 21:32] #746 closed

[2019-02-07 00:07] jywarren commented on #732
or in the JS console on a webpage. I think there are examples of this in
the tests, just not in the README!

On Sat, Feb 2, 2019 at 6:02 PM Slytherin <notifications@github.com> wrote:

[2019-02-07 01:16] jywarren commented on #718
Hi! Please check out these ideas I've written out at greater length!

https://publiclab.org/wiki/gsoc-ideas#MapKnitter+Synchronous+Editing

[2019-02-07 01:16] jywarren commented on #718
Related to https://github.com/publiclab/mapknitter/issues/300

[2019-02-07 16:49] Divy123 commented on #747
![ezgif com-gif-maker 1](https://user-images.githubusercontent.com/31225007/52427652-5ff2a580-2b26-11e9-807f-8dfd677a93c8.gif)

[2019-02-08 16:50] #723 closed

[2019-02-08 18:31] jywarren commented on #738
I had another idea on this. One reason we are hesitant to make /everything/ synchronous is that some modules take time to run, so if we are running them every time there's an interaction, it could bog down the UI.

But what if we opened a new issue, where we offered modules a function to display a "preview" rather than run on the main image. Kind of like how we do on the quick menu:

![image](http

[2019-02-08 18:33] jywarren commented on #315
Hi @tech4GT would you mind sharing any work you've done so far in a PR, or maybe outlining a couple steps towards this goal? I'd love to see progress made on it and if we could do it in parts, even better!

[2019-02-08 18:34] jywarren commented on #315
For example, would you consider simply building a module which starts a unique separate instance of ImageSequencer inside itself, passes in a string, and then replies with the output?

[2019-02-08 18:40] jywarren commented on #251
@publiclab/is-reviewers  what do you think about this? It's a bit laborious to always be going into:

`sequencer.images.image1.steps` and also even `sequencer.images.image1.steps[1].options.name` just to get the name of a step.

Two ways forward might be:

1. (simpler) just create a `sequencer.getSteps()` method to shortcut
2. store steps in `sequencer` not in the image, so `sequencer.steps`, beca

[2019-02-08 18:41] jywarren commented on #251
This would likely be a breaking change. I want to discuss now because it seems important, we have a better idea of our use cases now, and we'd want to make this change earlier rather than later before more end-uses develop as in #707

[2019-02-08 18:45] jywarren commented on #431
How are things going on this? I know it's a tough one, how are you thinking of approaching it?

[2019-02-08 18:48] Divy123 commented on #251
I was wondering about it and this could be a great thing as the things go too complicated sometimes due to the lack  of getSteps() function.
Also I would like to suggest that the documentation should be restructured to provide a deep insight not only on the usage part but also on the development thing so that the new fellows can find things much easier.
I would like to suggest `Read the Docs` for

[2019-02-08 19:18] aashna27 commented on #431
I went through the links you had provided and couldn't really figure it out without using canvas. As it requires adding fonts and rendering it on the image. Then I moved on to new issues, my mistake.. I ll search more on this.

[2019-02-08 19:25] aashna27 opened #751 "Display RGB values when hovering over images"
### Displaying rgb values when hovering over images to provide imagedate

 This is a new feature and can be really interesting to implement

### where to look

http://sequencer.publiclab.org...

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they'll be resolv

[2019-02-08 19:28] aashna27 commented on #751
This seems really interesting and is a breakout from #197, I would like to go forward with it , but having searched a little I found the canvas approach, ie using canvas Api for each image and getting imagedata from it. I would request some views if it would be appropriate to go forward with it? I will also look for some other alternatives, not through with the search. Thanks!!

[2019-02-08 22:29] jywarren commented on #251
Great idea on better docs and in general we should open a new issue on this
and link into the tests more and more as an example of usage.

Let's start with `getSteps()` which is a reasonable place to start that
does not break any API. We can test it too. I'd also like to hear from
others - thanks!

On Fri, Feb 8, 2019 at 1:49 PM Slytherin <notifications@github.com> wrote:

[2019-02-08 22:30] jywarren commented on #751
here this would likely become part of the default UI code, so using Canvas
is OK. Thanks!

On Fri, Feb 8, 2019 at 2:29 PM aashna27 <notifications@github.com> wrote:

[2019-02-08 22:34] jywarren commented on #431
no problem! did fontpath + adding fonts seem plausible? I know this is a pretty tough issue. We don't have to solve it perfectly all at once; a basic implementation would be OK.

Another option is a pure-JS implementation of Canvas, maybe...

[2019-02-08 22:38] Divy123 commented on #251
Sure @jywarren . I am opening a new issue and I would love to restructure the code to implement `getSteps()` .

[2019-02-08 22:42] Divy123 commented on #216
Sorry for being late on the fisheyeGl issue but I was facing some issues.I am going through .

[2019-02-08 23:07] Divy123 opened #753 "Improve Documentation : providing more links to the tests."
### Please describe the problem (or idea)
Improvement of Documentation and providing links to the tests.

I suggest to use `Read the Docs` for a nice documentation.

Also there can be two different docs : one for usage and other a somewhat elaborate explanation of functions defined and the work flow. This can make the contributions easier for all.
Thanks!

[2019-02-08 23:08] Divy123 commented on #753
@jywarren , @publiclab/is-reviewers  would love to hear from you on this.

[2019-02-09 07:47] sidntrivedi012 commented on #738
@jywarren Right, the asynchronous calls will surely take some time. So, it would be a nice go to first give the user a preview of the customization and when he finally decides he can click the add changes button. But, the issue is where will we add these features on the page without disturbing the UI?

 One thing we can do is we can add a modal for every customization's preview. And when the user

[2019-02-09 07:49] HarshKhandeparkar commented on #431
@jywarren is there any lib which converts fonts to bitmaps or something?? @publiclab/is-reviewers

[2019-02-09 07:51] HarshKhandeparkar commented on #570
@jywarren I think your rebase caused some problem in the pr and no changes were made. Any thoughts? I will probably open a new pr by force pushing from local. I still have the changes there. Thanks

[2019-02-09 10:05] tech4GT commented on #251
Go ahead Divy, you can expect any help you need from me :)

[2019-02-09 10:06] tech4GT commented on #315
@jywarren Sure, I'll open a PR today!

[2019-02-09 13:54] #735 closed

[2019-02-09 13:56] jywarren commented on #570
Oh sorry! Yes please do.

On Sat, Feb 9, 2019, 2:52 AM Harsh Khandeparkar <notifications@github.com
wrote:

[2019-02-09 14:23] HarshKhandeparkar commented on #570
Ok will do in a few minutes

[2019-02-09 14:33] jywarren commented on #431
Check out the demo section of fontpath!

On Sat, Feb 9, 2019, 2:50 AM Harsh Khandeparkar <notifications@github.com
wrote:

[2019-02-09 17:11] Divy123 commented on #251
Thanks @tech4GT .

[2019-02-09 17:12] Divy123 commented on #751
@aashna27 can you please elaborate the use case of the issue?

[2019-02-09 21:00] tech4GT opened #755 "Running Sequencer on gCloud"
## Current Service
- We are running a google cloud function which processes the image and returns the output

## Ideas
- Parallelize the processing of images using more cloud functions or maybe deploying on cloud engine
- Optimize the core APIs to make the processing faster and more memory efficient
- Try to run Image sequencer on a stream based input

[2019-02-09 21:00] tech4GT commented on #755
cc @jywarren @icarito

[2019-02-09 21:10] jywarren commented on #755
This is great; can you share the script for how you set it up, and maybe
some screenshots?

On Sat, Feb 9, 2019, 4:01 PM Varun Gupta <notifications@github.com wrote:

[2019-02-09 21:11] tech4GT commented on #755
Sure!

[2019-02-10 03:29] jywarren commented on #755
Also let's set it up to fwd to the dataurl if output=forward?

On Sat, Feb 9, 2019, 5:33 PM Varun Gupta <notifications@github.com wrote:

[2019-02-10 13:43] jywarren commented on #755
To try out!

https://us-central1-public-lab.cloudfunctions.net/is-function/?url=https://publiclab.org/system/images/photos/000/024/686/original/valverde.jpg&upload=true&sequence=ndvi,colormap

[2019-02-10 13:48] HarshKhandeparkar commented on #755
@jywarren I checked it out, It took around 2mins to load the page itself. I haven't checked the dataURI it returned is there any way to ckeck it out? Also will it work for any steps?

[2019-02-10 13:57] jywarren commented on #755
Anyone should be able to set up a free trial Google cloud account... Try it out! I think what I wrote about redirecting could work to view the dataurl.

[2019-02-10 15:14] Sand038 commented on #228
Can I start working on https://codeclimate.com/github/publiclab/image-sequencer/src/Run.js/source#issue-558e648db4003071ea478cd2af6b7799?

[2019-02-10 15:23] HarshKhandeparkar commented on #228
@sand038 welcome! I think touching the run.js file directly may not be good. Even I have never touched it before. Are you familiar with the codebase? If not then can you try refactoring something else like a module? That will give you a good idea of how everything works. If you have started work already then its ok. Go ahead. If you haven't still then you can try something else or if you are ok wi

[2019-02-10 16:54] jywarren commented on #755
Is there a way to git track the script?

[2019-02-10 16:54] jywarren commented on #755
https://us-central1-public-lab.cloudfunctions.net/is-function/?url=https://publiclab.org/system/images/photos/000/024/686/original/valverde.jpg&upload=true&sequence=ndvi,colormap&redirect=true

[2019-02-10 16:57] tech4GT commented on #755
I think this is working!

[2019-02-10 16:58] tech4GT commented on #755
For some reason it is loading a landing page though?
<img width="640" alt="screen shot 2019-02-10 at 9 45 48 pm" src="https://user-images.githubusercontent.com/25617855/52536632-1c48a780-2d83-11e9-9a78-ec63994aadb3.png">

[2019-02-10 16:59] jywarren commented on #755
I just changed it to return "out" instead of {data:out} to see.

On Sun, Feb 10, 2019, 11:57 AM Varun Gupta <notifications@github.com wrote:

[2019-02-10 17:00] tech4GT commented on #755
Oh, I already fixed it to redirect, we can do a res.redirect(out) to redirect to the image

[2019-02-10 17:01] jywarren commented on #755
Yeah there might be a limitation on redirecting... Maybe we can somehow
override it by returning an HTML page with a built in redirect or
something... Anyways it's just for convenience. Many programs will want the
Json response.

On Sun, Feb 10, 2019, 11:59 AM Jeffrey Warren <jeff@unterbahn.com wrote:

[2019-02-10 17:02] tech4GT commented on #755
Yeah, I'll figure out the redirect right now! But this looks promising!!
So what are our next steps?
I mean should I jump to core optimizations now?

[2019-02-10 17:06] tech4GT commented on #755
@jywarren I updated it!

[2019-02-10 17:07] jywarren commented on #755
Yes perhaps so! Let's start benchmarking too. Can we actually build in a
"execution time" attribute to the Json response so we can benchmark more
easily? You can make a copy of the gc function pointed at a branch of IS on
your GitHub repo, and keep running it as you push commits. And annotate
runtimes in a PR so we can track progress empirically, how does that sound?

On Sun, Feb 10, 2019, 12:02 P

[2019-02-10 17:10] tech4GT commented on #755
@jywarren redirect is now working, you can try it out at the previous url! :tada:
Also, can you explain this process to me in a little more detail?
I think we can send the execution time as a part of json response from the cloud function but how do I make the copy of gc function run on the github repo?

[2019-02-10 17:28] jywarren commented on #755
It looks like we can point the script at a cloud repository instead of
entering a string:

https://cloud.google.com/source-repositories/

On Sun, Feb 10, 2019, 12:11 PM Varun Gupta <notifications@github.com wrote:

[2019-02-10 17:29] tech4GT commented on #755
Okay so do we make a new repository for this, or should I add this script to is-app?

[2019-02-10 17:30] tech4GT commented on #755
And as new code is pushed into image-sequencer we need to invoke the cloud function, correct? And where do we store the performance results?

[2019-02-10 17:31] jywarren commented on #755
Not sure, maybe -app for now?

On Sun, Feb 10, 2019, 12:29 PM Varun Gupta <notifications@github.com wrote:

[2019-02-10 17:32] tech4GT commented on #755
Okay, will do that right now!

[2019-02-10 17:33] tech4GT commented on #755
I'll also add the performance to response!
But maybe you can help with annotating runtimes?

[2019-02-10 17:41] jywarren commented on #755
We can just track speeds in PR comments as improvements are made. Actually
I guess maybe you want to link it to your remote is branch directly? So you
can test the optimizations as directly as possible?

On Sun, Feb 10, 2019, 12:34 PM Varun Gupta <notifications@github.com wrote:

[2019-02-10 17:47] tech4GT commented on #755
@jywarren I don't have permission to create repository for the project :sweat_smile:

[2019-02-10 17:48] tech4GT commented on #755
SO is this done using some sort of bot which runs the function and comments the runtime in the pr?
Sorry if I am asking stupid questions, I don't really have a lot of experience in this area :sweat_smile:

[2019-02-10 17:50] HarshKhandeparkar commented on #755
@tech4GT I think he meant we could give progress reports in the comments. 😅

[2019-02-10 17:51] tech4GT commented on #755
Do you mean do it manually?

[2019-02-10 17:52] jywarren commented on #755
Well, honestly we can just do optimization testing locally. Let's do that
for now.

Eventually we will also have to look at webgl emulation for image
distortion too... if thats interesting too, go ahead!

On Sun, Feb 10, 2019, 12:47 PM Varun Gupta <notifications@github.com wrote:

[2019-02-10 17:52] jywarren commented on #755
https://github.com/publiclab/image-sequencer/issues/216

[2019-02-10 17:53] jywarren commented on #755
I just mean we should keep an empirical log of runtime so we can track progress quantitatively... However you want to do it!

[2019-02-10 17:53] tech4GT commented on #755
Oh, Got it!!

[2019-02-10 17:55] tech4GT commented on #755
Also can you please grant me the permission to create cloud repositories on public-lab project, I'll link the is-app to it then, so that we can get the cloud function from there.
Also what track should we follow now? As in should I now dive into optimizations? Or we are thinking of deploying to app-engine??

[2019-02-10 17:57] jywarren commented on #755
Let's do optimization and webgl now. I think we should demonstrate the whole intended workflow and then look at the serverless options later. This already works!

[2019-02-10 17:59] tech4GT commented on #755
Okay awesome! I'll dive into that from tomorrow! (it's pretty late here lol)

[2019-02-10 18:01] jywarren commented on #755
Go rest! Great work!

On Sun, Feb 10, 2019, 1:00 PM Varun Gupta <notifications@github.com wrote:

[2019-02-10 18:05] HarshKhandeparkar commented on #431
@jywarren @publiclab/is-reviewers https://www.npmjs.com/package/canvas

[2019-02-10 18:10] aashna27 commented on #431
Great, this one adds text to image. Cool, i ll go ahead with this one, or maybe try with just canvas.

[2019-02-10 18:10] aashna27 commented on #431
Thanks @HarshKhandeparkar ☺️

[2019-02-10 18:13] VibhorCodecianGupta commented on #431
@aashna27 I found a pretty cool implementation of text overlay of gimp and I was working on, I might be able to convert it. Can you give me a day or two? If I'm able to, I'll need some help with it as well. Otherwise you can go ahead with the canvas approach, and expect all the help from me :)

[2019-02-10 18:16] aashna27 commented on #431
Yeahh suree ☺️

On Sun, Feb 10, 2019, 11:43 PM Vibhor Gupta <notifications@github.com wrote:

[2019-02-10 18:21] HarshKhandeparkar commented on #431
@VibhorCodecianGupta what lang is GIMP written in? Also can you please provide a link to the code?

[2019-02-11 10:48] IgorWilbert opened #760 "Add Drag-and-Drop for steps reordering"
### Please describe the problem (or idea)
I have not found any open issue covering this. It would be interesting if, with the modules collapsed, one could drag and drop the modules to change the sequence order, instead of having to discart modules and create others for reordering.
![issue](https://user-images.githubusercontent.com/42987854/52558469-9c016100-2dd9-11e9-8943-11bad92da4ce.JPG)

****

[2019-02-11 10:50] IgorWilbert commented on #760
@jywarren @Divy123 any thoughts on how to do this? If it is not too complicated, I'd like to work on it. Thanks!

[2019-02-11 12:45] Divy123 commented on #760
This is actually nice but can be a big implementation .
You may work on it but it may take a long time as it is not so easy .
Lets see what @jywarren says.

[2019-02-11 13:40] HarshKhandeparkar commented on #760
@IgorWilbert maybe for testing you can try up and down arrows? Later on you can use some library(maybe popper.js) for drag animation. But let's wait to hear @jywarren' s thoughts

[2019-02-11 13:45] HarshKhandeparkar commented on #760
A few libs if you want:
- [draggable](https://shopify.github.io/draggable/) by shopify
- [sortableJS](https://www.cssscript.com/lightweight-js-sorting-library-with-native-html5-drag-and-drop-sortable/)
- [magnetJS](https://www.cssscript.com/drag-drop-snap-place-magnet-js/)
-

[2019-02-11 14:08] Divy123 commented on #760
@HarshKhandeparkar the problem is not of handling the UI, it's more of the inner details like running the sequencer again updating the steps array.

@IgorWilbert I am working on a getSteps() function which can make your work much easier.
You can explore the codebase till then for your issue and meanwhile I will implement the getSteps function which will make it easier to implement.

[2019-02-11 14:10] Divy123 commented on #760
Also I can tell you the steps that can be followed to get this done if you want in the current code-base as well.

[2019-02-11 16:09] HarshKhandeparkar commented on #760
@Divy123 those were just some helpful js libs (if needed).
I don't think the sequencer part will be very difficult since we can already insert and delete steps. We can first delete the step that is being dragged and insert a new identical step wherever it is being dragged. I don't think getSteps will be necessary.(not sure though)

Actually I think the UI will be the more difficult since we need t

[2019-02-11 16:11] HarshKhandeparkar commented on #760
@jywarren

[2019-02-11 17:13] Divy123 commented on #760
Well I thought of a different way to do so, using url but this one is also nice way.
Also @IgorWilbert we are always ready for your help.
Suggestions by @HarshKhandeparkar are good to go but before that I suggest you to go through these files:
[https://github.com/publiclab/image-sequencer/blob/main/examples/index.html](url)
[https://github.com/publiclab/image-sequencer/blob/main/examples/demo.js](

[2019-02-11 17:19] HarshKhandeparkar commented on #760
@Divy123 the file links do not work for me. Maybe try using `[text](link)` MD syntax?

[2019-02-11 18:00] Divy123 commented on #760
Ome problem .Fixing it!!

[2019-02-11 18:13] ananyaarun commented on #726
May i work on this issue , if it is still valid ? @jywarren

[2019-02-11 20:15] gauravano commented on #726
Hi @ananyaarun, actually the PR #735 is solved but the branch `gh-pages` still needs to be updated with the commit so let's wait for the push to the branch to see if this issue is solved or not. I guess @IgorWilbert can confirm too? Thanks!

[2019-02-12 00:11] jywarren opened #761 "Add a means of disabling cache in development mode, cache docs"
I've continued having some issues with the cache, but it's hard to tell if I am seeing correct behaviors. I'd like to propose a few things, first that of the title - a way to disable the cache if it's running locally in development, to speed up local development.

(could relate to #544, #605)

Next (we can break out a new issue for this), I'd like to add more documentation about the cache, such as

[2019-02-12 00:12] jywarren commented on #761
@publiclab/is-reviewers what do you think of this? Any input on the cache in general? Thank you!!!

[2019-02-12 00:19] #228 closed

[2019-02-12 00:28] jywarren commented on #315
To make creating these new meta-modules easier, we may be able to create a generator for these, which is to say, a way to automate the creation of opaque meta modules given:

1. a JSON object or string of steps
2. a function which maps the outer module options to the options objects of the internal steps (or falling back to the defaults if mapping is not provided)
3. a set of overriding defaults f

[2019-02-12 01:12] IgorWilbert commented on #760
Thank you for the support @Divy123 and @HarshKhandeparkar , this is awesome! I will investigate the current code base, thinking especially about how to solve the UI problems, then depending on our timing, your work with the getSteps() function will be very useful, thank you for the suggestion! :)

[2019-02-12 04:01] tech4GT commented on #216
Okay I brainstormed this a lot and I came up with 2-3 solutions
1. We can run a headless browser like `puppeteer` and run this module in it's context, then get the result using the callback.
2. We can try to use `jsdom` in conjunction with `gl` and make a global `document` object that can get a web-gl context. I have been trying this out but so far it looks like this would require some changes in

[2019-02-12 04:03] tech4GT commented on #216
Also there's an issue with node_version for `gl` It was compiler for node 8.15.0 latest, so If we go with this we would have to use that version

[2019-02-12 06:32] Mridul97 commented on #761
@jywarren It's a great idea. Clearing cache everytime to see changes during development slows the process.

[2019-02-12 07:58] HarshKhandeparkar commented on #760
@IgorWilbert reloading the page will be very inefficient and irritating. Any other idea?

[2019-02-12 13:23] tech4GT commented on #761
@Mridul97 @jywarren you can disable it in your devtools.

[2019-02-12 16:46] tech4GT commented on #315
@jywarren Let us first finalize the structure of the meta module itself, after that I'll integrate it into createMetaModule function! We can use a flag like options.opaque.
This way we can use all the earlier meta-module work we did, since all that will be changing is the internal structure of the meta-module but the api layer can stay as it is!! This will need minimal code change!! Super exciting

[2019-02-12 17:41] tech4GT commented on #315
So I was able to figure out 2 ways in which circular dependencies can occur
1. Dynamically loading a module, we can check for it while loading it
2. From the source code, this though rare can occur due to a programming error so let's make a test for this.

I will add to this list if I am able to think of more. Thought?
cc @publiclab/is-reviewers

[2019-02-12 19:31] Divy123 commented on #760
@IgorWilbert always happy to help! :smile:
Feel free to discuss here whatever comes to your thoughts.

[2019-02-13 17:22] Harshithpabbati commented on #698
can I work on this??

[2019-02-13 17:23] HarshKhandeparkar commented on #698
@Harshitpabbati there is an open pr fixing this. Maybe you can try fixing some other issue?

[2019-02-13 17:37] Harshithpabbati commented on #726
can i work on this issue @jywarren

[2019-02-13 18:58] jywarren commented on #760
Hi! this is complex but multiple things should make it easier -- like simpler functions such as `sequencer.getSteps()`, and we might think about using/improving `removeStep()` and `insertStep()` to achieve this in the back-end. But the UI may also present a parallel set of issues.

Still, we have both delete and add for many steps, and the drag/drop process would be like a simplified way to essent

[2019-02-13 20:23] jywarren commented on #726
Hi, all, i believe this is resolved now and will close this accordingly. Perhaps some other Image Sequencer community members would be willing to help @Harshithpabbati and @ananyaarun find a new issue to work on? Thanks all!

[2019-02-13 20:23] #726 closed

[2019-02-13 20:41] jywarren commented on #761
oh really? Can you screenshot this so it's easy to do? This'll really speed
things up!

On Tue, Feb 12, 2019 at 8:24 AM Varun Gupta <notifications@github.com>
wrote:

[2019-02-13 21:54] jywarren commented on #251
@Divy123 great!

This may also enable us to simplify the following methods:

`function removeStep(image, index) {`
`function removeSteps(image, index) {`

because we'd no longer need to specify an image. We could do that as our next step after `getSteps()`.

[2019-02-13 22:02] jywarren opened #768 "Benchmark each module during tests"
I've started a PR in https://github.com/publiclab/image-sequencer/pull/767 to show how we could benchmark all modules. But I'm running into trouble because `sequencer.modules` contains more than just modules. I believe more stuff is being added into there but am not totally sure where. It could've happened in this PR:

https://github.com/publiclab/image-sequencer/pull/294/files

I'm looking at thi

[2019-02-13 23:39] jywarren commented on #213
Reopening as I've reproduced it here! https://sequencer.publiclab.org/examples/#steps=crop{x:127|y:127|w:266|h:266}

![image](https://user-images.githubusercontent.com/24359/52751777-a3ce2a80-2fbe-11e9-9c01-60803c1d557f.png)

[2019-02-14 05:08] HarshKhandeparkar commented on #213
I've noticed that this only happens when x and y values are provided

[2019-02-14 08:03] HarshKhandeparkar commented on #176
@tech4GT @jywarren I am working on this (almost done). I'm actually going to complete the module with hysterisis. I think I have found out a pretty good way of doing that. The black background is working. Just a few more lines of code needed to complete hysterisis. Will open a pr soon 😊

[2019-02-14 14:43] Harshithpabbati commented on #389
can i work on this??

[2019-02-14 15:14] Harshithpabbati commented on #644
do i need to just add the add button in it?? I guess there is no use on adding it

[2019-02-14 15:27] Harshithpabbati commented on #499
Was this a open issue?? Can i work on it??

[2019-02-14 15:31] HarshKhandeparkar commented on #644
@Harshithpabbati the add button is to insert a new step between the image and the current first step

[2019-02-14 15:35] HarshKhandeparkar commented on #499
Go ahead @Harshithpabbati

[2019-02-14 15:52] Harshithpabbati commented on #644
oh ok. Can i work on this???

[2019-02-14 15:53] HarshKhandeparkar commented on #644
yes sure!

On Thu 14 Feb, 2019, 9:22 PM Harshith pabbati <notifications@github.com
wrote:

[2019-02-14 16:42] jywarren commented on #335
I think we could make some more footer additions, yes! What about two sections below like this:

![image](https://user-images.githubusercontent.com/24359/52802236-8a27f400-304d-11e9-8e1c-c7f8d83cf369.png)

The Questions could link to https://publiclab.org/image-sequencer. Want to try implementing this? Thanks!!!

[2019-02-14 16:52] Divy123 commented on #389
@Harshithpabbati
I have already opened a PR for this. Please look into some other issue.
Thanks, we will be happy to get your contributions.

[2019-02-14 17:08] dojutsu-user opened #773 "Discuss: workflow for managing Dist files (i.e. on a 'stable' branch)"
A new `demo` folder should be created, containg the deployment code, so that each time `dist` folder does not raises `Merge Conflict` errors.

* A `demo` folder or a separate branch can be created from where the code can be deployed. This will ensure that if any wrong code commited to `main` branch does not get deployed immediately.
* Also this will solve the problem of having `Merge Conflicts` wi

[2019-02-14 17:37] Harshithpabbati commented on #335
ok fine i will do this.

[2019-02-14 17:41] jywarren commented on #335
thank you!!!

On Thu, Feb 14, 2019 at 12:37 PM Harshith pabbati <notifications@github.com>
wrote:

[2019-02-14 17:41] Divy123 commented on #773
@dojutsu-user great thoughts.
Can you give some example where such pattern has been followed?
I would be really helpful.
Thanks for your help. :smile:

[2019-02-14 17:45] Divy123 commented on #753
@jywarren @tech4GT I think it can make the initial contributions by new contributors much easier.

[2019-02-14 17:48] Harshithpabbati commented on #335
should i just add the need help and improve this as you show the image??

[2019-02-14 17:50] HarshKhandeparkar commented on #335
@Harshithpabbati you can use your imagination. Add whatever you want. That image was just an example.

[2019-02-14 17:51] Harshithpabbati commented on #335
thank you @HarshKhandeparkar

[2019-02-14 18:01] HarshKhandeparkar commented on #773
@dojutsu-user there has been a lot of discussion about managing dist files. I think the decision was to create a pre-commit hook to ensure that nothing wrong is committed.

#611

[2019-02-14 18:08] dojutsu-user commented on #773
@Divy123
Yes.
1. You can see a similar pattern in this repo: https://github.com/mozilla/kuma. If you see the list of branches there (https://github.com/mozilla/kuma/branches), a separate branch `prod-push` is used for the deployment purposes.
2. Also, you see a similar pattern in `Read the Docs` as mentioned in their docs: https://docs.readthedocs.io/en/stable/faq.html#what-commit-of-read-the-docs

[2019-02-14 18:11] HarshKhandeparkar commented on #773
@dojutsu-user your idea of separate branches is pretty cool. I had suggested doing that before but @jywarren said that cloning the repo and having the code ready is much better than building it manually or pulling from somewhere else. What do you think?

[2019-02-14 18:16] dojutsu-user commented on #773
@HarshKhandeparkar
Contributors need not to clone another branch except the `main` for the development purpose. Only the deployment will be done through another branch.

[2019-02-14 18:19] HarshKhandeparkar commented on #773
@dojutsu-user that is not what @jywarren meant(i think). What he meant was that adding dist to gitignore would create problem. Since the code version is not bumped very often, the code is not linked on github releases. jywarren wants the users yo be able to clone/zip the repo and have the latest dist readily available.

[2019-02-14 18:23] dojutsu-user commented on #773
@HarshKhandeparkar Let's see his thoughts on this.

[2019-02-14 18:24] HarshKhandeparkar commented on #773
Sure 😊

[2019-02-14 18:27] Divy123 commented on #773
Cool examples dojutsu-user.
Harsh one thing I recommend that tagging someone one time will send an email to the concerned people.
And thanks for your reviews, they mean a lot.

[2019-02-14 18:36] HarshKhandeparkar commented on #773
Divy123 sometimes people prioritize their emails by wheter they are tagged or not. If they are tagged earlier, they will receive the email even if they wre not concerned so it is a good way to sort/prioritize. Thanks.

[2019-02-14 18:39] Divy123 commented on #773
I understand your thoughts and respect your ways .
But mentioning

[2019-02-14 18:41] Divy123 commented on #773
Sorry closed by mistake.

[2019-02-14 18:44] dojutsu-user opened #774 "Add code coverage"
1. Code coverage might be good addition to show the percentage of code tested.
2. A `codecov` badge can be added to the `README`.

https://codecov.io/ can be used for this.

[2019-02-14 18:53] Divy123 commented on #774
I think this can be great to implement.
This can help us a lot to write tests and and know our code coverage.
@jywarren thoughts?
If okay, I would love to implement this one.
Thanks @dojutsu-user for opening this issue.

[2019-02-14 19:07] jywarren commented on #774
this would be fantastic, would you be interested in opening a PR for this?

On Thu, Feb 14, 2019 at 1:44 PM Vaibhav Gupta <notifications@github.com>
wrote:

[2019-02-14 19:08] Divy123 commented on #774
Sure I will be opening a PR soon..

[2019-02-14 20:15] jywarren commented on #773
Hi, all, there are a few different threads here, and I do want to bring the discussion back to #601 where we talk about how to manage dist files. One suggestion there was to not ask for dist files on each commit, and to just generate them periodically. If we want to /also/ have a discussion about an alternative branch, the plots2 project (https://github.com/publiclab/plots2/) uses a `stable` branc

[2019-02-14 20:15] jywarren commented on #773
And -- thank you!!!!!

[2019-02-14 20:24] Divy123 commented on #773
That would be great to have a stable branch to deploy and I think that could make the maintenance work divided and cleaner.
Thanks.
I think we can implement it right away.
I would like to help in this.

[2019-02-15 09:23] dojutsu-user commented on #773
@jywarren
Aren't the problem of `dist` files and `stable` branch related?
Making a `stable` branch will resolve the problem of `dist` folder and then `dist` folder can be added to `.gitignore`.

[2019-02-16 05:31] tech4GT commented on #761
https://stackoverflow.com/questions/5690269/disabling-chrome-cache-for-website-development

[2019-02-16 11:24] jywarren opened #780 "Display Travis output in PRs with dangerbot"
I think we could set this up to output the new module benchmark output, maybe even the dataurl output of a sample image as passed through each module?

https://danger.systems/js/

We could hide longer output in a `<details>` element which would be collapsed but expandable:

[code]

This would be pretty cool!

[2019-02-16 13:09] Harshithpabbati commented on #499
![resize](https://user-images.githubusercontent.com/43822585/52900275-e93a6400-3219-11e9-9f77-dfac1eb30651.png)
@HarshKhandeparkar I am almost done with it.But i cant get the image on the resize module.Can you help me out??

[2019-02-16 13:20] HarshKhandeparkar commented on #499
@Hashithpabbati you will have to use some fontawesome icon. Choose an appropriate icon from [here](https://fontawesome.com/v4.7.0/icons/)

[2019-02-16 13:22] HarshKhandeparkar commented on #499
Oh wait, the image you provided didn't load for me. Sorry, I though you were asking something else. Can you please open a pr or give me a link to your branch? Btw you have to change the `examples/lib/intermediateHtmlStepUi.js` file too. @Harshithpabbati

[2019-02-16 13:24] Harshithpabbati commented on #499
Yeah i made the change in the intermediateHtmlStepUi.js

[2019-02-16 13:25] HarshKhandeparkar commented on #499
Are you going to open a PR? Or atleast provide me a link to the branch so that I can help you in troubleshooting.

[2019-02-16 13:26] Harshithpabbati commented on #499
fine i will open the pr jst wait a min

[2019-02-16 16:10] jywarren commented on #768
Solved by @tech4gt in #781!!! 🙌🏽

[2019-02-16 16:10] #768 closed

[2019-02-16 16:18] jywarren commented on #472
Also linking to #763!

[2019-02-16 16:26] jywarren commented on #299
Added some insights in an update above; this'll depend on #216 -- I think we should try to make a minimal module first based on webgl-distort, which wouldn't need to try to integrate the whole Leaflet codebase. Make sense?

[2019-02-16 16:28] jywarren commented on #299
We'll need to refactor webgl-distort to not interact with the HTML DOM, so restructuring it to work with an Image object instead of an image element, in this line:

https://github.com/jywarren/webgl-distort/blob/3e0f5a2c0bf5a7f7d00dec6b8e1f960f40cf4e06/dist/webgl-distort.js#L41

We should be able to support the original usage too, but make a new core module that can be used within image-sequencer.

[2019-02-16 17:03] #315 closed

[2019-02-16 20:40] Divy123 commented on #251
@tech4GT I have a question here:
Do we have this implementation of removeSteps()
[code]
currently implemented?

[2019-02-17 00:51] Divy123 commented on #216
@tech4GT @jywarren I have done some research and here are some points on this:
First of all the `gl` produces the canvas element that does not have `texImage2D` function method on it .
So that's a drawback I think.
Also @jywarren  can you please explain how can https://github.com/Overv/JSGL be useful here.
While researching for `fisheyeGl` module I went through but there seemed no good resources t

[2019-02-17 05:54] Harshithpabbati commented on #391
Is this closed??
Can I work on this??

[2019-02-17 06:01] HarshKhandeparkar commented on #391
@Harshithpabbati do you think this button will be helpful? Currently clicking the image downloads it so adding a new button will be kind of redundant.

Another way would be to remove the image click to download functionality

What would you like to do? Do you have any other ideas?

[2019-02-17 06:04] Harshithpabbati commented on #391
@HarshKhandeparkar It's better to have a download button because everyone don't know that they can download it by clicking on the image..What would you say??

[2019-02-17 07:38] HarshKhandeparkar commented on #391
Go ahead.

[2019-02-17 09:37] Harshithpabbati commented on #391
Where do I add the download button??

[2019-02-17 09:38] Harshithpabbati commented on #391
![adddownload](https://user-images.githubusercontent.com/43822585/52911140-d2e9e200-32c5-11e9-8c27-2a1c027d53e6.png)
Is this ok if I add it here

[2019-02-17 09:47] HarshKhandeparkar commented on #391
@Harshithpabbati you have to add the button for each step. In the examples/lib/defaultHtmltStepUi.js file linked above in the issue body.

[2019-02-17 09:49] Harshithpabbati commented on #391
Even now it changes for each step. It gets the image with most recent change

[2019-02-17 09:55] HarshKhandeparkar commented on #391
That's already available in the download as PNG box. This button should be added next to the remove step and add buttons

[2019-02-17 09:57] Harshithpabbati commented on #391
oh ok sure i will make the change.

[2019-02-17 10:14] Harshithpabbati commented on #391
![download](https://user-images.githubusercontent.com/43822585/52911514-da5fba00-32ca-11e9-971e-e9b0ad3abd26.png)
Is this the thing which you want??

[2019-02-17 10:16] HarshKhandeparkar commented on #391
Yes. Looks cool! Please open a PR. We can do the further discussion there

[2019-02-17 10:18] Harshithpabbati commented on #391
i didn't made the function.I jst placed it there

[2019-02-17 10:18] Harshithpabbati commented on #391
I mean the download button will not work..

[2019-02-17 10:19] HarshKhandeparkar commented on #391
Np open a PR.

On Sun 17 Feb, 2019, 3:48 PM Harshith pabbati <notifications@github.com
wrote:

[2019-02-17 10:37] Divy123 commented on #391
As for the `Save Sequence` feature, it encodes the complete sequence and stores it in the browser's localstorage(in a json file in cli), this will then pop up in the dropdown menu of modules, do you get it?

This discussion has already taken place and I think @Harshithpabbati should wait for the response of @tech4GT  to proceed further.
We don't want any of your work to get wasted so I request you

[2019-02-17 11:02] HarshKhandeparkar commented on #391
@Divy123 that discussion is very old. Many changes have taken place since that. The four save buttons have been merged into one. Instead of clicking the image, clicking a button can be better as ot is more obvious. Also the image click can be used for a different thing like getting a larger preview. What do you think?

[2019-02-17 11:08] Divy123 commented on #391
@HarshKhandeparkar your suggestions are good enough, but following with the discussion and I think we should wait for Varun's opinion here.

[2019-02-17 11:23] HarshKhandeparkar commented on #391
Ok then. As you say 😊

[2019-02-17 11:41] HarshKhandeparkar commented on #391
@jywarren @tech4GT we would like to hear your opinion here.

[2019-02-17 17:21] aashna27 opened #788 "Round image corners module"
### I was thinking if it would be good to make a module wherein we round the corners of an image.Would like some opinions and suggestions before working on it.

### Please show us where to look

http://sequencer.publiclab.org...

## Thank you!

[2019-02-17 17:29] HarshKhandeparkar commented on #788
@aashna27 this is a coop idea. I also had the same idea in mind but instead of opening an issue I was planning on opening a PR 😁. But then I thought that this will be pretty difficult. I think first we can create a draw circles module and then use the same algorithm( parts of it) to create this. What do you think?

[2019-02-17 17:32] HarshKhandeparkar commented on #788
The biggest problem will be that we will not be able to delete parts of the image since it is stored as an ndarray. If it was a bitmap then it would be a different case. Since the other modules also need to work on it, I think parts of the image will have to be rendered with alpha=0 instead of making the image circular. This is why I felt like this is a very difficult issue.

[2019-02-17 21:30] Divy123 commented on #788
Please mention the usecases of the said issue.

[2019-02-18 00:16] #499 closed

[2019-02-18 00:16] Divy123 commented on #251
@jywarren I think the major work on the issue is still pending so please reopen it .

[2019-02-18 00:18] jywarren commented on #788
Could use the masking module once that's done!

On Sun, Feb 17, 2019, 1:30 PM Slytherin <notifications@github.com wrote:

[2019-02-18 00:20] jywarren commented on #251
Shall we try to complete this before releasing 3.0.0 what do you think @tech4gt, then we can release it as a breaking change together instead of going to 4.0.0?

[2019-02-18 00:21] Divy123 commented on #216
@jywarren request your help here.

[2019-02-18 00:23] Divy123 commented on #251
I shall try to complete it as soon as possible.

[2019-02-18 00:30] jywarren commented on #216
Hmm, to @tech4gt I think it's ok to have different code in browser or node if that code split exists only inside the module context. Although we could eventually try to generalize parts to make it easier to write webgl modules.

[2019-02-18 00:33] jywarren commented on #216
For jsgl I wonder if we could use this:

https://github.com/Overv/JSGL/blob/master/README.md#glperspectivefovy-aspect-near-far

And it has texImage it looks like. It might require a rewrite of fisheyegl
though. Looks like it's OpenGL, not webgl?

Would puppeteer work? Gotta look into it.

[2019-02-18 00:36] jywarren commented on #216
https://stackoverflow.com/questions/50051250/taking-a-screenshot-of-a-page-running-webgl-using-puppeteer

On Sun, Feb 17, 2019, 4:33 PM Jeffrey Warren <jeff@unterbahn.com wrote:

[2019-02-18 00:36] jywarren commented on #216
Although we could likely generate a dataurl from puppeteer instead of
screenshot

On Sun, Feb 17, 2019, 4:36 PM Jeffrey Warren <jeff@unterbahn.com wrote:

[2019-02-18 00:37] jywarren commented on #216
It sounds reasonable, and we could try to improve on the loadtime later?

On Sun, Feb 17, 2019, 4:36 PM Jeffrey Warren <jeff@unterbahn.com wrote:

[2019-02-18 00:37] jywarren commented on #216
https://github.com/GoogleChrome/puppeteer/issues/1260

On Sun, Feb 17, 2019, 4:36 PM Jeffrey Warren <jeff@unterbahn.com wrote:

[2019-02-18 00:38] Divy123 commented on #216
Sure @jywarren .
Would look into it.

[2019-02-18 00:40] Divy123 commented on #216
In that case it can't be.

[2019-02-18 00:42] sashadev-sky commented on #788
@aashna27 thats a cool idea! I haven't worked enough with image sequencer to know if these additional ideas would be relevant but I use rounded images a lot with a sort of "img card" effect that looks like: (would typically have text over it but its taking very long time to load)
<img width="489" alt="screen shot 2019-02-17 at 7 37 32 pm" src="https://user-images.githubusercontent.com/41092741/529

[2019-02-18 01:14] jywarren commented on #216
Ah but see here:
https://github.com/GoogleChrome/puppeteer/issues/1260#issuecomment-348878456

On Sun, Feb 17, 2019, 4:40 PM Slytherin <notifications@github.com wrote:

[2019-02-18 01:17] Divy123 commented on #216
What say on this?

[2019-02-18 01:20] jywarren commented on #216
Hmm, do they say why?

On Sun, Feb 17, 2019, 5:18 PM Slytherin <notifications@github.com wrote:

[2019-02-18 01:21] jywarren commented on #216
I think potentially we just have to start trying things and see what we can
get to work.

On Sun, Feb 17, 2019, 5:20 PM Jeffrey Warren <jeff@unterbahn.com wrote:

[2019-02-18 01:23] Divy123 commented on #216
Sure @jywarren.
I think that's the only way to work around right now.

[2019-02-18 04:44] VibhorCodecianGupta commented on #788
@aashna27 if you're doing this, you can accept a circle radius as a parameter from the user end to determine to what extent the corners shall be rounded.

[2019-02-18 07:28] VibhorCodecianGupta commented on #714
fixed in #720

[2019-02-18 07:28] #714 closed

[2019-02-18 07:36] Harshithpabbati opened #789 "Improving the save as button in smaller screens."
### Dropdown of the save as png option is not good in smaller screens.

![screenshot from 2019-02-18 12-58-07](https://user-images.githubusercontent.com/43822585/52934704-48fd5000-337d-11e9-96a0-07e85a497585.png)

It looks like this  in smaller screens.

### Where to look.

http://sequencer.publiclab.org

### What's your PublicLab.org username?
harshithpabbati

****

## Thank you!

Your help makes

[2019-02-18 08:39] VibhorCodecianGupta commented on #740
@jywarren #791 adds ui test script to travis, and configures code coverage as well.

[2019-02-18 09:06] VibhorCodecianGupta commented on #780
Working on it

[2019-02-18 09:07] Harshithpabbati commented on #644
I am almost done with I had a small problem as the add button is not disabled at the load-image
![insert](https://user-images.githubusercontent.com/43822585/52939626-ac41af00-338a-11e9-967f-30331a2fe348.png)

[2019-02-18 09:07] Harshithpabbati commented on #644
Can anyone help me out

[2019-02-18 09:42] Harshithpabbati commented on #656
Can I be the part of the reviewers team.
https://github.com/publiclab/image-sequencer/pull/782
https://github.com/publiclab/community-toolbox/pull/140
These are my merged pr's

[2019-02-18 09:49] gauravano commented on #656
You need to have one more merged PR, review one PR to completion and open an FTO in this repo.

[2019-02-18 11:09] IgorWilbert opened #793 "Make "Clear Offline Cache" button"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-02-18 12:25] Harshithpabbati commented on #793
Can I work on this??

[2019-02-18 12:34] Harshithpabbati commented on #793
![screenshot from 2019-02-18 18-03-19](https://user-images.githubusercontent.com/43822585/52951368-a0181a80-33a7-11e9-8f04-3cbaf30a3017.png)
Done with it.

[2019-02-18 12:43] Harshithpabbati commented on #789
Can some one add this as the first timers issue..

[2019-02-19 00:05] IgorWilbert commented on #793
Good job @Harshithpabbati , thanks!

[2019-02-19 05:14] #692 closed

[2019-02-19 10:46] tech4GT commented on #251
I don't think this is going to be a breaking change though...

[2019-02-19 16:21] tech4GT commented on #216
@jywarren Are we open to modifying your fisheye-gl coed then? I can make the changes and put in a pr.

[2019-02-19 16:23] Divy123 commented on #216
@tech4GT is there I can help out with?

[2019-02-19 16:24] tech4GT commented on #216
@Divy123 Sure! Once we finalize what path we want to follow here, I'll do some groundwork and then you can help me build on it :smile:

[2019-02-19 16:43] Divy123 commented on #216
Sure thanks!

[2019-02-19 21:54] jywarren opened #796 "Add click to choose pixel xy as an input type"
After #541 added a great paint bucket module, I'd love to be able to click to choose where to drop the paint. We could make this a general purpose input because other modules may need this too:

![screenshot_20190219-120500](https://user-images.githubusercontent.com/24359/53050259-c55f6400-344d-11e9-8fe7-178d43812218.png)

[2019-02-19 21:57] jywarren opened #797 "Tolerance in paint bucket -tweak"
It looks like the tolerance in the paint bucket needs to be able to go higher... Is it possible that it's supposed to be a 0-255 range and we should map 0-100 to 0-255 so that full tolerance should fill the whole image?

![screenshot_20190219-120500](https://user-images.githubusercontent.com/24359/53050468-3b63cb00-344e-11e9-8230-e27f17747fc3.png)

[2019-02-19 22:10] VibhorCodecianGupta commented on #797
This would need some research. I'll see how this is implemented and get back here!

[2019-02-19 22:13] VibhorCodecianGupta commented on #796
This would require some research. Perhaps adding an interactive layer over the image and passing the coordinates to the logic. Will look into it.

[2019-02-20 01:25] jywarren commented on #797
awesome! I was also thinking we might want to have a checkbox for the
option of "continuous" - that is, when it's unchecked, it fills all areas
with the color you've started filling on (this could be done iteratively).
If checked, it only works on neighboring pixels.

On Tue, Feb 19, 2019 at 2:11 PM Vibhor Gupta <notifications@github.com>
wrote:

[2019-02-20 01:25] jywarren commented on #796
i think we could add a click listener to the image and temporarily override
the "download" behavior.

On Tue, Feb 19, 2019 at 2:13 PM Vibhor Gupta <notifications@github.com>
wrote:

[2019-02-20 05:00] icarito commented on #755
I had missed this, very cool indeed!

[2019-02-20 09:27] aashna27 commented on #788
Thanks a lot for your inputs, I request some time before I can come up with anything , really glad with the response and your suggestions . Thank you ❤️

[2019-02-20 15:10] Harshithpabbati commented on #718
Does anyone working on it??? I am really interested in taking it to work. Can I ??

[2019-02-20 15:34] Harshithpabbati opened #798 "Problem with the rotate module."
### When we set the angle of rotation to 0 degrees.Though it rotates 90 degrees
![rotate](https://user-images.githubusercontent.com/43822585/53103151-10af6a80-3553-11e9-9791-10ff039991c3.png)
Problem with rotate module.

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increas

[2019-02-20 15:53] Harshithpabbati opened #799 "Adding a reset feature."
### Making a reset button.Which makes it to reset to the most recent change in the sequence
![reset](https://user-images.githubusercontent.com/43822585/53104619-b49a1580-3555-11e9-871d-735487d27cdd.png)

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they'll

[2019-02-20 16:15] Harshithpabbati opened #800 "Had a problem with crop module."
### When we open the crop module directly after the load-image and delete it.
Then the following thing is happening
![crop](https://user-images.githubusercontent.com/43822585/53106301-bfa27500-3558-11e9-935e-75d2280072c9.png)

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which i

[2019-02-20 16:27] Harshithpabbati opened #801 "Issue with saturation"
### When we open the saturation then the images are turning to a black screen.

![saturation](https://user-images.githubusercontent.com/43822585/53107165-7c490600-355a-11e9-80d4-2095d57805bb.png)

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they'll b

[2019-02-20 17:57] meet2410shah commented on #391
I also want to solve the issue.

[2019-02-20 18:03] Harshithpabbati commented on #391
There's a open pr here.So kindly you can search for other one
Thanks:)

[2019-02-20 18:37] #335 closed

[2019-02-20 19:08] VibhorCodecianGupta commented on #800
I can't reproduce this. #623 addressed this issue. Are you sure you rebased?

[2019-02-20 19:12] VibhorCodecianGupta commented on #801
Again, I can't reproduce this. Looks like in the screenshot a previous implementation of contrast is being served. Try clearing your cache and try again. The module loads with a 70 parameter by default with the range from 0-100.

[2019-02-20 20:41] aashna27 commented on #801
I have refereced the pr that was open to this issue . Thanks 👍

[2019-02-20 22:33] aashna27 commented on #798
thanks for this issue, awesome !! 😄

[2019-02-20 23:25] jywarren commented on #788
Whatever you do, you could use the new MetaModules system to join a set of
modules to accomplish your goal!

On Wed, Feb 20, 2019 at 1:27 AM aashna27 <notifications@github.com> wrote:

[2019-02-20 23:28] jywarren commented on #216
Absolutely we can do work upstream!

Noting also that I'm really not sure what happens when you run WebGL code
in Node environment on a server that has no GPU...?? But I'm asking someone
at Google!

On Tue, Feb 19, 2019 at 8:44 AM Slytherin <notifications@github.com> wrote:

[2019-02-20 23:33] aashna27 commented on #800
the error does exist, I ll see if I can fix it

[2019-02-20 23:38] jywarren commented on #251
I think it is, though - for example, `InsertStep(ref, image, index, name, o)` will change, and many others, no? I think it's OK to wait a bit on the new release and roll these both into one. This will be great!!!!

[2019-02-20 23:52] aashna27 commented on #788
Yeahh, got it 😀Thanks a lot!

[2019-02-21 00:29] #800 closed

[2019-02-21 00:46] jywarren commented on #740
amazing!

On Mon, Feb 18, 2019 at 12:40 AM Vibhor Gupta <notifications@github.com>
wrote:

[2019-02-21 00:47] jywarren commented on #780
This'll be really cool! We might have to output the benchmarks into a file, too, to make this work, though.

[2019-02-21 01:01] #789 closed

[2019-02-21 01:16] Harshithpabbati commented on #656
Hello
I am done with 2 merges
Created few issues
Helped one to solve the issue
Now can I be the part of reviewers team:)

[2019-02-21 11:24] Harshithpabbati commented on #656
@gauravano can you check it out now!!

[2019-02-21 11:37] gauravano commented on #656
Please paste the links. Thanks!

[2019-02-21 12:03] Harshithpabbati commented on #656
@gauravano
My pr's
https://github.com/publiclab/image-sequencer/pull/776
https://github.com/publiclab/image-sequencer/pull/782
Issues which I made:
https://github.com/publiclab/image-sequencer/issues/801
https://github.com/publiclab/image-sequencer/issues/800
https://github.com/publiclab/image-sequencer/issues/799
https://github.com/publiclab/image-sequencer/issues/798
https://github.com/publiclab

[2019-02-21 13:10] gauravano commented on #799
@publiclab/is-reviewers what do you think about this idea?

[2019-02-21 13:44] HarshKhandeparkar commented on #656
Harshith, are you well acquainted with the codebase? Will you be able to help other contributors if needed?

[2019-02-21 14:28] HarshKhandeparkar commented on #799
@Harshithpabbati can you please elaborate on this?

[2019-02-21 14:33] HarshKhandeparkar commented on #718
Harshith this is an advanced issue. Also please not that this is a long term one which means that it is not our main priority as of now. If you are ok with it then you can start brainstorming rather than opening a straight PR. Thanks!

[2019-02-21 14:58] Harshithpabbati commented on #718
@HarshKhandeparkar yeah sure. I made a similar app where we can chat with other one who comes to the same room.So i was really interested in making it out .
Thanks

[2019-02-21 15:01] Harshithpabbati commented on #799
If we made a change which we don't want in that sequence and want to do it again then we have to delete the step and start doing it again.But by adding this feature we can reset it in the step so that it will be very convenient for everyone to use this.
Thanks.

[2019-02-21 15:02] HarshKhandeparkar commented on #718
Go ahead

On Thu 21 Feb, 2019, 8:28 PM Harshith pabbati <notifications@github.com
wrote:

[2019-02-21 15:03] lohitha02 commented on #719
Hello, Can I work on this issue?

[2019-02-21 15:04] Harshithpabbati commented on #718
shall i work on it or else wait for sometime??

[2019-02-21 15:05] HarshKhandeparkar commented on #719
Go ahead!

[2019-02-21 15:07] niravasher opened #804 "Circular crop feature and select crop feature"
### Please describe the problem (or idea)

An image could be cropped in a circular shape and get downloaded as an icon

Give an option to the user to choose the radius

### Please show us where to look

http://sequencer.publiclab.org...
http://sequencer.publiclab.org/examples/#steps=

### What's your PublicLab.org username?
niravasher

### Browser, version, and operating system
windows 10 with ubu

[2019-02-21 15:10] HarshKhandeparkar commented on #719
Please note that I have added two new modules to the list above. Thanks!

[2019-02-21 15:11] HarshKhandeparkar commented on #718
@jywarren @publiclab/is-reviewers what are your thoughts?

[2019-02-21 15:12] HarshKhandeparkar commented on #799
Do you mean like an undo?

[2019-02-21 15:12] niravasher opened #805 "Select crop feature"
### Please describe the problem (or idea)

What if I want to start cropping at a random location and want to finish at a random location?

### Please show us where to look
http://sequencer.publiclab.org/examples/#steps=

### What's your PublicLab.org username?
niravasher

### Browser, version, and operating system
windows 10 with ubuntu subsystem

****

## Thank you!

Your help makes Public Lab be

[2019-02-21 15:14] HarshKhandeparkar commented on #805
Welcome to the community! Could you please elaborate on this issue?

[2019-02-21 15:15] Harshithpabbati commented on #799
Yeah exactly!!

[2019-02-21 15:17] HarshKhandeparkar commented on #799
IS already has the ability to add/remove steps or insert steps or do whatever you want really. Any value in between the sequence can be tweaked(which is why it has got its name). What kind of undo do you mean specifically?

[2019-02-21 15:24] Harshithpabbati commented on #799
See if i want to make a some saturation of some extent and i made a wrong thing.Then i need to delete the step and start making the step so instead of it if I have the reset button it will be easy to solve it

[2019-02-21 15:26] niravasher commented on #805
I want to crop and have a small portion of the image and I don't exactly know the xy coordinates of that rectangle, hence there should some functionality to press the mouse and drag it till you reach the point where you want to stop and that portion gets selected and its start and stop coordinates are displayed automatically on the left

[2019-02-21 15:28] HarshKhandeparkar commented on #799
Harshith you don't have to delete the step, all you have to do is tweak the values and press the apply button and all the succeeding steps will also change. If you want to change a step, you can delete it and insert a different step there. Is there something else which is not achievable by doing this? Or am I saying something wrong?

[2019-02-21 15:29] HarshKhandeparkar commented on #805
Oh cool but I think there is an already open issue addressing this. Please make sure that this is not a duplicate. Thanks!

[2019-02-21 15:31] niravasher commented on #805
Could you please reference it here @HarshKhandeparkar ??

[2019-02-21 15:31] HarshKhandeparkar commented on #805
Ok I'll check.

[2019-02-21 15:34] HarshKhandeparkar commented on #805
I think #796 is very similar to this. After that has been implemented, a user can select two pixels by clicking. Both issues are very similar but they mention different modules. Can they be merged into one general issue somehow which will improve the UX?

[2019-02-21 15:37] Harshithpabbati commented on #799
Yeah I mean the same we need to delete and make the other step instead of it.It will be convenient to have a reset button according to me.Lets have some others review
@publiclab/is-reviewers what do you say about it??

[2019-02-21 15:40] niravasher commented on #805
Yes, both of them are quite similar

[2019-02-21 15:40] #805 closed

[2019-02-21 15:42] HarshKhandeparkar commented on #799
What I meant to say is that you don't have to delete a step if you want to tweak values. You only have to delete a step if if you want to change the core step like change a crop step to saturation. Instead a good idea would be to add a replaceStep functionality(if it doesn't exist already). What do you say?

[2019-02-21 15:42] niravasher commented on #796
@VibhorCodecianGupta are you still working on this? I would like to take this issue

[2019-02-21 15:42] HarshKhandeparkar commented on #805
Sorry you had to face some trouble. Would you like to try solving one of the currently open issues?

[2019-02-21 15:51] niravasher commented on #788
If you are working on round image corners, can I work on adding a shadow to the image? There will be an option to set a shadow in all the four direction (up right, up left, down right and down left) @aashna27 @VibhorCodecianGupta ??

[2019-02-21 16:21] lohitha02 commented on #719
So I have to add the links to all the six modules that you've mentioned above right?

[2019-02-21 16:25] HarshKhandeparkar commented on #719
Yes. You don't just have to add links. You also have to document the modules which is the main purpose of this issue.

[2019-02-21 16:33] jywarren commented on #788
Hi Nirav, thinking on this, I think we should open a new issue to discuss a
shadow module. We'll have to consider images with transparent backgrounds.
I could imagine creating a black mask by turning darkness to max, then
blurring that mask. It seems we would also need to increase the image size
to make space for the shadow. Anyhow we could plot this out using the new
metamodules system and discus

[2019-02-21 16:36] HarshKhandeparkar commented on #788
@jywarren I think a cool way to do the shadow module would be (if it works) to use a metamodule. The image can be resized, a gradient can be applied (which can work as a shadow), and the original image can be overlayed on it. What do you say?

[2019-02-21 16:48] niravasher opened #806 "Adding a shadow to the image"
### Please describe the problem (or idea)

Add a shadow to the image

### Please show us where to look
http://sequencer.publiclab.org/examples/#steps=

### What's your PublicLab.org username?
niravasher

### Browser, version, and operating system
windows 10 with ubuntu subsystem
****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site

[2019-02-21 16:48] Divy123 commented on #718
This issue turned out to be more helpful in case of https://github.com/publiclab/Leaflet.DistortableImage .
So its not of much consideration here .
You may give it a try there.
Thanks.

[2019-02-21 16:51] jywarren commented on #718
Hi - I think this is a bit complex of a use case to think about, in part because it could require a server to track changes. I suggested that people interested in sockets work might look at another Public Lab project where we're more likely to tackle this sooner, as it's a higher priority.

I'd recommend looking at the "simultaneous multi-user UI, like Google docs" section of https://github.com/pu

[2019-02-21 16:51] niravasher commented on #788
Opened a new issue #806 @jywarren @HarshKhandeparkar

[2019-02-21 17:22] Harshithpabbati commented on #718
I made an web app using socket.io. I will host it in something like heroku and send you the link.See it and say what changes should i make in it .what do you say??

[2019-02-21 17:44] niravasher commented on #806
Hi, please tell how to proceed with this? @jywarren @VibhorCodecianGupta

[2019-02-21 18:01] jywarren commented on #806
Can you copy in my last comment about meta modules here? There should be
directions in the readme now for meta module creating, and I believe the
colorbar module is an example. Basically it's a module made of other
modules, and if you try out the set I mentioned, I think you can make an
initial attempt at this using a meta module!

On Thu, Feb 21, 2019, 9:45 AM Nirav Asher <notifications@github.co

[2019-02-21 18:02] #632 closed

[2019-02-21 18:17] Harshithpabbati commented on #718
Checkout this link https://afternoon-lake-15004.herokuapp.com/
Thanks

[2019-02-21 21:38] #751 closed

[2019-02-21 23:14] #801 closed

[2019-02-22 00:21] #798 closed

[2019-02-22 11:44] IgorWilbert commented on #136
Hey! I want to solve a `help-wanted` issue and this one seems to be really fun! May I take it, please?

[2019-02-22 11:47] Harshithpabbati opened #810 "Change the "improve this tool" button."
### Change the improve this tool button to primary.
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can

[2019-02-22 11:53] lohitha02 commented on #719
From where can I get the information about the above mentioned modules?

[2019-02-22 12:53] Harshithpabbati commented on #810
Can someone label it as a First Timers Issue

[2019-02-22 13:21] lohitha02 commented on #719
@HarshKhandeparkar  please review my pr I've linked all the modules that concerns the part of the module

[2019-02-22 13:41] Harshithpabbati commented on #810
@publiclab/is-reviewers

[2019-02-22 13:49] Harshithpabbati commented on #656
yeah sure i will help other contributors.

[2019-02-22 13:54] HarshKhandeparkar commented on #810
Harshith, in github MD, emojis are inserted by putting the ID between two colons `:` e.g. `:checkered_flag:`. Thanks!

[2019-02-22 14:29] lohitha02 commented on #719
@HarshKhandeparkar I've done it can you please review it and let me know if I have to make any changes.

[2019-02-22 15:07] marieram commented on #810
Can I work on this?

[2019-02-22 15:13] HarshKhandeparkar commented on #810
Go ahead 😊

[2019-02-22 18:46] Harshithpabbati commented on #718
@publiclab/is-reviewers what do you say???

[2019-02-22 19:25] niravasher commented on #806
Hello, do I need to load Image inside this module? @jywarren @HarshKhandeparkar ?How to decide in which module, image has to be loaded?

[2019-02-22 19:28] jywarren commented on #136
Yes please! Note that there are some diagramming templates and possibly
helpful starting points in these docs:

https://docs.google.com/presentation/d/1TCZoTfuhamRVrUak8aDgqJAwSgyhRtZg2Pgacl2_4zc/edit?usp=drivesdk

https://publiclab.org/notes/warren/01-27-2017/diagramming-knowledge-production-on-publiclab-org

On Fri, Feb 22, 2019, 5:44 AM igorwilbert <notifications@github.com> wrote:

[2019-02-22 19:29] #136 closed

[2019-02-23 06:46] niravasher commented on #806
Also I made a new module, kept its inBrowser flag and ui flag to true, made index.js, info.json and Module.js. Required this module in the src/Modules.js file. Is there anything else that I need to do to test that module in my local, because I can't see the shadow module in "more modules" in my browser.

[2019-02-23 06:48] HarshKhandeparkar commented on #806
Nirav can you please open a PR? We can discuss and debug it there.

[2019-02-23 12:37] niravasher commented on #806
Umm.... I am sorry, I didn't get you @HarshKhandeparkar , I can't see shadow module on my local, why should I open a PR?

[2019-02-23 12:41] gauravano commented on #656
Added you to the @publiclab/is-reviewers @Harshithpabbati :tada: Thank you!

/cc @jywarren @tech4GT

[2019-02-23 13:04] HarshKhandeparkar commented on #806
Niravasher I asked you to open a PR so that I can have a look at the code and debug any errors.

[2019-02-23 13:45] #737 closed

[2019-02-23 14:02] niravasher commented on #806
Opened a PR , https://github.com/publiclab/image-sequencer/pull/816

[2019-02-23 17:40] Divy123 commented on #251
@jywarren @tech4GT I was wondering about two possible solutions for handling multiple images now.
Planning to create a new `InitSequencer.js` that may:
1. return a `global sequencer` object to the user with the following structure:

[code]
The usage can be like this:
[code]
or we can have like this:
[code]

and we can perform addSteps, removeSteps and so on.

This will create multiple sequencer ob

[2019-02-24 05:59] Harshithpabbati opened #818 "Improve the Ui of Image-Sequencer"
### To make it to look much good than now.

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they'll be resolved, see:

https://publiclab.org/wiki/developers#Contributing+for+non-coders

[2019-02-24 06:00] Harshithpabbati commented on #818
@publiclab/is-reviewers what do you say about it???

[2019-02-24 06:01] HarshKhandeparkar commented on #818
Harshith there is an open issue addressing this. #708. I'm also kind of working on it. Check [this](https://harshkhandeparkar.github.io/image-sequencer/) out.

[2019-02-24 06:04] Harshithpabbati commented on #818
cool!! That really good!!

[2019-02-24 06:04] Harshithpabbati commented on #818
why didn't they implemented it???

[2019-02-24 06:05] HarshKhandeparkar commented on #818
There's no need for this issue. Please close it. #708 is enough. We can discuss everything there.

[2019-02-24 06:05] HarshKhandeparkar commented on #818
It wasn't implemented since it is a huge  change

[2019-02-24 06:05] #818 closed

[2019-02-24 06:06] HarshKhandeparkar commented on #818
Currently I am working on refactoring the ui code. Almost done with it but I'm not getting time to complete it.

[2019-02-24 06:07] Harshithpabbati commented on #708
@HarshKhandeparkar a great work!! :+1:

[2019-02-24 06:09] Harshithpabbati commented on #708
May be few things need to be added to it.Fine will make them as issues after this get's merged

[2019-02-24 06:10] HarshKhandeparkar commented on #708
Thanks. I'm actually going to refactor the ui code by separating the sequencer part of it from the DOM part and I'm working on it [here](https://github.com/publiclab/image-sequencer/blob/main/src/Modules.js). This links to a branch in my fork. Please check out the `ui/` folder and `examples/` folder.

[2019-02-24 07:20] HarshKhandeparkar opened #819 "Only Allow Https Connection"
### Please describe the problem (or idea)

Currently sequencer.publiclab.org has an SSL certificate but it can run without https as well. If no https:// is included in the URL, then an insecure connection is opened. We have to always redirect to the https page.

### Possible Fix

Create a function which checks the page URL. If the URL doesn't contain https, then it should redirect to `https://rest

[2019-02-24 07:24] HarshKhandeparkar commented on #819
@publiclab/is-reviewers can this be an `fto-candidate` ?

[2019-02-25 12:48] gauravano commented on #819
I have added the label but let's see in the PR if the load time is noticed.

[2019-02-25 16:36] niravasher opened #820 "Unwanted scrollbars in x direction"
### Please describe the problem (or idea)

Scrollbars in the x direction

### Please show us where to look
http://sequencer.publiclab.org/examples/#steps=

### What's your PublicLab.org username?
niravasher

### Browser, version, and operating system
windows 10 with ubuntu subsystem

![screenshot 34 _li](https://user-images.githubusercontent.com/32176296/53352578-08876e80-3949-11e9-8a75-3e33ed2558

[2019-02-25 16:36] niravasher commented on #820
Will shift steps to a bit left and also set the width as per required

[2019-02-25 16:41] aashna27 commented on #820
I understand the scrollbar doesnt look good , but I guess it is for if we need to add more modules as quick ones, maybe in future, so adjusting width again and again seems pointless.That's why a scrollbar provides a quick solution for now, and maybe later this can be changed. Thoughts?

[2019-02-25 16:52] niravasher commented on #820
There is a width set for a class name row which doesn't allow to increase the width beyond the point. As per your suggestion, one of the modules that is already existing is the resize module. The maximum resize that I can do is 125%, if I try to do it beyond that it simply doesn't work because of the max-width property. So the scrollbar can be removed. And I am just shifting the elements towards t

[2019-02-25 18:20] Harshithpabbati commented on #820
@niravasher we need the scroll bar for smaller screens.

[2019-02-25 19:43] niravasher commented on #820
Nopes @Harshithpabbati we don't need scroll bar for smaller screens as the image goes below the input options and is fit correctly on the screen.

[2019-02-25 19:47] Divy123 commented on #251
@jywarren @tech4GT

[2019-02-26 03:04] Harshithpabbati commented on #820
I mean for the quick modules.If we increase the size of the box then it will look weird in small screens

[2019-02-26 07:01] 88pawankumarjha commented on #810
Can I work on this?

[2019-02-26 07:31] Harshithpabbati commented on #810
Sorry there is already an open pr.
Thanks

[2019-02-26 11:44] Harshithpabbati commented on #820
If we have the scrollbar then we can add many more quickbuttons to access easily.

[2019-02-26 15:30] Harshithpabbati commented on #788
Can I work on this???

[2019-02-26 16:49] niravasher commented on #820
The scrollbar isn't going anywhere, i am just shifting elements to a bit left, so that initially there is no scrollbar visible. If there is anything that goes out of the window, the scrollbar will appear automatically.

[2019-02-26 17:01] niravasher opened #822 "Multi color gradient"
### Please describe the problem (or idea)

Gradient Module has only black color

Choose the rgb input for color of gradient

### Please show us where to look
image-sequencer

### What's your PublicLab.org username?
niravasher

### Browser, version, and operating system
windows 10

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this si

[2019-02-26 17:02] niravasher commented on #822
An input from 0 to 255 to see the color on the starting of the gradient

[2019-02-27 08:39] Harshithpabbati commented on #788
Can I use jquery.corner.js to make it done??? Or else using only the javascript??

[2019-02-27 08:45] aashna27 commented on #788
Can you look for some other issue, I am not getting time these days so haven't been able to give it a shot.

[2019-02-27 08:57] Harshithpabbati commented on #788
Ok fine

[2019-02-27 17:18] niravasher commented on #822
Hello, I solved this, should I open a pull request @HarshKhandeparkar

[2019-02-27 17:24] HarshKhandeparkar commented on #822
Yes go ahead. Also I will be busy for a month(exams) so you can mention @publiclab/is-reviewers to ask any queries. Thanks.

[2019-02-27 19:54] jywarren commented on #822
Hi! Cool - i think this could be achieved through a re-use of the Colormap code - it has pretty sophisticated gradienting: https://github.com/publiclab/image-sequencer/blob/main/src/modules/Colormap/Colormap.js

Take a look, thank you!!!

[2019-02-27 23:48] jywarren commented on #251
Hi! Well, what do you think of not trying to store more than one image in the sequencer -- make it so that if you want, you can:

1. pass a second image in, and it comes out the other end, but nothing is preserved of the first image (kind of stateless)
2. make a second sequencer and feed it the same sequence as the first one, so you can use 2 at once

These seem to cover most cases I can think of,

[2019-02-28 00:25] #810 closed

[2019-02-28 00:46] jywarren commented on #819
Great idea! I think in one of our repos we actually have a redirect... can't remember which though!

[2019-02-28 10:03] Harshithpabbati commented on #212
Hello
Is anyone working on it or can i give it a shot???

[2019-02-28 10:20] Harshithpabbati commented on #212
Do i directly integrate uppy into this ??

[2019-02-28 10:20] Harshithpabbati commented on #212
@publiclab/is-reviewers

[2019-02-28 19:56] Divy123 commented on #251
Hello! So what do you suggest should I design a function in ImageSequencer.js file which can reproduce the steps which were defined on the first one and run the steps on second?

Also in this

do you mean to creating a replica of the first sequencer that has same sequence of steps that can be used on another image?  Can you please elaborate a bit more on this?
Thanks!

[2019-02-28 22:33] jywarren commented on #212
Yes, i think you could try doing that! It'd be pretty neat and could
consolidate the video snapshot and normal image upload into a compact
interface.

On Thu, Feb 28, 2019 at 5:21 AM Harshith pabbati <notifications@github.com>
wrote:

[2019-03-01 12:24] lohitha02 commented on #388
Is this issue still open? If yes then I would like to work on it.

[2019-03-01 13:30] gauravano commented on #388
Hey @lohitha02, this issue is solved by @sashadev-sky in https://github.com/publiclab/image-sequencer/pull/420 so closing this now. Sorry for the inconvenience. And, we would love your help with other issues. Thanks!

[2019-03-01 13:30] #388 closed

[2019-03-01 16:12] jywarren commented on #251
So, I mean not dealing with more than one image at a time in a Sequencer -- we'd create one:

[code]

Or if we wanted to,

[code]

Make sense? So then we can mostly just eliminate code that deals with storing separate images inside, as we would not assume Sequencer would "know" or "care" about more than one image at a time. I think this'd help simplify the codebase a lot!

[2019-03-01 22:05] Divy123 commented on #400
Can I work on this issue?

[2019-03-01 22:06] Divy123 commented on #251
For sure!
Thanks!

[2019-03-01 22:33] jywarren commented on #251
thank you! This is gonna be awesome :-)

On Fri, Mar 1, 2019 at 5:07 PM Slytherin <notifications@github.com> wrote:

[2019-03-01 22:33] jywarren commented on #400
yes please!!!

On Fri, Mar 1, 2019 at 5:05 PM Slytherin <notifications@github.com> wrote:

[2019-03-02 05:08] HarshKhandeparkar commented on #400
@jywarren @publiclab/is-reviewers [nectarJs](https://codeburst.io/nectarjs-compiling-javascript-into-native-binaries-for-every-platform-2efb2083a4a) claims that it can compile js to native OS binaries for all platforms. This can be used to compile the lib for CLI maybe?

NectarJs [github page](https://github.com/NectarJS/nectarjs) [webpage](https://nectar-lang.com)

[2019-03-02 18:09] jywarren commented on #761
OK, awesome:

![image](https://user-images.githubusercontent.com/24359/53685715-50611980-3cec-11e9-8702-e2d03b0e39ba.png)

I still wonder if there is a way to do it in the code too, and leave it that way for development?

[2019-03-03 05:04] niravasher commented on #822
The gradients in Colormap are pretty different then what the gradient module should do according to me. I am trying to implement features like circular gradient and %x to %y intensity, please elaborate more if I am wrong somewhere @jywarren

[2019-03-03 06:34] Harshithpabbati commented on #799
Hello
@publiclab/is-reviewers what do you feel about it???

[2019-03-03 06:40] Harshithpabbati commented on #698
It looks ready to merge :+1:
Awesome work @harsh1599

[2019-03-03 08:02] aashna27 commented on #799
@Harshithpabbati I think there is some difference of opinion , why dont you give an example to show , how reset would be more friendly, than changing the values. As far as I understand , I think that a reset would undo the most recent change , so suppose you made a brightness of 120 , and then you make it 150 ,and press `reset` so it will take you to 120.

So basically what I think is that a `rese

[2019-03-03 08:11] Harshithpabbati commented on #799
@aashna27 I mean for modules like crop when we make a change in it.For example: I want to crop the picture to size x and i cropped it to some size y .Now i have to delete it and start it again for the particular step. So if we have a reset feature then image switches to the recent change.

[2019-03-03 08:30] aashna27 commented on #799
No you wont need to delete it, you can do it on the current one only , ie change the values and changes would be made.

[2019-03-03 08:42] Harshithpabbati commented on #799
Oh ok fine sorry for the issue.

[2019-03-03 08:42] #799 closed

[2019-03-03 08:47] Harshithpabbati opened #826 "Issue with flip-image."
### Image flips in different way.
It flips vertically when we flip it horizontally and even same with the vice-versa.

[2019-03-03 09:08] HarshKhandeparkar commented on #826
Harshith the button was disabled since the image is flipped vertically by default.

[2019-03-03 09:14] Harshithpabbati commented on #826
@HarshKhandeparkar No!!!. When it is flipped vertically then see the text it should be flipped right???
![flipimg](https://user-images.githubusercontent.com/43822585/53693171-c3d55a80-3dc2-11e9-8495-cea453117c24.png)

[2019-03-03 09:20] Harshithpabbati commented on #826
Cool!! sorry for it.
And there was another issue you when we flip it vertically then it's flipping horizontally and same for the vice-versa.

[2019-03-03 09:40] HarshKhandeparkar commented on #826
The input is for the axis. The image is flipped ON THE selected axis. Which means that the image is flipped vertically ie on the x-axis when the horizontal input is selected and the image is flipped on the vertical axis(y-axis) ie. It is flipped horizontally when the vertical input is selected.

I think this can be closed

[2019-03-03 10:09] HarshKhandeparkar commented on #719
@lohitha a new FlipImage was added recently can you also add that to the docs?

[2019-03-03 10:14] HarshKhandeparkar commented on #826
Your PR can be a standalone.

[2019-03-03 10:14] #826 closed

[2019-03-03 10:15] Harshithpabbati commented on #673
Was anyone working on this ?? Or can i work on it??

[2019-03-03 10:25] Harshithpabbati commented on #760
Hello
Lets have a button to sort. when we pressed it let it to display a popup which will just have the steps sort it over there and when we are done in the popup then we it can be sorted using add and delete steps. We can sort it using draggable js in the popup similar to this https://shopify.github.io/draggable/examples/simple-list.html

[2019-03-03 12:42] niravasher commented on #822
Hello I am not able to understand exaxctly how to make circular gradients, I made a new function "makeCircularGradients". What should I return require to write this     makeCircularGradients : makeCircularGradients @jywarren @HarshKhandeparkar     ???

[2019-03-03 14:10] HarshKhandeparkar commented on #822
@publiclab/is-reviewers please help nirav. I'm busy. Thanks.

[2019-03-03 15:23] Harshithpabbati commented on #212
![uppy](https://user-images.githubusercontent.com/43822585/53697312-4b888c80-3df6-11e9-901b-a490df141075.png)
@jywarren Was this ok????

[2019-03-03 15:44] Harshithpabbati opened #828 "Module idea:Filters for image-sequencer"
### Lets add few filters for the image sequencer.

[2019-03-03 16:01] jywarren commented on #212
Oh wow, doesn't it allow for a few other options like webcam access? Can
you show a gif?

And, would you mind making the area less tall, like maybe half the height?
Thanks!!

On Sun, Mar 3, 2019, 10:23 AM Harshith pabbati <notifications@github.com>
wrote:

[2019-03-03 16:12] HarshKhandeparkar commented on #828
Cool! This can be another meta-module issue. The metaModule can be created from the convolution module

[2019-03-03 16:26] Harshithpabbati commented on #212
Yeah i will make it to access the webcam and share you the gif.

[2019-03-03 18:43] HarshKhandeparkar commented on #159
Lets revive this.

[2019-03-03 18:43] #159 closed

[2019-03-03 18:48] HarshKhandeparkar opened #829 "Enable Asynchronous Processing"
### Asynchronous
The Image Sequencer processes can be run on an alternate thread using webworkers. Native support for workers has also been added to Node.js

### Use Case
Doing this will not slow down the browser as much as it did before. All other browser activities will work and sequencer will run on an alternate thread and only a spinner will be shown.

### Ideas
Do you have any other ideas? An

[2019-03-04 08:31] Divy123 commented on #251
@tech4GT @jywarren need a little help here please.
Can you please explain how `run()` is invoked from `removeSteps()` ?

[2019-03-04 08:40] Harshithpabbati commented on #212
@jywarren I am unable to make it small as I am using the plugins.

[2019-03-04 08:58] HarshKhandeparkar commented on #212
Harshith you can check the class that has been given to the drag and drop area and you give it some custom CSS with an `!important` to style it differently.

[2019-03-04 09:07] Harshithpabbati commented on #212
No that's not the problem with css in image-sequencer it's with the plugins of uppy

[2019-03-04 09:08] HarshKhandeparkar commented on #212
The uppy plugin adds the drag and drop box right?

[2019-03-04 11:28] Harshithpabbati commented on #212
![image](https://user-images.githubusercontent.com/43822585/53730711-c5745080-3e9e-11e9-9302-0aee60d75196.png)
Ha done with it.

[2019-03-04 11:29] Harshithpabbati commented on #212
Is this ok ???

[2019-03-04 11:34] HarshKhandeparkar commented on #212
That looks better but I think its a bit subtle. It should stand out a bit more. You can add the dotted border or alternatively thicken the border of the box itself.

[2019-03-04 11:42] Harshithpabbati commented on #212
![image](https://user-images.githubusercontent.com/43822585/53731375-952db180-3ea0-11e9-8399-2bfc588998be.png)
checkout this !! Harsh

[2019-03-04 11:45] HarshKhandeparkar commented on #212
Awesome!! Are you going to open a PR? If yes then please add the `has-pull-request` label to the issue and `new-feature` and `user-interface` to the PR. Thanks.

[2019-03-04 11:45] Harshithpabbati commented on #212
ok

[2019-03-04 13:01] Harshithpabbati commented on #488
Was anyone is working in making the actual white balance or can i give it a shot??

[2019-03-04 13:13] Harshithpabbati commented on #694
We can have these special effects
Glow
Noise
Color matrix
HDR
@publiclab/is-reviewers what do you think about it???

[2019-03-04 13:27] HarshKhandeparkar commented on #488
Go ahead!

[2019-03-04 13:28] HarshKhandeparkar commented on #694
Can you please explain those SFX?

[2019-03-04 13:33] HarshKhandeparkar commented on #694
@jywarren can we pin this issue so that everybody can discuss?

[2019-03-04 14:16] jywarren commented on #829
Hi Harsh! Could you link back to the original issue and copy in some of the
links to libraries and docs that could help? I think there was a library
called Greenlet or something. Thanks!

On Sun, Mar 3, 2019, 1:49 PM Harsh Khandeparkar <notifications@github.com>
wrote:

[2019-03-04 14:20] jywarren commented on #829
Oh sorry I read from my email, didn't see it was done!

[2019-03-04 14:21] jywarren commented on #829
And https://github.com/publiclab/image-sequencer/issues/159

[2019-03-04 15:49] jywarren commented on #601
I wanted to bring this up again @publiclab/is-reviewers -- it's getting really tough to keep PRs rebased against the latest. I am more in favor now of just not asking PRs to include dist files, potentially with a `.gitignore` of `dist`, and then once every week or two, when we do a new NPM release, we build them all.

People would still do grunt build locally to test things out, but we would ask P

[2019-03-04 15:58] VibhorCodecianGupta commented on #488
@Harshithpabbati I'm working on this 😅 give me some time, I think I can come up with the module

[2019-03-04 15:59] HarshKhandeparkar commented on #601
I'm totally in favour of this. I do have another suggestion though. Is there a pre-merge hook? That can uglify the files on merge. They contributor can only browserify it. What do other folks think?
cc @publiclab/is-reviewers @jywarren

[2019-03-04 16:02] Harshithpabbati commented on #488
Sure carry on with it.

[2019-03-04 16:02] jywarren commented on #601
I'm +1 on separating out the `build` into `build` and then `uglify` as separate steps. But we needn't do that as part of this PR, we can break that into it's own! Thanks!

[2019-03-04 16:05] HarshKhandeparkar commented on #601
What I meant was that we should only commit browserified and uglified dist should be gitignored.

[2019-03-04 16:07] jywarren commented on #601
I think both should be left to a maintainer to do weekly, along with bumping the version number, so it shouldn't need to concern other contributors. But by separating the build/uglify tasks, we save a lot of time in building locally while developing. It takes a while!

[2019-03-04 16:30] jywarren commented on #796
Hi @niravasher we'd love help with this. It will be really useful for a number of other modules. Thanks!

[2019-03-04 16:31] jywarren commented on #488
I just pinged Nirav on this but this will also be really helpful to this
module -- ability to click to select a point (to choose the "neutral" point
for white balance): https://github.com/publiclab/image-sequencer/issues/796

Thanks all!

On Mon, Mar 4, 2019 at 11:03 AM Harshith pabbati <notifications@github.com>
wrote:

[2019-03-04 16:35] jywarren commented on #673
Oh please, that would be super!

On Sun, Mar 3, 2019 at 5:16 AM Harshith pabbati <notifications@github.com>
wrote:

[2019-03-04 16:49] Harshithpabbati commented on #673
@jywarren can you say me what to add in the panel???

[2019-03-04 16:57] jywarren commented on #799
Hi @Harshithpabbati i like the brainstorming here. I think this is something we could think more about and discuss, so thank you for opening it. UI design is hard and we need to think about these things regularly as we work, or we'll miss good ideas. In this case, it looks like people feel that it's not needed, but we might revisit in the future and this kind of discussion is good. So thanks!

[2019-03-04 17:04] jywarren opened #832 "Use Surge to generate working demo from each PR?"
Wow, surge is pretty cool!  https://surge.sh/

@subhahu123 has opened this PR on the `community-toolbox` project to auto-generate a static site from each PR. We could potentially have this generate a working version of `image-sequencer` based on each PR... what do you think?

https://github.com/publiclab/community-toolbox/pull/147/checks?check_run_id=71695437#

[2019-03-04 17:09] Harshithpabbati commented on #832
Cool I agree with it!! . We can have a look over that and then we can merge it will be easy to find out the mistakes done in the pr.

[2019-03-04 17:38] HarshKhandeparkar commented on #601
Yes. Definitely. I think the gruntfile should be revised. Its very messy as of now. The ui dist files are not built in the `build` task. All the targets of a task are mentioned whereas the whole taskname can be used. Like instead of adding `browserify:dist browserify:js uglify:dist uglify:js` to the build task, `browserify ulgify` is enough. Etc. Can somebody open a new issue for that or do taht d

[2019-03-04 20:44] jywarren commented on #673
I think we can just put everything that's currently in a step into each pane:

![image](https://user-images.githubusercontent.com/24359/53761808-6b6e8d80-3e94-11e9-9f8a-972a8a02980c.png)

[2019-03-04 22:54] #570 closed

[2019-03-04 23:13] Divy123 commented on #400
@jywarren your thoughts on nectarJs please?

[2019-03-04 23:22] jywarren commented on #400
Hmm, i thought webassembly is cross-platform anyways? But that is very cool!

Ah, i see that nectarJs seems to have an option to compile to WASM (which
should then be cross-platform as that's the WebAssembly format). Perhaps we
could do that with some portions of our code, like PixelManipulation, to
achieve our goal?

On Sat, Mar 2, 2019 at 12:09 AM Harsh Khandeparkar <notifications@github.com>
wr

[2019-03-04 23:31] Divy123 commented on #400
@jywarren in that case may I proceed with nectarJs for applying the same to our PixelManipulation.js ?

[2019-03-04 23:32] jywarren commented on #400
I would love to see a prototype of this in a PR, yes please!

On Mon, Mar 4, 2019 at 6:32 PM Slytherin <notifications@github.com> wrote:

[2019-03-04 23:34] Divy123 commented on #400
Excited for this.
Thanks!

[2019-03-04 23:47] jywarren commented on #400
same!!!

On Mon, Mar 4, 2019 at 6:35 PM Slytherin <notifications@github.com> wrote:

[2019-03-05 10:57] HarshKhandeparkar opened #833 "Completion Of `$step` helper method"
### scopeQuery
I have an open PR #710 which refactors the UI code by adding a new helper method called `scopeQuery` which returns a *scoped* `jQuery` object(here it is assigned to a variable called `$step`) which only searches elements inside a given scope(DOM element). This method itself is complete but needs a test and needs to be documented.

### Tests
The helper method is awesome and can short

[2019-03-05 10:58] HarshKhandeparkar commented on #833
@jywarren @publiclab/is-reviewers new issue for testing and docs for `$step` now open!

[2019-03-05 13:19] Harshithpabbati commented on #673
![bootstrappanel](https://user-images.githubusercontent.com/43822585/53808125-73ebc480-3f77-11e9-8226-ead6ab8cdf40.png)
@jywarren was this ok???

[2019-03-05 13:24] lohitha02 commented on #719
@HarshKhandeparkar what about replacecolor module?

[2019-03-05 13:25] Harshithpabbati commented on #673
But still i have to make many things. I just want to know any changes for now.

[2019-03-05 13:28] HarshKhandeparkar commented on #719
You can document it

On Tue 5 Mar, 2019, 6:55 PM Lohitha, <notifications@github.com> wrote:

[2019-03-05 13:48] jywarren commented on #673
Basically yes! Although module name could be replaced by the actual module
name, and there's some alignment and spacing issues. But looking good!

On Tue, Mar 5, 2019, 8:25 AM Harshith pabbati <notifications@github.com>
wrote:

[2019-03-05 14:20] Harshithpabbati commented on #673
yeah i will make the css properties at the last and will change the name of the module.

[2019-03-05 14:22] Harshithpabbati commented on #673
@jywarren we need a new panel for every module right??

[2019-03-05 15:23] HarshKhandeparkar commented on #673
Yes

[2019-03-05 17:13] jywarren commented on #400
Really nice walkthrough of webassembly here! https://medium.freecodecamp.org/get-started-with-webassembly-using-only-14-lines-of-javascript-b37b6aaca1e4

[2019-03-05 17:13] HarshKhandeparkar commented on #673
@Harshithpabbati can you open a PR? We can discuss all the changes there.

[2019-03-05 17:15] Harshithpabbati commented on #673
Few things needed to be implemented then i will open a pr.

[2019-03-05 17:16] HarshKhandeparkar commented on #400
@jywarren just a note. In the NectarJs repo, there was a discussion about it not being fully open source. I don't know what it meant. I know one thing for sure and that is that the user needs to have an account on https://nectar-lang.com and should have a key to use NectarJs. Just wanted to warn everybody before using this. The dev said he wanted help from everyone to make Nectar fully open source

[2019-03-05 17:17] HarshKhandeparkar commented on #673
Cool! You can share the next screenshot directly in the PR.

[2019-03-05 17:18] Harshithpabbati commented on #673
Yeah for sure!!

[2019-03-05 17:19] jywarren commented on #400
Ok! There are other ways of making wasm files listed above if we run into
trouble. Thanks!

On Tue, Mar 5, 2019, 12:17 PM Harsh Khandeparkar <notifications@github.com>
wrote:

[2019-03-05 17:52] subhahu123 opened #836 "Bug in UI in button alignment ( for small screens )"
### Please describe the problem (or idea)

![screenshot-sequencer publiclab org-2019 03 05-23-21-14](https://user-images.githubusercontent.com/34541684/53825954-85e05e00-3f9d-11e9-85eb-25603727e5e8.png)

Download button  and clear all steps are not on the same line

[2019-03-05 17:55] HarshKhandeparkar commented on #836
Nice catch! I think they can be aligned one below the other. What arey your thoughts?

[2019-03-05 17:57] subhahu123 opened #837 "Increase the Lighthouse performance ( audits in chrome )"
### Please describe the problem (or idea)

### Please show us where to look

http://sequencer.publiclab.org...

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they'll b

[2019-03-05 18:00] HarshKhandeparkar commented on #837
Can you please provide some more info on this?

[2019-03-05 18:01] subhahu123 commented on #836
We can use media query css

[2019-03-05 18:04] subhahu123 commented on #836
this project ui should be redegisned like
it should have a sidebar with all its features and view of image on the right page or view
it will really look like editor something

[2019-03-05 18:05] subhahu123 commented on #837
about what ????????

[2019-03-05 18:10] HarshKhandeparkar commented on #837
Can you describe the performance and briefly tell what lighthouse performance and chrome audits are? Tell what needs to be improved in the PR body itself as many people might not know what you are talking about. Thanks.

[2019-03-05 18:11] HarshKhandeparkar commented on #836
Check this out https://harshkhandeparkar.github.io/image-sequencer/

[2019-03-05 18:13] HarshKhandeparkar commented on #836
#708 #825

[2019-03-05 18:13] subhahu123 opened #838 "Use Touch library ( hammer.js ) ( suggestion )"
### Please describe the problem (or idea)

currenlty if we use website in mobile we can do thing with default touches
but hammer.js libarray provides us the ability to use website with multiple fingers

[2019-03-05 18:13] #838 closed

[2019-03-05 18:49] niravasher commented on #822
Progress till now
R1 , G1 , B1 and R2 , B2 , G2 are the inputs and we have gradient between those two colors. I am now trying to give the percentage control to the user.

[2019-03-05 18:50] niravasher commented on #796
Hey @jywarren would love to work on this. As soon as I finish with the gradient module, will start working on this

[2019-03-05 19:02] niravasher commented on #822
I still don't understand  what is the function of the third variable in the pixels.set()? Please help @HarshKhandeparkar @jywarren

[2019-03-05 20:15] Mridul97 commented on #797
@jywarren I would like to work on this issue!

[2019-03-05 20:21] jywarren commented on #822
Hi, hmm, so can you open a PR so we can look?

Regarding the colormap module, I think we could think of that as a `linear-gradient` module, but to generate a radial gradient would be in some ways similar - we could start with a monochrome circular gradient, from 0 to 100 brightness, and then map colors to that using the colormap modules in a similar way. Does that make sense?

[2019-03-05 20:22] jywarren commented on #822
So, potentially you could start by doing PixelManipulation and shading darker depending on the cartesian distance from a center point? Then pass that into colormap -- see what I mean? Thanks!!!

[2019-03-05 20:25] jywarren commented on #797
hooray!

On Tue, Mar 5, 2019 at 3:16 PM Mridul97 <notifications@github.com> wrote:

[2019-03-05 20:38] niravasher commented on #822
Ok, so we don't require dual color linear gradients but radial gradients only. Will start doing pixel manipulation and as you said and please tell me about the 3rd and 4th arguements of pixel.set(arg1, arg2, arg3, arg4). @jywarren

[2019-03-05 20:50] jywarren commented on #822
I'm not sure but I would guess the args are Red Green Blue Alpha!

On Tue, Mar 5, 2019 at 3:38 PM Nirav Asher <notifications@github.com> wrote:

[2019-03-05 21:10] niravasher commented on #822
No they can't be red green blue and alpha because first and second are i and j which is the pixel position @jywarren .

[2019-03-05 21:48] jywarren commented on #822
Ah - it's x, y, channel, value: https://github.com/publiclab/image-sequencer/blob/main/src/modules/_nomodule/PixelManipulation.js#L61-L64

Hope that helps!!!

[2019-03-06 05:36] HarshKhandeparkar commented on #822
Nirav in pixels.set, arg1=x, arg2=y, arg3=channel{0=r,1=g,2=b,3=a}, arg4=value. Hope this helps you. 😊

[2019-03-06 12:53] niravasher commented on #822
Thankyou, I have my exams from the next week, so will not be able to work till then. Will definitely be back after exams end.

[2019-03-06 14:02] gauravano commented on #480
hey @HarshKhandeparkar, could you please give your Email ID?

[2019-03-06 16:07] jywarren commented on #822
OK, good luck with your exams!!!

On Wed, Mar 6, 2019 at 7:53 AM Nirav Asher <notifications@github.com> wrote:

[2019-03-06 17:38] HarshKhandeparkar commented on #480
Why do you need by Email ID?

[2019-03-06 17:47] gauravano commented on #480
Actually, we can talk here only:

@HarshKhandeparkar thanks so much for your enthusiasm in the weekly check-in! Sorry we made some last minute changes, but we thought it over a bit and felt that a) we worried that some memes might end up making people feel bad, even by accident, and b) we have a strong need for reviewers anyways. I hope this makes sense why we deleted your comment from weekly chec

[2019-03-06 17:49] HarshKhandeparkar commented on #480
Oh Np. Even I thought I would delete my comment but you had already done that. I was hesitant to comment at first but I saw your comment and I thought it won't be much of an awkward thing. But anyways, thank you, Np, welcome etc. 😊

[2019-03-06 17:53] gauravano commented on #480
Great!

[2019-03-08 17:18] #719 closed

[2019-03-08 18:01] Divy123 commented on #251
@jywarren please review the PR .

[2019-03-08 19:36] Divy123 commented on #400
Thanks @HarshKhandeparkar .

[2019-03-09 07:00] HarshKhandeparkar commented on #833
I guess the documentation part can be an `fto`.

[2019-03-09 09:43] HarshKhandeparkar opened #842 "Create `first-timers-only` issues for newcomers"
Hi everyone!

We, at Public Lab, are known for welcoming new contributors into the Open Source world but a number of times, newcomers were not able to find `first-timers-only` issues to start their journey or face troubles making their first contribution with us.

Reasons being:
1. Lack of `first-timers-only` issues
2. Struggle in finding a good issue to start and lack of enough support?

We are w

[2019-03-09 09:54] HarshKhandeparkar commented on #251
@Divy123 since you are already working on this, can I unpin it as I want to pin #842

[2019-03-09 10:12] Divy123 commented on #251
Sure @HarshKhandeparkar.

[2019-03-09 10:14] HarshKhandeparkar commented on #251
Thanks! 😊

[2019-03-09 10:18] HarshKhandeparkar commented on #707
@jywarren I'll unpin this one and instead pin #694 as this one is linked inside that one.

[2019-03-09 10:37] Harshithpabbati commented on #842
Good idea!! We need new contributers..

[2019-03-09 10:46] HarshKhandeparkar commented on #842
@Harshithpabbati would you mind breaking up #833 ?

[2019-03-09 11:42] Harshithpabbati commented on #842
What should I do ?? Documentation ??

[2019-03-09 11:43] HarshKhandeparkar commented on #842
Any one or both or you can even solve one of those(if you want). Thanks.

On Sat 9 Mar, 2019, 5:12 PM Harshith pabbati, <notifications@github.com>
wrote:

[2019-03-09 11:44] HarshKhandeparkar commented on #842
But I think the documentation part should be split up into a new first-timers-only

[2019-03-09 12:10] HarshKhandeparkar commented on #833
@Harshithpabbati if you want to split up both the issues or any one, please note that the documentation issue should be formatted into a `first-timers-only` and the testing part can be a normal issue. If you want to solve the testing part, you can do that but please leave the docs part to a newcomer. Thanks.

[2019-03-09 12:28] Divy123 commented on #842
One suggestion I have already opened up an issue regarding documentation.
So you could do the other part.
Documentation needs a considerable change so I woulkd like to discuss upon it.
Thanks.

[2019-03-09 12:30] Harshithpabbati commented on #842
ok @Divy123

[2019-03-09 12:34] Divy123 commented on #842
@jywarren Please look into issue #753 as it may greatly enhance the ease of understanding codebase making it much easier for new contributors to participate.

Also please review #251, it needs to be merged urgently as with merging PR's every time the code has to be enhanced. Also I will be updating README.md if the changes are ok to you.
Thanks

[2019-03-09 12:38] HarshKhandeparkar commented on #842
Divy123 we were talking about the documentation part of #833

[2019-03-09 12:41] Divy123 commented on #842
Oh! proceed with it all the best.
But since it is a pinned issue I want to up raise the overasll doc as well.
Thanks and great work @HarshKhandeparkar

[2019-03-09 13:20] lohitha02 commented on #516
I Would like to claim this issue.

[2019-03-09 13:31] HarshKhandeparkar commented on #516
Go ahead!

[2019-03-10 06:27] harshithpabbati opened #844 "Bot to call publiclab/is-reviewers after sending the pull request."
### A bot which helps to call reviewers team when we sent a pr.

 So we just don't need to call reviewers team

Check [this](https://probot.github.io/apps/delete-merged-branch/) out for reference.

[2019-03-10 06:28] Harshithpabbati commented on #844
@publiclab/is-reviewers what do you think about it???

[2019-03-10 08:04] Harshithpabbati commented on #844
We can even use this to help everyone that they don't need to call publiclab/reviewers .
https://probot.github.io/apps/auto-assign/

[2019-03-10 09:00] HarshKhandeparkar commented on #844
Harshith i don't think deleting merged branches is of any use, but auto-assign seems interesting.

[2019-03-10 09:01] Harshithpabbati commented on #844
Even we can label the issues using some other bot.

[2019-03-10 09:08] HarshKhandeparkar commented on #844
Git mate is (i think) the most famous and most developed probot for labelling and finding duplicates

[2019-03-10 09:09] Harshithpabbati commented on #844
yeah but we are facing issues right??

[2019-03-10 09:09] HarshKhandeparkar commented on #844
Yes, it is inaccurate and I don't know if some other bot will be accurate enough.

[2019-03-10 09:11] Harshithpabbati commented on #844
yeah may be..
How about the auto assign bot???

[2019-03-10 09:12] HarshKhandeparkar commented on #844
Auto assign bot is cool. Let's wait for other reviewers' and jywarren's opinion. Btw, can you find and link some labelling bots(preferably probots)?

[2019-03-10 09:13] Harshithpabbati commented on #844
Yeah I will check through them.

[2019-03-11 14:47] Harshithpabbati opened #846 "Add the link of the image sequencer in the footer."
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2019-03-11 14:49] Harshithpabbati commented on #842
Created an first timers issue https://github.com/publiclab/image-sequencer/issues/846

[2019-03-11 16:06] HarshKhandeparkar commented on #846
Harshith, sorry but the issue has to strictly have the fto template. Please reformat it.

[2019-03-11 16:08] Harshithpabbati commented on #846
oh fine i will do it.

[2019-03-11 16:09] HarshKhandeparkar commented on #842
Harshith, thanks for your enthusiasm and help and the issue of course. But the issue has to based on the fto template. Please reformat it and add the label later. Thanks and apologies as you have to take trouble.

[2019-03-11 16:10] Harshithpabbati commented on #793
@jywarren it's done long ago.

[2019-03-11 16:19] Harshithpabbati commented on #842
Done with that @HarshKhandeparkar

[2019-03-11 16:33] HarshKhandeparkar commented on #842
Awesome!!

[2019-03-11 18:44] maks-ostashkevich commented on #846
Hello.

I'm trying to complete these changes and make a pull request.
Not able to run "npm test", I've done "npm install", then "npm start", it started to work according to "Gruntfile.js", then, after performing some checks, it's stuck on: "Running "watch" task. Waiting...", not running "test".

Also, do I have to make a separate branch for the project?

[2019-03-11 18:47] Harshithpabbati commented on #846
Yeah create a new branch for every new issue.
Exactly what do you  get ?? I mean the error.

[2019-03-11 18:52] maks-ostashkevich commented on #846
"Running "watch" task. Waiting..." - this is an output.

After "npm start" it (Gruntfile.js performing) makes several operations, like "browserify", "uglify", then it opens the project main page on localhost, and it's stuck after that, and it does not pass the tests (does not show tests passing).

"npm test" outputs some issue, connected with "TEST" (I've removed all the files and now trying to cr

[2019-03-11 18:57] Harshithpabbati commented on #846
Yup go to the localhost:3000 after pressing npm start.

[2019-03-11 18:58] Harshithpabbati commented on #846
To build dist files you need to run grunt uglify and grunt browserify.

[2019-03-11 18:59] maks-ostashkevich commented on #846
Ok, I have to be a collaborator to create a branch?
How can I become it?

[2019-03-11 19:00] Harshithpabbati commented on #846
You need to fork it and then you have to clone it.

[2019-03-11 19:01] maks-ostashkevich commented on #846
Ok.

[2019-03-11 19:08] HarshKhandeparkar commented on #846
@maks-ostashkevich hello! You don't have to run npm test offline. You just have to commit your changes and open a pull request. If there are any problems in the code, the reviewers will know as travis will run the tests online.
 Secondly, to view your changes live, the gruntfile will run the watch task, this means that as soon as you save a file it will build the dist files. To view the changes in

[2019-03-11 19:10] HarshKhandeparkar commented on #846
In this task, since you are only changing index.html file you don't have to build any dist files, you can commit index.html and leave everything aside. You can open a PR and we can review it and ask for any changes (if required) there. Thanks.

[2019-03-11 19:11] maks-ostashkevich commented on #846
@HarshKhandeparkar Ok, thank you, now I will try to do this way.

[2019-03-11 19:15] HarshKhandeparkar commented on #846
@maks-otashkevich awesome. If you have any other queries, feel free to ask. Otherwise, you can open a pr.

[2019-03-11 19:19] maks-ostashkevich commented on #846
@HarshKhandeparkar I've made the changes on the fork, I have to push them now to the fork from my local repository? Cannot figure out, how to do this.

[2019-03-11 19:25] maks-ostashkevich commented on #846
@HarshKhandeparkar I've already solved the problem, using "git push origin main".

[2019-03-11 19:29] HarshKhandeparkar commented on #846
You have to first create a remote. A remote is essentially a nickname to a link. A link to a github repository. You can create a new remote by using git. When you fork a repository, a remote to the main repository is traditionally called `upstream` and a remote to your online fork ia called `origin`. Origin should be created automatically. You can create upstream by running
[code]
You don't need u

[2019-03-11 19:30] HarshKhandeparkar commented on #846
By default git will push to origin `git push` will push to origin, the next two arga are optional. And please note that in `git add .` the `.` is important.

[2019-03-11 19:35] maks-ostashkevich commented on #846
Ok, will remember this.

I created a fork, then made changes, "add"-ed them, made "commit", then "push"-ed to my fork with "git push origin main" - is this also correct or I still have to do operations that you've described?

[2019-03-11 19:37] HarshKhandeparkar commented on #846
All you have to do in the future is add -> commit -> push and Done!

[2019-03-11 19:57] Harshithpabbati commented on #844
We need this bot as many of new contributers can't call publiclab/is-reviewers for review.

[2019-03-11 19:58] Harshithpabbati commented on #844
It's not working for few of them.

[2019-03-11 19:59] HarshKhandeparkar commented on #844
Please update the pr body

[2019-03-11 21:30] jywarren commented on #844
Ooh i love this -- but how can we make it work? Can we have the PR template say DRAFT somewhere, then ask people to remove that when it's ready for a review?

[code]

[2019-03-11 21:31] jywarren commented on #844
Can you propose a new PR with a config file for this set up so that it could work? GREAT FIND @Harshithpabbati !!! This is super!

[2019-03-12 07:47] HarshKhandeparkar opened #849 "Accelerate Convolution with GPU.js"
### Kernel Convolution
This is the process of convolving a small matrix(called a kernel) of size 3\*3 or 5\*5 or any odd\*odd size over a larger matrix(of pixels) to get values of pixels based on the adjacent pixels. This technique is used in Gaussian blur, mean blur, filters, edge detection and our general purpose convolution module.

### Performance
This technique is very slow as it has to do a

[2019-03-12 07:48] HarshKhandeparkar commented on #849
@jywarren @publiclab/is-reviewers I want to work on this issue myself. I just want your approval.

[2019-03-12 08:07] avsingh999 opened #850 "remove unwanted slider"
### Please describe the problem (or idea)
I think there is an unwanted slider (left-right) so I think should remove that slider.
![pu4](https://user-images.githubusercontent.com/25536022/54184161-f4587b00-44cb-11e9-9ad6-4c65b4754915.png)

### Please show us where to look

http://sequencer.publiclab.org...

### What's your PublicLab.org username?
singhav

### Browser, version, and operating system

[2019-03-12 08:26] HarshKhandeparkar commented on #850
Does this only occur on small screens? Or also on PC sized screens?

[2019-03-12 08:47] avsingh999 commented on #850
@HarshKhandeparkar  Yes there is also slider but In  Mobile and not looking good for mobile. In the sense not responsive for mobile we Can in the gif.
thanks : )
![pub3](https://user-images.githubusercontent.com/25536022/54186460-78613180-44d1-11e9-9757-06386c0ab749.gif)

[2019-03-12 10:41] HarshKhandeparkar commented on #850
Any ideas which element is causing this?

[2019-03-12 11:10] Harshithpabbati commented on #850
@avsingh999 I am not able to reproduce the issue.

[2019-03-12 11:12] HarshKhandeparkar commented on #850
@avsingh999 you seem to be using an old version of IS. Try rebasing or clearing the cache. If you are using sequencer.publiclab.org then it is ~20days old.

[2019-03-12 11:14] Harshithpabbati commented on #850
@HarshKhandeparkar even the sequencer.publiclab.org looks good.

[2019-03-12 13:14] Harshithpabbati commented on #844
I will go through this @jywarren

[2019-03-12 13:30] Harshithpabbati commented on #844
@jywarren  check through this systers community have very customizable bot https://github.com/systers/sysbot

[2019-03-12 14:09] HarshKhandeparkar commented on #849
Guys! I benchmarked gpu.js on my **old** pc. It showed me this

![IMG_20190312_193127](https://user-images.githubusercontent.com/34770591/54206136-9b8ae180-44cf-11e9-8fcd-ee725f261719.jpg)

GPU is **465** times faster than CPU !! A few notes
- This was done on my **old** PC which is about 6 yrs old with an avg graphics card.
- This was done in a controlled environment. I.e. latest version of firef

[2019-03-12 14:15] HarshKhandeparkar commented on #849
@tech4GT

[2019-03-12 14:24] avsingh999 commented on #850
@HarshKhandeparkar @Harshithpabbati I getting here sequencer.publiclab.org.Let me see on local machine
thanks : )

[2019-03-12 14:26] avsingh999 commented on #850
@HarshKhandeparkar @Harshithpabbati I getting here sequencer.publiclab.org.Let me see on local machine
thanks : )

[2019-03-12 14:32] avsingh999 opened #851 "[suggestion] Add Dark theme"
### Please describe the problem (or idea)
I have an idea Dark theme for image-sequencer.It would be better UI. I have also oppend same issue for community toolbox https://github.com/publiclab/community-toolbox/issues/155.

### Please show us where to look

http://sequencer.publiclab.org...

### What's your PublicLab.org username?
singhav

### Browser, version, and operating system

****

## Thank

[2019-03-12 14:35] avsingh999 commented on #850
@Harshithpabbati @HarshKhandeparkar But I think need to improve for mobile UI.

[2019-03-12 14:38] avsingh999 commented on #851
@publiclab/mentors @jywarren @tech4GT @SidharthBansal  What do you think about this I have also opened the same issue in community toolbox. Please review me.
thanks : )

[2019-03-12 14:42] Harshithpabbati commented on #850
@jywarren it looks good even in the mobile ui isn't it??

[2019-03-12 15:29] avsingh999 commented on #850
@Harshithpabbati I think the problem in save sequence and view Gif button
thanks : )

[2019-03-12 15:58] Harshithpabbati commented on #850
![phoneversion](https://user-images.githubusercontent.com/43822585/54215204-8df44c80-450d-11e9-80a6-e36a31bf011e.jpg)
It look's cool in my phone @avsingh999
Let's ask the other reviewers @publiclab/is-reviewers is it the thing???

[2019-03-12 16:09] HarshKhandeparkar commented on #850
It works fine on my phone as well. Maybe it is resolution dependent? Try it in ur browser and try resizing it and try to find out the threshold. Thanks.

[2019-03-12 16:18] Harshithpabbati commented on #850
Yeah we need the slider for the smaller screens. Or else the view gif will be vanished.

[2019-03-12 16:45] HarshKhandeparkar commented on #849
Update! I benchmarked it on my new pc. It was 219 times faster than the cpu. This doesn't mean that its performance was worse than that of the old pc. The multiplier was small as the cpu of this pc is also better than that of the old pc. It was faster than the old pc.

[2019-03-12 17:03] jywarren commented on #849
Hi Harsh, this is really great! Actually the step where we most need GPU is
the webgl-distort module we're planning with @tech4gt. Would you be able to
attempt implementing that module using GPU.js? That would be tremendously
helpful!!!

On Tue, Mar 12, 2019 at 3:48 AM Harsh Khandeparkar <notifications@github.com>
wrote:

[2019-03-12 17:40] Divy123 commented on #851
@avsingh999 can you please provide a mockup for this?

[2019-03-12 17:42] Divy123 commented on #837
I would like to work upon this issue...
@subhahu123 please provide some insights.

[2019-03-12 17:49] Divy123 commented on #400
@jywarren I looked into WASM, made these two little projects,
https://github.com/Divy123/canvas-wasmvas
https://github.com/Divy123/prime-with-wasm

I suggest we can proceed with writing native C code and compiling that with emscripten and utilizing the genrated glue JS files  in our code which I feel can be quite handy.

[2019-03-12 18:02] jywarren commented on #844
oh, can you see if we'd be able to turn on some but not other of the
features in that bot? It's very powerful, but also does many different
things!

On Tue, Mar 12, 2019 at 9:31 AM Harshith pabbati <notifications@github.com>
wrote:

[2019-03-12 18:03] Harshithpabbati commented on #844
We will sort the things which we need and delete the other options.

[2019-03-12 18:24] HarshKhandeparkar commented on #849
GPU.js only runs js simple functions on the GPU. I don't know how an implementation of canvas can be made here. Btw it currently uses the WebGl api to run the GLSL shader files which it compiles the js functions into. Support for openCL in node.js will be added soon. Maybe we will see a new release in the next few weeks. This new release will have GPU acceleration available in node.js which is cur

[2019-03-12 18:28] HarshKhandeparkar commented on #849
Gpu.js just compiles simple js code to simple GLSL shaders. That's it. Now they are thinking of using OpenCL by using some package called NOOOCL. I'm not sure what that package is or does but maybe that one can help in webgl-distort?

[2019-03-12 18:35] HarshKhandeparkar commented on #849
Ok i looked into the distort code. Fisheyegl is your library right? If anything then maybe fisheyegl itself can use gpu.js when openCL is implemented? And if they can implement opencl than maybe fisheyegl can use openCL instead of GLSL and run openCL in nodejs using NOOOCL and GLSL in browser using webgl api. How does that sound? If the webgl code is doable in js then maybe fisheyegl can use gpu.j

[2019-03-12 18:40] subhahu123 commented on #837
please go to developer tools of chrome keeping the webisite open and then go to audit tab and test it

[2019-03-12 18:42] HarshKhandeparkar commented on #849
Ok i did some research. NOOOCL stands for nodejs object oriented openCL bindings. This is a nodejs package which runs openCL shaders on a gpu in nodejs. It is like the canvas/webgl api but it uses openCL instead of GLSL so it gets a webcl context instead of a webgl context. For this to work in the fisheyegl lib, openCL shaders for the same will have to be written and used in node and GLSL shaders

[2019-03-12 18:42] subhahu123 commented on #837
if see the above  mentioned image it shows that website has low performance
it may be due to js and  css
u can delete unused css and descrease their sizes
also for js

[2019-03-12 18:44] HarshKhandeparkar commented on #216
NOOOCL is a nodejs package which runs openCL (not GLSL) shaders in nodejs. https://github.com/unbornchikken/nooocl

[2019-03-12 18:52] jywarren commented on #400
Ok, however did you see the library to generate wasm from JavaScript like
syntax? In either case, we should make a src/webassembly folder perhaps to
contain our source code and put the wasm files in dist, right? Thanks!!!

On Tue, Mar 12, 2019, 1:49 PM Slytherin <notifications@github.com> wrote:

[2019-03-12 19:03] Divy123 commented on #400
Ya I looked into but perhaps feel this can be more easy to go with as then we don't have the overhead of a library.
Yes we have to keep wasm files in src/webassembly and keep it in dist!!
What do you think?

[2019-03-12 19:04] HarshKhandeparkar commented on #225
I guess this is done? @jywarren?

[2019-03-12 23:16] jywarren commented on #400
OK, sounds good. We can always refactor to use a different wasm generator
later, so this could even be solved in parts. Best first get a
demonstration running of it working at all!

On Tue, Mar 12, 2019 at 3:04 PM Slytherin <notifications@github.com> wrote:

[2019-03-12 23:43] jywarren commented on #216
oh whoaaaaa cool!

On Tue, Mar 12, 2019 at 2:45 PM Harsh Khandeparkar <notifications@github.com>
wrote:

[2019-03-13 00:01] jywarren commented on #225
Yes, i think so? https://github.com/publiclab/image-sequencer/blob/055b17c75f79f21aee81490c6a7175df34c8647a/src/modules/ReplaceColor/ReplaceColor.js

Thanks!!!

[2019-03-13 00:01] #225 closed

[2019-03-13 00:06] jywarren commented on #849
Actually webgl-distort is a different type of distortion - perspective, not lens distortion: https://github.com/jywarren/webgl-distort

Currently it is implemented using WebGL, so I would like to pursue a way to achieve that simply by supporting WebGL in node. However, if you're able to use GPU.js and a convolution approach (since it is a matrix transform, i believe?) and it works, I'm open to tha

[2019-03-13 07:10] HarshKhandeparkar commented on #849
Oh cool! I looked into the code. I might be able to implement it. Btw gpu.js has a pre-release for openCL

[2019-03-13 09:38] Harshithpabbati commented on #851
I guess we can add it as a option. So that the user chooses the one(dark mode or normal)

[2019-03-13 09:41] HarshKhandeparkar commented on #851
That is good. But actually implementing dark mode will be difficult since we use bootstrap as our frontend framework. Will we have to override almost all the bootstrap classes ?

[2019-03-13 11:27] avsingh999 commented on #851
@HarshKhandeparkar Yes, It would be difficult. Let's see for other reviews.

[2019-03-13 14:48] jywarren opened #852 "Example showing how createMetaModule can work at runtime"
Building on #779 and #764 we now have `sequencer.createMetaModule()`, which is a very powerful way to make new modules based on combinations of other modules. Docs are here: https://github.com/publiclab/image-sequencer/blob/main/CONTRIBUTING.md#meta-module

Let's make a demo example to show how to use this! I tried in a JS console in a browser window and couldn't quite get it to work, so an exampl

[2019-03-14 12:24] lohitha02 commented on #707
@jywarren or @HarshKhandeparkar can someone please explain me the use case of this issue? Is it like it giving the output of a image which shows how much lead has been detected and where it has been detected(on the image)?

[2019-03-14 12:34] HarshKhandeparkar commented on #707
This issue doesn't exactly address particle analysis, this issue addresses any general useful-in-real-life modules. That blob analysis module can be used to detect the amount of lead on the surface. That chemical spray called sprayView I guess becomes red when there is lead detected. I becomes more red when there is more lead. Lead is harmful to healt so this can be used to detect lead on samples

[2019-03-14 12:39] HarshKhandeparkar commented on #707
Instead of using physical tools or chemical tools on every sample in real life to let's say measure concentration of lead, IS can be run on multiple of those samples at once to get the approx concentration of lead of each of those. Thanks.

[2019-03-14 12:55] lohitha02 commented on #707
Yes that was really helpful, so it's like running different modules together (like implementing the spray view thing and blob analysis module ...) and then finally giving the output of the image with the lead detected on it?  Also is the sprayView thing a separate module or something that is to be developed?

[2019-03-14 15:04] #251 closed

[2019-03-14 15:06] #846 closed

[2019-03-14 15:28] jywarren commented on #851
I think there are bootstrap themes... Maybe there's a dark theme?

On Wed, Mar 13, 2019, 7:28 AM Avkaran Singh <notifications@github.com>
wrote:

[2019-03-14 15:29] jywarren commented on #849
Awesome.

On Wed, Mar 13, 2019, 3:11 AM Harsh Khandeparkar <notifications@github.com>
wrote:

[2019-03-14 15:41] HarshKhandeparkar commented on #707
SprayView is a real life thing not a module 😅. The picture is an example picture.

[2019-03-14 22:52] jywarren opened #856 "Provide alternative quick-add menus for different kinds of tools"
The quick-add menu is really great:

![image](https://user-images.githubusercontent.com/24359/54396406-3844af00-4689-11e9-9026-137b2fe240ee.png)

But we could imagine other types of quick-add menus, maybe to use different "effects" like this:

![image](https://user-images.githubusercontent.com/24359/54396379-26fba280-4689-11e9-994d-14d6aa72fc2b.png)

Could we make it possible to switch to another

[2019-03-14 23:07] #698 closed

[2019-03-15 07:08] HarshKhandeparkar opened #857 "IS Nightly"
@jywarren @publiclab/is-reviewers how about creating an IS nightly website where daily builds are pushed? The page can be updated everyday after all the PRs of that day are merged. It will be different from the sequencer.publiclab.org website since only stable versions are pushed there. This will help users find bugs in the latest code easily and be like beta testers without having to clone the re

[2019-03-15 07:09] HarshKhandeparkar commented on #833
@Harshithpabbati? Are you going to break this issue up?

[2019-03-15 07:12] Harshithpabbati commented on #833
Sorry I am traveling back to my home. So i can't work at this time.

[2019-03-15 07:19] HarshKhandeparkar commented on #833
Ok np.

[2019-03-15 18:04] Divy123 commented on #837
Sure I think this can be an effective way to improveon perforamance.
@jywarren your thoughts please upon this...

[2019-03-15 18:08] Divy123 commented on #400
Sure !!

[2019-03-15 18:18] jywarren commented on #857
Hi, I think this is a cool idea; we might start with weekly to make it a
bit easier? Would we run it from another account's github pages? And could
there be some automation to help this go smoother? For example, who would
do the updating? Would they have to run a script each day?

Thanks for this cool idea!

On Fri, Mar 15, 2019 at 3:09 AM Harsh Khandeparkar <notifications@github.com>
wrote:

[2019-03-15 18:22] HarshKhandeparkar commented on #857
How about runing it on jywarren/image-sequencer? Can you update it yourself?

[2019-03-15 18:25] jywarren commented on #857
I don't think i could keep up -- i'm already struggling a bit to stay
current. This is one reason I thought of an automated solution. Or if
someone wants to volunteer?

On Fri, Mar 15, 2019 at 2:22 PM Harsh Khandeparkar <notifications@github.com>
wrote:

[2019-03-15 18:26] HarshKhandeparkar commented on #857
It can be hosted on maybe sequencer.beta.publiclab.org and since prs are not merged everyday, it can be updated when they are. What do you say? Can you do that? Just merging gh-pages with main every night??

[2019-03-15 18:27] HarshKhandeparkar commented on #857
Is there a bot who can help?

[2019-03-15 18:30] HarshKhandeparkar commented on #857
I would have been more than happy to volunteer but I will be busy as I have mentioned many times bfore.

[2019-03-15 18:34] HarshKhandeparkar commented on #857
There is a way to automate this....

Does PL have a server which runs 24hrs?

[2019-03-15 18:56] jywarren commented on #837
This is cool -- can we copy in the list of issues and start breaking them into separate tasks? Thank you!

[2019-03-16 01:12] avsingh999 commented on #851
@jywarren maybe But I search and I found it's may be helpful https://bootswatch.com/darkly/ for this.
thanks  : )

[2019-03-16 04:20] HarshKhandeparkar commented on #75
Hello, @jywarren shall I work on this?

[2019-03-16 04:25] HarshKhandeparkar commented on #613
The original issue is open

[2019-03-16 04:26] HarshKhandeparkar commented on #542
Can be discussed in #316

[2019-03-16 04:30] #150 closed

[2019-03-16 04:31] HarshKhandeparkar commented on #99
#753

[2019-03-16 04:31] HarshKhandeparkar commented on #99
#753

[2019-03-16 04:31] #99 closed

[2019-03-16 05:50] #542 closed

[2019-03-16 05:51] HarshKhandeparkar commented on #542
#216 is pinned and discusses the same thing

[2019-03-16 06:43] avsingh999 commented on #850
@Harshithpabbati @HarshKhandeparkar yes also working fine in my phone,and I was looking in chrome mobile view so I got this.
thanks : )

[2019-03-16 06:53] HarshKhandeparkar commented on #850
Did you try it on the latest version?

[2019-03-16 07:01] avsingh999 opened #858 "add some css transitions dropdown"
### Please describe the problem (or idea)
If we can add some CSS transition It would be better UI.we can see in this gif.
 but if we can some transition. example in plots 2 https://github.com/publiclab/plots2/issues/4688
![pub5](https://user-images.githubusercontent.com/25536022/54471891-4e1bb680-47e6-11e9-8882-22ae55470787.gif)

### Please show us where to look

http://sequencer.publiclab.org...

[2019-03-16 07:01] HarshKhandeparkar commented on #850
Oh cool! #821 fixes this. I will link to the issue in the pr.

[2019-03-16 07:03] HarshKhandeparkar commented on #858
We can use jquery collapse method. CSS is not required. Cool idea!

[2019-03-16 07:13] subhahu123 opened #859 "Add transition on button or clicking effect like ( translateY )"
### Please describe the problem (or idea)

on hovering button shows some effects
but on activating it there is no effect or visual effect

add transition or animation on button when someone click it
To show the effect that the button has been clicked

[2019-03-16 07:17] subhahu123 opened #860 "Minify the CSS for production"
### Please describe the problem (or idea)

### Please show us where to look

http://sequencer.publiclab.org...

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they'll b

[2019-03-16 07:18] subhahu123 opened #861 "Minify the JS ( production )"
### Please describe the problem (or idea)

####     Refer    #837

Currently website use non-minifed JS file for serving
instead of it , we should use minified JS to decrease the size
and for increasing the performance

[2019-03-16 07:20] HarshKhandeparkar commented on #861
The js is minified already. Or are you suggesting something else?

[2019-03-16 07:22] HarshKhandeparkar commented on #860
Subhahu, that is under progress in my pr #825

[2019-03-16 07:24] subhahu123 commented on #860
@HarshKhandeparkar  please make it refer to #837

[2019-03-16 07:24] subhahu123 commented on #860
and this also

[2019-03-16 07:25] HarshKhandeparkar commented on #859
How about waves effect used in android? It is used in the materialize renderer in #825

Live demo [here](https://harshkhandeparkar.github.io/image-sequencer) (marked as new UI)

[2019-03-16 07:26] HarshKhandeparkar commented on #860
I will link it to this but #837 can be further improved using other methods as well. Lets keep it as it is.

[2019-03-16 07:27] subhahu123 commented on #861
@HarshKhandeparkar  No it is not ( according to me)
![Screenshot_2019-03-16_12-56-22](https://user-images.githubusercontent.com/34541684/54472228-18c59780-47eb-11e9-9424-f5c25118f4e8.png)

[2019-03-16 07:28] HarshKhandeparkar commented on #861
We use non minified file since in dev mode, minification takes very long. Is there a way to include minified for prod and normal for dev? Like somehow mark it as prod or dev?

[2019-03-16 07:29] subhahu123 commented on #861
i think yes
does we using same website for both prod and dev

[2019-03-16 07:30] subhahu123 commented on #861
what is the link for prod mode website

[2019-03-16 07:31] HarshKhandeparkar commented on #861
We use the same website for prod. We just host it on gh-pages branch.

[2019-03-16 07:32] HarshKhandeparkar commented on #861
Link is https://sequencer.publiclab.org

[2019-03-16 07:33] HarshKhandeparkar commented on #861
Yes it uses non minified as it is the same code

[2019-03-16 07:33] subhahu123 commented on #861
they are same

[2019-03-16 07:34] HarshKhandeparkar commented on #861
It is present on a different branch which is updated less frequently.

[2019-03-16 07:34] subhahu123 commented on #861
i think should main two branch
one for main
one for dev

[2019-03-16 07:34] subhahu123 commented on #861
they should be in sync

[2019-03-16 07:35] HarshKhandeparkar commented on #861
The main branch can be main. But in gh-pages branch, the code can be changed but @jywarren is so busy that he cannot update the gh-pages branch to the latest version let alone changing the code.

[2019-03-16 07:36] HarshKhandeparkar commented on #861
It was last updated ~20d ago

[2019-03-16 07:38] HarshKhandeparkar commented on #859
What is github tab and ribbon feature?

[2019-03-16 07:38] subhahu123 commented on #859
we can do that also

[2019-03-16 07:40] subhahu123 commented on #859
i mean u r making a navigation tab for github which is not required as ur just navigating to github website
instead of it use github ribbon like fork me

[2019-03-16 07:41] HarshKhandeparkar commented on #859
Oh that is under devel, lets discuss it in #825

[2019-03-16 07:41] subhahu123 commented on #859
Like
![download](https://user-images.githubusercontent.com/34541684/54472339-ffbde600-47ec-11e9-9f1b-02b682157022.jpeg)

[2019-03-16 07:43] HarshKhandeparkar commented on #859
Let's keep this issue to the point and discuss this stuff in the pr #825

[2019-03-16 07:43] subhahu123 opened #862 "Add procfile for heroku deploy"
### Please describe the problem (or idea)

adding procfile so that anyone can deploy this to heroku also

[2019-03-16 07:44] subhahu123 commented on #859
should we open a issue for this
@HarshKhandeparkar

[2019-03-16 07:47] HarshKhandeparkar commented on #859
Issue for what? The ribbon? Sure

[2019-03-16 07:48] subhahu123 opened #863 "Add meta tags for Search engine optimization"
### Please describe the problem (or idea)

####  for reference https://github.com/publiclab/community-toolbox/pull/143
#### https://github.com/publiclab/community-toolbox/issues/142

[2019-03-16 07:48] subhahu123 commented on #859
y

[2019-03-16 07:50] HarshKhandeparkar commented on #863
Cool idea!

[2019-03-16 07:55] Harshithpabbati commented on #850
I guess we can close this.

[2019-03-16 07:56] HarshKhandeparkar commented on #850
This will be closed when that pr is merged

[2019-03-16 07:57] Harshithpabbati commented on #850
There is already an issue right?? So we can close it.

[2019-03-16 07:58] HarshKhandeparkar commented on #850
Maybe the pr doesn't fix this? No screenshots are provided there. So lets wait

[2019-03-16 07:59] Harshithpabbati commented on #850
Oh ok

[2019-03-16 08:53] mgroovyank opened #864 "No reference to sequencer in sequencer.replaceImage()"
There is no reference to "sequencer" in sequencer.replaceImage() in the Readme.md file. sequencer is not defined here.

![replace image](https://user-images.githubusercontent.com/40556224/54472890-30564d80-47f6-11e9-9694-42b3a562373a.PNG)

This gives the **error**: **sequencer is not defined** in the browser console.

Take a look here at:
https://github.com/publiclab/image-sequencer#quick-usage

[2019-03-16 09:17] avsingh999 commented on #858
@HarshKhandeparkar yes that's cool Idea!.and it would be better for first timer.
thanks : )

[2019-03-16 09:23] HarshKhandeparkar commented on #858
Sorry but this has to be formatted.

[2019-03-16 11:23] mgroovyank commented on #75
claim

[2019-03-16 13:54] Divy123 commented on #852
I would love to work on this.
Always ready to improve on documentations.

[2019-03-16 15:59] niravasher commented on #822
Good evening, starting again with this issue. So I will try creating a gradient of brightness from 0 to 100 in the gradient module and will try to pass it to the colormap module. I don't have to make the multi color linear gradient now @jywarren @HarshKhandeparkar

[2019-03-16 16:23] jywarren commented on #822
Actually the colormap module has a range of different gradients to apply
including multi color ones. I think that will help you?

On Sat, Mar 16, 2019, 12:00 PM Nirav Asher <notifications@github.com> wrote:

[2019-03-16 16:24] jywarren commented on #852
Awesome!!!

On Sat, Mar 16, 2019, 9:54 AM Slytherin <notifications@github.com> wrote:

[2019-03-16 16:24] #864 closed

[2019-03-16 16:54] niravasher commented on #822
What do I exactly need to do? directly make circular gradients in the colormap module? @jywarren

[2019-03-16 17:02] jywarren commented on #822
Hi! So, to generate a radial monochrome gradient you can build a module around pixel manipulation. For an example of a linear gradient, see:

https://github.com/publiclab/image-sequencer/blob/main/src/modules/Gradient/Module.js

Instead of line 23, you'd set the value of the pixel to correspond to the distance between the current pixel xy and the center of the image.

Later you could make the cent

[2019-03-16 17:28] niravasher commented on #822
Ok got it making a new module called CircularGradient

[2019-03-17 06:27] HarshKhandeparkar commented on #857
@subhahu123 do you have any good ideas for this?

[2019-03-17 06:28] HarshKhandeparkar commented on #857
@Harshithpabbbati

[2019-03-17 06:31] Harshithpabbati commented on #857
Yeah !!

[2019-03-17 06:33] HarshKhandeparkar commented on #857
Do you know some way to do this auto updating? A bit maybe?

[2019-03-17 06:35] Harshithpabbati commented on #857
I will check through this.

[2019-03-17 06:35] Harshithpabbati commented on #857
Or else I can volunteer for this to update them.

[2019-03-17 07:06] HarshKhandeparkar commented on #857
Oh Awesome. You can ask @jywarren about that. Thank you.

[2019-03-17 07:07] HarshKhandeparkar commented on #857
Do you use linux btw? @Harshithpabbati

[2019-03-17 07:08] Harshithpabbati commented on #857
Yeah.

[2019-03-17 07:09] HarshKhandeparkar commented on #857
I can write a script for you if you want. You can type `update-is` in the terminal and it will do everything for you and finally ask for your github username. Shall I do that. It won't be very difficult.

[2019-03-17 07:10] Harshithpabbati commented on #857
Ok thanks for that!!

[2019-03-17 07:10] HarshKhandeparkar commented on #857
Cool. Should it be `update-is` or something else?

[2019-03-17 07:11] Harshithpabbati commented on #857
Make it update-is no prob.

[2019-03-17 07:17] HarshKhandeparkar commented on #857
Ok. The script is really easy actually.

[code]

This will ask for your username and password.

You can create a directory named `bin` in your home folder `/home/[username]/`

[2019-03-17 07:21] Harshithpabbati commented on #857
Thanks @harshkhandeparkar

[2019-03-17 07:25] HarshKhandeparkar commented on #857
I have edited the comment. Please read it again

[2019-03-17 10:54] mgroovyank opened #868 "Saturation Module not working correctly"
### Please describe the problem (or idea)

When you add the saturation module then instead of displaying the image with 0.5 saturation value it displays a black image.

![Screenshot (3)](https://user-images.githubusercontent.com/40556224/54489267-7bdd2a00-48d0-11e9-98f2-00430831316f.png)

**You can see it here:**

https://sequencer.publiclab.org/examples/#steps=saturation{}

[2019-03-17 11:03] HarshKhandeparkar commented on #868
Hello. Thanks for the catch but this has been already fixed but not uploaded to sequencer.publiclab.org website. Closing this. Thank you!

[2019-03-17 11:03] HarshKhandeparkar commented on #868
Hello. Thanks for the catch but this has been already fixed but not uploaded to sequencer.publiclab.org website. Closing this. Thank you!

[2019-03-17 11:03] #868 closed

[2019-03-17 11:10] mgroovyank commented on #868
@HarshKhandeparkar  Thanks for update.
I don't know if this is important. But Have a look at these two links.
Is the difference of default parameter in the two links okay?

https://github.com/jywarren/image-sequencer/blob/main/src/modules/Saturation/info.json
https://github.com/publiclab/image-sequencer/blob/main/src/modules/Saturation/info.json

[2019-03-17 11:15] HarshKhandeparkar commented on #868
Oh don't look at jywarren/image-sequencer. It is old. The whole repo has been shifted to publiclab/image-sequencer and jywarren's fork is around 200 commits behind. Thank you.

[2019-03-17 11:19] HarshKhandeparkar commented on #868
Would you like to solve some first-timers-only issue? You haven't contributed before right?

[2019-03-17 11:20] mgroovyank commented on #868
@HarshKhandeparkar  Yeah I will do it.

[2019-03-17 11:21] HarshKhandeparkar commented on #842
@mgroovyank shall I add your name to this list? There are currently 0 fto issues open but there are some fto-candidate issues.

[2019-03-17 11:29] HarshKhandeparkar commented on #868
@mgroovyank shall I add your name to the list in #842? There are currently 0 fto issues open but there are some fto-candidate issues

[2019-03-17 12:30] mgroovyank commented on #868
@HarshKhandeparkar  yes please add my name. Thank you.

[2019-03-17 12:45] HarshKhandeparkar commented on #842
@mgroovyank welcome! Your name has been added :tada:. I have a few questions that you can answer if you like:

- What programming language are you good at/like? (JS, HTML, CSS, something else?)

- Do you have experience with GitHub?
- If JS is your cup of tea, what framework/package/environment are you comfortable with?(nodejs, some specific nodejs package, libs like jquery or frameworks like reac

[2019-03-17 13:47] Harshithpabbati commented on #857
@HarshKhandeparkar hey did you renamed it as is ???

[2019-03-17 13:54] HarshKhandeparkar commented on #857
Renamed what?

[2019-03-17 13:55] Harshithpabbati commented on #857
Getting an error when i tried to run it.

[2019-03-17 13:57] HarshKhandeparkar commented on #857
Can you please tell me the error?

[2019-03-17 13:58] Harshithpabbati commented on #857
![update](https://user-images.githubusercontent.com/43822585/54492248-e3a06e80-48ea-11e9-9fdd-51612d193158.png)
see this.

[2019-03-17 14:04] HarshKhandeparkar commented on #857
Sorry for that. I have updated the comment again.

[2019-03-17 14:05] HarshKhandeparkar commented on #857
Btw you dont have to `cd image-sequencer`

[2019-03-17 14:07] HarshKhandeparkar commented on #857
Another update. Just enhanced the script.

[2019-03-17 14:09] HarshKhandeparkar commented on #857
Reposting full script

[code]

[2019-03-17 14:11] Harshithpabbati commented on #857
Done !! Thanks :+1:

[2019-03-17 14:12] HarshKhandeparkar commented on #857
Cool!

[2019-03-17 14:16] Harshithpabbati commented on #857
but i can't get the node modules .

[2019-03-17 14:22] HarshKhandeparkar commented on #857
I can't see a gh-pages branch in your fork.

[2019-03-17 14:23] HarshKhandeparkar commented on #857
Please initialize github pages for your fork in the repo settings.

[2019-03-17 14:26] Harshithpabbati commented on #857
It's not working.

[2019-03-17 14:29] HarshKhandeparkar commented on #857
Error?

[2019-03-17 14:29] Harshithpabbati commented on #857
no. I made it but the changes were not done. I am doing it manually now.

[2019-03-17 14:30] HarshKhandeparkar commented on #857
Have you initialised GitHub pages?

[2019-03-17 14:32] HarshKhandeparkar commented on #857
You will see something like this in the settings of your fork

![Screenshot_20190317-200048__01](https://user-images.githubusercontent.com/34770591/54492798-7af0cc00-48c1-11e9-8427-8d34809748a1.jpg)

[2019-03-17 14:34] Harshithpabbati commented on #857
yeah.

[2019-03-17 14:38] Harshithpabbati commented on #857
It's done !!!. See this https://harshithpabbati.github.io/image-sequencer/examples/#steps=

[2019-03-17 14:42] HarshKhandeparkar commented on #857
Totally awesome!!

[2019-03-17 14:43] HarshKhandeparkar commented on #857
@jywarren Harshithpabbati has agreed to volunteer. We have managed to automate the process. We have even changed the CNAME to `beta.sequencer.publiclab.org` can we host his `gh-pages` on beta.sequencer.publiclab.org?

[2019-03-17 14:44] HarshKhandeparkar commented on #857
@Harshithpabbati can you document this somewhere?

[2019-03-17 14:48] Harshithpabbati commented on #857
@harshkhandeparkar what should I do?? I mean documentation.

[2019-03-17 14:48] Harshithpabbati commented on #857
Should I write the process what we want to do??

[2019-03-17 14:51] HarshKhandeparkar commented on #857
We can just add a line linking to this website once it is hosted on beta.sequencer.publiclab.org.

You can update this whenever you get time. Try to do this daily after all the prs are merged. Since the timezones do not match, you can update at any time of the day. No need to update if no prs have been merged.

Thanks a ton!!

[2019-03-17 14:53] Harshithpabbati commented on #857
Ha ok. I have a how to link it to beta.sequencer.publiclab.org???

[2019-03-17 14:58] HarshKhandeparkar commented on #857
You can add a line to the CONTRIBUTING.md file or add a link in the webpage footer or both. But lets wait for @jywarren's thoughts on this and lets wait to get this hosted on beta.sequencer.publiclab.org. The full link will have `https://` i.e. `https://beta.sequencer.publiclab.org`

[2019-03-17 15:22] HarshKhandeparkar commented on #857
@Harshithpabbati wherever your main clone of image-sequencer is on your pc, it will not be touched. You can run this command from any directory and your main clone will not get affected and nothing will change on your system. You can run the command as many times as you want.

[2019-03-17 15:23] Harshithpabbati commented on #857
Yeah I know it.

[2019-03-17 15:26] niravasher commented on #822
Hi, to start making a gradient I first thought to make a line from center to the top and then going circular. But I seem to have problem with changePixel and getNeighbourPixel. I think I am not able to understand the syntax correctly. I am sending a pull request with basic code in it, but please tell me how these two functions exactly work, i mean what happens when I return values from those funct

[2019-03-17 15:26] HarshKhandeparkar commented on #857
When we get permission to host on beta.sequencer.publiclab.org, opening harshithpabbati.github.io/image-sequencer will redirect to that. You probably don't have to do anything. @jywarren will give you further instructions and provide permissions to the domain. You just have to update your gh-pages. Maybe the main stable website sequencer.publiclab.org can be updated every month? Any thoughts on th

[2019-03-17 15:30] Harshithpabbati commented on #857
Yeah it's fine :)

[2019-03-17 15:31] HarshKhandeparkar commented on #822
Ok

[2019-03-17 15:32] HarshKhandeparkar commented on #822
You can mention `@publiclab/is-reviewers`

[2019-03-17 15:39] HarshKhandeparkar commented on #822
The changePixel function provides the rgba values of each pixel in the image as parameters and also the x and y positions of the pixel as 5th and 6th param, the returned value is set as that pixel. The returned array has the format [r, g, b, a] these are the color channels for that pixel. So essentially this function is run on every pixel of the image and does the same manipulation on every pixel.

[2019-03-17 15:55] niravasher commented on #822
Oh okay, keeping r,g,b,a as r,g,b,a keeps them the same. I thought this has to be undefined somehow. Now understood. Also in the getNeighbourPixel, are the variables curX, curY, distX and distY predefined somewhere

[2019-03-17 16:03] HarshKhandeparkar commented on #822
Hmm. I have never used getNeighboutPixel so cannot tell you exactly you can try to reverse engineer it. Not very difficult. It is in the file `src/modules/_nomodule/pixelManipulation.js`

I don't have time right now. Also there is an extraManipulation method which returns the whole pixels as an ndarray with 3 dimensions it is again passed as a param to that func. The param has getter and setter me

[2019-03-17 16:08] HarshKhandeparkar commented on #822
Sorry I had linked to a wrong place in the comment above. I have edited it. Please read it again. Sorry for the inconvenience

[2019-03-17 18:06] niravasher commented on #822
Yes, thankyou very much for help

[2019-03-17 18:37] Divy123 opened #870 "Does not redirect HTTP traffic to HTTPS: Chrome Audits"
### Please describe the problem (or idea)
The chrome audit reports of LightHouse in Chrome Dev tools states that the webpage does not redirect HTTP traffic to HTTPS which means that insecure HTTP traffic is not sent to HTTPS.

For reference:

![Screenshot from 2019-03-18 00-06-01](https://user-images.githubusercontent.com/31225007/54496119-ac918380-4911-11e9-999b-220374970543.png)

A link to the L

[2019-03-17 18:37] Divy123 commented on #870
@jywarren your thoughts upon this?

[2019-03-17 18:48] Divy123 opened #871 "Links do not have Descriptive text: Chrome Lighthouse effect"
### Please describe the problem (or idea)

The links can be made more descriptive by avoiding generic links for better SEO.

[2019-03-17 18:53] HarshKhandeparkar commented on #870
There is an open issue #819.

[2019-03-17 18:55] HarshKhandeparkar commented on #870
I think this can be closed as that one proposes a fix rather than an issue

[2019-03-17 18:58] Divy123 commented on #819
Love to work upon it .Thanks

[2019-03-17 19:00] Divy123 opened #872 "Images should be optimized : LightHouse effect"
I think we can use [imagemin](https://github.com/imagemin/imagemin) to minimize our images.
@jywarren what do you think upon it?

[2019-03-17 19:02] #870 closed

[2019-03-17 19:03] HarshKhandeparkar commented on #819
Awesome!!

[2019-03-17 19:06] HarshKhandeparkar commented on #872
Does imagemin do a lossy compression?

[2019-03-17 19:13] Divy123 commented on #872
Well I think yes.

Minify images seamlessly:says minmatch docs.

[2019-03-17 19:16] HarshKhandeparkar commented on #611
Let's move the discussion to #773

[2019-03-17 19:16] #611 closed

[2019-03-17 19:17] HarshKhandeparkar commented on #773
We can discuss on gitignoring dist files. Moved the pre-commit hook discussion to this issue.

[2019-03-17 19:21] HarshKhandeparkar commented on #872
Lossy compression means that the edges and other less important parts of images are decreased in resolution. I think this should not be done to IS as the images have to be high res and their quality should be preserved. Tools like imagemin can be used on landing page kind of sites where most of the images are real life photos and compression would not make much of a difference. But this gave me a

[2019-03-17 19:23] HarshKhandeparkar commented on #648
@Divy123 wasn't this fixed when notify was implemented? Can this be closed? If yes then please do so. Thanks.

[2019-03-17 19:25] Divy123 commented on #648
Ya this is fixed. Thanks!!

[2019-03-17 19:25] #648 closed

[2019-03-17 19:25] HarshKhandeparkar commented on #605
Some issues are fixed and docs part is mentioned in another issue.

[2019-03-17 19:26] HarshKhandeparkar commented on #601
Discussion moved to #773

[2019-03-17 19:26] HarshKhandeparkar commented on #601
Discussion moved to #773

[2019-03-17 19:26] #601 closed

[2019-03-17 19:26] Divy123 commented on #872
@HarshKhandeparkar Totally agree!!
May I work on this module and what do you think should we use imagemin for this?

[2019-03-17 19:28] HarshKhandeparkar commented on #405
Is this stale?

[2019-03-17 19:32] HarshKhandeparkar commented on #292
Changes persist

[2019-03-17 19:32] #292 closed

[2019-03-17 19:34] HarshKhandeparkar commented on #260
This actually uses another module ndarray-gaussian-blur in this. This is not an original module. This is probably a problem with that npm package. Maybe a version bump will fix this?

[2019-03-17 19:39] HarshKhandeparkar commented on #872
You can work on that module for sure!! Do you want to open a new issue or edit this one?

[2019-03-17 19:40] Divy123 commented on #872
Ya I am editing this one.

[2019-03-17 19:40] HarshKhandeparkar commented on #227
Flood fill, dither done. Text overlay has its own issue. Particle sizing and region extraction have an issue as well. Demo code testing done. Webcam done. UI code refactoring in progress in #825

[2019-03-17 19:41] Divy123 commented on #872
Creating a new one.

[2019-03-17 19:41] #872 closed

[2019-03-17 19:42] HarshKhandeparkar commented on #165
Flood fill has its own issue.

[2019-03-17 19:42] jywarren commented on #872
This is an awesome idea for a module.

On Sun, Mar 17, 2019, 3:40 PM Slytherin <notifications@github.com> wrote:

[2019-03-17 19:43] HarshKhandeparkar commented on #694
Some module ideas in #165

[2019-03-17 19:43] Divy123 opened #873 "Create a MinifyImage module."
This module will involve minifying the image taken as input.

[2019-03-17 19:46] HarshKhandeparkar commented on #137
Works!

[2019-03-17 19:46] #137 closed

[2019-03-17 19:48] HarshKhandeparkar commented on #836
The button UI has changed ever since this was opened. Closing

[2019-03-17 19:48] #836 closed

[2019-03-17 19:51] HarshKhandeparkar commented on #820
Scrollbars do not exist anymore. If someone sees these scrollbars then please report here or reopen this issue. Current version of IS is available here https://harshithpabbati.github.io/image-sequencer

[2019-03-17 19:51] #820 closed

[2019-03-17 19:57] HarshKhandeparkar commented on #738
I think this should not be implemented as every step after the step that is asynchronously updated will get uodated and all the previews will get updated and everything will stop working(almost) so saving changes when required is better I think.

Maybe we can create a preview only for a single step in a seperate sequencer in the Browser itself? Maybe on a downscaled example img with less res?

@jy

[2019-03-17 20:05] HarshKhandeparkar commented on #659
How about dropping support for node 6? It doesn't support the spread operator and throws an error but travis doesn't fail though. Maybe we have to run `set -e` which will terminate script with a non-0 if any commands which are run inside the script exit with non zero.

[2019-03-17 20:07] #350 closed

[2019-03-17 20:08] HarshKhandeparkar commented on #350
Not required I guess.

[2019-03-17 20:31] HarshKhandeparkar opened #874 "Add Dropdown Transitions"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-17 20:34] HarshKhandeparkar commented on #874
@mgroovyank do you want to solve this? This will be reserved to you for the next 2 days. If you don't reply, ths can be assigned to someone else. But don't worry as new issues will be opened soon.
If someone wants to solve a first-timers-only issue but this one is taken up, join the discussion and add your name to the list in #842.

[2019-03-17 20:35] HarshKhandeparkar commented on #842
Opened a new fto #874. @mgroovyank this one is for you but if you don't want to solve it then it will be assigned to someone else. Do not worry as new ones are yet to come. I have some ideas for better ftos. You can either solve this one or wait for another one. Thank you!

[2019-03-17 20:36] HarshKhandeparkar commented on #858
Done in #875

[2019-03-17 20:36] #858 closed

[2019-03-17 20:38] HarshKhandeparkar commented on #833
@mgroovyank would you like to work on any one(or both) part(s) of this issue?

[2019-03-17 20:41] HarshKhandeparkar commented on #873
@Divy123 assigned you based on your earlier comment.

[2019-03-17 21:05] #176 closed

[2019-03-17 21:09] jywarren opened #875 "Document separate "build" from "minify/uglify" tasks in grunt"
@publiclab/is-reviewers this was suggested already but we didn't follow-up, so I'm opening a new issue for it. It seems this exists now, but it's not well documented.

Copying in the last note from that issue via @HarshKhandeparkar on this distinct issue:

So, I think we currently have:

1. `grunt build` - just do everything below
2. `grunt browserify` - just generate `dist/image-sequencer.js`
3.

[2019-03-17 21:13] jywarren commented on #773
OK, I've opened a documentation issue to clarify the policy on submitting dist files to PRs (i.e. you don't have to anymore, and I'll compile them in periodically). I think we can do this without `stable` for starters, but a bigger issue for me is that I'd like some help regularly (every week? 2 weeks?) building everything and publishing a new release. This could be done via a `stable` branch, may

[2019-03-17 21:13] jywarren commented on #773
OK, I've opened a documentation issue to clarify the policy on submitting dist files to PRs (i.e. you don't have to anymore, and I'll compile them in periodically). I think we can do this without `stable` for starters, but a bigger issue for me is that I'd like some help regularly (every week? 2 weeks?) building everything and publishing a new release. This could be done via a `stable` branch, may

[2019-03-17 21:16] HarshKhandeparkar commented on #773
If the tasks listed above are done by running commands, I can create scripts for those like the one created in #857

[2019-03-18 01:42] An0u commented on #874
I'd like to take this one up if it becomes available

[2019-03-18 01:44] An0u commented on #842
I'm looking for first-time issues to solve ;)

[2019-03-18 03:39] mgroovyank commented on #874
@HarshKhandeparkar I am doing this. Thank you.

[2019-03-18 04:38] mgroovyank opened #878 "Cursor doesn't change to pointer on link"
The cursor when hovered on the link - _Clear offline cache image-sequencer-static-v3_  doesn't changes to a pointer, instead it remains a text type cursor.

![Screenshot (12)](https://user-images.githubusercontent.com/40556224/54507074-97dedb00-4965-11e9-8177-82d307da46ea.png)

The cursor when hovered on the link should change to a pointer(or hand).

You can have a look here at:
https://sequencer.

[2019-03-18 05:07] HarshKhandeparkar commented on #842
@An0u Welcome! You have come to the right place. Your name has been added to the list !!:tada:

[2019-03-18 05:09] HarshKhandeparkar commented on #878
Hello. Thanks for the issue but there is already an issue which suggests to change the link to a button and a pr already solves it. Sorry but this can be closed.

[2019-03-18 05:09] #878 closed

[2019-03-18 05:10] HarshKhandeparkar commented on #874
@mgroovyank awesome!! @An0u your name has been added to the list in #842

[2019-03-18 05:13] Harshithpabbati commented on #857
@harshkhandeparkar I runned it but it is not working .

[2019-03-18 05:13] Harshithpabbati commented on #857
I mean there is no change in gh-pages

[2019-03-18 05:14] Harshithpabbati commented on #857
![terminal](https://user-images.githubusercontent.com/43822585/54508131-c0b59f00-496a-11e9-8638-39b7c6c9b7c0.png)
see this I was not asked with github username and password.

[2019-03-18 05:22] HarshKhandeparkar commented on #857
Ok I guess the remote has to be adder manually. Wait a min. I will change that.

[2019-03-18 05:25] HarshKhandeparkar commented on #857
Reposted
[code]

[2019-03-18 05:37] HarshKhandeparkar opened #879 "Find A Bug -- Newcomers"
Hi everyone!

We, at Public Lab, are known for welcoming new contributors into the Open Source world. An essential part of open source development is finding bugs which can lead to bad user experience.

You can have a look at [this](https://harshithpabbati.github.io/image-sequencer/) link and take a look at how everything works.

### Find a bug? Report it
If you find that something is broken or is

[2019-03-18 05:41] HarshKhandeparkar commented on #842
Hello! Newcomers can see issue #879 also to find a bug and get the bug formatted as an FTO(first timers only issue). This new FTO will be reserved for the one who finds the bug. Thank you!

@An0u

[2019-03-18 05:42] Harshithpabbati commented on #857
![check](https://user-images.githubusercontent.com/43822585/54509178-ae3d6480-496e-11e9-998a-13b8c64674cc.png)
see this @HarshKhandeparkar

[2019-03-18 05:43] HarshKhandeparkar commented on #857
Type y and hit enter

[2019-03-18 05:47] HarshKhandeparkar commented on #857
A small change, now it will not ask for anything.
[code]

[2019-03-18 05:49] Harshithpabbati commented on #857
Everytime when i run this. It is cloning again.

[2019-03-18 05:51] HarshKhandeparkar commented on #857
It has to clone again to make sure that no old changes conflict with the latest version. Myabe the branch was changed somehwere else, but the local was not changed. So it clones everytime.

[2019-03-18 06:07] HarshKhandeparkar commented on #842
@Jaya738 welcome!! Your name has been added!

[2019-03-18 06:07] Jaya738 commented on #842
@HarshKhandeparkar
please guide me what to do next

[2019-03-18 06:10] HarshKhandeparkar commented on #842
You will have to wait until an issue is created. I am going to create atleast one tonight. This one will be reserved for you and will create another one for @An0u. Sorry for the delay but I'm busy and cannot create issues right now. If someone else creates an issue for you before I do you claim that one. No problem. Thanks!

[2019-03-18 06:21] HarshKhandeparkar commented on #842
@Jaya738 you can, instead of waiting for me to open an issue, go and see this one #879

[2019-03-18 06:45] Jaya738 commented on #879
ok

[2019-03-18 06:47] Harshithpabbati commented on #857
![css](https://user-images.githubusercontent.com/43822585/54511618-81417f80-4977-11e9-8ef3-c0dc29336dfb.png)
See the css @HarshKhandeparkar

[2019-03-18 06:52] HarshKhandeparkar commented on #857
I think@aashna27 is fixing this issue.

[2019-03-18 06:53] mgroovyank commented on #874
@HarshKhandeparkar  I have sorted it out. The code you provided didn't worked.
So I've opened another pull request with changes that work.
#880
Sorry I can't provide you any GIF.

[2019-03-18 06:55] HarshKhandeparkar commented on #857
Great! Edge detect PR changes have been added.

[2019-03-18 07:20] HarshKhandeparkar commented on #857
Another small change. Sorry @Harshithpabbati
[code]

[2019-03-18 07:24] Divy123 commented on #873
Thanks @HarshKhandeparkar .

[2019-03-18 08:26] Harshithpabbati commented on #857
@jywarren what do you say ???

[2019-03-18 11:25] HarshKhandeparkar opened #882 "npm audit and dependabot"
### Please describe the problem (or idea)
I installed lodash recently in a pr where I had removed it by mistake and the version that was installed was 6 patches ahead of the old one. Also when I installed it, I found that npm audit showed 5 critical warnings. Is dependabot working properly ? Also I feel like npm audit fixes should be done to IS deps.

cc @jywarren @tech4GT @publiclab/is-reviewers

[2019-03-18 11:32] HarshKhandeparkar commented on #216
Hello! Last commit for headless-gl https://github.com/stackgl/headless-gl was 4d ago. It will compatible with latest node versions. A new version was released recently and gpu.js also will use headless-gl for v2 instead of NOOOCL

[2019-03-18 11:33] HarshKhandeparkar commented on #216
NOOOCL has no release. Only a pre-release, so i don't recommend using it.

[2019-03-18 11:35] HarshKhandeparkar commented on #216
I would suggest going with headless-gl since it is maintained to work in all recent versions of node(thought the devs say that it is not actively developed, so no new features but compatibility)

[2019-03-18 11:38] Divy123 commented on #216
Can you please provide some more details about headless-gl? I went through their doc but found no way to input an image?
What do you think?

[2019-03-18 11:38] HarshKhandeparkar commented on #849
Gpu.js v2 with node support is coming soon! They will be using headless-gl to use GLSL in node. Headless-gl is maintained well and the latest release was 4d ago. Gpu.js v2 can be expected in another week or two at max.

[2019-03-18 11:41] HarshKhandeparkar commented on #216
You can pass in an unit8Array or float32Array or any array. An example would be pixels.data array which has a size of width\*height\*channels. This array can be given to the readPixels method of the module. Also this module provides a full canvas context, so any canvas methods available in the browser should be available here. I hope this helps.

[2019-03-18 11:41] Divy123 commented on #216
Thanks a lot @HarshKhandeparkar .

[2019-03-18 14:56] jywarren commented on #405
I think people are doing ok on installing this but if someone wants to do a
screencast still it'd probably be helpful!

On Sun, Mar 17, 2019, 3:28 PM Harsh Khandeparkar <notifications@github.com>
wrote:

[2019-03-18 14:56] jywarren commented on #260
It's worth a try!

On Sun, Mar 17, 2019, 3:35 PM Harsh Khandeparkar <notifications@github.com>
wrote:

[2019-03-18 15:28] Divy123 commented on #829
I am new to web workers but I would love to work upon this.
@HarshKhandeparkar @jywarren waant your guidance here.
Please help me with this.
Since this is a performance issue, I want to work on it at a top priority.

[2019-03-18 15:32] HarshKhandeparkar commented on #829
Since nodejs has workers support, can you girst try running different parts of sequencer on different threads? You will have to do some research on workers though.

[2019-03-18 15:33] Divy123 commented on #829
For sure!
Thanks a lot.

[2019-03-18 15:58] jywarren commented on #216
Just be aware of what will require an actual GPU and could in theory fail
on Travis or in the cloud (if there is no GPU on cloud servers, for
example) or what would have a fall-back solution. But I don't really know
how it works, so perhaps the best way would be to try it out!

On Mon, Mar 18, 2019 at 7:42 AM Slytherin <notifications@github.com> wrote:

[2019-03-18 15:59] HarshKhandeparkar commented on #216
Does webgl in browser fallback to cpu mode?

[2019-03-18 16:01] jywarren commented on #659
+1 to both of these, i think they're fine; can you test out the -e in a PR?
Thank you!

On Sun, Mar 17, 2019 at 4:05 PM Harsh Khandeparkar <notifications@github.com>
wrote:

[2019-03-18 16:04] jywarren commented on #738
Ah, Harsh has a point. If you're modifying early in a long sequence it
could have serious performance ramifications. I like the idea of a preview;
i think we had an issue open for this already, so let's try to find that
and then make this proposal contingent on that. The issue could be renamed:

"Sliders for some module settings should live-update image preview" and we
can resolve the preview gene

[2019-03-18 16:04] HarshKhandeparkar commented on #216
@Divy123 @jywarren if everyone uses laptop or mac, I can try this stuff on my pc with gpu and then remove the gpu and test again as I have a custom built pc. @Divy123 you can do the initial work and open a pr or tell me your branch and I will test. If you have a custom pc which you can modify, you can try it out yourself. I'm going test out gpu.js with and without gpu anyways so I can also test th

[2019-03-18 16:07] Divy123 commented on #216
Sure @jywarren @HarshKhandeparkar
Applying this year for SoC, so can I include this in my summer proposal?
I will be brainstorming now and do some initial work and putting this on hold till then, is that fine?

[2019-03-18 16:10] Divy123 commented on #216
I have a list of points I want to implement this summer which includes this one and the web workers.
I have already started writing the web assembly code and I think these three can be a great addition to the performance.
@jywarren what do you think upon this?

[2019-03-18 16:11] HarshKhandeparkar commented on #659
Hmm, i'll try.

[2019-03-18 16:15] jywarren commented on #216
This all sounds great, we'd love to have this in a SoC proposal too. Just
noting however that we ideally want to try to do the GPU modules /somehow/
before June, for MapKnitter purposes (webgl-distort module) but the other
optimizations can happen a bit slower. Thanks, all!

Noting also - some CPUs have an integrated GPU. I wonder if they will fall
back to that. I also wonder if Travis and other c

[2019-03-18 16:16] HarshKhandeparkar commented on #216
Uh, I don't know much about SoC. So do you want me to test this out? If yes, when will you be able to produce the (let's say) scaffolding for running gl headlessly? Btw my implementation of gpu.js will not take time and can be done in a few days. What I 'm waiting for is the next major release of gpu.js which will allow using gpu in node for GPGPU. See issue #849 for reference.

[2019-03-18 16:19] HarshKhandeparkar commented on #216
My cpu has a built in gpu, so I can test it on that and we can maybe benchmark it to see if it used the gpu or used the cpu. It can be run on travis which will mostly not have a gpu and we can test if it falls back to pure cpu computation which will mostly take more time than on gpu but it can also take less time since they will have a good cpu.

[2019-03-18 16:19] HarshKhandeparkar commented on #216
gCloud will probably have a gpu since it is also used for ML and other similar purposes.

[2019-03-18 16:20] Divy123 commented on #216
@HarshKhandeparkar will explore it better and reach out to yoou soon.
Also thank you soo much for your such a great help.

[2019-03-18 16:25] HarshKhandeparkar commented on #216
Ok sure. 😊

[2019-03-18 16:26] HarshKhandeparkar commented on #216
Btw when is SoC going to start?

[2019-03-18 16:27] jywarren commented on #857
Oh my goodness so much happened in this thread. 😅

This looks great. I'll repoint beta.x and perhaps we can do a few things
next:

1. if the script is confirmed to be working, could we make it into a Grunt
or npm task?
2. maybe icarito can set this up for us in Jenkins as a regular task once
we test it out a bit

Thanks!

On Mon, Mar 18, 2019 at 4:26 AM Harshith pabbati <notifications@github.com>

[2019-03-18 16:32] HarshKhandeparkar commented on #857
This is not a js script but instead it is a bash script which runs on the pc and also it is specific for harshith's account. It clones **his** repo and checks out gh-pages and merges with main, builds dist, force commits node_modules and pushes to **his** gh-pages by asking for a password.

So what it does is it clones the repo in a hidden folder on **his** pc's home folder (in linux) and does all

[2019-03-18 16:45] Divy123 commented on #216
SoC will start from 27 but work will never stop because ultimately it's all about our performance.

[2019-03-18 16:51] jywarren commented on #857
For sure, but npm scripts don't need to be JS - they can run shell scripts
too. Would it be possible to adapt it to take inputs or otherwise detect
your github username/branch etc? Thanks! Just trying to think how we'd
adapt this for a bot to use, for example.

On Mon, Mar 18, 2019 at 12:33 PM Harsh Khandeparkar <
notifications@github.com> wrote:

[2019-03-18 16:53] jywarren commented on #216
:-) I love the energy! We do also want to be sure that everyone
participates at a healthy pace that ensures a good life/work balance. Thank
you so much!!!

On Mon, Mar 18, 2019 at 12:45 PM Slytherin <notifications@github.com> wrote:

[2019-03-18 16:55] HarshKhandeparkar commented on #857
Can a bot have repos?

[2019-03-18 16:56] Harshithpabbati commented on #857
Yeah we can take input and can make it run.

[2019-03-18 16:58] Harshithpabbati commented on #857
Oh yah the bot can't have the repo 😅

[2019-03-18 17:16] Harshithpabbati commented on #857
<code>
#!/bin/bash
echo Enter your username.
read username
set -e

if [ -d ~/.is ];
then
  pushd ~/.is

  if [ -d ~/.is/image-sequencer/ ];
  then
    rm -rf ~/.is/*
  else
    git clone https://github.com/$username/image-sequencer.git

    pushd ~/.is/image-sequencer/
    git checkout gh-pages
    git remote add upstream https://github.com/publiclab/image-sequencer.git
    git fetch upstream

[2019-03-18 17:18] Divy123 commented on #216
Thank you @jywarren for making this a super awesome learning platform for us.

[2019-03-18 17:21] Harshithpabbati commented on #857
<code>
#!/bin/bash
set -e

echo Enter your username.
read username
if [ -d ~/.is ];
then
  pushd ~/.is

  if [ -d ~/.is/image-sequencer/ ];
  then
    rm -rf ~/.is/*
  else
    git clone https://github.com/$username/image-sequencer.git

    pushd ~/.is/image-sequencer/
    git checkout gh-pages
    git remote add upstream https://github.com/publiclab/image-sequencer.git
    git fetch upstream

[2019-03-18 17:22] Harshithpabbati commented on #857
I will repost this such that everyone can use this .

[2019-03-18 17:22] HarshKhandeparkar commented on #216
@jywarren chinmay was a gsoc student right? Why doesn't he contribute anymore? Sorry if I asked something wrong or somewhere wrong. I was just curious.

[2019-03-18 17:33] HarshKhandeparkar commented on #857
@jywarren does PL have a server which runs 24x7??

[2019-03-18 17:37] Harshithpabbati opened #883 "Weekly Community Check-in #14 - "Let's complete them.""
Hi everyone!!!

We all at Public Lab  :balloon:  - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. The goal of our Community Check-In is for every community member to share something about their work from the past week and about

[2019-03-18 17:40] HarshKhandeparkar commented on #883
@Saurabh19126848_twitter @dhruvgupta167 @marieram @swiatek7 @kaunair @gauravano @publiclab/reviewers @publiclab/is-reviewers @publiclab/community-reps

[2019-03-18 17:46] HarshKhandeparkar commented on #883
@subhahu123 @An0u @Jaya738 @mgroovyank

@shreyateeza
@TANGL3SIT3S
@nazeem1988
@karunagoyalk
@Nirvikalpa108
@cassianoblonski
@EngrEric
@Anjalizi
@GettyOrawo
@coderbeetle
@corbettbw
@govindjeevan
@gautamig54
@daddyjab
@emestabillo
@letnewKid
@srujana121
@jazdao
@ChinwenduSilvia
@aggarwal19
@Jenniline
@madelinejones
@helenatxu
@richa031
@fabsar
@kuja24
@megha070
@Aarabhi2017
@Manvi07
@siddhishree
@Cu

[2019-03-18 17:47] HarshKhandeparkar commented on #216
I'm unpinning this for the time being to oin the community check in

[2019-03-18 18:47] HarshKhandeparkar opened #884 "Fix Typo In EdgeDetect Module"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-18 18:50] HarshKhandeparkar commented on #884
This issue is reserved for@Jaya738. You can resolve this at anytime and take as much time as you want but please let us know that you are working on this. Sorry for the delay and thank you!

[2019-03-18 18:50] HarshKhandeparkar commented on #884
If a newcomer wants to solve an issue, they can get their name added to the list in #842

[2019-03-18 18:52] HarshKhandeparkar commented on #842
Opened an issue for you @Jaya738 in #884. Go ahead and try to resolve it. We will be ready to provide any kind of help.

[2019-03-18 19:14] HarshKhandeparkar opened #885 "Document `scopeQuery` helper method"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-03-18 19:18] HarshKhandeparkar commented on #885
This issue is reserved for @An0u. You can resolve this at any time. Just let us know that you want to work on this. Issue #884 is reserved for @Jaya738 but you two can exchange issues if both agree. If you have any doubts, we are ready to help. Thank you!

[2019-03-18 19:19] niravasher commented on #822
I divided the image into 4 quadrants and tried to make gradient in each one of them
Here is the for loop that goes in 2nd quadrant
![Screenshot (40)](https://user-images.githubusercontent.com/32176296/54557218-9bfc0e80-49e0-11e9-8fb1-b57a64dc89f5.png)
I still get a gradient in the first quadrant, any idea why this happens? @HarshKhandeparkar @jywarren

[2019-03-18 19:20] HarshKhandeparkar commented on #885
If a newcomer wants to solve an issue, they can get their name added to the list in #842

[2019-03-18 19:21] HarshKhandeparkar commented on #833
Documentation issue open #885

[2019-03-18 19:23] HarshKhandeparkar commented on #822
You don't have to run savePixels yourself. The PixelManipulation func does it for you. Check out module drawRectangle for reference. https://github.com/publiclab/image-sequencer/blob/main/src/modules/DrawRectangle/Module.js

[2019-03-18 19:24] niravasher commented on #822
Yes removed that.

[2019-03-18 19:26] HarshKhandeparkar commented on #822
The starting x and y of the imagedo not start at the bottom left corner but instead start at the top left corner. So pixel(0,0) will be at the top left and pixel(width-1, height-1) will be at the bottom right corner. X increases from left to right and y increases from top to bottom. I hope this info helps you. Maybe the quadrant that you are think is the second quadrant is actually the first quadr

[2019-03-18 19:31] HarshKhandeparkar commented on #822
If you want to show a code snippet try to copy it inside block code markdown instead of sharing an img. This also highlights any syntax errors.

You can put the code inside ` ```js ` and ` ``` `

E.g.
[code]
The following code has syntax erros as strings cannot span multiple lines. GitHub highlights the errors.
[code]
Fix
[code]

[2019-03-18 19:33] HarshKhandeparkar commented on #842
Opened an issue #885 for @An0u. Go ahead and try to resolve it. We will be ready to provide any kind of help.

[2019-03-18 19:34] HarshKhandeparkar commented on #842
If @Jaya738 and @An0u want to exchange issues which are assigned to them, they can provided that both agree. Thanks!

[2019-03-18 19:46] niravasher commented on #822
[code]
var i goes from pixels.shape[0]/2 to pixels.shape[0], and var j goes from pixels.shape[1]/2 to 0 that is the top right quadrant. But I get gradient in the top left quadrant @HarshKhandeparkar

[2019-03-18 19:51] HarshKhandeparkar commented on #822
You have to make it go to (pixels.shape[0] - 1) as coordinates are zero indexed and also if pixels.shape[0] is odd, pixels.shape[0]/2 will not be an integer. Have you made any provisions for that?

[2019-03-18 19:57] HarshKhandeparkar commented on #822
Have you implemented only the code for top right quadrant or also for top left? Check if there are any logs in the console and also I cannot see an assignment for variable `decrement` have you assigned it a value?

[2019-03-18 20:02] niravasher commented on #822
Made the provisions for odd width and height. Initially var decrease = 255 and var decrement = 1. Wrote the code for top left and top right quadrant, Updating my PR, debug there @HarshKhandeparkar

[2019-03-18 20:06] niravasher commented on #822
The logic that I am trying to use is, set alpha = 255 for every i. and decrease alpha with j (I will map height and 0 to 255 later). As I increases the decrement in alpha should be greater so that i get a circular like structure.

[2019-03-18 20:36] HarshKhandeparkar commented on #822
This is how gradient is implemented in the original module.
[code]
Try implementing it this way and see if anything improves.

[2019-03-18 20:37] HarshKhandeparkar commented on #822
Try not to change alpha value but instead produce a greyscale pixel.

[2019-03-18 20:37] #732 closed

[2019-03-18 20:39] niravasher commented on #822
Ok will try this method and get back to you tmrw if I face any problem, thankyou very much for help

[2019-03-18 21:08] HarshKhandeparkar commented on #298
How about creating a folder in examples/folder which has sample module code(s). Maybe one for each type like metaModule, module with extraManipulation, module with only PixelManipulation. What say?

[2019-03-18 21:28] #747 closed

[2019-03-18 21:33] jywarren commented on #879
Hi @harshKhandeparkar - i've just changed it to `fto-candidate` since this one itself isn't quite a FTO but it will hopefully generate them! I hope that makes sense :-)

[2019-03-18 21:36] jywarren commented on #773
Yes, i think you got them except for publishing to npm -- it'd be `npm publish` but it's only one line, so don't need a script. Thanks!

[2019-03-18 22:20] jywarren commented on #822
Hi Nirav - also think about going through the pixels by rows and columns,
as Harsh suggested, but applying a function to each pixel which calculates
its distance from the center, and chooses a darkness based on that
distance. So for pixel i, j and center point x, y:

distX = (x - i)
distY = (y - j)
distance = Math.sqrt(Math.pow(distX) + Math.pow(distY)) // remember
pythagorean theorem!
brightness

[2019-03-18 22:27] jywarren commented on #298
I think that's a great idea! What about doing it in a Markdown file so we
can annotate and such as well?

On Mon, Mar 18, 2019 at 5:09 PM Harsh Khandeparkar <notifications@github.com>
wrote:

[2019-03-18 22:33] jywarren commented on #216
Chinmay was, yes - he got a job and wasn't able to keep contributing - this
happens sometimes (esp. due to work restrictions sometimes) but I'm sure he
is very happy to see all the work on this project that he helped to kick
off!

On Mon, Mar 18, 2019 at 1:48 PM Harsh Khandeparkar <notifications@github.com>
wrote:

[2019-03-18 22:34] jywarren commented on #857
Yes we do!

On Mon, Mar 18, 2019 at 1:34 PM Harsh Khandeparkar <notifications@github.com>
wrote:

[2019-03-18 22:38] jywarren commented on #882
I'm not sure exactly how the two systems track. But I'd love to accept a PR
that's the result of running `npm audit` -- then maybe we can get ahead of
dependabot, even?

On Mon, Mar 18, 2019 at 7:26 AM Harsh Khandeparkar <notifications@github.com>
wrote:

[2019-03-18 22:46] jywarren commented on #613
Hi @HarshKhandeparkar i think i'm going to reopen this and rename it to something like `change the module name to Colour Temperature instead of White Balance` as @VibhorCodecianGupta suggested, and we can try to revive the original white balance issue too?

[2019-03-18 23:10] jywarren commented on #875
Reopening just so we can add better documentation to newcomers using this! (and oldcomers since it changed 😄 )

[2019-03-18 23:13] jywarren commented on #883
Thanks for posting, @Harshithpabbati !!! Great job!

[2019-03-18 23:23] jywarren commented on #75
Hi all! We'd love help wherever you're interested. Thanks!

On Sat, Mar 16, 2019 at 7:23 AM MAYANK CHHIPA <notifications@github.com>
wrote:

[2019-03-19 00:58] jywarren commented on #857
I also use my own `publish to gh-pages` script, fwiw:

[code]

[2019-03-19 01:05] madeofhuman commented on #883
Hi, guys! I'm happy we're all still here and contributing, and a huge welcome to the newcomers (you're going to love it here!)

Goals for the week:

  * [ ] 1. Close out my last PR from last week and work on three new issues
  * [ ] 2. Create two first-timer-only issues
  * [ ] 3. Provide guidance to others (and learn) by reviewing at least two PRs
  * [ ] 4. Finalise and submit my Outreachy inter

[2019-03-19 01:07] jywarren commented on #857
Also, i just released the latest to https://sequencer.publiclab.org and pointed beta.sequencer.publiclab.org to https://harshithpabbati.github.io/image-sequencer/!

[2019-03-19 01:20] Harshithpabbati commented on #857
@jywarren check the url beta.sequencer.publiclab.org i cant get it.

[2019-03-19 01:21] jywarren commented on #857
ah, you need to add a CNAME file!

[2019-03-19 01:22] Harshithpabbati commented on #857
Where should i add it in gh-pages branch ??

[2019-03-19 02:36] jywarren opened #888 "Error: Cannot read property 'options' of undefined"
I'm seeing this on the latest main branch, when clicking a quick-add module: https://sequencer.publiclab.org/examples/

[code]

[2019-03-19 04:00] jywarren commented on #857
That's right!

On Mon, Mar 18, 2019, 9:23 PM Harshith pabbati <notifications@github.com>
wrote:

[2019-03-19 04:14] jywarren commented on #888
I think we could do a few things here;

1. let's move all `/examples/lib/` into `/src/ui/`
2. let's make a test for clicking the previews and confirming a step is added, [in this test](https://github.com/publiclab/image-sequencer/tree/main/test/spec/insertPreview.spec.js)
3. let's give the preview buttons unique CSS classes like `preview-step preview-step-resize` so we can more easily write the te

[2019-03-19 04:16] jywarren commented on #888
But I can't find where the previews onClick events are connected up... that's what I want to write a test for and fix...

[2019-03-19 05:11] VibhorCodecianGupta commented on #888
@jywarren the quick-add modules are the modules on the widget that we can add on a single click, right? I can't seem to reproduce the issue. Is there a screenshot?

[2019-03-19 06:09] HarshKhandeparkar commented on #857
Hello harshith, the last revision of the script I made actually creates the CNAME file and also points to beta.sequencer.publiclab.org. Please change your script locally.
Reposting
[code]

[2019-03-19 06:18] HarshKhandeparkar commented on #613
Vibhor is actually working on the old white balance issue so we don't have to revive it.

[2019-03-19 06:24] HarshKhandeparkar commented on #822
Instead of puthagoras you can directly use trigonometric functions to get the intesities based on the distance. Also sin and cose can be used to get the hypotenuse (distance from center) using just the x or y coordinate. The value of the angle will be `arctan(y/x)` in radians. In js it will be
[code]
Keep in mind that the y and x coordinates may not be the actual coordinates but can be difference

[2019-03-19 06:25] HarshKhandeparkar commented on #879
Ok. 😊

[2019-03-19 06:38] HarshKhandeparkar commented on #857
Hey harshith, would you mind posting the update script somewhere on github so I can propose cahnges whenever needed? When we add the dist files to gitignore, the script will have to be changed, if anything breaks, I can open a pr and then you can pull the latest script when ot gets updated. Would you mind putting it on github?

[2019-03-19 07:31] Harshithpabbati commented on #857
Ok where should I keep it ?? In my repos??

[2019-03-19 07:57] HarshKhandeparkar commented on #857
Anywhere you like. Just tell me where. Thanks.😊

[2019-03-19 07:59] Harshithpabbati commented on #857
Fine i will create a repo and I will send you the link.

[2019-03-19 08:00] subhahu123 commented on #857
@HarshKhandeparkar please check this out
https://community-toolbox-kiwxvw.stackblitz.io/ ( angular version ) ( not completed)

[2019-03-19 09:09] HarshKhandeparkar opened #889 "ImageSequencer Electron App"
### Please describe the problem (or idea)
We can create a cross-platform electron app for ImageSequencer. Since electron just uses js and html/css, we can copy the example code just make some optimisations? What are your thoughts?

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, wh

[2019-03-19 09:10] HarshKhandeparkar commented on #889
I would like to work on this if I get an approval. @jywarren @publiclab/is-reviewers

[2019-03-19 09:45] tech4GT commented on #889
Hmm, this sounds like a cool idea Harsh, but it's going to be a separate project altogether, If we create an app we would like to take advantage of the menus and other platform specific stuff. This maybe a good idea for something like an soc proposal. :)

[2019-03-19 09:47] HarshKhandeparkar commented on #889
Uh, I cannot participate in SoC. Would someone else like to work on this?

[2019-03-19 09:48] Divy123 commented on #889
Will surely want to include this in mine.

[2019-03-19 09:52] tech4GT commented on #889
Divy just be mindful about the amount of work you put in there, this in itself is something that can take up the whole summer. I know it can be tempting to cram a lot of things in your proposal but just make sure to have realistic deadlines.
PS I have been in your place and this advice was given to me by the mentors at the time, it ended up being totally accurate :smile:

[2019-03-19 09:52] HarshKhandeparkar opened #890 "ImageSequencer Mobile App"
### Please describe the problem (or idea)
How about creating a mobile app for IS. We can use react native maybe? Should this be amrked as long term?

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they'll be resolved, see:

https://publiclab.org/wiki/de

[2019-03-19 09:52] Divy123 commented on #889
@tech4GT Currently I am planning to work on performance issues but would definetly want to work on this.
I may include this in the last 3 weeks.
Also I request your help @tech4GT .
Is there a way I can talk to you directly?

[2019-03-19 09:54] HarshKhandeparkar commented on #889
How many months/weeks does SoC run ?

[2019-03-19 09:54] Divy123 commented on #889
12 weeks complete.

[2019-03-19 09:56] HarshKhandeparkar commented on #889
Is there a limit to how much work can be done in one day? Like x hours per day or something?

[2019-03-19 09:56] Divy123 commented on #889
Thanks Varun.
There are some things I am yetto plan on my proposal and need your help there.
Would you please tell me like where can I get in contact with you?

[2019-03-19 09:58] Divy123 commented on #889
@HarshKhandeparkar we are expected to work around 40 hours a week at least.
But its all around that we should try to complete our work within said deadlines.

[2019-03-19 09:58] tech4GT commented on #889
You can email me at `varun@cb.lk` or message me on gitter. Happy to help :)

[2019-03-19 09:59] Divy123 commented on #889
Surely I think gitter can be better to communicate.
Thanks a lot .

[2019-03-19 10:04] HarshKhandeparkar commented on #890
@publiclab/is-reviewers

[2019-03-19 10:12] tech4GT commented on #890
Harsh, Actually we already have a PWA and I don't think we really need a native mobile app since most of our processing is happening in javascript anyway.

[2019-03-19 10:14] HarshKhandeparkar commented on #890
I tried adding IS to homescreen but it didn't seem to work as expected. The browser has to be open in the background for some reason.

[2019-03-19 10:15] HarshKhandeparkar commented on #890
I think native will also increase performance on mobile phones with less processing power.

[2019-03-19 10:25] Divy123 commented on #890
@HarshKhandeparkar @tech4GT Just noting here something regarding lighthouse
![pwa](https://user-images.githubusercontent.com/31225007/54598761-3c911380-4a5f-11e9-8665-741fe3766858.png)
I think this can be settled out by mior UI fixes and can be a good fto.

[2019-03-19 12:02] #612 closed

[2019-03-19 12:30] HarshKhandeparkar commented on #857
@Harshithlabbati a new pr was juet merged! Please run the script. Also please make sure that you have the latest version that I had posted. It adds the CNAME file to the branch. Let's see if beta.sequencer.publiclab.org redirects.

[2019-03-19 12:31] jywarren commented on #888
That's right. I'll try uploading one later today! @Harshkhandeparkar do you
see it running normally?

On Tue, Mar 19, 2019, 1:11 AM Vibhor Gupta <notifications@github.com> wrote:

[2019-03-19 12:31] Harshithpabbati commented on #857
Yeah it's redirecting :+1:

[2019-03-19 12:35] HarshKhandeparkar opened #891 "Selectize is not responsive"
### Please describe the problem (or idea)
The module search box added by @Divy123 using selectizeJs is not responsive on small screens
![Screenshot_20190319-180250](https://user-images.githubusercontent.com/34770591/54606353-823fe300-4a43-11e9-804a-09072a99472e.jpg)

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn

[2019-03-19 12:37] HarshKhandeparkar commented on #857
I will close this issue in a pr where this is documented in README.md file. @jywarren I noticed that the description of this repo has the link http://sequencer.publiclab.org can it be changed to have https?

[2019-03-19 12:37] VibhorCodecianGupta commented on #888
I was able to reproduce the issue. Tricky, this one. Trying to backtrack.

[2019-03-19 12:44] jywarren opened #892 "Add step selector too narrow on mobile view"
The new selector is awesome! I just noticed that on my phone it's a bit narrow. Should be a quick fix!

[2019-03-19 12:44] jywarren commented on #892
![Screenshot_20190319-083528](https://user-images.githubusercontent.com/24359/54606808-2feeca00-4a23-11e9-8b7d-0f2254333b06.png)

[2019-03-19 12:45] HarshKhandeparkar commented on #892
Duplicate.

[2019-03-19 12:45] #891 closed

[2019-03-19 12:45] HarshKhandeparkar commented on #892
Closed the other one

[2019-03-19 12:45] jywarren commented on #888
Thanks Vibhor!!!

On Tue, Mar 19, 2019, 8:38 AM Vibhor Gupta <notifications@github.com> wrote:

[2019-03-19 12:46] jywarren commented on #857
Yes that'd be great but I also set it up to force https now.

On Tue, Mar 19, 2019, 8:38 AM Harsh Khandeparkar <notifications@github.com>
wrote:

[2019-03-19 12:46] jywarren commented on #891
Oh whoops thanks Harsh you're too fast!!! 😂🎉🙌🏽

On Tue, Mar 19, 2019, 8:45 AM Harsh Khandeparkar <notifications@github.com>
wrote:

[2019-03-19 12:48] Harshithpabbati commented on #857
Do I need to document about beta.sequencer.publiclab.org

[2019-03-19 12:49] Harshithpabbati commented on #857
Ok I am done with the script.

[2019-03-19 12:59] HarshKhandeparkar commented on #891
Duplicate of #892