[2018-11-25 11:29] oorjitchowdhary opened #494 "Add 'Take a photo' as another option for initial load image step"
### Please describe the problem (or idea)
We can add another button -  **Take a photo** as an alternative to the **Choose file** in the initial load image step.

![screenshot 36](https://user-images.githubusercontent.com/39333058/48978530-c002af80-f0d2-11e8-9de3-fe68a7ef36a2.jpg)
A **'take a photo'** button will basically open the camera of the user device, click a picture 📸  and then load it in t

[2018-11-25 11:32] oorjitchowdhary commented on #487
Added these till now... Pls take a look at them...
1. add "take a photo" as alternative to "Choose file" in initial load image step
2. move "Download PNG" box down onto same line as "Save Sequence" leaving Add Step box full-width
3. add Resize module to list of quick buttons, as in this image

[2018-11-25 11:37] CodeSarthak commented on #491
Yes, @oorjitchowdhary , there are two instances of this on GCI. Should be removed asap to avoid confusion.

[2018-11-25 11:50] oorjitchowdhary opened #495 "Description text above quick buttons bar doesn't reset after adding a new module"
### Please describe the problem (or idea)
When we choose a new `module` from the drop-down, the description text above the quick buttons bar changes but after adding that `module` it doesn't revert back to the default text.

![imagesequencergooglechrome](https://user-images.githubusercontent.com/39333058/48978736-2a691f00-f0d6-11e8-8949-84a5a3870751.gif)

### Please show us where to look

https://

[2018-11-25 12:08] oorjitchowdhary opened #496 "Add a 'Start a new sequence' button"
### Please describe the problem (or idea)
Add a `start a new sequence` button in the header which when clicked, opens a new page 📄  for editing a new picture. The output of this button could either be loaded on the same tab or be opened in a new tab.

![screenshot 37](https://user-images.githubusercontent.com/39333058/48978876-99477780-f0d8-11e8-9414-92c615298fe5.jpg)

### Please show us where to

[2018-11-25 12:11] oorjitchowdhary commented on #487
Add some more #495 and #496

[2018-11-25 12:12] oorjitchowdhary commented on #487
Pls take a look and make a task on the gci dash so that i can claim it...
Also, I have to make issues for whole of the list right?

[2018-11-25 12:18] Rishabh570 commented on #487
You can create issues out of whole list but it's totally up to you...if you
want to do it or not :)

On Sun, 25 Nov, 2018, 17:42 Oorjit Chowdhary <notifications@github.com
wrote:

[2018-11-25 12:33] oorjitchowdhary commented on #487
Ok so I'll be getting credits on the GCI platform right?

[2018-11-25 12:33] oorjitchowdhary commented on #487
Which is the task which is to be claimed here

[2018-11-25 15:08] oorjitchowdhary commented on #487
@jywarren @rishabh570

[2018-11-25 20:57] JonathanXu1 commented on #491
Yep there are still the two tasks available on the dashboard. @oorjitchowdhary are you still working on it?

[2018-11-26 03:57] oorjitchowdhary commented on #491
@jonathanxu1 yes I'm working on it

[2018-11-26 05:10] Rishabh570 commented on #487
@oorjitchowdhary You can just create separate issues based on ideas suggested in the issue description and mention this issue if eligible you'll get credits for that...

[2018-11-26 19:06] #281 closed

[2018-11-26 19:06] #343 closed

[2018-11-26 21:34] jywarren commented on #487
Hi, creating a task now! https://codein.withgoogle.com/dashboard/tasks/5897760814399488/

[2018-11-26 21:52] JonathanXu1 commented on #484
Hey there, could I work on this for GCI? This task doesn't seem to be available on the dashboard but I'm also not aware if someone else is working on it...

[2018-11-26 21:57] JonathanXu1 commented on #487
Hey, I just claimed this task. Would you like me to make a separate issue for each bullet point?

[2018-11-26 22:04] jywarren commented on #247
This could be done as an alternative tab to the current "icons" ui approach. Or maybe you could think of another way it could be implemented! Perhaps so as not to have to auto-generate all the thumbnails unless you really want to?

Creating a GCI task now!

[2018-11-26 22:04] jywarren commented on #247
https://codein.withgoogle.com/dashboard/tasks/6720201132343296/

[2018-11-26 22:10] jywarren commented on #487
Sure, if you're able to add something significant to help guide people in
each issue. See, it wouldn't be much better than a list if it were just the
same item. Thanks!!!!

On Mon, Nov 26, 2018, 4:58 PM Jonathan Xu <notifications@github.com wrote:

[2018-11-26 22:16] JonathanXu1 opened #498 "Add toggle button next to step name"
This issue is a sub-issue of #487 , which is to be broken down into smaller issues.

So in the image-sequencer, each step has a config panel on the left, as shown below:
![image](https://user-images.githubusercontent.com/22998430/49045019-9a8ea800-f19d-11e8-8aad-c3f1bcbbae92.png)

What we want to do is to add a toggle-able "collapse" button next to step name (like "load-image") to hide image, desc

[2018-11-26 22:18] JonathanXu1 commented on #487
Here's an example: https://github.com/publiclab/image-sequencer/issues/498

Would you like it like this?

[2018-11-26 22:31] JonathanXu1 opened #499 "Add resize module to list of quick buttons"
This issue is a sub-issue of #487 , which is to be broken down into smaller issues.

In the image-sequencer, there are a list of quick-buttons so the user can add commonly-used layers quickly:
![image](https://user-images.githubusercontent.com/22998430/49045726-d460ae00-f19f-11e8-854f-530eb752ba31.png)

What we want to do is to add another quick-add button for the resize functionality. Here's the

[2018-11-26 22:31] JonathanXu1 commented on #487
Another issue: https://github.com/publiclab/image-sequencer/issues/499
For this GCI task to be completed, do I need to make issues for each of the bullet points?

[2018-11-26 22:39] jywarren commented on #499
great work!!

On Mon, Nov 26, 2018 at 5:33 PM gitmate[bot] <notifications@github.com>
wrote:

[2018-11-26 22:39] jywarren commented on #487
nope, just one or two is enough! Thank you!

On Mon, Nov 26, 2018 at 5:32 PM Jonathan Xu <notifications@github.com>
wrote:

[2018-11-26 22:40] JonathanXu1 opened #500 "Make sliders for range values touch-draggable"
This issue is a sub-issue of #487 , which is to be broken down into smaller issues.

As you can see in the link below, the image sequencer can take range values for many adjustments. What we would need to do is to make sliders that are touch-draggable  (similar to the slider for brightness) in steps such as contrast (below brightness).

Since this page uses the Bootstrap library, I'd highly recomm

[2018-11-26 22:41] JonathanXu1 commented on #487
Alright, three's the charm :)
Submitted the task!

[2018-11-26 22:46] JonathanXu1 commented on #466
Hey I'm interested in this task! Is anyone working on it? Just to clarify, will the add-step button display a drop-down and do the same thing as the "add-step" button on the bottom of the page?
![image](https://user-images.githubusercontent.com/22998430/49046749-2ce57a80-f1a3-11e8-9b4e-a3433066db2f.png)

[2018-11-26 22:49] JonathanXu1 commented on #356
@makoteq  I believe this task has either not appeared on GCI, someone already claimed it, or it was completed but not closed.

[2018-11-26 22:49] jywarren commented on #466
I think the insert-step button might actually insert the entire box as
shown above, but between two steps. This might mean we have to have a
method which "constructs" the html for the interface, and be able to call
it to be inserted in a given HTML element, and specify an index at which to
add the new step, you know?

On Mon, Nov 26, 2018 at 5:47 PM Jonathan Xu <notifications@github.com>
wrote:

[2018-11-26 22:50] jywarren commented on #487
amazing! very well done.

On Mon, Nov 26, 2018 at 5:41 PM Jonathan Xu <notifications@github.com>
wrote:

[2018-11-26 22:51] JonathanXu1 commented on #466
Oh cool, thanks for clarifying. And I presume it hides itself after a new step is created? I'd love to work on this task but I'm not sure if someone else is working on it...

[2018-11-26 23:05] JonathanXu1 commented on #247
Thanks for the speedy response! I'm thinking of replacing the icons with this, with a crop overlay above the image for a crop preview. So which adjustments would you like previews for?

[2018-11-27 00:08] jywarren commented on #247
Oh, interesting! I do think we should preserve the ability to not generate
the thumbnails depending on how intensive it is.

we should use the default settings for each step, and this may mean we need
to tweak them to be more as expected .... i.e. how blurry is default blur?
how bright is default brightness?

Would you like to start with the initial set of quick steps? Saturation
seems like a fun

[2018-11-27 00:09] jywarren commented on #466
yes, that's right. I don't think someone is at the moment?

On Mon, Nov 26, 2018 at 5:52 PM Jonathan Xu <notifications@github.com>
wrote:

[2018-11-27 00:13] jywarren commented on #496
This is great, and perhaps a first step could be some brainstorming about
what the UI could look like!

On Sun, Nov 25, 2018 at 7:10 AM gitmate[bot] <notifications@github.com>
wrote:

[2018-11-27 00:38] Divy123 commented on #466
I am working on it actually.
Sorry for being late.I am having my semester exams right now.
So will continue after 30th Nov. @jywarren  @JonathanXu1

[2018-11-27 00:54] jywarren commented on #466
Oh I'm sorry, no prob! Good luck with your exams!!!

On Mon, Nov 26, 2018, 7:39 PM Slytherin <notifications@github.com wrote:

[2018-11-27 01:55] JonathanXu1 commented on #247
I've never really worked with the image-sequencer ui before, though it is well documented. I made a new previewSequencer object in demo.js and set a custom ui for it, like so:

[code]

Am I going in the right direction? Not really sure how to call the ui for a saturation layer for example and load the image in a div. I don't know if I should do that at all 😅

[2018-11-27 04:19] Rishabh570 commented on #484
Yes, you can work on it as it's not claimed by anybody yet...I've created a draft for it, pinging @jywarren for reviewing it and publishing it :)

[2018-11-27 12:55] gauravano commented on #487
Hi @oorjitchowdhary, all issues looks good, please append the issue number in the checklist so that no-one else opens the same issue. Thanks!

[2018-11-27 12:58] oorjitchowdhary commented on #487
I have mentioned this issue in all of them..

[2018-11-27 12:59] oorjitchowdhary commented on #487
#492 #493 #494 #495 #496 all are opened up by me..

[2018-11-27 13:05] gauravano commented on #487
![screenshot from 2018-11-27 18-34-10](https://user-images.githubusercontent.com/20878070/49083591-127ad200-f273-11e8-9244-652a78a3716b.png)

Mention after the above tasks in issue body.

[2018-11-27 13:07] oorjitchowdhary commented on #487
You mean to checklist here.. I'm actually unable to edit that

[2018-11-27 14:41] JonathanXu1 commented on #491
@oorjitchowdhary you also seem to be working on issue #487 . Keep in mind that according to GCI, you can only work on one issue at a time

[2018-11-27 14:50] oorjitchowdhary commented on #491
@JonathanXu1 Yeah I know.. my #487 got approved so I'll do this now...

[2018-11-27 15:02] JonathanXu1 commented on #247
I've never really worked with the image-sequencer ui before, though it is well documented. I made a new previewSequencer object in demo.js and set a custom ui for it, like so:

[code]

Am I going in the right direction? Not really sure how to call the ui for a saturation layer for example and load the image in a div. I don't know if I should do that at all 😅

[2018-11-27 16:40] oorjitchowdhary commented on #491
![oorjitrunningoraclevmvir](https://user-images.githubusercontent.com/39333058/49096601-deaea500-f290-11e8-8bad-62a7b94f0a83.gif)
@aashna27 I'm stuck here.. Through my changes in the code, it takes the `load-image` as the image in brightness but somehow doesn't show the file uphead... It is only visible after a change in the `brightness` .. Check out the gif which explains this..

[2018-11-27 17:01] aashna27 commented on #491
I am busy with a submission today so if anyone from @publiclab/mentors could have a look till then.

[2018-11-27 17:14] oorjitchowdhary commented on #491
Yeah sure

On Nov 27, 2018, at 10:31 PM, aashna27 <notifications@github.com<mailto:notifications@github.com>> wrote:

[oorjitrunningoraclevmvir]<https://user-images.githubusercontent.com/39333058/49096601-deaea500-f290-11e8-8bad-62a7b94f0a83.gif>
@aashna27<https://github.com/aashna27> I'm stuck here.. Through my changes in the code, it takes the load-image as the image in brightness but somehow do

[2018-11-27 17:15] oorjitchowdhary commented on #491
Okay sure

[2018-11-27 20:30] JonathanXu1 commented on #337
Hey there, is anyone working on this?

[2018-11-27 23:04] jywarren commented on #484
published!

On Tue, Nov 27, 2018 at 3:27 PM Jonathan Xu <notifications@github.com>
wrote:

[2018-11-28 01:07] JonathanXu1 commented on #484
Is there a link?

[2018-11-28 01:10] JonathanXu1 commented on #466
Ah no worries, good luck on your exams!

[2018-11-28 13:19] JonathanXu1 commented on #484
Oh it seems like this is a beginner task. My bad.

[2018-11-28 17:34] oorjitchowdhary commented on #491
@aashna27 Could you help me..

[2018-11-28 17:39] aashna27 commented on #491
Yeah sure. I ll look for the bug.

[2018-11-28 18:38] oorjitchowdhary commented on #491
`https://github.com/publiclab/image-sequencer/blob/main/src/modules/Convolution/Module.js`
`https://github.com/publiclab/image-sequencer/blob/main/src/modules/Brightness/Module.js`
There is no difference between the modules of `brightness` and `convolution` apart from the different functions.. But still we can see the picture by using `convolution` whereas it doesn't show up in `brightness`

[2018-11-28 18:38] oorjitchowdhary commented on #491
I'm unable to understand this..

[2018-11-28 18:38] oorjitchowdhary commented on #491
@aashna27 @Paarmita

[2018-11-28 18:57] oorjitchowdhary commented on #356
@Paarmita @jywarren @SidharthBansal Has this issue been already solved? I can't find any PRs related to this

[2018-11-28 19:04] oorjitchowdhary commented on #496
@jywarren @gauravano I think I'd like to work on this after I complete #491

[2018-11-28 20:13] jywarren commented on #496
that'd be great! I think we may want to do some sketching -- consider using
a mockup program or a document like this one:

https://docs.google.com/presentation/d/1TCZoTfuhamRVrUak8aDgqJAwSgyhRtZg2Pgacl2_4zc/edit?usp=slides_home&ths=true

to experiment a bit with how it ought to look!

On Wed, Nov 28, 2018 at 2:06 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-11-28 20:46] jywarren commented on #356
If there hasn't been a PR, i think it is still open. Do you see the
described design in the demo? Thanks!

On Wed, Nov 28, 2018 at 1:57 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-11-29 09:18] oorjitchowdhary commented on #491
Anyone pls help.. I have my deadline today

[2018-11-29 12:40] oorjitchowdhary commented on #491
@tech4GT with no changes in the respective code modules.. The brightness module doesn't show the picture whereas the contrast, convolution.. All show the picture from the previous step...

[2018-11-29 12:50] tech4GT commented on #491
I guess that’s because the default value is set to 0 no?

[2018-11-29 15:39] oorjitchowdhary commented on #491
@tech4GT I'm unable to change it through the brightness module

[2018-11-29 16:18] oorjitchowdhary commented on #491
The default .. where do I change it?

[2018-11-29 16:32] jywarren commented on #491
It should be in the info.json file inside /src/modules/Brightness/, I
believe!

On Thu, Nov 29, 2018 at 11:19 AM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-11-29 16:34] oorjitchowdhary commented on #491
If I edit it there, nothing happens.. It still shows brightness=100 in the default

[2018-11-29 16:37] jywarren commented on #491
Did you run `grunt build` after making the change? That will compile
everything in /src/ into the final /dist/ directory.

On Thu, Nov 29, 2018 at 11:35 AM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-11-29 16:39] oorjitchowdhary commented on #491
Oh.. lemme check that out

[2018-11-29 16:51] oorjitchowdhary commented on #491
![screenshot 39](https://user-images.githubusercontent.com/39333058/49237825-164e5600-f425-11e8-9fd4-e9cc7c47ffc9.png)
Pls help me with this...

[2018-11-29 19:57] jywarren commented on #491
ah, have you installed all modules with `npm install`? It looks like it's
missing a dependency. Great work sticking with this, you'll get it soon,
i'm sure!

On Thu, Nov 29, 2018 at 11:52 AM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-11-29 20:08] tech4GT commented on #491
You’ll have to change it in Module.js file of the brightness module

[2018-11-29 20:14] tech4GT commented on #491
https://github.com/publiclab/image-sequencer/blob/ddf4bd0dae5bb40e8144b2a10979e59dc12752ed/src/modules/Channel/Module.js#L6
This is how you can add that default value.
Something like
[code]

[2018-11-30 01:16] jywarren commented on #247
Hm, so I think rather than building a UI, you could make new images outside -- so something like this:

[code]

What do you think? This is probably not exactly right, but a decent start...

[2018-11-30 03:19] oorjitchowdhary commented on #491
Yes I figured that out.. That doesn't work out too..

[2018-11-30 03:46] oorjitchowdhary commented on #491
![oorjitrunningoraclevmvir 1](https://user-images.githubusercontent.com/39333058/49267426-77574780-f480-11e8-8bf1-90c115b93e96.gif)
Brightness module takes input as blank white screen on default...

[2018-11-30 03:47] oorjitchowdhary commented on #491
![oorjitrunningoraclevmvir](https://user-images.githubusercontent.com/39333058/49267445-948c1600-f480-11e8-9da7-9d8b1cf9f349.gif)
The output of previous step is only taken as `input` when you change the brightness through the bar..

[2018-11-30 03:52] oorjitchowdhary commented on #491
So when you download this one, it downloads the edited picture

[2018-11-30 03:53] tech4GT commented on #491
Hmm I would have too look through this in code then, I’ll see this as soon as I get some time. 🙂

[2018-11-30 03:54] oorjitchowdhary commented on #491
So what should I do for my gci task. I have 12 hrs left..

[2018-11-30 03:55] tech4GT commented on #491
Oh, sorry I did not know that, I’ll look through this in an hour or two then. Don’t worry we’ll get this done. :)

[2018-11-30 04:05] oorjitchowdhary opened #506 "Documentation of MODULES is incomplete"
### Please describe the problem (or idea)
MODULES.md is complete.
It has information only about 3 modules which are:-
* Crop Module
* FisheyeGI
* Colormap

We can add information about the other modules as well so it is a complete file.
Also, when someone adds a new module, he/she could also add info about it here.

This could be a good **documentation** issue for newcomers or maybe frequent contr

[2018-11-30 04:06] oorjitchowdhary commented on #491
Okay

[2018-11-30 06:18] tech4GT commented on #491
@oorjitchowdhary This looks like a browser issue to me, this works fine in my browser!
<img width="375" alt="screen shot 2018-11-21 at 10 50 19 am" src="https://user-images.githubusercontent.com/25617855/49271989-dc696800-f495-11e8-8d8d-d19206359393.png">

[2018-11-30 06:21] tech4GT opened #507 "Brightness slider is not going all the way"
<img width="1147" alt="screen shot 2018-11-30 at 11 52 27 am" src="https://user-images.githubusercontent.com/25617855/49272119-716c6100-f496-11e8-80e5-28097c7f0197.png">
The brightness slider is not going all the way for full values.

[2018-11-30 06:42] oorjitchowdhary commented on #491
@tech4GT so the issue is solved in your browser? That is umm.. Surprising 🤔

[2018-11-30 07:17] oorjitchowdhary commented on #507
Yes @tech4GT.. Even I encountered this problem.. But I was unable to work out the solution.. This must be css error right?

[2018-11-30 09:14] bhavayAnand9 commented on #491
Confirmed this issue with chrome, safari.

[2018-11-30 10:54] oorjitchowdhary commented on #491
@tech4GT @jywarren @aashna27 If it is a browser issue, then the code is working fine and any changes to it aren't required... Right?
So, I believe, I should submit my task for review 🤔

[2018-11-30 11:29] tech4GT commented on #491
I wonder why it works on my computer though?

[2018-11-30 11:38] bhavayAnand9 commented on #491
If you do a fresh build & run and then add the first step as brightness then only this issue will occur.

[2018-11-30 12:00] oorjitchowdhary commented on #491
@bhavayAnand9 So i have to the `rgb values` to 1.5? and add that `console.log`?

[2018-11-30 12:41] bhavayAnand9 commented on #491
@oorjitchowdhary No, not rgb values but `val` variable which is declared in line 23 in module.js. and this isn't a fix instead just a way to help you figure out what is going wrong and where.

[2018-11-30 12:43] oorjitchowdhary commented on #491
Uhh

[2018-11-30 12:44] oorjitchowdhary commented on #491
So i remove `(options.brightness)/100.0` and put it as 1.5

[2018-11-30 13:04] oorjitchowdhary commented on #491
Not working

[2018-11-30 13:36] bhavayAnand9 commented on #491
Oh, This is so simple fix.

Explanation:
`val` value is dependent on `option.brightness` which is a  parameter to `Brightness` function. If you console log `options.brightness` you'll find it undefined, which I don't know why that is.

so adding this line `options.brightness = options.brightness || 100;` will set the `option.brightness ` value to 100 only if it's undefined.

@oorjitchowdhary Here'

[2018-11-30 15:53] oorjitchowdhary commented on #491
Wow.. I had tried that long ago.. but placed it in above the `function changePixels`

[2018-11-30 17:50] #491 closed

[2018-11-30 17:50] jywarren commented on #491
oh wow, so were you all able to figure this out? That's awesome!

On Fri, Nov 30, 2018 at 10:55 AM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-11-30 18:37] oorjitchowdhary commented on #491
@jywarren yes.. TEAMWORK = OPEN SOURCE = 💯🔥

[2018-11-30 18:38] oorjitchowdhary commented on #491
https://codein.withgoogle.com/tasks/6322686255955968/?sp-organization=6519545549291520&sp-is_beginner=False

Another thing.. There is duplicate of this same task.. It should be removed asap

[2018-11-30 19:36] jywarren commented on #491
Great! did this. 🙌 👍 💯

[2018-11-30 20:06] JonathanXu1 commented on #247
Hey, thanks so much for the clarification. I've created the function as outlined, but I'm not sure how to get images from the sequencer and pass it to the insertImage function.
https://github.com/publiclab/image-sequencer/blob/6377dbe8d5de37a1722d0fedca00a6b65ec087a7/examples/demo.js#L28-L45

 It might be related, but I'm also getting errors on that line of code:
![image](https://user-images.githu

[2018-11-30 22:00] jywarren commented on #247
In this case, you can probably just get the last image on the page using
CSS selectors in jQuery. But there are multiple ways to get the image -
that's probably just the fastest -- $('.step:last img')[0].src -- or maybe
a more specific selector?

We should actually have a faster way to access the output image. Perhaps we
should create a set of faster access methods to simplify things. The way to
g

[2018-11-30 23:36] #507 closed

[2018-12-01 08:16] CodeSarthak opened #511 "Fix alignment of Add Step button and dropdown"
Fix alignment of add step button and the dropdown besides at at http://sequencer.publiclab.org/examples/#steps=

It requires simple changes in the html/css code of Image Sequencer repository

they should be in same line i.e. aligned.

### Please show us where to look

http://sequencer.publiclab.org/examples/#steps=

### Browser, version, and operating system

Windows 10, Google Chrome

****

## Th

[2018-12-01 08:16] CodeSarthak commented on #511
![alignment](https://user-images.githubusercontent.com/24937677/49325870-8a951080-f56f-11e8-8385-4316ed69c631.PNG)

[2018-12-01 08:21] CodeSarthak opened #512 "add "take a photo" as alternative to "Choose file" in initial load image step"
Currently, only "Choose File" is available as a option. Add another option besides that for taking a picture.

A "Choose Photo" button

### Please show us where to look

http://sequencer.publiclab.org/examples/#steps=

### Browser, version, and operating system

Windows 10, Google Chrome

****

## Thank you!

[2018-12-01 08:23] CodeSarthak opened #513 "add a "start a new sequence" button in the header"
Adding a "New Sequence" button is a good idea as it allows us to start from scratch if we make a mistake.

A "Add Sequence" button in the header

### Please show us where to look

http://sequencer.publiclab.org/examples/#steps=

### Browser, version, and operating system

Windows 10, Google Chrome

****

## Thank you!

[2018-12-01 08:37] Rishabh570 commented on #511
@CodeSarthak This is resolved in [this](https://github.com/publiclab/image-sequencer/pull/501) I guess...

[2018-12-01 09:09] oorjitchowdhary commented on #487
Hi @codesarthak.. I understand you are trying to complete this gci task.. But I've already opened some issues which you opened up too..

[2018-12-01 09:10] oorjitchowdhary commented on #487
#512 is the same as #496 opened by me

[2018-12-01 09:17] oorjitchowdhary commented on #487
#512 is the same as #494 opened by me
#513 is the same as #496
Pls open up different issues as duplication of issues leads to a lot of confusion...
Thanks 😃

[2018-12-01 11:37] CodeSarthak commented on #487
Oh @oorjitchowdhary , really very sorry. Actually, I got confused because they were not checked in the checklist. Will pick up some others.  : )

[2018-12-01 11:38] CodeSarthak commented on #512
Duplicate

[2018-12-01 11:38] #512 closed

[2018-12-01 11:38] CodeSarthak commented on #513
Duplicate

[2018-12-01 11:38] #513 closed

[2018-12-01 14:40] JonathanXu1 commented on #247
Yeah I think getting a much more formalized way to get sequencer output would be much appreciated.

Here's my error when I use **$('.step:last img')[0].src**
![image](https://user-images.githubusercontent.com/22998430/49329394-3298e280-f54c-11e8-92b3-3e1979de20c0.png)

Here's the error when I use **previewSequencer.images.image1.steps[0].output.src**
![image](https://user-images.githubusercontent.

[2018-12-01 16:54] Rishabh570 opened #514 "Command for installation is wrong in the readme."
## First Timers Only
Hi, this is a first-timers-only issue. This means this has been worked to make it more legible to folks who either haven't contributed to our codebase before or even folks who haven't contributed to open source before.

If you have contributed before, consider leaving this one for someone new, and looking through our general help wanted issues. Thanks!

### Please describe the

[2018-12-01 17:00] oorjitchowdhary commented on #514
Can i fix this?

[2018-12-01 17:33] oorjitchowdhary commented on #514
I kinda already made a pull request as it was a very small issue.. So should I close it to welcome a newcomer or let it be as is... 😢

[2018-12-01 17:40] oorjitchowdhary commented on #514
Ok I closed it down... Any newcomer may solve this. 😄

[2018-12-01 17:51] oorjitchowdhary commented on #506
@jywarren @aashna27 @Paarmita @Rishabh570

[2018-12-02 01:04] jywarren commented on #506
this would be good but I wonder if documentation may focus on the info.json
files of each module. Would it be possible to add more documentation there,
rather than compiled into one place? Or perhaps there should be a short
documentation in the info.json (and the description shown on the demo) but
it could provide a link to the MODULES.md file on the web, to read a
longer-form documentation there?

[2018-12-02 01:05] jywarren commented on #514
That's kind of you, Oorjit, thank you!!!

On Sat, Dec 1, 2018 at 12:40 PM Oorjit Chowdhary <notifications@github.com>
wrote:

[2018-12-02 04:17] tsparksh opened #516 "Show spinner icon while gif is generating"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-12-02 04:17] thesparks commented on #516
#487

[2018-12-02 10:48] gauravano commented on #511
Closing this issue as already solved as pointed by @Rishabh570. Thanks!

[2018-12-02 10:48] #511 closed

[2018-12-02 13:07] gauravano commented on #516
@publiclab/image-sequencer-guides please review the task details. Thanks!

[2018-12-02 14:57] oorjitchowdhary commented on #506
@jywarren I found the doc with only three modules so I pointed it out..
Yes, I think providing a link to MODULES.md would be better.. It'd be a neat and clean way of organizing our repo and describing the modules too

[2018-12-02 16:55] aashna27 commented on #500
would work on this.

[2018-12-02 17:19] JonathanXu1 commented on #247
@jywarren @publiclab/reviewers Sorry I have 6 hours left on this task..

[2018-12-04 03:06] JonathanXu1 commented on #247
What's interesting to note is that the images object does exist:

![image](https://user-images.githubusercontent.com/22998430/49416245-55dbb180-f747-11e8-8052-9d4bc001b40c.png)

However, it is printed after the error on line 47, which is technically above it. So I'm thinking this may be due to the fact that the function to load the object starts running before it has completely loaded? I'm not sur

[2018-12-04 03:37] jywarren commented on #247
I'm very sorry, I didn't have a moment to check in on this today and will
do my best to help out in the morning! Thanks for your patience!

On Mon, Dec 3, 2018, 10:06 PM Jonathan Xu <notifications@github.com wrote:

[2018-12-04 03:41] JonathanXu1 commented on #247
No worries, you've got a lot on your plate! Good night.

[2018-12-04 15:38] kevinzluo commented on #247
Hi @JonathanXu1
Since you've claimed this task https://github.com/publiclab/plots2/issues/2866 for GCI, would you mind letting me take a shot at this one? I can't guarantee I can even get half as far as you did, this seems really interesting.

Thanks,
Kevin Luo

[2018-12-04 17:35] jywarren commented on #247
Hmm, maybe @kevinzluo could help move this along... in any case whoever takes it on please work collaboratively! https://github.com/publiclab/image-sequencer/pull/504

[2018-12-04 17:36] jywarren commented on #247
I think this has to do with asynchronous events, and we may have to execute the steps that are throwing an error in a callback, which Image Sequencer allows for on some of it's methods (see docs). So, the callback is a passed function which would run once the sequencer is done...

Are you working off the latest code in https://github.com/publiclab/image-sequencer/pull/504 ?

[2018-12-04 18:10] kevinzluo commented on #247
Hi!

I haven't had a chance to really look at the code until this morning, and my initial idea is a bit different from what @JonathanXu1 is suggesting. Should I open up a new PR?

Also, could you please approve my task here (https://codein.withgoogle.com/dashboard/task-instances/5423277104168960/) so that I may go ahead and start working on this one?

Thanks!

[2018-12-04 18:50] oorjitchowdhary commented on #489
@rajcrk are you still working on this? if not, @publiclab/mentors can I take this up?

[2018-12-04 19:45] adiwahyudi02 commented on #356
Can I take this issue? @jywarren @Paarmita

[2018-12-04 20:21] aashna27 commented on #489
Since this is a first timer issue I would suggest you to move on with some other as you have already helped solve many other issues and let it be for someone new. :-)
@oorjitchowdhary

[2018-12-05 00:48] JonathanXu1 commented on #247
Yep, I'll push again to make sure.

[2018-12-05 03:25] bhavayAnand9 opened #530 "input text is too close to edges"
### Please describe the problem (or idea)
As described in this [comment](https://github.com/publiclab/image-sequencer/pull/510#issuecomment-443931221), due to the form-class in demo.css the fields in text input are now too close to the edges.

#### What happened just before the problem occurred? Or what problem could this idea solve?
using .form-control[type="range"] might solve the problem

Too c

[2018-12-05 03:52] kevinzluo commented on #530
The changes should be made here:
https://github.com/publiclab/image-sequencer/blob/2161d58e501c0436d0e7cb420ca45114ece464ba/examples/demo.css#L45-L47

DIFF:
[code]

[2018-12-05 07:18] oorjitchowdhary commented on #489
@aashna27 Okay sure.. 😃

[2018-12-05 11:12] Rishabh570 commented on #516
@thesparks It can be converted into a `fto` issue if you provide the DIFF of required changes...it will help a newcomer :)
Pinging @publiclab/image-sequencer-guides

[2018-12-05 11:16] oorjitchowdhary commented on #335
@publiclab/image-sequencer-guides Is this already solved?

[2018-12-05 12:37] thesparks commented on #516
@Rishabh570, I'm not sure that I completely understood what you mean

If I understand correctly, then I need to add this? My English is poor, sorry

[2018-12-05 12:45] Rishabh570 commented on #516
@thesparks What I was saying is you can show what lines to add and what lines to remove in order to achieve what the issue is about...
For example, if you want to change the word `good` to `best` in some file, the DIFF will look like...

![screenshot from 2018-12-05 18-13-19](https://user-images.githubusercontent.com/25483260/49514253-86435d00-f8b9-11e8-8f8b-1874303d591f.png)

which will render th

[2018-12-05 13:14] thesparks commented on #516
@Rishabh570, Thank you! Is it okey now?

[2018-12-05 13:22] Rishabh570 commented on #516
@thesparks Looks good :tada:

[2018-12-05 13:33] thesparks commented on #516
@Rishabh570, so can you accept task now?

[2018-12-05 13:58] Rishabh570 commented on #516
Oh...Sure :+1:

[2018-12-05 14:44] lwahlnayar commented on #514
Newcomer here. Has this issue already been taken care of, or can I go for it? Already made a pull request =)

[2018-12-05 14:45] oorjitchowdhary commented on #514
No this hasn't been solved.. You can solve this one

[2018-12-05 14:46] oorjitchowdhary commented on #514
Wait a min.. I think @momomen solved it

[2018-12-05 14:47] oorjitchowdhary commented on #514
@lwahlnayar You can try other `first-timers-only` or `fto-candidate` issues

[2018-12-05 15:44] VibhorCodecianGupta commented on #459
@jywarren Is this issue up for grabs?

[2018-12-05 15:46] VibhorCodecianGupta commented on #464
@jywarren can I resolve this one?

[2018-12-05 15:48] VibhorCodecianGupta commented on #458
@jywarren this has been inactive for a while, shall I take this up?

[2018-12-05 16:01] jywarren commented on #458
sure, is anyone currently working on it?

On Wed, Dec 5, 2018 at 10:49 AM Vibhor Gupta <notifications@github.com>
wrote:

[2018-12-05 16:01] VibhorCodecianGupta commented on #458
Doesn't look like it

[2018-12-05 16:13] jywarren commented on #458
Sure, then, go ahead! Thank you!

On Wed, Dec 5, 2018 at 11:02 AM Vibhor Gupta <notifications@github.com>
wrote:

[2018-12-05 16:13] jywarren commented on #459
yes please!

On Wed, Dec 5, 2018 at 10:45 AM Vibhor Gupta <notifications@github.com>
wrote:

[2018-12-05 16:14] jywarren commented on #464
haha - one at a time i guess but we'd love your help on all these :-)

On Wed, Dec 5, 2018 at 10:47 AM Vibhor Gupta <notifications@github.com>
wrote:

[2018-12-05 16:23] VibhorCodecianGupta commented on #464
Yes, sure!

[2018-12-05 16:42] Mridul97 commented on #458
@VibhorCodecianGupta I am working on this one. Could you please take up any other issue. Thanks!

[2018-12-05 16:54] jywarren commented on #458
Sorry Mridul, i keep replying in my email inbox, and not seeing prior
comments. Apologies!

On Wed, Dec 5, 2018 at 11:43 AM Mridul97 <notifications@github.com> wrote:

[2018-12-05 16:57] Mridul97 commented on #458
No problem at all! @jywarren

[2018-12-05 19:08] VibhorCodecianGupta commented on #458
@Mridul97 yup, no issues!

[2018-12-06 06:39] kevinzluo commented on #498
I'd like to work on this.

[2018-12-06 11:48] JonathanXu1 commented on #498
@jywarren are all the sub tasks now available for codein?

[2018-12-06 12:45] kevinzluo commented on #498
I think only the ones tagged with `gci-candidate` are available. I just did this task because I saw it last night and thought I could help out (though if anyone wants to give me  credit I'm not complaining :grin:). I am still waiting for [this task](https://github.com/publiclab/leaflet-environmental-layers/issues/73) to be added to the dashboard.

[2018-12-06 16:54] okonek commented on #247
@jywarren Hi I've added that feature in this PR: https://github.com/publiclab/image-sequencer/pull/535 If I misunderstood your explanation or there is something to change in my solution, please let me know.
Thanks.

[2018-12-06 20:51] jywarren commented on #498
We can add any subtasks, we'd love to!

On Thu, Dec 6, 2018 at 7:45 AM kevinzluo <notifications@github.com> wrote:

[2018-12-07 13:37] aashna27 commented on #494
I am working on this.

[2018-12-07 17:42] #514 closed

[2018-12-08 13:11] HarshKhandeparkar commented on #464
Is this resolved yet? Is anyone already working on this?

[2018-12-08 14:47] VibhorCodecianGupta commented on #464
Yup, I'm working on this!

[2018-12-08 15:21] HarshKhandeparkar commented on #464
Ok. NP.

[2018-12-08 15:40] tech4GT commented on #489
I think this was solved, closing this now! Thanks everyone! :smile:

[2018-12-08 15:40] #489 closed

[2018-12-08 19:32] jywarren opened #537 "Module not found error on demo"
I tried to load the ndvi module with:

http://sequencer.publiclab.org/examples/#steps=nvdi,colormap

But I got this error:

[code]

[2018-12-08 19:33] jywarren commented on #537
We should ensure all modules pass tests!

[2018-12-09 06:12] tech4GT commented on #537
I'll look into this @jywarren

[2018-12-09 06:13] tech4GT commented on #537
Hmm, maybe some tests were modified in previous pull requests, I'll make sure test are fine too! Also I was thinking of setting up LGTM, what say?

[2018-12-09 06:17] tech4GT commented on #537
Update: @jywarren Actually ndvi is not spelled correctly in the link, it says `nvdi` and not `ndvi`
lol

[2018-12-09 06:17] #537 closed

[2018-12-09 07:14] oorjitchowdhary commented on #427
![imagesequencergooglechrome](https://user-images.githubusercontent.com/39333058/49694429-eaaf3680-fbaf-11e8-88ee-02ed4432800d.gif)

Here's the issue.. The `Download` button in the `View GIF` doesn't work.. Perhaps this issue needs some rephrasing..
I think there's no output for the button when clicked...

[2018-12-09 08:07] tech4GT commented on #427
<img width="1324" alt="screen shot 2018-12-09 at 1 37 06 pm" src="https://user-images.githubusercontent.com/25617855/49694833-8db77e80-fbb7-11e8-8f3c-dc57fdd56c49.png">

[2018-12-09 14:37] JonathanXu1 commented on #247
I've made pull request https://github.com/jywarren/image-sequencer/pull/11 that applies my changes on top of @okonek 's. @jywarren can merge both our forks, or @okonek can apply my changes to his fork.

[2018-12-10 00:40] jywarren commented on #537
LOL omg that's a relief! Let's NOT add a spellcheck to the codebase though 😂

[2018-12-11 07:06] Divy123 commented on #466
@jywarren  I am working on the issue right now.
There is a problem that none of the changes that I am making are being visible on my localhost.
Can you please help me with this?

[2018-12-11 22:24] oorjitchowdhary opened #540 "Enhance the /research page"
### Please describe the problem (or idea)
The current research page is the exact replica of dashboard also accessible to users who aren't logged in.

I think we enhance this page to just show our recent activity ranging from questions, notes and wiki pages.

Through this, we aren't exactly replicating the dashboard, giving logged in users a special page (`/dashboard`) and are also showing non logg

[2018-12-13 20:33] jywarren opened #541 "paint bucket (flood-fill) module"
Breaking out of #165, this would take inputs of:

* a color to fill with
* x, y coordinate **starting pixel** to begin filling at
* (not in first version) - threshold -- see below

It would paint bucket fill starting at the given pixel and expanding outward.

Threshold means that the fill would fill any adjacent pixel of the same color OR within `threshold` value of that starting pixel color. It's

[2018-12-13 20:38] jywarren commented on #541
https://github.com/hughsk/flood-fill should be usable for this until we want to do thresholds!

`require('flood-fill')(ndarray, x, y, fillValue)`

We should make the default `fillValue` be white, for starters, i guess?

[2018-12-13 20:55] jywarren opened #542 "Make Fisheye-gl module compatible with nodejs"
This module uses webgl, which isn't available in Node, so let's try to use one of these libraries to make this possible:

https://github.com/publiclab/image-sequencer/tree/main/src/modules/FisheyeGl

This lib is a pure-JavaScript implementation of OpenGL, so it could work on servers without a GPU: https://github.com/Overv/JSGL

This one, i believe, would just make the GPU accessible to Node, so is

[2018-12-14 08:14] Divy123 opened #544 "Clear offline cache link not working properly."
"Clear cache link" at the bottom of the page is not working properly. At times it fails to clean cache and button stops working.

[2018-12-14 15:38] Divy123 commented on #466
Thanks @jywarren .One more thing while the majority of the work is done, that please look into the screenshot below:
![screenshot from 2018-12-14 21-03-21](https://user-images.githubusercontent.com/31225007/50012184-fb164580-ffe3-11e8-8c2b-06e2b6aacee5.png).
Getting a basic understanding I have added appropriate index in the run function but still the step is being added at the last. Can you pleas

[2018-12-14 16:58] tech4GT commented on #466
@Divy123 I think the problem here is not with run but with addSteps method, I think we need to use the insertSteps method to put the steps in the right order.

[2018-12-14 17:01] Divy123 commented on #466
@tech4GT  please see this. I have changed it like this but still not working.
![screenshot from 2018-12-14 22-29-57](https://user-images.githubusercontent.com/31225007/50016693-e9d33600-ffef-11e8-948c-7b68d542a7cf.png)

[2018-12-14 17:17] tech4GT commented on #466
I think the function needs the image too, do check out given by @jywarren above and try it in that format, if that doesn't work I'll be more than happy to look at your code.
PS It's kind of late here so I may get to it tom. :smile:

[2018-12-14 18:35] Divy123 commented on #466
@tech4GT I tried passing ( _sequencer.images,id+1,stepName) as arguments to insertStep but then I am getting errors.
Probably the errors are due to me passing wrong arguments. Can you please help me understand the role of image in the set of parameters?
Attached is the error I am getting:
![screenshot from 2018-12-14 23-59-56](https://user-images.githubusercontent.com/31225007/50020763-fc07a100-ff

[2018-12-15 10:03] Divy123 commented on #466
This particular issue is resolved!

[2018-12-15 17:16] Divy123 commented on #466
@tech4GT  I have almost don the work. Just one thing is there I am not able to figure out.
The inserted step is added at the correct position in steps array, the url is getting updated correctly but in the UI the inserted step is always being added at the last.Though on  a page refresh all the steps including the newly inserted one comes at its correct position. Can you please help me with that?

[2018-12-15 17:39] tech4GT commented on #466
oh, try looking into the run function, I think the steps are not being re-run properly.

[2018-12-15 17:41] tech4GT commented on #466
Try running it from 0, if that works then you can figure out the right index. Glad to hear you are making progress on this :blush:

[2018-12-16 00:23] jywarren opened #546 "Tests for more modules; starting with QR code module jsqr"
We are starting to grow this library substantially and could really use more tests for specific modules. One example is that this pull request is trying to update `jsqr` but we don't test that module, so we don't know if that update breaks the module: #532

The test could look something like this one, and be in the same folder; we could use a data-url encoded QR code as test data, and confirm that

[2018-12-16 13:30] avsingh999 opened #547 "Add Step button and select fields not inline"
### Please describe the problem (or idea)

![pub3](https://user-images.githubusercontent.com/25536022/50054112-b49c2480-0164-11e9-82af-1d9344601d72.png)

### Please show us where to look

http://sequencer.publiclab.org...

### What's your PublicLab.org username?
singhav

### Browser, version, and operating system
chrome Ubuntu 18.04 LTS

****

## Thank you!

Your help makes Public Lab better! We *

[2018-12-16 14:50] jywarren commented on #547
I think this may have been fixed in the latest main branch... Would you
mind testing it out? Thank you!

On Sun, Dec 16, 2018, 8:32 AM gitmate[bot] <notifications@github.com wrote:

[2018-12-16 17:36] Divy123 commented on #459
Is this issue still open? I would love to work on this.

[2018-12-16 17:37] VibhorCodecianGupta commented on #459
@Divy123 this is almost done! could you find another issue? :D

[2018-12-16 17:53] Divy123 commented on #542
Is this issue still open? I would like to work upon it.

[2018-12-16 17:56] Divy123 commented on #459
yeah sure @VibhorCodecianGupta :smile:

[2018-12-16 21:04] jywarren commented on #542
Oh this would be really cool!

On Sun, Dec 16, 2018, 12:53 PM Slytherin <notifications@github.com wrote:

[2018-12-17 11:04] #466 closed

[2018-12-17 11:05] #544 closed

[2018-12-17 15:48] avsingh999 commented on #547
yes, you are right I will close this and
thank you for inform me : )

[2018-12-17 15:49] #547 closed

[2018-12-18 04:28] tech4GT opened #550 "Modularize the pixelManipulation API"
I think we should break out parts like export image from pixel manipulation, it should make the whole api a little more flexible.
cc @jywarren

[2018-12-18 04:47] Mridul97 commented on #550
I would love to work on this. Can I take up this issue?

[2018-12-18 04:52] tech4GT commented on #550
Mridul let's collaborate on this, i was thinking maybe we can push this on top of the other modularization issue.
We need to be careful with this though, not to break any existing code since a lot of it depends on pixemanipulation.

[2018-12-18 05:03] Mridul97 commented on #550
Okay, that sounds good!

[2018-12-18 12:42] gauravano commented on #405
Hi @sk9331657 @tech4GT Is this issue still up for claim as referenced PR seems to be unrelated to the issue? Thanks!

[2018-12-18 12:46] gauravano commented on #386
Hi @tech4GT @aashna27 how about opening a FTO from this one? Thanks!

[2018-12-18 13:31] gauravano commented on #386
Just checked @tech4GT. It's fixed. Thanks!

[2018-12-18 13:31] #386 closed

[2018-12-18 15:23] jywarren commented on #550
Yes, and perhaps some of the expanded per-module tests I opened an issue
for could help us to build confidence as we further modularize code.

For this one, i think we might develop a folder in, say,
/src/pixel-manipulation/ or /src/util/pixel-manipulation/ (or another that
makes sense to you!) to contain subparts of the pixelManipulation code. How
does that sound?

On Tue, Dec 18, 2018 at 12:03 A

[2018-12-18 16:23] #470 closed

[2018-12-19 11:42] #494 closed

[2018-12-20 15:33] HarshKhandeparkar commented on #493
Can I work on this?

[2018-12-20 17:31] oorjitchowdhary commented on #493
Sounds good!

[2018-12-20 17:59] HarshKhandeparkar commented on #493
@tech4GT I didn't get what you said. Could you please elaborate?

[2018-12-20 18:06] oorjitchowdhary commented on #493
He meant to say that the Download button shouldn't be moved as it downloads the image of the particular step...
But we can move the View GIF button as it shows the whole process...

By doing this, we won't disrupt the layout

[2018-12-20 18:07] tech4GT commented on #493
I mean you can shift the button `View gif` to the side of `Save sequence` and maybe give them the same color too. The download button is specific to the step so it is better suited on the side only.

[2018-12-20 18:11] HarshKhandeparkar commented on #493
OK Got It!

[2018-12-20 18:45] HarshKhandeparkar commented on #493
I'm facing some issue. The download PNG button adds a crop step now and the step doesn't even work.

![png-btn-img-seq](https://user-images.githubusercontent.com/34770591/50304274-8a749a80-04b5-11e9-881b-e7fbb56db5bb.gif)

[2018-12-20 18:48] HarshKhandeparkar commented on #493
The previous black step was also created the same way. The only files I've touched are index.html and demo.css. @publiclab/reviewers please help.

[2018-12-20 18:59] HarshKhandeparkar commented on #493
update: The step works

![crop-works](https://user-images.githubusercontent.com/34770591/50304955-6f0a8f00-04b7-11e9-805c-673a9c6d5c74.gif)

[2018-12-21 13:50] Divy123 commented on #542
@jywarren I was going through with the first link as provided above by you but I found that there was no method for taking an image as an input and always requires an html 'div' to work with.
So can you please guide me on this?

[2018-12-22 08:10] HarshKhandeparkar commented on #493
Should I open a PR or can we discuss this issue here?

[2018-12-22 08:14] tech4GT commented on #493
Sure go ahead you can open a pull request! :)

[2018-12-22 09:44] gauravano commented on #432
@jywarren could you please update the issue as per work done by Jonathan, so that we would be able to figure out the remaining work. thanks!

[2018-12-22 09:46] tech4GT commented on #432
@gauravano I think we can close this one, this is pretty much done! :tada:

[2018-12-22 11:42] #432 closed

[2018-12-22 11:43] gauravano commented on #432
Thanks @tech4GT for update :smile: !

[2018-12-22 15:38] Divy123 commented on #506
@oorjitchowdhary Can I please take up this issue?

[2018-12-22 15:40] tech4GT commented on #506
Sure divy!😁

[2018-12-23 08:53] gauravano commented on #150
@jywarren :calling:

[2018-12-23 08:59] gauravano commented on #136
@jywarren idea looks great. @tech4GT you might want to look at it. Thanks!

[2018-12-23 09:01] gauravano commented on #4
@jywarren you want to open a new issue using this one? Thanks!

[2018-12-23 18:32] jywarren commented on #542
Ah, you mean JSGL? Hmm. Would it be possible to run it in `phantomjs` even in NodeJS - using a div still but not needing a browser? Maybe there's some questions/docs about that in the repo issues?

[2018-12-25 12:06] Mridul97 commented on #550
@Tech4GT in the Pixel Manipulation file, there are 4 functions used changePixel, extraManipulation, getPixels, savePixels. I did not get exportImage part in Pixel Manipulation file Could you please elaborate a little more.. Thanks!

[2018-12-25 19:49] Mridul97 commented on #472
@jywarren I would love to implement this!

[2018-12-25 20:01] Mridul97 commented on #467
@jywarren I would love to work on this!

[2018-12-25 21:12] Divy123 commented on #500
Can I please work on this issue?

[2018-12-26 06:05] aashna27 commented on #500
Actually I was working on this.

[2018-12-26 11:07] Divy123 commented on #542
As of now I saw `phantomjs` development is suspended. So, cool, I will find a way to figure it out.
Thanks @jywarren .

[2018-12-26 13:44] jywarren commented on #542
Oh really? Is it because of chrome headless?

On Wed, Dec 26, 2018, 6:08 AM Slytherin <notifications@github.com wrote:

[2018-12-26 13:46] jywarren commented on #467
That'd be awesome!!!

On Tue, Dec 25, 2018, 3:02 PM Mridul97 <notifications@github.com wrote:

[2018-12-26 14:19] #493 closed

[2018-12-26 14:27] tech4GT opened #557 "GIF generation is not working correctly"
Gif generation is picking up the images produced in the thumbnails too!(brightness, contrast, saturation, rotate and crop).
We just want the step outputs in the gif and not these preview images.
cc @jywarren @Mridul97

[2018-12-26 14:33] tech4GT commented on #500
@aashna27 @Divy123 Maybe you guys can collaborate on this one! Aashna can you drop a link to the branch you are working on? Thanks! :)

[2018-12-26 14:37] HarshKhandeparkar commented on #557
@tech4GT, in which file is the gif generation done?

[2018-12-26 14:39] Divy123 commented on #542
@jywarren Its because they are receiving less contributions these days. So I guess we should not rely on it. Also I explored JSDOM for this but it requires Node v8 or newer.

[2018-12-26 14:40] tech4GT commented on #340
Okay, this is still not fixed reopening this!

[2018-12-26 14:42] HarshKhandeparkar commented on #557
I actuallu found it in demo.js

[2018-12-26 14:44] tech4GT commented on #557
https://github.com/publiclab/image-sequencer/blob/d5aac98a29c5d8e115a90b5b25265fe05c18db51/examples/demo.js#L96-L168

[2018-12-26 14:44] tech4GT commented on #557
Yeah go ahead @HarshKhandeparkar :)

[2018-12-26 14:46] HarshKhandeparkar commented on #340
The buttons works but only when the input field is updated `.on('change')`

[2018-12-26 14:51] tech4GT commented on #340
Hmm, harsh I was expecting behavior where we don't have to shift focus after changing the field to enable the button.

[2018-12-26 14:51] tech4GT commented on #340
Yeah that's what we would like fixed :)

[2018-12-26 14:53] HarshKhandeparkar commented on #340
Of we add a `.on('focus')` event listener then the button gets focused even when the input has not changed.

[2018-12-26 14:54] tech4GT commented on #340
Hmm, I don't think that's going to cut it since we want to enable it only when the value is changed. Maybe this needs some research work!

[2018-12-26 14:55] HarshKhandeparkar commented on #340
I think a onKeyUp or similar event listener would work but change in values should be taken into account

[2018-12-26 15:17] Dhiraj240 commented on #389
@Divy123 Sorry, i had assigned it to myself and will be sending PR soon.

[2018-12-26 15:30] tech4GT commented on #340
Harsh I think we would need to make a custom function for this, this kind of functionality usually exists in frameworks like vue and react so we can take some inspiration from there I guess.

[2018-12-26 15:34] HarshKhandeparkar commented on #340
Or we can get the initial valie when the field is focused and compare it onkeyup or onchange.

[2018-12-26 15:50] HarshKhandeparkar commented on #340
[code]

[2018-12-26 17:09] HarshKhandeparkar commented on #340
I'm trying to fix this. I'll open a PR and we will discuss this there.

[2018-12-27 07:00] #506 closed

[2018-12-27 08:45] Divy123 commented on #389
sure @tech4GT :smile:

[2018-12-27 09:05] Divy123 commented on #488
This issue seems interesting to me. I would like to work on it.

[2018-12-27 19:32] Mridul97 commented on #464
Hi, Can I work on this issue?

[2018-12-27 19:33] Mridul97 commented on #418
@jywarren I would like to work on this issue!

[2018-12-27 19:34] Mridul97 commented on #401
Hi, Is this issue resolved? Can I work on this on?

[2018-12-28 15:31] gauravano commented on #401
Hi @Mridul97 you can check and if the issue still persists, go ahead. Thanks!

[2018-12-28 15:33] gauravano commented on #418
Hi @Mridul97 as @jywarren is on vacation so you can collaborate and clarify your doubts with @tech4GT for quick response. Thanks!

[2018-12-28 16:40] #557 closed

[2018-12-28 16:41] tech4GT commented on #464
Hey Mridul I think let's keep it as first timers only! Thanks :)

[2018-12-28 16:43] tech4GT commented on #418
Hi Mridul, I think this is pretty specific and only Jeff would be able to exactly clarify what we need here. So let's wait on this one. Thanks :)

[2018-12-28 20:55] Mridul97 commented on #401
@gauravano It seems already fixed. Thanks!

[2018-12-28 20:55] #401 closed

[2018-12-28 21:15] Mridul97 opened #564 "The value below the slider does not updates with slider's movements"
### Please describe the problem (or idea)

The value below the slider does not updates with slider's movements.

![pop](https://user-images.githubusercontent.com/21158457/50528263-43208680-0b13-11e9-9885-ea6899222145.gif)

### Please show us where to look

https://github.com/publiclab/image-sequencer/blob/main/examples/lib/defaultHtmlStepUi.js

### What's your PublicLab.org username?
Mridul97

###

[2018-12-28 21:16] Mridul97 commented on #564
I would like to work on this issue!

[2018-12-28 21:40] Mridul97 commented on #430
@tech4GT I would love to work on this issue!

[2018-12-29 08:39] aashna27 commented on #564
could you please check it again because it is updating.

[2018-12-29 08:46] Mridul97 commented on #564
@aashna27 I have checked it till the last commit, is any currently open pull request solving this issue?

[2018-12-29 08:49] aashna27 commented on #564
i checked it on the hosted one, it was working there. No i dont think so .

[2018-12-29 08:51] Mridul97 commented on #564
Yes It is working fine on the gh-pages branch but it is not working on the main branch. Any of the latest commits must have caused this error

[2018-12-29 11:49] Mridul97 commented on #430
I am thinking to implement drawing rectangles first, so that we can use it to display the colorbar with an outline!

[2018-12-29 20:11] Mridul97 commented on #459
Hi, @VibhorCodecianGupta are you working on this issue? Can I work on this issue?

[2018-12-30 08:27] aashna27 opened #568 "Make "Image Sequencer header" reload the page with no steps."
This is a sub-issue of #487 .
### Make the Image Sequencer header reload the page with no steps.

####  where to look

http://sequencer.publiclab.org...

[2018-12-30 08:30] aashna27 opened #569 "add toggle-able collapse button for modules"
This is a sub-issue of #487.
### Add a toggle button next to module name to hide image and description, leaving just the module name and line.

[2018-12-30 08:31] aashna27 commented on #569
I would like to work on this.

[2018-12-30 10:12] Mridul97 commented on #353
@tech4GT I would like to work on this issue!

[2018-12-30 10:20] Divy123 commented on #353
I am currently working on it.
You may please work on some other issue.
The PR will be opened soon enough.

[2018-12-30 12:15] HarshKhandeparkar opened #570 "Map types in `info.json` files to valid HTML types"
### Please describe the problem (or idea)

Input types in some module **info.json** files are not valid html input types. This makes typing number type values inconvenient and invalid values can be submitted. Types like **integer** and **string** should be replaced with **number**, **range** or **string**.

https://github.com/publiclab/image-sequencer/blob/611016b022b22d1f89247e7b13f7650e1b65f2c7/

[2018-12-30 12:30] VibhorCodecianGupta commented on #570
@HarshKhandeparkar what values would `htmlType` assume? Given that the `type` property would be float, integer etc

[2018-12-30 12:48] HarshKhandeparkar commented on #570
`htmlType` can be generalised. **integer**, **float** can both use **number** or **range**. **percentage**, **color** etc. can be **string**.

[2018-12-30 15:08] Dhiraj240 commented on #389
@Divy123  you can work on this i am shifting to other projects and will just be reviewing PRs @tech4GT

[2018-12-30 16:35] Divy123 commented on #389
@Dhiraj240 sure I will work on this :smile:

[2018-12-30 19:22] Mridul97 opened #572 "Show a message showing where to find the saved sequence"
### Show a message when a sequence gets saved showing where to find the saved sequence.

This is a sub-issue of #487.

[2018-12-30 19:29] Mridul97 opened #573 "Have save sequence link clarify that it will only be available in this browser"
### Have save sequence link clarify that it will only be available in this browser

#### In the box that opens when save sequence button is clicked, we can add a message clarifying that the saved sequence will only be available in this browser.

This is a sub-issue of #487.

[2018-12-30 19:33] Mridul97 commented on #572
I would like to work on this!

[2018-12-30 19:34] Mridul97 commented on #573
I would like to work on this!

[2018-12-30 19:56] VibhorCodecianGupta commented on #495
@tech4GT done at #574

[2018-12-31 08:10] VibhorCodecianGupta commented on #459
@jywarren done #580

[2018-12-31 10:00] Mridul97 commented on #400
@jywarren @tech4GT I was reading the above discussions.. I was thinking what would be a better way, do we write pixel manipulation code in c and then compile it to wasm and then include it in our project or we write pixel manipulation code in walt and it will compile in the browser? Anyways WebAssembly seems to be a great way to increase speed! :smile:

[2018-12-31 21:12] VibhorCodecianGupta opened #582 "Improving buttons for smaller screens"
### Please describe the problem (or idea)

The buttons `save sequence` and `view gif` are too wide and have no margin at all in mobile and tablet views. They even flow out of the div, and hence out of the device screen. This is undesirable, buttons should change their shape according to the device.

![screen shot 2018-12-31 at 10 33 56 pm](https://user-images.githubusercontent.com/29275810/5056776

[2019-01-01 11:39] Divy123 commented on #488
I am already working on this issue. Please look into some other issue.

[2019-01-01 12:00] Mridul97 commented on #198
This issue seems interesting to me. Is anyone working on this issue? Can I work on this issue?

[2019-01-01 12:01] VibhorCodecianGupta commented on #198
@Mridul97 I was working on this. Would you like to collaborate?

[2019-01-01 12:02] Mridul97 commented on #198
Yes, sure!

[2019-01-01 12:05] VibhorCodecianGupta commented on #198
@Mridul97 amazing! Give me a couple of hours, I'll update you on whatever I have managed to get done and commit it as well. Not at home right now. Is that fine?

[2019-01-01 12:13] VibhorCodecianGupta commented on #488
@Divy123 Apologies, Since there was no progress or updates here, I assumed it unclaimed. Will take care from now on. Let's leave it to the reviewer's discretion 😅

[2019-01-01 12:14] Divy123 commented on #488
No problem @VibhorCodecianGupta :smile: .

[2019-01-01 12:17] Mridul97 commented on #198
Yes. That's fine!

[2019-01-01 12:48] Mridul97 commented on #198
@VibhorCodecianGupta I have created a branch building_a_RESTful_API and invited you to collaborate, you can push your commits there and I will push mine as well!

[2019-01-01 12:49] VibhorCodecianGupta commented on #198
I just accepted, sweet! Will do by tonight 👍

[2019-01-01 17:35] aashna27 opened #588 "Provide sliders for modules"
### Provide sliders for contrast , rotate , saturation and edge-detect module.
This is a sub-issue of #487.

### where to look

http://sequencer.publiclab.org...

[2019-01-01 17:54] aashna27 commented on #588
would add a pull request for it soon.

[2019-01-01 20:49] VibhorCodecianGupta commented on #352
@tech4GT #590 resolves this. The fix is a workaround since the plugin itself is buggy. Upon observation, the divs with classes `imgareaselect-*` are the ones that always remained, so I added custom js to handle removing those divs from the DOM itself when the remove function is called. Works well for now.

[2019-01-02 03:54] jywarren commented on #198
this is so cool! One thing we were thinking of here is to build a
Dockerfile around this library. I wonder if the RESTFUL API code would best
be kept quite separate from the main codebase - like a wrapper around it --
please keep this in mind as you're working on it! Thanks!

On Tue, Jan 1, 2019 at 7:50 AM Vibhor Gupta <notifications@github.com>
wrote:

[2019-01-02 03:55] jywarren commented on #488
Ah, no problem - perhaps you could collaborate? One thing I'm interested in
is if we could have a "click on a grey area" type interface to choose what
is the white point from a given image by clicking on the image. What do you
think?

On Tue, Jan 1, 2019 at 7:15 AM Slytherin <notifications@github.com> wrote:

[2019-01-02 04:05] jywarren opened #591 "Add "(local)" to locally stored modules"
It's possible to save a sequence locally, and have it appear in the Add Step menu (see   https://github.com/publiclab/image-sequencer/pull/587). Let's be sure any we add there are marked with ` (local)` in their name so people know which are locally stored an which are built-in.

[2019-01-02 04:12] VibhorCodecianGupta commented on #488
@jywarren Didn't really get the deliverable. Do you mean something like clicking on any point in the given picture, and that returns the nearest white pixel? I'm sure I'm getting this wrong. Is there any example of what you desire?

[2019-01-02 04:38] jywarren commented on #488
Ah, no, i just mean that a common way to determine a white balance is to
click on the image on a pixel which you visually deem to be "neutral"
colored, and to use that pixel to calculate a white balance correction.
Does that make sense?

On Tue, Jan 1, 2019 at 11:12 PM Vibhor Gupta <notifications@github.com>
wrote:

[2019-01-02 04:55] jywarren commented on #400
that sounds great!

On Mon, Dec 31, 2018 at 5:23 AM Mridul97 <notifications@github.com> wrote:

[2019-01-02 09:05] Divy123 commented on #488
Sure @jywarren . @VibhorCodecianGupta can we collaborate on this?

[2019-01-02 09:34] Mridul97 commented on #591
@jywarren I would love to work on this issue!

[2019-01-02 09:42] Mridul97 commented on #198
Yes, I agree it will be better if we keep the RESTFUL API code separate from main codebase!

[2019-01-02 10:49] VibhorCodecianGupta commented on #198
@jywarren agreed.

@Mridul97 shall we decide the architecture then?
I think initialising a separate repository for this project would be appropriate, as @jywarren suggested a few comments above. That can include both the express app and the dockerized container for image sequencer. Thoughts?

[2019-01-02 10:55] VibhorCodecianGupta commented on #488
@jywarren right, I get you. So what the PR #585 does, is taking input in the form of picture temperature, and accordingly, transform the picture. White balance/colour balance as it is called is applied on the basis of that temperature.
So the addition that you made can be made by accessing the pixel value clicked, and then find the correction based on that. I will have to search for a good algorit

[2019-01-02 11:32] VibhorCodecianGupta commented on #591
@jywarren I'd like to work on this. I understand the part where it'll be better to label the locally saved steps in the sequence `(local)`. I reckon when the user clears cache or reloads the application and sees the saved sequence, it should display a (local) to demark it as already saved in the browser, and any steps added further after which are not saved should not show the (local) mark right?

[2019-01-02 11:39] Mridul97 commented on #198
It sounds good! So let's start by first creating it for single step and then improve it from there!

[2019-01-02 12:02] Mridul97 commented on #591
I think this issue has an easy fix, when a user enters the name of the sequence to be saved, we can append '(local)' to the name, so now the sequence will be saved as 'userGivenName (local)' This can be done before calling 'sequencer.saveSequence()' function! I would like to solve this!

[2019-01-02 12:16] Mridul97 commented on #591
Something like this:

![ss_38](https://user-images.githubusercontent.com/21158457/50591554-51292b00-0eb6-11e9-91e3-044750d03337.jpg)

[2019-01-02 14:30] VibhorCodecianGupta commented on #591
@Mridul97 Or instead of displaying `(local)` in the drop-down, we can append it to the title of the step, probably a side text or something.
For example, I save a sequence with two steps, reload the page, and it shows (local) in front of the two steps that I saved. All the subsequent steps added, before saving the next sequence, will not have the (local) tag. Will post a screenshot once I reach ho

[2019-01-02 14:31] VibhorCodecianGupta commented on #198
Yes, sounds good and viable!

[2019-01-02 16:07] jywarren commented on #198
This is awesome. If you decide on a project name -- maybe
'image-sequencer-app'? Or something else? -- I can create a `publiclab`
repository we can use as the root. Sound good?

On Wed, Jan 2, 2019 at 9:32 AM Vibhor Gupta <notifications@github.com>
wrote:

[2019-01-02 16:12] VibhorCodecianGupta commented on #198
Sounds good!

[2019-01-02 16:22] Mridul97 commented on #198
Yes, Sounds good!

[2019-01-02 20:49] jywarren commented on #198
Great! Also let's keep in mind the ability to run serverless... Would this be possible in the scenario we've planned out?

https://i-programmer.info/news/141-cloud-computing/12405-gitlab-goes-serverless.html

[2019-01-02 20:52] jywarren commented on #198
https://github.com/publiclab/image-sequencer-app

[2019-01-02 20:55] jywarren commented on #198
And just a note that the upload to imgur needn't be implemented in the first version. What's the most standard way for a serverless API to return an image?

[2019-01-02 20:56] jywarren commented on #198
https://serverless.com/

[2019-01-02 21:30] jywarren commented on #582
Hmm, are they block buttons? Perhaps just normal `btn` class from Bootstrap
would work better?

On Mon, Dec 31, 2018 at 4:14 PM gitmate[bot] <notifications@github.com>
wrote:

[2019-01-02 23:07] jywarren commented on #591
Ah, i see. we would yes probably need to not just save it in the dropdown,
but "upstream" as it's stored in localstorage, which would then be
reflected in the dropdown, right?

This would be great!

On Wed, Jan 2, 2019 at 9:31 AM Vibhor Gupta <notifications@github.com>
wrote:

[2019-01-02 23:08] jywarren commented on #488
That sounds great. If you think #585 is ready to go we can merge that and
continue work on the follow-up, or we could merge both together?

On Wed, Jan 2, 2019 at 5:56 AM Vibhor Gupta <notifications@github.com>
wrote:

[2019-01-03 00:06] #495 closed

[2019-01-03 04:12] VibhorCodecianGupta commented on #488
@jywarren it's on your discretion. However, I'd say merging #585 would be a good idea, Pushing too many changes at once is always less preferred, I could work on the pixel-based white balance as a follow-up task. Thoughts?

[2019-01-03 06:04] VibhorCodecianGupta commented on #582
@jywarren yes, this can be achieved using `btn-block` as well, but the white `panel` behind the two buttons doesn't adjust it's size, and additional css might be required there (which I haven't figured out yet). Example:

![screen shot 2019-01-03 at 11 22 20 am](https://user-images.githubusercontent.com/29275810/50625056-57b5b200-0f4b-11e9-802c-77d002f76363.png)

[2019-01-03 11:07] tech4GT commented on #198
This is awesome!! This can also serve as a very good example use case to image sequencer in node.js.

[2019-01-03 11:09] tech4GT commented on #198
@Mridul97 @VibhorCodecianGupta I think you guys can start of with a simple express based server where you get a stringified sequence in the request and you can expand it and run it one the backend. We can then send the final image either as multipart data or the imgur url

[2019-01-03 11:13] tech4GT commented on #569
Aashna, didn't this get solved in some pr, I remember reviewing something similar, can you possibly check for this?

[2019-01-03 11:36] HarshKhandeparkar commented on #198
That's good. What I actually wanted to ask is how will the user get the preview for intermediate steps even from the API? This will defeat the purpose of image sequencer's non-conventional workflow in which a new image is created every step.

[2019-01-03 11:37] HarshKhandeparkar commented on #198
I'm just curious and because I love the idea of RESTful APIs.

[2019-01-03 12:44] Mridul97 commented on #591
Yes, It would be stored in the local storage by the name "userGivenName (local)" and that would then appear in the dropdown!

Please see here #596 I have implemented this!

[2019-01-03 13:01] aashna27 commented on #569
I had absolutely no idea, I ll check for it.

On Thu, Jan 3, 2019, 4:43 PM Varun Gupta <notifications@github.com wrote:

[2019-01-03 15:54] VibhorCodecianGupta commented on #582
@jywarren #583 however, takes care of the white panel background as well

[2019-01-03 17:23] #591 closed

[2019-01-03 17:24] jywarren commented on #591
Oh hi @VibhorCodecianGupta -- sorry I merged @Mridul97 's solution but we'd love your help with other issues. It's so great to have a community of collaboration on this library - it's moving so fast!!!

[2019-01-03 17:28] jywarren opened #597 "Hex color picker input in default HTML UI"
Some modules now are prompting for a color of input. We can accept RGBA, hex, etc, but for easier input, perhaps we can include a node library which has a simple built-in color picker? Then that could become an input type on its own!

[2019-01-03 17:33] jywarren opened #598 "Compilation and testing of demo files using Grunt-concat"
Our demo HTML UI is becoming ever more complex. We should compile those files too to help reduce complexity and code organization in our examples/demo.js folder, by modifying our Gruntfile to produce `dist/image-sequencer-ui.js` and `dist/image-sequencer-ui.min.js` files.

Then we should start writing tests for the UI! They could go in `/spec/ui/` and could use Jasmine, or maybe Teaspoon? Somethin

[2019-01-03 17:34] HarshKhandeparkar commented on #597
How about implementing color pickers on the frontend https://farbelous.io/bootstrap-colorpicker/tutorial-Basics.html

[2019-01-03 17:36] VibhorCodecianGupta commented on #488
@jywarren that's your discretion, but I'd suggest breaking it into subproblems. Since #585 is in itself complete, it could be merged, and the above-suggested idea can be implemented as a follow-up. Looking for algorithms now. Cheers!

[2019-01-03 17:40] VibhorCodecianGupta commented on #597
@HarshKhandeparkar sounds good!
We could write a util function to convert the input into RGB or HEX and then pass it to the respective module to process it. Would like to work on this.
@jywarren how does that sound?

[2019-01-03 17:41] Mridul97 commented on #598
@jywarren I would love to work on this!

[2019-01-03 17:47] HarshKhandeparkar commented on #597
What I feel is that the color input is up to the user frontend and the parsing of different values `HEX` `HSLA` `RGB` should be the job of the library so instead of adding more packages, we could add frontent code and make the library conlmpatible with it. This makes the library even more useful.

[2019-01-03 17:50] VibhorCodecianGupta commented on #597
Makes sense. Parsing would then be the only concern for IS. Nice.

[2019-01-03 18:03] jywarren commented on #597
oh this sounds awesome!

On Thu, Jan 3, 2019 at 12:50 PM Vibhor Gupta <notifications@github.com>
wrote:

[2019-01-03 18:03] jywarren commented on #598
AWESOME!!!

On Thu, Jan 3, 2019 at 12:41 PM Mridul97 <notifications@github.com> wrote:

[2019-01-03 18:17] HarshKhandeparkar commented on #597
We also have to keep in mind that mobile phone users cannot use color pickers very efficiently.

[2019-01-03 18:33] aashna27 commented on #597
@VibhorCodecianGupta would you like some help on this?? This issue sounds interesting to me.

[2019-01-03 18:44] aashna27 commented on #569
yep that's correct 😆  https://github.com/publiclab/image-sequencer/pull/534 so would you like me to close my pr ?

[2019-01-03 20:00] #467 closed

[2019-01-03 20:11] jywarren commented on #198
I think that for the initial implementation we can return just the final
image. But later, we could return a list of URLs for the image at each
step.

Will Express be compatible with the emerging "serverless" format? Just
checking, 'cause that'd be cool!

On Thu, Jan 3, 2019 at 6:38 AM HarshKhandeparkar <notifications@github.com>
wrote:

[2019-01-03 21:22] #573 closed

[2019-01-04 02:43] VibhorCodecianGupta opened #601 "Managing dist files"
### Please describe the problem (or idea)

Committing the `dist` files with every issue results in merge conflicts every time, with a constant need for rebasing. This is particularly uncalled for in case of image sequencer, given that almost every issue is concerned with different modules and the changed files shouldn't conflict at all, which is the whole point of a modular structure, so changes s

[2019-01-04 04:13] jywarren commented on #601
I like this and was thinking a lot about it today, thanks for opening! Also came up in convo w @aashna27 -- what about automating the build somehow? Could we have a script to compile and bump the version on command? Are there any bots for this?

Thanks!!!

[2019-01-04 04:13] jywarren commented on #601
Solving this would be very helpful for a number of public lab repositories! I wonder if there's a standard approach.

[2019-01-04 05:21] VibhorCodecianGupta commented on #601
@jywarren Yes, precisely. I am working on this, trying to look for any automation or bots that automatically compile and bump. Will post a solution soon!

[2019-01-04 06:57] rexagod commented on #601
Thank you so much for opening this issue @VibhorCodecianGupta!! This was on my mind too since I faced some conflicts myself and had to double check everything (especially the dist/) for changes before committing (which can be frustrating sometimes!). Like @jywarren said, this will definitely prove to be a critical addition to many repos! I do believe that the modular nature and mobility of the cod

[2019-01-04 13:23] HarshKhandeparkar commented on #601
My idea would not be as overkill as Vibhor's but I'll try. I think only the source code should be available on the repository and the `dist/` directory should be gitignored. And only the admins will release new updates actually through github updates. And for unstable daily/weekly builds we can have a separate beta branch?

[2019-01-04 13:59] VibhorCodecianGupta commented on #601
@HarshKhandeparkar sounds good! Although, wouldn't putting the dist folder in `examples/` again create conflicts? I'm not quite sure what you mean by example pages.

[2019-01-04 14:00] VibhorCodecianGupta commented on #582
@jywarren #583 however, takes care of the white panel background as well, which looks prettier IMO. Thoughts?

[2019-01-04 14:10] HarshKhandeparkar commented on #601
Dist files in `examples/dist/` are just optional they also should be ignored. They will be created when `npm run setup` is executed or can be downloaded manually. We can also include them from`/dist/` when `npm run setup` executed. `examples/dist/` can be used optionally. Its not really required.

By example page I mean the image-sequencer webpage in the `examples/` directory.

[2019-01-04 14:17] HarshKhandeparkar commented on #570
@tech4GT @jywarren is this issue good? Is this being fixed in some other issue?

[2019-01-04 14:20] Mridul97 commented on #570
If no one is working on this issue, can I take up this issue?

[2019-01-04 14:22] HarshKhandeparkar commented on #570
Absolutely. That will be awesome!

[2019-01-04 15:41] jywarren commented on #601
Hi, all - great brainstorming here. Thinking about a refined version of what you're talking about:

We could make a Grunt task called `grunt publish` which:

1. runs tests
2. increments the `package.json` file by `0.0.1` (future version could prompt for major/minor/patch semver, maybe there are node modules for this too?)
3. compiles to `/dist/`
4. pushes to main/master with `/dist/` and `package.

[2019-01-04 15:42] jywarren commented on #601
Also curious to hear from @gauravano @SidharthBansal @sagarpreet-chadha @ryzokuken about this! I think it could significantly smooth out our PR workflow and as @rexagod says make it lower barrier for new contributors! Also it solves the issue with @dependabot not compiling in new dependencies!

[2019-01-04 16:18] aashna27 commented on #431
@Mridul97 are you workig on this ??
If not can I take this up ?

[2019-01-04 17:46] gauravano commented on #421
Yes, it's solved in #424. Closing now. Thanks!

[2019-01-04 17:46] #421 closed

[2019-01-04 18:16] aashna27 commented on #377
Is anybody working on it ?

[2019-01-04 18:20] jywarren commented on #377
It may be worth testing out the latest code, as I think there have been
some various submitted fixes!

On Fri, Jan 4, 2019 at 1:17 PM aashna27 <notifications@github.com> wrote:

[2019-01-04 18:41] #247 closed

[2019-01-04 18:55] aashna27 commented on #165
@jywarren are we ready to have a masking module ? if so I would like to work on it

[2019-01-04 19:01] Mridul97 commented on #431
@aashna27 You can take it! Thanks!

[2019-01-04 19:12] aashna27 commented on #431
Thanks 😄

[2019-01-04 19:25] aashna27 opened #604 "Error in common modules region"
### The images in the common modules area are not appearing , this is a bug which is causing the crop image to not display and the brightness' one to be black.

![image](https://user-images.githubusercontent.com/26546120/50706582-445a3200-1084-11e9-87c2-bb54980d8691.png)

I would request someone to verify this issue and then I would like to claim it.

Thanks

[2019-01-04 19:35] #588 closed

[2019-01-04 19:37] jywarren commented on #601
This sounds great... would like to hear from a few more people but since the Grunt task should be relatively simple, perhaps you can get started?

Also, i just released all recent updates as `v2.3.0` on npm and am also deploying it to gh-pages!

[2019-01-04 19:38] aashna27 commented on #138
@jywarren this one seems an old one is it still up for claim ❓

[2019-01-04 19:39] jywarren commented on #601
For reference, when i deploy to gh-pages, we have to include the node modules, I run:

[code]

[2019-01-04 19:57] jywarren opened #605 "Assorted offline cache issues"
Just reporting a few issues with the offline cache function, maybe related to #544.

We can break out solutions and sub-issues from here. Just want to say the offline cache is AMAZING and has saved me a number of times when demonstrating this to people. Just looking to expand and refine it. Thank you!!!

* [ ] as in below image, i see 2 links to clear cache
* [ ] the version numbering hasn't chang

[2019-01-04 20:05] jywarren opened #606 "Uncaught TypeError: parseCoordInputs.parseCornerCoordinateInputs is not a function"
https://github.com/publiclab/image-sequencer/blob/35f7605a248ac99371650503a31b27ebd00c09a6/src/modules/Overlay/Module.js#L18

Hi @Divy123, i'm seeing an error as above in this line - strangely, this line was compiled into the `/dist/` folder instead of being browserified:

[code]

So of course it can't do require in the browser. Do you know what's going on? Related to PR https://github.com/publicl

[2019-01-04 20:23] jywarren commented on #165
that'd be really cool. I wonder if it could be implemented using the blend
module, where we use the 2nd image as the opacity value for the first
image? This might not be the 100% most efficient way (or maybe it is,
dunno) but it could re-use code in a clever way :-)

On Fri, Jan 4, 2019 at 1:56 PM aashna27 <notifications@github.com> wrote:

[2019-01-04 20:31] jywarren commented on #582
OK, would you like to close this and solve over there? Thanks!

[2019-01-04 20:35] jywarren commented on #604
I think this is due to #606 -- closing unless you think there's another issue too?

[2019-01-04 20:35] #604 closed

[2019-01-04 20:50] jywarren commented on #4
Which part do you think? Breaking it out as a plugin? Thanks, Gaurav?

[2019-01-05 04:17] VibhorCodecianGupta commented on #582
@jywarren sure, I'll close this and update the PR :)

[2019-01-05 04:17] #582 closed

[2019-01-05 05:43] Divy123 commented on #606
Sure @jywarren. I am travelling right now.
Will definitely look into in 3-4 hours.

[2019-01-05 08:07] HarshKhandeparkar commented on #601
I think we should download the rewuired libraries in the `examples/` directory directly instead of using `node_modules`

[2019-01-05 08:10] HarshKhandeparkar commented on #377
I am working on this.

[2019-01-05 09:15] aashna27 commented on #138
😆 yeah sure just this one and Text overlay for now .

[2019-01-05 09:16] tech4GT commented on #601
Hmm, @jywarren I was thinking let's add a pre commit hook which builds and adds the dist files,

[2019-01-05 09:42] rexagod commented on #601
And since .git/hooks are ignored, we can add an external script that generates the `pre-commit` hook and adds a symlink there, while obviously including the hook in .gitignore :+1:

[2019-01-05 09:53] Mridul97 commented on #605
@jywarren the cache seems to be updating, please see the below gif,

![cache](https://user-images.githubusercontent.com/21158457/50722849-7e1a4f80-10fb-11e9-9a02-c5fe370cb75c.gif)

To change the cache version number we have to change it manually in sw.js file and then it will get update when we go to the website next time, it does not updates on reload. Please see the gif below :

![cache2](https:

[2019-01-05 09:54] VibhorCodecianGupta commented on #606
@jywarren @Divy123 It's an easy fix. The issue lies with the fact that the function was exported via `module.exports` which exports references, so the variable which stores the `require` can itself be called as a function because the function exported is stored there. `parseCoordInputs.parseCornerCoordinateInputs` doesn't exist, basically.

[2019-01-05 09:55] VibhorCodecianGupta commented on #605
Yes, that's exactly what I noticed too, the cache works fine for me.

[2019-01-05 11:17] Divy123 commented on #492
@jywarren @tech4GT Is this issue still open ? I would like to work on this.

[2019-01-05 11:36] Divy123 commented on #305
@jywarren @tech4GT can I please take up this issue?

[2019-01-05 11:37] Divy123 commented on #284
Can I please work on this issue?

[2019-01-05 11:42] Divy123 commented on #299
Can I please work on this issue?

[2019-01-05 13:42] HarshKhandeparkar opened #610 "Center Align Step Removed Notification"
### Please describe the problem (or idea)

The notification toast which appears when a step is removed is not center aligned on smaller screens.

![not-center-aligned toast](https://user-images.githubusercontent.com/34770591/50725064-d06c6800-111d-11e9-9510-a43b18e319ee.gif)

![screenshot_20190105-191448](https://user-images.githubusercontent.com/34770591/50725119-a8313900-111e-11e9-9fc5-36e457a70

[2019-01-05 13:42] HarshKhandeparkar commented on #610
I'm working on this.

[2019-01-05 16:17] jywarren commented on #299
That'd be great!

On Sat, Jan 5, 2019, 6:42 AM Slytherin <notifications@github.com wrote:

[2019-01-05 16:19] jywarren commented on #284
Sure!!

On Sat, Jan 5, 2019, 6:38 AM Slytherin <notifications@github.com wrote:

[2019-01-05 16:31] VibhorCodecianGupta commented on #178
@jywarren can I work on this?

[2019-01-05 19:02] jywarren commented on #178
This is interesting but I wonder if it's not a high priority for the
library. Especially as it's a complex project, perhaps we should focus on
some of our long term priorities like text overlay, running webgl in node,
and such?

If you're looking for an application that challenges us to do some great
stuff with IS, what about taking a look at this workflow?

https://publiclab.org/notes/SimonPyle/0

[2019-01-05 19:06] Mridul97 commented on #570
@HarshKhandeparkar we cannot keep htmltype to be Number for input type float because it will not allow us to enter values like 1.5. So what should we keep htmltype when input type is float?

[2019-01-05 19:07] VibhorCodecianGupta commented on #178
@jywarren nice. Updating pending PRs, will take a look at those!

[2019-01-05 19:08] jywarren commented on #492
Sure, though we may need to add scrollability to the quick buttons. Not
sure if someone is working on this already?

On Sat, Jan 5, 2019, 6:17 AM Slytherin <notifications@github.com wrote:

[2019-01-05 19:12] jywarren commented on #198
Oohhhhhh!!! 👍🏽

On Sat, Jan 5, 2019, 4:21 AM Varun Gupta <notifications@github.com wrote:

[2019-01-05 19:32] #572 closed

[2019-01-05 19:37] jywarren commented on #601
This sounds great, although couldn't the hook also reference the gruntfile
task so it could be run independently?

In any case let's go ahead and prototype it. We can try it out and iron out
the issues to get this solved!

On Sat, Jan 5, 2019, 4:43 AM Pranshu Srivastava <notifications@github.com
wrote:

[2019-01-05 20:23] rexagod opened #611 "Configure pre-commit hooks to build and add dist/*"
### Please describe the problem (or idea)
We can implement git pre-commit hooks that `grunt build` and `git add` before committing to the repository which will reduce merge conflicts and provide the new (and old) members some amount of abstraction over some unproductive and repetitive tasks.

### What happened just before the problem occurred? Or what problem could this idea solve?
Merge conflicts

[2019-01-05 20:59] rexagod commented on #601
I think the catch here is creating something (`./.git/hooks/pre-commit`) that will not be locally present on on the users machine after cloning this repo. In any case, we need an external script (rename `./.git/hooks/pre-commit.sample` by `./.git/hooks/pre-commit` and add code inside) on master for doing that, after that we can use the hook to execute repititive grunt commands (like build) as @jyw

[2019-01-05 21:16] Mridul97 commented on #611
@jywarren This seems quite interesting. I would like to work on this one!

[2019-01-05 21:19] kindanduseful opened #612 "Exposure module"
Exposure is different from brightness -- not sure how! But a separate Exposure module would be nice, thank you!

[2019-01-05 21:19] kindanduseful opened #613 "White balance acting strangely (let's rename to Color Temperature)"
Not sure if this is supposed to happen, but I got this with white balance:

![image](https://user-images.githubusercontent.com/18472957/50729313-b32b9f80-1105-11e9-8c34-47417ad18bbd.png)

Is it an error?

[2019-01-06 01:17] #564 closed

[2019-01-06 01:37] #606 closed

[2019-01-06 03:59] VibhorCodecianGupta commented on #613
@kindanduseful Thanks for bringing this up, I was thinking of making a PR to change the module name to `Colour Temperature` instead of `White Balance`, because this module indeed is more of a colour temperature based image processor. This behaviour is expected, you can read up about images with colour temperatures, wherein certain colour channels are enhanced drastically based on the temperatures.

[2019-01-06 06:37] HarshKhandeparkar commented on #570
@Mridul97 range will be good for float type inputs

[2019-01-06 09:40] bhavayAnand9 opened #615 "weird border on right and bottom of thumbnail grid"
### Please describe the problem (or idea)
![screenshot 2019-01-06 at 14 45 52](https://user-images.githubusercontent.com/34943807/50734344-df0d5a80-11c3-11e9-9ba3-b503ca5baf60.png)

there's an excessive space on right and bottom of thumbnail grid.

It should be like this

![screenshot 2019-01-06 at 14 46 30](https://user-images.githubusercontent.com/34943807/50734381-4e834a00-11c4-11e9-9c1c-faf5b6

[2019-01-06 09:41] bhavayAnand9 commented on #615
@tech4GT can you confirm this and maybe add the first-timer-only tag?

[2019-01-06 09:44] HarshKhandeparkar commented on #615
I've had the same issue. Its because of the `overflow:scroll` property which was added recently. Its just the scrollbar.

[2019-01-06 09:45] HarshKhandeparkar commented on #615
Possible fix would be to add `overflow:scroll` only on small screen sizes.

[2019-01-06 09:47] HarshKhandeparkar commented on #615
No problems on my phone though

![screenshot_20190106-151548](https://user-images.githubusercontent.com/34770591/50734497-1aa92400-11c6-11e9-9916-4dffcea62d9d.jpg)

Desktop view:

![screenshot_20190106-151533](https://user-images.githubusercontent.com/34770591/50734502-24cb2280-11c6-11e9-962d-9bd5ca36d275.jpg)

[2019-01-06 10:15] bhavayAnand9 commented on #615
setting overflow to `auto` does the same. It only adds scrollbar when necessary unlike `scroll` which adds it even if we don't need it.

[2019-01-06 10:16] HarshKhandeparkar commented on #615
Do you want to fix this?

On Sun 6 Jan, 2019, 3:45 PM Bhavay Anand <notifications@github.com wrote:

[2019-01-06 10:45] HarshKhandeparkar commented on #615
@VibhorCodecianGupta this is linked to your PR. Do you want to fix this? It is very annoying. It is a very small fix too. Maybe its too simple for being an `fto-candidate`

[2019-01-06 13:49] aashna27 commented on #610
Is anyone working on this ?? Can i claim it ?

[2019-01-06 13:54] HarshKhandeparkar commented on #610
If @Mridul97 has not started work yet then maybe you can do that?

On Sun 6 Jan, 2019, 7:19 PM aashna27 <notifications@github.com wrote:

[2019-01-06 13:57] aashna27 commented on #610
Is it claimed already ?

[2019-01-06 14:00] HarshKhandeparkar commented on #610
Oh maybe I'm confused. I mixed up some other issue with this one. Sorry I don't think this is claimed 😅

[2019-01-06 14:02] aashna27 commented on #610
😆 okay !! On it..

[2019-01-06 14:03] HarshKhandeparkar commented on #610
I remember, the notification toast was my first GCI PR this year. You were the mentor @aashna97 😊

[2019-01-06 14:07] aashna27 commented on #610
Haha yeah I remember too!! Its lovely to have you 😄

[2019-01-06 14:11] HarshKhandeparkar commented on #610
I love working here too!! 😊😊

[2019-01-06 14:15] jywarren commented on #610
😊🎉

On Sun, Jan 6, 2019, 9:11 AM HarshKhandeparkar <notifications@github.com
wrote:

[2019-01-06 15:41] bhavayAnand9 opened #618 "thumbnails not showing upon adding a step"
### Please describe the problem (or idea)

 on clicking +Add button, the toolbar appears but without thumbnails

![screenshot 2019-01-06 at 21 04 12](https://user-images.githubusercontent.com/34943807/50738222-85bf1e80-11f7-11e9-83f2-29bcb2b667cc.png)

### Please show us where to look

http://sequencer.publiclab.org...

### What's your PublicLab.org username?

### Browser, version, and operating s

[2019-01-06 15:47] #138 closed

[2019-01-06 19:42] Divy123 commented on #389
I googled about text editors that can be integrated and found these editors helpful :
* monaco-editor - https://www.npmjs.com/package/monaco-editor
* javascript-editor - https://www.npmjs.com/package/javascript-editor`
* Ace - https://ace.c9.io/
What would you suggest @tech4GT @Paarmita ?

[2019-01-06 19:44] #610 closed

[2019-01-06 20:24] aashna27 opened #625 "Add package-lock.json to .gitignore"
Adding package-lock.json to .gitignore would prevent it's unnecessary commit .

****

## Thank you!

[2019-01-06 20:34] VibhorCodecianGupta commented on #625
I think we should actually commit the lock file since they lock the version being used by the project, for any new contributor to setup and not end up installing incompatible dependencies. Thoughts? @jywarren

[2019-01-06 20:49] aashna27 commented on #625
The dependency version is locked in package.json, and package-lock.json comes everytime npm install is done . And in case of conflicts in versions in package.json and package-lock.json the version of package.json is considered so I think ignoring package-lock while commiting is okay!! 😄

[2019-01-06 21:15] VibhorCodecianGupta commented on #625
@aashna27 https://stackoverflow.com/a/44210813 😅
The dependency version is actually locked in `package-lock` and not `package.json`. Also, the precedence being given to `package.json` in case of conflicts in versions is exactly why lock exists, to prevent such a thing from happening :D

Rest, admins may decide what seems fit

[2019-01-07 08:01] HarshKhandeparkar commented on #625
When a project is initialized with `npm init` it is specifically stated that the lockfile should be commited. But there may be another way around this?

[2019-01-07 11:30] HarshKhandeparkar opened #628 "Add a util function which loads defaults from `info.json` files"
### Please describe the problem (or idea)

In https://github.com/publiclab/image-sequencer/pull/607 the default values for some modules were changed in the `info.json` files but subsequent changes were not made to the `module.js` files which led to issues like https://github.com/publiclab/image-sequencer/pull/616 in which the html renders the default value but the sequencer doesn't

### Possible S

[2019-01-07 11:31] HarshKhandeparkar commented on #628
@Mridul97 do you want to work on this? If not then I will.

[2019-01-07 11:31] Mridul97 commented on #628
Yes, I would like to work on this!

[2019-01-07 11:35] HarshKhandeparkar commented on #628
Awesome!!

[2019-01-07 13:30] VibhorCodecianGupta commented on #597
@aashna27 sure! I was thinking to provide a colour picker to all the modules requiring some sort of colour modules and since  https://farbelous.io/bootstrap-colorpicker/tutorial-Basics.html already gives us the values of the `RGBA`, we could write a custom function to pick the respective channel values and pass them into the already existing input types

[2019-01-07 14:40] #352 closed

[2019-01-07 15:38] jywarren commented on #625
We could git-ignore the lock file but on the "build process" we're
developing it could be force updated using `git add -f`, would that work?

On Mon, Jan 7, 2019 at 3:01 AM HarshKhandeparkar <notifications@github.com>
wrote:

[2019-01-07 15:41] #615 closed

[2019-01-07 15:45] aashna27 commented on #625
We could add it to gitignore and also prevent its creation all together,
Thoughts?

On Mon, Jan 7, 2019, 9:08 PM Jeffrey Warren <notifications@github.com wrote:

[2019-01-07 16:29] #625 closed, assigned to nobody

[2019-01-07 20:01] aashna27 commented on #612
@jywarren could you please have a look at it and then I would like to work on it.

[2019-01-07 20:11] jywarren commented on #612
This is a great idea. Might take some research!

On Mon, Jan 7, 2019, 3:01 PM aashna27 <notifications@github.com wrote:

[2019-01-07 20:13] aashna27 commented on #612
Yepp.. would do 😊

On Tue, Jan 8, 2019, 1:41 AM Jeffrey Warren <notifications@github.com wrote:

[2019-01-07 20:16] #340 closed

[2019-01-07 23:22] #496 closed

[2019-01-07 23:52] jywarren commented on #389
I wonder if we might decide to just show a simple `textarea` element --
could we have the info.json specify longer inputs by using "text" instead
of "string" in lines like this?

https://github.com/publiclab/image-sequencer/blob/89345f32b3dd2cf9f73fedbd03b9d371fbaf35ed/src/modules/ImportImage/info.json#L7

On Sun, Jan 6, 2019 at 2:43 PM Slytherin <notifications@github.com> wrote:

[2019-01-08 00:59] VibhorCodecianGupta commented on #613
Yes, working on it. Will open a PR soon!

[2019-01-08 01:52] HarshKhandeparkar commented on #377
@jywarren please close this one.

[2019-01-08 03:05] tech4GT opened #630 "Initial value of brightness step is not correct"
The initial value displayed is 175 but the image is processed like 100.
<img width="1194" alt="screen shot 2019-01-08 at 8 33 50 am" src="https://user-images.githubusercontent.com/25617855/50807437-71c30c00-1320-11e9-9d7b-f94c672ac4b2.png">

[2019-01-08 03:53] bhavayAnand9 commented on #630
@tech4GT #616

[2019-01-08 05:12] jywarren commented on #487
Wow I think these are all done!!! Amazing work, folks!

[2019-01-08 05:12] #487 closed

[2019-01-08 07:56] HarshKhandeparkar commented on #630
@tech4GT https://github.com/publiclab/image-sequencer/issues/628 Mridul is going to fix this. You can close this one.

[2019-01-08 07:59] HarshKhandeparkar commented on #570
@Mridul97 if you are taking up https://github.com/publiclab/image-sequencer/issues/628 then can I work on this?

[2019-01-08 10:31] bhavayAnand9 opened #631 "Take a photo feature not working"
### Please describe the problem (or idea)
Take a Photo feature uses `navigator.getUserMedia` which has been deprecated on Insecure origins and as localhost is treated as a secure origin so we might not see this error on localhost server but on the [website](http://sequencer.publiclab.org/examples/#steps=) it's throwing an error.

we should start using the newer method
https://developer.mozilla.org

[2019-01-08 10:32] bhavayAnand9 commented on #631
@publiclab/reviewers

[2019-01-08 10:33] bhavayAnand9 commented on #631
@jywarren @tech4GT

[2019-01-08 10:35] HarshKhandeparkar commented on #631
I was facing the same problem too. @aashna27 ?

[2019-01-08 10:37] aashna27 commented on #631
I ll look into it and submit a pr soon 😊

[2019-01-08 11:18] HarshKhandeparkar opened #632 "New Add QR Module"
### Please describe the problem (or idea)

Add a new module called `Add QR` which adds a QR code to an image like for e.g at the corner.

example:

![add-qr-module](https://user-images.githubusercontent.com/34770591/50827428-6d204700-1364-11e9-8358-3bff018cc443.png)

In the above GIMP image, there is QR code at the corner which links to https://github.com/publiclab/image-sequencer

This module can

[2019-01-08 12:20] Divy123 commented on #389
Yeah that's cool to proceed like this. So should I proceed in this direction?

[2019-01-08 12:38] Divy123 commented on #389
Sure @HarshKhandeparkar but we are still on discussion. Also I think its not that same.

[2019-01-08 12:43] HarshKhandeparkar commented on #389
@Divy123 what I meant by my comment was that we cannot change the type property directly from here. That has to be resolved first.

[2019-01-08 13:02] Mridul97 commented on #570
@HarshKhandeparkar Actually I am almost done with this one, opening a pr!

[2019-01-08 13:03] HarshKhandeparkar commented on #570
Hmm actually even I had worked on this. Should we collab?

On Tue 8 Jan, 2019, 6:32 PM Mridul97 <notifications@github.com wrote:

[2019-01-08 13:04] HarshKhandeparkar commented on #570
Tell me your branch name. We will compare our changes. I will open a pr to your branch. Lets merge our changes.

[2019-01-08 13:06] Mridul97 commented on #570
Branch name is htmltypes, I just opened a pr #633.

[2019-01-08 13:06] HarshKhandeparkar commented on #570
Look at my branch `htmlType-in-info-files` I have done many more other changes.

[2019-01-08 13:08] Mridul97 commented on #570
There are multiple to see changes like this becomes a bit inefficient, you can see my changes here #633.

[2019-01-08 13:09] HarshKhandeparkar commented on #570
I have opened a pr to your branch. Please check it out. Also please `git merge upstream/main`

[2019-01-08 13:13] HarshKhandeparkar commented on #570
https://github.com/Mridul97/image-sequencer/pull/2/

[2019-01-08 14:24] Divy123 commented on #389
Surely your idea is quite good at issue #570  but as I get since this issue is still under discussion, we are yet discussing about text-editor and text-area thing.

[2019-01-08 14:44] Divy123 commented on #389
No problem @HarshKhandeparkar . We all here to contribute so all the views are more than welcome.

[2019-01-08 16:52] jywarren commented on #284
Hmm, maybe this one is not super high priority for now. I think it got more
complicated once we started including image data in the URLs... I'm
assuming no URL shortening services can handle that!

On Tue, Jan 8, 2019 at 7:27 AM Slytherin <notifications@github.com> wrote:

[2019-01-08 16:56] #377 closed

[2019-01-08 20:18] #568 closed

[2019-01-08 20:22] #498 closed

[2019-01-09 02:07] vishalbakshi opened #637 "DrawRectangle `info.json` causes JSON parse error during Travis CI test"
### Please describe the problem (or idea)

I made a commit related to PR #584 and node threw an error during one of the Travis CI build tests.

I did not expect to see this error during the Travis CI build tests since it is related to a file that I did not commit.

### Please show us where to look
The error thrown during Travis' build test can be seen here:
https://travis-ci.org/publiclab/image-se

[2019-01-09 03:32] vishalbakshi commented on #637
My apologies, I did not see that! I will go ahead and close this issue. Thanks!

[2019-01-09 03:32] #637 closed

[2019-01-09 10:07] lakshyabatman commented on #632
@HarshKhandeparkar ,  you meant  placing QR code in image linking to Public Labs github profile, right?

[2019-01-09 10:47] HarshKhandeparkar commented on #632
That was just an example l. What i meant was that it can take any text input and place a qr code. For example a link

[2019-01-09 10:48] lakshyabatman commented on #632
Yeah, it is cool! I'll start working on it.

[2019-01-09 10:59] HarshKhandeparkar commented on #632
Awesome!!

[2019-01-09 17:09] Divy123 commented on #618
Since this one is related to a PR created by me. I will be sending a PR soon enough.

[2019-01-09 17:40] HarshKhandeparkar opened #640 "Intermediate step UI adds more than once"
### Please describe the problem (or idea)

When a step is inserted between two steps, the new form that appears is appended more than once if the button is clicked more than once

![screenshot_20190109-230559](https://user-images.githubusercontent.com/34770591/50917388-67f5f180-1463-11e9-801e-2c51fb1cbbe9.jpg)

![screenshot_20190109-230616](https://user-images.githubusercontent.com/34770591/509173

[2019-01-09 19:12] aashna27 commented on #640
@HarshKhandeparkar its working fine on localhost. Would you mind checking it there ?

[2019-01-10 01:44] HarshKhandeparkar commented on #640
@jywarren I tried clearing the cache I get the same error.

[2019-01-10 01:45] HarshKhandeparkar commented on #640
The error is only on `gh-pages` maybe?

[2019-01-10 12:51] HarshKhandeparkar opened #644 "Load Image step has no insert step button"
### Please describe the problem (or idea)

All the steps have an `+add` button which lets the user insert a step in betwee ln but the initial `load image` step does not.
There should be a button in that step too which lets the user add a step to the start of the sequence.

![screenshot_20190110-181650](https://user-images.githubusercontent.com/34770591/50969413-6defdf00-1504-11e9-91c7-d28e00b0eaeb

[2019-01-10 14:37] tech4GT opened #645 "CLI NOT WORKING"
I am getting this error in the CLI
<img width="1147" alt="screen shot 2019-01-10 at 8 00 10 pm" src="https://user-images.githubusercontent.com/25617855/50975003-7e0ebb00-1512-11e9-9fa3-20505430c0aa.png">

cc @Mridul97 @jywarren

[2019-01-10 14:41] HarshKhandeparkar commented on #645
Does the `drawRectangle` module work in browser on localhost ?

[2019-01-10 17:01] jywarren commented on #645
Hi, I believe this was addressed in
https://github.com/publiclab/image-sequencer/issues/637, but does it still
not work?

What concerns me is that the CLI failure appeared in Travis, but did not
trigger a Travis failure:

https://travis-ci.org/publiclab/image-sequencer/jobs/477001494#L1713

Can we:

1. confirm if the fix worked, and fix it if not
2. change the title of this issue to "CLI failure n

[2019-01-10 17:03] jywarren opened #646 "'let' not allowed outside strict mode - error"
Travis shows an error in the logs, here:

https://travis-ci.org/publiclab/image-sequencer/jobs/477803581#L830-L834

[code]

But it doesn't fail - i'd like to address both issues, getting Travis to actually report a failure in this case, AND then resolving it -- probably with adding strict mode?

[2019-01-10 17:03] jywarren commented on #646
Related to #645

[2019-01-10 19:35] Divy123 commented on #646
I would like to work upon it.

[2019-01-10 19:37] gauravano commented on #646
Go ahead @Divy123!

[2019-01-10 19:42] Divy123 opened #648 "Adding blend module at unavailable offset always shows loading."
### Please describe the problem (or idea)
On adding Blend module, if the step at offset is not available it always shows loading

I think output produced can be made same as input in case of unavailable offset and a notification can be shown for offset unavailable.

### Please show us where to look
[https://github.com/publiclab/image-sequencer/blob/main/src/modules/Blend/Module.js](url)

[2019-01-10 19:43] Divy123 commented on #648
@jywarren @tech4GT  I would like to work upon this.

[2019-01-10 20:32] jywarren commented on #648
oh please do, that would be great!

On Thu, Jan 10, 2019 at 2:45 PM gitmate[bot] <notifications@github.com>
wrote:

[2019-01-10 22:43] jywarren commented on #611
I guess I think this will be helpful, but won't solve the issue of needing
to rebase so much. One suggestion had been to actually not track /dist/ at
all, and to have maintainers do it only, and perhaps only when we `npm
publish`. Let's quickly check back in the original issue to talk through a
few more possibilities before merging this, ok? Thanks!

On Wed, Jan 9, 2019 at 11:25 PM Pranshu Srivast

[2019-01-10 23:11] #631 closed

[2019-01-10 23:33] jywarren commented on #601
I wanted to highlight that `pre commit hook which builds and adds the dist files` while we should consider it because it'd be nice, it wouldn't solve the conflicts which so often come up and have to be rebased.

What if we made a task called `grunt publish` which:

1. compiles dist
2. publishes to gh_pages
3. runs `npm publish`

then we stop asking people to submit dist files?

[2019-01-11 02:20] jywarren commented on #645
Thank you, I'd really appreciate that!

On Thu, Jan 10, 2019, 8:24 PM Mridul97 <notifications@github.com wrote:

[2019-01-11 14:52] jywarren commented on #198
Just collecting resources here... We might be able to use Google cloud to store images, or Amazon s3. I think we may have a preference for google cloud however as we can potentially get a discount.

https://dzone.com/articles/serverless-image-processing-patterns-with-aws

[2019-01-11 14:54] jywarren commented on #198
And this mentions a template docker image called lambci/lambda for Amazon: https://read.acloud.guru/serverless-image-optimization-and-delivery-510b6c311fe5

[2019-01-11 14:54] jywarren commented on #198
https://github.com/awslabs/serverless-application-model/tree/master/examples/apps/image-processing-service

[2019-01-11 14:55] HarshKhandeparkar commented on #198
@jywarren how about [firebase](https://firebase.google.com)

[2019-01-11 14:57] HarshKhandeparkar commented on #198
Hmm.. then I guess GCP is the best option

[2019-01-11 14:58] HarshKhandeparkar commented on #198
Firebase is probably better for like a blog or something

[2019-01-11 15:02] jywarren commented on #198
Just pasting in more documentation here - https://www.thepolyglotdeveloper.com/2017/12/convert-nodejs-restful-api-serverless-openwhisk/

[2019-01-11 15:05] jywarren commented on #198
Ah here, maybe? https://cloud.google.com/functions/use-cases/real-time-data-processing

[2019-01-11 18:01] jywarren opened #656 "Call for reviewers group and new co-reviewing workflow"
Fixes #173 (😆 🎉)

One year ago, I posted #173 - Building out a contributor community for Image Sequencer, and talked a lot with @tech4GT about how to do this. As you can now see, with your help, we now have a lively community around this library!

## Community growth

Check out some of these pages to see how many people have helped build Image Sequencer, since @ccpandhare and I started the project

[2019-01-11 18:01] jywarren commented on #173
Moving to a new issue here: https://github.com/publiclab/image-sequencer/issues/656

[2019-01-11 18:01] #173 closed

[2019-01-11 18:06] aashna27 commented on #644
@jywarren what do you think ??

[2019-01-11 18:32] jywarren commented on #644
Isn't load image always the first module, so it'd have the Add Step box initially? Maybe that's why it didn't have it. Maybe we need to do it but make sure it doesn't show redundantly when there's only 1 step?

[2019-01-11 18:44] aashna27 commented on #644
I am not really sure if it should have "add" button.

[2019-01-11 18:45] HarshKhandeparkar commented on #644
I think it should as no step can be added in between step 1 i.e. load-image and step 2

[2019-01-11 18:48] Divy123 commented on #656
@jywarren I have fulfilled all the conditions as mentioned to join this wonderful team .
Please consider me adding to the list of reviewers.

[2019-01-11 18:50] VibhorCodecianGupta commented on #656
@jywarren Checked the prerequisite checkboxes here as well. Having a lot of fun with Image Sequencer, would absolutely love to be a part of the co-reviewing group!

[2019-01-11 18:57] aashna27 commented on #656
yes me too 🙌 Happy to have this opportunity 😄 😃  Looking forward to being involved more !! Thanks @jywarren @tech4GT . 🎉

[2019-01-11 19:08] jywarren opened #657 "add second spinner icon in step header"
Let's consider a second spinner in the step title header, so that when steps are collapsed, the spinner still runs.

We'd love help with this one! Thanks!!!

[2019-01-11 19:15] Mridul97 commented on #656
@jywarren I would love to be in this team, I have checked all the conditions. Thanks! :smile:

[2019-01-11 19:15] VibhorCodecianGupta commented on #657
I'd like to work on this!

[2019-01-11 19:18] jywarren commented on #657
Please go ahead!!

On Jan 11, 2019 2:15 PM, "Vibhor Gupta" <notifications@github.com> wrote:

I'd like to work on this!

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/publiclab/image-sequencer/issues/657#issuecomment-453626250>,
or mute the thread
<https://github.com/notifications/unsubscribe-auth/AABfJ-hrdVb6SaaPwNrTE

[2019-01-11 20:12] jywarren commented on #656
Thank you all! I've added you four. 🎉 Awesome!

[2019-01-11 20:13] jywarren commented on #656
I'd like to also note that reviewers, like any community member, have a responsibility to support and uphold our code of conduct! This is part of what makes our community a respectful and fulfilling place. Please give it a careful read! http://publiclab.org/conduct 🎉

[2019-01-11 20:22] HarshKhandeparkar commented on #656
I would have liked to join this too but I will be super busy for the next 2 years and won't be able to do anything. Can I still join and be redundant for 2 years?

[2019-01-11 20:48] bhavayAnand9 commented on #530
@jywarren It's a month old issue and very easy to fix. Can you assign it a fto or first-timers-tag? Thanks

[2019-01-11 21:32] jywarren commented on #530
Done!

****

This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://code.publiclab.org/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting it as a first

[2019-01-11 22:09] jywarren commented on #656
I think that's fine, @HarshKhandeparkar! I'll add you too --have you also completed the prerequisites? Thank you!

[2019-01-12 03:30] tech4GT commented on #656
It's really nice to see our community grow here, our efforts definitely paid off! 🎉❤️

[2019-01-12 04:21] jywarren opened #658 "use require() in index.js to source from /src/cli/"
The `index.js` file in the root directory runs the CLI interface. But the CLI code is a bit long now, and could be easier to read. Let's break it up into a few different files kept in `/src/cli/` and use `require()` to access them from `index.js`. This will result in cleaner and easier to read code.

Personally I like this type of task! It can be pretty fun to tidy things up. The CLI tests should

[2019-01-12 04:48] jywarren opened #659 "CLI error did not trigger a Travis failure"
In #645 we noticed a bug in the CLI version broke that interface - the bug appeared in Travis but did not cause Travis to fail, unfortunately, so we didn't notice it!

The original error was fixed, but actually there seems to be a new one in the CLI, here:

https://travis-ci.org/publiclab/image-sequencer/jobs/478649385#L644-L658

We should ensure that the CLI tests actually detect and report a fai

[2019-01-12 04:49] jywarren commented on #645
OK, closing this and opening a new one for why a CLI error didn't trigger a Travis failure!

Moving to https://github.com/publiclab/image-sequencer/issues/659

Thanks, all!

[2019-01-12 05:04] jywarren opened #660 "Depend on gifshot via node_modules and package.json"
gifshot is a big library - we should include it via npm! https://www.npmjs.com/package/gifshot

https://github.com/publiclab/image-sequencer/blob/main/examples/gifshot.js could be removed, and the reference in index.html could be pointed at /node_modules/ instead.

****

This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](h

[2019-01-12 05:10] jywarren opened #661 "Test ticket from Code Climate"

[2019-01-12 05:10] #661 closed

[2019-01-12 05:11] jywarren opened #662 "Fix "similar-code" issue in src/modules/DrawRectangle/DrawRectangle.js"
Similar blocks of code found in 2 locations. Consider refactoring.

https://codeclimate.com/github/publiclab/image-sequencer/src/modules/DrawRectangle/DrawRectangle.js#issue_5c3973ba3832c40001000163

[2019-01-12 05:12] jywarren commented on #662
This was an experiment to get Code Climate recommendations to turn into issues easily. It worked all right! I think we could refactor this code a bit, indeed!

[2019-01-12 05:57] jywarren commented on #222
Oh i'm so sorry i missed this comment! If you're still interested perhaps we can pick back up here or in another issue?

I'm chiming in with a link to a colormapping lib I found: https://github.com/santilland/plotty

[2019-01-12 06:08] tech4GT commented on #645
Glad to know this was fixed! :smile:

[2019-01-12 08:00] HarshKhandeparkar commented on #656
Yes I have completed the prerequisites. Thanks!

[2019-01-12 09:35] HarshKhandeparkar commented on #662
@jywarren fixed in https://github.com/publiclab/image-sequencer/pulls/664

[2019-01-12 09:45] AmanGarg97 commented on #484
Hey! Can I work on this? It's my first contribution on image-sequencer.

[2019-01-12 10:10] HarshKhandeparkar commented on #484
@AmanGarg97, sure! That will be awesome.

[2019-01-12 10:18] VibhorCodecianGupta commented on #484
@AmanGarg97 I think you can take this one up since you are contributing to Image Sequencer for the first time, familiarise yourself with the code base.
@HarshKhandeparkar I think this is a good `fto` issue, let's let first-timers work on this, cheers!

[2019-01-12 10:35] VibhorCodecianGupta commented on #658
@jywarren PR incoming!

[2019-01-12 10:56] Mridul97 commented on #659
@jywarren Yes, I would like to give this one a try!

[2019-01-12 11:40] VibhorCodecianGupta commented on #659
@HarshKhandeparkar yes, I fixed them. So Travis is not catching the syntax errors then I presume?

[2019-01-12 11:41] HarshKhandeparkar commented on #659
@VibhorCodecianGupta your PR tests are failing because of many reasons but that line 1710 fails in every PR but the overall test does not fail.

[2019-01-12 11:47] VibhorCodecianGupta commented on #659
@HarshKhandeparkar I fixed my PR which was failing because of a parsing error. I noticed the line 1710 failing and another similar error (which is now gone because of the fix) that of using `let` outside the `strict` scope. Which is why I was wondering whether it's just Syntax errors that Travis is not catching, but apparently not, as https://travis-ci.org/publiclab/image-sequencer/jobs/478709461#

[2019-01-12 11:52] HarshKhandeparkar commented on #659
@VibhorCodecianGupta what about https://travis-ci.org/publiclab/image-sequencer/jobs/478484508? The build is not failing even though error is thrown.

[2019-01-12 12:02] VibhorCodecianGupta commented on #659
That is exactly what I'm saying 😆
I thought it was for all syntax errors like it is in this one

but apparently it isn't as can be seen here

https://travis-ci.org/publiclab/image-sequencer/jobs/478649385#L644-L658

[2019-01-12 12:05] HarshKhandeparkar commented on #659
LOL :laughing: I thought you were saying something else.

[2019-01-12 16:01] VibhorCodecianGupta opened #666 "Module step not getting displayed"
### Please describe the problem (or idea)

The modules are not getting displayed, this is a bug introduced after implementing the toggle-able collapse for modules.

Screenshot:
![screen shot 2019-01-12 at 9 29 09 pm](https://user-images.githubusercontent.com/29275810/51075438-52760700-16b1-11e9-841b-fe45d27ec813.png)

Upon inspection, this bug has been introduced in e5d26815d7e02310a6463f48240c402

[2019-01-12 16:02] VibhorCodecianGupta commented on #666
@jywarren @aashna27 can you guys reproduce this one?

[2019-01-12 16:05] aashna27 commented on #666
Yeah that's cause of a bootstrap styling, on the bootstrap class that makes the display for collapse class be none, it will get fixed soon.

[2019-01-12 16:07] VibhorCodecianGupta commented on #666
@aashna27 yes, I just caught that. You can push the fix if you have the time, or I'll do it whenever I'm free :D

[2019-01-12 16:08] HarshKhandeparkar commented on #666
I think you can close this one as @Mridul97 is fixing this.

[2019-01-12 16:08] aashna27 commented on #666
Mridul has already made a pr.

[2019-01-12 16:14] AmanGarg97 commented on #484
@VibhorCodecianGupta @HarshKhandeparkar I can start with this but it would also be best if you can assign some another issue so that I can go through the codebase and can start contributing to this.
Thanks!

[2019-01-12 16:17] VibhorCodecianGupta commented on #666
Okay! didn't notice. Is there a dedicated issue for this? If this is a duplicate, let's close this. If not, let's keep this up?
#651 is fixing this

[2019-01-12 16:21] VibhorCodecianGupta commented on #658
@jywarren using strict mode is always good, as you mentioned in the PR, let's do it!
However, is the let based error affecting this PR too? I don't think it is...

[2019-01-12 16:37] HarshKhandeparkar commented on #666
@VibhorCodecianGupta maybe mridul can change their pr to link to this issue?

[2019-01-12 16:42] VibhorCodecianGupta commented on #666
Sounds good.
@Mridul97

[2019-01-12 16:43] Mridul97 commented on #666
Cool! I will do that!

[2019-01-12 17:10] VibhorCodecianGupta commented on #657
@jywarren Could you elaborate on this a bit? Just so I know I am getting this right? Anyway, this will get fixed only after #651 when the UI is working fine

[2019-01-12 23:03] VibhorCodecianGupta commented on #658
@jywarren also, if we'd like to fix the `let` issue in Travis, let's replace it with `var` for now, because using the `strict` mode requires a lot of other things to be taken care of, which I think is best to pursue in a separate issue. A new issue could be created dedicated to introducing the strict scope in js files. For simplicity though, I'd suggest merging #665 without a major overhaul

[2019-01-12 23:14] jywarren commented on #658
Oh ok great!

On Jan 12, 2019 6:04 PM, "Vibhor Gupta" <notifications@github.com> wrote:

@jywarren <https://github.com/jywarren> also, if we'd like to fix the let
issue in Travis, let's replace it with var for now, because using the strict
mode requires a lot of other things to be taken care of, which I think is
best to pursue in a separate issue. A new issue could be created dedicated
to introduc

[2019-01-12 23:17] VibhorCodecianGupta commented on #658
Shall I then? Replace the `let` with `var`?

[2019-01-12 23:41] jywarren commented on #658
yes, let's do that. Thanks.

On Jan 12, 2019 6:18 PM, "Vibhor Gupta" <notifications@github.com> wrote:

Shall I then? Replace the let with var?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/publiclab/image-sequencer/issues/658#issuecomment-453788539>,
or mute the thread
<https://github.com/notifications/unsubscribe-auth/AA

[2019-01-13 00:02] VibhorCodecianGupta commented on #658
@jywarren done!

[2019-01-13 07:47] AmanGarg97 commented on #484
Hey please review #669 and let me know for any other changes.

[2019-01-13 07:49] AmanGarg97 commented on #484
Also are there any proper Contributions Guidelines for the project?
What I faced was:
1. How to install the project in Linux environment for a newbie.
2.What are the steps to solve an issue and make a PR (branching and all that stuff).

If there is not then I will love to make one.
Thanks!

[2019-01-13 07:50] tech4GT commented on #484
I think we have a setup script Aman, try running `npm run setup` and then `npm start`

[2019-01-13 08:07] HarshKhandeparkar commented on #656
@jywarren please add me.

[2019-01-13 14:52] HarshKhandeparkar opened #670 "Use babel for UI files"
### Please describe the problem (or idea)

We can use babel while compiling ui files. As we have recently started adding ui files to `dist/` directory, we can write es6 code for the ui and compile it using babel. This will allow us to shorten the long lines of step.ui which contain `\` every line break and `+` operator for every dynamic field which is loaded from module files using template litera

[2019-01-13 14:53] HarshKhandeparkar commented on #670
@publiclab/is-reviewers is this issue helpful?

[2019-01-13 15:04] aashna27 commented on #657
@VibhorCodecianGupta I have already implemented this , actually @jywarren gave this idea in toggle-collapse's pr so I did it and I wasn't aware of this issue, so I couldn't claim it earlier. Have you started working on this ?

[2019-01-13 15:09] VibhorCodecianGupta commented on #657
No, that's fine @aashna27 if you've implemented, great! However I still don't completely get the ask of this issue, can you explain what is it exactly?

[2019-01-13 15:09] aashna27 commented on #657
yeah sure !  Wait i ll send a gif.

[2019-01-13 15:33] VibhorCodecianGupta commented on #657
@aashna27 this looks super cool! Also, no need to be sorry! Doesn't matter who does it as long as the community keeps adding good code.

[2019-01-13 15:37] VibhorCodecianGupta commented on #546
@jywarren I'm on this!
Would love to know if we already have some packages in IS to compare images or their base64 encodings, was thinking of testing the actual functioning of modules against benchmark images.

[2019-01-13 17:34] VibhorCodecianGupta commented on #657
Why thank you for the great work 😄

A little brainstorming if I may, would it look better if the spinner is aligned to the far right? towards the end of the separator, that is? What do you think @jywarren ?

[2019-01-13 17:41] aashna27 commented on #657
Yess seems a nice one, would make a pr once the toggle pr is merged, will make changes according. Happy to hear more suggestions.

[2019-01-13 18:35] Mridul97 commented on #546
@jywarren @VibhorCodecianGupta We don't have any such package in IS already, was writing the test of brightness module #624 , so there is one issue coming while creating a way of image comparison, the module is returning the output as undefined. Please have a look!

![ss_41](https://user-images.githubusercontent.com/21158457/51089229-ce468100-178f-11e9-9d5a-cd5d92329bea.jpg)

[2019-01-14 09:51] Divy123 commented on #670
I think the idea is awesome.
Your opinion please @jywarren .

[2019-01-14 12:08] HarshKhandeparkar commented on #670
@tech4GT @jywarren this issue can potentially shorten a lot of code but implementing this may be a bit difficult as the index.html will have to include the compiled code and not es6 code. Potentially webpack might also be required for pulling this off.

[2019-01-14 12:16] Divy123 commented on #670
Thanks @HarshKhandeparkar for opening this issue.
Can make a big change for the good.

[2019-01-14 12:16] HarshKhandeparkar commented on #670
I have an idea, the examples/` directory can be divided into two parts the src folder and the index.html file. All the js source can go inside the src folder inside the `examples/` directory and images etc. can remain where they are.

Instead of requiring each js file from `src/` or `lib/` folder, the `index.html` can require `dist/image-sequencer-ui.min.js`. Everything else will remain the same i

[2019-01-14 17:24] rexagod opened #672 "Update Pull Request template"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-01-14 17:34] jywarren commented on #670
Agreed! Actually the UI files are already compiled now, via a PR
from @Mridul97 -- and they'll be browserified too in a new PR! This is a
great idea and we could include Babel in the Gruntfile, right?

On Mon, Jan 14, 2019 at 7:17 AM Harsh Khandeparkar <notifications@github.com>
wrote:

[2019-01-14 20:57] #662 closed

[2019-01-14 21:00] jywarren commented on #656
Adding @HarshKhandeparkar. I believe @rexagod has completed these although for other Public Lab projects in some cases, but they are similarly structured JS libs. So I think it translates pretty well! Adding you both. Thanks!

If folks can explicitly click "Approve" on PRs that would be great.

If you need reviews, please use the `needs-review` label - that way others can scan through in the PR li

[2019-01-14 21:15] jywarren opened #673 "Bootstrap Panel UI for steps"
Following up on a lot of changes from the past week; I am thinking of how we could integrate a lot of the buttons and features into a better and more coherent design using Bootstrap Panels:

https://getbootstrap.com/docs/3.3/components/#panels-heading

Maybe like this?

![image](https://user-images.githubusercontent.com/24359/51141420-39876600-1817-11e9-9e2a-1822a0ba57de.png)

I /think/ this would

[2019-01-14 21:36] Divy123 commented on #670
Yes this is great to implement and I would like to work on this.

[2019-01-14 21:46] jywarren commented on #570
Hi, I'd like to suggest a slightly different approach, i'm sorry I didn't earlier but the rate of contribution is making my inbox a bit wild, apologies!

What if we maintain a utility function which maps the `type` to an `htmlType`, so that we can be more specific than `htmlType` (for reasons you've outlined here!) while not further complicating the `info.json` files, and not making the process of

[2019-01-14 21:47] jywarren commented on #570
I appreciate all your work on this! I think it's a great idea. Thanks for considering my suggestion.

[2019-01-14 21:48] jywarren commented on #670
That sounds great! Thank you.

On Mon, Jan 14, 2019 at 4:36 PM Slytherin <notifications@github.com> wrote:

[2019-01-14 21:53] Mridul97 commented on #673
@jywarren I would like to work on this! :smile:

[2019-01-14 21:55] jywarren commented on #673
haha ok! Let's try to get our pull request backlog down a bit first,
however. Thanks though, this is exciting!!!

On Mon, Jan 14, 2019 at 4:53 PM Mridul97 <notifications@github.com> wrote:

[2019-01-14 22:05] #666 closed

[2019-01-14 22:51] jywarren commented on #657
HI, this is great! I opened a new issue for a Panel ui which can
potentially help with the refinements to UI. Take a look! Also the toggle
PR is merged. Thanks!

On Sun, Jan 13, 2019 at 12:41 PM aashna27 <notifications@github.com> wrote:

[2019-01-14 23:00] jywarren commented on #657
For example the spinner might appear to the right side in the panel UI? Anyways there are more possibilities. Awesome!

[2019-01-15 04:50] HarshKhandeparkar commented on #570
@jywarren The idea you suggested is cool but same type of input can have more than one htmlType like e.g. 'integer' can have both 'range' and 'number' as input. What can we do in that case?

[2019-01-15 04:57] HarshKhandeparkar commented on #570
@jywarren I'll open a new PR

[2019-01-15 06:32] HarshKhandeparkar commented on #570
New pr https://github.com/publiclab/image-sequencer/pull/674

[2019-01-15 14:05] gauravano opened #675 "Add Code of conduct to the project"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-01-15 16:55] Divy123 commented on #646
@jywarren @tech4GT I tested it by creating a test that uses a simple  assignment using 'let' and the test still passed without any errors.
Hence I don't think there is a problem with our image-sequencer code itself.
Also when I went through [https://node.green/](url), it should fail the test.
Would like to know your opinion on this.

[2019-01-15 17:04] Divy123 opened #676 "Wrong command in PR template."
### Please describe the problem (or idea)
Current PR template suggests using  ` rake test` but it should be `npm test`.
### Please show us where to look
https://github.com/publiclab/image-sequencer/blob/main/.github/PULL_REQUEST_TEMPLATE.md

[2019-01-15 17:08] HarshKhandeparkar commented on #676
@Divy123 this is a good fto-candidate. Can you please add that label and format the issue based on https://github.com/publiclab/plots2/blob/master/.github/ISSUE_TEMPLATE/first-timers-issue-template.md?

[2019-01-15 17:15] Divy123 commented on #676
@jywarren  please review.

[2019-01-15 17:18] HarshKhandeparkar commented on #676
@Divy123 there are only 2 or 3 open first timer issues right now. One of them is being fixed. This is a very good first timers issue. Can you close your pr and let somebody else fix this?

[2019-01-15 17:40] Divy123 opened #678 "Remove logs in console."
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-01-15 18:00] Divy123 commented on #676
I completely agree with you @HarshKhandeparkar .
That is why I have created one more first-timer-issue.
I realized that there are very less first-timers so I have created this one.
Let this one go as I had already done the work.
Will contribute by opening such f-t issues in future as well.

[2019-01-15 18:02] HarshKhandeparkar commented on #678
@Divy123 good but can you please update the format based on the template?

[2019-01-15 18:04] Divy123 commented on #678
Actually I formatted the template as somethings were not required.

[2019-01-15 18:48] aashna27 commented on #657
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/26546120/51202213-3b8b1b00-1924-11e9-91d2-3f4a26bf3051.gif)

how does this seem ?

[2019-01-15 18:50] aashna27 commented on #657
yes had a look at it, seems a good improvement .. currently I thought of doing in the original UI considering the pr backlog as you mentioned there.Is it okay ?

[2019-01-15 22:43] jywarren commented on #676
great thinking, folks! Thanks!

On Tue, Jan 15, 2019 at 1:01 PM Slytherin <notifications@github.com> wrote:

[2019-01-16 01:42] FLLGitHub commented on #675
This is my first time but I will try. Wish me luck!

[2019-01-16 04:40] sashadev-sky commented on #530
I will double check @kevinzluo's solution and repost this as a FTO in the next few hours :) @jywarren @bhavayAnand9

[2019-01-16 05:21] sashadev-sky commented on #530
@bhavayAnand9 @kevinzluo @jywarren I think this issue may be outdated as the UI looks like this now:
[http://sequencer.publiclab.org/examples/#steps=contrast{}](http://sequencer.publiclab.org/examples/#steps=contrast{})
<img width="972" alt="screen shot 2019-01-16 at 12 11 15 am" src="https://user-images.githubusercontent.com/41092741/51227938-73925e00-1924-11e9-8d89-76f0c31bef26.png">

Please con

[2019-01-16 09:09] himanshuc3 commented on #678
Is the UserInterface file not being used anymore? It does not have any logic besides showing console logs.

[2019-01-16 09:11] VibhorCodecianGupta commented on #678
@himanshuc3 it logs the steps the sequencer takes during the process. Is it a good idea to remove them just yet? Let's confirm with @jywarren first?

[2019-01-16 10:44] HarshKhandeparkar commented on #678
@VibhorCodecianGupta how about adding a verbose mode?

[2019-01-16 12:44] bhavayAnand9 commented on #530
@sashadev-sky  other modules like crop which uses text inputs instead of range based have still this issue.
![screenshot 2019-01-16 at 16 58 55](https://user-images.githubusercontent.com/34943807/51248157-4d68ce80-19b5-11e9-867c-0dab99dfafff.png)

[2019-01-16 13:06] vrk99 commented on #675
Hello, I would like to claim this issue, if available.

[2019-01-16 13:07] HarshKhandeparkar commented on #675
Sure @vrk99

[2019-01-16 13:09] HarshKhandeparkar commented on #675
Please feel free to leave a comment if you are stuck.

[2019-01-16 13:15] vrk99 commented on #675
Ya, if you could confirm the process that i think is to be followed:
1. Fork the repo
2. Commit the changes to the forked repo
3. Make a PR from the forked repo
Correct?

[2019-01-16 13:47] HarshKhandeparkar commented on #675
Yes, go ahead vrk99. Also can you please create a new branch on the forked repo? I'm ready to answer any other questions too. 😊

[2019-01-16 14:43] aashna27 commented on #597
How's work going @VibhorCodecianGupta please let me know what can I help you with.

[2019-01-16 14:50] aashna27 commented on #613
@VibhorCodecianGupta are you making a new white balance module ?

[2019-01-16 14:51] jywarren commented on #678
I think the user interface file is designed to be an overridable minimal
reference implementation of the UI code which can be replaced by a more
complex UI. We could add comments to say this explicitly?

On Wed, Jan 16, 2019, 5:45 AM Harsh Khandeparkar <notifications@github.com
wrote:

[2019-01-16 15:17] HarshKhandeparkar commented on #678
@jywarren how about adding a config file of some sort but in a different issue as we are browserifying and refactoring the code anyways. Maybe close this one and find some better but complex solution?

[2019-01-16 16:04] puranik9 commented on #678
Is this still up for grabs? First timer here

[2019-01-16 16:10] HarshKhandeparkar commented on #678
@puranik9 welcome! Can you please wait for @jywarren's approval? If sir says that this issue is good to go, then you can grab it. In the meanwhile, you can search through other issues to find some other first timer only(if any) and see if that interests you. You can also get yourself acquainted with the codebase. Thanks!

[2019-01-16 17:00] VibhorCodecianGupta commented on #613
@aashna27 Yep! based on the brightest pixel in the image

[2019-01-16 17:02] aashna27 commented on #613
okay !! good to know 😄

[2019-01-16 17:25] #675 closed

[2019-01-16 17:52] Divy123 commented on #542
@jywarren  @tech4GT  Sorry this issue is taking too much time but I would like to mention that almost all the libraries or modules I saw for this are using node v6+ .
So if we can change out travis can be configured to work with node v6+.
Would like to know your opinion please.

[2019-01-16 20:07] Mridul97 commented on #673
@jywarren I have caught up with pull request backlog! :smiley:

[2019-01-16 22:53] jywarren commented on #546
Sorry, yes we do actually, although we don't use it enough!

`looks-same`:

https://github.com/publiclab/image-sequencer/blob/81719a9e139e2a144219d354522f8cdf31d55dd3/test/modules/image-manip.js#L33-L37

[2019-01-16 22:54] jywarren commented on #546
Sorry took me a few days, i'm a bit behind!

[2019-01-16 23:20] jywarren commented on #601
What do other folks think of this plan?

[2019-01-16 23:57] jywarren commented on #542
Hm, sure, want to open a travis.yml change PR?

On Wed, Jan 16, 2019 at 12:53 PM Slytherin <notifications@github.com> wrote:

[2019-01-17 00:00] Divy123 commented on #542
Ya sure.

[2019-01-17 01:06] sashadev-sky commented on #530
@bhavayAnand9 Sorry I missed that! I went through a few other ones and they were converted to the new UI so I figured they all might be. Is there a reason we changed some and not others?

Would it be preferable to change all of them to the new UI for consistency? If so, I can open up FTOs regarding that. If not, I will open for the recommended edit for the current UI.

[2019-01-17 02:20] harsh1599 commented on #672
Hey! May I work on this? ..First timer here

[2019-01-17 03:59] HarshKhandeparkar commented on #672
@harsh1599 sure. Go ahead.

[2019-01-17 05:50] VibhorCodecianGupta commented on #546
@jywarren looks great. I'll get on to writing some tests right away!

[2019-01-17 07:56] milaaraujo commented on #656
I can be a reviewer, @jywarren! :)

[2019-01-17 08:18] harsh1599 commented on #672
I've updated the file and made a pull request..kindly review the changes

[2019-01-17 14:04] Mridul97 commented on #546
@VibhorCodecianGupta I was also working on adding tests, can we collaborate on this one, maybe you can create tests for some modules and I will create for others, Just a suggestion. :smiley:

[2019-01-17 14:30] VibhorCodecianGupta commented on #546
@Mridul97 sounds nice! I think you were working on the brightness module, right? I'll pick up a couple others for the time being, and make a PR. We can proceed accordingly!

[2019-01-17 18:11] bhavayAnand9 commented on #530
@sashadev-sky I don't think we can change all modules because some modules like white-balance can take input from 0-40k so it'll be difficult to adjust that input on a slider. I guess slider method is more suitable with modules having one input and having a range between 1-100. What do you think?

[2019-01-17 22:20] jywarren commented on #656
Thanks, @milaaraujo ! I'll add you to the matching `plots2-reviewers` group. We'll probably do a more formal call there soon.

[2019-01-17 23:40] jywarren commented on #172
Found a nice reference for this!!! https://blog.acipo.com/blob-detection-js/

![image](https://user-images.githubusercontent.com/24359/51356118-693ca500-1a87-11e9-9770-52b6c143e07a.png)

[2019-01-17 23:52] #676 closed

[2019-01-17 23:57] jywarren commented on #570
ah, actually wouldn't the lookup would go from both range and number to
integer, and not the other way?

On Tue, Jan 15, 2019 at 1:33 AM Harsh Khandeparkar <notifications@github.com>
wrote:

[2019-01-18 01:40] VibhorCodecianGupta commented on #658
@jywarren is there more work to be done here or is this mergeable for now?

[2019-01-18 02:12] sashadev-sky commented on #530
@bhavayAnand9 good point! I don't think it matters how many inputs there are just that the range is small enough to be slider friendly as you mentioned. I will open an FTO for your recommended CSS change :)

[2019-01-18 09:22] HarshKhandeparkar opened #684 "Change New PR Welcome Comment"
Remove the `Dangerbot` part of the comment as dangerbot has not been configured for this repository.

Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're inte

[2019-01-18 09:30] HarshKhandeparkar commented on #678
Updated the issue based on https://github.com/publiclab/image-sequencer/issues/678#issuecomment-455369262

[2019-01-18 11:15] Mridul97 commented on #546
Sounds good! Yes, I am working on the brightness module!

[2019-01-18 11:53] vrk99 commented on #660
Hello!
I have previously solved a fto issue and got the changes merged.
I would like to work on solving this or make this a fto-candidate.

[2019-01-18 12:22] HarshKhandeparkar commented on #678
Updated again as there are no logs in intermediateHtmlStepUi.js

[2019-01-18 12:36] HarshKhandeparkar commented on #660
You can resolve it too as a second time contribution if you want.

[2019-01-18 12:42] aashna27 commented on #546
@VibhorCodecianGupta @Mridul97 can you specify the modules you are writing tests for ? I would write for the others then.

[2019-01-18 12:53] sashadev-sky commented on #530
@bhavayAnand9 My branch is updated but I think there might be something wrong with my setup. Can you please advise? I have never used grunt before but I ran _grunt serve_ and the _demo.css_ file I am seeing in the Network panel of Chrome dev tools seems to be an old version... it doesn't have a lot of the styles on it

 for me it is showing:
<img width="582" alt="screen shot 2019-01-18 at 6 57 22

[2019-01-18 13:32] himanshuc3 commented on #678
@HarshKhandeparkar I've removed the console logs from demo.js.

[2019-01-18 13:39] HarshKhandeparkar commented on #678
@himanshuc3 please do the changes suggested in your PR

[2019-01-18 14:04] HarpinderJotSingh commented on #684
Hey @HarshKhandeparkar  I'm a first-timer can I do solve this issue

[2019-01-18 14:07] HarshKhandeparkar commented on #684
@HarpinderJotSingh welcome! , go for it. You can any questions here.

[2019-01-18 14:12] HarpinderJotSingh commented on #684
Yeah I just wanted to ask one thing, I should make changes in my cloned repo and sent pr right?.

[2019-01-18 14:13] HarpinderJotSingh commented on #684
Forked*

[2019-01-18 14:16] HarshKhandeparkar commented on #684
Yes, you can create a new branch in your forked repo, make the changes and send the pr.

[2019-01-18 15:34] vrk99 opened #687 "Switch to npm for gifshot"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-01-18 15:35] vrk99 commented on #687
@publiclab/is-reviewers
Can you review this issue and add the labels. Thank You

[2019-01-18 16:43] HarpinderJotSingh commented on #684
Solved this issue, done some mistake earlier , so got late in sending PR.

[2019-01-18 17:06] gauravano commented on #687
Thanks for opening FTO @vrk99!

[2019-01-18 19:34] atsutton commented on #687
Hello -- I'd love to handle this for my first issue. Is that possible?

[2019-01-18 19:35] bhavayAnand9 commented on #530
Haha! You had forked a wrong repo. You forked it from [jywarren/image-sequencer](https://github.com/jywarren/image-sequencer) instead of [publiclab/image-sequencer](https://github.com/publiclab/image-sequencer). Jywarren's repo is 159 commits behind.

[2019-01-18 19:36] HarshKhandeparkar commented on #687
@atsutton welcome! You can go ahead and resolve this one. You can ask any queries here too!

[2019-01-18 19:37] bhavayAnand9 commented on #530
@sashadev-sky  Haha! You had forked a wrong repo. You forked it from [jywarren/image-sequencer](https://github.com/jywarren/image-sequencer) instead of [publiclab/image-sequencer](https://github.com/publiclab/image-sequencer). Jywarren's repo is 159 commits behind.

[2019-01-18 19:46] HarshKhandeparkar commented on #660
New FTO created https://github.com/publiclab/image-sequencer/issues/687

I think this can be closed.

[2019-01-18 20:16] jywarren commented on #530
oh no! Yes, i am recently usually updating only my feature branches...
sorry!!!

On Fri, Jan 18, 2019 at 2:38 PM Bhavay Anand <notifications@github.com>
wrote:

[2019-01-18 21:51] ihabmhadi commented on #687
It is smoe thing ican not understand

[2019-01-19 01:34] sashadev-sky commented on #530
@bhavayAnand9 :see_no_evil: :see_no_evil:
I will fix this and open after the weekend

[2019-01-19 03:46] bhavayAnand9 commented on #530
Thanks!

[2019-01-19 18:08] Divy123 commented on #542
while I was working with fisheyegl module , I found that requiring fisheyegl in node.js says FisheyeGl is not defined.
`module.exports = function DoNothing(options,UI) {

  var output;

  require('fisheyegl');`
This is the code from Module.js inside fisheyegl module and FisheyeGl is not available.
Any suggestions @jywarren @tech4GT ?

[2019-01-19 18:09] Divy123 commented on #542
`module.exports = function DoNothing(options,UI) {

  var output;

  require('fisheyegl');`
This is the code from fisheyegl Module.js.
Here requiring fisheyegl is not giving any results that is FisheyeGl is not defined.
Any suggestions @jywarren @tech4GT ?

[2019-01-20 12:40] HarshKhandeparkar commented on #395
This already works. Closing this one. 😊

[2019-01-20 12:40] #395 closed

[2019-01-20 18:14] HarshKhandeparkar commented on #356
Seems like this is redundant and has been fixed elsewhere and is outdated. Can this be closed? @jywarren @gauravano

[2019-01-20 18:18] Paarmita commented on #356
@HarshKhandeparkar Thanks for the review.

[2019-01-20 18:18] #356 closed

[2019-01-20 18:34] HarshKhandeparkar commented on #392
This has been fixed.

[2019-01-20 18:34] #392 closed

[2019-01-20 18:38] HarshKhandeparkar commented on #337
Seems like this is a duplicate and has been fixed.

[2019-01-20 18:38] #337 closed

[2019-01-20 18:42] HarshKhandeparkar commented on #304
@Mridul97 @jywarren @tech4GT materialize is a good option here I guess. Its modern and is even based on material design and simple too. Very similar to bootstrap.

[2019-01-20 18:48] HarshKhandeparkar commented on #304
This is an example website created using materialize

https://pixinvent.com/materialize-material-design-admin-template/html/fixed-menu/

[2019-01-20 19:00] gauravano commented on #356
This issue is not required as there is a change in page design. Thanks @HarshKhandeparkar @Paarmita !

[2019-01-20 19:04] HarshKhandeparkar commented on #356
Maybe we can open a new `fto` though as it is not working for smaller screens

Import-image:

![screenshot_20190121_003315_com android chrome](https://user-images.githubusercontent.com/34770591/51443792-4ffc5880-1d14-11e9-8ecb-7cd27b2f5178.jpg)

Load-image first step:

![screenshot_20190121_003318_com android chrome](https://user-images.githubusercontent.com/34770591/51443793-5b4f8400-1d14-11e9-9a

[2019-01-20 19:06] gauravano commented on #356
Sure! Go ahead!

On Mon, Jan 21, 2019 at 12:34 AM Harsh Khandeparkar <
notifications@github.com> wrote:

[2019-01-20 19:07] HarshKhandeparkar commented on #356
Ok. Will do that sometime.

[2019-01-21 04:40] sashadev-sky opened #692 "Input text is too close to edges"
## First Time?

This is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we'r

[2019-01-21 04:47] sashadev-sky commented on #530
Closing this issue as I have opened an FTO from it #692

[2019-01-21 04:47] #530 closed

[2019-01-21 04:54] nic-og commented on #692
Hi, I'd like to handle this for my first issue. Is that possible?

[2019-01-21 05:17] sashadev-sky commented on #692
@nic-og Yes, we would love your help! Thank you :+1:

[2019-01-21 06:39] HarshKhandeparkar opened #693 "Fix Import Image Text Overflow"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-01-21 18:34] HarshKhandeparkar commented on #213
Crop module works fine now I think. Can this be closed? @jywarren @gauravano

[2019-01-21 19:17] HarshKhandeparkar opened #694 "New Module Ideas For Image Sequencer"
Hello everyone! Do you have any good module ideas for `image-sequencer`?

### Ideas

If you have seen or heard of image processing steps even of you don't know what they mean or how they sre different from others or if you know some great links where such reliable information can be found, then please let us know in the comments below.

If you have get ideas for modules(even original ones) and you

[2019-01-21 19:20] HarshKhandeparkar commented on #694
I'm already working on a flip image module.

[2019-01-21 19:50] najMaseu commented on #693
Hello, can i work on this issue? :)

[2019-01-21 19:52] HarshKhandeparkar commented on #693
@najMaseu sure go ahead! Feel free to ask any doubts if you are stuck anywhere.😊

[2019-01-21 19:53] najMaseu commented on #693
Thank you!

[2019-01-22 05:43] HarshKhandeparkar commented on #694
Flip image module done! https://github.com/publiclab/image-sequencer/pull/696

[2019-01-22 05:54] HarshKhandeparkar opened #697 "Select Module Does Not Reset After Adding A Module"
### Please describe the problem (or idea)
The `select` dropdown for adding modules doesn't reset to its normal text. i.e. `More Modules...` after adding a module. The name of the module is shown but the description is not shown above.

![screenshot from 2019-01-22 11-17-00](https://user-images.githubusercontent.com/34770591/51514866-90a0c280-1e37-11e9-89d5-bc0e9a5f1581.png)

![screenshot from 2019

[2019-01-22 06:07] HarshKhandeparkar opened #698 "Center Cropped Image"
### Please describe the problem (or idea)

After an image is cropped it is aligned to the top left corner. Instead, it can be centered.

![screenshot from 2019-01-22 11-32-01](https://user-images.githubusercontent.com/34770591/51515388-7b2c9800-1e39-11e9-9b2d-9d03367c6f6d.png)

### Possible FTO

This is a potential `first-timers-only` issue. If you are new to the community, then you can reformat t

[2019-01-22 06:12] HarshKhandeparkar commented on #645
This has been fixed. Closing this

[2019-01-22 06:12] #645 closed

[2019-01-22 13:03] #541 closed

[2019-01-22 13:13] #678 closed

[2019-01-22 13:14] #672 closed

[2019-01-22 14:14] harsh1599 commented on #698
Hey! I would llke to work on this.

[2019-01-22 14:18] HarshKhandeparkar commented on #698
@harsh1599 go ahead! you can resolve this as a 2nd time contribution to get acquainted with the codebase

[2019-01-22 15:07] Mridul97 commented on #694
The idea of a tint module seems interesting, I would like to work on this one! @jywarren

[2019-01-22 15:53] AmanGarg97 commented on #364
Hey  @jywarren  can I start working on this if this issue is not resolved?

[2019-01-22 17:06] harsh1599 commented on #698
We want the thumbnail to be in the center right?

[2019-01-22 17:14] harsh1599 commented on #698
![screenshot from 2019-01-22 22-42-37](https://user-images.githubusercontent.com/33490577/51552736-3f282000-1e97-11e9-81de-75655fe4894c.png)
Is this the desired result?

[2019-01-22 17:19] HarshKhandeparkar commented on #698
@harsh1999 it looks good but can you center it vertically?

[2019-01-22 17:22] HarshKhandeparkar commented on #698
Btw what is the name of the icon pack you are using? Looks pretty cool. Sorry for going off topic 😜

[2019-01-22 17:37] HarshKhandeparkar commented on #694
@jywarren @publiclab/is-reviewers there was an old issue about a module which can remove a specific color. I have an idea about how that can be done but I'm not sure.

The module can fo through all the pixels and search for the provided color (maybe with some tolerance). If the color is found then replace it with the average of all four adjacent pixels.

@Mridul97 @VibhorCodecianGupta any thoughts

[2019-01-22 17:54] harsh1599 commented on #698
It's called hicolor-icon-theme I guess..I'm not really sure..coz it came preinstalled with ubuntu and I'm a beginner so I'm not really aware of any icon themes.

[2019-01-22 18:01] HarshKhandeparkar commented on #698
Oh I guess it is the new community theme which comes preinstalled. I haven't tried that before. Thanks anyways. Also please try to center the image vertically. @harsh1599

[2019-01-22 18:03] HarshKhandeparkar commented on #694
If nobody else wants to work on it the. i can try. I'll require a sample image though. @jywarren?

[2019-01-22 19:59] VibhorCodecianGupta commented on #658
@jywarren is #665 mergeable?

[2019-01-22 20:25] #618 closed

[2019-01-22 22:16] #684 closed

[2019-01-22 23:56] Mridul97 commented on #694
@HarshKhandeparkar Sounds good! would like to work on this, but I think we should wait for @jywarren thoughts about filling the pixels with average of adjacent pixels! Thanks!

[2019-01-23 08:40] harsh1599 commented on #698
Hey! I tried really hard..but I am unable to center it vertically as the "col-md-8" class spans vertically only as much as the image does and I am not able to find how to stretch the div vertically..it would be great if you could suggest something @HarshKhandeparkar

[2019-01-23 09:59] HarshKhandeparkar commented on #698
Ok. I'm not as good st CSS. Maybe @aashna27 can help?

[2019-01-23 12:15] akshaygupta533 commented on #698
Can I work on this? The vertical alignment part.

[2019-01-23 12:16] HarshKhandeparkar commented on #698
@akshaygupta533 if @harsh1999 wants then you two can collaborate.

[2019-01-23 13:38] gfting commented on #697
Hello! I'm interested in working on this, but I'm not sure what exactly the bug is. What is missing?

[2019-01-23 13:48] HarshKhandeparkar commented on #697
@gfting go ahead and resolve it. The bug is that the text inside the select dropdown does not change to the default text which is `More modules...` after the button is clicked but everything else including the description which is displayed above the quick buttons is reset.

[2019-01-23 13:50] HarshKhandeparkar commented on #697
You can reproduce the bug by:
1. Selecting a step.
2. Clicking the `Add Step` button.
3. The text inside the select dropdown(i.e. the value) will not reset. It will still be the name of the module.
Thanks!

[2019-01-23 13:59] harsh1599 commented on #698
I try one last time..is this the desired output
![screenshot from 2019-01-23 19-28-03](https://user-images.githubusercontent.com/33490577/51611394-26764380-1f45-11e9-9f5f-8ee2838c1563.png)

[2019-01-23 14:00] HarshKhandeparkar commented on #698
@harsh1999 awesome. Just make sure it works on all screen sizes. @akshaygupta533 maybe you can work on some other issue?

[2019-01-23 14:01] HarshKhandeparkar commented on #698
Also please make sure this works for all crop sizes.

[2019-01-23 14:03] HarshKhandeparkar commented on #698
@harsh1999 you can open a pr and we can discuss this there.

[2019-01-23 14:12] gfting commented on #697
Thanks! How do I test changes?

[2019-01-23 14:14] HarshKhandeparkar commented on #697
You can test the changes by clicking the clear cache button at the bottom
of the page.
If you have edited any js files then you will have to run `grunt build`
locally and then click on the clear cache button. You have to clear the
cache each time you make any changes. Thanks and welcome !

On Wed 23 Jan, 2019, 7:42 PM Gabriel Ting <notifications@github.com wrote:

[2019-01-23 14:15] gfting commented on #697
Ah - how do I run the image sequencer locally? Thank again, this is super helpful!

[2019-01-23 14:16] HarshKhandeparkar commented on #697
You can clone the repository and run `npm run setup` and then `npm start`
to view it in the browser. :+1:

On Wed 23 Jan, 2019, 7:45 PM Gabriel Ting <notifications@github.com wrote:

[2019-01-23 14:23] akshaygupta533 commented on #698
On inspecting the img element, the style attribute is empty even though "max-width=100%" is added in code. I am running a local environement. Any idea why this is the case?

[2019-01-23 14:25] HarshKhandeparkar commented on #698
Please click the clear cache button. Also you will have to run `grunt
build` if js files are changed

On 23-Jan-2019 7:53 PM, "Akshay Gupta" <notifications@github.com> wrote:

On inspecting the img element, the style attribute is empty even though
"max-width=100%" is added in code. I am running a local environement. Any
idea why this is the case?

—
You are receiving this because you were mentione

[2019-01-23 14:35] harsh1599 commented on #698
Done @HarshKhandeparkar

[2019-01-23 15:02] gfting commented on #697
I tried adding the selected property, using resfreshOptions, but it doesn't seem to make any changes. I'm not sure if I'm doing something wrong with the grunt build and clearing the cache, or something else. Could you give me more hints? Thank you so much

[2019-01-23 15:13] HarshKhandeparkar commented on #697
You dont have to add any properties. You only have to change its value
using jquery `val()` method.

On Wed 23 Jan, 2019, 8:32 PM Gabriel Ting <notifications@github.com wrote:

[2019-01-23 15:22] HarshKhandeparkar commented on #697
All you have to do is change the vlaue of the `<select>` html element. When I had opened the issue, I did not know which part of the code is to be changed.

You will have to change
https://github.com/publiclab/image-sequencer/blob/main/examples/demo.js#L68-L69

You will have to change the click event listener for the #add-step-btn and add a line which resets the value of the select element

[2019-01-23 15:36] HarshKhandeparkar commented on #697
@Divy123 @aashna27 @Mridul97 can one of you please help @gfting if online and of you have time?

[2019-01-23 16:03] rexagod commented on #697
Hello @gfting! Can you tell me exactly what it is that you're unable to understand? Thanks!

[2019-01-23 16:08] gfting commented on #697
Hello @rexagod ! I've never used jquery before, so I'm a little lost

[2019-01-23 16:52] gfting commented on #697
@rexagod @HarshKhandeparkar I guess I'm not sure how to structure it - isn't the click event good? How do I set the value back to none after the step is added?

[2019-01-23 16:54] HarshKhandeparkar commented on #697
@gfting the click event is good but it only adds the step. What you have to
intstead do is add the step and also reset the dropdown. @rexagod

On Wed 23 Jan, 2019, 10:22 PM Gabriel Ting <notifications@github.com wrote:

[2019-01-23 16:58] HarshKhandeparkar commented on #697
I haven't tested how to reset the value. Maybe other @publiclab/is-reviewers can help you?

[2019-01-23 17:10] rexagod commented on #697
@gfting I guess if you're facing problems in restructuring the code, you may as well try to approach this issue by creating a custom event listener that detects for a module addition and resets the value **after** the same, and put all that snippet somewhere appropriate.

[2019-01-23 17:15] gfting commented on #697
This is my first time issue - I'm even more lost honestly, give little knowledge of javascript @rexagod

[2019-01-23 17:26] gfting commented on #697
also, the build broke and I can't clear the offline cache anymore. I recloned and rebuilt but it stopped working @rexagod @HarshKhandeparkar

[2019-01-23 17:46] gauravano commented on #630
Thanks for update @HarshKhandeparkar. @tech4GT feel free to reopen if needed. Thanks!

[2019-01-23 17:46] #630 closed

[2019-01-23 17:51] HarshKhandeparkar commented on #697
@gfting there is a cache tab in chrome/firefox dev tools which can be used to clear cache manually.

https://developers.google.com/web/tools/chrome-devtools/manage-data/local-storage

[2019-01-23 19:33] gfting commented on #697
It looks like it's line 61 in the defaultHtmlSequencerUi.js file - how do I switch to the value of "none"

[2019-01-23 19:46] gfting commented on #697
I fixed the issue! @HarshKhandeparkar @rexagod, what are the next steps? This is my first time contributing to open source

[2019-01-23 19:48] HarshKhandeparkar commented on #697
@gfting awesome. You can go ahead and open a PR and mention `@publiclab/is-reviewers` in the comments. Thanks ! :tada:. Its 1:18 AM here ao bye.

[2019-01-23 19:50] gfting commented on #697
@HarshKhandeparkar Thank you so much for your help, I really appreciate it! Good night

[2019-01-23 20:04] HarshKhandeparkar commented on #500
This is working right now. Closing this. Can reopen if needed.

[2019-01-23 20:04] #500 closed

[2019-01-23 22:00] jywarren commented on #694
Hmm, interesting! Maybe we could replace with a greyscale pixel by
averaging the color channels for that pixel?

On Tue, Jan 22, 2019, 8:56 PM Mridul97 <notifications@github.com wrote:

[2019-01-23 22:05] jywarren commented on #364
I think it's complete, @aashna27 can you confirm? Thanks!!!

[2019-01-23 22:08] #687 closed

[2019-01-23 22:13] jywarren commented on #246
I think we are good here, although we should open a new issue to move all UI files to /src/ui or /ui/src -- @publiclab/is-reviewers what do you think?

[2019-01-23 23:44] jywarren commented on #197
Im going to close this and break out the remainder!!!

[2019-01-23 23:47] jywarren opened #707 "List of real world use cases to aim for"
I'm thinking about a few goals for real world uses we've talked about in the past, and want to maintain a list of them that would be great examples of what Image Sequencer can be used for, OR what we should aim to enable it to do.

A couple from https://github.com/publiclab/image-sequencer/issues/197#issuecomment-372354568

* particle identification and sizing for air pollution #172
* quantified c

[2019-01-23 23:47] #197 closed

[2019-01-23 23:51] jywarren commented on #694
I want to mention some ideas from an old issue that could be consolidated into this one, maybe?

https://github.com/publiclab/image-sequencer/issues/165

[2019-01-23 23:53] jywarren commented on #694
And @VibhorCodecianGupta maybe check out this fontpath module here? https://github.com/publiclab/image-sequencer/issues/431

it may allow us to avoid canvas although if we can get a good pure JavaScript version of canvas running, or otherwise make it simple to support for both node and browser, we could go that way too.

[2019-01-23 23:55] #657 closed

[2019-01-23 23:59] #118 closed

[2019-01-24 00:00] jywarren opened #708 "Alternative UI implementations (long-term)"
I think we ought not to do this just yet, but part of the long term plan is to have different UIs be able to run Image Sequencer. I'm collecting a few ideas all in one place, but we have plenty of work before these seem to be a reasonable priority to take up.

 * "node-and-line" style UI - like a flow-based program (Quartz Composer, Pure Data, node red (javascript!), etc)
    * visual nodes-and-li

[2019-01-24 00:07] jywarren commented on #708
More!

* https://developers.google.com/blockly/
* Materialize?

[2019-01-24 00:08] jywarren commented on #304
Moving to #78 & #673!

[2019-01-24 00:08] #304 closed

[2019-01-24 00:11] jywarren commented on #112
We have resize now!!! :-)

[2019-01-24 00:11] #112 closed

[2019-01-24 00:19] jywarren commented on #694
Ah, also - threshold!  I started here but never finished! https://github.com/publiclab/image-sequencer/pull/123

[2019-01-24 01:52] HarshKhandeparkar commented on #708
@jywarren I'll try to change some basic looks using materialize. I have a bit of experience with that

[2019-01-24 05:03] aashna27 commented on #364
Yes it is, the pr might not have referenced this issue. But it has been done. Sorry for the confusion.

[2019-01-24 10:04] HarshKhandeparkar commented on #708
@jywarren @publiclab/is-reviewers I just had a great idea in mind. How about making an image-sequencer desktop app? Using electron we can create that app. It will be cross platform and very easy to build too since we can easily copy the current website code and run it in electron. It can be a good example of ui implementation. It can be in a separate repository. Thoughts?

[2019-01-24 12:07] #364 closed

[2019-01-24 12:48] akshaygupta533 commented on #670
I am willing to contribute to this. @HarshKhandeparkar  @jywarren  can you guys guide me through this?

[2019-01-24 16:51] Divy123 commented on #670
@akshaygupta533  I am working on this.
You may look into some other issue.

[2019-01-24 16:52] Divy123 commented on #646
Any opinions @jywarren .Also since the tests for node 4 has been  removed, we should close this issue.

[2019-01-24 17:34] HarshKhandeparkar commented on #708
@Divy123 @jywarren how about creating a new repo for different image-sequencer ui implementations with reactjs, blockly etc. While keeping the legacy ui in the current repo but planning a complete overhaul for that(stylewise only) because purejs/html is better for first timers. Thoughts?

[2019-01-24 17:36] VibhorCodecianGupta commented on #708
@jywarren I agree with @Divy123 about using frameworks for the long run. The UI is very light for now and pure JS and HTML are just about perfect to render it, but should the project UI get an overhaul with a very impressive UI/UX structure, we might need to look into frameworks to make our jobs easier and make the code more legible

[2019-01-24 17:42] HarshKhandeparkar commented on #708
@VibhorCodecianGupta the UI overhaul can be done stylewise by using some
modern CSS framework like materialize to make the page look modern and flat
and then the same UI can be copied over to react and just break the
different parts of the page into different components. Thoughts?

On Thu 24 Jan, 2019, 11:06 PM Vibhor Gupta <notifications@github.com wrote:

[2019-01-24 18:45] Mridul97 opened #711 "Choose file option is not loading the chosen file"
Choose file option is not loading the chosen file. Please see the GIF below :-

![file](https://user-images.githubusercontent.com/21158457/51700943-4d607280-2036-11e9-8b57-178e25a4a1d0.gif)

[2019-01-25 04:38] VibhorCodecianGupta opened #714 "UI test not working"
The UI test `HTML UI contains notify function` doesn't work.

![screen shot 2019-01-25 at 2 20 16 am](https://user-images.githubusercontent.com/29275810/51725562-e6b87480-2088-11e9-8e1f-da70faf07b55.png)

### Please show us where to look

https://github.com/publiclab/image-sequencer/blob/c445070937a9eb069745ced983f210b2f16da40b/test/ui/user-interface.js#L9

### Browser, version, and operating syst

[2019-01-25 04:42] VibhorCodecianGupta commented on #714
@jywarren fixed at #714

[2019-01-25 06:48] Divy123 commented on #708
@HarshKhandeparkar agreed but there is more to it.
Since as of now we are dealing with lots of UI states I think working with redux can be a great advantage.
After employing react and redux together e can surely work on styles or rather we can work simultaneously.

[2019-01-25 06:56] HarshKhandeparkar commented on #708
@Divy123 you can work on React, I will work on styles. We can then merge both maybe?

[2019-01-25 06:59] Divy123 commented on #708
Sure @HarshKhandeparkar that would be great.
Lets know @jywarren thinks upon this.

[2019-01-25 15:14] HarshKhandeparkar commented on #708
@jywarren @Divy123 @publiclab/is-reviewers How does this look?

![new-select](https://user-images.githubusercontent.com/34770591/51754285-e6989300-20e1-11e9-9307-fa74a32eba55.gif)

![new-range](https://user-images.githubusercontent.com/34770591/51754297-ed270a80-20e1-11e9-8883-4e6a31a3b754.gif)

![new-inputs](https://user-images.githubusercontent.com/34770591/51754304-f2845500-20e1-11e9-9b68-aa523

[2019-01-25 15:32] Divy123 commented on #708
That's super cool!!
Awesome !!

[2019-01-25 15:56] HarshKhandeparkar commented on #708
Is that because of internet or something else?

[2019-01-25 17:36] Divy123 commented on #708
Actually it was due to internet.

[2019-01-25 17:42] HarshKhandeparkar commented on #708
Where do you live?

[2019-01-25 17:44] Divy123 commented on #708
Allahabad or rather Prayagraj :laughing:

[2019-01-25 17:45] HarshKhandeparkar commented on #708
😁

[2019-01-25 17:46] HarshKhandeparkar commented on #708
Were you a gci student by the way😅?

[2019-01-25 17:46] Divy123 commented on #708
@HarshKhandeparkar is there something i can contact you personally?

[2019-01-25 17:49] HarshKhandeparkar commented on #708
I'm a minor and I rather like to be private. Sorry

[2019-01-25 17:49] Divy123 commented on #708
No I wasn't.

[2019-01-25 17:50] HarshKhandeparkar commented on #708
Ok 😅

[2019-01-25 17:50] Divy123 commented on #708
Sure @HarshKhandeparkar . Also i think we should delete these comments to make the issue discussion cleaner.

[2019-01-25 17:51] HarshKhandeparkar commented on #708
Ya sure lets do that

[2019-01-25 18:32] Divy123 commented on #694
@aashna27 maybe we can elaborate.
Also if you can help me with
[https://github.com/publiclab/image-sequencer/issues/542](url)

[2019-01-25 18:35] aashna27 commented on #694
Yeah sure we can divide among the categories, I ll get back to you after some research.

[2019-01-25 18:37] aashna27 commented on #542
@Divy123 please give me sometime I ll search on this and then will let you know.

[2019-01-25 20:43] jywarren commented on #707
Just leaving an image re: color differentiation as an example:

![before-and-after-small](https://user-images.githubusercontent.com/24359/51771708-ad9ff480-20c8-11e9-8ccc-2bb8bf0b5c2e.png)

[2019-01-25 21:57] Divy123 commented on #542
Thanks @aashna27 .
@jywarren I have made some temporary changes to the fisheyegl.js file in src folder in fisheyegl module for fisheye correction.
Please have a look
[https://dpaste.de/H3Kf](url)
What I am stuck at is I am using gl and I think it does not support gl.texImage2D function.
Any suggestions?

[2019-01-25 22:11] Divy123 commented on #542
Also I have tries using node-canvas apart from jsdom but that too does not support webGl.
Can you please  help me @jywarren ?

[2019-01-26 05:55] HarshKhandeparkar commented on #707
@jywarren fo we want only the differentiated xolor to be visible or do we want the different in color? What do we want? Could you please elaborate?

[2019-01-26 12:48] HarshKhandeparkar commented on #708
Collapsible update! @jywarren @Divy123 @publiclab/is-reviewers

![collapsible-new](https://user-images.githubusercontent.com/34770591/51787355-c70f7200-2196-11e9-9241-0889ed310b0e.gif)

[2019-01-26 18:14] Divy123 commented on #299
@jywarren can you please provide some more details into it .
I went through [https://github.com/publiclab/Leaflet.DistortableImage ](url) and was not able to judge the working .
Can you please provide some insights?

[2019-01-26 18:23] Divy123 opened #718 "Use of socket.io for two people to work on same image simultaneously(Long Term)"
This feature involves two people to edit the same image by using web sockets which can be a good use case for collaborative image-sequencing.

[2019-01-26 18:32] Divy123 commented on #708
I think #670 can be a part if we plan to use React and redux.

[2019-01-26 18:50] Divy123 commented on #632
Is this issue still open @HarshKhandeparkar ?
I would like to work on it.

[2019-01-26 19:05] VibhorCodecianGupta commented on #718
I don't fully understand the use case of this.
The sequencer provides the ability to save the chained sequences already. If for example, user A wants to edit an image a certain way, they can create a sequence and export it to user B who can then edit the same by chaining more modules. Would there be a need to create sequences via web sockets?

[2019-01-26 19:16] Divy123 commented on #718
So the point is suppose there are two users who want to create a sequence of image by applying different effects simultaneously working for some project(lets say).
Won't that be better that we provide that sharing included in our image-sequencer itself which can save the time of both else they would open some external sharing medium and do all this stuff.
Suppose the users have to do this very fre

[2019-01-26 19:36] VibhorCodecianGupta commented on #718
Hmm. @jywarren thoughts?
I still feel using a socket for this sake might be overkill. Something, like allowing sending your created and saved sequences over file-sharing networks or emails etc, would be cooler. Let's brainstorm on this and see what comes up.

[2019-01-26 19:44] Divy123 commented on #718
Sure let's see .
Also I would be happy with your collaboration on this.
Thanks😄

[2019-01-27 04:57] HarshKhandeparkar commented on #632
@Divy123 if @lakshyabatman has not started working on this yet then sure.

[2019-01-27 05:33] HarshKhandeparkar commented on #598
@jywarren @gauravano this has been fixed but was not closed since a wrong keyword `Issue` was used in the PR. Closing this.

[2019-01-27 05:39] HarshKhandeparkar commented on #484
@jywarren @gauravano @PaarmitaI think this is not required due to recent changes

![screenshot_20190127-110553](https://user-images.githubusercontent.com/34770591/51797106-d8529000-2223-11e9-9840-8760101aad05.jpg)

But there is a PR open for it https://github.com/publiclab/image-sequencer/pull/669

[2019-01-27 05:54] HarshKhandeparkar commented on #188
Docs were updated through https://github.com/publiclab/image-sequencer/issues/506. Closing this

[2019-01-27 05:54] #188 closed

[2019-01-27 06:26] HarshKhandeparkar opened #719 "Add New Modules To The Docs"
### Please describe the problem (or idea)

Some of the new modules which were added recently are not added to the `docs/modules.md` file.

- [ ] [Dither](https://github.com/publiclab/image-sequencer/blob/main/src/modules/Dither/info.json)
- [ ] [DrawRectangle](https://github.com/publiclab/image-sequencer/blob/main/src/modules/DrawRectangle/info.json)
- [ ] [PaintBucket](https://github.com/publicla

[2019-01-27 06:34] HarshKhandeparkar commented on #612
@aashna27 from what I know about this stuff, I think exposure is the amount of light entering the lens of a camera. Increase in exposure means that more light is going to enter the lens and photos in the night are going to look better and visibility will increase but with brightness the photo is only going to look brighter. If this issue is about the same exposure then I think this might not be po

[2019-01-27 06:36] HarshKhandeparkar commented on #612
Ah I just found some info [here](https://www.cambridgeincolour.com/tutorials/camera-exposure.htm) it days that exposure depends upon physical factors such as aperture of the lens

[2019-01-27 06:37] aashna27 commented on #612
Yess this gets changed with aperture and other camera lens factors, I
searched. It didn't seem feasible to me.

On Sun, Jan 27, 2019, 12:04 PM Harsh Khandeparkar <notifications@github.com
wrote:

[2019-01-27 06:42] HarshKhandeparkar commented on #612
So can this issue be closed as this is not possible?

On Sun 27 Jan, 2019, 12:07 PM aashna27 <notifications@github.com wrote:

[2019-01-27 07:32] harsh1599 commented on #719
I would like to work on this..

[2019-01-27 07:37] HarshKhandeparkar commented on #719
You can go ahead and resolve this but if you can resolve some other issue
then consider leaving this one for a first time

On Sun 27 Jan, 2019, 1:02 PM Harsh Prabhu <notifications@github.com wrote:

[2019-01-27 07:41] HarshKhandeparkar commented on #719
@harsh1599 if you have already started work then you can go ahead and open a PR. Thanks! 😊

[2019-01-27 07:56] harsh1599 commented on #719
Okay I'll take up another one

[2019-01-27 07:57] HarshKhandeparkar commented on #719
😊

On Sun 27 Jan, 2019, 1:26 PM Harsh Prabhu <notifications@github.com wrote:

[2019-01-27 08:08] HarshKhandeparkar commented on #719
@harsh1599 actually you can resolve this one as this is going to give you knowledge about the modules. So if you are interested then you can solve this one

[2019-01-27 09:32] harsh1599 commented on #719
Sure..I'll solve this

[2019-01-27 09:33] HarshKhandeparkar commented on #719
:+1:

On Sun 27 Jan, 2019, 3:02 PM Harsh Prabhu <notifications@github.com wrote:

[2019-01-27 17:06] jywarren commented on #718
This is really interesting... I actually want to suggest that we consider
something like this for
https://github.com/publiclab/Leaflet.DistortableImage

Or for https://github.com/publiclab/mapknitter which uses the above lib.
Any interest in something like that?

On Sun, Jan 27, 2019, 2:25 AM Harsh Khandeparkar <notifications@github.com
wrote:

[2019-01-27 17:09] VibhorCodecianGupta commented on #598
@jywarren reopened this issue because:
Setting up a frontend testing harness was not addressed in the merged PR, just made a PR for the same. It entails boilerplate code testing the invocation of various UI helper methods. Further tests can be written on top of that.

[2019-01-27 19:11] aashna27 opened #723 "Add Threshold Module"
### A threshold module is used to convert images to binary form, reducing most of the noise. There are various ways by which it's done

It is useful to be able to separate out the regions of the image corresponding to objects in which we are interested, from the regions of the image that correspond to background. Thresholding often provides an easy and convenient way to perform this segmentation o

[2019-01-27 21:38] HarshKhandeparkar commented on #718
@jywarren can you please provide some info about leaflet.distortableimage and mapknitter? Also what part of those libraries are similar to this issue?

[2019-01-28 08:56] HarshKhandeparkar commented on #708
Update!!! @publiclab/is-reviewers @jywarren

Download! :

![new-download](https://user-images.githubusercontent.com/34770591/51824479-64d67e80-2308-11e9-9e89-fec35455211e.gif)

Insert Step! :

![new-insert](https://user-images.githubusercontent.com/34770591/51824521-7ddf2f80-2308-11e9-9aa1-74505469234b.gif)

If it looks like the animations are a bit stuttery, they are not. Its because the GIF fram

[2019-01-28 19:00] jywarren commented on #718
Ah just noting that it's a very strong use case for sockets because there's
strong interest in simultaneous editing there. Whereas here that would be
interesting but perhaps also not a core goal of the library. Thanks!!

On Sun, Jan 27, 2019, 6:38 PM Harsh Khandeparkar <notifications@github.com
wrote:

[2019-01-28 22:07] Divy123 commented on #718
Thanks @jywarren.
I would be really happy to contribute towards the same
Could you please guide me how should I proceed?
Using websockets to implement this feature is quite awesome.

[2019-01-28 23:15] gauravano opened #725 "Buttons going out of their parent element in mobile view"
Hi, while testing the mobile-view for checking. Noted that buttons "Save Sequence" and "view Gif" are going out of their parent element as seen in the image below:

![buttons_out](https://user-images.githubusercontent.com/20878070/51872716-778c9a00-2380-11e9-9bde-284dc7cc6ea0.png)

cc @publiclab/is-reviewers I think, this can be converted to FTO, feel free to edit the issue as required. Thanks!

[2019-01-29 02:49] rexagod opened #726 "Adjust buttons respective to viewport"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-01-29 02:51] rexagod commented on #725
@gauravano You may close this now. I've made one here #726.

[2019-01-29 09:48] VibhorCodecianGupta commented on #726
@gauravano @rexagod I already tried something like this previously, check [this commit](https://github.com/publiclab/image-sequencer/pull/583/commits/522aa979fa1cdb457b3e27288399cbfcb1d1ddbd) out.

adding media queries and removing `min-width` solves this issue, but discussions with @jywarren on that PR concluded in not going for complex CSS manipulations, please check the PR for reference.

[2019-01-29 13:30] Yugandhartripathi opened #727 "Minor Fix required in CODE_OF_CONDUCT.md"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially int

[2019-01-29 15:24] HarshKhandeparkar commented on #727
Thanks, @Yugandhartripathi. Also can you please link to the code of conduct file in the PR body where it is mentioned.

[2019-01-29 15:33] harsh1599 commented on #719
I'm a bit confused. Everything is present in the info.json file right? Like I need to just specify the options and the what they all do right?@HarshKhandeparkar

[2019-01-29 16:22] Yugandhartripathi commented on #727
@HarshKhandeparkar Thanks for adding the tag, added line number and link to the code of conduct file.

[2019-01-29 16:30] HarshKhandeparkar commented on #719
@harsh1599 the docs file is added so that people can go through it easily instead of going through all the info files. Also, people who don't have knowledge about JSON can read it.

[2019-01-29 16:31] HarshKhandeparkar commented on #719
@harsh1599 the info files may not have all the information you might have to add some info of your own sometimes. Even examples can be added.

[2019-01-29 16:34] HarshKhandeparkar commented on #708
@publiclab/is-reviewers @Divy123 @jywarren Update!!

new header:

![new-header](https://user-images.githubusercontent.com/34770591/51923730-938c4c00-2411-11e9-8c57-c84749de9375.gif)

new footer:

![new-footer](https://user-images.githubusercontent.com/34770591/51923745-98e99680-2411-11e9-936a-bceb079cb91f.gif)

new range:

![no-span-range](https://user-images.githubusercontent.com/34770591/5192377

[2019-01-29 17:03] Divy123 commented on #708
Super awesome. Looks amazing.
@jywarren please have a look and also I want to migrate the code to React and redux.
Should I proceed ahead?

[2019-01-29 17:08] HarshKhandeparkar commented on #708
@Divy123 I have made some other general changes to the code as well. Please have a look at it if you haven't. Thanks!

https://github.com/HarshKhandeparkar/image-sequencer/commits/materialize-ui-overhaul

[2019-01-29 17:13] jywarren commented on #708
I also love this 💕💕, but I really want to encourage folks to consider
letting our codebase mature a bit more before attempting a new UI. I know
it's exciting to try out but we have a lot of things to work on to flesh
out and stabilize the codebase before I think we're ready for a new UI.

Make no mistake, i truly appreciate your energy and enthusiasm here. But
let's look at a couple of the big pro

[2019-01-29 17:25] HarshKhandeparkar commented on #708
@jywarren Materialize is a very similar to bootstrap and even a bit simpler. It has no dependencies either. I have only used materialize instead of bootstrap. I have also fixed errors and redundancies in the index.html file. I have also tried to minimise custom styles. Also I have changed the js code and split it into two different folders one for DOM and one for sequencer actions. Also fixed a fe

[2019-01-29 17:26] Divy123 commented on #708
Sure @jywarren .
Also I think the changes made by @HarshKhandeparkar are easily adoptable .
The idea of using React can be postponed until the changes as said by you are done.

[2019-01-29 18:19] jywarren commented on #708
Ok, well Harsh maybe share a PR, but I worry about the changes affecting
the display of button state for many custom UI behaviors, and a number of
UIs relied on bootstrap. Let's give it a good testing but I hope you
understand my caution in this!

You can apart from opening a PR also push to your own gh-pages branch to
let other people try it out. Thanks!

On Tue, Jan 29, 2019, 2:27 PM Slytherin <

[2019-01-29 18:23] HarshKhandeparkar commented on #708
@jywarren sure. I think I will open a PR and any you can point out any concerning things? This is still a WIP though

[2019-01-29 18:24] Divy123 commented on #718
@jywarren can you please help me out with this?

[2019-01-29 18:24] HarshKhandeparkar commented on #708
@jywarren do my gh-pages link to `harshkhandepsrkar.github.io`? Or some other link? I haven't tried it before.

[2019-01-29 18:30] HarshKhandeparkar commented on #708
@jywarren yess! That's a great idea. I am going to open a pr right now. Thanks for the help with gh-pages.

[2019-01-29 18:49] Divy123 commented on #718
No problem @jywarren . Happy journey :smile:

[2019-01-29 19:04] Divy123 commented on #632
@HarshKhandeparkar I have started working on the module.
Just one thing if you can help me out with image manipulation part.
I have got the qr code image data-uri then how should I attach the same to the original image.
thanks

[2019-01-29 19:09] HarshKhandeparkar commented on #632
@Divy123 you can use [get-pixels](https://github.com/scijs/get-pixels) to get an ndarray from a data-uri. Then you can replace pixels in the original image with the pixels in the ndarray. I don't know anything about resizing the image though. An example of getpixels can be tound [here](https://github.com/HarshKhandeparkar/image-sequencer/blob/1787ccd29732aa08c06655001c789d23ba0ee8d2/src/modules/Fl

[2019-01-29 19:12] Divy123 commented on #632
Thanks for your help.
I will go through it. 😁

[2019-01-29 20:44] gauravano commented on #725
Thanks @rexagod for opening a FTO :smiley:

[2019-01-29 20:44] #725 closed

[2019-01-29 22:30] gauravano commented on #726
@jywarren should we close this one then?

[2019-01-29 23:58] rexagod commented on #726
Hey @VibhorCodecianGupta! I really don't think there's anything complex here. The widths are just being converted to a dynamic proportion here that inherit the parent's width. Changing `250px` to `35%` is all that needs to be done here, no media queries, no min-width removal. This in my opinion is one of the simplest solutions for this issue, but if there's some fault in it though that I may not b

[2019-01-30 13:17] dav1d337 commented on #727
Hi, can i do this?

[2019-01-30 13:21] HarshKhandeparkar commented on #727
Go ahead

On Wed 30 Jan, 2019, 6:47 PM David Koch <notifications@github.com wrote:

[2019-01-30 13:38] Chimdiya1 commented on #727
Can I still do this?

[2019-01-30 14:12] HarshKhandeparkar commented on #727
@Chimdiya1 @dav1d337 has already opened a PR. You can try resolving one of [these](https://github.com/publiclab/image-sequencer/labels/fto-candidate) or [these](https://github.com/publiclab/image-sequencer/labels/first-timers-only) if it is not taken up

[2019-01-30 19:05] jywarren opened #731 "Detect and parse any input syntax type (string, obj) in addSteps, replaceImage methods"
I noticed that `sequencer.addSteps('invert,ndvi')` doesn't work because it doesn't recognize and parse the string. We should detect commas and pre-filter the input using `sequencer.importString()` so that we can simply pass multiple steps in via `addSteps()`

This shouldn't be too hard, and we can add this as an example to the README too, where actually we don't show the use of string syntax -- we

[2019-01-30 19:08] jywarren opened #732 "Provide example of JSON style steps syntax in README"
In the docs here: https://github.com/publiclab/image-sequencer#string-syntax

we describe how a steps object can be passed in:

[code]

But we don't describe the formatting. I think there is an example in the tests, we can link to and/or quote in the docs. We should have a brief section below the string syntax section in the docs showing an example of the object syntax!

Also, we should ensure `ad

[2019-01-30 19:12] jywarren commented on #731
Just a note that:

1. `addSteps()` and `insertSteps()` share an implementation, so we'd best make this improvement work for both.
2. any of the input types listed in https://github.com/publiclab/image-sequencer#string-syntax ought to still return the sequencer object itself, so that the methods can be chained, like `sequencer.addSteps().run()`

Thanks!

[2019-01-30 19:12] jywarren commented on #731
And actually we should check that there's a test for their chainability -- i think there is, if I remember right!

[2019-01-30 19:18] IgorWilbert opened #733 "Change style of "take a photo" button"
### Please describe the problem (or idea)
I thought it would be interesting to apply some style in these buttons, so that they match the buttons below. If you agree, I'll turn this into a **FTO Issue**, it is a one line of code change. Changing the "Browse.." button is not so simple, since it uses the default `input type="file"` tag. I'd have to either use a CSS file, make extensive changes in the

[2019-01-30 20:04] VibhorCodecianGupta commented on #731
Hmm. Working on this!

[2019-01-30 20:24] jywarren commented on #731
Awesome!!

On Wed, Jan 30, 2019, 3:04 PM Vibhor Gupta <notifications@github.com wrote:

[2019-01-30 22:17] jywarren commented on #4
I've spun this into it's own Leaflet plugin here: https://github.com/publiclab/leaflet-multispectral and submitted it to the [Leaflet Plugins listing](https://github.com/Leaflet/Leaflet/blob/master/docs/plugins.md#tileimage-display) here: https://github.com/Leaflet/Leaflet/pull/6499

[2019-01-30 22:17] #4 closed

[2019-01-30 22:22] jywarren commented on #707
I believe for that use case (and we should break out its own issue!) we need to accept parameters for two rectangular regions to sample from, average and then display (somehow?) the difference in color -- i suppose in each channel? The rectangular regions could be standard locations -- we could say, take a picture of this card with 2 color patches, and Image Sequencer will quantify the color diffe

[2019-01-31 17:02] jywarren commented on #707
The plugin was accepted and published!

![image](https://user-images.githubusercontent.com/24359/52070994-10bddb00-2550-11e9-9313-bb6ff86a6af6.png)

I've also made a map tile filtering library, a bit more complex, and still a bit buggy -- but you can try it out here: https://publiclab.github.io/leaflet-tile-filter/

https://github.com/publiclab/leaflet-tile-filter

Once it's debugged, i'll submit

[2019-01-31 17:21] HarshKhandeparkar commented on #707
@jywarren the color differenciation should take two images? One as input and one the original? I don't really know if both the regions can be in the same img. Maybe one image can be input or maybe offset? Then the color difference can be for the whole image or for the selected region? Is that how it should work? I'm not quite sure. Please elaborate a bit more. I've understood the basic concept but

[2019-01-31 17:31] HarshKhandeparkar commented on #726
@rexagod @VibhorCodecianGupta I'm adding the label for now. Don't relly know if this should be closed

[2019-01-31 17:56] #598 closed

[2019-01-31 18:01] #658 closed

[2019-01-31 18:01] #727 closed

[2019-01-31 19:26] jywarren opened #735 "New design layout for Save and Add areas"
I'd like to reorganize the Save and Add boxes a bit, because they're a bit confusing, i think.

![image](https://user-images.githubusercontent.com/24359/52079470-a31baa00-2563-11e9-9687-2aae5c09fcdd.png)

Brainstorming some issues:

1. the difference between Save sequence and Save image may be confusing
2. we should have a place to output the whole string syntax of the current sequencer, besides j

[2019-01-31 22:48] jywarren commented on #726
I mainly meant we should try to focus on a slight overhaul of this UI area - i opened an issue for it today! #735 But this is also fine as a shorter term solution! 👍

[2019-01-31 22:59] jywarren commented on #733
This sounds great!

On Wed, Jan 30, 2019 at 2:19 PM welcome[bot] <notifications@github.com>
wrote:

[2019-02-01 09:55] #733 closed

[2019-02-01 10:03] IgorWilbert opened #737 "Format the "Take a Photo" button"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-02-01 10:34] HarshKhandeparkar commented on #737
Thanks! Welcome

[2019-02-01 11:05] IgorWilbert commented on #735
Great ideas @jywarren ! If you have no rush, I'd like to work on this. I could create a PR and update it as the ideas come up in this discussion.

[2019-02-01 11:33] HarshKhandeparkar commented on #735
@IgorWilbert go ahead!

[2019-02-01 12:31] sidntrivedi012 opened #738 "Contrast functionality slider not working."
### Please describe the problem (or idea)
Having loaded the file, the contrast slider is used to control the amount of contrast gradient in the file. But since, it is not working. It is difficult to decide how much contrast should an image have.

I expected to find the contrast to decrease/increase when the slider was used.

### Please show us where to look

http://sequencer.publiclab.org...

###

[2019-02-01 12:31] sidntrivedi012 commented on #738
@jywarren PTAL. I am adding the screen recording as well.

[2019-02-01 14:24] lokesh541 commented on #737
Hi, I'd like to add this change in your project

[2019-02-01 16:20] IgorWilbert commented on #737
@lokesh541 thanks, please go ahead!

[2019-02-01 16:33] HarshKhandeparkar commented on #737
@lokesh541 you can mention `@publiclab/is-reviewers` from your pr to ask for a review

[2019-02-01 16:45] jywarren commented on #738
I think this is interesting, yeah! With text/number inputs, showing the current state is a bit more complex (would we have to show a spinner each time?) but with the sliders maybe each time you release it, it could recalculate automatically? What do other folks think? @publiclab/is-reviewers

[2019-02-01 17:02] lokesh541 commented on #737
@HarshKhandeparkar  Thank you

[2019-02-01 17:41] jywarren commented on #735
That'd be awesome!

[2019-02-01 18:30] jywarren opened #740 "Next steps on UI testing"
https://github.com/publiclab/image-sequencer/pull/720 implemented UI tests, which is GREAT. Let's make a list of next steps:

* [x] build out some actual test assertions
* [x] connect it to the Travis output: https://travis-ci.org/publiclab/image-sequencer/jobs/487565932, see below

So `npm test-ui` should run it:

https://github.com/publiclab/image-sequencer/blob/3081dccf19114d8e7e814a66a791e691a

[2019-02-01 18:31] jywarren commented on #740
Opened a PR!

[2019-02-01 19:55] sidntrivedi012 commented on #738
Exactly @jywarren . I think that as we move the slider we can make asynchronous requests of the parameter that we have decided and the image can get edited accordingly.

[2019-02-01 20:50] Divy123 commented on #738
I think the functionality is great to implement and I would like to work upon it.

[2019-02-01 20:52] Divy123 commented on #732
I would like to work upon this issue.

[2019-02-01 21:00] Divy123 commented on #225
@HarshKhandeparkar can I work on this?

[2019-02-02 07:31] sidntrivedi012 commented on #738
Great @Divy123 . Even I would like to help anywhere if possible.

[2019-02-02 08:45] rexagod commented on #738
@sidntrivedi012 This would definitely prove to be a nice addition to the image-sequencer. Also, you can ask @publiclab/is-reviewers if you have any doubts or so and we'll be happy to help. Thanks!

[2019-02-02 12:18] Mridul97 commented on #673
@jywarren Sure! I will work on this!

[2019-02-02 18:32] IgorWilbert opened #743 "Add GIF speed selector"
### Please describe the problem (or idea)

I looked through some open issues and I couldn't find one that deals with this feature. I think it would be an interesting improvement if the user could choose how many milliseconds per frame the sequence should have. Depending on what you want to show, it might be very interesting to have the ability to change the speed of the whole animation. I still di

[2019-02-02 21:38] Divy123 commented on #743
I would like to attempt this one.
Will do some research and come to it.

[2019-02-02 23:02] Divy123 commented on #732
@jywarren just one thing that by saying 'command JSON object' does that mean JSON object from command line?

[2019-02-02 23:10] Divy123 commented on #743
I am working upon it.

[2019-02-04 05:43] dependabot[bot] opened #746 "Dependabot can't parse your package-lock.json"
Dependabot couldn't parse the package-lock.json found at `/package-lock.json`.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-02-04 15:31] jywarren commented on #743
would be great to think about refactoring this into a module -- it could
accept a parameter for speed.

We may want to start thinking about a type of module that is an "export
module" which produces an output which is not assumed to be chainable.
Like, a GIF maybe could be chained but it raises some questions... but say,
modules to export to PDF, or SVG, or perhaps to display an interactive
graph.