[2019-11-30 12:04] keshav234156 commented on #1322
@Divy123 have you tried the new rotate module. Changes could be seen in beta version

[2019-11-30 12:13] keshav234156 commented on #1315
@Divy123 this horizontal scroll occurs as we have set a min-width. These changes were made in PR # 1208.If we don't add the min-width parameter then it leads to lots of other bugs like text get out of the box, text not aligned properly, dropdown width gets too small

[2019-11-30 12:27] keshav234156 commented on #1285
@jywarren after merging #1289 , our next step should be to solve the error as given in the below error logs.Do you have any idea how can we solve this?

[code]

[2019-11-30 15:54] SidharthBansal commented on #1046
Published on GCI dashboard!

[2019-11-30 15:56] SidharthBansal commented on #1322
Published on GCI dashboard

[2019-11-30 15:59] SidharthBansal commented on #1320
This issue is reserved for GCI only. Published on GCI website

[2019-11-30 16:01] SidharthBansal commented on #1321
Published

[2019-11-30 16:04] SidharthBansal commented on #1322
On request of @keshav234156 I have unpublished this task as someone else is working on this.
Thanks for informing me Keshav!

[2019-11-30 16:05] keshav234156 commented on #1322
@keshav234156 it was fixed by #1218

[2019-12-01 06:39] Divy123 commented on #1315
The problem is not horizontal scroll, it's with the left most button not showing properly.

[2019-12-01 06:59] lohitha02 commented on #1321
I think we need to disable "choose a file" button also while clicking a picture? do I need to open an issue regarding this?

[2019-12-01 07:44] lohitha02 opened #1323 ""Resize" module not working for the given dimensions"
### Please describe the problem (or idea)
 The image remians unchanged irrespective of what the size is
![photo_2019-12-01_13-09-32](https://user-images.githubusercontent.com/43813629/69911120-71ea5f80-143c-11ea-945e-b61f48451e6f.jpg)

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues

[2019-12-01 11:17] HarshKhandeparkar commented on #1323
What is the expected output? Maybe it is the CSS that makes the image **look** smaller?

[2019-12-01 11:26] HarshKhandeparkar commented on #1313
What do you mean by *selecting* the same module again? Selecting from the dropdown(it is already selected)? Moreover, I was able to add the same module again.

![selectin-again](https://user-images.githubusercontent.com/34770591/69913241-6e1a0580-145b-11ea-90e7-f59688302ded.gif)

[2019-12-01 11:50] SidharthBansal commented on #1321
I think you should edit this issue

On Sun, Dec 1, 2019 at 12:29 PM Lohitha <notifications@github.com> wrote:

[2019-12-01 12:03] keshav234156 commented on #1323
@lohitha02, once you download the image you can size of the downloaded image is changed  in comparison to the original image

[2019-12-01 17:42] Divy123 commented on #1321
@SidharthBansal  edited. Please do publish it.

[2019-12-01 17:45] Divy123 commented on #1314
@SidharthBansal please do publish it.

[2019-12-02 05:40] SidharthBansal commented on #1321
Please add code links

[2019-12-02 05:41] SidharthBansal commented on #1314
Please add code links

[2019-12-02 05:56] SidharthBansal commented on #1314
Also, please reformat this to FTO if it is beginner issue. We don't use easy. We use beginner label.

[2019-12-02 16:08] jywarren commented on #1285
This last error happens because it's designed for use in a browser -- which has the variable `window`. But in nodejs this doesn't exist. I'm not sure, i think we can use this syntax to skip this when in node?

https://github.com/publiclab/image-sequencer/blob/f1c94fd78850f6558090697ef4f30f55bdd0f236/src/ImageSequencer.js#L1

[2019-12-03 16:29] SidharthBansal commented on #1319
Hello, please ensure beginner tasks are in First Timers Only Format. Please add code links too.

[2019-12-03 16:35] SidharthBansal commented on #1319
We don't use `easy` labels in GCI. Also, please place the reserved for GCI text as the header, not as footer.
Please write the potential problem and solution as different paragraphs. It is ambiguous to GCI students what this task meant to do.
Please do it for all of your tasks before uploading new tasks. Also, kindly hide these unwanted comments after completing the requested suggestions.
Thanks f

[2019-12-03 16:37] SidharthBansal commented on #1317
I have left some comments in other tasks/issues. Please use them here too
Thanks for being supportive. Sorry for being stricter this year regarding quality consistency.
Thanks
SIdharth

[2019-12-03 19:38] keshav234156 commented on #1285
@jywarren ok,I added the following the lines of code in the test file
[code]
 fisheye-gl module loads correctly

    ✔ fisheye-gl module is getting loaded

  fisheye-gl module loads with correct options

    ✔ Option a is correct
    ✔ Option b is correct
    ✔ Option Fx is correct
    ✔ Option Fy is correct
    ✔ Option scale is correct
    ✔ Option x is correct
    ✔ Option y is correct

  fishe

[2019-12-03 20:40] jywarren commented on #1285
This is some great progress!!! Awesome!!! I don't know what this error is about, but maybe @Divy123 or @HarshKhandeparkar or others from @publiclab/is-reviewers or @publiclab/image-sequencer-guides knows?

[2019-12-03 20:41] jywarren commented on #1285
Perhaps we should merge what we have so far here, and work on the remainder in a fresh issue? To build on the great progress you've made so far!?

[2019-12-03 21:06] keshav234156 commented on #1285
Ok, found that error is occurring as we gl-context which in turn is using puppeteer. It is a Code Transpilation Issues ie If you are using a JavaScript transpiler like babel or TypeScript, calling evaluate() with an async function might not work. This is because while puppeteer uses Function.prototype.toString() to serialize functions while transpilers could be changing the output code in such a w

[2019-12-03 21:14] jywarren commented on #1285
whoa, excellent investigating!

On Tue, Dec 3, 2019 at 4:07 PM keshav234156 <notifications@github.com>
wrote:

[2019-12-04 14:17] keshav234156 opened #1324 "Install image-sequencer on local machine"
**Note: We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Install and successfully setup image-sequencer on your local machine. Submit a screenshot of running on the localhost.

Share the issues you encounter along the way.
Please hav

[2019-12-05 03:40] Ryan10145 commented on #1291
I would like to work on this issue (I have claimed the respective task in the GCI dashboard)

[2019-12-05 04:37] Ryan10145 commented on #1291
I took a look at all of the modules and I found 4 modules that are in the stable branch but not in the documentation. I added all 4 of them. The 3 extra modules in the documentation I found that are not in the stable branch are:
* MinifyImage
* NoiseReduction
* Segmented-Colormap

[2019-12-05 12:23] vgadodia commented on #1306
Submitted on GCI dashboard!

[2019-12-05 18:46] keshav234156 opened #1327 "dropdown button in each step panel is always closing the last step"
The dropdown button in each step panel is always closing the last step. It should close the current step
![Untitled_ Dec 6 2019 12_06 AM](https://user-images.githubusercontent.com/45951376/70263877-52955e80-17bd-11ea-981c-64100ffc983a.gif)

[2019-12-05 18:46] keshav234156 commented on #1327
@jywarren

[2019-12-06 08:22] SidharthBansal commented on #1297
Published

[2019-12-06 08:27] SidharthBansal commented on #1317
Published

[2019-12-06 08:28] SidharthBansal commented on #1315
Published

[2019-12-06 08:29] SidharthBansal commented on #1319
Published

[2019-12-06 08:29] SidharthBansal commented on #1318
Published

[2019-12-06 09:32] fluctix commented on #1324
![Capture](https://user-images.githubusercontent.com/40538506/70312322-6f6f7780-1839-11ea-8ee5-c08fb7034cc7.PNG)

[2019-12-06 09:39] keshav234156 commented on #1324
@fluctix can you please claim the task on GCI dashboard and upload a screenshot on GCI dashboard.

[2019-12-06 09:39] #1324 closed

[2019-12-06 20:52] jywarren opened #1332 "Allow saving onto PublicLab.org"
PublicLab.org now allows (if you're logged in) for opening an image into the editor at https://publiclab.org/post (again, must be logged in)

The docs for this are here: https://github.com/publiclab/plots2/issues/6594#issuecomment-562389677

And I've just completed this in Infragram, here:

https://github.com/publiclab/infragram/commit/7ca92dbf9f630f6010847c26f770cbada7e5a454

So, we should add on

[2019-12-06 20:53] jywarren commented on #223
Finally solved this, moving to: https://github.com/publiclab/image-sequencer/issues/1332

[2019-12-06 20:53] #223 closed

[2019-12-06 21:11] keshav234156 commented on #1332
@jywarren can I help you here?

[2019-12-06 21:14] keshav234156 commented on #1332
@jywarren I just tried the console method but it says **You must be logged out to access this page** .Do you why?

[2019-12-06 22:45] jywarren commented on #1332
Ah, i think at the moment you'd done it, the latest version of PublicLab.org hadn't published yet. Can you try now?

[2019-12-06 22:45] jywarren commented on #1332
And yes, it'd be great to have help on this one! Thanks!

[2019-12-06 22:53] keshav234156 commented on #1332
No can't login when i try to access https://stable.publiclab.org/post it redirects me to https://publiclab.org/home?return_to=%2Flogin  which says **you must be logged out to access this page**. Is this problem account specific?

[2019-12-07 13:08] jywarren commented on #1332
It's live on publiclab.org now so you only have to be logged in there now!
But for your earlier error you would have had to separately sign up at
stable.publiclab.org!

On Fri, Dec 6, 2019, 5:54 PM keshav234156 <notifications@github.com> wrote:

[2019-12-07 13:18] keshav234156 commented on #1332
Oh!!got it .meanwhile i also a made a PR regarding this #1334

[2019-12-07 13:40] HarshKhandeparkar commented on #1046
I have claimed this task on the GCI dashboard.

[2019-12-07 16:22] SidharthBansal commented on #1046
Awesome.

On Sat, 7 Dec 2019, 7:10 pm Harsh Khandeparkar, <notifications@github.com>
wrote:

[2019-12-08 19:52] SidharthBansal commented on #1046
@HarshKhandeparkar please break it up into discrete issues of interrelated files and inter-related PRs.
Work is interrelated so each issue + pr together will be of 3 points.
I don't want anyone will get just 3 points for so many changes in so many files.

Each PR should contain at least 15 lines. If that file contains a lesser number of lines, then we can add two files in one PR. Does this make se

[2019-12-08 23:29] chen-robert opened #1336 "`sudo npm run setup` root owned files"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-12-08 23:35] chen-robert commented on #1336
@rexagod @lohitha02 @jywarren Could this be a possible FTO? Thanks!

[2019-12-09 01:50] HarshKhandeparkar commented on #1046
Ok. I'll split it up. Maybe these rules should be mentioned somewhere?

On Mon, 9 Dec, 2019, 1:22 AM Sidharth Bansal, <notifications@github.com>
wrote:

[2019-12-09 06:41] SidharthBansal commented on #1046
Which rules?

On Mon, 9 Dec 2019, 7:20 am Harsh Khandeparkar, <notifications@github.com>
wrote:

[2019-12-09 08:55] dotangad commented on #1319
Is this task still up for grabs? I'd love to claim it!

[2019-12-09 14:20] HarshKhandeparkar opened #1338 "Standardise UI code comments"
Note: **We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

This is a sub-issue of #1046

The comments in the following files are inconsistent:
1. [defaultHtmlStepUi.js](https://github.com/publiclab/image-sequencer/blob/main/examples/li

[2019-12-09 14:20] HarshKhandeparkar commented on #1338
I have already claimed this issue.

[2019-12-09 14:22] HarshKhandeparkar opened #1339 "Standardise UI util code comments"
Note: **We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

This is a sub-issue of #1046

The comments in the following files are inconsistent:
1. [insertPreview.js](https://github.com/publiclab/image-sequencer/blob/main/examples/lib/in

[2019-12-09 14:22] HarshKhandeparkar commented on #1339
I have already claimed this issue.

[2019-12-09 14:25] HarshKhandeparkar opened #1340 "Standardise core code comments"
Note: **We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

This is a sub-issue of #1046

The comments in the following files are inconsistent:
1. [ImageSequencer.js](https://github.com/publiclab/image-sequencer/blob/src/ImageSequencer.

[2019-12-09 14:25] HarshKhandeparkar commented on #1340
I have already claimed this issue.

[2019-12-09 14:27] HarshKhandeparkar opened #1341 "Standardise Edge Detect module code comments"
Note: **We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

This is a sub-issue of #1046

The comments in the following files are inconsistent:
1. [Module.js](https://github.com/publiclab/image-sequencer/blob/src/modules/EdgeDetect/Modu

[2019-12-09 14:29] HarshKhandeparkar opened #1342 "Standardise Blur module code comments"
Note: **We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

This is a sub-issue of #1046

The comments in the following files are inconsistent:
1. [Blur.js](https://github.com/publiclab/image-sequencer/blob/main/src/modules/Blur/Module.

[2019-12-09 14:29] HarshKhandeparkar commented on #1342
I have already claimed this issue.

[2019-12-09 14:29] HarshKhandeparkar commented on #1341
I have already claimed this issue.

[2019-12-09 16:25] SidharthBansal commented on #1046
I have changed it into `hall of fame` task.

[2019-12-09 16:29] SidharthBansal commented on #1046
Please don't write documentation for other files, as we will not be able to give you points for them more than 15.
So stick to 13 files which you touched ONLY
thanks
Sidharth

[2019-12-09 16:31] HarshKhandeparkar commented on #1046
Hey. I am going to open more sub-issues to this one. There are many more
files that are to be fixed. Can they be individual gci tasks?

On Mon, 9 Dec, 2019, 9:59 PM Sidharth Bansal, <notifications@github.com>
wrote:

[2019-12-09 16:34] HarshKhandeparkar commented on #1046
Oh ok. Let it be HoF. But I really think there should be issues for all the
files as the comments are actually quite inconsistent. I can't thank you
enought btw.

On Mon, 9 Dec, 2019, 10:01 PM M K, <mjkgoa@gmail.com> wrote:

[2019-12-09 16:36] SidharthBansal commented on #1046
Let's first complete 13 files which you touched and all related issues of this main issue
Thanks

[2019-12-09 16:37] SidharthBansal commented on #1046
Regarding work, I have to confirm with @jywarren. May be you have to do more than 13 files documentation as it is changed to hall-of-fame

[2019-12-09 16:40] SidharthBansal commented on #1046
Atleast 15 files should be documented as per my thinking.
Rest dependends on Jeff's decision

[2019-12-09 16:40] HarshKhandeparkar commented on #1046
Oh

On Mon, 9 Dec, 2019, 10:07 PM Sidharth Bansal, <notifications@github.com>
wrote:

[2019-12-09 16:41] SidharthBansal commented on #1046
I have exam together. Complete documentation of some other tasks too in the meantime.
THanks

[2019-12-09 16:48] HarshKhandeparkar commented on #1046
Documentation of some other tasks? What do you mean? Sorry for disturbing
and all the best for your exams. Thank you!

On Mon, 9 Dec, 2019, 10:11 PM Sidharth Bansal, <notifications@github.com>
wrote:

[2019-12-09 17:21] SidharthBansal commented on #1046
You said that we need to add documentation to other tasks too. Can you please start working on those files too.

[2019-12-09 17:25] HarshKhandeparkar commented on #1046
I meant we need to fix the comments in all the other files and that I
wanted to open issues for those. I actually want others to work on those
rather than me doing everything. I have my eyes on a few other issues and I
really want to fix those(and have been wanting to do so for months). If it
is a necessity to add more files to my task, then I will do so. Please let
me know.

On Mon, 9 Dec, 2019,

[2019-12-09 17:27] SidharthBansal commented on #1046
Alteast you need to do documentation for 2 more files. Can you open one
more PR.
Thanks

On Mon, Dec 9, 2019 at 10:55 PM Harsh Khandeparkar <notifications@github.com>
wrote:

[2019-12-09 17:30] HarshKhandeparkar commented on #1046
I'll open one more PR tmrw.

On Mon, 9 Dec, 2019, 10:57 PM Sidharth Bansal, <notifications@github.com>
wrote:

[2019-12-09 21:58] #1249 closed

[2019-12-09 22:02] md37 opened #1348 "Installation error"
When I ran sudo npm run setup, I got that error:
Running "browserify:core" (browserify) task

Warning: Error running grunt-browserify. Use --force to continue.

Aborted due to warnings.

npm ERR! Linux 5.0.0-37-generic
npm ERR! argv "/usr/bin/node" "/usr/bin/npm" "run" "setup"
npm ERR! node v8.10.0
npm ERR! npm  v3.5.2
npm ERR! code ELIFECYCLE
npm ERR! image-sequencer@3.5.1 setup: `npm i && npm i

[2019-12-09 22:18] #1317 closed

[2019-12-09 22:59] jywarren commented on #1336
Sure! @harshkhandeparkark what do you think?

On Sun, Dec 8, 2019 at 6:35 PM Robert Chen <notifications@github.com> wrote:

[2019-12-09 22:59] #1327 closed

[2019-12-10 16:02] #1291 closed

[2019-12-10 16:07] #1294 closed

[2019-12-10 17:00] keshav234156 commented on #1285
our next step should be fix 7 modules.For that, i found the module was changed as it has some bugs like the rotate module was earlier having fixed dimension but corresponding benchmarks were not changed as a result they are failing. So for this, we can change the benchmarks of those modules. Then our next step should be if there is any failure in the test then Travis should raise an error rather t

[2019-12-10 17:17] HarshKhandeparkar opened #1350 "Standardise Blob Analysis module comments"
Note: **We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

This is a sub-issue of #1046

The comments in the following files are inconsistent:
1. [Blur.js](https://github.com/publiclab/image-sequencer/blob/main/src/modules/BlobAnalysis

[2019-12-10 17:17] HarshKhandeparkar commented on #1350
I have already claimed this issue.

[2019-12-10 17:33] HarshKhandeparkar commented on #1348
hmm. @md37 can you try running `npm rebuild`? If that doesn't fix it, I will search for a solution myself. This is not an issue of IS but rather of a dependency. Sorry if you are facing trouble.

The last thing you can try is deleting the directory and reinstalling.

[2019-12-10 18:03] md37 commented on #1348
No, that doesn't fix it.

[2019-12-10 18:26] SidharthBansal commented on #1285
I think you guys will teach me IS this GCI.

[2019-12-10 18:33] jywarren commented on #1285
:-) thanks for being on top of this, Sidharth!!!!

On Tue, Dec 10, 2019 at 1:27 PM Sidharth Bansal <notifications@github.com>
wrote:

[2019-12-11 02:18] CodeSarthak commented on #1307
Hi @keshav234156 @SidharthBansal can someone point me to the HTML/JS files? I am having trouble finding them.

[2019-12-11 07:24] SidharthBansal commented on #1307
@HarshKhandeparkar can you please help. I am not specialized in IS

[2019-12-11 09:03] keshav234156 commented on #1307
@CodeSarthak Thanks for showing your interest in this issue.But @tsparksh has already claimed this task GCI dashboard.So can you please work on some other task

[2019-12-11 10:34] CodeSarthak commented on #1307
Sure @keshav234156

All the best @tsparksh

[2019-12-11 15:27] HarshKhandeparkar commented on #1348
Sorry for the inconvenience. Could you please check the package.json and tell me the version of the gpu.js used? Maybe we can degrade the version and check if the issue is resolved.

[2019-12-11 15:29] HarshKhandeparkar commented on #1307
@CodeSarthak there are many other issues that may interest you. Good luck.

@tsparksh you can ask here if you face any difficulty.

[2019-12-11 15:36] HarshKhandeparkar commented on #879
@SidharthBansal @publiclab/is-reviewers how about adding this one to GCI?

[2019-12-11 16:19] HarshKhandeparkar commented on #1292
I'll look into this.

[2019-12-11 16:49] harshkhandeparkar opened #1354 "Add Commenting Guidelines to CONTRIBUTING.md"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-12-11 16:49] HarshKhandeparkar commented on #1354
@SidharthBansal @publiclab/is-reviewers is this a good GCI candidate?

[2019-12-11 16:49] HarshKhandeparkar commented on #1354
Can this one be published upon approval?

[2019-12-11 18:21] Alejandroid101 commented on #1354
has somebody taken this? is there a PR?

[2019-12-11 18:23] #1284 closed

[2019-12-11 20:20] #1332 closed

[2019-12-12 02:47] Ryan10145 commented on #1321
I am working on this (I have claimed the respective task in the GCI dashboard).

[2019-12-12 03:14] SidharthBansal commented on #1354
Yeah go for it. @HarshKhandeparkar  it will be great to divide responsibilities. You can create ftos for non gci folks. Some students can do for gci

[2019-12-12 03:29] SidharthBansal commented on #1307
Great coordination folks! I really appreciate the helping gesture!

On Wed, 11 Dec 2019, 8:59 pm Harsh Khandeparkar, <notifications@github.com>
wrote:

[2019-12-12 03:30] SidharthBansal commented on #879
Please remove gci labels from this task.
Similar task for all the repos already uploaded to gci. Kindly check once.

[2019-12-12 03:31] SidharthBansal commented on #879
1 task for all repos I mean
For more bug hunting points we will circulate the forn

[2019-12-12 14:49] pythongiant opened #1355 "Add comments to PR_TEMPLATE"
### Please describe the problem (or idea)

The PR_TEMPLATE Currently has details that could be commented. for example

This could be commented. [Here](https://stackoverflow.com/questions/4823468/comments-in-markdown)'s how you add comments in markdown.

[2019-12-12 14:52] HarshKhandeparkar commented on #1354
Ok sure. @Alejandroid101 go for it. You can ask here or the gitter channel if you are stuck at any point.

[2019-12-12 15:28] HarshKhandeparkar commented on #1348
@md37 I found the error. It is a library issue. In the meanwhile, you can run `npm install gpu.js@2.2.0`. The dev will fix it. We have to bump the version anyway. The new version fixes many things.

[2019-12-12 16:53] #1307 closed

[2019-12-12 19:15] robertleeplummerjr commented on #1348
I believe this is the droid you are looking for: https://github.com/publiclab/image-sequencer/pull/1356

[2019-12-13 01:34] EC3x1903 commented on #1318
Hi, I would like to claim this task for GCI. It's still available, yes?

[2019-12-14 17:09] HarshKhandeparkar commented on #1318
I guess yes. If no one has claimed to have accepted the issue here, on GitHub then the issue is up for grabs.

[2019-12-15 06:53] SidharthBansal commented on #1322
Do I need to delete this task from the dashboard then?

[2019-12-15 12:19] HarshKhandeparkar commented on #1300
I have accepted this task on the dashboard.

[2019-12-15 14:06] HarshKhandeparkar commented on #1300
Hi
I noticed there are tons of bugs with the insert step functionality itself and I managed to fix it all. Should I commit it along with this PR or separately?
NOTE: This PR does not work without the extra fixes.

[2019-12-15 14:06] HarshKhandeparkar commented on #1300
@publiclab/is-reviewers

[2019-12-15 14:16] tsparksh commented on #1241
Hey @debck. Browsers do not allow js to access from one domain to another without permission from the requested domain (cors policy). Yes, we can add image to the user page, but we cant access its contents in the context of javascript

Btw we already have functionality for loading images (but only from domains where CORS is configured for  the distribution of pictures is allowed, for example imgur

[2019-12-15 14:33] HarshKhandeparkar opened #1361 "Insert Step 'Add Step' button should be blue"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-12-15 14:33] HarshKhandeparkar commented on #1361
@publiclab/is-reviewers please approve.

[2019-12-15 14:35] keshav234156 commented on #1300
@HarshKhandeparkar what was broken in insert step functionality we have fixed it recentely?

[2019-12-15 14:36] HarshKhandeparkar commented on #1300
I have mentioned what was broken in the PR.

[2019-12-15 14:37] keshav234156 commented on #1300
coudn't get that

[2019-12-15 14:40] HarshKhandeparkar commented on #1300
Even the GIF? Look at it carefully, fullscreen. The previews disappear.

[2019-12-15 14:41] keshav234156 commented on #1300
oh That was when we have preview opened at two different steps.Have you fixed that

[2019-12-15 14:42] HarshKhandeparkar commented on #1300
Yup.

[2019-12-15 14:42] HarshKhandeparkar commented on #1300
See then next GIF.

[2019-12-15 14:43] keshav234156 commented on #1300
It would be better if you open a separate issue and PR that so that it would be easier to give points to you

[2019-12-15 14:44] ikayz commented on #1361
Can I work on this issue?

[2019-12-15 15:43] keshav234156 commented on #1361
@HarshKhandeparkar Thanks for opening up the issue.

[2019-12-15 15:43] keshav234156 commented on #1361
@ikayz yes,you can work on this issue

[2019-12-15 16:36] ikayz commented on #1361
@keshav234156 thanks

[2019-12-15 20:30] sayashraaj commented on #1361
Can I work on this issue?

[2019-12-16 16:37] HarshKhandeparkar opened #1363 "Insert Step Previews not Working as Expected"
### Please describe the problem (or idea)
The previews generated for insert-step dropdown are not rendered properly. Only the last step's previews are updated and the others go blank.

![broken-insert-step](https://user-images.githubusercontent.com/34770591/70924914-5db77c80-2050-11ea-93f4-57295c2c25c3.gif)

### Please show us where to look

https://beta.sequencer.publiclab.org

****

## Thank you

[2019-12-16 16:38] HarshKhandeparkar commented on #1363
Fixed in PR #1360

[2019-12-16 16:38] HarshKhandeparkar commented on #1363
@keshav234156

[2019-12-16 16:53] #1321 closed

[2019-12-16 17:17] HarshKhandeparkar commented on #1361
Sorry @sayashraaj but this issue already has a PR. I'm sure that you'll find some other issue that interests you. If you don't, hold on tight, more will be coming soon.

[2019-12-16 17:47] #1350 closed

[2019-12-16 17:56] #1340 closed

[2019-12-16 18:42] #1300 closed

[2019-12-16 18:42] #1363 closed

[2019-12-17 00:05] jywarren commented on #349
This exists now!

[2019-12-17 00:05] #349 closed

[2019-12-17 00:06] jywarren commented on #890
I think these seem to be solved, as I just installed it!

[2019-12-17 00:06] #890 closed

[2019-12-17 00:10] jywarren opened #1364 "Expand out offline app features for smoother cache clearing and version tracking"
#890 #349 started making a lot of offline webapp (Progressive Web App or PWA) improvements, which is great;

#605 #761 also get at a lot of these, and the issues we'd like to improve on.

I'd like to suggest we go through and implement each of the recommendations from this blog post, so as to make cache and version management very clear:

https://publiclab.org/notes/warren/08-19-2019/ui-principles

[2019-12-17 15:27] SidharthBansal commented on #1364
Published

[2019-12-17 16:54] HarshKhandeparkar commented on #1320
I just claimed this task. :smile:

[2019-12-18 08:22] blurry-x-face commented on #1292
I found this issue with every module i tried, this is not just limited to blur module
![80551331_975376742848830_6256143483266924544_n](https://user-images.githubusercontent.com/42492389/71068813-826d3a80-219d-11ea-94cd-d3bfadd7cbf7.png)
@HarshKhandeparkar @keshav234156

[2019-12-18 10:17] SidharthBansal commented on #1315
Published on GCI dashboard

[2019-12-18 10:17] SidharthBansal commented on #1143
Published on GCI dashboard

[2019-12-18 10:23] SidharthBansal commented on #1310
Please add issue description

[2019-12-18 10:29] SidharthBansal commented on #1314
Published it on the gci dashboard

[2019-12-18 10:37] SidharthBansal commented on #1322
@keshav234156

[2019-12-18 10:37] SidharthBansal commented on #1322
@keshav234156

[2019-12-18 10:58] lohitha02 commented on #1310
Sure will update it.

[2019-12-18 11:27] syobonpastel commented on #1143
I want to do this task after my task is finished. But I couldn’t understand what to do in this task. What kind of skills will I need? Also what should I do in this task? Thanks.

[2019-12-18 11:49] blurry-x-face commented on #1292
I tried older implementation of blur module, it works fine. Maybe the gpu acceleration has something to do with the issue.
![79540663_436892703923868_7533146000349724672_n](https://user-images.githubusercontent.com/42492389/71083934-22d15800-21ba-11ea-8977-834f2714abfa.png)

cc: @Divy123  @HarshKhandeparkar @keshav234156

[2019-12-18 13:04] HarshKhandeparkar commented on #1292
Yes GPU acceleration is the issue but the issues are fixed in the latest
version. The issue is that we are having troubles in installing the latest
version. Remember that PR?

On Wed, 18 Dec, 2019, 5:19 PM Rishabh Shukla, <notifications@github.com>
wrote:

[2019-12-18 13:20] blurry-x-face commented on #1292
Who made that PR, Do you remember it?

[2019-12-18 13:22] HarshKhandeparkar commented on #1292
It's a new pr.

On Wed, 18 Dec, 2019, 6:50 PM Rishabh Shukla, <notifications@github.com>
wrote:

[2019-12-18 13:26] blurry-x-face commented on #1292
Also, it uses same kernel size for different Sigma values, Shouldn't it use different kernel size according to the value of sigma?

[2019-12-18 13:27] HarshKhandeparkar commented on #1292
Nope. Sigma decides the values *of* the kernel not the kernel size.

On Wed, 18 Dec, 2019, 6:56 PM Rishabh Shukla, <notifications@github.com>
wrote:

[2019-12-18 13:51] tsparksh commented on #1241
@keshav234156, can you check this please?

[2019-12-18 18:30] #1314 closed

[2019-12-18 19:11] keshav234156 opened #1369 "Writing UI test and making UI more stable"
With #1366 we were able to set up a basic browser-based UI test and it works flawlessly. So lets build more tests and make the UI stable.
Test yet to be built:

- [ ] Clicking add step adds a new box and a different image

- [ ] Clicking clear step button clear all the step

- [ ] Clicking Delete Step removes the image

- [ ] Select a module to have all the modules with the correct name(we faced i

[2019-12-18 19:13] keshav234156 commented on #1369
cc:-@jywarren @HarshKhandeparkar we can add more tests as we go along the way but these are most basic set of tests that are needed.

[2019-12-18 19:23] jywarren commented on #1369
This is FANTASTIC!!!! Thanks!!!

If we write the tests generically enough, using simple classnames, then the
new UI Harsh has been working on could be run against the same set of
tests! This would be amazing. Let's keep this in mind and Harsh, maybe try
to get your classnames to match so that your UI work passes these tests too?

On Wed, Dec 18, 2019, 2:13 PM keshav234156 <notifications@github.com

[2019-12-18 21:38] ataata107 commented on #1369
I am new here and would love to work on this.

[2019-12-18 21:40] jywarren commented on #1369
we'd love your help!!! Which would you like to try? Go ahead and open a
pull request with the new test; start with something simple and then keep
building on it!

On Wed, Dec 18, 2019, 4:38 PM Shazeb Ata <notifications@github.com> wrote:

[2019-12-18 21:45] ataata107 commented on #1369
I will start with the basic ones like clear step button and remove step button and would start building from it. Thanks for the opportunity.

[2019-12-19 01:03] ataata107 opened #1370 "Python 2 Support"
When i was building the project in windows I was getting this error

`print "%s.%s.%s" % sys.version_info[:3];`  Invalid Syntax

I figured out that this was due to powershell using python3 instead of 2. I changed the version to 2 and it was working.

My doubt is that is this project dependent on python2 and if yes than we could add that to the readme.md or try to shift the dependencies to python3.

[2019-12-19 02:03] SidharthBansal commented on #1369
I have published this on gci dashboard

[2019-12-19 02:04] SidharthBansal commented on #1369
Thanks Keshav

[2019-12-19 16:57] HarshKhandeparkar commented on #1370
Do you know which dependency uses python? I don't think the main library does.

[2019-12-19 17:34] HarshKhandeparkar opened #1373 "HTML <input> Types for Module Inputs are Incorrect"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-12-19 17:34] HarshKhandeparkar commented on #1373
@publiclab/is-reviewers please approve.

[2019-12-19 17:42] HarshKhandeparkar commented on #1369
@jywarren sure. The new UI will just be less messy and it is coming together really well. I think I do not need to add the E2E tests which would require headless browsers. I will just add the unit tests with perhaps a virtual DOM. Is that ok? We can use the tests we are developing here, there.

We won't have to migrate anything, we can just copy the dist from there and use grunt here.

[2019-12-19 17:46] ataata107 commented on #1370
node-gyp I guess is dependent on python2

[2019-12-19 17:47] HarshKhandeparkar commented on #1370
Is that a sub-dependency? If yes, which is the main one?

[2019-12-19 18:48] HarshKhandeparkar opened #1375 "Module Tests and WebGL"
### Please describe the problem (or idea)
- [x] The tests for the following modules fail: (#1376)
1. Colorbar
2. Draw Rectangle
3. Gamma Correction
4. Paint Bucket
5. Replace Color
6. Rotate
7. Tint
These tests fail either because the modules are updated or otherwise. These need to be fixed.

- [x] The following Modules are not tested: (#1377)
1. Import Image

- [x] The following modules are not b

[2019-12-19 18:50] keshav234156 commented on #1375
cc-@jywarren

[2019-12-19 18:50] HarshKhandeparkar commented on #1375
@publiclab/is-reviewers

[2019-12-19 18:51] keshav234156 commented on #1375
@HarshKhandeparkar For 7 modules we need to change the benchmarks .I am working on it

[2019-12-19 18:59] HarshKhandeparkar commented on #1375
Which 7?

[2019-12-19 19:01] HarshKhandeparkar commented on #1375
The 7 require test fixes, not benchmarks

[2019-12-19 19:04] HarshKhandeparkar opened #1376 "Fix Module Tests"
### Please describe the problem (or idea)
This is a sub-issue of #1375

Tests for the following modules fail and need to be fixed:
- [ ] Colorbar
- [ ] Draw Rectangle
- [ ] Gamma Correction
- [ ] Paint Bucket
- [ ] Replace Color
- [ ] Rotate
- [ ] Tint

These tests fail either because the modules are updated or otherwise. These need to be fixed.

### Please show us where to look

https://beta.sequ

[2019-12-19 19:07] HarshKhandeparkar opened #1377 "Add Test for Import Image Module"
### Please describe the problem (or idea)
This is a sub-issue of #1375

### Please show us where to look

https://beta.sequencer.publiclab.org

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which

[2019-12-19 19:09] harshkhandeparkar opened #1378 "Some modules do not work in NodeJS"
### Please describe the problem (or idea)
This is a sub-issue of #1375

The following modules require WebGL but do not use Puppeteer to work in node:
- [ ] Text Overlay
- [ ] Blob Analysis

### Please show us where to look

https://beta.sequencer.publiclab.org

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank you!

Your help makes Public Lab bette

[2019-12-19 19:11] #1375 closed

[2019-12-19 19:13] keshav234156 commented on #1285
#1376 #1377 #1378

[2019-12-19 23:45] #1320 closed

[2019-12-20 00:00] ataata107 commented on #1373
I would like to work on this will submit a PR by today

[2019-12-20 02:26] ataata107 commented on #1373
#1379 fixes this issue

[2019-12-20 12:02] HarshKhandeparkar commented on #1364
I want to claim this task but I can't find it on the dashboard. Is it published?

[2019-12-20 16:25] VladimirMikulic opened #1381 "Make the site responsive"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-12-20 17:16] keshav234156 commented on #1381
@VladimirMikulic thanks for opening up the issue.this issue was fixed.please the cache.you will then be able to see the changes.although you will still face issue of text squashing.so please change the issue accordingly.
![Screenshot_20191220-224428_Chrome](https://user-images.githubusercontent.com/45951376/71275477-7094be80-237a-11ea-830f-c9b9aea006ca.jpg)

[2019-12-20 17:26] VladimirMikulic commented on #1381
@keshav234156 I've cleared cache and yes the issue is gone(no squished text).
The only issue that I see is that page is not scaling well on mobile devices.
Elements are overflowing everywhere.

![Screenshot_20191220_182606](https://user-images.githubusercontent.com/35997844/71277819-3c0f0b80-2356-11ea-9edd-9fa79b5b79e0.png)

[2019-12-20 17:31] keshav234156 commented on #1381
@VladimirMikulic are you reffering to scrolling as overflowing.if yes, then i thinks it is needed so that think don't get squashed.is there any better way?

[2019-12-20 18:39] VladimirMikulic commented on #1381
@keshav234156 good news! I've updated the issue accordingly, it will make the website responsive and look great on mobile devices :rocket:

[2019-12-21 05:51] Marcus-auz commented on #1336
If no one is working on this,i would like to work on it .

[2019-12-21 10:06] AngeloSorte commented on #1381
I am totally new to open source. Is this a task that when someone complete it, it is closed? Or everybody can do this as an exercise?
Thanks and sorry again for the ignorance in the field and practise of it!☺

Angelo

[2019-12-21 10:17] VladimirMikulic commented on #1381
Hi @AngeloSorte and welcome to PublicLab :balloon:
I am glad that you are interested in helping us with this issue.

It's all yours, go for it :rocket:

[2019-12-21 15:31] HarshKhandeparkar commented on #1336
@jywarren @chen-robert According to the npm docs, npm install should never be run using `sudo`. There are other ways of fixing the global installation error. https://docs.npmjs.com/resolving-eacces-permissions-errors-when-installing-packages-globally

[2019-12-21 16:59] #1292 closed

[2019-12-21 16:59] #1348 closed

[2019-12-21 20:01] adamg703 commented on #1381
I made the changes for issue #1382 and created a pull request for the changes I made.  Not sure if I did it completely right so I wouldn't mind some feedback on whether I did it correct or not.

[2019-12-21 20:28] VladimirMikulic commented on #1381
Hi @adamg703. I've left a comment on your PR :)

[2019-12-21 22:31] KateAnn19 commented on #1381
Hi I’m new here :) excited to have found you guys. Is it ok to work on this still?

[2019-12-21 22:58] Uzay-G commented on #1295
Hey @keshav234156, this works for me on mobile:

![Screenshot_2019-12-21-23-56-31](https://user-images.githubusercontent.com/52892257/71314708-b53d5a00-244d-11ea-804c-8088b3b6d4e5.png)

But on computer I can't even select a module:
![is-bug](https://user-images.githubusercontent.com/52892257/71314717-d4d48280-244d-11ea-8c33-b3cf018c4def.png)

[2019-12-21 23:41] keshav234156 commented on #1295
@Uzay-G when you change the value of dropdown and then click apply button then selected value disappears.Hope it clears your doubt?
Also please claim the task related to this issue before working on it.Thanks!!!!

[2019-12-21 23:41] ataata107 opened #1383 "Site crashes on loading large files"
I found out that instead of uploading an image if I uploaded a gif, still it will load up that gif. If the size of gif is large and I load it and continue processing on it the site will crash.
![Screenshot from 2019-12-22 05-06-52](https://user-images.githubusercontent.com/32903329/71314993-39590700-2479-11ea-88cb-51b46fd1a465.png)

There should be some kind of prevention system that only lets the

[2019-12-22 00:32] VladimirMikulic commented on #1381
Hi @KateAnn19, it's nice to have you here at PublicLab :rocket:
As you can see, this issue has been taken.

You can check out other first-timers-issues :)

[2019-12-22 01:40] anthony-zhou commented on #1364
@HarshKhandeparkar I already claimed the task and am working on it.

[2019-12-22 02:10] keshav234156 commented on #75
**UPLOADED ON GCI**

[2019-12-22 02:46] HarshKhandeparkar commented on #1364
No problem. No one claimed it on github so I thought it was not claimed
yet. Good luck.

On Sun, 22 Dec, 2019, 7:10 AM anthony-zhou, <notifications@github.com>
wrote:

[2019-12-22 04:21] pythongiant commented on #1369
[code]
Doesnt this check if a new step is added? @keshav234156 i am just a beginner sorry if i am missing something.

[2019-12-22 04:23] pythongiant commented on #1369
I would like to work on clear step test, Thanks

[2019-12-22 04:40] keshav234156 commented on #1369
@pythongiant This piece of code tests that when the radio button is clicked a new step is added and length is increased . In the GCI task, you have test when we select a value from the dropdown and click ADD STEP a new is added and src of the previous step is different from src of the present step. @ataata107 is already working on the Clear step.

[2019-12-22 05:55] HarshKhandeparkar commented on #1383
GIFs cannot be processed as of now. We will add that feature soon.

[2019-12-22 07:04] pythongiant commented on #1369
Thanks for the explaination @keshav234156 i must have skipped @ataata107 comment by mistake. Sorry bout that. Can i work on delete one?

[2019-12-22 07:06] SidharthBansal commented on #75
Published

[2019-12-22 07:31] keshav234156 commented on #1369
@pythongiant It's easy.I will help you here .
with $("[data-value='blur']").click() You would be able to set dropdown value to blur
with $("#add-step-btn").click() you can click ADD STEP button

Now just that length has increased as done in above
and check src of both step is different

[2019-12-22 11:02] HarshKhandeparkar commented on #75
I have claimed this task. PR Coming soon :rocket:

[2019-12-22 21:18] VladimirMikulic opened #1385 "Troubles starting development environment"
When I run the `watch` task with a grunt, it successfully compiles changes but they don't affect index.html. It just keeps using the "old" JavaScript.

[2019-12-22 23:18] Ryan10145 commented on #1369
I am currently working on the 4th one (Select a module dropdown having the correct names). I claimed the corresponding task on the GCI dashboard.

[2019-12-23 00:01] keshav234156 commented on #1369
@pythongiant Are you still stuck? Feel free to ask any doubt related to the task.
@Ryan10145 great!!!

[2019-12-23 03:25] pythongiant commented on #1369
Umm @keshav234156 i was talking about working on the 3rd one. Is that not available atm?

[2019-12-23 03:46] pythongiant commented on #1369
![image](https://user-images.githubusercontent.com/13624560/71334609-de9cd980-2564-11ea-86ad-39bf16e28296.png)
@keshav234156 we are talking about this button right?

[2019-12-23 04:08] keshav234156 commented on #1369
@pythongiant No,This is Add step button of insert Button.We are talking of insert button at the bottom.

[2019-12-23 04:23] pythongiant commented on #1369
![image](https://user-images.githubusercontent.com/13624560/71335705-06db0700-256a-11ea-86a8-b1cd45784c53.png)
this one then?

[2019-12-23 04:24] keshav234156 commented on #1369
@pythongiant Yes

[2019-12-23 17:20] HarshKhandeparkar commented on #1385
You have to clear the cache to use the new index.html

[2019-12-23 17:29] VladimirMikulic commented on #1385
Oh my god. Over 1GB of cache occupied by image-sequencer. Wow.
@HarshKhandeparkar Thank you very much on this information.

In my opinion, it shouldn't use cache in development mode.
It creates a lot of confusion.

[2019-12-23 17:29] #1385 closed

[2019-12-23 18:31] HarshKhandeparkar commented on #1385
Ik. We are working towards better caching.

On Mon, 23 Dec, 2019, 10:59 PM Vladimir Mikulic, <notifications@github.com>
wrote:

[2019-12-24 19:01] HarshKhandeparkar opened #1390 "Display Docs Links for Modules in the UI"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-12-24 19:01] HarshKhandeparkar commented on #1390
@publiclab/is-reviewers

[2019-12-24 19:04] HarshKhandeparkar opened #1391 "(displayed) Image dimensions do not change upon loading a new image"
### Please describe the problem (or idea)
![Screenshot from 2019-12-25 00-33-09](https://user-images.githubusercontent.com/34770591/71423262-2b3ffc00-26ae-11ea-883e-7d2897376c10.png)
![Screenshot from 2019-12-25 00-33-15](https://user-images.githubusercontent.com/34770591/71423266-2f6c1980-26ae-11ea-9031-cf5690beee97.png)

As can be seen in the above two screenshots, the image dimensions did not c

[2019-12-24 19:09] HarshKhandeparkar opened #1392 "Color Temperature module doesn't work initially"
### Please describe the problem (or idea)
![color-temp](https://user-images.githubusercontent.com/34770591/71423332-bb7e4100-26ae-11ea-9dc0-c6c86a8e99e4.gif)

As can be seen from the above GIF, the Color Temperature module produced a blank image with the default value but worked when the input value was changed. Even with the default value.
### Please show us where to look

https://beta.sequencer.

[2019-12-24 19:17] HarshKhandeparkar opened #1393 "Add Image source to urlHash upon loading an image"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-12-24 19:17] HarshKhandeparkar commented on #1393
@publiclab/is-reviewers

[2019-12-24 19:18] HarshKhandeparkar commented on #1392
@publiclab/is-reviewers

[2019-12-24 19:19] HarshKhandeparkar commented on #1391
@publiclab/is-reviewers

[2019-12-24 19:47] ataata107 commented on #1391
Can I work on this?

[2019-12-24 20:02] HarshKhandeparkar commented on #1391
Sure.

On Wed, 25 Dec, 2019, 1:17 AM Shazeb Ata, <notifications@github.com> wrote:

[2019-12-25 09:45] HarshKhandeparkar opened #1394 "Clear Steps Button Redirects to `/`"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-12-25 09:47] HarshKhandeparkar commented on #1394
@publiclab/is-reviewers

[2019-12-25 21:01] ataata107 commented on #1391
The main bug is that onSetup,onComplete functions in defaultHtmlStepUi.js are not called after user loads the image through UI hence the values are not updated.

So I found a method to achieve this which is working locally on my computer

Because of window.onload function in demo.js as we refresh the window it gets triggered and the sequencer loads the sequence
But this involves refreshing the pag

[2019-12-26 13:50] robwe30 commented on #1390
I would like to do that, even tho i never really did something on github before.

[2019-12-26 15:50] HarshKhandeparkar commented on #1390
Absolutely! Welcome! This issue is meant to teach you GitHub. You can ask us anything. We will happily answer every question. Please do claim this issue and start work on it.

[2019-12-26 15:55] robwe30 commented on #1390
How do I claim?

[2019-12-26 15:59] HarshKhandeparkar opened #1396 "Standardise Util Functions Comments"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-12-26 15:59] HarshKhandeparkar commented on #1396
@publiclab/is-reviewers

[2019-12-26 16:01] HarshKhandeparkar commented on #1390
Just leave a comment here(So that everyone knows that you are working on the issue). We don't want multiple people working on the issue which would lead to a lot of confusion. Please go ahead.

[2019-12-26 19:03] root00198 commented on #1394
Can I work on this issue?

[2019-12-26 22:09] Ryan10145 commented on #1369
Due to holiday celebrations and other commitments, I wasn't able to work on this for the last few days like I thought I would be able to. I also won't be able to work on it in the near future, so I am giving up the task and leaving it up for anyone to claim. Sorry for the unfortunate news.

[2019-12-27 06:13] keshav234156 commented on #1355
@pythongiant why we need to comment this?

[2019-12-27 09:08] HarshKhandeparkar commented on #1355
So that they don't appear in the PR body. They are just instructions for the writer, not the reader.

[2019-12-27 11:41] iblalw17 commented on #1396
Can I claim

[2019-12-27 11:41] HarshKhandeparkar commented on #1396
Sure

On Fri, 27 Dec, 2019, 5:11 PM iblalw17, <notifications@github.com> wrote:

[2019-12-27 21:43] ataata107 commented on #1369
@pythongiant Are you working on the delete step?

[2019-12-28 15:18] DevanshCodes commented on #1393
Hey! I would like to claim it.

[2019-12-28 18:11] pythongiant commented on #1369
Nope @ataata107

[2019-12-28 19:43] blurry-x-face commented on #1298
Hi, is someone working on this? @keshav234156

[2019-12-28 20:01] blurry-x-face commented on #993
Does this looks like a pencil image? I followed [this](https://www.freecodecamp.org/news/sketchify-turn-any-image-into-a-pencil-sketch-with-10-lines-of-code-cf67fa4f68ce/l) article.
![Screenshot from 2019-12-29 01-29-21](https://user-images.githubusercontent.com/42492389/71548883-aa993c80-29da-11ea-9b1b-35c1e1c5a121.png)
@harshithpabbati @jywarren @HarshKhandeparkar

[2019-12-29 03:58] keshav234156 commented on #1298
Yes,it is reserved for gci

[2019-12-29 06:56] HarshKhandeparkar commented on #993
I think it looks a bit more like pastel colors or watercolors. Maybe it needs to have some lines or gaps in between. We need to convolve some kind of filter.

[2019-12-29 06:58] HarshKhandeparkar commented on #993
I think we'll have to do some google research.

[2019-12-29 06:58] HarshKhandeparkar commented on #1393
Go ahead.

[2019-12-29 18:14] ataata107 commented on #1369
Ok I will start working on it

[2019-12-30 09:00] hedonhermdev commented on #1396
Hey @iblalw17 are you working on this?

[2019-12-30 10:35] iblalw17 commented on #1396
I haven’t started it, I’m new to this so don’t know what to do

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Tirth Jain <notifications@github.com>
Sent: Monday, December 30, 2019 9:00:16 AM
To: publiclab/image-sequencer <image-sequencer@noreply.github.com>
Cc: iblalw17 <iblalwaheed@hotmail.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [publiclab/ima

[2019-12-30 13:38] greyGroot commented on #1393
hi, is this issue still available?

[2019-12-30 17:11] DevanshCodes commented on #1393
hey @greyGroot you can go ahead if you want, I solved first-timers issue once. You can take it.

[2019-12-30 19:42] ataata107 opened #1402 "[Feature Update] Display Position of cursor in image"
Currently user is restricted to the RGB data of the point without knowing the location of the point. There should be a mechanism to display the coordinates. It can even help the user when doing text overlaying to know where to put the text as it could be difficult to decide by just looking at the image.

[2019-12-30 19:51] greyGroot commented on #1393
I also just have made contribution to publicLab in other project. So I'm pass.

[2019-12-31 04:54] zyjeng11 commented on #1394
@root00198  are you working on this now?

[2019-12-31 05:00] hedonhermdev commented on #1396
Ping me if you need any help, maybe I can help you out.

[2019-12-31 05:01] hedonhermdev commented on #1402
Can I claim this issue?

[2019-12-31 05:10] root00198 commented on #1394
Yeah I already created a PR...

[2019-12-31 10:10] iblalw17 commented on #1396
It isn’t let me edit the documents for some reason, I clicked edit but it’s not responding

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Tirth Jain <notifications@github.com>
Sent: Tuesday, December 31, 2019 5:00:30 AM
To: publiclab/image-sequencer <image-sequencer@noreply.github.com>
Cc: iblalw17 <iblalwaheed@hotmail.co.uk>; Mention <mention@noreply.github.com

[2019-12-31 10:52] hedonhermdev commented on #1396
Are you using a text editor? If yes then which one? Also which documents are you trying to edit?

[2019-12-31 11:51] HarshKhandeparkar commented on #1396
I think we'll have to add cloning and committing instructions to our FTO template.

[2019-12-31 11:53] hedonhermdev commented on #1396
Yes that will be a good idea, or linking to a good introduction to Git/GitHub would be nice too, imo.

[2019-12-31 11:57] HarshKhandeparkar commented on #1396
Is there an online article that we can link to?

[2019-12-31 12:11] HarshKhandeparkar commented on #1393
@DevanshCodes only one first-timer issue is allowed per person. These issues are just made to welcome people to open source. You completed one. Congrats! You contributed to Open Source. There are many other (non-FTO issues), you can work on one of those. I'm sure you'll find one.

[2019-12-31 13:00] hedonhermdev commented on #1396
https://guides.github.com/activities/hello-world/ How about this one?

[2019-12-31 13:35] HarshKhandeparkar commented on #1396
Yeah, nice. Do you want to open a PR which makes these changes to the FTO template.

[2019-12-31 13:36] hedonhermdev commented on #1396
Sure, I’ll do that.

On Tue, 31 Dec 2019 at 7:05 PM, Harsh Khandeparkar <notifications@github.com>
wrote:

[2020-01-01 16:38] #1306 closed

[2020-01-01 17:26] #1339 closed

[2020-01-01 17:39] #1338 closed

[2020-01-01 17:51] #1341 closed

[2020-01-01 18:32] #1342 closed

[2020-01-01 19:41] #1361 closed

[2020-01-01 20:04] #1394 closed

[2020-01-02 09:10] tsparksh opened #1409 ""Close" button doesn't close "Take a photo" box"
### Please describe the problem (or idea)

When a camera is not connected, we can't close "Take a photo" box
![takeaphoto](https://user-images.githubusercontent.com/17945250/71659437-37951a80-2d7a-11ea-8d1d-d31aab523456.gif)

Can we fix this?

### Please show us where to look

https://beta.sequencer.publiclab.org

[2020-01-02 10:02] ataata107 commented on #1409
Can I claim this?

[2020-01-02 12:44] keshav234156 commented on #1376
I am now working  on it

[2020-01-02 12:54] tsparksh commented on #1409
Sure, but it is not a GCI task

[2020-01-02 12:58] HarshKhandeparkar commented on #1376
I know how to fix the tests. I just haven't committed the code yet...

[2020-01-02 13:04] keshav234156 commented on #1376
Can i fix now i have started to work?

[2020-01-02 13:09] HarshKhandeparkar commented on #1376
Sure. You can pull from my branch. Close this PR.

On Thu, 2 Jan, 2020, 6:34 PM keshav234156, <notifications@github.com> wrote:

[2020-01-02 13:10] HarshKhandeparkar commented on #1376
You can DM me on gitter for help.

On Thu, 2 Jan, 2020, 6:39 PM M K, <mjkgoa@gmail.com> wrote:

[2020-01-02 13:52] jywarren commented on #1376
Just noting a recent Travis log showing this:

I saw in the last run: https://travis-ci.org/publiclab/image-sequencer/jobs/631706411#L1323

[code]

Actually perhaps we should also be sure that these actually cause a Travis failure, since currently Travis doesn't notice that they fail for some reason?

[2020-01-02 14:58] keshav234156 commented on #1376
@jywarren for that we have tape-run.tape-run is a tape test runner that runs your tests in a (headless) browser and returns 0/1 as exit code, so you can use it as your npm test script.

Should we implement it now or after we have fixed all the test errors as now it would result in travis failure because of errors.i am fixing the above module test errors but there are also some other errors that we

[2020-01-02 17:06] jywarren commented on #1376
Yes, i think we should resolve the bugs and then enable the 0/1 exit code, thank you!!!

[2020-01-02 17:53] #1376 closed

[2020-01-02 18:43] #1392 closed

[2020-01-02 20:17] root00198 commented on #1409
I was kind of already working on  it... Did mentioned because didn't felt necessary(my mistake).... The bug is resolved should I create a PR??

[2020-01-02 20:46] #1373 closed

[2020-01-02 20:59] ataata107 commented on #1409
Wow, I also happened to solve it. I don't have any problem if you create a PR but do claim it (obviously necessary) as others who claim it might have also given time to it.

[2020-01-02 21:19] root00198 commented on #1409
Nah, you do it. Its yours...

[2020-01-02 21:20] ataata107 opened #1411 "Processing continues even after no video feed"
### Please describe the problem (or idea)

![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/32903329/71693823-70ada900-2dd3-11ea-8fca-c5313b720678.gif)

Clicking the take photo button even if camera is disabled continues to do processing on a white canvas.

Expected the process to end because of no video stream

[2020-01-02 21:22] ataata107 commented on #1409
Ah Cool, Maybe you can work on #1411 if moderators find the issue suitable

[2020-01-03 09:49] root00198 opened #1418 "Image processing not correct in colorbar module"
### Please describe the problem (or idea)
When name of the colormap is changed(doesnot matter from default to greyscale or greyscale to default), it doesnot work corectly.

![bug](https://user-images.githubusercontent.com/31132760/71716987-928f4600-2e3c-11ea-9562-96355af8ab82.gif)

The image for greyscale colobar on the top with 10px height.

### Please show us where to look

https://beta.sequence

[2020-01-03 09:51] root00198 commented on #1418
I would like to resolve it.. I think the problem is in the example, because the command line is working correctly.

[2020-01-03 17:09] jywarren commented on #1418
Great catch! We'd love your help with this!

On Fri, Jan 3, 2020 at 4:54 AM welcome[bot] <notifications@github.com>
wrote:

[2020-01-03 19:19] #1288 closed

[2020-01-04 13:14] ataata107 opened #1419 "Clicking download btn downloads multiple Files"
### Please describe the problem (or idea)

Clicking the download button after changing the values from default of any module leads to multiple downloads. A popup appears asking for multiple downloads. If we grant the permission the results are as follows

 As Can be seen below
![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/32903329/71766049-ac568900-2f21-11ea-9156-4b480b62

[2020-01-04 13:15] ataata107 commented on #1419
@publiclab/is-reviewers

[2020-01-04 13:16] ataata107 commented on #1419
Can I claim this?

[2020-01-04 20:58] root00198 opened #1420 "Minify-Image module not working"
### Please describe the problem (or idea)
Minify Image module is not showing the output image.

![bug](https://user-images.githubusercontent.com/31132760/71771559-0f1c4480-2f63-11ea-825a-b53c324d366f.gif)

I didnt saw any output image.

### Please show us where to look

https://beta.sequencer.publiclab.org

### What's your PublicLab.org username?

### Browser, version, and operating system

****

[2020-01-05 22:59] ataata107 commented on #1239
@HarshKhandeparkar Is this issue still up as I would like to work on this.

[2020-01-05 23:01] blurry-x-face commented on #1239
Hi @ataata107 I'm currently working on this. But would love your inputs on this.

[2020-01-06 00:00] ataata107 commented on #1239
Ok Got It.
It is the scope error. In createMetaModule,js the following line
`var internalSequencer = ImageSequencer({ inBrowser: false, ui: false });`

This line needs to go inside `function draw(input, callback) {` in createMetaModule,js

Could you help me as to know how to claim a issue as I didn't know you had already claimed this one.

[2020-01-06 07:42] blurry-x-face commented on #1239
I did that yesterday but it didn't work, but it looks like i forgot to clear the cache, silly me :dizzy_face:

You should just comment on the issue to claim it, I did the mistake of not commeting it, sorry.

You can help on # 1211 I tried but had no luck with this. Thanks!

[2020-01-06 13:27] ataata107 commented on #993
![yo](https://user-images.githubusercontent.com/32903329/71820622-b0b3ab00-30b5-11ea-85d4-31fe8642ccce.jpg)
![yo2](https://user-images.githubusercontent.com/32903329/71820624-b3160500-30b5-11ea-9d7b-4096100fbb42.jpg)

I was able to reproduce sketching in python. It may be possible for me to convert this into js.  Can I proceed to this in javascript if you guys find the above results suitable.
@Har

[2020-01-06 13:35] blurry-x-face commented on #993
Hi @ataata107 , I was also working on it and made this below image by
1. Greyscale(using color map)
2. Invert image
3. Blur
4. Blending the Greyscale and Blur image by using Color Dodge blend method(We don't currently support blending two images using color dodge but I am working on it I used a third party app for blending the two images)

![Screenshot from 2020-01-02 19-16-14](https://user-images

[2020-01-06 13:38] blurry-x-face commented on #993
Also I found this project https://github.com/geraintluff/canvas-sketch if you could make something like this it looks really cool, It would be really great @ataata107

[2020-01-06 15:47] jywarren commented on #1419
Hm, good catch -- sure, we'd love help!

On Sat, Jan 4, 2020 at 8:16 AM Shazeb Ata <notifications@github.com> wrote:

[2020-01-06 15:57] keshav234156 opened #1427 "Setting up npm 0/1 exit code for the module tests"
Setting up npm 0/1 exit code for the modules

[2020-01-06 15:58] keshav234156 commented on #1427
cc:-@jywarren

[2020-01-06 16:00] keshav234156 commented on #1427
@jywarren  @HarshKhandeparkar
https://github.com/publiclab/image-sequencer/blob/main/test/core/templates/module-test.js#L41
Why are we converting base64 to img.Why aren't we comparing base64 of both results and benchmarks?

[2020-01-06 16:43] keshav234156 commented on #1427
With tape-run i am getting this error
[code]
@jywarren @HarshKhandeparkar Any idea why is happening?

[2020-01-06 17:41] ataata107 opened #1429 "Can't Download Images with higher dimensions"
### Please describe the problem (or idea)

We are not able to download images which have high dimension. It gives failed network error.

![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/32903329/71836340-d18df780-30d9-11ea-90d7-b105ed0aebcd.gif)

Expected to download higher dimension images

### Please show us where to look

https://beta.sequencer.publiclab.org

[2020-01-06 17:42] ataata107 commented on #1429
@publiclab/is-reviewers

[2020-01-06 17:42] ataata107 commented on #1429
I would like to resolve this issue

[2020-01-06 18:11] keshav234156 commented on #1427
@jywarren How about writing test in jest similar to that we have written in UI. Though that won't be in-browser(as in case of ui) so would be fast as well and also it won't require any major except some minor syntax changes in module.js and some files that are excluded from module.js(template)

[2020-01-06 18:24] keshav234156 commented on #1427
@jywarren  By writting test in jest we will also be able 2 test the additional modules that we have skipped in #1330 (So that other tests are not affected).
[code]

[code]

[2020-01-06 18:38] #1391 closed

[2020-01-06 20:38] blurry-x-face opened #1430 "Overlay module not working initially"
### Please describe the problem (or idea)

I loaded overlay module

I expected to see the output image

### Please show us where to look

![1](https://user-images.githubusercontent.com/42492389/71847002-ed04fc80-30f1-11ea-9e8c-7060b64fbece.gif)

https://beta.sequencer.publiclab.org/examples/#steps=overlay{}

### What's your PublicLab.org username?

rishabhshukla1999

### Browser, version, and oper

[2020-01-06 20:39] blurry-x-face commented on #1430
@jywarren Can I work on this?

[2020-01-06 20:50] ataata107 commented on #1430
You need to have atleat two images for this module to work

[2020-01-06 20:54] blurry-x-face commented on #1430
Yes it should prevent this from happening, maybe show a toast notification instead of just loading?

[2020-01-06 20:57] ataata107 commented on #1430
Yes that should be there

[2020-01-06 20:57] blurry-x-face commented on #1430
Right now many of the modules have this problem(ex: blend module) you can put any number in the input I was thinking maybe it should show a visible error? This was just an idea If the moderators agree I can work on it.

[2020-01-06 21:23] ataata107 commented on #993
On it

[2020-01-06 21:26] #1239 closed

[2020-01-06 21:28] jywarren commented on #1427
Hmm, cool! Do you think this is the best immediate next step, or is refactoring in Jest more of a big-picture longer-term goal? Either is fine, just trying to follow. Thanks!

[2020-01-06 21:39] blurry-x-face opened #1431 "Add input fields for NDVI and Colormap in ndvi-colormap module"
### Please describe the problem (or idea)
As of now ndvi-colormap module doesn't support any input fields should we add input fields for NDVI and colormap?

### Please show us where to look

https://beta.sequencer.publiclab.org

### What's your PublicLab.org username?
rishabhshukla1999

### Browser, version, and operating system

****

## Thank you!

Your help makes Public Lab better! We *deeply*

[2020-01-06 21:43] blurry-x-face commented on #1239
Ok so while working on #1431 I found out that this issue was not resolved and for same reason #1418 colorbar is also not working, I think I know why this might be happening I'll make a new PR for it ASAP!

[2020-01-06 22:02] keshav234156 commented on #1239
@blurry-x-face This has been fixed . The main issue was that the above step was getting different but it not the case after you have made the changes in #1426

[2020-01-06 22:11] blurry-x-face commented on #1239
Ohh yes you're right this was a different issue, but the problem was same both of the variable were out of scope, So should I create a new issue for this or maybe you could just reopen this one with additional description?

[2020-01-06 22:58] blurry-x-face commented on #1420
This was working fine a while back maybe #1425 caused this?
cc: @jywarren

[2020-01-06 23:06] blurry-x-face commented on #1420
![Screenshot from 2020-01-07 04-31-56](https://user-images.githubusercontent.com/42492389/71855304-aec60800-3106-11ea-89b9-f5b3747667a8.png)

Yep! As I thought culprit is most probably one of the very recent PRs as it is still working on beta site(beta was updated on 29 Dec)

[2020-01-06 23:14] jywarren commented on #1420
Ah, good catch! Once we figure this out, let's add this to our per-module
tests so that it doesn't happen again :-)

Thank you!!!!

On Mon, Jan 6, 2020 at 6:06 PM Rishabh Shukla <notifications@github.com>
wrote:

[2020-01-07 07:24] sanjana091001 commented on #1390
Hey,
Can I work on this?

[2020-01-07 09:31] root00198 commented on #1420
I fixed the issue of image not showing.... but the image is not getting compressed, it is showing the same image...

[2020-01-07 11:05] root00198 opened #1440 "Annoying redirection to developer.mozilla.org when save image as png"
### Please describe the problem (or idea)
Annoying redirection to webpage https://developer.mozilla.org/en-US/docs/WebAssembly when save image as png.

![output](https://user-images.githubusercontent.com/31132760/71891045-b10e7d80-316b-11ea-8aee-451c946eaa5c.gif)

### Please show us where to look

https://beta.sequencer.publiclab.org

### What's your PublicLab.org username?

### Browser, version,

[2020-01-07 11:05] root00198 commented on #1440
working on it

[2020-01-07 11:07] #1440 closed

[2020-01-07 11:18] NitinBhasneria commented on #1393
Hey, @HarshKhandeparkar I would like to claim this issue.

[2020-01-07 17:02] HarshKhandeparkar commented on #1393
Go ahead. You can ask here if you need any help.

[2020-01-07 17:03] HarshKhandeparkar commented on #1420
Try downloading the image and check its size. It is supposed to reduce the image size (like zipping or tarballing)

[2020-01-07 17:05] HarshKhandeparkar commented on #1390
You can if @robwe30 is no longer working on it. Or if they agree to let you claim the issue.

[2020-01-07 17:08] HarshKhandeparkar commented on #1427
we could use
[code]
in a bash environment. It would immediately exit the script with a non-zero exit code if any of the intermediate commands/scripts fail.

[2020-01-07 17:10] root00198 commented on #1420
I tired tried to find difference between the two images using their's base64 format....Didn't found any.

[2020-01-07 17:12] HarshKhandeparkar commented on #1420
Maybe the image cannot be compressed? I think we should check what the npm module that is used in the minify-image module, does.

[2020-01-07 18:13] robwe30 commented on #1390
I am really sorry I don't have time atm. So please let somebody else do that. Sorry.

[2020-01-07 19:53] harshithpabbati commented on #1390
@sanjana091001 you can work on this issue. Assigning this to you

[2020-01-07 19:56] #1364 closed

[2020-01-07 23:14] ataata107 commented on #993
@blurry-x-face the above method transforms the canvas rather than the image as it put linestrokes on the canvas.
I guess the real image needs to be transformed rather than the display canvas.

[2020-01-08 14:43] root00198 commented on #1430
I think you should add a default image.

[2020-01-08 21:14] #1418 closed

[2020-01-08 21:14] #1431 closed

[2020-01-08 21:30] blurry-x-face opened #1447 "Adding tests for checking image change upon change in options"
### Please describe the problem (or idea)

referencing : [this](https://github.com/publiclab/image-sequencer/pull/1432#issuecomment-572149183)

Adding tests for confirming change in image upon change on module option.

### What's your PublicLab.org username?

rishabhshukla1999

[2020-01-08 21:31] blurry-x-face commented on #1447
I will be working on this and make a PR for it soon.

[2020-01-09 16:03] udaan42 commented on #1396
Hello, is this issue still open? I would like to contribute if this issue is open. Thanks.

[2020-01-10 10:14] blurry-x-face opened #1452 "Adding easier to use interface for blend module."
### Please describe the problem (or idea)
As of now Blend Module uses a function which defaults to using the red channel from image 1 and the green and blue and alpha channels of image 2.

I want to add some of the most used blend modes by default.
* [ ]  Multiply blend mode
* [ ]  Divide blend mode
* [ ]  Overlay blend mode
* [ ]  Screen blend mode
* [ ]  Color Dodge blend mode
* [ ]  Color Burn

[2020-01-10 10:15] blurry-x-face commented on #1452
@publiclab/is-reviewers

[2020-01-10 17:26] govindgoel commented on #1270
@HarshKhandeparkar  Is the issue still open?

[2020-01-10 18:20] HarshKhandeparkar commented on #1270
If @vaibhavmatta is not going to work on this. You can. Please confirm.

[2020-01-10 19:18] govindgoel commented on #1270
Ok I will work on this

[2020-01-10 19:25] HarshKhandeparkar commented on #1396
If @iblalw17 is no longer working on this, you can start work on it.

[2020-01-10 23:31] keshav234156 commented on #1427
https://github.com/publiclab/image-sequencer/blob/main/test/core/templates/module-test.js#L38.
@jywarren do you know what's the significance of mode:test here . Currentrly i am facing problem with setting up test module works correctely part. If there is output different then the test benchmark then it gave error but test passes.That because we testing it inside sequencer.run() (don't know why we

[2020-01-11 17:05] #75 closed

[2020-01-11 17:45] HarshKhandeparkar commented on #1427
I tried searching in the library's source code but couldn't find anything related to `mode`. What happens if that line is removed?

[2020-01-11 17:46] HarshKhandeparkar commented on #1430
I think a better way would be to change the default offset to `-1` instead of `-2`. There will always be a step before the current step. That should fix everything.

[2020-01-11 17:47] HarshKhandeparkar commented on #1430
What are your thoughts?

[2020-01-11 18:05] root00198 commented on #1430
Yeah That looks like a great idea...

[2020-01-11 18:24] jywarren commented on #1430
Hm, just noting that I believe it's supposed to take image -2 and overlay it on image -1, does that make sense?

[2020-01-11 18:32] HarshKhandeparkar commented on #1430
Good point. I think it would be even better if we use `-1` as a default
only if `-2` doesn't exists. We could use an if condition here.

On Sat, 11 Jan, 2020, 11:54 PM Jeffrey Warren, <notifications@github.com>
wrote:

[2020-01-11 19:09] blurry-x-face commented on #1430
I was thinking of adding these inputs as ranged inputs where we could maybe display the name of the step as input, what do you think?

[2020-01-11 21:23] ataata107 opened #1457 "[BUG] Histogram Module is failing"
### Please describe the problem (or idea)

![ezgif com-video-to-gif (5)](https://user-images.githubusercontent.com/32903329/72210771-9713c880-34e6-11ea-9975-949200145d4b.gif)

Expected for the histogram to load

### Please show us where to look

https://beta.sequencer.publiclab.org

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank you!

Your help

[2020-01-11 21:34] blurry-x-face commented on #1457
Hi, This is working fine in my machine

![Screenshot from 2020-01-12 03-02-34](https://user-images.githubusercontent.com/42492389/72210899-11911800-34e8-11ea-8e55-32929ef5b03b.png)

[2020-01-11 21:52] ataata107 commented on #1457
@blurry-x-face It is even not working on the beta site. Can you confirm that?

[2020-01-11 22:02] ataata107 commented on #1457
@publiclab/is-reviewers

[2020-01-11 22:15] blurry-x-face commented on #1457
Just checked, you're right it is not working on beta site maybe something got updated on recent PRs, My version is maybe 2-3 commits behind.
Was changePixel method changed in any of the recent PRs?

[2020-01-11 22:17] keshav234156 commented on #1457
@ataata107 @blurry-x-face yes there is a bug but fix doesn't seem to be correct. It's just a workaround solution @HarshKhandeparkar it's caused due to your PR . Can you please take a look at what went wrong and fix it.

[2020-01-12 00:16] blurry-x-face opened #1460 "Crop Module Not Producing Expected Output"
Crop Module is not working corectly and maybe it is related to #1457?

![crop](https://user-images.githubusercontent.com/42492389/72212256-9ab34980-34fe-11ea-963b-bc2decdac0e9.gif)

### Please show us where to look

https://beta.sequencer.publiclab.org

### What's your PublicLab.org username?
rishabhshukla1999

[2020-01-12 07:25] root00198 commented on #1460
I would like to work on it.

[2020-01-12 07:29] blurry-x-face commented on #1460
Hi @root00198 I'm already looking into this.

You can help by looking for bugs that might have come because of some recent PRs, Thanks!

[2020-01-12 08:09] root00198 opened #1461 "[BUG] Decode Qr Module"
Decode QR Code Module not working with GIFs.
![output](https://user-images.githubusercontent.com/31132760/72215990-e4248880-3540-11ea-92db-803f56afc325.gif)

### Please show us where to look

https://beta.sequencer.publiclab.org

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your h

[2020-01-12 08:10] root00198 commented on #1461
I am working on it.

[2020-01-12 10:55] VladimirMikulic commented on #761
@tech4GT it doesn't work anymore. Probably there is a bug with the service worker.

![Screenshot_20200112_115053](https://user-images.githubusercontent.com/35997844/72217717-707b7f00-3532-11ea-9bc8-c61ee7f12bea.png)

![Screenshot_20200112_115138](https://user-images.githubusercontent.com/35997844/72217718-707b7f00-3532-11ea-85fb-88da951dfaab.png)

[2020-01-12 10:58] VladimirMikulic commented on #761
The cache from a few days ago was as big as 712 megabytes from the image-sequencer in development mode! Unfortunately, I forgot to take a screenshot of it before I cleared it.
Not to mention high CPU usage, DevTools RAM usage exceeded 2GB of RAM!

This project has some huge issues in the development mode.

[2020-01-12 13:00] ataata107 opened #1462 "Text-Overlay Does Not Work With GIFs"
### Please describe the problem (or idea)
In the case of the gif the text overlay is in the vertical form rather than the horizontal form and the letters are a mirror image of itself.

### Please show us where to look

https://beta.sequencer.publiclab.org

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank you!

Your help makes Public Lab better! We

[2020-01-12 13:00] ataata107 commented on #1462
I would like to resolve the same
@publiclab/is-reviewers

[2020-01-12 13:21] ataata107 commented on #1460
@blurry-x-face I guess the module is working correctly only the text input field is not showing the correct value of the default which I guess needs to be changed. Currently it is showing 0 for all

[2020-01-12 13:33] blurry-x-face commented on #1460
Yes, I've found the bug and will be making a PR for it very soon!

[2020-01-12 13:36] blurry-x-face commented on #1460
Also @ataata107 , while working on this I found that color picker input was not working as expected, after clicking on it, it was just stuck there and I was unable to do anything, are you facing the same problem too? If so then I'll open a new issue for this and will be happy to work on it!

[2020-01-12 13:51] blurry-x-face opened #1464 "Color Picker Input filed doesn't works correctly"
### Please describe the problem (or idea)
After selecting color picker input the focus freezes on it and other inputs can't be selected

![color](https://user-images.githubusercontent.com/42492389/72219829-637d8080-3570-11ea-87d7-f7616d4bd48f.gif)

### Please show us where to look

https://beta.sequencer.publiclab.org

### What's your PublicLab.org username?
rishabhshukla1999

[2020-01-12 14:57] SidharthBansal commented on #1046
Shall we close this?

[2020-01-12 16:47] HarshKhandeparkar commented on #1046
Yeah, I guess...

[2020-01-12 16:52] HarshKhandeparkar commented on #1462
Go ahead. BTW, thank you for opening these issues related to GIFs.

[2020-01-12 17:06] HarshKhandeparkar commented on #1457
Taking a look rn.

[2020-01-12 17:14] root00198 opened #1467 "Average Module Directly changes the UI"
# Please describe the problem (or idea)
Currently the average module outputs the average value, directly by changing the UI from the source.

` if (options.step.inBrowser && options.step.ui) $(options.step.ui).find('.details').append('<p><b>Averages</b> (r, g, b, a): ' + sum.join(', ') + '</p>');`

### Please show us where to look

https://beta.sequencer.publiclab.org

### What's your PublicLab.or

[2020-01-12 17:15] root00198 commented on #1467
This can be resolved by creating an output variable and showing result in that insted. I am working on it and will create a PR soon.

[2020-01-12 17:19] HarshKhandeparkar commented on #1430
https://github.com/publiclab/image-sequencer/pull/1459#pullrequestreview-341587142

[2020-01-12 17:27] HarshKhandeparkar opened #1468 "Overlay, Blend and ColorBar Modules Do Not Work With GIFs"
### Please describe the problem (or idea)
The Overlay and Blend modules do not work with GIFs (because we don't have a good way of getting pixels of previous steps for manipulation).

ColorBar is a meta module that uses the Overlay module.

### Please show us where to look

https://beta.sequencer.publiclab.org

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your hel

[2020-01-12 17:27] HarshKhandeparkar commented on #1468
My responsibiltiy.

[2020-01-12 17:31] HarshKhandeparkar opened #1470 "FisheyeGL and WebGLDistort modules do not work with GIFs"
### Please describe the problem (or idea)
WebGLDistort and FisheyeGL modules which use canvas, currently only manipulate the first frame of the GIF and output a still image.
These modules do not use `pixelManipulation`.

### Please show us where to look

https://beta.sequencer.publiclab.org

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank you!

Y

[2020-01-12 17:31] HarshKhandeparkar commented on #1468
But if someone else wants to work on this, they can.

[2020-01-12 17:32] HarshKhandeparkar commented on #1470
My responsibility but if someone else wants to work on this, they can.

[2020-01-12 17:40] HarshKhandeparkar opened #1471 "Better UI Output Fields"
### Please describe the problem (or idea)
Currently, module output fields in the UI look the same as the input fields.
![Screenshot from 2020-01-12 23-09-35](https://user-images.githubusercontent.com/34770591/72222999-a0f20600-3590-11ea-898d-5005117fde52.png)

We could add better output fields with a `copy` button instead of a text field that can be edited.

### Please show us where to look

https

[2020-01-12 17:42] ataata107 commented on #1471
Can I claim this?

[2020-01-12 17:45] HarshKhandeparkar opened #1472 "Contrast Module should use changePixel Method"
### Please describe the problem (or idea)
The Contrast module currently uses `extraManipulation` but the manipulation process is repetitive so it could use `changePixel` instead which would also WebAssembly accelerate it

Current Code:
https://github.com/publiclab/image-sequencer/blob/12c422a07b55233ae94e13fc3700da2101916c65/src/modules/Contrast/Contrast.js#L5-L25

### Please show us where to look

[2020-01-12 17:45] ataata107 commented on #1470
I too would be looking into the same.

[2020-01-12 17:46] HarshKhandeparkar commented on #1470
It's not very difficult but debugging can be an issue.

[2020-01-12 17:48] HarshKhandeparkar commented on #1471
Yeah, I guess. Wow! Your contributions are awesome! Just don't claim too many issues at the same time. Do one or two at a time. Don't strain yourself.

[2020-01-12 17:48] blurry-x-face commented on #1468
I'll be doing this as soon as my other PRs are fixed.

[2020-01-12 17:51] ataata107 commented on #1471
Sure😅

[2020-01-12 17:51] HarshKhandeparkar opened #1473 "Displayed Version Number is not Visible"
### Please describe the problem (or idea)
The current cache version of IS is displayed at the top right corner of the UI but is not visible.

![Screenshot from 2020-01-12 23-18-56](https://user-images.githubusercontent.com/34770591/72223173-1f9b7300-3592-11ea-8096-b8bb3ccd86c0.png)

After Highlighting:
![Screenshot from 2020-01-12 23-20-07](https://user-images.githubusercontent.com/34770591/722231

[2020-01-12 17:53] keshav234156 commented on #1473
@HarshKhandeparkar can you make it a fto?

[2020-01-12 17:54] HarshKhandeparkar commented on #1383
GIFs can be processed now!

[2020-01-12 17:54] HarshKhandeparkar commented on #1383
Does this happen even with large images?

[2020-01-12 17:56] HarshKhandeparkar commented on #1473
I'll do it.

[2020-01-12 17:56] ataata107 commented on #1470
As extraManipulation is being called multiple times should I put the code inside extraManipulation to make it work for all the frames of gif?

[2020-01-12 18:08] HarshKhandeparkar commented on #1470
I think that should do. But these modules weirdly manipulate the pixels. Have a look at the code. It isn't as simple as it sounds. Should we do a collab here?

[2020-01-12 18:11] ataata107 commented on #1470
Sounds cool

[2020-01-12 18:15] HarshKhandeparkar opened #1474 "Fix/Change UI Previews' Crop Default Options"
### Please describe the problem (or idea)
The current defaults:
https://github.com/publiclab/image-sequencer/blob/12c422a07b55233ae94e13fc3700da2101916c65/examples/lib/insertPreview.js#L41-L47

Due to the recent changes, a value of `(50%)` wouldn't work. It should be `50%` instead.

### Please show us where to look

https://beta.sequencer.publiclab.org

### What's your PublicLab.org username?

###

[2020-01-12 18:26] HarshKhandeparkar opened #1475 "Displayed Version Number is not Visible"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-12 18:26] HarshKhandeparkar commented on #1473
New FTO https://github.com/publiclab/image-sequencer/issues/1475

[2020-01-12 18:27] keshav234156 opened #1476 "Area selected by image-area-select."
if we delete the crop step then area selected by image-area-select.in that area we are not able to click.
![Untitled_ Jan 12, 2020 11_49 PM](https://user-images.githubusercontent.com/45951376/72223653-2c6e9580-3597-11ea-8ef9-37c5abe19389.gif)

[2020-01-12 18:27] #1473 closed

[2020-01-12 18:33] #1276 closed

[2020-01-12 18:34] keshav234156 commented on #1276
we can close this issue as overcropping is helpful also!!!

[2020-01-12 18:35] HarshKhandeparkar opened #1477 "Fix/Change UI Previews' Crop Default Options"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-12 18:35] HarshKhandeparkar commented on #1474
New FTO https://github.com/publiclab/image-sequencer/issues/1477

[2020-01-12 18:36] #1474 closed

[2020-01-12 18:48] HarshKhandeparkar opened #1478 "Grunt Browserify takes too long for hot reload"
### Please describe the problem (or idea)
Some time back, the `browserify` and `minify` grunt tasks were separated to make *hot reload* via the `watch` task faster.
Since then, a lot of new code has been added and browserify takes around 3 seconds! This is too long for *hot reloading*.

A temporary but good enough fix would be to create separate browserify task for UI and core code as they are bro

[2020-01-12 18:49] HarshKhandeparkar commented on #1478
I want to work on this.
@publiclab/is-reviewers can I do this one for GCI as a medium task or something?

[2020-01-12 18:54] HarshKhandeparkar opened #1479 "Add more GIF tests"
### Please describe the problem (or idea)
GIF manipulation is in an experimental stage as of now. One of the most important steps towards making it a permanent feature would be adding more tests.

### Please show us where to look

https://beta.sequencer.publiclab.org

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank you!

Your help makes Public La

[2020-01-12 19:10] HarshKhandeparkar opened #1480 "Database of important sequences"
### Please describe the problem (or idea)
ImageSequencer allows users to save sequences as modules in the browser. This is useful when a specific sequence is used only for a specific purpose and not very widely used. This can reduce the library size (by not adding extra meta modules) yet serve its purpose.

We can create a database/lookup table of important/cool sequences that can be very useful t

[2020-01-12 19:22] root00198 commented on #1479
Working on it.

[2020-01-12 19:23] blurry-x-face commented on #1480
@HarshKhandeparkar Thanks for opening this issue we really needed something like that!
I'll be adding some sequences real soon!!
Thanks!

[2020-01-12 21:39] ojurkiewicz commented on #1477
I'd like to help with that.

[2020-01-12 21:43] blurry-x-face commented on #1472
Can I claim this issue?

[2020-01-13 06:19] blurry-x-face commented on #1377
Is someone working on this?

[2020-01-13 06:27] blurry-x-face commented on #1377
@keshav234156 ?

[2020-01-13 06:50] root00198 commented on #1479
Why are we creating a new image from base64 and then comparing the image, insted of directly comparing the base64 in result and benchmark?

https://github.com/publiclab/image-sequencer/blob/12c422a07b55233ae94e13fc3700da2101916c65/test/core/templates/module-test.js#L37-L55

like this
`
      let result = sequencer.steps[1].output.src;
      t.equal(result == benchmark, true, '${moduleName} module

[2020-01-13 09:54] blurry-x-face opened #1488 "Paint bucket module is getting wrong input for fillColor"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-13 09:59] blurry-x-face commented on #656
Hi @jywarren !
 Can I also join the reviewer team?

[2020-01-13 10:52] DevanshCodes commented on #1488
Can I claim it?

[2020-01-13 10:55] blurry-x-face commented on #1488
Sure, Go ahead

[2020-01-13 15:09] udaan42 commented on #1396
Hey @iblalw17. Could you please confirm if you are working on this ? Thanks

[2020-01-13 15:41] HarshKhandeparkar commented on #1478
Anyone? @keshav234156 @jywarren @SidharthBansal ?

[2020-01-13 16:04] iblalw17 commented on #1396
Feel free to work on

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Adithya R <notifications@github.com>
Sent: Monday, January 13, 2020 3:09:29 PM
To: publiclab/image-sequencer <image-sequencer@noreply.github.com>
Cc: iblalw17 <iblalwaheed@hotmail.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [publiclab/image-sequencer] Standardise Util Functions Com

[2020-01-13 16:04] iblalw17 commented on #1396
I am not working on it

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Iblal Waheed <iblalwaheed@hotmail.co.uk>
Sent: Monday, January 13, 2020 4:04:10 PM
To: publiclab/image-sequencer <reply@reply.github.com>; publiclab/image-sequencer <image-sequencer@noreply.github.com>
Cc: Mention <mention@noreply.github.com>
Subject: Re: [publiclab/image-sequencer] Standardis

[2020-01-13 16:56] damn-dvlpr commented on #1475
I would like to claim this.

[2020-01-13 16:59] HarshKhandeparkar commented on #1475
Go ahead.

[2020-01-13 17:09] keshav234156 commented on #1478
Yes

[2020-01-13 22:35] jywarren commented on #1471
Oh awesome!

On Sun, Jan 12, 2020 at 12:56 PM Shazeb Ata <notifications@github.com>
wrote:

[2020-01-13 22:36] #1460 closed

[2020-01-13 23:29] jywarren commented on #1270
Thank you! Let's just be sure that the "blur" keyword stays the same so
that existing sequences don't break. But this could either then have a
description change OR we could make a submodule and then `blur` could
switch between blur types if we have more than 1?

On Fri, Jan 10, 2020 at 2:18 PM Govind Goel <notifications@github.com>
wrote:

[2020-01-14 12:51] ataata107 opened #1498 "Redundant changePixel Function"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-14 12:51] ataata107 commented on #1498
@publiclab/is-reviewers

[2020-01-14 14:55] ovsundal commented on #1498
Hi there, may i claim this?

[2020-01-14 14:55] HarshKhandeparkar commented on #1498
Sure.

[2020-01-14 15:01] HarshKhandeparkar commented on #1477
Awesome!

[2020-01-14 15:08] HarshKhandeparkar opened #1500 "external module definition using require()"
### Please describe the problem (or idea)
https://github.com/publiclab/image-sequencer/blob/bfff7e7b999bf256205d412a13f16e154a63beb1/src/Modules.js#L33-L34

The commented line is an example where a module can be imported from an outside repository. As an example of a module literally living outside the project (just leave a comment explaining this)

### Please show us where to look

https://beta.s

[2020-01-14 15:09] HarshKhandeparkar commented on #1500
I'll convert this to an FTO

[2020-01-14 15:10] HarshKhandeparkar opened #1501 "refactoring isGIF() as a utility function"
### Please describe the problem (or idea)
@jywarren's comment:
Refactoring isGIF() as a utility function so the parameters don't have to change for the function [here](https://github.com/publiclab/image-sequencer/pull/1404#discussion_r365530741)

### Please show us where to look

https://beta.sequencer.publiclab.org

### What's your PublicLab.org username?

### Browser, version, and operating syst

[2020-01-14 15:12] HarshKhandeparkar opened #1502 "Use images instead of giant dataURLs for module tests"
### Please describe the problem (or idea)
Module tests currently store the expected output image as a dataURL in a variable. Instead, we need to load the image dynamically from a directory.

### Please show us where to look

https://beta.sequencer.publiclab.org

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank you!

Your help makes Public Lab bett

[2020-01-14 15:12] niravasher opened #1503 "Switching to webpack from browserify"
### Please describe the problem (or idea)

Advantages of webpack over browserify
1) In Browserify you use Gulp/Grunt and a long list of transforms and plugins to get the job done. Webpack offers enough power out of the box that you typically don’t need Grunt or Gulp at all.
2) Webpack assumes you’ll want to compile various formats using a long list of loaders. Sure, you can do all this via Browser

[2020-01-14 15:14] HarshKhandeparkar commented on #1503
Cool. Should we add babel as a point too?

[2020-01-14 15:15] niravasher commented on #1503
Definitely @HarshKhandeparkar

[2020-01-14 15:21] HarshKhandeparkar opened #1504 "Add a Comment Explaining External Module Definitions"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-14 15:21] HarshKhandeparkar commented on #1500
FTO: https://github.com/publiclab/image-sequencer/issues/1504

[2020-01-14 15:22] #1500 closed

[2020-01-14 15:24] niravasher commented on #1503
@jywarren @HarshKhandeparkar this will include lot of changes. Can we work on this?

[2020-01-14 16:35] niravasher opened #1505 "Lossless image compression"
### Please describe the problem (or idea)

### What did you expect to see that you didn't?
A new module for compressing images without loss of any data (lossless compression)

### Please show us where to look

https://beta.sequencer.publiclab.org

### What's your PublicLab.org username?
niravasher

### Browser, version, and operating system
Ubuntu 19.04

various algorithms are present for the same

[2020-01-14 16:51] chadianho commented on #1504
Hi would like to claim this and contribute to it.

[2020-01-14 16:55] chadianho commented on #1504
Am I still able to contribute to the project, since the status says closed above my first comment?

[2020-01-14 20:50] udaan42 commented on #1396
Thank you. I will start working on this.

[2020-01-14 21:03] blurry-x-face commented on #1378
Can I claim this issue?

[2020-01-14 22:03] jywarren commented on #1427
Is testing inside `sequencer.run()` a problem because it's asynchronous? Anyways, look, i looked at the blame view to try to trace `mode`:

https://github.com/publiclab/image-sequencer/blame/main/test/core/templates/module-test.js#L38

and kept tracing back through file histories...

https://github.com/publiclab/image-sequencer/pull/748/files#diff-4f143cbfde3f260e78413a94048b1b06R29

Whew... a few

[2020-01-15 02:45] Olusamimaths commented on #1488
Can I claim this?

[2020-01-15 05:17] niravasher commented on #1504
@chadianho the `closed` word above your first command means that the issue `external module definition using require() #1500 ` has been closed. Try to learn git and github first if you are a new comer

[2020-01-15 06:01] root00198 commented on #1502
Okay im on it...

[2020-01-15 13:39] hknowlton commented on #1504
Hi @chadianho, welcome! Whenever you mention one issue in another, it will automatically create a comment showing that mention. The comment above yours that says "closed" is just another issue that mentions this one! You can click on it, and see that was just someone opening an issue about this, and this deciding to re-write it as a first-timer issue. This paticular issue still needs to be fixed i

[2020-01-15 13:41] blurry-x-face commented on #1488
If @DevanshCodes is not working on it you can.

[2020-01-15 14:00] chadianho commented on #1504
Hi @hknowlton thank you for clarifying, yes I will continue to work on this issue. Thank you.

[2020-01-15 15:55] HarshKhandeparkar commented on #1427
Ty. I'll open the issue.

[2020-01-15 15:56] HarshKhandeparkar commented on #1503
We being?

[2020-01-15 15:56] HarshKhandeparkar commented on #1503
Do you want to work on this or collab? Do you need any help? We are always ready.

[2020-01-15 15:59] HarshKhandeparkar commented on #1378
Yeah sure.

[2020-01-15 17:00] niravasher commented on #1503
Ill need help for sure. Just want to be sure that switching to webpack is required by Public Lab @HarshKhandeparkar

[2020-01-15 17:03] HarshKhandeparkar commented on #1503
I guess the same issue was opened a while ago. Now, even more code has been
added. I think webpack will be a nice addition(it already takes about 3s to
browserify)

On Wed, 15 Jan, 2020, 10:30 PM Nirav Asher, <notifications@github.com>
wrote:

[2020-01-15 17:04] niravasher commented on #1503
Ok, working on this :smile:

[2020-01-15 17:38] 28-ys commented on #1504
Hi, can i work on this issue?

[2020-01-15 18:34] hknowlton commented on #1504
Hi @28-ys, this issue is being worked on by @chadianho . Feel free to browse other first time issues here - https://github.com/publiclab/image-sequencer/labels/first-timers-only

[2020-01-15 18:36] blurry-x-face commented on #1378
@HarshKhandeparkar I was able to make text overlay work in node by using [canvas](https://www.npmjs.com/package/canvas), Should I try to make it work using pupeteer instead?

[2020-01-15 18:37] blurry-x-face commented on #1501
I'll be happy to work on it!

[2020-01-15 18:44] 28-ys commented on #1504
@hknowlton  okay thanks!

[2020-01-15 18:46] 28-ys commented on #1381
Hi, can i work on this ?

[2020-01-15 18:52] VladimirMikulic commented on #1381
Hi @28-ys. We already have a PR that resolves this issue. Could you please check other issues?
Thanks a lot.

[2020-01-15 19:06] 28-ys commented on #1498
Hi, can i work on  this ?

[2020-01-15 19:57] 28-ys commented on #1476
Hi, can i try this issue ?

[2020-01-15 21:22] #1390 closed

[2020-01-15 23:56] #1419 closed

[2020-01-16 00:20] Olusamimaths commented on #1488
The step by step instruction says

But nothing is shown below it.

[2020-01-16 00:37] blurry-x-face commented on #1488
There, done!

[2020-01-16 04:53] 28-ys commented on #1275
hi, can i work on this ?

[2020-01-16 05:00] 28-ys commented on #828
hi, can i work on this ?

[2020-01-16 07:05] daemon1024 commented on #1505
I would like to work on it .

[2020-01-16 12:24] HarshKhandeparkar commented on #1476
Sure.

[2020-01-16 12:25] HarshKhandeparkar commented on #1476
Sorry but this one already has an open PR. Please try some other issue that interests you. I am sure you will find one.

[2020-01-16 12:26] niravasher commented on #1505
Go ahead @daemon1024

[2020-01-16 12:29] HarshKhandeparkar commented on #1378
No! It's awesome! Does it work with GIFs btw? (It doesn't matter if it doesn't work. We'll fix that separately)

[2020-01-16 12:31] 28-ys commented on #1476
okay, Thanks

[2020-01-16 12:41] 28-ys commented on #1505
Hi, Can i also work on this ?

[2020-01-16 12:41] HarshKhandeparkar commented on #1505
Sorry but someone has already claimed the issue.

[2020-01-16 12:44] 28-ys commented on #1505
Yeah, sure
@HarshKhandeparkar  Thank!

[2020-01-16 12:50] HarshKhandeparkar opened #1514 "mode:'test' no longer required"
### Please describe the problem (or idea)
During module tests, the option `mode: 'test'` is passed to the sequencer. This option is no longer required.
https://github.com/publiclab/image-sequencer/blob/423422a61f61f1a4fa9149b9dafee1508bbe350e/test/core/templates/module-test.js#L38

We have to find and remove all the instances of this code.

### Please show us where to look

https://beta.sequencer.

[2020-01-16 12:55] blurry-x-face commented on #1514
@HarshKhandeparkar should we make this a FTO, because I don't think it might be very complicated for a first timer, what do you think?

[2020-01-16 12:56] HarshKhandeparkar opened #1515 "changePixel called before extraManipulation"
### Please describe the problem (or idea)
PixelManipulation offers two methods to manipulate the pixels, `changePixel` and `extraManipulation`.
`extraManipulation` is supposed to be used for post-processing and is supposed to fire only after `changePixel` completes but this doesn't happen.

Evidence: https://github.com/publiclab/image-sequencer/pull/1458

### Please show us where to look

https://

[2020-01-16 12:56] HarshKhandeparkar commented on #1514
Yup. That is exactly what I was going to do next.

[2020-01-16 13:08] HarshKhandeparkar opened #1516 "Remove All Instances of `mode: 'test'`"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-16 13:08] HarshKhandeparkar commented on #1514
New FTO: https://github.com/publiclab/image-sequencer/issues/1516

[2020-01-16 13:09] #1514 closed

[2020-01-16 13:31] blurry-x-face commented on #1378
![text](https://user-images.githubusercontent.com/42492389/72529106-95555680-3892-11ea-8a37-100107e31da6.gif)
I am getting this as output

[2020-01-16 13:32] blurry-x-face commented on #1378
Should I open a PR for this?

[2020-01-16 14:43] daemon1024 commented on #1505
Thanks @niravasher. I have a few queries regarding this issue.

1. We will be compressing BMP/RAW files or JPEG/PNG files too?
( Something like this https://medium.com/breaktheloop/jpeg-compression-algorithm-969af03773da maybe )

2. We need to implement the algorithm without any third party libraries or we can use libraries if needed.

[2020-01-16 15:07] niravasher commented on #1505
1) Users of image sequencer will upload JPEG/PNG images for compression, so you should start with that I think.
2) You can use third party libraries if needed @daemon1024

[2020-01-16 15:09] ataata107 commented on #1515
@HarshKhandeparkar maybe we can collab on this one too?

[2020-01-16 15:09] Kevinand11 commented on #1516
I am claiming this issue. First time contributing to open source. Fingers crossed. Wish me luck

[2020-01-16 15:10] HarshKhandeparkar commented on #1515
Yeah. Sure.

On Thu, 16 Jan, 2020, 8:39 PM Shazeb Ata, <notifications@github.com> wrote:

[2020-01-16 15:10] HarshKhandeparkar commented on #1516
Welcome! You can ask for any kind of help, here.

On Thu, 16 Jan, 2020, 8:39 PM Izuchuwku Kevin Ifesinachi, <
notifications@github.com> wrote:

[2020-01-16 17:23] #1464 closed

[2020-01-16 17:29] #1477 closed

[2020-01-16 17:47] #1472 closed

[2020-01-16 18:28] 28-ys commented on #889
hi, @HarshKhandeparkar  can you please explain a little more what exactly app you wanted to build for this ImageSequencer, and I would like work on this.

[2020-01-16 18:47] 28-ys commented on #856
hi @jywarren  well i understand your point with these quick-add menus. Here you want to add more like these like different filters on images ? right ? well i would like to work on this allow me.

[2020-01-16 18:55] #1377 closed

[2020-01-16 19:16] #1467 closed

[2020-01-16 20:07] #1430 closed

[2020-01-16 22:00] #937 closed

[2020-01-16 22:18] #1476 closed

[2020-01-16 23:37] jywarren commented on #656
Hi! Thank you, can you link to your PRs and issues as above? Thanks, and awesome!!

[2020-01-17 05:31] 28-ys commented on #828
hi @HarshKhandeparkar  @harshithpabbati  can i work on this ?

[2020-01-17 09:43] chadianho commented on #1504
Hi @publiclab/is-reviewers can you help me one of the tasks to complete this issue is "[ ] Insert-step functionality is working correct as expected".  What is the insert-step functionality and how do I ensure it is working correctly?

[2020-01-17 13:11] blurry-x-face commented on #656
@jywarren
My PRs
#1432
#1459
#1482
#1513
#1463
#1309

Issues which I opened
#1488
#1452
#1430
#1460
#1464
#1431

Thanks!

[2020-01-17 14:50] Olusamimaths commented on #1488
Thank you

[2020-01-17 15:02] Olusamimaths commented on #1488
Fixed, pull request here https://github.com/jywarren/image-sequencer/pull/18#issue-364182019

[2020-01-17 15:21] Olusamimaths commented on #1488
Fixed. Pull request here:
https://github.com/publiclab/image-sequencer/pull/1519

Thank you.

[2020-01-17 16:37] MrAsimZahid opened #1521 "Error Installation problem"
### Please describe the problem (or idea)
## Received this error
Aborted due to warnings.

npm ERR! Linux 5.0.0-37-generic
npm ERR! argv "/usr/bin/node" "/usr/bin/npm" "run" "setup"
npm ERR! node v8.10.0
npm ERR! npm  v3.5.2
npm ERR! code ELIFECYCLE
npm ERR! image-sequencer@3.5.1 setup: `npm i && npm i -g grunt grunt-cli && grunt build $$ npm rebuild --build-from-source`
npm ERR! Exit status 3
npm

[2020-01-17 16:41] MrAsimZahid commented on #1521
![image-sequencer](https://user-images.githubusercontent.com/23510373/72629410-120b3200-3972-11ea-8936-87bf28675a90.png)

This is the screenshot of error I received.

[2020-01-17 17:32] HarshKhandeparkar commented on #1521
@MrAsimZahid thanks for opening this issue. We are sorry that you are facing this issue. We'll help you in resolving this ASAP.

[2020-01-17 17:33] HarshKhandeparkar commented on #1521
I just checked, my npm version was `v6` or something and yours is `v3`. Could you try this out with the latest version of npm?

[2020-01-17 17:45] HarshKhandeparkar commented on #1504
No need to worry. Just check the box. It is something related to the UI. You have not edited anything related to the UI, so just check the box.

[2020-01-17 17:48] HarshKhandeparkar commented on #828
Sure!

[2020-01-17 18:03] HarshKhandeparkar commented on #1378
Is it text overlay? There is an issue for GIF text overlay already.

[2020-01-17 18:07] HarshKhandeparkar opened #1522 "Load Image Docs Link Should Not Be Displayed (as it doesn't exist)"
### Please describe the problem (or idea)
There are no docs for the first step (load-image). It is not even a module.
![Screenshot from 2020-01-17 23-35-45](https://user-images.githubusercontent.com/34770591/72635207-4d156180-3982-11ea-8367-30b069d24d9a.png)

### Please show us where to look

https://beta.sequencer.publiclab.org

### What's your PublicLab.org username?

### Browser, version, and o

[2020-01-17 18:09] blurry-x-face commented on #1378
Yes its text overlay

[2020-01-17 18:10] blurry-x-face commented on #1378
I'll look into it, Thanks!

[2020-01-17 18:14] HarshKhandeparkar opened #1523 "UI Chatroom Link Should Link to the Gitter Channel"
### Please describe the problem (or idea)
ImageSequencer has its dedicated Gitter Channel Now. The Link in the should lead to this chatroom.

![Screenshot from 2020-01-17 23-43-43](https://user-images.githubusercontent.com/34770591/72635616-37ed0280-3983-11ea-89b4-084d674d8c7d.png)

### Please show us where to look

https://beta.sequencer.publiclab.org

### What's your PublicLab.org username?

###

[2020-01-17 18:15] HarshKhandeparkar commented on #1523
I'll convert this one.

[2020-01-17 18:15] HarshKhandeparkar commented on #1522
I'll convert this one.

[2020-01-17 18:17] HarshKhandeparkar opened #1524 "UI Learn More Link Should Lead to the README"
### Please describe the problem (or idea)
The UI `Learn More` link in the header leads to the publiclab.org wiki page of ImageSequencer. This page is just a mini version of the README. The link should rather lead to the README.

### Please show us where to look

https://beta.sequencer.publiclab.org

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank

[2020-01-17 18:17] HarshKhandeparkar commented on #1524
I'll convert this one.

[2020-01-17 18:29] HarshKhandeparkar opened #1525 "Load Image Docs Link Should Not Be Displayed (as it doesn't exist)"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-17 18:30] HarshKhandeparkar commented on #1522
New FTO #1525

[2020-01-17 18:30] #1522 closed

[2020-01-17 18:34] HarshKhandeparkar opened #1526 "More General Method of Displaying Docs Links"
### Please describe the problem (or idea)
The following code is used to display the docs links for each module in the UI.
https://github.com/publiclab/image-sequencer/blob/d1b9b8beccdbe5ba98cf4e352af103b4913a5fe6/examples/lib/defaultHtmlStepUi.js#L48-L50

The code just links to a general link that may not work for every module. Instead, the link should be imported from every module's `info.json` f

[2020-01-17 18:37] HarshKhandeparkar opened #1527 "UI Chatroom Link Should Link to the Gitter Channel"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-17 18:38] HarshKhandeparkar commented on #1523
New FTO: https://github.com/publiclab/image-sequencer/issues/1527

[2020-01-17 18:38] pcube99 commented on #1525
I want to work on this issue.
can you elaborate, what I am supposed to do in this ?

[2020-01-17 18:39] HarshKhandeparkar commented on #1525
You have to make it so that only the first step has no link.

[2020-01-17 18:39] HarshKhandeparkar commented on #1525
All the other steps' description should be clickable.

[2020-01-17 18:40] #1523 closed

[2020-01-17 18:42] pcube99 commented on #1525
so I just need to put an If statement or an ternary operator and check that step.name is load-image or not.

If it is load-image then remove the link otherwise redirect it.

[2020-01-17 18:45] HarshKhandeparkar opened #1528 "UI Learn More Link Should Lead to the README"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-17 18:45] HarshKhandeparkar commented on #1524
New FTO https://github.com/publiclab/image-sequencer/issues/1528

[2020-01-17 18:45] #1524 closed

[2020-01-17 18:46] pcube99 commented on #1527
I want to claim this issue.

[2020-01-17 18:47] HarshKhandeparkar commented on #1527
You can't claim more than one FTO.

[2020-01-17 18:48] pcube99 commented on #1528
I want to claim this issue.

[2020-01-17 18:48] HarshKhandeparkar commented on #1525
Yeah. Great! You can ask for help here. We are always ready to help.

[2020-01-17 18:49] HarshKhandeparkar commented on #1528
Sorry but you cannot claim more than a single first-timers only issue.

[2020-01-17 19:08] HarshKhandeparkar commented on #605
Some parts were completed in #1364

[2020-01-17 19:09] HarshKhandeparkar commented on #644
Fixed

[2020-01-17 19:09] #644 closed

[2020-01-17 19:09] HarshKhandeparkar commented on #646
No longer relevant.

[2020-01-17 19:09] #646 closed

[2020-01-17 19:12] HarshKhandeparkar commented on #850
Fixed Elsewhere, I guess.

[2020-01-17 19:12] #850 closed

[2020-01-17 19:13] HarshKhandeparkar commented on #859
Bootstrap button has click effects.

[2020-01-17 19:13] #859 closed

[2020-01-17 19:16] HarshKhandeparkar commented on #954
We already have grid overlay

[2020-01-17 19:16] #954 closed

[2020-01-17 19:17] HarshKhandeparkar commented on #973
Fixed elsewhere

[2020-01-17 19:17] #973 closed

[2020-01-17 19:17] #1046 closed

[2020-01-17 19:18] HarshKhandeparkar commented on #1121
Fixed!

[2020-01-17 19:18] #1121 closed

[2020-01-17 19:19] HarshKhandeparkar commented on #1161
Fixed.

[2020-01-17 19:19] #1161 closed

[2020-01-17 19:22] daemon1024 commented on #1505
From what I have researched for the last day, compression algorithms are based on bitmap images. So maybe we can convert the images to bitmap , compress them using algorithms like Huffman and then convert them back to BMP.

Conversion to BMP and the other way round can be done using OpenCV.Js .

I don't know if I am in the right direction or this a feasible idea so wanted to lay out what I have un

[2020-01-17 19:23] HarshKhandeparkar commented on #944
Duplicate of https://github.com/publiclab/image-sequencer/issues/1223

[2020-01-17 19:23] #944 closed

[2020-01-17 19:24] HarshKhandeparkar commented on #1240
Being fixed elsewhere.

[2020-01-17 19:24] #1240 closed

[2020-01-17 19:26] HarshKhandeparkar commented on #1313
Fixed.

[2020-01-17 19:26] #1313 closed

[2020-01-17 19:28] HarshKhandeparkar commented on #1322
fixed.

[2020-01-17 19:28] #1322 closed

[2020-01-17 19:29] HarshKhandeparkar commented on #1323
The image is changing but is scaled back by the UI. Not relevant anymore.

[2020-01-17 19:29] #1323 closed

[2020-01-17 19:30] HarshKhandeparkar commented on #1409
Related to #1412. Will get fixed upon fixing #1412.

[2020-01-17 19:30] #1409 closed

[2020-01-17 19:56] pcube99 commented on #1525
@HarshKhandeparkar  please check the PR.

[2020-01-17 20:00] #1447 closed

[2020-01-17 20:27] #1501 closed

[2020-01-17 20:37] jywarren commented on #656
Fantastic, thank you! Adding you now.

[2020-01-17 20:47] #1452 closed

[2020-01-17 21:42] BrooksPatola commented on #1527
I can do this...

[2020-01-17 21:43] blurry-x-face opened #1531 "Module Selector dropdown showing error in console"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-17 21:44] #1295 closed

[2020-01-18 07:19] blurry-x-face opened #1534 "Github Action to auto publish to NPM"
### Please describe the problem (or idea)

Workflow to publish to NPM is too repetitive we can automate that through Github Action to save our time. When we merge a bump to the package.json file, the Action could have NPM publication rights and publish it to NPM.

[2020-01-18 07:20] blurry-x-face commented on #1534
cc: @jywarren @HarshKhandeparkar @publiclab/is-reviewers

[2020-01-18 07:23] blurry-x-face commented on #1534
I found this
https://sergiodxa.com/articles/github-actions-npm-publish/

[2020-01-18 08:40] root00198 opened #1536 "Histogram Module test passes even though it is not nowrking"
### Please describe the problem (or idea)

The test written in `test/core/modules/histogram.js` passes even though the benchmark and result image produced are different.
Runnig only the histogram module test.
![output](https://user-images.githubusercontent.com/31132760/72661077-2d228400-39fc-11ea-9c93-4d7f6150194a.gif)

The image for benchmark and result should have been same.

### Please show us

[2020-01-18 12:16] blurry-x-face commented on #165
### Mask Module
![Screenshot from 2020-01-18 17-40-51](https://user-images.githubusercontent.com/42492389/72663534-d0ce5d00-3a19-11ea-961f-906f0afac482.png)

![Screenshot from 2020-01-18 17-45-24](https://user-images.githubusercontent.com/42492389/72663599-68cc4680-3a1a-11ea-9cfd-d5681b6a0ca0.png)

@jywarren I was trying to make the mask module and came up with this by applying Alpha Masking.
Coul

[2020-01-18 14:15] MrAsimZahid commented on #1521
Issue Resolved using this command

sudo npm install npm@latest -g

[2020-01-18 14:15] #1521 closed

[2020-01-18 14:47] MrAsimZahid opened #1537 "npm start error"
![npm start error](https://user-images.githubusercontent.com/23510373/72665535-fca60e80-3a2a-11ea-884e-d65f9ed8a20b.png)
### Please describe the problem (or idea)
Receiving this error after running ```npm start ``` command
[code]

Entered ```npm start``` command
also tried ```sudo npm started```

npm started

### Please show us where to look
README.md
https://beta.sequencer.publiclab.org

### What

[2020-01-18 15:47] #1462 closed

[2020-01-18 16:06] root00198 commented on #1536
@publiclab/is-reviewers @HarshKhandeparkar @jywarren @blurry-x-face....

[2020-01-18 16:15] blurry-x-face commented on #1536
What happened when you compared the base64 string of two images instead of comparing it with looks-same? Were the tests still passing?

[2020-01-18 16:16] root00198 commented on #1536
When I directly compared the base64, the test failed as it should.

[2020-01-18 16:20] blurry-x-face commented on #1536
Didn't you removed looks-same in #1530 or #1497 for the same reason?

[2020-01-18 16:24] root00198 commented on #1536
I did removed the looks-same module in #1497, but then #1490 came and there were a lot of conflicts, so I recreated a new PR, keeping the looks-same module and working only on the GIF's rather combining couple of problems together.

[2020-01-18 17:25] arghac14 commented on #1528
@HarshKhandeparkar can I work on this?

[2020-01-18 18:00] root00198 opened #1538 "Colobar default image is not correct."
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-18 21:10] daemon1024 commented on #1505
@niravasher @HarshKhandeparkar

[2020-01-19 01:33] blurry-x-face commented on #1536
Have you thought of any alternative to looks-same?

[2020-01-19 06:27] arghac14 commented on #1531
@blurry-x-face can I take this one?

[2020-01-19 06:53] blurry-x-face commented on #1531
Yes, ho ahead!

[2020-01-19 07:00] arghac14 commented on #1538
@root00198 can I take this one?

[2020-01-19 07:16] HarshKhandeparkar commented on #1505
@publiclab/is-reviewers

[2020-01-19 07:16] HarshKhandeparkar commented on #1528
Sure. Go ahead. You can ask for any kind of help, here.

[2020-01-19 07:17] HarshKhandeparkar commented on #1537
Could you please tell us the `npm` and `nodejs` versions you are using?

[2020-01-19 07:19] HarshKhandeparkar commented on #1534
This is awesome!

[2020-01-19 07:23] HarshKhandeparkar commented on #1527
Go ahead!

[2020-01-19 07:30] root00198 commented on #1538
Yeah sure...

[2020-01-19 07:40] arghac14 commented on #1528
@HarshKhandeparkar  I have fixed the issue, please review the PR #1539

[2020-01-19 07:57] niravasher commented on #1505
Yes, I think this works.
Also check these for further reference :- https://www.npmjs.com/package/tinify. This compresses both PNG and JPEG, although I am not sure if they are lossy or lossless.
https://www.npmjs.com/package/compress-images

[2020-01-19 08:01] hedonhermdev commented on #1526
Can I work on this?

[2020-01-19 08:09] HarshKhandeparkar commented on #1526
Go ahead.

On Sun, 19 Jan, 2020, 1:31 PM Tirth Jain, <notifications@github.com> wrote:

[2020-01-19 08:13] niravasher commented on #1503
Webpack requires an entry point and an output point.
[code]
The entry point here is index.html right? @HarshKhandeparkar

[2020-01-19 08:21] HarshKhandeparkar commented on #1503
It depends on what you are bundling. We want to bundle and `src/ImageSequencer.js`, `examples/demo.js` separately into two different files.

[2020-01-19 08:26] HarshKhandeparkar commented on #1538
Sorry, @arghac14 but you cannot claim more than one First Timers Only issue.

[2020-01-19 09:52] ss62171 commented on #1475
is this issue open to work on?

[2020-01-19 09:53] HarshKhandeparkar commented on #1475
Sorry but this issue already has a PR that fixes it.

[2020-01-19 10:07] daemon1024 commented on #1505
I looked into the module it uses algorithms like jpegoptim, mozjpeg, optipng which support lossless compression. So maybe we can implement it in a way such that users are given control if they want lossless or lossy and which algorithm they want to use. @niravasher

[2020-01-19 11:20] daemon1024 opened #1540 "Weekly community Check-In #45 - "The First Step""
Hi everybody!

We all at Public Lab  - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about their

[2020-01-19 12:20] debck commented on #1534
I think this would be good improvement

[2020-01-19 12:32] HarshKhandeparkar commented on #694
Temporarily unpinning this to pin the check-in

[2020-01-19 13:13] cesswairimu commented on #1540
@sssash18, @Tlazypanda, @Uzay-G, @VladimirMikulic, @pcube99, @nstjean, @imajit, @nicoleiocana, @simonastefan, @dependabot-preview[bot], @giovannyg, @jywarren, @NitinBhasneria, @seabl, @priyanka-choubey, @anthony-zhou, @hknowlton, @Bhanu-mbvg, @pythongiant, @EmirVatric, @KateAnn19, @daemon1024, @abdiclear, @Electrickal, @crisner, @shipcy, @sunguru98, @keshavsethi, @gxite

[2020-01-19 13:13] cesswairimu commented on #1540
@Rishabh570 @sashadev-sky @IshaGupta18 @SidharthBansal @vaibhavmatta @shubhscoder @aSquare14 @sidntrivedi012 @stefannibrasil @ViditChitkara @tech4GT @mridulnagpal @CoderJolly @namangupta01 @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @icarito @steviepubliclab, @ebarry, @jywarren, @sagarpreet-chadha, @JonathanXu1 @rexagod, @divyabaid16, @dinaelhanan, @oorjitchowdhary @publiclab/

[2020-01-19 13:14] cesswairimu commented on #1540
Great thanks @daemon1024

[2020-01-19 13:29] akshaygupta533 commented on #1515
Is anyone working on this? Can I take it up if not?

[2020-01-19 13:41] akshaygupta533 commented on #1538
@HarshKhandeparkar can you assign this to me?

[2020-01-19 13:43] HarshKhandeparkar commented on #1515
If no one is working on it, sure.

On Sun, 19 Jan, 2020, 6:59 PM Akshay Gupta, <notifications@github.com>
wrote:

[2020-01-19 13:43] HarshKhandeparkar commented on #1538
Yeah. Go ahead!

[2020-01-19 14:17] ss62171 commented on #1531
I would like to work on this issue.

[2020-01-19 15:01] niravasher commented on #1503
Does webpack recognize `require` statement or it needs to be changed to `import`? @HarshKhandeparkar

[2020-01-19 16:53] niravasher commented on #1505
Initially build the module for lossless compression only, open a PR, then as per instructions from reviewers you could add options @daemon1024

[2020-01-19 16:55] HarshKhandeparkar commented on #1505
Try to chose a library that supports both, lossless and lossy.

[2020-01-19 16:57] HarshKhandeparkar commented on #1503
Import is es6 only. Import won't even work in node.

[2020-01-19 16:57] HarshKhandeparkar commented on #1531
Sure

[2020-01-19 17:42] hedonhermdev opened #1541 "IS not working on safari"
### Please describe the problem (or idea)
The icons for the modules are not visible as they are the same colour as the background colour.

### Please show us where to look
https://beta.sequencer.publiclab.org/

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the cha

[2020-01-19 17:43] hedonhermdev commented on #1541
![Screenshot 2020-01-19 at 11 08 03 PM](https://user-images.githubusercontent.com/23262887/72685541-3ea98000-3b11-11ea-89ed-d8df325d3e51.png)
![Screenshot 2020-01-19 at 11 08 34 PM](https://user-images.githubusercontent.com/23262887/72685549-4ec15f80-3b11-11ea-8fa9-ffc1afeecd43.png)

[2020-01-19 18:15] niravasher commented on #1503
Yes webpack recognizes es6 import export syntax. using babel to support part of es5 and to run webpack on firefox, explorer etc

[2020-01-20 08:26] MrAsimZahid commented on #1537
npm version = 6.13.6
Node version = v8.10.0

[2020-01-20 12:19] saurabhkanswal commented on #1541
what browser you are using?
Maybe image is not loaded successfully behind the icons. @hedonhermdev can you please reload the page again because it working fine for me.

[2020-01-20 13:57] HarshKhandeparkar commented on #1537
Try running `npm rebuild --build-from-source`

[2020-01-20 14:01] HarshKhandeparkar commented on #1538
@root00198 the PR #1542 fixes the module but the test is still failing. We'll have to open a followup to fix this.

[2020-01-20 14:07] HarshKhandeparkar commented on #1503
Webpack recognizes the import syntax but node wouldn't recognize the syntax so we can't use `import` in our library code.

[2020-01-20 14:14] saurabhkanswal commented on #1541
@hedonhermdev are you running locally? what commands are you using?
 because i am not getting this issue and it's working fine for me.
![pubbb](https://user-images.githubusercontent.com/26677033/72733102-2f800c00-3bbd-11ea-91a5-6957111b6556.PNG)

[2020-01-20 14:15] HarshKhandeparkar commented on #1541
If you are running this locally, then there is a chance that you haven't installed the node modules properly. Try running `npm run setup`.

[2020-01-20 14:19] MrAsimZahid commented on #1537
Received this error
[code]

[2020-01-20 14:26] HarshKhandeparkar commented on #1537
Please run the following commands
`sudo apt-get install -y build-essential xserver-xorg-dev libxext-dev libxi-dev libglu1-mesa-dev libglew-dev pkg-config`

[2020-01-20 14:52] MrAsimZahid commented on #1537
This command was successful.
[code]
After I ran
[code]
and received this error

[code]

[2020-01-20 15:04] HarshKhandeparkar commented on #1537
After running the first (`apt`) command I told you, try running `npm run setup` and then `npm start`.

[2020-01-20 15:15] MrAsimZahid commented on #1537
ran the
[code]
received this error
[code]

[2020-01-20 15:24] HarshKhandeparkar commented on #1537
I have never seen that error before. Try googling it. This might help: https://github.com/albinekb/favicon-emoji/issues/13

[2020-01-20 15:28] MrAsimZahid commented on #1537
Resolved issue using this command
[code]
Writing summary of whole issue and closing.
Thank you @HarshKhandeparkar

[2020-01-20 15:34] MrAsimZahid commented on #1537
Whole summary of issue.

First command
[code]
then
[code]
then
[code]
Result should be a window open in the browser.

[2020-01-20 15:34] #1537 closed

[2020-01-20 15:47] blurry-x-face opened #1547 "Problem in extraManipulation"
After #1533 some modules are facing problem because of
https://github.com/publiclab/image-sequencer/blob/2b3e5a2915262acb41cd6a9e39ab4b20807a5eb1/src/modules/_nomodule/PixelManipulation.js#L317
My #1546 was working fine before addition of this code but after its addition it has broken for some reason.
Also many of the tests were also failing [ref](https://github.com/publiclab/image-sequencer/pull/

[2020-01-20 15:48] blurry-x-face commented on #1547
CC: @HarshKhandeparkar @root00198

[2020-01-20 15:51] blurry-x-face commented on #1547
For starters we can do [this](https://github.com/publiclab/image-sequencer/pull/1533#issuecomment-576291663), it will fix the immediate problem!

[2020-01-20 15:55] blurry-x-face commented on #1536
How about [pixelmatch](https://github.com/mapbox/pixelmatch), this looks promising!
@HarshKhandeparkar?

[2020-01-20 17:02] root00198 commented on #1536
According to me, this problem can be solved if we directly compare the base64 of the images... But before making changes we need to answer 2 questions...
Can same image have two different base64?
Can two different images have same base64?

[2020-01-20 17:02] HarshKhandeparkar commented on #1537
Awesome!

[2020-01-20 17:18] root00198 commented on #1547
I think the issue is that the  getDataUri in this line https://github.com/publiclab/image-sequencer/blob/2b3e5a2915262acb41cd6a9e39ab4b20807a5eb1/src/modules/_nomodule/PixelManipulation.js#L317
is an asynchronous call, and the generateOutput is called even before the frame could be set.

[2020-01-20 17:40] blurry-x-face commented on #1547
Yes, this seems to be the problem, but I don't think we need to use getDataUri this way, it can be used in some other way, calculating it here when most of the modules don't even require it, this seems useless to me.

[2020-01-20 18:12] blurry-x-face opened #1548 "Changing asynchronous callbacks of Sequencer Object to Promises"
As of now we support ES6 but we still have so many callbacks and callback hells! We should change them to Promises because promises:

- *[x] Allow cleaner and better, functional code with less error-prone boilerplate
- *[x] Are easy to debug
- *[x] Provide catching mechanism which are not in callbacks
- *[x] Promises are built over callbacks

[2020-01-20 18:12] blurry-x-face commented on #1548
@publiclab/is-reviewers @jywarren @HarshKhandeparkar
What are your views?

[2020-01-20 18:18] Divy123 commented on #1548
I think this can be a great step towards easy debugging and attaining a more managed codebase, easier to handle. What do you think @jywarren ?

Also, @blurry-x-face do you want to work on this one?

[2020-01-20 18:20] blurry-x-face commented on #1548
Yes! I want to work on it!

[2020-01-20 18:22] Divy123 commented on #1548
I think you can go ahead after listening to @jywarren .

[2020-01-21 04:26] BrooksPatola commented on #1527
I have made PR Update url in footer to ImageSequencer gitter chatroom #19.

Although I may have done this PR wrong, as many commits were displayed.

Let me know how to proceed...

[2020-01-21 13:33] niravasher commented on #1503
Steps I am trying to follow
1) [x] make `webpack.config.js, webpack.dev.js, webpack.prod.js` files.
Development env in webpack.dev.js will run on typing npm build.
Production env in webpack.prod.js will run on typing npm build:prod.

2) [ ] From Gruntfile.js convert NPMtasks to equivalent webpack loaders/plugins
`grunt-browserify, grunt-contrib-uglify-es, grunt-browser-sync, grunt-text-replace`.

[2020-01-21 14:25] blurry-x-face commented on #1547
So, Colorbar module is also not working after this!

[2020-01-21 14:28] blurry-x-face commented on #1547
And also Resize module.

[2020-01-21 14:29] blurry-x-face commented on #1547
Why did the tests pass even though they were not working?

[2020-01-21 14:31] blurry-x-face commented on #1541
@hedonhermdev are you still stuck with this?

[2020-01-21 14:34] root00198 commented on #1547
The test didn't passed, I think...

[2020-01-21 14:39] blurry-x-face commented on #1547
Yea you're right, tests didn't pass https://travis-ci.org/publiclab/image-sequencer/jobs/638695414#L1970
If that was the case then why was there green tick on travis?

![Screenshot from 2020-01-21 20-08-52](https://user-images.githubusercontent.com/42492389/72813733-e21da080-3c89-11ea-8735-3207316c6237.png)

[2020-01-21 14:40] blurry-x-face commented on #1547
@jywarren @HarshKhandeparkar

[2020-01-21 17:41] jywarren commented on #1547
Oof, thank you, and can we get some reviews on #1551? Looking now, thanks for the discuss and fix!

Also noting https://github.com/publiclab/image-sequencer/pull/1550 and #1427 regarding the Travis green checkmark issues... great catch.

[2020-01-21 17:44] #1488 closed

[2020-01-21 17:44] jywarren commented on #165
Oh, this looks really nice!

[2020-01-21 17:58] #1528 closed

[2020-01-21 18:36] jywarren commented on #1540
Hello, and thank you!!!!

[2020-01-21 19:20] ataata107 commented on #656
Hi @jywarren I would like to be part of this team
Kindly find my issues and PR's as follows
Issues
#1370
#1383
#1402
#1411
#1429
#1457
#1498

PR's
#1379
#1386
#1395
#1403
#1412
#1428
#1442
#1450
#1455
#1456
#1458
#1489
#1491
#1533

[2020-01-21 19:45] nstjean commented on #1540
Hi all! Public Lab has been my first contribution to Open Source, it always seemed rather daunting to contribute to a big project somewhere. I came from Outreachy, wanting to apply as an Intern. Unfortunately my first step was very frustrating! :laughing: I could not get Rails to install and run on my windows machine. I ended up having to dual-boot, but that didn't go smoothly either. Once I got i

[2020-01-21 19:53] #1547 closed

[2020-01-21 20:00] ataata107 opened #1553 "Transparent GIF's"
### Please describe the problem (or idea)
The background changes to black for transparent gifs for all modules
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/32903329/72838681-c5e42880-3cb6-11ea-9d48-a2c16aea3a90.gif)

### Please show us where to look

https://beta.sequencer.publiclab.org

### What's your PublicLab.org username?

### Browser, version, and operating system

***

[2020-01-21 20:01] ataata107 commented on #1553
@publiclab/is-reviewers

[2020-01-21 20:01] ataata107 commented on #1553
I would like to work on this

[2020-01-21 20:03] ataata107 commented on #1515
Yup go ahead

[2020-01-21 20:44] hedonhermdev commented on #1541
So this happens only when I open the page in safari and not on Google Chrome. Maybe browser compatibility issues?

[2020-01-21 20:47] blurry-x-face commented on #1541
This also doesn't work on firefox #1211

[2020-01-21 20:49] hedonhermdev commented on #1541
Oh, when I load it looks similar to that in the screenshots in #1211

[2020-01-21 20:50] giovannyg commented on #1540
Hello and thanks for give newcomers the opportunirty to contribute to open source and help us in the process.

[2020-01-21 21:06] cocolin041 commented on #1393
hi, is this issue still available?

[2020-01-21 21:23] jywarren commented on #1427
Hi, is this now resolved in https://github.com/publiclab/image-sequencer/pull/1550 or is this a distinct issue? Thank you!

[2020-01-21 21:25] #1420 closed

[2020-01-21 21:30] jywarren commented on #656
Great, adding you! Thank you!

[2020-01-21 22:01] jywarren opened #1554 "Intermittent test failure in Travis"
After #1550 maybe? I saw this issue:

it failed in Node 10 but not 8. i'm retriggering it to see if it's intermittent!

(...)

[2020-01-21 22:02] jywarren commented on #659
Linking to #1550 and https://github.com/publiclab/image-sequencer/issues/1113 !

[2020-01-21 22:02] jywarren commented on #1113
Linking to #1550 and https://github.com/publiclab/image-sequencer/issues/659 !

[2020-01-22 03:24] #1427 closed

[2020-01-22 05:53] Starkyv commented on #1538
Is this issue still open?

[2020-01-22 07:15] root00198 commented on #1554
Okay, so I think the issue why a particular test is failing is because of look-same module, which we are using to compare two images, in test suite... Look-same is not reliable refer issue #1536

[2020-01-22 07:30] ataata107 opened #1558 "Crop module UI"
### Please describe the problem (or idea)
There is UI on top left corner when we select crop module. Some PR might have caused that

![Screenshot from 2020-01-22 13-08-55](https://user-images.githubusercontent.com/32903329/72874604-6b7bb400-3d18-11ea-9d0d-f201a81a2529.png)

### Please show us where to look

https://beta.sequencer.publiclab.org

### What's your PublicLab.org username?

### Browser,

[2020-01-22 09:02] blurry-x-face commented on #430
@jywarren I made something like this

![newColorbar](https://user-images.githubusercontent.com/42492389/72879920-e1394d00-3d23-11ea-8ae2-4f7bee023c2d.png)

Is this what we require?

[2020-01-22 09:09] keshav234156 commented on #1184
I am now working on this

[2020-01-22 10:29] root00198 commented on #1538
No it is not... Someone already created a pull request...

[2020-01-22 11:51] HarshKhandeparkar opened #1560 "Better Approach to Using Modules Internally Inside Other Modules"
### Please describe the problem (or idea)
Code similar to the following was used earlier for EdgeDetect and was used in one of the PRs
https://github.com/publiclab/image-sequencer/blob/ef75475238c937994e7184aa0c58c59bbb80d355/src/modules/Mask/Module.js#L33-L39

What happens:
1. A new instance of IS is created *internally*.
2. Internal sequencer loads the data URI of the image that was already load

[2020-01-22 11:51] HarshKhandeparkar commented on #1560
@jywarren @publiclab/is-reviewers

[2020-01-22 14:34] sharmamansi commented on #1311
can i work on this?

[2020-01-22 15:38] blurry-x-face commented on #1311
This is reserved for GCI, but today seems to be the last date for GCI and I don't think anyone has claimed it, so you're good to go!

[2020-01-22 15:41] blurry-x-face commented on #1475
@damn-dvlpr could you please make the PR to this repo!
Refer [this](https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request-from-a-fork)

[2020-01-22 16:31] #1498 closed

[2020-01-22 16:42] jywarren commented on #718
Hi, all, so, after discussing and such, I think I'll close this and we can focus on use of sockets in other projects. Thank you!

[2020-01-22 16:42] #718 closed

[2020-01-22 16:48] jywarren commented on #1560
Thanks!!!

For this:

I long ago had an issue which I can't find, which had the idea that if two neighboring steps BOTH agreed, they could pass a different image format, and skip the data-url encoding/decoding step. But both would have to agree on the format, like `ndarray`, and we'd probably have to clearly and very thoroughly document and test the possible formats to agree upon before allowing t

[2020-01-22 17:08] ss62171 commented on #1558
I would like to work on this.

[2020-01-22 17:09] blurry-x-face commented on #1558
Hi @ss62171, this already has a pr!

[2020-01-22 17:10] ss62171 commented on #1558
@blurry-x-face didn't see that.

[2020-01-23 15:54] sharmamansi commented on #1298
hey @keshav234156  as gci is over now can i work on this?

[2020-01-23 16:45] blurry-x-face commented on #146
fixed in #1451

[2020-01-23 16:45] #146 closed

[2020-01-23 16:49] keshav234156 commented on #1298
Yes @sharmamansi you can now work on this!!

[2020-01-24 04:00] AmanR28 commented on #1475
Is it avaliable to pick ?

[2020-01-24 07:06] crisner commented on #1540
Hello! 👋 My first step towards contributing to Public Lab was through Outreachy. I have made small contributions to other open-source projects before mainly through Hacktoberfest but I've felt that my contributions to Public Lab have been the most meaningful. ❤️

[2020-01-24 07:23] blurry-x-face commented on #1475
@AmanR28 this issue already has a pull request #1567

[2020-01-24 07:29] blurry-x-face opened #1569 "Updating pull request template"
### Please describe the problem (or idea)

Adding following two points in the PR template:
- [ ] I added tests for the changes I made (if applicable).
- [ ] I added or updated documentation (if applicable).

### What's your PublicLab.org username?

rishabhshukla1999

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn

[2020-01-24 07:30] blurry-x-face commented on #1569
@publiclab/is-reviewers @jywarren @HarshKhandeparkar What are your thoughts?

[2020-01-24 07:56] SidharthBansal commented on #1540
Mentors are requested to fill the form
https://docs.google.com/forms/d/1UcmXtNEVjZW6fozpW_9gWduRpnfVNG816JTswx85_VA/edit asap
DEADLINE 27 January 18 IST
Thanks all

[2020-01-24 10:14] ataata107 opened #1570 "Corrupted pixels.data for some modules"
### Please describe the problem (or idea)
Some modules like decode-qr, text-overlay ,fisheye-gl don't work for gifs and we have to use get-dataurl to solve the problem

### Please show us where to look

https://beta.sequencer.publiclab.org

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank you!

Your help makes Public Lab better! We *deeply* apprec

[2020-01-24 13:38] cesswairimu commented on #1540
Hey all :wave:, my first step to actively contribute to PublicLab was through Rails Girls Summer of Code. I didn't get the internship but I found a great community :heart:

[2020-01-24 18:21] SidharthBansal commented on #1540
My first step was fixing a regex. I spent two months fixing that one character error at PL. I learned a lot about git and regex(more than required). I started solving regex problems on HackerEarth. That was funny. I was on wrong track to solve that problem. Then @jywarren guided me. @jywarren is really helpful. I remember that first PR. 🚀
Lesson learned: Don't hesitate to ask. Mentors are there to

[2020-01-25 09:00] AmanR28 commented on #1393
@HarshKhandeparkar Can I work on this issue?

[2020-01-25 10:50] neelesh17 commented on #1538
Is this issue still open?

[2020-01-25 11:04] blurry-x-face commented on #1538
@neelesh17  This issue already has a PR

[2020-01-25 12:21] katungi commented on #1540
Hey people, I just joined. @cesswairimu  introduced me to the project and i am very excited to work with you all. I am new to open source but i hope this will be the perfect introduction.

[2020-01-25 12:56] ataata107 commented on #1553
this is a problem with gifshot . Should we shift to some other library?

[2020-01-25 15:00] ataata107 commented on #1241
Can I work on this as gci is over?

[2020-01-25 15:07] ataata107 commented on #1310
As gci is over can i work on this

[2020-01-25 17:04] blurry-x-face commented on #418
Hi @jywarren could you explain this a bit, I would love to work on this!

[2020-01-26 01:10] blurry-x-face opened #1575 "GenerateOutput called multiple times"
### Please describe the problem (or idea)

GenerateOutput is called multiple times because of which modules are not working as expected!

### Please show us where to look

https://beta.sequencer.publiclab.org

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and im

[2020-01-26 02:05] blurry-x-face opened #1576 "Edge detect is not working correctly"
### Please describe the problem (or idea)

I tried running edge detect in browser and it gave following output (default values)

![Screenshot from 2020-01-26 07-35-06](https://user-images.githubusercontent.com/42492389/73129625-6d8e8d00-400e-11ea-9747-5c632371942d.png)

I tried running edge detect in node and it gave following output (default values)

![image_1](https://user-images.githubuserconte

[2020-01-26 08:17] niravasher opened #1577 "Failing tests"
### Please describe the problem (or idea)

Tests for modules like add-qr, blur, convolution, edge-detect, fisheye-gl, webgl-distort are failing.

### Please show us where to look

https://beta.sequencer.publiclab.org

### What's your PublicLab.org username?
niravasher

### Browser, version, and operating system
ubuntu 19.04

****

## Thank you!

Your help makes Public Lab better! We *deeply* appre

[2020-01-26 08:35] blurry-x-face commented on #1577
Can you share the link to the travis build where tests were failing?

[2020-01-26 09:21] niravasher commented on #1577
I get failed tests on my terminal but on travis CI they have passed.
![Screenshot from 2020-01-26 14-48-19](https://user-images.githubusercontent.com/32176296/73133164-03e0a400-404b-11ea-8012-d2c85cbfc732.png)

[2020-01-26 09:31] niravasher commented on #1540
Hi! My fitst contribution to PL was making changes to the PL.Editor

[2020-01-26 10:28] niravasher commented on #1505
@daemon1024 are you still working on this?

[2020-01-26 11:13] daemon1024 commented on #1505
@niravasher Yes, I am working on this. I have most of the stuff offline.

Should I make a PR with WIP? I haven't made significant progress in code implementation cause I spent most of the week in understanding how is image-sequencer working and traversing through the codebase.
I will have a initial module ready by end of the week.

[2020-01-26 12:18] niravasher commented on #1505
@daemon use this https://www.npmjs.com/package/compress-images . Setting quality to 100 will lead to lossless compression and setting it less than 100 will lead to lossy compression. Plus it provides an option to choose among a lot of compression algo's

[2020-01-26 15:53] govindgoel opened #1578 "Amount of tint not working"
### Please describe the problem (or idea)

In the tint option we can specify the amount of tint but when we change the color after that you cannot change the value of amount of tint.

The value of amount of tint can be changed after that

### Please show us where to look

https://beta.sequencer.publiclab.org/examples/#steps=tint{}

### What's your PublicLab.org username?

![ ](https://media.giphy.

[2020-01-26 16:03] daemon commented on #1505
@daemon1024

[2020-01-26 21:31] cesswairimu commented on #1540
Hi all, anyone interested in opening next week's check-in? :eyes:

[2020-01-26 23:30] ataata107 commented on #1578
Sorry wasn't able to catch this error seems to be working fine for me can you reconfirm.

[2020-01-27 01:13] govindgoel commented on #1578
@ataata107  Checked again but not working I will try to work on this.

[2020-01-27 05:00] NitinBhasneria commented on #1540
Hello everyone, My first task was rhe first-timer issue due to which I gained confidence and then I started in other UI issue. As I tried contributinf in other organisations too I found peoples in public lab are more active and responsive also thank u for helping me @SidharthBansal @jywarren @nstjean .🤗

[2020-01-27 09:30] keshav234156 commented on #1123
now working on this issue!!

[2020-01-27 09:33] ataata107 opened #1581 "Crop Module"
### Please describe the problem (or idea)
If we try to crop on an already cropped image it still assumes the coordinates based on previous step image.
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/32903329/73163109-466eb300-4115-11ea-8745-1594263d4940.gif)

### Please show us where to look

https://beta.sequencer.publiclab.org

### What's your PublicLab.org username?

### Bro

[2020-01-27 10:00] blurry-x-face commented on #1581
@ataata107  Can i do this?

[2020-01-27 10:17] ataata107 commented on #1581
Yup go ahead

[2020-01-27 15:51] niravasher commented on #1578
Even I am getting the same problem. Before changing color I can change the amount of tint but after changing color, I can't @ataata107

[2020-01-27 22:19] jywarren commented on #1369
Hi all, this is coming along really well and I wanted to thank everyone for your help. This is doing a huge amount to stabilize our project!

[2020-01-27 22:24] jywarren commented on #1123
Amazing, thank you!!!

[2020-01-28 10:03] niravasher commented on #1578
This is not just for tint, but any module in which color has to be chosen has this bug @govindgoel @ataata107

[2020-01-28 10:35] niravasher opened #1585 "Option to add Bold, italic, underline option in text overlay module"
### Please describe the problem (or idea)

Option to add bold, italic, underline to the text in text overlay module

### Please show us where to look

https://beta.sequencer.publiclab.org

### What's your PublicLab.org username?
niravasher

### Browser, version, and operating system
ubuntu 19.04
****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and

[2020-01-28 10:39] niravasher commented on #1585
Should I work on this issue? @HarshKhandeparkar @jywarren @blurry-x-face

[2020-01-28 11:09] niravasher opened #1586 "Grid display"
### Please describe the problem (or idea)

We can have a button which toggles display of 3 X 3 grid
![Screenshot from 2020-01-28 16-36-13](https://user-images.githubusercontent.com/32176296/73258886-a421fe80-41ec-11ea-92fb-fe2a4ba19e1c.png)

### Please show us where to look

https://beta.sequencer.publiclab.org

### What's your PublicLab.org username?
niravasher

### Browser, version, and operatin

[2020-01-28 12:28] blurry-x-face commented on #1586
Don't we already have a module for this?

[2020-01-28 12:29] blurry-x-face commented on #1585
Should we make this a FTO? This looks easy enough for a fto!

[2020-01-28 12:32] blurry-x-face commented on #1578
I fixed this bug in #1465 and it is working fine, try rebasing

[2020-01-28 12:37] niravasher commented on #1585
Sure @blurry-x-face

[2020-01-28 12:46] niravasher commented on #1586
Ok, did not see that.

[2020-01-28 12:46] #1586 closed

[2020-01-28 13:06] blurry-x-face commented on #1576
@HarshKhandeparkar could you look into this!

[2020-01-28 13:15] blurry-x-face commented on #1577
Could you try rebasing?

[2020-01-28 15:17] blurry-x-face commented on #1527
@BrooksPatola could you give the correct link to your PR

[2020-01-28 15:30] jywarren commented on #237
OpenCV is installed now! See https://github.com/publiclab/image-sequencer/blob/main/src/modules/BlobAnalysis/BlobAnalysis.js for examples. Let's expand out from this initial example!

[2020-01-28 15:33] jywarren commented on #237
Noting for context!!!

This was all achieved by @aashna27 in https://github.com/publiclab/image-sequencer/pull/1185

[2020-01-28 15:42] jywarren commented on #237
Uhhh, strangely it's not in the demo or the beta: https://sequencer.publiclab.org/examples/ https://beta.sequencer.publiclab.org/examples/

Though it definitely works in Aashna's demo: https://aashna27.github.io/image-sequencer/examples/#steps=brightness{},brightness{},blob-analysis{}

@aashna27  are you able to take a look to see how it got removed? And, we should add a test like this one to prot

[2020-01-28 15:43] jywarren opened #1587 "Blob detection module not appearing"
We have an amazing OpenCV based blob detection module @aashna27 created: #1185

Strangely it's not in the demo or the beta: https://sequencer.publiclab.org/examples/ https://beta.sequencer.publiclab.org/examples/

Though it definitely works in Aashna's demo: https://aashna27.github.io/image-sequencer/examples/#steps=brightness{},brightness{},blob-analysis{}

@aashna27 are you able to take a look t

[2020-01-28 15:48] jywarren commented on #1587
False alarm! needed to clear cache on an old browser.

https://sequencer.publiclab.org/examples/#steps=brightness{},brightness{},blob-analysis{} this works!

Changing title to be "write test for this module"

[2020-01-28 15:49] jywarren commented on #237
Solved -- it was a cache issue -- and opened an issue to request a module test for it: https://github.com/publiclab/image-sequencer/issues/1587

Thanks!

[2020-01-28 15:50] blurry-x-face commented on #1587
I'll be happy to write the test for it!

[2020-01-28 15:51] blurry-x-face commented on #1587
But I was having problem in running it in node, I'll try to solve that issue first!

[2020-01-28 16:01] #1479 closed

[2020-01-28 16:10] jywarren commented on #1587
Thank you!!

[2020-01-28 16:37] blurry-x-face commented on #1585
Would you be willing to open the new issue or should I do it?

[2020-01-28 16:37] blurry-x-face commented on #1578
@govindgoel could you confirm that it worked after rebasing or not?

[2020-01-28 16:39] HarshKhandeparkar commented on #1585
I don't think we need bold. We can already set the font size/weight(I
think). And as far as I know, italics come from the font.

But underline, overline and strike through could be interesting.

On Tue, 28 Jan, 2020, 10:07 PM Rishabh Shukla, <notifications@github.com>
wrote:

[2020-01-28 16:40] blurry-x-face commented on #1211
This is also not working in Safari #1541

[2020-01-28 18:08] blurry-x-face commented on #1587
@jywarren PR to make it work on Node #1589, please have a look!

[2020-01-28 19:12] daemon1024 commented on #1505
Hi @niravasher ,

I was starting with the initial implementation of the module. But I can't seem to understand how is the input coming and in which format i return the output. I saw other modules and it seemed that they were returning an object but I don't understand how would we return an object.

My initial commit : https://github.com/daemon1024/image-sequencer/commit/ccca8feef9d079d5e1fcf7e2c86

[2020-01-29 08:36] blurry-x-face opened #1594 "NDVI values is getting overwritten by rgba value when hovered over image"
![ndvi](https://user-images.githubusercontent.com/42492389/73340309-81512200-42a0-11ea-886e-7e76958cedfe.gif)

### Please show us where to look

https://beta.sequencer.publiclab.org

### What's your PublicLab.org username?

rishabhshukla1999

[2020-01-29 09:27] cesswairimu commented on #1540
Moved to https://github.com/publiclab/plots2/issues/7364 .Thanks all

[2020-01-29 09:27] #1540 closed

[2020-01-29 15:48] #1184 closed

[2020-01-29 18:12] sharmamansi commented on #1298
Hey @keshav234156  and @jywarren im facing an issue regarding opening pr please find below ss .I'm sure its not any typo also i tried googling it but nothing worked for me. I hope you guys can help.
![error](https://user-images.githubusercontent.com/44358571/73384264-edf40d00-42f0-11ea-908b-ff736bafecb9.png)

[2020-01-29 18:33] keshav234156 commented on #1298
@sharmamansi command is git push origin name_of_the_branch_to_be_pushed

[2020-01-29 18:36] keshav234156 commented on #1298
@sharmamansi it seems that you haven't forked the repo. Please fork the repo first, then clone it.

[2020-01-29 20:00] niravasher commented on #1505
I have commented on your commit, check it out @daemon1024

[2020-01-29 20:37] daemon1024 commented on #1505
Thanks @niravasher , will work on it!

[2020-01-30 13:26] blurry-x-face commented on #1576
@publiclab/is-reviewers can anyone please look into this!

[2020-01-30 15:06] Deogle commented on #1516
If this hasn't been fixed yet, I can take it. This would be my first time contributing.

[2020-01-30 15:08] blurry-x-face commented on #1516
Yea sure, go ahead @Deogle, If you have any doubts feel free to ask them!

[2020-01-30 15:24] blurry-x-face commented on #694
Unpinned the check-in to pin this issue as check-in is shifted to another repository.

[2020-01-30 15:35] niravasher commented on #1585
Working on this

[2020-01-30 15:51] #1577 closed

[2020-01-30 16:18] HarshKhandeparkar commented on #1576
Looking :mag:

[2020-01-30 16:21] HarshKhandeparkar commented on #1576
Got a fix! That was very fast.

[2020-01-30 16:52] HarshKhandeparkar commented on #1576
Can't make out whether it is working or not. `sequencer.publiclab.org` was working just fine some time back but now even that is not producing the expected output.

[2020-01-30 17:02] HarshKhandeparkar commented on #1576
Okay, I don't know what to do now. This could even be a browser problem. Now I cannot test it on another browser because FF doesn't work :crying_cat_face:

[2020-01-30 17:05] blurry-x-face commented on #1576
Try to repeat following steps:

1. Open beta site
2. Load edge detect module
3. Change the image to [this](https://github.com/publiclab/image-sequencer/blob/main/examples/images/IS-QR.png)

Save the generated output and then remove the edge-detect step and clear the cache, now follow the following steps:

1. Open beta site.
2. Load [this](https://github.com/publiclab/image-sequencer/blob/main/exam

[2020-01-30 17:06] blurry-x-face commented on #1576
IS also doesn't work on safari :(

[2020-01-30 17:12] HarshKhandeparkar commented on #1576
OMG! The outputs ARE different! What???

[2020-01-30 17:14] blurry-x-face commented on #1576
:rofl: my reaction exactly

[2020-01-30 17:20] blurry-x-face commented on #1576
@HarshKhandeparkar  Could you make it work without using gpu.js and confirm if the problem still persists

[2020-01-30 17:20] blurry-x-face commented on #1576
@jywarren could you please look into this!

[2020-01-30 17:27] HarshKhandeparkar commented on #1576
GPU.js is actually only used for blur. If that is working then I don't think it's a GPUjs problem.

[2020-01-30 17:38] blurry-x-face commented on #1576
Yea you're right, I just checked.
What do you think the problem could exactly be?

[2020-01-30 18:33] blurry-x-face commented on #743
This is interesting, I wanna work on it!

[2020-01-30 19:18] daemon1024 commented on #1505
@niravasher made the changes you requested, Here's the commit https://github.com/daemon1024/image-sequencer/commit/7faad06f443892fe93ba948e3c13e9baad467dac

Should I make a PR with [WIP] tag to have a better discussion?

[2020-01-31 10:07] niravasher commented on #1505
Why not @daemon1024

[2020-01-31 12:41] blurry-x-face commented on #1080
Hi @tech4GT could you explain this a bit more, I would like to work on this!

[2020-01-31 15:58] #1516 closed

[2020-02-01 06:00] tech4GT commented on #1080
Hi @blurry-x-face
So it's been a while but as far as I remember this module was supposed to overlay a part of the image onto another. For instance, say I give the module the four corner points of a quadrilateral, I then want only the image inside this quadrilateral to be overlaid. The challenge, as I explained earlier is to determine which pixel is inside the quadrilateral and which one is not. I

[2020-02-01 06:45] blurry-x-face commented on #1080
@tech4GT how about if we crop and then overlay, wouldn't that work?

[2020-02-01 06:47] tech4GT commented on #1080
Yeah that's the challenging part, how do we crop an arbitrary quadrilateral out of the image using just the four corner points.

[2020-02-01 06:52] blurry-x-face commented on #1080
I'll try and make something and let you know if anything works out, thanks!

[2020-02-01 09:24] sharmamansi commented on #1297
Hey @SidharthBansal  as gci is over now can i work on this?

[2020-02-01 09:47] sharmamansi commented on #911
Hey @HarshKhandeparkar  can you explain this issue please?

[2020-02-01 09:51] ankushshukla commented on #828
Hi @HarshKhandeparkar  @harshithpabbati  sorry I've not text and discuss in last weeks cause of some health issues, well basically our motive to add new module right ?

[2020-02-01 09:54] 28-ys commented on #828
Hi there,
@harshithpabbati  @HarshKhandeparkar  sorry for not discuss in last few days cause of some health issue, well basically our motive is to add new module here right ?

[2020-02-01 11:01] blurry-x-face commented on #1080
@tech4GT I was able to make this, this runs in O(n^2) and also uses web assembly so its fast!

![Screenshot from 2020-02-01 16-30-18](https://user-images.githubusercontent.com/42492389/73591086-2faece80-4510-11ea-9fa7-1b50aa7f8fec.png)

If this looks good I can open a PR for it!

[2020-02-01 11:33] blurry-x-face opened #1605 "Overlay doesn't work correctly with transparent image"
### Please describe the problem (or idea)

Overlay module doesn't work correctly with transparent images.

![Screenshot from 2020-02-01 17-01-36](https://user-images.githubusercontent.com/42492389/73591462-b1a0f680-4514-11ea-9f25-7447e3485700.png)

### Please show us where to look

https://beta.sequencer.publiclab.org

### What's your PublicLab.org username?
rishabhshukla1999

****

## Thank you!

[2020-02-01 11:42] tech4GT commented on #1080
Sure! Great work!

[2020-02-01 11:49] blurry-x-face commented on #1080
Thanks! :smile:

[2020-02-01 17:01] blurry-x-face commented on #760
This is interesting, I'd like to work on it!

[2020-02-02 15:35] 28-ys commented on #828
Hi
@HarshKhandeparkar @harshithpabbati  well basically our motive is to add new module here right ?

[2020-02-02 15:36] HarshKhandeparkar commented on #828
Yes. New module or modules.

On Sun, 2 Feb, 2020, 9:05 PM Yogesh Sharma, <notifications@github.com>
wrote:

[2020-02-02 15:46] 28-ys commented on #828
So, module should be crisp, dulled, toy and flash of type or i can work and discuss my ideas as well for new module.

[2020-02-02 16:01] HarshKhandeparkar commented on #828
Everyone's ideas are welcome. This is open source!

On Sun, 2 Feb, 2020, 9:16 PM Yogesh Sharma, <notifications@github.com>
wrote:

[2020-02-03 08:00] 28-ys commented on #828
Hi there,
@HarshKhandeparkar  I've find two ways to sketch module...
to using [' canvas-sketch-cli '] npm module ,
or I've find another way is to add Greyscale--> it will make the image black and white, then we'll apply invert and blur function on it which we already have just need to import it, then finally Dodge and Merge --> basically it is  blend mode divides the bottom layer by the inverted t

[2020-02-03 18:30] blurry-x-face commented on #828
@28-ys there is already a open PR for sketch module

[2020-02-03 19:31] 28-ys commented on #828
Hi @HarshKhandeparkar  @harshithpabbati

[2020-02-03 19:34] 28-ys commented on #828
@blurry-x-face  so do you think my idea will work ?

[2020-02-03 19:38] blurry-x-face commented on #828
Yes, I was trying to make sketch module using the same method and was able to make it succesfully.

[2020-02-03 19:42] 28-ys commented on #828
@blurry-x-face  Congrats! which way you apply by using ['canvas-sketch-cli'] or by adding Greyscale.
Please give me some guide for either add new feature or anything.
I actually new to open source and want to contribute.
Thanks!

[2020-02-03 19:46] blurry-x-face commented on #828
I did it by following these steps:
[code]

Have you solved any fto?

[2020-02-03 19:48] 28-ys commented on #828
@blurry-x-face  no i haven't solved just find a way to add new module for sketch.

[2020-02-03 19:49] blurry-x-face commented on #1578
This issue has been resolved in #1465

[2020-02-03 19:49] #1578 closed

[2020-02-03 20:21] blurry-x-face opened #1612 "Module for sharpening images"
### Please describe the problem (or idea)

We currently do not have any module for sharpening a image, I was looking for a good way to make the image to look more sharp and I came across this: [ref](https://en.wikipedia.org/wiki/Unsharp_masking)

What does everyone else think of this?

[2020-02-03 20:21] blurry-x-face commented on #1612
@publiclab/is-reviewers should I go ahead with this?

[2020-02-03 20:33] blurry-x-face opened #1613 "Clear all steps button reloads the page"
### Please describe the problem (or idea)

When clear all steps button is clicked it reloads the page to clear all steps, there should be a function in sequencer object which could remove all steps at once instead of just reloading the page.

![clear-steps](https://user-images.githubusercontent.com/42492389/73688646-7b20d280-46f2-11ea-9079-286e5306cc60.gif)

### Please show us where to look

https

[2020-02-03 20:34] 28-ys commented on #828
@blurry-x-face
No i haven't solve any fto.

[2020-02-03 20:37] blurry-x-face commented on #828
try solving #1527

[2020-02-03 20:50] blurry-x-face commented on #1613
@publiclab/is-reviewers what do you all think?

[2020-02-04 06:23] 28-ys commented on #1527
Hi there,
@blurry-x-face  basically we need to add a link in footer to gitter chatroom right?

[2020-02-04 06:32] 28-ys commented on #1527
I guess this link is already there below Need Help.
[ Ask In our chat room ]button.

[2020-02-04 12:57] ataata107 commented on #1612
Yes this would be really good

[2020-02-04 15:30] 28-ys commented on #828
@blurry-x-face
I guess #1527 is already done cause it is there below NEED HELP

[2020-02-05 08:28] ataata107 commented on #1468
@blurry-x-face I am free with my PR’s can I do this?

[2020-02-05 11:45] blurry-x-face commented on #1468
Sure, go ahead

[2020-02-05 12:36] 28-ys commented on #828
Hi,
@blurry-x-face
I guess #1527 is already done cause it is there below NEED HELP.

[2020-02-05 12:52] blurry-x-face commented on #1527
No, the link should be https://gitter.im/publiclab/image-sequencer

[2020-02-07 18:38] 28-ys commented on #1527
Hi there,
@blurry-x-face  I have make changes but nothing is update on browser even after killing server and run again its kind of weird actually it loads the external Index.js file first then it loads the index.js file which is in the examples some js function make changes when it loads as refresh it on browser with command+shift+R (by this it remove the cache) then it update the changes accordin

[2020-02-07 18:40] blurry-x-face commented on #1527
Did you cleared the cache?

On Sat, Feb 8, 2020, 12:08 AM Yogesh Sharma <notifications@github.com>
wrote:

[2020-02-07 18:41] 28-ys commented on #1527
Hi there,
@blurry-x-face I have make changes but nothing is updated on browser even after killing the server and run it again its kind of weird actually it loads the external Index.js file first then it loads the index.js file which is in the examples some js function make changes on index.js when it load on browser . as i refresh it on browser with command+shift+R (by this it remove the cache) th

[2020-02-07 18:43] 28-ys commented on #1527
@blurry-x-face  yes i clear the cache then only it changes the update on browser.

[2020-02-07 18:45] 28-ys commented on #1527
@blurry-x-face  yeah only after refresh it by pressing (command+shift+R) it loads the changes i make.

[2020-02-07 18:51] 28-ys commented on #1527
@blurry-x-face  one more thing as i reload it by removing cache it didn't load the external index.js file it directly loads the index.js file which is in examples and show changes i make accordingly.

[2020-02-07 18:58] niravasher opened #1618 "Motion blur"
### Please describe the problem (or idea)

Creating motion blur at an angle that is a user input

### Please show us where to look

https://beta.sequencer.publiclab.org

### What's your PublicLab.org username?
niravasher

### Browser, version, and operating system
ubuntu 19.04

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

[2020-02-07 18:58] niravasher commented on #1618
Working on this

[2020-02-08 05:24] niravasher commented on #1618
![Screenshot from 2020-02-08 10-47-25](https://user-images.githubusercontent.com/32176296/74079658-8a8c7c80-4a60-11ea-93b6-8fec934d2fda.png)
Following the steps
1) Rotating the image using rotate module
2) Creating Blur using gpu
3) Rerotating the module in the opposite direction to get blur at an angle input by the user

[2020-02-10 16:02] niravasher commented on #1618
I am not able to rerotate in opposite direction. I get this error `Uncaught TypeError: Cannot read property 'width' of undefined` @publiclab/is-reviewers @HarshKhandeparkar @blurry-x-face

[2020-02-12 17:07] blurry-x-face commented on #760
I believe we could break this out into two seperate issue, firstly we need a API method to reorder the steps in sequencers object then we can work on UI implementation, I'll open the issue for the same

[2020-02-12 17:10] blurry-x-face opened #1621 "Method to reorder steps"
### Please describe the problem (or idea)

I believe we could break this out into two seperate issue, firstly we need a API method to reorder the steps in sequencers object then we can work on UI implementation, I'll open the issue for the same

_Originally posted in https://github.com/publiclab/image-sequencer/issues/760#issuecomment-585311088_

[2020-02-12 17:36] blurry-x-face opened #1623 "Problem with step object"
### Please describe the problem (or idea)

![Screenshot from 2020-02-12 22-54-18](https://user-images.githubusercontent.com/42492389/74360249-bb670b80-4dea-11ea-96cd-8ef9097e5ca4.png)

Currently in the sequencer object there is a recursive loop of step inside options, we need to remove this!

### Please show us where to look

https://beta.sequencer.publiclab.org

### What's your PublicLab.org user

[2020-02-12 17:49] HarshKhandeparkar opened #1624 ""Bug Stomp February" - A Bug Fixing Marathon"
### Why
It seems that ImageSequencer has a lot of bugs and optimization issues. For example, it does not work on Firefox https://github.com/publiclab/image-sequencer/issues/1211.

We trying to add awesome features like [Face Detection](https://github.com/publiclab/image-sequencer/pull/1597) and [Motion Blur](https://github.com/publiclab/image-sequencer/pull/1622). Just look at the contributions be

[2020-02-12 17:49] HarshKhandeparkar commented on #1624
Let us know the bug that you have claimed in the comments of this thread, below :arrow_down:.

[2020-02-12 17:52] blurry-x-face commented on #1624
Would really love to be part of this Campaign :smile:

[2020-02-12 17:59] ataata107 commented on #1624
I am in for this

[2020-02-12 18:01] HarshKhandeparkar commented on #1624
:rocket:

On Wed, 12 Feb, 2020, 11:29 PM Shazeb Ata, <notifications@github.com> wrote:

[2020-02-12 18:05] niravasher commented on #1624
Always in for this

[2020-02-12 18:16] blurry-x-face commented on #1098
I'll be working on this as part of Bug Stomp February, @jywarren could you brief on how this used to work before so I can work on fixing it, Thanks!

[2020-02-12 18:19] blurry-x-face commented on #1624
I've claimed #1098 :smiley:

[2020-02-12 18:46] blurry-x-face commented on #1033
@jywarren is this issue still open?

[2020-02-13 11:26] HarshKhandeparkar commented on #1624
Hey guys! Please try to claim an issue by the end of this week so that you have at least a week to work on it and we have a week to review it. Also mention about it here.

Thank you!

[2020-02-13 18:11] 28-ys commented on #1527
Hi @blurry-x-face  just check out the link now.

[2020-02-13 22:11] 28-ys commented on #1312
hi   @ananyaarun @SidharthBansal
Can you explain a little bit about what to do?

[2020-02-13 22:24] 28-ys commented on #708
@harshithpabbati  nice idea about making it into a dynamic site.

[2020-02-14 09:41] ataata107 commented on #1624
I will complete #1468 and #1470 as soon as #1571 is merged. I have already opened prs for both the issues but will complete them and try to get them merged.

[2020-02-14 13:12] govindgoel opened #1628 "Offset the back to top button to right"
### Please describe the problem (or idea)

The back to top buton covers the save the image box so it can be shifted to right so that it looks fine

### Please show us where to look

https://beta.sequencer.publiclab.org

![ ](https://media.giphy.com/media/h597u61tu4iCbHBqxP/giphy.gif)

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank you!

Your hel

[2020-02-14 17:23] 28-ys commented on #1527
Hi there,
 @blurry-x-face  please guide me further finding good issues i want contribute.

[2020-02-15 13:59] HarshKhandeparkar commented on #1576
I think I'll work on this for Bug Stomp February.

[2020-02-15 14:04] HarshKhandeparkar commented on #1624
I'll be working on https://github.com/publiclab/image-sequencer/issues/1576 for Bug Stomp February!

[2020-02-15 14:18] HarshKhandeparkar commented on #1576
Hey guys! I think I found out the issue!
![Screenshot from 2020-02-15 19-46-50](https://user-images.githubusercontent.com/34770591/74589538-19cefc80-502c-11ea-9728-2e79d5e2f889.png)

It is mixing up images somehow.

[2020-02-15 14:18] HarshKhandeparkar commented on #1576
The QR image was loaded before loading the flowers.

[2020-02-15 14:19] HarshKhandeparkar commented on #1576
@publiclab/is-reviewers

[2020-02-15 15:45] HarshKhandeparkar commented on #1576
FIXED! Opening a PR soon!
@publiclab/is-reviewers

[2020-02-15 15:50] HarshKhandeparkar commented on #1624
PR Opened! #1629

[2020-02-16 11:27] HarshKhandeparkar commented on #1624
Hi everyone! If you have claimed or are planning to fix a bug, please mark the issue (and PR) with the label "Bug Stomp February" so that we can keep track of everything and possibly archive it.

[2020-02-17 15:26] HarshKhandeparkar opened #1632 "Edge Detect Possibly Glitching on Horizontal Edges"
### Please describe the problem (or idea)
![](https://user-images.githubusercontent.com/42492389/73129618-4041df00-400e-11ea-9eb6-813d8fe2bd74.png)

The image above is an example output of our edge detect module. It is supposed to generate finest possible edges in the non maximum suppression step itself.
But there are many thick horizontal edges (in the square at the corner for example)

### Pleas

[2020-02-17 23:10] ataata107 commented on #1632
Can you share the original image on which edge detection was applied? Thanks

[2020-02-18 11:51] HarshKhandeparkar commented on #1632
The image is on our repo `/examples/images/IS-QR.png`t

[2020-02-18 16:21] 28-ys commented on #1527
Hi guys
@HarshKhandeparkar @harshithpabbati  @blurry-x-face  please help in finding issues mostly all the issues are taken i want contribute and i wanted to do GSOC this year .

[2020-02-18 16:54] blurry-x-face commented on #1527
Try solving issues with label `bug`

[2020-02-18 16:56] HarshKhandeparkar commented on #1527
@28-ys are you interested in contributing to #1624. This will make you comfortable with the codebase and will perhaps give you ideas for SoC.

[2020-02-18 17:46] 28-ys commented on #1527
@blurry-x-face  @HarshKhandeparkar  Thanks!

[2020-02-19 11:10] ataata107 commented on #1632
![edge-detect](https://user-images.githubusercontent.com/32903329/74829035-29a15600-5336-11ea-91e7-e532f7e173b7.png)
This is the output without the blur applied. I guess blurring is causing the thick edges

[2020-02-19 11:29] 28-ys commented on #1623
Hi @blurry-x-face  i want to claim this.

[2020-02-19 17:12] blurry-x-face opened #1633 ""Feature maintainers" groups to collaboratively manage IS"
Similar to the one discussed in  publiclab/plots2#6501 we should have maintainers groups in IS to collaboratively manage different features of IS this would help in maintaining the library more efficiently, Features around which we can develop a team around includes:

- [ ] `core-maintainers`:
**GOALS:** Stability and optimization of the core library.
**CURRENT PRIORITIES**: Fix deprecated librari

[2020-02-20 11:51] HarshKhandeparkar commented on #1633
This is an awesome idea.

[2020-02-20 11:59] HarshKhandeparkar commented on #1632
The vertical edges aren't as thick as before but they are still weird.

[2020-02-20 19:12] 28-ys commented on #1623
Hi @blurry-x-face  i want to work on this if nobody is working on this ?

[2020-02-20 19:14] blurry-x-face commented on #1623
Sure, go ahead!

[2020-02-21 10:48] blurry-x-face commented on #1624
Opened PR #1634 for issues #1033 and #1040

[2020-02-21 10:49] blurry-x-face commented on #1624
Opened PR #1625 for issues #1098 #147 #1030

[2020-02-22 09:40] 28-ys commented on #1623
Hi @blurry-x-face can you please explain the issue ? and what we exactly we need to do ?

[2020-02-22 14:03] HarshKhandeparkar commented on #1623
The `sequencer.steps` array has multiple `step` objects. This is also the step object that is passed on to the `defaultHtmlStepUi` methods like `onSetup` and `onComplete`.

Each step object has an options object that stores the options passed on to the step from the UI. This options object has another  `step` object which is identical to the original `step` object.

So each step object has recursi

[2020-02-22 14:30] 28-ys commented on #1623
@HarshKhandeparkar  thanks! I'll try my best as its my first contribution after fto and I'll fix it.

[2020-02-22 23:37] alti21 commented on #1628
Hi can I work on this?

[2020-03-03 16:51] jywarren commented on #1633
Agreed!

[2020-03-03 22:38] jywarren commented on #1624
Hi all! Getting plugged in again here! I don't have as many hours per week as before but will focus on reviewing and merging these first! Then, will fix a bug myself!!!! Thanks everyone!!! 🎉🎉🎉🎉

[2020-03-09 13:43] HarshKhandeparkar commented on #1633
@jywarren there are many cooked bug fix PRs which have not been merged. And you are very busy I see. Can I get temporary merge permissions to continue with the bug fix event?

[2020-03-17 06:52] Jigyasa-Kumari commented on #1526
Hi, I am Jigyasa, and I am an Outreachy 2020 applicant. Is this issue still open, and can I work on this?

[2020-03-17 09:03] HarshKhandeparkar commented on #1526
Yeah sure. Go ahead.

[2020-04-14 21:07] jywarren commented on #1633
Hi @HarshKhandeparkar it has been really tough to keep up. Do we have a `prioriy` or `urgent` label you can highlight them to me on? And, you can always bump them up to me in https://gitter.im/publiclab/publiclab -- thank you so much! Hope everyone is safe and doing well. ❤️

[2020-04-15 06:47] HarshKhandeparkar commented on #1633
I think almost all PRs are outdated and inactive at this point 😅.

[2020-04-27 16:25] jywarren opened #1665 "Auto-generate testable demos from all pull requests with GitPod.io"
To make testing out new PRs faster and easier, we could integrate with GitPod.io, which auto-builds and hosts a browser-based version. I think, though i'm not sure, that we could do this with IS:

https://www.gitpod.io/

[2020-04-28 09:18] blurry-x-face commented on #1665
I believe this would be amazing integration and would help in better review of the PRs

[2020-04-30 22:52] nisarhassan12 commented on #1665
I volunteer to make a Pr for this.

[2020-05-21 21:39] jywarren commented on #1480
I made this one for creating dithered gradients of different sizes!

https://sequencer.publiclab.org/examples/#steps=rotate{},gradient{},rotate{},dither{dither:Atkinson}

![image](https://user-images.githubusercontent.com/24359/82609182-029f2e00-9b8a-11ea-9a9c-ee79748d7c72.png)

[2020-06-08 09:28] sjbcastro commented on #1623
Hi @28-ys are you still working on this? Was thinking of having a look myself if you weren't looking at it any more. It's been a while since your last comment so I thought maybe you'd moved onto something else, just wanted to double check first.

[2020-06-08 09:42] HarshKhandeparkar commented on #1623
Go ahead if you want :). The last comment is very old.

On Mon, 8 Jun 2020 at 14:58, sjbcastro <notifications@github.com> wrote:

[2020-06-09 09:09] sjbcastro commented on #1623
Cool! I've put in a pull request here: https://github.com/publiclab/image-sequencer/pull/1673

It's my first time contributing to publiclab. I've created a pull request from a fork rather than a feature branch - will this be a problem?

Screenshot below of the resulting behaviour after the fix:

![image](https://user-images.githubusercontent.com/15131402/84128894-1fb47780-aa39-11ea-80fe-6594059f41

[2020-06-09 14:33] HarshKhandeparkar commented on #1623
Awesome! PRs are always opened from forks. Initially, using master branch is not a big issue. Ty :)

[2020-06-23 14:52] dependabot-preview[bot] opened #1675 "Dependabot needs permission to see imgareaselect"
Dependabot couldn't resolve your project's dependencies as it couldn't access [imgareaselect](https://github.com/jywarren/imgareaselect).

You can provide additional git credentials in your [Dependabot dashboard](https://app.dependabot.com/accounts/publiclab) by clicking into the account menu (in the top right) and selecting 'Config variables'. If you use a custom token for the host `github.com` m

[2020-06-24 10:45] #1675 closed

[2020-07-05 21:46] #1665 closed

[2020-07-05 22:43] jywarren opened #1681 "although GitPod is building it is not passing tests (though Travis is, or is at least ignoring failed tests)."
although GitPod is building, it is not passing tests (though Travis is, or is at least ignoring failed tests). See https://github.com/publiclab/image-sequencer/pull/1668 for reference, or:

https://gitpod.io/#https://github.com/publiclab/image-sequencer/pull/1668

![image](https://user-images.githubusercontent.com/24359/86543731-41e1ce00-beef-11ea-83ba-5411690875f3.png)

Also linking to https://gi

[2020-07-05 22:44] jywarren commented on #1633
Hi @HarshKhandeparkar after #1668 perhaps we can get ahead of this again now! It dramatically simplifies the review process. Thank you and hope you're well!

[2020-07-05 22:44] jywarren commented on #1633
though, noting https://github.com/publiclab/image-sequencer/issues/1681 as well...

[2020-07-06 11:39] HarshKhandeparkar opened #1683 "Exposure Bracketing"
### Please describe the problem (or idea)
Exposure bracketing a technique used to create a perfectly exposed image from multiple underexposed and overexposed images. This is one of the ways in which devices such as phones sometimes take HDR images.

inputs:
![image](https://user-images.githubusercontent.com/34770591/86589448-597e8c80-bfab-11ea-92f7-0efddeaf3bd9.png)
![image](https://user-images.gi

[2020-07-07 04:03] jywarren commented on #1683
Ooh -- great idea!

[2020-07-07 06:03] HarshKhandeparkar commented on #1683
This may not be too difficult but will need some research. But before that, we need to merge the Bug Stomp Feb PRs as soon as possible. Very important bugs were fixed.

[2020-07-07 14:15] #1681 closed

[2020-07-07 15:52] #1576 closed

[2020-07-08 05:09] HarshKhandeparkar commented on #1525
This one is open :)

[2020-07-08 06:02] HarshKhandeparkar commented on #1541
Firefox has fixed their issue. If the issue still persists in Safari, please ask for support there.

[2020-07-08 06:02] #1541 closed

[2020-07-08 06:02] HarshKhandeparkar commented on #1211
Firefox fixed their issue.

[2020-07-08 06:02] #1211 closed

[2020-07-08 06:06] HarshKhandeparkar commented on #1393
Anyone who wants to work on this, just start working and open a PR :)

[2020-07-08 06:07] HarshKhandeparkar commented on #1383
This is not really an issue with IS itself. Large files will slow down browsers always.

[2020-07-08 06:07] #1383 closed

[2020-07-08 06:08] HarshKhandeparkar commented on #1370
We can't really fix these issues ourselves.

[2020-07-08 06:08] #1370 closed

[2020-07-08 06:09] #1336 closed

[2020-07-08 06:09] HarshKhandeparkar commented on #1336
This is an npm side and client-specific issue.

[2020-07-08 06:10] HarshKhandeparkar commented on #1319
This is open for anyone now :)

[2020-07-08 16:37] HarshKhandeparkar commented on #1633
It works really well!

[2020-07-10 18:52] jywarren commented on #1211
If you'd like, we could try setting up firefox tests in Jest?

[2020-07-10 18:54] jywarren commented on #1633
Thanks for all the reviews and issue cleanup!

[2020-07-10 21:41] jywarren opened #1692 "Release coordination"
Just an issue to coordinate releases!

Hi @HarshKhandeparkar and @harshithpabbati i believe you two are able to prepare releases for publication on the beta site. Would you like to do so and then I can push to the main sequencer.publiclab.org if all goes well? Thank you!

[2020-07-10 21:44] jywarren commented on #1480
Here's the new color halftone module! It looks really nice! https://github.com/publiclab/image-sequencer/pull/1678

https://github.com/publiclab/image-sequencer/pull/1678

[2020-07-10 22:25] jywarren opened #1694 "adding tests for CLI functionality - brainstorming"
Trying to think through the best way to do better CLI testing. Right now we have only: https://github.com/publiclab/image-sequencer/blob/440c3e0ad0ab081bdcc7dfff0d000f52a0902035/test/core/cli.js which is pretty non-existent.

Noting that we encountered this in https://github.com/publiclab/image-sequencer/issues/659 but did not at that time implement tests.

Ok, so I had thought this was the way to

[2020-07-10 22:26] jywarren commented on #1113
I believe this is now complete, but noting the connection to https://github.com/publiclab/image-sequencer/issues/1694

[2020-07-10 22:26] #1113 closed

[2020-07-10 22:27] jywarren commented on #1113
Also noting #1684 !

[2020-07-10 22:28] jywarren commented on #1694
cc @VibhorCodecianGupta @HarshKhandeparkar @blurry-x-face who've all worked on related parts of this before... hope you're well, just seeing if this seems interesting! Also @publiclab/is-reviewers @publiclab/image-sequencer-guides

[2020-07-10 22:34] jywarren commented on #1692
And if you look at https://github.com/publiclab/image-sequencer/pulse/monthly and https://github.com/publiclab/image-sequencer/blame/main/package.json#L3, it's been 13 months since our last release at `v3.5.1` -- i think it's time to put out a new release! `v3.6.0` perhaps?

[2020-07-10 22:36] jywarren commented on #1692
Honestly it's been the entire previous GSoC with a ton of new features there. We may just want to release a v4, esp since SO much has changed. Many new systems including GPU acceleration, wasm, a ton of new modules, etc.

[2020-07-11 03:12] HarshKhandeparkar commented on #1692
Yeah, I did forget to push in the last few months. Can we set up a GitHub action for this? The script is at https://github.com/HarshKhandeparkar/Update-is

[2020-07-11 03:30] HarshKhandeparkar commented on #1692
Just pushed to beta btw.

[2020-07-11 04:52] HarshKhandeparkar commented on #1692
The current beta is hosted at Harshit's fork, I am the only one who has access as of now. Can bots push to branches?

[2020-07-11 05:03] HarshKhandeparkar commented on #1692
Actually, if publiclab has a spare server, someone could set up a cron job that checks for updates every hour or something and pushes to the beta if something new has been committed.

[2020-07-11 14:56] #1527 closed

[2020-07-11 17:10] jywarren commented on #1692
Well, i wonder if we could just point at the latest GItPod build instead? That's already a working system to build a demo. What do you think?

[2020-07-11 17:19] jywarren commented on #1692
I guess it's already set up to prebuild environments from all branches: https://github.com/publiclab/image-sequencer/blob/main/.gitpod.yml#L12

Ah, cool - so, you just add any Github URL to: `https://gitpod.io/#` - so, https://gitpod.io/#https://github.com/publiclab/image-sequencer/ should build the main branch.

I think that worked? That is basically good enough to use as a "live" beta, no? Is th

[2020-07-11 18:33] HarshKhandeparkar commented on #1692
IG it's good ¯\_(ツ)_/¯. Will it have an editor along with it? It is not the intended way of doing it though... gh-pages are generally preferred because that is how it will be finally deployed.

[2020-07-11 18:36] HarshKhandeparkar commented on #1692
Why do we have a UI? :joy:

[2020-07-11 19:31] HarshKhandeparkar commented on #1692
https://github.com/HarshKhandeparkar/image-sequencer-ui still exists although no one is helping me with it.

[2020-07-12 19:03] jywarren commented on #1692
Thanks Harsh. Now that we have Jest tests for the UI I think we can more readily test `image-sequencer-ui` against the expected behaviors. But, we do need to codify what we expect a UI to be able to do! Does `image-sequencer-ui` have tests or does it match the CSS selectors of our UI tests closely enough that it can pass our Jest tests?

[2020-07-12 19:04] jywarren commented on #1692
And, let's move this convo to another issue so we can focus on release coordination here, is that OK? Thank you! ❤️

[2020-07-12 19:04] jywarren commented on #1692
Speaking of which, I've opened a PR for 3.6.0: https://github.com/publiclab/image-sequencer/pull/1695 🎉

[2020-07-12 19:18] HarshKhandeparkar commented on #1692
Should we have included the February bug stomps too?

[2020-07-12 19:41] jywarren commented on #1369
Noting Apply button test is ready in #1579, and maybe we need to update what still needs tests?

[2020-07-12 19:42] jywarren commented on #1369
One could be - a test of which steps get refreshed when we modify things. To ensure that only those tests that are "after" a change get refreshed; i think i've seen some unnecessary step reruns in manual testing.

Others we could test for?

[2020-07-12 19:47] jywarren commented on #1285
I'm closing this in favor of the now narrowed #1378! Thanks!

[2020-07-12 19:47] #1285 closed

[2020-07-12 19:50] jywarren commented on #1369
Noting a few that've been observed and we should test for in Jest:

* https://github.com/publiclab/image-sequencer/issues/1000#issuecomment-526683755
* https://github.com/publiclab/image-sequencer/issues/1238#issuecomment-527008195 - `Lol, I found a new bug. This is crazy. If you click on the step collapse btn and if you have multiple steps, clicking on the load-image step collapses something tota

[2020-07-12 19:56] jywarren commented on #1238
I'm closing this now, in favor of the great progress we've made in Jest UI tests, and have copied relevant individual bug reports by @HarshKhandeparkar into https://github.com/publiclab/image-sequencer/issues/1369#issuecomment-657267387 for follow-up with specific UI tests. Thanks!

Specifically, the original reported issues were:

* contrast module input is supposed to be a slider, not a text inp

[2020-07-12 19:56] #1238 closed

[2020-07-12 20:01] jywarren commented on #1000
Closing this in favor of #1369 now!

[2020-07-12 20:01] #1000 closed

[2020-07-12 20:14] jywarren commented on #1692
Yes, let's do!

[2020-07-13 06:36] harshithpabbati commented on #1692
Hi @jywarren @HarshKhandeparkar

Regarding beta site I added a github action so that it will update the site for every 6hrs

[2020-08-02 03:53] jywarren commented on #1692
That's awesome @harshithpabbati !!! Can I see the code for it? I wonder if we can modify it to update the main demo upon merging to a specific branch?

[2020-08-02 03:55] jywarren commented on #1692
It's here? https://github.com/harshithpabbati/image-sequencer/blob/main/.github/workflows/upstream.yml

[2020-08-02 07:06] harshithpabbati commented on #1692
Yes @jywarren

[2020-08-04 03:28] jywarren commented on #1692
Great, thank you. What do you think of this? https://github.com/publiclab/image-sequencer/pull/1703

[2020-08-19 08:05] dependabot-preview[bot] opened #1708 "Dependabot needs permission to see imgareaselect"
Dependabot couldn't resolve your project's dependencies as it couldn't access [imgareaselect](https://github.com/jywarren/imgareaselect).

You can provide additional git credentials in your [Dependabot dashboard](https://app.dependabot.com/accounts/publiclab) by clicking into the account menu (in the top right) and selecting 'Config variables'. If you use a custom token for the host `github.com` m

[2020-08-29 02:46] dependabot-preview[bot] opened #1709 "Dependabot needs permission to see imgareaselect"
Dependabot couldn't resolve your project's dependencies as it couldn't access [imgareaselect](https://github.com/jywarren/imgareaselect).

You can provide additional git credentials in your [Dependabot dashboard](https://app.dependabot.com/accounts/publiclab) by clicking into the account menu (in the top right) and selecting 'Config variables'. If you use a custom token for the host `github.com` m

[2020-08-31 09:23] #1709 closed

[2020-08-31 09:40] dependabot-preview[bot] opened #1710 "Dependabot needs permission to see imgareaselect"
Dependabot couldn't resolve your project's dependencies as it couldn't access [imgareaselect](https://github.com/jywarren/imgareaselect).

You can provide additional git credentials in your [Dependabot dashboard](https://app.dependabot.com/accounts/publiclab) by clicking into the account menu (in the top right) and selecting 'Config variables'. If you use a custom token for the host `github.com` m

[2020-09-02 02:14] #1710 closed

[2020-09-03 04:01] dependabot-preview[bot] opened #1711 "Dependabot needs permission to see imgareaselect"
Dependabot couldn't resolve your project's dependencies as it couldn't access [imgareaselect](https://github.com/jywarren/imgareaselect).

You can provide additional git credentials in your [Dependabot dashboard](https://app.dependabot.com/accounts/publiclab) by clicking into the account menu (in the top right) and selecting 'Config variables'. If you use a custom token for the host `github.com` m

[2020-09-03 11:44] bajajvinamr commented on #1531
I would like to work on this issue.

[2020-09-04 04:42] #1711 closed

[2020-09-15 14:33] daemon1024 commented on #1694
@jywarren is it open to work on?

We can do something like
[code]

and run the series of CLI tests on a new commander instance we want. ( Inspiration can be taken from how `commander.js` test there module themselves ( as said in the linked issue ).

[2020-09-15 19:14] HarshKhandeparkar opened #1716 "Hive Computing"
[gpujs-hive-compute](https://github.com/HarshKhandeparkar/gpujs-hive-compute) is a tool that takes a gpu.js kernel (js code run on a gpu, we use it in some of the modules, eg: blur) and distribute the work over multiple GPUs of multiple devices. All we need is a *server* to relay the communication between two devices.

This can be used for:
1) IS hives
2) This thing can connect IS to a server like

[2020-09-15 19:14] HarshKhandeparkar commented on #1716
cc @jywarren

[2020-09-21 20:37] govindgoel commented on #1628
This is fixed

[2020-09-21 20:37] #1628 closed

[2020-09-21 21:52] jywarren commented on #1694
@daemon1024 we'd LOVE help with this. would you be interested in submitting a PR with even a simple version of this?

[2020-09-22 16:51] daemon1024 commented on #1694
@jywarren i will start working on it.

[2020-09-26 10:22] ashirbad29 commented on #1525
I want to work on this issue, how should i proceed?

[2020-09-26 10:30] HarshKhandeparkar commented on #1525
Just follow the steps mentioned in the issue body @ashirbad29 :) If there is any doubt, please ask.

[2020-09-26 12:57] HarshKhandeparkar commented on #1525
In short, as you can see in that code, it tries to *generate* a link to the docs but the link doesn't always exist. Instead of dynamically generating, you can use `step['docs-link']` because all the links have been manually written under that parameter.
Just check if `step['docs-link']` exists, if it does then only show the link.

[2020-09-28 15:48] ashirbad29 commented on #1525
since its a small issue i change the code in the browser, should I need to test the code first by npm-run-test

[2020-09-28 15:54] ashirbad29 commented on #1525
@HarshKhandeparkar please review my PR :)

[2020-09-28 18:20] HarshKhandeparkar commented on #1525
Not really, I don't think that part even has a test.

[2020-09-29 11:53] ashirbad29 commented on #1525
@HarshKhandeparkar I worked on your suggestion and made changes, please review it

[2020-10-01 18:39] jywarren commented on #1633
Ah, thought of a new one -- `cli-maintainers` -- pending the CLI tests in #1694

[2020-10-01 18:39] jywarren commented on #1633
Can folks volunteer for a specific one and we can start creating the CODEOWNERS listing? Thank you all!!!

[2020-10-01 18:53] blurry-x-face commented on #1633
I could help out in maintaining modules and core functionalities, while working on #1564 I had to go through a lot of code related to these

[2020-10-01 19:15] HarshKhandeparkar commented on #1633
definitely module and core! I love cli but idk what changes can be made to it ¯\_(ツ)_/¯

[2020-10-01 22:04] jywarren commented on #1633
Cool, thanks both! I guess we ought to write a line of description of the
"goals" and "priorities" of each. Harsh, for CLI, my thought is not every
feature needs planned changes -- some can be in "maintenance" status,
meaning the maintainers for that feature are primarily ensuring that it
remains stable and undisrupted, and perhaps slowly increasing test coverage
of it. Make sense?

Whereas the "m

[2020-10-06 18:51] jywarren commented on #1633
Awesome, @daemon1024 is working on an initial CLI test suite and is interested in being a feature maintainer for the CLI featureset, whose goal is `maintain existing features and expand test suite`. Awesome!

OK, if we can get some similar descriptions/goals for other featuresets, we can create the initial CODEOWNERS file. Thanks, all!

* [ ] `core-maintainers` - goals: GOALS HERE: @blurry-x-face

[2020-10-06 20:01] HarshKhandeparkar commented on #1633
Should we add this list of goals to the issue body?

[2020-10-06 20:02] HarshKhandeparkar commented on #1633
Anyone here can edit and add the goals.

[2020-10-06 20:04] HarshKhandeparkar commented on #1633
I believe core should be "stability, performance and *future compatibility*". I believe we are just breaking IS further due to backwards compatibility and no one uses old browsers with IS anyway. And also, some parts of IS are anyway not compatible with old browsers and node <10 ig.

[2020-10-06 20:15] jywarren commented on #1633
Oh sorry, so this is a good reason to write these together -- i should clarify - i meant backwards compatibility as in no breaking changes and no adverse effects on existing functions, including core, modules, ui and cli. And yes, we can keep compiling these at the top!