[2019-04-27 18:29] Divy123 commented on #1046
I want to do this for src folder .

[2019-04-27 18:40] Sanscripter commented on #951
Actually I think I managed it. Just made the pull request.

[2019-04-27 18:41] HarshKhandeparkar commented on #1046
Great, we can add JSDOC comments
[code]

[2019-04-27 18:42] HarshKhandeparkar commented on #1046
See PR #1038 for examples

[2019-04-27 18:45] Divy123 commented on #1046
Sure, thanks @HarshKhandeparkar !!

[2019-04-27 21:18] #1010 closed

[2019-04-28 09:12] HarshKhandeparkar commented on #1044
@teisenhower are you going to open a PR?

[2019-04-28 09:20] HarshKhandeparkar commented on #1044
Btw, please don't change the lib file `selectize.default.css` directly. Instead, you can add a rule to `demo.css` and add the `!important`

[2019-04-28 12:27] teisenhower commented on #1044
Hey! I can but I was also going to see if you guys wanted to make this a first timers only issue.

[2019-04-28 13:19] HarshKhandeparkar commented on #1044
You can do that too!
Just open the *file*(single) you want to edit, in the broswer. Make the
changes. It will ask you the new branch name, just prepend `first-timers-`
to the branch name. E.g. `first-timers-selectize-fix`. A new FTO will be
created! Try it!

On Sun 28 Apr, 2019, 5:57 PM Terrence, <notifications@github.com> wrote:

[2019-04-28 13:23] teisenhower commented on #1044
Awesome! I'll be sure to do that as soon as I get home today. Thanks!

[2019-04-28 13:24] HarshKhandeparkar commented on #1044
Great! Thanks a ton!

On Sun 28 Apr, 2019, 6:53 PM Terrence, <notifications@github.com> wrote:

[2019-04-28 17:49] teisenhower commented on #1044
@HarshKhandeparkar Do I need to edit the code in my fork or the main repo? I started doing it on the main repo and it wants me to make a PR. Is that what I should do?

[2019-04-28 17:51] HarshKhandeparkar commented on #1044
Just don't open the PR, the issue will still be created

[2019-04-28 17:51] HarshKhandeparkar commented on #1044
Make it on the main repo.

[2019-04-28 18:10] teisenhower commented on #1044
Sorry for the confusion, it is having me compare the changes between 2 branches, not create a new branch.

![Capture](https://user-images.githubusercontent.com/47988669/56868349-47748780-69bf-11e9-8fad-d40b7dbe5699.PNG)

[2019-04-28 18:16] HarshKhandeparkar commented on #1044
OK, sorry for the trouble:
1. Edit the file here https://github.com/publiclab/image-sequencer/edit/main/examples/demo.css
2. Commit names do not matter, only the branch name does
![Screenshot_2019-04-28 publiclab image-sequencer](https://user-images.githubusercontent.com/34770591/56868385-731f5e00-6a0f-11e9-8dc2-89818e1f542f.png)
See this at the very end of the page? See the `create a new branch`

[2019-04-28 18:24] teisenhower commented on #1044
I do not have that at the bottom of my page. I just have a "propose file change" form. I don't have the option of creating a new branch. I was just looking into this, not sure why I am not seeing that option.

![Capture](https://user-images.githubusercontent.com/47988669/56868443-7ccda500-69c0-11e9-99e1-abfcd481dbee.PNG)

I am getting this alert at the top of that edit page, saying I don't have wr

[2019-04-28 18:25] HarshKhandeparkar commented on #1044
One last thing, try editing the file a little bit?

[2019-04-28 18:26] HarshKhandeparkar commented on #1044
Oh absolutely sorry for the trouble, I thought anybody could do that. Ok I will do that myself, could you please tell me what to change/add?

[2019-04-28 18:42] teisenhower commented on #1044
No worries!! I just wanted to make sure I was doing everything the way you guys need.

## Here are the changes made to the `demo.css` file
### starting at line 105

[code]

### added to end of file

[code]
----
## Then there are some minor class changes to be made in the `index.html` file
These lines are 140-150
- We are adding `justify-content-center` to the row containing the dropdown and add st

[2019-04-28 18:44] HarshKhandeparkar commented on #1044
Ok thanks a lot.

[2019-04-28 18:46] teisenhower commented on #1044
Not a problem! Happy to help the project and give someone else the opportunity to contribute.

[2019-04-28 18:46] first-timers[bot] opened #1049 "Fix Dropdown Width"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-04-28 19:01] HarshKhandeparkar commented on #1044
Done #1049

[2019-04-28 19:01] #1044 closed

[2019-04-28 21:20] Divy123 commented on #1042
@jywarren I think only you can add code-climate to the repo. Please do this.
https://docs.codeclimate.com/docs/my-repository-isnt-listed-when-i-try-to-add-it-to-code-climate#section-open-source-repositories
I can contribute once you add it with handling various tasks further.
Thanks!!

[2019-04-29 14:06] jywarren commented on #1042
Oh hm, it is added here:
https://codeclimate.com/github/publiclab/image-sequencer

maybe i need to turn on the integrations... will try!

On Sun, Apr 28, 2019 at 5:21 PM Slytherin <notifications@github.com> wrote:

[2019-04-29 18:57] Divy123 commented on #1042
@jywarren its done!!
I think we can close the issue..

[2019-04-29 19:00] #1042 closed

[2019-04-29 19:00] #951 closed

[2019-04-30 02:20] CBStanley12 commented on #1049
Claimed!

[2019-04-30 18:05] jywarren commented on #1032
Trying 2 things:

1. i switched the function to Node 10 just to see
2. i cloned it to `is-function-edge` and pointed it at the branch #1031, to see if those options work

[2019-04-30 18:07] jywarren commented on #1032
But we are still seeing the settings parsing error, so i removed the options string from webgl, and let it run on defaults... `https://us-central1-public-lab.cloudfunctions.net/is-function-edge/api/v1/process/?steps=[{%22id%22:1,%22input%22:%22https://publiclab.org/i/31655.jpg%22,%22steps%22:%22webgl-distort%22}]`

[2019-04-30 18:08] jywarren commented on #1032
On the edge one pointed at #1031, i still get:

[code]

[2019-04-30 18:09] jywarren commented on #1032
Ooh, actually that's different: `Running as root without --no-sandbox is not supported.` -- i'll try the second flag and remove `--no-sandbox` for now

[2019-04-30 18:39] jywarren commented on #1032
Erg, meant the reverse. I'll try with `--no-sandbox` now.

Update: OoOOOOooooOO! This is looking promising!

[code]

I think we need to build this and merge it, and then puppeteer will use the dist file!!!

[2019-04-30 18:42] jywarren commented on #1032
trying this.

[2019-04-30 18:43] jywarren commented on #1021
#1022 !!

[2019-04-30 18:43] #1021 closed

[2019-04-30 19:15] jywarren commented on #1032
I think this is, technically, running. but it's timing out:

[code]

[2019-04-30 19:37] jywarren commented on #1032
OK, well -- with a small image, this works!!!

`https://us-central1-public-lab.cloudfunctions.net/is-function-edge/api/v1/process/?steps=[{%22id%22:1,%22input%22:%22https://i.publiclab.org/system/images/photos/000/000/354/thumb/Boots-ground-02.png%22,%22steps%22:%22webgl-distort%22}]`

Input:

![](https://i.publiclab.org/system/images/photos/000/000/354/thumb/Boots-ground-02.png)

Output:

![image

[2019-04-30 20:00] jywarren commented on #1032
And with two images, i'm seeing `SyntaxError: Unexpected end of JSON input at JSON.parse (<anonymous>) at exports.multiSequencer (/srv/index.js:13:22)` -- it seems to be having trouble parsing the comma without a newline here:

`https://us-central1-public-lab.cloudfunctions.net/is-function-edge/api/v1/process/?steps=[{"id":1,"input":"https://i.publiclab.org/i/31778.png","steps":"webgl-distort"},{"

[2019-04-30 20:05] jywarren commented on #1032
Strange, because when i copy paste it into here, it's valid JSON: https://duckduckgo.com/?q=json+validator&atb=v121-6&ia=answer

[2019-04-30 20:06] jywarren commented on #1032
And:

[code]

[2019-04-30 20:10] jywarren commented on #1032
Oh, hm, i'm running it with this now and it doesn't seem to be having the same JSON parse error:

https://us-central1-public-lab.cloudfunctions.net/is-function-edge/api/v1/process/?steps=[{%22id%22:1,%22input%22:%22https://i.publiclab.org/i/31778.png%22,%22steps%22:%22webgl-distort%22},{%22id%22:2,%22input%22:%22https://i.publiclab.org/i/31778.png%22,%22steps%22:%22webgl-distort%22}]

[2019-04-30 20:15] jywarren commented on #1032
It's not completing... but no errors yet...

anyways, next step would be to try to pull in the output of one sequencer into the other, with a sequence like: `import-image{url:https://i.publiclab.org/i/31778.png},overlay{x:10|y:20}`

[2019-04-30 20:21] jywarren commented on #1032
Closing this puppeteer issue and moving back to https://github.com/publiclab/image-sequencer-app/issues/6 !

[2019-04-30 20:21] #1032 closed

[2019-05-02 16:53] #849 closed

[2019-05-02 16:53] #260 closed

[2019-05-02 16:53] #998 closed

[2019-05-02 16:57] VibhorCodecianGupta commented on #1029
@jywarren agreed. So this is first a documentation issue and then perhaps a refactoring issue if need be. I'll get on to it in some time, have been caught up due to my exams coming up 😅 I also made some suggestions to your concerns in my proposal, if you could have a look here
https://publiclab.org/notes/vibhordelgupta/04-09-2019/soc-proposal-image-sequencer-broadening-avenues?_=1555858027

[2019-05-04 14:00] tech4GT opened #1059 "Trying separable filters for better performance"
So, I had this idea that if we can modify pixel manipulation api to support separable filters, then we can speed up our performance for stuff like edge detection quite a bit.
Since that takes us from from O(n^2) to O(2*n) or simply O(n).
Or another fast way to speed up convolution can be fourier transform?
Just brainstorming here.

@jywarren thoughts

[2019-05-04 14:08] tech4GT commented on #1059
Also, I am aware that we are currently using pretty small filters so this wont make a huge difference but in case that we want to use larger filters in the future this might be a nice upgrade overall! :D

[2019-05-04 15:14] HarshKhandeparkar commented on #1059
@tech4GT yes! We have 5x5 Gaussian filter which is separabale. Everything is GPU accelerated. We olnly need to change `src/modules/_nomodule/gpuUtils.js` to support separable filters.

[2019-05-04 15:21] tech4GT commented on #1059
Great! I suppose we can even generalize the gaussian! This might be a good idea for summer.

[2019-05-04 15:23] HarshKhandeparkar commented on #1059
We should also work on 5x5 general purpose convolution module.

On Sat 4 May, 2019, 8:52 PM Varun Gupta, <notifications@github.com> wrote:

[2019-05-04 18:36] Divy123 commented on #1046
@jywarren @tech4GT would love to listen from you upon this.

[2019-05-08 16:00] tech4GT commented on #1040
Looking into this now!

[2019-05-08 16:01] tech4GT commented on #1040
@VibhorCodecianGupta Anything you would like to add here?

[2019-05-08 16:19] tech4GT commented on #1040
@jywarren I am seeing this error, do you think this can be linked?
<img width="664" alt="Screen Shot 2019-05-08 at 9 48 47 PM" src="https://user-images.githubusercontent.com/25617855/57390975-21c75980-71db-11e9-882d-b784860740d0.png">

[2019-05-08 16:34] tech4GT commented on #1040
Looks like I found one of the issues @publiclab/is-reviewers
The name of fisheye-gl module is being used as "fisheye gl" which is why adding fisheye gl causes an error!

[2019-05-08 16:35] HarshKhandeparkar commented on #1040
The website doesn't even work. Try the latest example website locally. It
doesn't work. Adding modules throws an error.

On Wed 8 May, 2019, 10:04 PM Varun Gupta, <notifications@github.com> wrote:

[2019-05-08 16:36] tech4GT commented on #1040
Okay this is not specific to fisheye gl
<img width="664" alt="Screen Shot 2019-05-08 at 10 05 33 PM" src="https://user-images.githubusercontent.com/25617855/57392055-6e139900-71dd-11e9-8128-3c3a83a681e7.png">
cc @jywarren

[2019-05-08 16:36] tech4GT commented on #1040
Yeah I am trying to isolate the error!

[2019-05-08 16:36] tech4GT commented on #1040
@HarshKhandeparkar I think we might have to roll back a few commits here the problem appears to be deep rooted.

[2019-05-08 16:37] tech4GT commented on #1040
I'll try to figure out which commit added this code.

[2019-05-08 16:38] HarshKhandeparkar commented on #1040
I think @teisenhower had tried to rearrange the module names. That is maybe when the error started?

[2019-05-08 16:38] HarshKhandeparkar commented on #1040
I think @teisenhower had tried to rearrange the module names. That is maybe when the error started?

[2019-05-08 16:39] HarshKhandeparkar commented on #1040
This only happens in the demo though. CLI works. This is a BIG issue. Also urlHash works, so it is only the selector that is broken.

[2019-05-08 16:40] tech4GT commented on #1040
Okay, a lot of code has been pushed in since then I think. I'll open a new issue for this then.

[2019-05-08 16:42] tech4GT opened #1061 "Module names are incorrectly used in HTML step selector in demo"
The module names while adding them in the demo are wrong, they appear with spaces like "webgl-distort" appears as "webgl distort"
This is causing a critical failure  of the demo. (in the main branch -- @jywarren)

=====@HarshKhandeparkar=====
#### Update: this has been fixed by replacing the spaces with hyphens for now but a better, thorough fix would be better

Possible solution:
1. Modules have

[2019-05-08 16:42] HarshKhandeparkar commented on #1040
:+1:Ok

[2019-05-08 16:42] tech4GT commented on #1040
Harsh do you have any insight on the parsing error here?

[2019-05-08 16:43] tech4GT commented on #1040
I am trying to replicate it locally.

[2019-05-08 16:46] HarshKhandeparkar commented on #1040
We really need to refactor our UI code. It is extremely messy and
unreadable. Is there any SoC proposal which mentions such a thing?

On Wed 8 May, 2019, 10:13 PM Varun Gupta, <notifications@github.com> wrote:

[2019-05-08 16:47] tech4GT commented on #1040
I'm not really involved with soc so I'm not sure, sorry.

[2019-05-08 17:18] HarshKhandeparkar commented on #1040
Np

On Wed 8 May, 2019, 10:17 PM Varun Gupta, <notifications@github.com> wrote:

[2019-05-08 17:49] HarshKhandeparkar commented on #1061
@tech4GT I was trying to edit the issue body and remove the space. I did this from this phone app and unfortunately it adds the footer text.

[2019-05-08 22:54] jywarren commented on #1040
Hi folks, this issue is quite long now so there are plenty of questions or topics that may need to be broken out into their own so we can follow up with them. I'll focus on the debugging of the parsing error with `|` characters.

I don't think that's it, but it could be - do you think the pipe character is in some way being read as a Linux pipe? But the error is not showing breaking on the pipe, i

[2019-05-08 22:55] jywarren commented on #1040
Noting that we published to gh-pages on April 9th, but the commit by `teisenhower` you're mentioning was April 7th. So it seems unlikely or these errors would be appearing on the online demo right now.

[2019-05-08 23:05] teisenhower commented on #1040
Hey all

Sorry I'm just now seeing this.

Not sure if this will help or not but when I worked on that previous dropdown issue I didn't rearrange things to alphabetical order.

Please let me know if there is anything I can do to help with this.

Thanks!

[2019-05-08 23:26] jywarren commented on #1040
Thanks Terrence! Sorry, I think it is unrelated to your code, so no
worries! We're just tracking a tough bug and working through all the
possibilities. Thanks so much!

On Wed, May 8, 2019, 7:06 PM Terrence <notifications@github.com> wrote:

[2019-05-09 04:16] HarshKhandeparkar commented on #1040
Sorry @teisenhower.

[2019-05-09 09:54] shivam123425 commented on #1034
Hey i would like to work on this! Is it still available?

[2019-05-09 11:12] teisenhower commented on #1040
@jywarren No problem!

@HarshKhandeparkar No worries! Just wanted to make sure I could help if possible. Thanks!

[2019-05-11 14:39] #1039 closed

[2019-05-11 14:41] jywarren commented on #1040
Hi @harshkhandeparkar, I agree with refactoring UI code, but a) let's address in a separate issue, and b) expanded UI tests would be a great first step before potentially breaking UI functionality, what do you think?

[2019-05-11 14:43] jywarren commented on #1040
https://codecov.io/gh/publiclab/image-sequencer/tree/main/examples/lib

[2019-05-13 19:37] Divy123 opened #1065 "Weekly Community Check-In #22 - "What was your Eureka moment?""
Hi everybody :smiley: !

We all at Public Lab :balloon: - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past we

[2019-05-13 21:14] gauravano commented on #1065
Nice theme @Divy123 :+1: ! I have removed the list of past check-ins, as we have started maintaining the list - https://github.com/publiclab/plots2/issues/5627. Thanks!

[2019-05-13 21:14] gauravano commented on #1065
@mohitRJranjan @milaaraujo @kevinzluo @Rishabh570 @sashadev-sky @geekychaser @shubhscoder @sidntrivedi012 @SidharthBansal @cesswairimu @stefannibrasil @ViditChitkara @tech4GT @mridulnagpal @IshaGupta18 @CoderJolly @namangupta01 @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @icarito @steviepubliclab, @ebarry, @jywarren, @sagarpreet-chadha, @JonathanXu1, @uzorjchibuzor, @eli6, @re

[2019-05-13 21:15] gauravano commented on #1065
@marieram @swiatek7 @gauravano @publiclab/reviewers @publiclab/is-reviewers @publiclab/community-reps

@subhahu123 @An0u @Jaya738 @mgroovyank @shreyateeza @TANGL3SIT3S @nazeem1988 @karunagoyalk @Nirvikalpa108 @cassianoblonski @EngrEric @Anjalizi @GettyOrawo @coderbeetle @corbettbw @govindjeevan @gautamig54 @daddyjab @emestabillo @letnewKid @srujana121 @jazdao @ChinwenduSilvia @aggarwal19 @Jennilin

[2019-05-13 21:18] gauravano commented on #1065
@Priyak5 @vaarigupta @techchic @ananya @hc-barker @edwd42 @PritiShaw @themonster2015 @supriya-kotturu @AnthoniaOkafor @jtmims @scheleon @mahmodHammad @santushk @jillpena @stoic-plus @starkblaze01 @aSquare14 @vaarigupta @alonpeer @madeofhuman @ibnjunaid @HarshKhandeparkar @aashna27 @Harshithpabbati @niravasher @mmmelissa

[2019-05-13 21:21] gauravano commented on #1065
@rarrunategu1 @daz @UNnamed66 @GauravJ3 @Greg-Tarr @Sanscripter @hodbadger

[2019-05-14 01:09] mcawley commented on #1065
Hello Public Lab community! I am a newcomer, and was very happy to hear about these check ins! Full disclosure, I recently became the Interim Executive Director for OpenStreetMap US. I am hoping to build relationships with other open communities like yours and seeking ways to improve community relations & support for new mappers in OSM. Thanks for providing a welcoming space!

[2019-05-14 02:27] alaxalves commented on #1065
Hello PublicLab team, I am from Brazil, not a newcomer but I have been contributing to PublicLab since around March, I have been selected this summer for Gsoc program to help on the Mapknitter rails upgrades. My Eureka moment was when I started workin past winter with Quasar framework having near zero experience with components architecture :smile: :smile: . But in the end I got the train rolling

[2019-05-14 19:41] Divy123 commented on #1065
Thanks a lot @gauravano for mentioning the contributors here!!

[2019-05-15 05:06] sashadev-sky commented on #1065
Hi! PL is where I made my first PR ever so I have definitely had so many eureka moments. A big one for me was learning about staging infrastructure and testing. Specifically, that you can test changes in a staged production environment by pushing to the `unstable` branch. This was really my first step towards understanding what goes on beyond the local environment we all set up.

7 months after my

[2019-05-15 12:38] divyabaid16 commented on #1065
Hello everyone!
Nice theme @Divy123 :smile:
My eureka moment was when I had written my first test at Public lab. Before that, I was unaware of how the unit or functional tests are written. I studied about it, asked for help and finally completed my PR. I was so happy when my PR got merged. I really learned an important aspect of development. I learned that tests can be a significant way to learn a

[2019-05-15 22:51] jywarren commented on #1065
My eureka moment, maybe some of you can guess -- when I created my first `first-timers-only` issue, and... someone showed up and solved it! I was stunned! It was so fast! ❤️ 😄 💯

I also ❤️ hearing about people learning about testing. I used to hate tests! Can you imagine!??! Now I love them! 😛

[2019-05-16 02:20] tech4GT commented on #1065
I guess mine was when I wrote up the edge detection module here. I had never formally learned Image processing before so it was basically me reading articles all over the internet. Now, 2 and half years later and having taken 2 courses on Image processing at my university, it's hands down my favourite area of work. 😄

[2019-05-17 08:04] niravasher commented on #1065
Hello everyone, I don't have any Eureka moment with me but this week I'll fix my previous work that were remaining. Few modules I dealt with before that weren't merged due to merge conflicts. Will try to resolve them.

[2019-05-17 11:08] tech4GT commented on #1033
Okay is this still failing @VibhorCodecianGupta
Do you need help here??

[2019-05-17 12:02] gauravano commented on #1065
Hi everyone, my eureka moment was -- when I wrote my first test and API for plots2. Another moment was the success of https://github.com/publiclab/plots2/issues/4963 :smile: :tada:

[2019-05-17 16:31] sashadev-sky commented on #1065
@gauravano best idea 2019

[2019-05-17 16:39] skilfullycurled commented on #1065
I'm new enough to not have had a particularly interesting "eureka" moment.  This is sort of a half eureka moment because while I did discover the problem, I still don't understand why it's a problem.

In my FTO, my tests kept failing because there was white space.  I was using the "edit in browser" method and this occurred no matter how I made the change whether I was copy and pasting the code I w

[2019-05-17 16:41] SidharthBansal commented on #1065
My eureka movement was when I wrote my first test. It was really hard initially. Now they seem to be just the flow of events.

[2019-05-17 16:48] SidharthBansal commented on #1065
Hi @publiclab/soc you all are invited to take part in these discussions. We really love to have your views folks.
Also, in these check-in issues, all the SoC students are requested to post the following
* FTOs created last week by you
* Progress for your project
* Upcoming week Goals for you
* PR reviews last week
* What things you did collaboratively last week? This is really important we want te

[2019-05-17 17:31] Divy123 opened #1068 "Add WASM acceleration to PixelManipulation code"
### Please describe the problem (or idea)
This issue aims to convert existing pixelManipulation.js code to WASM.

This will lead to an increased performance.
### Please show us where to look

https://beta.sequencer.publiclab.org

### What's your PublicLab.org username?
lit2017001

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

T

[2019-05-17 17:35] Divy123 opened #1069 "Implementing web workers for multithreading pixelManipulation.js"
### Please describe the problem (or idea)
Implementing web workers with threads.js

### Please show us where to look

https://beta.sequencer.publiclab.org

### What's your PublicLab.org username?
lit2017001

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they

[2019-05-17 17:38] Divy123 opened #1070 "Adding minify-image module"
### Please describe the problem (or idea)
This issue adds minify-image module to sequencer.

### Please show us where to look

https://beta.sequencer.publiclab.org

### What's your PublicLab.org username?
lit2017001

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the cha

[2019-05-17 18:07] gauravano commented on #1065
Hey @skilfullycurled, I will consider it a eureka moment as your first PR was really great. Normally, we don't expect to see a feature implemented in FTO PR :smile:. Feel free to drop the link to the space issue you faced.

Nice ideas @SidharthBansal :tada: :100: !

Thanks!

[2019-05-17 18:31] konolga commented on #842
Hi, please add me to the FTO list.

[2019-05-17 18:35] Harshithpabbati commented on #842
@konolga added your name. You will be assigned with an issue.
Thanks

[2019-05-17 19:36] skilfullycurled commented on #1065
Thanks @gauravano.  I have to credit @jywarren for writing a really good FTO which allowed me to focus on those areas, and it probably helped that I was familiar with MVC.  Still, that's great feedback, you never know what's normal!

The issue I was referring to is [here](https://github.com/publiclab/plots2/pull/5459/commits/d3b03302f578e192ab065a7852b221bd2a912e13) and the version of what finally

[2019-05-18 10:50] gauravano commented on #1065
Hey @skilfullycurled,  that was the codeclimate error. We use Travis for testing PRs. Codeclimate looks for sanitization, syntax, spacing issues, etc. Sometimes, it's really irritating and so we merge PRs(many times) without the codeclimate test pass.

![Screenshot from 2019-05-18 16-12-29](https://user-images.githubusercontent.com/20878070/57968442-4912e900-7988-11e9-860e-696897a90b38.png)

Also,

[2019-05-19 01:03] alaxalves commented on #1065
This week I have opened the following issues: https://github.com/publiclab/mapknitter/issues/594, https://github.com/publiclab/mapknitter/issues/598, https://github.com/publiclab/mapknitter/issues/599, https://github.com/publiclab/mapknitter/issues/600, https://github.com/publiclab/mapknitter/issues/601, https://github.com/publiclab/mapknitter/issues/602, https://github.com/publiclab/mapknitter/is

[2019-05-19 07:13] SidharthBansal commented on #1065
Please use markdown text in the comments too so that it will look pretty good
Like have headings, use italics, underline bold emoticons etc

[2019-05-19 13:02] CleverFool77 commented on #1065
Hi This is Lekhika.
This week I've made following issues :
**Planning Isssues**
https://github.com/publiclab/plots2/issues/5733
https://github.com/publiclab/plots2/issues/5708
https://github.com/publiclab/plots2/issues/5707

**Fto-candicate Issue**
https://github.com/publiclab/plots2/issues/5693

**Other Issue**
https://github.com/publiclab/plots2/issues/5741

I created the project for upcoming Su

[2019-05-19 13:08] IshaGupta18 commented on #1065
Hey Everyone!
Since my GSoC project is a standalone project that will be integrated later
with the main site, right now me and @namangupta01 are working on
https://github.com/publiclab/simple-data-grapher. When we ready with the
project's basic functioning, we will be integrating it with plots2!
Everyone is welcome to have a look and give their feedback on this repo!
Thanks a lot.

On Sun, May 19,

[2019-05-19 18:43] gautamig54 commented on #1065
Hello all! I am Gautami Gupta.
I wasn't active in the last week due to certain emergencies. But now I am all good to start my SoC journey.
I am collaborating with @CleverFool77 on UI implementation project. She has given a wonderful start to the project. We have started the planning of certain pages and ready to implement them.
I will also be working on Notification System with @namangupta01. We h

[2019-05-19 20:11] ananyaarun commented on #1065
Hi everyone !!
I am Ananya Arun an outreachy intern with public lab.
I am finally free now and ready to start my SoC journey :smiley:
I will be working on the project Extend leaflet environmental layers.
LEL a new library, is rapidly seeing many new layers, and this project aims to add some additional structure to help make the display/management of this map data smoother.
Here is it's planning is

[2019-05-19 23:44] gauravano commented on #1065
Hi @alaxalves @kaustubh-nair, great start :muscle: :tada:.

@CleverFool77 and @gautamig54, great to see your progress and as your project will very much depend on feedback from @publiclab/community-reps so want to let you know that things might get slow sometimes over the weekend so consider having all your doubts resolved in weekdays if you like working over the weekend.

@IshaGupta18 @namangupta

[2019-05-19 23:48] gauravano commented on #1065
Hi @aashna27, you showed interest in opening weekly check-in some time ago, if you're still interested, then please go ahead or let us know if you're busy.

Also, as we have started a little late on the Project update part so please open the new check-in on Tuesday evening. Thanks!

[2019-05-20 04:02] sashadev-sky commented on #1065
@SidharthBansal @gauravano I could be imagining this, but somewhere we posted a template and told GSoC students to use it as a saved reply for progress check-ins right?

[2019-05-20 05:31] sagarpreet-chadha commented on #1065
⭐️  My first eureka moment was when i was searching for open-source communities back in 2017 and founded - **PublicLab** ❣️

⭐️ There are tons of other eureka moments for me --- especially in LEL , LBLD projects where some issues required weeks of detective work 🔍 .

Hey @aashna27 , if interested you can open the new weekly check-in in this project : https://github.com/publiclab/leaflet-blurred-lo

[2019-05-20 13:38] gauravano commented on #1065
TBH @sashadev-sky I don't remember if we finalized a template for check-in progress for SoC interns. But, we can surely use it if there's any. I am still going through my mailbox and maybe find that. If you want we can open an issue and hold discussion over the message template and take @SidharthBansal's list as a start?

Thanks!

[2019-05-22 14:18] sagarpreet-chadha opened #1072 "Setup issue (related to npm)"
### Please describe the problem (or idea)

I followed the instructions in the Readme , i initially had a higher verion of Node so ,

- i installed **n** - package manager and downloaded version  **v0.8.12** .

- Next i ran `npm run setup` and got following error :

<img width="652" alt="Screenshot 2019-05-22 at 7 47 14 PM" src="https://user-images.githubusercontent.com/14952645/58181984-6b7b6e00-7

[2019-05-22 16:03] tech4GT commented on #1072
Hmm, this looks like an issue with your node, since the command did not get translated to `npm i && npm i -g grunt grunt-cli && grunt build`
try using node via nvm, maybe that'll help.

[2019-05-22 16:05] HarshKhandeparkar commented on #1072
Try `npm install -g npm`. Maybe it is a version problem. Also, nodejs v6 support is dropped.

[2019-05-22 16:06] HarshKhandeparkar commented on #1072
And why is the npm version less than v1? (Pre-release)?

[2019-05-22 16:06] HarshKhandeparkar commented on #1072
Or is it a typo?

[2019-05-22 16:07] HarshKhandeparkar commented on #1072
Best way might be to update all global dependencies

[2019-05-22 16:08] HarshKhandeparkar commented on #1072
To v8 because it is a global dependency problem and not local. Another thing you can try is to delete `/usr/local/bin/lib/node_modules/` because the dependencies might be made for node v > 8 and you now have degraded the version

[2019-05-22 21:39] jywarren commented on #1065
Hi, all! I just posted a draft Software Roadmap, which I'd love input on! https://publiclab.org/notes/warren/05-22-2019/draft-of-a-public-lab-software-roadmap-comments-welcome :raised_hands:

[2019-05-22 21:40] jywarren commented on #1065
@publiclab/soc @publiclab/reviewers especially!

[2019-05-23 18:49] jywarren opened #1075 "issue installing gl package on arm"
I use Ubuntu on an ARM Chromebook and got this error on trying to run `npm install` (to release a new version):

[code]

Any advice? I'm looking at https://www.npmjs.com/package/gl

[2019-05-23 18:51] jywarren commented on #1075
Hmm people have been able to on a Raspberry Pi, which is also ARM: https://github.com/stackgl/headless-gl/issues/22

[2019-05-23 18:57] jywarren commented on #1075
Oooh https://github.com/yarnpkg/yarn/issues/1987

[2019-05-23 18:58] jywarren commented on #1075
Aha - https://github.com/stackgl/headless-gl#ubuntudebian

we should include this in our docs, for those running non-standard systems... it's required to build the `gl` module!

[2019-05-23 19:10] HarshKhandeparkar commented on #1075
@jywarren `sudo apt install libxi-dev` will fix this.

[2019-05-23 19:14] jywarren commented on #1075
Yes! I found in the headless-gl docs:

`sudo apt-get install -y build-essential libxi-dev libglu1-mesa-dev libglew-dev pkg-config`

Closing, and will add to a README file. Thanks!

[2019-05-23 19:14] #1075 closed

[2019-05-23 19:15] HarshKhandeparkar commented on #1075
It is run in our travis file. Also other things are installed. See the `.travis.yml`

[2019-05-23 19:18] HarshKhandeparkar commented on #1075
@jywarren it is not just for ARM, this can occur for any device. Mostly, fully operational OSes for desktop like Ubuntu and Linux mint will not have any probs as they have graphics drivers but devices without a GPU out of the box can have problems.

[2019-05-24 19:04] steviepubliclab commented on #1065
Hi all!! There's a post on Public Lab I'd love to get some of your feedback and ideas on. I think a lot of your experience here in the coding community in helping to onboard newcomers, organizing information, and keep materials up to date would be really valuable in this conversation! Please share!

https://publiclab.org/notes/stevie/05-23-2019/thinking-through-research-area-reviews

[2019-05-25 09:52] #1025 closed

[2019-05-25 15:04] rexagod commented on #1065
Hi all! 👋

I've been a bit out-of-the-loop and lagging due to my finals recently but they are over now, so I guess with some assistance from @sashadev-sky (thank you!) I should probably be up to speed in no time.

Also, since everyone is here I'd love to pitch this new CLI tool (link below) I started working on last night that'll seamlessly integrate with `matcher.js` (my GSoC project) wherever it

[2019-05-25 15:06] jywarren commented on #1061
Hi, I wasn't able to reproduce this, I found this to work correctly:

https://sequencer.publiclab.org/examples/#steps=webgl-distort{}

Can you clarify? Thanks!

[2019-05-25 15:07] tech4GT commented on #1061
@jywarren I think we already have a pr for this. #1073

[2019-05-25 15:07] HarshKhandeparkar commented on #1061
urlHash works but the selector doesn't

[2019-05-25 15:09] jywarren commented on #1061
A gif of the issue would be great. And eventually a UI test!

[2019-05-25 15:09] jywarren commented on #1061
No, I used the selector in the page to get this url, and it worked there too.

[2019-05-25 15:11] HarshKhandeparkar commented on #1061
Uh, it didn't work for me before, and even Nirav told me that it didn't
work. Was a PR merged? Are you on the latest branch?

On Sat 25 May, 2019, 8:39 PM Jeffrey Warren, <notifications@github.com>
wrote:

[2019-05-25 15:17] jywarren commented on #605
Hi all, regarding cache, we don't have an easy way to tell if it's being used, when it was updated, or what version we're using in the demo. I think we should consider turning caching off until we can address these as they may be preventing us from diagnosing and detecting these kinds of issues:

https://github.com/publiclab/image-sequencer/issues/1061

[2019-05-25 15:35] jywarren commented on #605
I've updated the issue above to highlight our main problems and added a few more steps that could be broken out.

[2019-05-25 15:35] HarshKhandeparkar commented on #605
@jywarren I think we can do something in the long term to improve the service worker, we can build it dynamically using maybe browserify or something. We can keep the code separately and maybe make a grunt task to compile it.

[2019-05-25 15:38] jywarren commented on #1061
Hi @HarshKhandeparkar i know you said you're copying in all the relevant documentation for this bug, but in the meantime I am following the exact steps laid out in the chatroom and was able to reproduce this on the main branch in the demo, running locally:

![image](https://user-images.githubusercontent.com/24359/58371705-aacfd780-7ee1-11e9-994b-ce5022ddba02.png)

[2019-05-25 15:41] jywarren commented on #1061
Exact issue for reproducing:

There is an issue with the step selection UI on the latest main branch, but not in the gh-pages demo, with modules that include spaces in their names?

To reproduce, the demo can be run locally from the latest main branch, using the "webgl-distort" module

The PR at #1073 substitutes hyphens for spaces (as a quick fix), and @HarshKhandeparkar will be copying in sugges

[2019-05-25 15:47] jywarren commented on #1061
I'd also like to recommend a test for this behavior so we can be sure it doesn't happen in the future! Thanks!

[2019-05-25 15:51] SidharthBansal commented on #1065
Ashna please open the new check in. Just a reminder.
@publiclab/soc there are some students who haven't participated in this weekly checkin. Please tell us your progress each week. It is much better to have collaborative workplace here at PL

[2019-05-25 15:53] SidharthBansal commented on #1065
@sashadev-sky that would be great. Students are encouraged to use the saved replies feature.

[2019-05-25 15:57] SidharthBansal commented on #1065
I really loved your idea.

@gauravano @sashadev-sky  no need to create an issue and template. We want to see the students creativity in writing posts. There is no fixed format. Students can do it as they wish to. This will help students to do introduce new things in the checkins which we will be able to learn. In case, we will give them a template then everyone will do things in same way. We want

[2019-05-25 15:59] jywarren commented on #299
I'm going to close this now, as it's working, including in Node! https://github.com/publiclab/image-sequencer/issues/216 #1021

[2019-05-25 15:59] #299 closed

[2019-05-25 16:01] jywarren commented on #1061
Also, published `v3.3.3`!

[2019-05-25 16:04] HarshKhandeparkar commented on #1061
@jywarren suggestions copied in the issue body itself.

[2019-05-25 18:03] gauravano commented on #1065
Actually, I think, @aashna27 might have missed the notification so if anybody else wants to open new check-in let us know. Thanks!

Regarding template, ok, let's not give saved reply but let's consider making a list of things we want to know every week from interns @SidharthBansal?

- Feel free to tell us about your absence too, if you're taking a break.
- Issue/PR you're struggling with (if any)

[2019-05-25 18:32] sashadev-sky commented on #1065
@gauravano @SidharthBansal ok sounds good! How about adding @gauravano bullet point list above as a check-in section to remind people what to address?

[2019-05-25 21:22] gauravano commented on #1065
Yes, let's do that. Maybe we can give heading as "Summer of Code progress
update"

On Sun 26 May, 2019, 12:02 AM Sasha Boginsky, <notifications@github.com>
wrote:

[2019-05-26 11:18] aashna27 commented on #1065
Hey! I am sorry I missed through the notifications, was a little busy with some system repairs but I am here now and I volunteer to open the next check-in.

[2019-05-26 11:44] aashna27 commented on #1065
Hey @gauravano so I have to open the check-in on tuesday right?

[2019-05-26 11:46] aashna27 commented on #1065
yeahh sure thanks for suggesting !! :smile:

[2019-05-26 12:53] gauravano commented on #1065
Hi @aashna27, no issues. Actually, it was for the previous Tuesday. Please open check-in by tomorrow. Thanks!

[2019-05-26 19:38] gauravano commented on #1065
Hi everyone, new check-in is open at https://github.com/publiclab/leaflet-blurred-location-display/issues/78. Thanks, @aashna27 for the great theme :smiley:.

[2019-05-26 19:38] #1065 closed

[2019-05-26 20:37] aashna27 commented on #1065
Yayyy!! Thanks a lot :tada:

[2019-05-26 23:09] sashadev-sky commented on #1065
@gauravano do you have the ability to edit issue descriptions in LBD? I was going to implement this but I realized I didnt.

If not, I can just do it on this issue here and mention @aashna27 to update the new check-in!

[2019-05-27 02:50] tech4GT opened #1080 "A new Overlay subpart module"
Our current overlay module works perfectly for complete Images but in some cases we just want part of the Image to be overlaid. Like over at image-sequencer-app we are trying to overlay one warped image onto another but that does not work correctly since the area around the warped image is black.
I think we can create a subpart-overlay module which can take the coordinates of the object in the ima

[2019-05-27 02:51] tech4GT commented on #1080
https://user-images.githubusercontent.com/25617855/58384650-d4802000-8001-11e9-9497-397ffc203a7d.jpeg

[2019-05-27 05:47] aashna27 commented on #1065
Yeah please let me know the edits!

On Mon, May 27, 2019, 4:39 AM Sasha Boginsky <notifications@github.com>
wrote:

[2019-05-27 05:56] Divy123 commented on #1072
@sagarpreet-chadha is the issue solved or is it still persisting?

[2019-05-27 06:36] Divy123 commented on #400
@jywarren @tech4GT I have been through PixelManipulation.js file and what I am able to understand that the whole code here can not be converted as there are lots of things like get-pixels and save-pixels that have to be passed to our C code. So can I get some help regarding exactly what parts of the code do we want to convert to C code or the whole PixelManipulation.js code?

Thanks !!

[2019-05-27 09:26] sagarpreet-chadha commented on #1072
Hi all , thank you for the discussions .
I will give it another try tomorrow and revert back here with the status . Thank you :)

[2019-05-27 12:17] Divy123 commented on #400
@jywarren can you please help on this?

[2019-05-27 17:28] gauravano commented on #1065
Hi Sasha, I have updated the check-in body. Let me know if any further
changes are needed. Thank you!

On Mon 27 May, 2019, 11:17 AM aashna27, <notifications@github.com> wrote:

[2019-05-27 17:57] jywarren commented on #400
Also noting @MargaretAN9 is interested in this!

Hmm. I think this may be a good question to ask @HarshKhandeparkar for a bit more info here. I had hoped we could take everything /between/ get-pixels and save-pixels and run that in webassembly.

[2019-05-27 18:02] jywarren commented on #1080
Hi! Is this resolved in https://github.com/publiclab/image-sequencer/pull/1082 ?

[2019-05-27 18:03] Divy123 commented on #400
Ok sure!! Thanks!

@MargaretAN9 can we collaborate on this??
Also this is my this week's target.
@HarshKhandeparkar any insights?

@jywarren this is my task for this week. SO should I start working on this or wait for Harsh's reply?

[2019-05-27 18:09] tech4GT commented on #1080
Actually I made it work for that specific use case using a custom overlay module but this is still something we might wanna have. It may come in handy, Don't you think?

[2019-05-27 18:18] jywarren commented on #1080
Sure can you just write out the additional fix you're proposing? Thanks!

On Mon, May 27, 2019, 2:09 PM Varun Gupta <notifications@github.com> wrote:

[2019-05-27 19:21] tech4GT commented on #1080
Sure! I am thinking of using morphological operations to determine the boundary of the object in the image and then only overlay the pixels inside the boundary! Maybe someone over at the soc team can pick this up, the challenge here is that we cannot conventional methods since those with increase the runtime by a factor of image width!! I think exploring the morphological operations route is well

[2019-05-27 20:55] aashna27 opened #1084 "Solve no-undef errors"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-05-27 21:00] aashna27 commented on #842
A new fto added https://github.com/publiclab/image-sequencer/issues/1084 please have a look and proceed.

[2019-05-27 23:02] jywarren commented on #1080
This would be an optimization, right? Are we all the way there with correct final bounding box in the un-optimized mode, first? But yes, once we have the basic version working, an optimization would be great!

[2019-05-28 03:09] sashadev-sky commented on #1065
@gauravano yeah its perfect! Maybe lets add it to the bottom?

[2019-05-28 10:19] gauravano commented on #1065
Done! @sashadev-sky

[2019-05-28 12:37] PoseidonSigmaX commented on #1084
Hey! I'd like to work on this issue :)

[2019-05-28 12:38] HarshKhandeparkar commented on #1084
Go ahead!

[2019-05-28 13:02] PoseidonSigmaX commented on #1084
Hey so there are three different Ui.js files, and two of them have a cropmoduleui function. Do I eed to update both of them?

[2019-05-28 13:05] HarshKhandeparkar commented on #1084
Yes

On Tue 28 May, 2019, 6:32 PM skaranzx16, <notifications@github.com> wrote:

[2019-05-28 13:05] HarshKhandeparkar commented on #1084
I guess you have to fix all the errors. You can edit any file.
Cc @aashna27

On Tue 28 May, 2019, 6:34 PM M K, <mjkgoa@gmail.com> wrote:

[2019-05-28 17:52] garg3133 commented on #842
Hey there, can you please add my name to the FTO list. Thanks!

[2019-05-28 18:33] jywarren commented on #400
If we don't get input from others in time, perhaps we could swap this
week's task with another to give people a little more time? Thanks!

On Mon, May 27, 2019 at 2:03 PM Slytherin <notifications@github.com> wrote:

[2019-05-28 18:44] aashna27 commented on #1084
@PoseidonSigmaX I have linked each file to their respective location, the links for each will take you to the required place.I hope I am making sense.

[2019-05-28 19:56] garg3133 commented on #879
Hi there, I just visited the beta version of [Image Sequencer](https://beta.sequencer.publiclab.org) website link of which you provided in the main comment and to my amazement, nothing is working in it except the "Choose file" input which also just inputs the file and does not processes it.

After that, I visited the stable version of the [website](https://sequencer.publiclab.org) and it too seems

[2019-05-28 19:58] harshithpabbati commented on #879
Sorry @jywarren I am little busy these days. I will keep beta version upto date by tomorrow

[2019-05-28 20:09] Divy123 opened #1092 "Make Select a module functionality responsive."
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-05-28 20:13] Divy123 commented on #400
@jywarren can I just send here a PR with a working demo and then proceed with everyone's suggestions. Meanwhile I can make preparations for the next weeks as well to speed up the things there??

[2019-05-28 20:41] jywarren commented on #400
oh that'd be great! always great to see working code to offer input on.
thank you!!!

On Tue, May 28, 2019 at 4:13 PM Slytherin <notifications@github.com> wrote:

[2019-05-28 20:45] Divy123 commented on #400
Thanks a lot Jeff!! :smile:

[2019-05-28 20:46] jywarren commented on #879
Hi @garg3133 -- this is really great, these are great observations. We would love some fixes if you're interested. I think we'd like to try resolving these bugs before tackling a new UI, however, as we are really seeking some stability before we begin opening up new avenues of design -- i hope you understand!

[2019-05-28 23:00] paigeribera commented on #1092
I'd like to work on this!

[2019-05-29 20:02] Divy123 commented on #400
![Screenshot from 2019-05-30 01-26-27](https://user-images.githubusercontent.com/31225007/58587048-0bf90180-827a-11e9-874e-280e9fc6fb86.png)
I have made a wasm file from wasm fiddle and here is my C code

[code]

I was trying to convert this part of code for testing from PixelManipulation.js file

[code]

After adding the wasm file, the code looks like:

[code]

But I think the wasm file is not ge

[2019-05-29 20:11] jywarren commented on #400
Hi @Divy123 -- can you share a PR link, so we can take a look at how you've gotten it set up? Help us reproduce your error so we can help you solve it! I've also pinged folks in the weekly check-in to see if anyone there can help.

[2019-05-29 20:14] Divy123 commented on #400
Thanks a lot @jywarren !!
Making a PR now

[2019-05-29 20:19] Divy123 commented on #400
@jywarren here is the link:
https://github.com/publiclab/image-sequencer/pull/1093

Please look into it.

[2019-05-30 18:42] garg3133 commented on #879
I am unable to figure out how to run this project on local machine... Can you please help me out!
I have already forked the repository and cloned it to my local machine.

[2019-05-30 19:25] gauravano commented on #879
Hi @garg3133, please copy the errors here or in a gist so that we can help you with the installation. Thanks!

[2019-05-31 06:39] o0sarthak0o commented on #1092
Hey, can I take up this issue?

[2019-05-31 09:32] PoseidonSigmaX commented on #1084
@aashna27 In edits 6 and 7 you've placed a comma at the end of the lines to be added. I'm assuming you meant to put a semicolon there.

[2019-05-31 13:31] HarshKhandeparkar commented on #1092
Sure

[2019-05-31 14:54] o0sarthak0o commented on #1092
Great, thanks.

[2019-05-31 15:09] o0sarthak0o commented on #1092
@Divy123 @HarshKhandeparkar please assign this one to me then.. thanks :D

[2019-05-31 15:23] HarshKhandeparkar commented on #1092
Just go ahead and work on it.

On Fri 31 May, 2019, 8:40 PM o0sarthak0o, <notifications@github.com> wrote:

[2019-05-31 17:34] aashna27 opened #1094 "Adding some modules from drop-down throws error"
Adding certain modules(eg Paintbucket, overlay) from the drop-down throws error.
![Screenshot from 2019-05-31 23-01-47](https://user-images.githubusercontent.com/26546120/58723689-5f915980-83f8-11e9-993d-f84ca146d223.png)

[2019-06-01 05:45] o0sarthak0o commented on #1092
I tried to do npm install for this but received this error... Any suggestions?

prebuild-install WARN install No prebuilt binaries found (target=10.15.0 runtime=node arch=x64 libc= platform=win32)

C:\Users\Sarthak Agarwal\image-sequencer\node_modules\gl>if not defined npm_config_node_gyp (node "C:\Program Files\nodejs\node_modules\npm\node_modules\npm-lifecycle\node-gyp-bin\\..\..\node_modules\no

[2019-06-01 05:51] o0sarthak0o commented on #1092
npm install is giving me error for this... Any suggestions?

prebuild-install WARN install No prebuilt binaries found (target=10.15.0 runtime=node arch=x64 libc= platform=win32)

C:\Users\Sarthak Agarwal\image-sequencer\node_modules\gl>if not defined npm_config_node_gyp (node "C:\Program Files\nodejs\node_modules\npm\node_modules\npm-lifecycle\node-gyp-bin\\..\..\node_modules\node-gyp\bin\node-gyp

[2019-06-03 19:24] aashna27 commented on #1084
Nope its a comma not a ; and yes I have now linked for 7th edit as well . Also these variable changes exist in many other files as well so it would be good if you would like to do it for other files as well.

[2019-06-05 16:19] jywarren commented on #979
OK just updating here -- and re-opening so there is a place to continue discussion within Image Sequencer --

Here's the final functional sequence for the triangular badge:

`https://sequencer.publiclab.org/examples/#steps=crop{x:65|y:115|w:50|h:50},average{},import-image{},crop{x:120|y:115|w:50|h:50},average{}`

I've also made a Gist of the entire thing (it's a very long URL) using data-urls, so

[2019-06-05 16:33] ebarry commented on #979
Hi @Divy123 @VibhorCodecianGupta , would you be able to arrive 30 minutes early to next week's Code Open Call to have some dedicated time to meet other people (@gbathree @julianstirling @rwb27) interested in and working on colorimetry form other angles?

Pasting in from an email, Richard and Julian have done

https://gitlab.com/bath_open_instrumentation_group/picamera_cra_compensation "

[2019-06-05 16:35] Divy123 commented on #979
Yes sure!!

That would be really great..
Thanks @ebarry

[2019-06-05 18:27] jywarren commented on #1094
Thanks for this catch! I think we are seeing a capitalization issue - we may need to enforce lower-case in module names -- some module names are capitalized, like `Text-Overlay`, in their `info.json`:

https://github.com/publiclab/image-sequencer/blob/31bc45cb9192fda601a3f1cbe74ab0e73b395aed/src/modules/TextOverlay/info.json#L2

Could relate to https://github.com/publiclab/image-sequencer/issues/1

[2019-06-05 18:33] jywarren commented on #1094
For example, I'm trying to run:

[code]

But I'm getting:

[code]

It's on this line:

https://github.com/publiclab/image-sequencer/blob/31bc45cb9192fda601a3f1cbe74ab0e73b395aed/src/InsertStep.js#L13-L17

It's odd because running `sequencer.addSteps('text-overlay')` in the console works fine. So does `seq.insertSteps(0,'text-overlay')`.

[2019-06-05 18:34] jywarren commented on #1094
Where is your error occurring?

[2019-06-05 18:39] jywarren commented on #1094
Ah! Ok, my issue was that instead of

`sequencer.replaceImage("img","text-overlay:{text:TEXT|font:arial|color:white}")`

I needed:

`sequencer.replaceImage("img","text-overlay{text:TEXT|font:arial|color:white}")`

I.e. no `:` after "text-overlay"!

[2019-06-05 18:41] aashna27 commented on #1094
Yeahh this issue wasn't seen in text overlay but eg in grid overlay it
existed

On Thu, Jun 6, 2019, 12:09 AM Jeffrey Warren <notifications@github.com>
wrote:

[2019-06-05 18:43] jywarren opened #1098 ""Uncaught TypeError: this.stringToSteps is not a function" when running replaceImage"
I'm getting this error when running `ImageSequencer().replaceImage("img","text-overlay{text:name|font:arial|color:white}")` :

[code]

https://github.com/publiclab/image-sequencer/blob/31bc45cb9192fda601a3f1cbe74ab0e73b395aed/src/ReplaceImage.js#L48

I think we need a test for this!

[2019-06-05 18:46] #1020 closed

[2019-06-05 21:48] aashna27 commented on #1094
the benchmarks shows that all modules are loading but in browser adding these modules throws error.

[2019-06-06 10:33] Divy123 opened #1100 "Insert step funcionality is broken badly"
Currently the insert step functionality is not at all working.

This is something urgent and should be fixed as soon as possible.

CC: @jywarren .

[2019-06-06 10:36] Divy123 commented on #1100
I will be working on this as soon as I get wasm PR completed

[2019-06-06 14:37] jywarren commented on #1100
Great, thank you so much!! And let's write a test for it too!

On Thu, Jun 6, 2019, 3:37 AM Slytherin <notifications@github.com> wrote:

[2019-06-08 17:37] #988 closed

[2019-06-08 17:39] #903 closed

[2019-06-10 11:32] jmauriciowebdev commented on #1034
Hello, if this issue is open I'd like to take it.

[2019-06-10 11:35] HarshKhandeparkar commented on #1034
Sorry but a PR regarding this issue is already open. I can add your names to a list of first timers who are in search of FTOs. You will be assigned an issue as soon as one is created(if your name is added). Shall I add your names @shivam123425 @jmauriciowebdev?

[2019-06-10 11:35] HarshKhandeparkar commented on #1034
The list is this #842

[2019-06-10 11:46] jmauriciowebdev commented on #1034
Sure go ahead, thanks :)

[2019-06-10 11:48] HarshKhandeparkar commented on #1034
Ok. I will @ mention you in that issue. Please subscribe to that issue so that you get notified.

[2019-06-10 11:51] HarshKhandeparkar commented on #894
@jmauriciowebdev you can try this one.

[2019-06-10 11:53] HarshKhandeparkar commented on #842
@jmauriciowebdev your name has been added. You can try to solve #894 btw.

[2019-06-10 11:53] HarshKhandeparkar commented on #842
@jmauriciowebdev your name has been added. You can try to solve #894 btw.

[2019-06-10 16:54] #1034 closed

[2019-06-10 17:40] Divy123 opened #1103 "Benchmark tests run each time with a different result."
Each time benchmarks tests are run, they come out with different result.

I think this might be due to impure functions. Side effects are being introduced due to some reasons which need to be looked into.

CC: @jywarren

[2019-06-12 18:32] jywarren commented on #842
Hi @HarshKhandeparkar or @publiclab/is-reviewers would you be able to open an FTO for  @freerangeandy ? I'll add him to the list!

[2019-06-12 19:49] jywarren commented on #1103
Hi @Divy123 can you copy in some of our notes on deterministic timings from the open call here? Thanks!

[2019-06-12 19:51] Divy123 commented on #1103
Yes sure!!

On Thu 13 Jun, 2019, 1:19 AM Jeffrey Warren, <notifications@github.com>
wrote:

[2019-06-12 20:04] first-timers[bot] opened #1107 "add moduleInfo to step construction"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-06-12 20:04] jywarren commented on #1107
This is reserved for @freerangeandy ! Tell us if you need help!

[2019-06-13 23:00] freerangeandy commented on #1107
I claim it

[2019-06-14 16:32] #1107 closed

[2019-06-14 21:50] jywarren opened #1113 "Test failures not appearing in Travis results"
Possibly related to #659, I'm seeing some test errors that are nonetheless reporting success in Travis. This is really concerning and I'd like to ensure that:

* [ ] we can first change settings so that these actually trigger a failure that's visible in Travis
* [ ] second, that we fix these bugs

@publiclab/is-reviewers is anyone available to take a look at these? @aashna27 or @Divy123 perhaps? T

[2019-06-15 18:25] #1094 closed

[2019-06-16 17:38] #597 closed

[2019-06-17 11:19] Divy123 commented on #1103
Actually maybe I forgot to write the notes then but there you suggested to run the benchmar tests some number of time and then have the average.

Would love to listen from you upon this!!

[2019-06-17 12:02] Divy123 opened #1115 "Uncaught TypeError: $(...).colorpicker is not a function"
I am getting following error on my browser:

[code]

And the load image step is not working:
![Screenshot from 2019-06-17 17-30-43](https://user-images.githubusercontent.com/31225007/59603030-f747b500-9125-11e9-9a28-0c8133dced49.png)

[2019-06-17 12:03] Divy123 commented on #1115
@aashna27 any help on this?

[2019-06-17 12:13] aashna27 commented on #1115
Yeah i ll see this later today evening!

On Mon, Jun 17, 2019, 5:33 PM Slytherin <notifications@github.com> wrote:

[2019-06-17 12:15] Divy123 commented on #1115
Thanks and can you please review https://github.com/publiclab/image-sequencer/pull/1093 ?

[2019-06-17 15:59] aashna27 commented on #1115
@Divy123 I am on the latest branch but I wasn't able to reproduce this error, although would you mind verifying that bootstrap-colorpicker exists in your package.json and also that we have bootstrap-colorpicker.js and .css scripts in index.html and then npm install again and see that bootstrap-colorpicker exists in node_modules.

Attaching links for references
https://github.com/publiclab/image-se

[2019-06-18 14:12] HarshKhandeparkar commented on #1115
The new color picker is live! (https://beta.sequencer.publiclab.org)

![Screenshot from 2019-06-18 19-41-35](https://user-images.githubusercontent.com/34770591/59691769-30088c80-9201-11e9-9859-b3e9ae54d616.png)

[2019-06-18 14:26] aashna27 commented on #1115
Yayy!! This is cool..

[2019-06-18 14:27] HarshKhandeparkar commented on #1115
@aashna27 could you please re-review my $step PR? I have replied to your comments.

[2019-06-18 14:34] aashna27 commented on #1115
Oh okay missed them

On Tue, Jun 18, 2019, 7:57 PM Harsh Khandeparkar <notifications@github.com>
wrote:

[2019-06-19 15:44] aashna27 commented on #172
Hey I have made some progress to this and I would like further guidance on it! The results that I am getting using opencv in our project are

![resblob](https://user-images.githubusercontent.com/26546120/59780090-0e79d480-92d7-11e9-8dd0-2f138d5cb493.png)

![blobres2](https://user-images.githubusercontent.com/26546120/59780171-35380b00-92d7-11e9-964b-ce76074a0e66.png)

[2019-06-19 18:26] aashna27 commented on #1115
@Divy123 if it works for you could you close this issue?

[2019-06-19 18:27] #1115 closed

[2019-06-19 20:59] jywarren commented on #172
Wow!!!! Amazing!!!!!

[2019-06-19 21:03] jywarren commented on #172
I think this is great. My thoughts are:

1. the overall workflow is many steps, as in the documentation in the original issue at top. But we should as much as possible break it into different modules. Let's make a demo sequencer to demonstrate these steps with images from a microscope (at top)
2. let's think about what the final desired output format is, by reading those docs at top. Is it a histo

[2019-06-20 10:23] aashna27 commented on #172
So I ll upload the code uptill now, wherein we have markers to detect particles in microscopic images.

[2019-06-21 14:54] #400 closed

[2019-06-21 16:42] jywarren opened #1121 "Display icon in HTML step container when a module is being wasm-accelerated?"
This could be neat, @Divy123 !

[2019-06-21 16:43] jywarren opened #1122 "Crashing with big images in demo"
I loaded http://beta.sequencer.publiclab.org with a large image and after a few minutes, saw:

![image](https://user-images.githubusercontent.com/24359/59938134-2a3dc180-9422-11e9-915b-4db0c56e7765.png)

Not sure if this is related to #1093 ?

[2019-06-21 16:45] Divy123 commented on #1121
Can you please provide a bit more information on this.

[2019-06-21 16:46] Divy123 commented on #1122
Can you please upload the image somewhere so that I can test it out locally?

[2019-06-21 16:51] jywarren commented on #1122
![IMG_20190615_115846](https://user-images.githubusercontent.com/24359/59938528-3ece8980-9423-11e9-9968-8179066ad014.jpg)

It wasnt this image but one of this size! From my phone!

[2019-06-21 16:54] HarshKhandeparkar commented on #1122
I tried this on my phone. The image takes WAY to long to load. So long that it can be considered as a crash. The browser insists on stopping the script. Trying it on my PC now.

[2019-06-21 17:02] Divy123 commented on #1122
Same with me.
I tested it out on my main which is not updated with the wasm PR as well, so probably not something to do with wasm.

[2019-06-21 17:02] jywarren commented on #1122
Perhaps we can pursue #922 which would give people option to resize as the first step?

#922 also suggests consolidating the 'resize' that's used in the preview generator, so it resizes once, then passes the small image to each preview generator, instead of resizing in each generator, this will likely make a BIG difference. Shall we try this next?

[2019-06-21 17:03] jywarren commented on #1068
Completed in #1093 ! Great work!

[2019-06-21 17:03] #1068 closed

[2019-06-21 17:03] jywarren commented on #1061
Closing, but opening a new issue for the tests!

[2019-06-21 17:03] #1061 closed

[2019-06-21 17:04] HarshKhandeparkar commented on #1122
I tried it on a huge 4K image. It didn't crash as such but the browser insisted on stopping the script several times but only at the start(because of previews perhaps). After loading, it works fine but still takes some time to process.

[2019-06-21 17:04] jywarren opened #1123 "UI tests for Module names in step selector (follow-up)"
Module names are incorrectly used in HTML step selector in demo #1061 was fixed, but we don't have a UI test protecting the fix. Let's help this out! Thanks!

[2019-06-21 17:05] Divy123 commented on #1122
So, I think the problem is maybe due to previews.
@aashna27 if you have this in your proposal #922 or should I persue that now.

[2019-06-21 17:06] HarshKhandeparkar commented on #1122
That preview proposal is extremely important I feel. On phones for e.g., previews make IS unusable.

[2019-06-21 17:08] jywarren commented on #1122
Agreed, all! 🙌

[2019-06-21 17:12] jywarren commented on #922
Noting for the preview refactor, we could add an intermediate sequencer object before passing to generatePreview:

https://github.com/publiclab/image-sequencer/blob/0eb3f263f921c888cc0ec0cc33e42c2fd7e59a47/examples/lib/insertPreview.js#L1-L3

We could do it just before passing the image to this iterator:

https://github.com/publiclab/image-sequencer/blob/440c3e0ad0ab081bdcc7dfff0d000f52a0902035/ex

[2019-06-21 18:53] jywarren commented on #1121
Like, we could show a little lightning icon in the upper right corner of
the step card box in the HTML demo, which when you hover, shows
"accelerated with WebAssembly" in a tooltip?

On Fri, Jun 21, 2019 at 12:46 PM Slytherin <notifications@github.com> wrote:

[2019-06-21 20:21] Divy123 commented on #1122
@aashna27 .

[2019-06-21 20:25] aashna27 commented on #1122
Hey, just yea i do have this in my proposal and would pursue this one after opencv.

[2019-06-21 20:40] Divy123 commented on #1121
That's a great idea!!
Would love to work on it.

[2019-06-21 20:41] Divy123 commented on #1122
Sure, cool with that!!

On Sat, Jun 22, 2019 at 1:55 AM aashna27 <notifications@github.com> wrote:

[2019-06-23 01:50] jywarren commented on #773
Just found this guide to making gh-pages build from Travis!

“Automate deployment of projects to GitHub-pages using Travis CI” by Dhruv Barochiya https://link.medium.com/9wOQZZr4JX

[2019-06-23 07:11] HarshKhandeparkar opened #1124 "Switch To Yarn"
### Please describe the problem (or idea)
Gargantuan packages like puppeteer take very long to install. Installing them repeatedly becomes tedious. I face this a lot when pushing to beta.
The caching feature of yarn can solve this issue.

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great iss

[2019-06-23 07:11] HarshKhandeparkar commented on #1124
@publiclab/is-reviewers

[2019-06-23 09:43] HarshKhandeparkar commented on #1122
@aashna27 @Divy123 @jywarren have a look at https://github.com/publiclab/image-sequencer/pull/955

[2019-06-23 13:37] tech4GT commented on #773
@jywarren I would then suggest that, we keep a beta branch for all the dev work and only push to master on releases. We don't want buggy code to get deployed.

[2019-06-23 13:39] HarshKhandeparkar commented on #773
@tech4GT what do you mean by dev-work?

[2019-06-23 13:40] tech4GT commented on #773
I mean the any new code should be pushed to the beta branch first! It should actually get deployed with the next release.
This will make sure that even if a PR with buggy code get's merged, it's not immediately deployed.

[2019-06-23 13:43] HarshKhandeparkar commented on #773
We have a beta branch on Harshith's repo. The code is pushed to it either by me or him.
https://beta.sequencer.publiclab.org. I had also suggested the creation of unstable branch.

[2019-06-24 19:27] pmansukhani commented on #1092
First timer here. Can I take this up?

[2019-06-24 20:59] Divy123 opened #1127 "Code cleanup and refactoring, increasing tests"
This issue is a general discussion issue where we discuss upon code cleanup, refactoring and testing:
 - [ ] Correct insert step functionality
 - [ ] Increase number of tests to minimize  code breaks
 - [ ] Deciding upon a code-editor recommendation for better debugging
 - [ ] Refactoring parts of code to make it more modular
 - [ ] moving tests from tape and jasmine to jest
 - [ ] moving from gru

[2019-06-24 21:00] Divy123 commented on #1127
@aashna27 @tech4GT @jywarren we can discuss important parts of code cleaning and refactoring here,
Linking already existing issues now.

[2019-06-24 21:01] Divy123 commented on #1113
https://github.com/publiclab/image-sequencer/issues/1127

[2019-06-24 21:02] Divy123 commented on #1122
https://github.com/publiclab/image-sequencer/issues/1127

[2019-06-24 21:03] Divy123 commented on #1113
https://github.com/publiclab/image-sequencer/issues/1127

[2019-06-24 21:03] Divy123 commented on #1100
https://github.com/publiclab/image-sequencer/issues/1127

[2019-06-24 21:03] Divy123 commented on #1103
https://github.com/publiclab/image-sequencer/issues/1127

[2019-06-24 21:03] Divy123 commented on #1092
https://github.com/publiclab/image-sequencer/issues/1127

[2019-06-24 21:04] Divy123 commented on #1009
https://github.com/publiclab/image-sequencer/issues/1127

[2019-06-24 21:09] Divy123 commented on #1127
These are some of the issues that should be closed on a high priority.

Also some issues like moving to webpack and jest require to discuss upon.

I think @aashna27  and me can divide this and continue to improve upon.
Also I will be discussing to refactor parts of code as I will be going through solving some of the avbove issues.

I am working on insert step functionality right.
Also what do you

[2019-06-24 21:11] Divy123 commented on #1127
Also, as I and @tech4GT discussed on a call if we can have intelliJ as our recommended editor to get the debugging done at its best as it provides some of the best tools through various extensions, it has got and have a wiki post on publiclab.org ??

[2019-06-24 21:25] aashna27 commented on #1127
Yeah cool i currently have one pr open after which i can start working on
these.

 I would like to share that i tried working on ui testing using jasmine
jquery, it is similar to jest but i was stuck with the spyOnEvent(), for
dom testing. It did not work. I couldn't figure out how to proceed and as I
was running out of time I had to move on from it. Using fixtures for dom
testing was complex as a

[2019-06-24 21:34] Divy123 commented on #1127
So yeah I think we have another reason for Jest here, the Facebook community behind the library is very active and we can get over things like this very easily .

[2019-06-25 10:16] Divy123 commented on #1127
@HarshKhandeparkar I am seeing this error when clicking on insert step button. Needs urgent attention.
![Screenshot from 2019-06-25 15-45-39](https://user-images.githubusercontent.com/31225007/60090518-53cb5580-9760-11e9-920f-4fcbb0a8f226.png)

[2019-06-25 10:19] Divy123 commented on #1127
Also after refreshing the page, the url is correct but the steps inside url are not getting loaded.

[2019-06-25 11:26] Divy123 commented on #1127
Ok, I figured it out and what's happening is inside, defaultHtmlStepUi.js:
[code]
at the time of checking the condition, step.linkElements[index] is unavailable, maybe some async stuff here.

@HarshKhandeparkar can you figure out please what part of code is making this happen?

[2019-06-25 17:09] Divy123 commented on #833
@HarshKhandeparkar there are some things that are breaking out the code maybe, can you have a look at them. It was a huge PR and congrats for the merge.

@jywarren maybe we can revert the changes here now, and once we can have the things fixed we can remerge .

[2019-06-25 17:14] Divy123 commented on #833
1) This is the error currently in the console:
![Screenshot from 2019-06-25 16-07-23](https://user-images.githubusercontent.com/31225007/60091942-5ed3b500-9763-11e9-9dca-950c90bf83ba.png)

Also just one thing more that also due  to $step method not available in intermediateHtmlui.js

2). Also after refreshing the page, the url is correct but the steps inside url are not getting loaded.

3). I figu

[2019-06-25 17:15] HarshKhandeparkar commented on #833
What is broken?

On Tue, 25 Jun, 2019, 10:39 PM Slytherin, <notifications@github.com> wrote:

[2019-06-25 17:19] Divy123 commented on #833
Right now, the inserStep button is not working and showing this error. Also, I am seeing this error, in the console on starting up the server .
You can have a look at the screenshot I sent above to have a better understanding.
Hope that helps

[2019-06-25 17:22] HarshKhandeparkar commented on #833
I am pretty sure that $step is available in the intermediateHtmlStepUi.js. Maybe a recent commit broke this.

[2019-06-25 17:23] HarshKhandeparkar commented on #833
Can you tell which line throws the not defined error by expanding it?

[2019-06-25 17:30] Divy123 commented on #833
@HarshKhandeparkar its line 273 of defaultHtmlStepUi.js :
[code]
and step method is not working in line 92 in IntermediateHtmlStepUi.js where its showing $step is not defined.

[2019-06-25 17:32] HarshKhandeparkar commented on #833
Ok ty. I will look into this but I won't be able to push anything today.
And we don't have to revert this. Reverting just creates a new PR, does not
react directly. I will open a new PR.

On Tue, 25 Jun, 2019, 11:00 PM Slytherin, <notifications@github.com> wrote:

[2019-06-25 17:35] Divy123 commented on #833
Actually, I was suggesting a revert so that I can work on things till then as I was to work upon the same functionality and I won't be able to work without it done. Is that ok to you?

[2019-06-25 17:36] HarshKhandeparkar commented on #833
Ypu can locally revert. Reverting globally will cause problems to my branch
and pushing again will be a problem.

On Tue, 25 Jun, 2019, 11:05 PM Slytherin, <notifications@github.com> wrote:

[2019-06-25 17:38] Divy123 commented on #833
Since I am also going to work on UI, so it would be better if I work on the latest code.

[2019-06-25 17:41] HarshKhandeparkar commented on #833
If it is reverted globally, I won't be able to rebase my branch becuase
rebasing will delete the code. Oh wait, fo you know a fix for this? You can
directly push that fix or use it as a workaround locally. (I have done this
many times)

On Tue, 25 Jun, 2019, 11:08 PM Slytherin, <notifications@github.com> wrote:

[2019-06-25 17:42] Divy123 commented on #833
Actually, I don't have the fix now and working without the fix may lead to issues later .

[2019-06-25 17:46] HarshKhandeparkar commented on #833
Ok . As you say. Let's wait for @jywarren's thoughts on this.

On Tue, 25 Jun, 2019, 11:12 PM Slytherin, <notifications@github.com> wrote:

[2019-06-25 17:47] Divy123 commented on #833
Ya sure!!
Thanks a lot @HarshKhandeparkar

[2019-06-25 20:29] jywarren commented on #833
How complex is the fix? We haven't pushed this to the live demo yet... would it be something we can patch relatively quickly?

[2019-06-25 20:51] Divy123 commented on #833
I am not sure on this. Maybe @HarshKhandeparkar can help on this..
Also till that I am on halt as I also have to work on things built over that functionality.
So for the time being, I will discuss with aashna on the UI testing..

[2019-06-25 21:58] jywarren commented on #833
Can you merge a short-term commenting-out of the line that causes the
error, or reverting just that line? Many lines from this code were just
shortening from more verbose commands and we could just switch back to the
longer forms until this is fixed?

On Tue, Jun 25, 2019 at 4:52 PM Slytherin <notifications@github.com> wrote:

[2019-06-25 22:00] Divy123 commented on #833
Ok trying it now!!

[2019-06-25 22:13] Divy123 commented on #833
I tried it and on reverting the complete intermediate file gave me the correct result.
@jywarren do you want me to send a PR for that?

[2019-06-25 22:24] jywarren commented on #833
Sure! That would be great. And if you want to add explanatory comment and
perhaps even leave in the commented out previous line so we are super clear
this is a temporary fix. And - can you bump the 0.0.x version in your PR so
we can release it as a patch as per semver.org ? Thanks!

On Tue, Jun 25, 2019 at 6:13 PM Slytherin <notifications@github.com> wrote:

[2019-06-25 22:27] Divy123 commented on #833
Can you please explain a bit on the bump part?
I am totally unaware of that.

[2019-06-25 22:35] jywarren commented on #833
Ah, sorry - just change the version number in /package.json by one
"patch-level" interval, so increasing from 3.5.0 to 3.5.1 -- this signals
to dependencies that /use/ image-sequencer that we are releasing a bugfix!
https://semver.org has explanation of this versioning scheme which is known
as "semantic versioning" -- 0.x.0 denotes a new feature that does not break
or change any existing functiona

[2019-06-25 22:37] Divy123 commented on #833
Yes and thanks a lot for this great information.

[2019-06-26 15:39] HarshKhandeparkar commented on #1124
I will work on this.

[2019-06-26 19:08] Divy123 commented on #1127
The insertStep is broken very badly, @publiclab/is-reviewers if you can help me here.

[2019-06-26 23:12] jywarren commented on #1124
Whoa, does npm not have a similar feature?

[2019-06-27 06:19] tech4GT commented on #1127
@jywarren I think we should revert back the last commit!

[2019-06-27 10:18] HarshKhandeparkar commented on #1124
Nope.

[2019-06-27 10:22] rexagod commented on #1124
https://github.com/nodejs/node/issues/19589

[2019-06-27 10:24] HarshKhandeparkar commented on #1124
The caching feature is available?

On Thu, 27 Jun, 2019, 3:53 PM Pranshu Srivastava, <notifications@github.com>
wrote:

[2019-06-27 13:39] rexagod commented on #1124
Not yet. I was working on this a while back with the same guy but things
got stalled recently. Node has plans to implement a cache system, it's just
not a priority right now, it seems.

On Thu, 27 Jun 2019, 15:54 Harsh Khandeparkar, <notifications@github.com>
wrote:

[2019-06-27 13:40] HarshKhandeparkar commented on #1124
Ok. Ty. I will implement yarn soon if no one else does. This is open btw.
If anyone wants to pounce, they can.

On Thu, 27 Jun, 2019, 7:09 PM Pranshu Srivastava, <notifications@github.com>
wrote:

[2019-06-27 14:57] alaxalves commented on #1124
@HarshKhandeparkar One thing that helped me on Mapknitter's Bower -> Yarn migration, was those links:
- https://github.com/sheerun/bower-away
- https://bower.io/blog/2017/how-to-migrate-away-from-bower/
The package `bower-away` is very useful.

[2019-06-27 15:51] HarshKhandeparkar commented on #1124
Thanks a lot.

On Thu, 27 Jun, 2019, 8:28 PM Álax de Carvalho Alves, <
notifications@github.com> wrote:

[2019-06-27 16:35] jywarren commented on #1127
OK - can someone revert it and open a PR for it? Thanks. Don't worry, folks, we'll resolve this and get it re-merged before long.

Let's try to document the errors and write tests against them so we will know when we can re-merge, please?

[2019-06-27 17:26] tech4GT commented on #1127
@Divy123 Can you please open the pr ??

[2019-06-29 09:29] Divy123 commented on #1127
I have reverted some files causing the major errors in one of my PR.
Here is the link (merged already): https://github.com/publiclab/image-sequencer/pull/1131

Also for the permanent fix, Harsh has opened a PR:
https://github.com/publiclab/image-sequencer/pull/1132

[2019-06-29 15:23] HarshKhandeparkar commented on #1127
@Divy123 my scopeQuery fix also fixes insert step along the way. I won't recommend intelliJ as it is a huge editor(size). I would rather recommend vscode.

Vscode already has intelisense baked in. They even added a full fledged debugger recently.

[2019-06-29 15:26] Divy123 commented on #1127
@HarshKhandeparkar request you to send a gift for completely working functionality in which please show us the working of insert-step, browser console and other functions as well.

[2019-06-29 15:27] Divy123 commented on #1127
Also, can you please give reference to the debugging feature of vscode.

I personally use vscode, but let's see other opinions as well like Varun suggested.

[2019-06-29 15:27] HarshKhandeparkar commented on #1127
Gift? I didn't understand fully. Could you please elaborate. Ty.

[2019-06-29 15:29] HarshKhandeparkar commented on #1127
Reference to vscode debugging feature? Uh. I don't know if there are docs about it anywhere else, maybe a blog. I have only seen it in the editor recently. You can also have a look at it. There will usually be a help button somewhere on the navbar, it will point you to the docs or otherwise, google is your best friend.

[2019-06-29 15:31] Divy123 commented on #1127
Actually it was gif, my bad.

I will have a look at the debugger but would definitely request your thoughts upon this @tech4GT

[2019-06-29 15:32] HarshKhandeparkar commented on #1127
Very useful. Just found this.
* https://code.visualstudio.com/docs/editor/debugging
* https://code.visualstudio.com/docs/introvideos/debugging
* https://code.visualstudio.com/docs/nodejs/nodejs-debugging

[2019-06-29 15:33] Divy123 commented on #1127
Thanks a lot and I request you to provide the GIF a bit fast as I am also working on the same so if this fixes, I can have a look at other parts of the code.

[2019-06-29 15:34] HarshKhandeparkar commented on #1127
Oh ok GIF. Lol. Happens many times. Were you able to test it out locally? I
will send the GIFs etc as soon as I get time.

Another thing, as soon as this scopeQuery PR gets merged, I will start work
on migrating to yarn which won't take very long. That can be done using a
few commands.

Thanks a lot!

On Sat, 29 Jun, 2019, 9:01 PM Slytherin, <notifications@github.com> wrote:

[2019-06-29 15:36] HarshKhandeparkar commented on #1127
If you are able to check it out locally, it would be better I guess as there is not guarantee that I will get time soon. I might be able to do a little work today though, if time permits. I will try my best.

[2019-06-29 15:39] Divy123 commented on #1127
Sure, cool!!

[2019-06-29 20:34] MargaretAN9 opened #1136 "unable to see new module in drop down box"
### Please describe the problem (or idea)

Believe I have figured a way to load OpenCV on Image Sequencer , trying to test with @aashna27 aashnaaashna's module  but the module never displays in the dropdown box.  The program passes grunt build but I cant activate it since it isn't in the drop down list.  So, what  files need to be changed to 'see' a new module?

See
https://github.com/publiclab/im

[2019-06-30 06:54] MargaretAN9 commented on #1122
Some general comments:
-I was hoping to come up with a more comprehensive solution but I thought it might be best to share some preliminary test results---

-This is a really important topic since many users will want to process high resolution data.   My general view is that IS needs to work with images at least 10MB / (3280x2464).  This would match the Raspberry PI image formats as well as other

[2019-06-30 07:54] HarshKhandeparkar commented on #1122
Hi all. This is becoming a big problem. Big images don't even load in some browser. In some browsers like Firefox, they slow it down to a point when the browser insists on stopping the script as it the script is considered unresponsive.

I am going to conduct a series of experiments like running a profiler, tweaking some code, turning off previews, etc. I will try to narrow down the slow code. Pos

[2019-06-30 08:18] HarshKhandeparkar commented on #1122
### Report
#### With Previews (stock image)
- Some function called `drainQueue`(probably an external lib function) takes quite some time.
- GC is done thousands of times(Have to optimise)(GC is done about a thousand times at once which takes a lot, lot of time)
- The `img.onload` event listeners in two different places singly take quite some time to process.

[code]
[code]
##### Conclusion: Takes

[2019-06-30 08:21] HarshKhandeparkar commented on #1122
#### Without Previews (Stock Image)
- Very Little GC
- No single function call is run for too long
- About 1s to process

#### Bigger External Image (No Previews)
- Still very little GC
- Still no single function call is run for too long
- Still 1s to process

#### Above 4K size image (No Previews)
- Some weird `mousemove` event took 1.5s(Might be related to @aashna27's pixel data display feature.

[2019-06-30 08:23] HarshKhandeparkar commented on #1122
### Conclusion
- There might be some unoptimized core code.
- GC is a problem.
- Previews cause the most GC
- MouseMove was weird.

[2019-06-30 08:24] HarshKhandeparkar commented on #1122
cc @jywarren @publiclab/is-reviewers @tech4GT @Divy123 @aashna27 @MargaretAN9

[2019-06-30 08:34] aashna27 commented on #1122
May I ask what is GC? :see_no_evil:

[2019-06-30 09:10] HarshKhandeparkar commented on #1122
GC is garbage collection
* https://en.wikipedia.org/wiki/Garbage_collection_(computer_science)
* https://blog.sessionstack.com/how-javascript-works-memory-management-how-to-handle-4-common-memory-leaks-3f28b94cfbec

[2019-06-30 09:12] HarshKhandeparkar commented on #1122
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Memory_Management

[2019-06-30 09:13] HarshKhandeparkar commented on #1122
We can reduce GC by not setting too many variables or by setting them to null so that there is no memory leak.

[2019-06-30 10:49] Divy123 opened #1137 "Rotate module not functioning correctly"
The rotate module implemented currently is not working correctly. I don't think this is some bug but the way it has been implemented. Right now, after rotating the image, it acquires the same dimensions as the original image due to which sometimes a rectangular image gets cropped which should not be the case.

CC: @jywarren @tech4GT @HarshKhandeparkar @aashna27

[2019-06-30 10:51] HarshKhandeparkar commented on #1137
@Divy123 what do you think should be the expected behavior? Size should remain the same and pixels should be resized or pixels same and image should become bigger?

[2019-06-30 10:53] Divy123 commented on #1137
![Screenshot from 2019-06-30 16-21-49](https://user-images.githubusercontent.com/31225007/60395583-3973ec00-9b53-11e9-90f1-3341753fe2ff.png)
@HarshKhandeparkar  see this screenshot, its very clear that rotate is rotating the image but cropping at the same time. I believe the imagearea should be increased but image should not be cropped as its not the behavior of "rotate" .

[2019-06-30 11:31] Divy123 opened #1138 "Service worker registration failed error in console"
[code]

The above error appears everytime in browser console.

[2019-06-30 11:32] Divy123 commented on #1138
CC: @jywarren @tech4GT @HarshKhandeparkar @aashna27

[2019-06-30 12:06] aashna27 commented on #1138
Somebody else also had opened a pr related to this, and i searched for onstatechange it exists in cache.js. Maybe some problem related to service worker installation

[2019-07-01 07:50] MargaretAN9 commented on #1136
IS Files  posted at: https://github.com/MargaretAN9/ImageSequencerUpdate .   Just trying to determine why the new module doesn't show in the drop down box?  Thx

cc @jywarren  @tech4GT @Divy123 @aashna27

[2019-07-01 09:09] Divy123 commented on #1127
@jywarren currently there are many callback hell in our code base. I highly recommend shifting to promises which not only leads to more reliable code but better readable one too.

[2019-07-01 15:39] jywarren commented on #1136
Hi, are you running this locally, and have you run "grunt build" to get it
working from the compiled files? I think we potentially haven't yet built
these into the compiled files in /dist/ (which is mentioned in the
CONTRIBUTING docs, but could be more clear, sorry!)

and after that I'd look to see if you are using a browser-cached version --
try opening the dev console and then right-clicking the

[2019-07-01 15:55] HarshKhandeparkar commented on #833
I think this can be closed.
cc @Divy123 @jywarren

[2019-07-01 15:55] #833 closed

[2019-07-01 15:59] HarshKhandeparkar commented on #1136
Grunt build is run in the setup script.

[2019-07-01 16:00] HarshKhandeparkar commented on #1136
It will probably be a cache issue

[2019-07-01 20:47] Divy123 opened #1142 "Minify Image module"
@jywarren I am working on a minify-image module whose workflow is:

![min](https://user-images.githubusercontent.com/31225007/60465919-e3489b00-9c6f-11e9-959c-2ac67361eee5.png)

For this I need to convert the input datauri to a image file like a png/jpeg file (which will be deleted later). Can you help me out with how can I approach this?

[2019-07-01 21:04] Divy123 opened #1143 "Improve documentation for better contributor experience"
- [ ] Providing more test based examples for better understanding of code and core API

[2019-07-02 16:08] jywarren commented on #172
Great, can you lay out how this initial PR fits into the overall workflow from the posts above?

[2019-07-02 17:48] jywarren commented on #1143
Hi! Perhaps we need a guide to writing tests (either UI or module) so as to
encourage this activity as well?

On Mon, Jul 1, 2019 at 5:05 PM Slytherin <notifications@github.com> wrote:

[2019-07-02 17:58] jywarren commented on #1142
Actually, would you want to try implementing the "resize before preview"
step or is @aashna27 working on that? But maybe if the OpenCV work is
holding it back, you could help out with the pre-preview optimization,
which is pretty important for overall speed, and somewhat related to this?
Thank you!

On Mon, Jul 1, 2019 at 4:48 PM Slytherin <notifications@github.com> wrote:

[2019-07-02 18:00] Divy123 commented on #1143
I completely agree and I have already started exploring on the UI tests and will start adding that soon.

[2019-07-02 18:01] Divy123 commented on #1142
Sure looking into that as well!!
Thanks!!

[2019-07-02 18:27] jywarren commented on #979
Hi @Divy123 -- I was thinking about this and I think we're ready to start making an interface design for this. What do you think of this sequence of steps, which USES `image-sequencer` but guides someone through the steps one by one?

![Screen Shot 2019-07-02 at 2 27 23 PM](https://user-images.githubusercontent.com/24359/60537023-8d0e4300-9cd5-11e9-8448-f9c22d90d30c.png)

[2019-07-02 18:34] Divy123 commented on #979
Sure, I think these exemplary guides can be much useful than the documentation part and I will start working on it asap.

[2019-07-02 20:53] Divy123 commented on #1142
@jywarren I have successfully tested out the minify-image functionality but since this does not involve any PixelManipulation directly, I don't have to use PixelManipulation.js file. But without that I am facing a few errors. Should I open a PR where you or @IgorWilbert can probably look into?

[2019-07-02 21:35] jywarren commented on #1142
yes please, and highlight the exact errors? Thank you!!!

On Tue, Jul 2, 2019 at 4:54 PM Slytherin <notifications@github.com> wrote:

[2019-07-02 21:37] Divy123 commented on #1142
Ok sure, thank you!!

[2019-07-03 05:26] MargaretAN9 commented on #1136
Yes clearing the cache worked! I can now see the new module

Now working a new problem "Unable to get property '1"  of undefined or null reference
in image-sequencer-ui.js(322,11),

[2019-07-04 19:49] alaxalves opened #1152 "Can't install image-sequencer using Yarn"
### Please describe the problem (or idea)

Currently we're having an issue when using Mapknitter, described [here](https://github.com/publiclab/mapknitter/issues/791).

When I `yarn add image-sequencer` on the terminal I get the following output:

![image](https://user-images.githubusercontent.com/19597045/60685619-689f9b80-9e7a-11e9-9962-7d651c6e72e7.png)

### Please show us where to look

https:

[2019-07-05 13:25] HarshKhandeparkar commented on #1152
Hi, we will fix this issue. We are trying to change our own package manager to yarn which is also giving these issues. We(I) will fix them. Thanks for the patience and sorry for the inconvenience.

[2019-07-06 18:30] alaxalves commented on #1152
No problemo, this is pushing us back at https://github.com/publiclab/mapknitter/issues/791

[2019-07-06 18:32] HarshKhandeparkar commented on #1152
Oh so you want to install IS in mapknitter? If yes, you can run yarn with
the `--ignore-engines` argument if you don't mind what it does. Ty

On Sun, 7 Jul, 2019, 12:00 AM Álax de Carvalho Alves, <
notifications@github.com> wrote:

[2019-07-06 19:23] alaxalves commented on #1152
Not even using this flag I'm able to install it. :/

[2019-07-07 03:58] HarshKhandeparkar commented on #1152
I'll look into this as soon as I get time.

On Sun, 7 Jul, 2019, 12:53 AM Álax de Carvalho Alves, <
notifications@github.com> wrote:

[2019-07-07 04:01] HarshKhandeparkar commented on #1152
In the meanwhile, could you please tell me the OS and nodejs version you
are using?

On Sun, 7 Jul, 2019, 9:28 AM M K, <mjkgoa@gmail.com> wrote:

[2019-07-07 04:02] HarshKhandeparkar commented on #1152
Also since I don't much about mapknitter, can you tell me how I can reproduce this?

[2019-07-08 02:37] MargaretAN9 opened #1155 "Error with OnDraw callback for new OpenCV module"
### Please describe the problem (or idea)

We are trying to use openCV to do image processing, however it seems we get an error on the OnDraw callback looking for a way to update the UI.  Does each module need to have its own step process for the UI or can that get be avoided all together.

`image-sequencer.js:100409 Uncaught TypeError: Cannot read property 'onDraw' of undefined
`

### Please show

[2019-07-08 02:39] #1136 closed

[2019-07-08 15:03] HarshKhandeparkar commented on #1152
Hello, @alaxalves. I tried installing IS using yarn. It installed without any errors (only thing is that I had to add the `--ignore-engines` flag. I think the problem you are facing is a different one. Do you notice that it says
[code]
?
I think this is some connectivity issue or similar. I am closing this issue right now. If you still face the same issue, please feel free to reopen this and let m

[2019-07-08 15:03] #1152 closed

[2019-07-09 06:45] MargaretAN9 opened #1161 "'Save' button not working?"
### Please describe the problem (or idea)

I can't save the png file on my local version of IS.   It also doesn't seem to be working on the web version.   Does anyone else notice this problem?

Also , where does this function occur in IS?

Expected a file to be downloaded.   Nothing happens.

### Please show us where to look
Front page of IS

https://beta.sequencer.publiclab.org

### What's your P

[2019-07-09 14:17] alaxalves commented on #1152
@HarshKhandeparkar Actually this was a firewall issue. I think we'll need to update our yarn version. I'll describe more here -> https://github.com/publiclab/mapknitter/pull/803

[2019-07-09 18:05] jywarren commented on #1122
Could we - thinking - could we use one sequencer instance for resizing, and just create new ones to do each preview with the output of the first resizing-sequencer?

[2019-07-09 22:32] jywarren opened #1162 "Documentation"
@MargaretAN9 has created an extremely detailed manual which is awesome! Over at https://github.com/MargaretAN9/GSOC-2019/blob/master/ImageSequencerUserManual.md#input-format-options

I suggest we move this into a /docs/ folder here. What do you think, @aashna27 @Divy123 @HarshKhandeparkar @publiclab/is-reviewers ?

Great work, @MargaretAN9 -- can you open a pull request with this file and we can g

[2019-07-09 22:34] jywarren commented on #1155
Hi! Thanks for opening this here! Is this in reference to @aashna27's blob detection module in #1120 ?

[2019-07-09 23:38] #1142 closed

[2019-07-10 01:51] MargaretAN9 commented on #1162
OK, have some  edits to make and will then open the pull request.     Thx!

[2019-07-10 02:20] MargaretAN9 commented on #1155
Yes, I am trying to convert the IS data uri to an OpenCV matrix  (and vice versa) format using similar methods as @aashna27.   It looks like I am having different issues (on Draw error) than  #1120  but I am also still learning how IS works.   In particular , the purpose and operation of 'step' utililities?

[2019-07-10 21:19] jywarren commented on #1162
awesome!

On Tue, Jul 9, 2019 at 9:52 PM MargaretAN9 <notifications@github.com> wrote:

[2019-07-13 20:53] aashna27 opened #1167 "Alphabetically arrange modules in Module docs"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-07-13 23:22] kirito-k commented on #1167
Hey, I am a newcomer. I would love to try it out. Is it already claimed?

[2019-07-14 00:44] kirito-k commented on #1167
Can you please check my pull request and tell me is it correctly implemented? I am a bit confused with the information text while I was putting my PR.

[2019-07-14 10:56] aashna27 commented on #842
There is a new fto issue #1167 @freerangeandy please have a look !

[2019-07-14 11:27] aashna27 commented on #1167
Thanks a lot, Great work!!! :smile:

[2019-07-14 11:46] Divy123 opened #1170 "Document Noise-Reduction Module"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-07-14 11:46] Divy123 commented on #1170
@aashna27 can help here.

[2019-07-14 11:49] Divy123 commented on #1162
@MargaretAN9 that's some awesome work and is there something I can assist you with upon this?

[2019-07-14 11:52] aashna27 commented on #1170
@Divy123 I ll edit the issue description it includes some portion of #1167.

[2019-07-14 11:53] Divy123 commented on #1170
Yeah sure!

[2019-07-14 11:55] Divy123 commented on #1170
@aashna27 can you please our Gitter chat? I have replied there.

[2019-07-14 11:56] aashna27 commented on #1170
ohhkay yeah, thanks a lot!!

[2019-07-14 12:02] Divy123 commented on #1170
:smile:

[2019-07-14 15:43] jywarren commented on #1162
Hi @margaretan9, please open the PR and link to it from here ASAP - don't worry if you have edits to make, the most important thing is to share your progress, no matter what state it's in, in order to start dialogue with your collaborators in this project! Does that make sense? I'd like to ask if you could plan to post new material in PRs whenever you start working on something, and not when you c

[2019-07-15 04:20] duyquangnguyenhac commented on #1170
I would like to pick up this issue!

[2019-07-15 16:16] jywarren commented on #1162
Awesome- #1171 great work @MargaretAN9 !!

[2019-07-15 17:51] Divy123 commented on #1170
@aashna27 if you can please  update this issue,

@duyquangnguyenhac you can go ahead as soon as the issue is updated.

[2019-07-15 17:58] aashna27 commented on #1170
I did update it, can you please specify what exactly you want me to do?

On Mon, Jul 15, 2019, 11:21 PM Slytherin <notifications@github.com> wrote:

[2019-07-15 17:59] Divy123 commented on #1170
Accha oh!!
Thanks a lot @aashna27
@duyquangnguyenhac please go ahead!!

[2019-07-15 18:08] aashna27 commented on #1170
☺️☺️ Welcome divy!

On Mon, Jul 15, 2019, 11:29 PM Slytherin <notifications@github.com> wrote:

[2019-07-16 19:21] jywarren opened #1172 "Compiling gl module on raspberry pi"
We're trying to install the new gl code on a Raspberry Pi here:

https://github.com/publiclab/pi-builder/pull/53#issuecomment-511720272

Unfortunately we got a pre-gyp error which I think is with compiling -- raspberry pis are arm7 devices. Actually I think I ran this in my Chromebook ok, and it's ARM as well. But is there anything specific we're missing in getting this to run? Thanks!! @Divy123

[2019-07-16 19:25] jywarren commented on #1172
Aha maybe we need prerequisites installed, like in https://github.com/stackgl/headless-gl/issues/118

It's not the same error but maybe it's the same underlying issue...

[2019-07-16 19:33] jywarren commented on #1172
Aha:

https://github.com/stackgl/headless-gl/blob/master/README.md#ubuntudebian

Prerequisites!

@icarito I think we need to run these on the pi. So I'll add them to the build script.

[2019-07-16 21:00] GomathiselviS commented on #1167
I am beginner and I wish to work on this.Is this already claimed?

[2019-07-16 23:29] Divy123 commented on #1069
@jywarren currently I am working on implementing multithreading but with web-workers, we can not clone any DOM components, which are heavily built in our image-sequencer object.

What do you suggest upon this?

[2019-07-17 05:42] duyquangnguyenhac commented on #1170
Hello guys!

I just finished cloning the repository. I'm going through the module and trying to understand it. Will need some help later because I'm a beginner :D

[2019-07-17 13:47] Divy123 commented on #979
@jywarren can you please provide me with these sample images as seen in the screenshot?

[2019-07-17 16:49] HarshKhandeparkar commented on #1172
Hi @jywarren. I think this is linked to GPU.js and there are ways of making this work. I will get back after some time.

[2019-07-17 16:55] HarshKhandeparkar commented on #1172
@jywarren which OS is used on the pi? Raspbian?

[2019-07-17 18:48] jywarren commented on #979
Actually i think it's at the top of the page! Or did you mean another?

[2019-07-17 18:49] Divy123 commented on #979
Yeah I mean those which I am able to see in the screenshot.

[2019-07-17 18:55] jywarren commented on #979
Hm, i think it's the same one, no? Can you specify exactly which image you need? Sorry for not understanding!

[2019-07-17 18:57] Divy123 commented on #979
https://user-images.githubusercontent.com/24359/60537023-8d0e4300-9cd5-11e9-8448-f9c22d90d30c.png

Actually I am talking about the smaller images with red square and the example card. Hope I am getting it right.

[2019-07-20 04:43] aashna27 commented on #1170
Yeah sure! Please let me know what is your concern!
So after cloning the repo you can run it using grunt serve and then you can navigate to find the noise reduction module and what it does! Just pick up an image that has a lot of noise and let it pass through the reduction module!

Also to know what needs to be done in this issue you can go through the description and all the other module's descri

[2019-07-20 23:36] rexagod opened #1181 "Existing module for drawing w.r.t. pixel coordinates?"
Hello, @publiclab/is-reviewers!

The title pretty much explains it all, I want to plot points on an image (which is a part of a module that I'll incorporate into this lib), and I have the pixel coordinates. I'm currently doing this with the help of `pngjs-draw` module but want to know if there already exists any module (PaintBucket? ReplaceColor?) for the same in this repository since that would p

[2019-07-21 06:59] duyquangnguyenhac commented on #1170
Hi,
I've finished adding my inputs for the documentation. I'm trying to make a pull request on the file but for some reason it seems like I don't have permission to make a pull request. I'll post the error message below, and perhaps someone could help me clarify the issue.
Thank you, James

Quangs-MacBook-Pro:docs quangnguyen$ git push --set-upstream origin document-noise-reduction-module
remote:

[2019-07-21 20:56] jywarren commented on #979
Ah, i see! Well, they are about as good as you'll get in the image i've embedded above. They are originally from the Mockups document though! https://docs.google.com/presentation/d/1TCZoTfuhamRVrUak8aDgqJAwSgyhRtZg2Pgacl2_4zc/edit#slide=id.g5a9109bb88_1_4

[2019-07-21 20:59] Divy123 commented on #979
Accha oh!
Thanks a lot.
Have started working on the new model.

[2019-07-22 01:54] #922 closed

[2019-07-22 16:40] aashna27 commented on #1122
Can we close this now?

[2019-07-23 20:24] Divy123 commented on #1170
You are trying to push directly to publiclab/image-sequencer.
Try pushing it to your own fork. It will work then.

[2019-07-23 20:25] Divy123 commented on #1137
Any one working here?
@jywarren want to listen to  you upon this!!

[2019-07-23 20:52] Divy123 commented on #1069
@jywarren @tech4GT @HarshKhandeparkar @Mridul97 I have been trying transferring segments of Run.js into workers. But I think this needs something more than that:

As @tech4GT said here. Can someone please explain the exact use-case, and for sure this is a priority for browser but does browserify has a support for this?

Please help me as this is a bit urgent.

[2019-07-24 22:30] jywarren commented on #1069
But isn't the core of image-sequencer using no DOM, which is how it runs in node? I wonder if we can get some input from @rishabh570 or @rexagod on what portions of this could be most easily put into web workers?

Could we put just the pixelManipulation portion of each step into an asynchronous webworker, or is it too much work to copy over the data anyways?

[2019-07-24 22:32] Divy123 commented on #1069
Sure I will look into what it takes for the data transfer!!

[2019-07-24 22:43] jywarren commented on #1137
I guess i agree that the cropping shouldn't happen, and that it should have
the minimum height and width possible with the new rotation completed!
Thanks, all!

On Tue, Jul 23, 2019 at 4:26 PM Slytherin <notifications@github.com> wrote:

[2019-07-24 22:48] Divy123 commented on #1137
Could you please explain a bit more on that?

On Thu 25 Jul, 2019, 4:13 AM Jeffrey Warren, <notifications@github.com>
wrote:

[2019-07-25 04:02] duyquangnguyenhac commented on #1170
OK here it is!
https://github.com/jywarren/image-sequencer/pull/14

[2019-07-25 15:55] jywarren commented on #1122
Yes, I think so! Thanks!!!

[2019-07-25 15:55] #1122 closed

[2019-07-25 19:58] jywarren commented on #1181
Just hoping @aashna27 or @Divy123 or @HarshKhandeparkar may have some insights here?

[2019-07-25 19:58] jywarren commented on #1181
Can you open a PR for your work so far, @rexagod ? Thank you!

[2019-07-26 16:23] jywarren opened #1184 "New preview optimization - drawing from wrong image?"
hi @aashna27 i tried the new beta published by @HarshKhandeparkar and saw this:

![image](https://user-images.githubusercontent.com/24359/61966027-a5edd980-af9f-11e9-9ab5-181c566bdbd2.png)

It seems like maybe the previews are not drawing on the last step, but the first step?

http://beta.sequencer.publiclab.org/examples/#steps=dither{dither:floydsteinberg}

On the other hand, I tried the non-beta

[2019-07-26 16:26] HarshKhandeparkar commented on #1184
The site doesn't load for me
[code]

[2019-07-26 16:26] HarshKhandeparkar commented on #1184
was anything changed?

[2019-07-26 17:16] jywarren commented on #1137
Just agreeing with you, re:

Thank you!

[2019-07-26 17:27] jywarren commented on #1172
Yes, that's right!

On Wed, Jul 17, 2019 at 12:55 PM Harsh Khandeparkar <
notifications@github.com> wrote:

[2019-07-26 18:23] jywarren commented on #1127
That would be cool!

On Mon, Jul 1, 2019 at 5:09 AM Slytherin <notifications@github.com> wrote:

[2019-07-27 11:08] Divy123 commented on #1170
Actually for this PR, this has to go from your fork that will be the origin in your local:
https://github.com/duyquangnguye/image-sequencer.git

and upstream be:
https://github.com/publiclab/image-sequencer.git

You have made the PR to jywarren's repo, you have to do it to the public lab one.

[2019-07-29 04:20] duyquangnguyenhac commented on #1170
Okay I fixed it, sorry for the inconvenience.

https://github.com/publiclab/image-sequencer/pull/1189

[2019-07-29 21:49] Divy123 commented on #1170
Thanks a lot @duyquangnguyenhac and its completely fine.

[2019-07-30 17:40] aashna27 opened #1192 "Save Button is unresponsive"
#### The save button for different saving options, saving sequence string download gif and save image png is unresponsive. The link does not exist rendering the functionality useless.

![save](https://user-images.githubusercontent.com/26546120/62151805-d1b1ec00-b31e-11e9-8a4f-6cda84396257.png)

I would like to work on this but I need some connecting dots for what do the individual dropdown options

[2019-08-02 09:40] jywarren commented on #1192
Hi, just a quick question first, is this affecting the https://sequencer.publiclab.org demo, or just the latest main, or the beta?

Let's use the `blame` feature to track when this was edited last; i see:

https://github.com/publiclab/image-sequencer/blame/main/examples/index.html#L183

Following through previous versions, like https://github.com/publiclab/image-sequencer/blame/6339229836a42926645

[2019-08-02 09:40] jywarren commented on #1192
Maybe @IgorWilbert @harshithpabbati can help, as they've worked on this section of code?

[2019-08-02 09:44] jywarren commented on #1192
This is a really good one to write a UI test for, actually. And writing one now will highlight the bug (although I've confirmed it seems not to be working on the live https://sequencer.publiclab.org demo).

Interestingly the save button seems not to be connected to any events (at least not via its id `saveButton`).

I do see references to `handleSaveSequence()` : https://github.com/publiclab/image

[2019-08-02 09:48] jywarren commented on #1192
Ah, it was further down in that same file. OK, it may be worth looking through the commits on these two files:

https://github.com/publiclab/image-sequencer/commits/main/examples/demo.js

https://github.com/publiclab/image-sequencer/commits/main/examples/lib/defaultHtmlSequencerUi.js

To see if any of them deleted code that would've been handling this. Thank you!!!

[2019-08-02 13:02] aashna27 commented on #1192
Yeah this is actually the case some commit might have renamed the id and then not changed it at the function handling location because I do remember using this feature, though not exactly sure how it worked so wanted inputs on what things were done with the different options.

[2019-08-02 13:56] #172 closed

[2019-08-03 09:05] #1167 closed

[2019-08-03 09:43] aashna27 opened #1193 "Input coordinates clear understanding by pointer icons"
### We need to make coordinate input fields more descriptive to let the user know that values can be modified by clicking on image coordinates.
Suggestions:

- use a cross hairs icon
- use a mouse or finger pointer icon
- while click event is active, change the cursor itself.

This is an improvement for the current open pr, #1187 and ideas are sought for better inputs.

### Please show us where to

[2019-08-03 09:47] jywarren commented on #1193
Great!! Do you think it should trigger the "choose a pixel" interface when
you click the icon? And, when adding the module, should it auto click it,
basically, to prompt the user initially?

On Sat, Aug 3, 2019, 12:43 PM aashna27 <notifications@github.com> wrote:

[2019-08-03 17:32] aashna27 commented on #1193
Maybe what we can do is that when the icon is clicked the image comes in focus.What say?

[2019-08-03 18:12] aashna27 commented on #1192
We have download gif in 2 places
![download-gif](https://user-images.githubusercontent.com/26546120/62415505-4ef39e80-b648-11e9-85d6-0610bf3a6072.png)
![download-modl](https://user-images.githubusercontent.com/26546120/62415506-50bd6200-b648-11e9-93e7-7370e9a24df5.png)

Do we want to keep both ?

[2019-08-03 21:37] MargaretAN9 commented on #1193
Being able to identify image  coordinates could also be used as part of  a module to calibrate microscope images. Once the points are identified a scaling routine could be sent to the grid module as in  https://publiclab.org/system/images/photos/000/025/299/original/Slide2.JPG

[2019-08-05 13:29] Rishabh570 opened #1195 "Weekly community Check-In #31 - Documentation"
Hi everyone :wave: !

We all at Public Lab :balloon:  - learn, grow, work, brainstorm ideas, contribute together so why not share about our _weekly goals and the awesome work_ we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past we

[2019-08-06 19:00] gauravano commented on #1195
@newbazz @aSquare14 @vaarigupta @alonpeer @aashna27 @harshithpabbati @jesus-montano @cryptoclidus @mohamed-elalem @konolga @gowtham5699

[2019-08-06 19:01] gauravano commented on #1195
@milaaraujo @kevinzluo @Rishabh570 @sashadev-sky @shubhscoder @sidntrivedi012 @SidharthBansal @stefannibrasil @ViditChitkara @tech4GT @mridulnagpal @IshaGupta18 @CoderJolly @namangupta01 @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @icarito @steviepubliclab, @ebarry, @jywarren, @sagarpreet-chadha, @JonathanXu1 @rexagod, @divyabaid16, @dinaelhanan, @oorjitchowdhary @publiclab/me

[2019-08-07 04:44] Michaellin250 commented on #1192
Can i help or no?

[2019-08-07 14:19] aashna27 commented on #1192
yeah yeah you can definitely help, actually I am trying to figure out what is the connectivity for the different dropdown options.

[2019-08-07 19:08] alaxalves commented on #1195
**Update on what you worked on last week**

- Helped @ViditChitkara finish to set up Action Cable in Rails 5.2.3
- Deprecated Sprockets in favor of Webpacker for Rails 6.0.0
- Integrated Webpacker in Rails 6.0.0
- Fixed system tests and Chrome versin in Plots2

**Goals in the coming week**

- Get Action Cable, Foreman and Puma integration fully working on Rails 5.2.3
- Get Rails 5.2.3 on main bran

[2019-08-09 07:23] vaibhavmatta commented on #1192
Is anyone working on this issue. See if I can help in it. :)

[2019-08-09 14:46] aashna27 opened #1201 "Sequence Export Possibilities"
### Discuss sequence export possibilities in the project. Brainstorm ideas for export options.

[2019-08-09 19:49] vaibhavmatta commented on #1201
EXPORT AS:

1. png (High Quality, Small Size)
2.pdf (Highest Quality Possible)
3.jpeg
3.link (available on Cloud Storage)

Tell if any help needed.

[2019-08-09 19:53] vaibhavmatta commented on #1193
<img width="913" alt="Screenshot 2019-08-10 at 1 21 56 AM" src="https://user-images.githubusercontent.com/50797619/62805329-48b06700-bb0d-11e9-89f0-eedee11906d7.png">
Can’t we give a CROP PHOTO button just below the Initial step and make a new node.js app for cropping it? It will look much professional and easier to use.

[2019-08-09 19:56] vaibhavmatta commented on #1161
@MargaretAN9 Is it working  now? or should I work on this issue?

[2019-08-09 19:59] vaibhavmatta commented on #1161
@MargaretAN9 Save button is still not working in my chrome as well as safari browser. I am working on this issue now as I see no other working on it.

[2019-08-09 20:07] vaibhavmatta opened #1202 "Readme.md and CONTRIBUTING.md is incomplete for new contributors"
All the steps about cloning the repository, setting an upstream, running on local server, making PR is not clearly mentioned.

Clear steps should be mentioned for first timers to contribute easily.

### Please show us where to look

https://github.com/publiclab/image-sequencer/blob/main/README.md
https://github.com/publiclab/image-sequencer/blob/main/CONTRIBUTING.md

****

## Thank you!

Your help

[2019-08-09 20:08] vaibhavmatta commented on #1202
@jywarren , May I work on it?

[2019-08-09 20:11] vaibhavmatta commented on #1092
just after npm install,
run :
npm install gl --force

it will forcefully install the gl dependency in your local repository .
Tell if it works,
Thanks

[2019-08-09 20:14] vaibhavmatta commented on #1092
It is responsive now I think. Please tell if I'm wrong.

[2019-08-09 20:27] vaibhavmatta commented on #1195
Hello!
@publiclab/mentors @publiclab/reviewers @Rishabh570 @gauravano @jywarren @aashna27
I am new to public lab but contributing in open source since a month.

**TILL NOW:**
I've helped other contributors through comments.
Opened a new issue #1202

**By this week:**
I am planning to find issues for which PR have not been made yet and resolving as much as possible.

I request you to please tag me

[2019-08-09 21:33] gauravano commented on #1195
Hey @vaibhavmatta, welcome to Public Lab. You can start with small issues in image-sequencer or other project of your interest.

Don't focus on solving large # of issues, focus on the quality and process. Focus on one issue and try multiple when you can manage. Code quality and process is important as it will improve your skill while contributing to Open Source.

[2019-08-09 21:34] gauravano commented on #1202
Go ahead @vaibhavmatta!

[2019-08-09 21:37] vaibhavmatta commented on #1195
@gauravano Thanks alot. I ll make ensure that I will give maximum for the  organization and that too quality Contribution.

[2019-08-09 23:13] MargaretAN9 commented on #1161
thx I assume tis similar to issue 1192

[2019-08-09 23:16] vaibhavmatta commented on #1161
May I start working on it? @MargaretAN9

[2019-08-09 23:34] MargaretAN9 opened #1203 "Grid -overlay error only works for certain values and locks up"
### Please describe the problem (or idea)

Grid overlay locks up  for some values ,  for input values x=100, y=100 color black, it works but for x=0, y=100 it locks up and never finishes, forcing a reload to reconnect

looks similar to issue #1006 but that was a display error , my problem is it doesn't execute

What I would like to do is vary grid spacing to match up with a microscope scale refere

[2019-08-10 01:50] MargaretAN9 commented on #1203
This works in the beta sequencer  as advertised . and it looks like #1006 was the fix?

![image](https://user-images.githubusercontent.com/37722313/62816049-68d12d80-baef-11e9-9431-b2d5618f71d7.png)

[2019-08-10 10:37] vaibhavmatta commented on #1202
@gauravano I have updated readme.md and made a pr. Please have a look on it. I will be updating contributing.md as well and make one more pr soon.

[2019-08-10 12:42] aashna27 commented on #1203
I ll make some fixes and make a pr.

[2019-08-10 22:04] namangupta01 commented on #1195
Hey Guys, If someone is already not opening upcoming week check-in I would like to open.

Thanks!!

[2019-08-11 06:47] gauravano commented on #1195
Sure @namangupta01!

[2019-08-12 10:42] #1195 closed

[2019-08-14 16:28] jywarren commented on #1201
Hi, thanks! This is purely for the exporting of the sequence itself, not of
the images generated by the sequence? Like "save this sequence to use on
other images"?

Part of this is an ambiguity of vocabulary, don't you think? If we say that
"exporting" is just for images, but "saving sequences" ... or something
like that... is for the sequence itself? Or "make a new module from this
sequence" or s

[2019-08-14 18:21] #1192 closed

[2019-08-15 16:42] jywarren commented on #464
@Divy123 @aashna27 @HarshKhandeparkar @MargaretAN9 would anyone like to convert this into an FTO?

[2019-08-15 16:55] aashna27 commented on #464
Yeah i ll do that by tomorrow.

On Thu, Aug 15, 2019, 10:12 PM Jeffrey Warren <notifications@github.com>
wrote:

[2019-08-15 17:01] jywarren commented on #464
awesome! The existing PR is a great starting point!

On Thu, Aug 15, 2019 at 12:56 PM aashna27 <notifications@github.com> wrote:

[2019-08-15 20:44] jywarren commented on #1193
What does "comes in focus" look like?

@vaibhavmatta sorry, i don't quite follow; this isn't specifically a crop issue, can you clarify, and if you'd like to open a new issue for a separate topic, please do!

[2019-08-15 20:56] vaibhavmatta commented on #1193
@jywarren I am talking about giving the option to crop the image. Should I open a new issue for it? I will design my own UI to address the issue. Isn't it good?

[2019-08-15 20:59] jywarren commented on #1193
ah, i think crop should now have this feature, shouldn't it? But, we should
try to imagine the exact UI that will be standard for pixel x,y selection.
I think ideally you click the icon next to the box, and you get a
crosshairs cursor, and then yes, we could somehow highlight the image to
prompt you to click on it?

On Thu, Aug 15, 2019 at 4:57 PM vaibhavmatta <notifications@github.com>
wrote:

[2019-08-15 21:07] vaibhavmatta commented on #1193
@jywarren What if the image gets highlighted as soon as User clicks Crop button and It would be easier for user if he just selects the important area out from picture instead of filling in the values of X,Y etc. .

[2019-08-15 21:09] jywarren commented on #1193
Ah, yes, so that would be the case upon initially adding the step, right?
Yes, i think that makes sense too.

On Thu, Aug 15, 2019 at 5:07 PM vaibhavmatta <notifications@github.com>
wrote:

[2019-08-15 21:10] vaibhavmatta commented on #1193
@jywarren exactly. May I Claim it? I think I can work on it. It's a new feature and I would love to work on it.

[2019-08-15 21:12] jywarren commented on #1193
Sure, if Aashna is ok with it? Thank you!

On Thu, Aug 15, 2019 at 5:11 PM vaibhavmatta <notifications@github.com>
wrote:

[2019-08-15 21:14] vaibhavmatta commented on #1193
@jywarren Welcome Sir. Please keep in mind, my Interest and love for Publiclab. You can tag me in any issue you want me to work on. I would have pleasure in Contributing.
@aashna27 please confirm. Thanks.

[2019-08-16 14:56] jywarren commented on #1193
Great, thank you! If you are still waiting, there are plenty of other
issues you can take up as well! Have you done a first-timers-only issue
yet? Thanks!

On Thu, Aug 15, 2019 at 5:15 PM vaibhavmatta <notifications@github.com>
wrote:

[2019-08-16 14:59] vaibhavmatta commented on #1193
@jywarren Being bit experienced in OpenSource Contributions, I am not touching first-timers-only issues. They are meant to help first-timers to build their Confidence.
Still if you say, I will go for them 🙂.

[2019-08-16 15:29] jywarren commented on #1193
well, you are welcome to do it in order to learn our particular workflow,
but I also appreciate your willingness to jump in on a more challenging
task! We also have "help-wanted" issues. Thanks a lot!

On Fri, Aug 16, 2019 at 11:00 AM vaibhavmatta <notifications@github.com>
wrote:

[2019-08-16 16:15] vaibhavmatta commented on #1193
@jywarren, I will claim some of them 🙂.

[2019-08-17 13:15] HarshKhandeparkar opened #1211 "IS not working on firefox"
### Issue
A few weeks ago, I pushed to the beta site with the new preview compression feature and found that nothing works on firefox.

![Screenshot from 2019-08-17 18-36-57](https://user-images.githubusercontent.com/34770591/63212178-119a1100-c11e-11e9-9346-9e015a6d778a.png)

but the same website works perfectly on chrome
![Screenshot from 2019-08-17 18-38-31](https://user-images.githubuserconten

[2019-08-17 13:16] HarshKhandeparkar commented on #1211
@jywarren @publiclab/is-reviewers this is very important.

[2019-08-18 13:05] keshav234156 commented on #1137
Had done changes.The problem of cropping would be solved but a stake of  liitle amount of image quality to that  of present method for rotation(that to when angle aproaches diagnol angle but best for cased like 90,180,270)
![Screenshot from 2019-08-18 18-24-49](https://user-images.githubusercontent.com/45951376/63224701-9f8cff00-c1e5-11e9-8ad6-517be8e59ba7.png)
image at 30
![download (12)](https:/

[2019-08-18 15:26] HarshKhandeparkar commented on #1137
Bilinear doesn't seem quite right

[2019-08-18 15:26] HarshKhandeparkar commented on #1137
You can do bicubic on a GPU

[2019-08-18 15:27] HarshKhandeparkar commented on #1137
We have that functionality in modules/_nomodule/gpuUtils.js. You can ask me for help with that. I developed it and it should be used more and more

[2019-08-18 15:28] HarshKhandeparkar commented on #1137
If you look at the 90° img, there is a weird line at the top, please try to rectify that

[2019-08-18 15:28] HarshKhandeparkar commented on #1137
Nice work @keshav234156

[2019-08-18 16:26] keshav234156 commented on #1137
@HarshKhandeparkar have fixed the weird line,which was due to round() function i was using,so it was 1px line.
Can you please guide me how we can use bicubic interpolation with gpuUtils.js

[2019-08-18 17:12] HarshKhandeparkar commented on #1137
gpuUtils provides a way to use the GPU. You have to add your own code. The
file has jsdoc comments so you could understand how to use the individual
functions. For an implementation, you can have a look at the blur module.
If you have any further queries, DM me on gitter and notify me here(so that
I get the notification).

Thank you!

On Sun, 18 Aug, 2019, 9:56 PM keshav234156, <notifications@gith

[2019-08-19 14:59] #1203 closed

[2019-08-20 08:01] keshav234156 commented on #1137
@HarshKhandeparkar @jywarren I think it would be better if we use bitmap.js to rotate our image.The problem with it was that it was that is cropped the image,but we can prevent crop by writing some amount of code.This were the results obtained.This would be a much simple and better solution
![Screenshot from 2019-08-20 13-21-01](https://user-images.githubusercontent.com/45951376/63328725-4a203180-

[2019-08-20 12:25] HarshKhandeparkar commented on #1137
@keshav234156 sure

_Sent from my OnePlus3 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2019-08-20 14:01] aashna27 opened #1217 "Custom Resize Option in Resize Module"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all),we've worked to make it more legible to folks who either **haven't contributed to our code-base before, or for folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested

[2019-08-20 15:58] jywarren commented on #979
This is working really well here now! https://divy123.github.io/colorimetry/public/

@Divy123 i'll go to https://github.com/publiclab/colorimetry/issues to post feedback, but great work here!

[2019-08-20 22:45] jywarren commented on #1211
Oh my gosh, @HarshKhandeparkar i'm still catching up on things from vacation so apologies for slow reply here. Thanks for the in-depth analysis, it's very impressive ❤️

Do you really think it's the preview compression that was causing it somehow? Or OpenCV somehow?

Does this affect https://sequencer.publiclab.org?

I'm going to try some analysis on Firefox JS console to see if I can dig further

[2019-08-21 16:25] HarshKhandeparkar commented on #1211
@jywarren
1. No it currently doesn't affect the main site, it's relatively new.
2. I don't think preview resize or openCV could be the cause because they
work fine on chrome. It is something else.
3. Caching has no relation with this as the file is cached though not
loaded.

On Wed, 21 Aug, 2019, 4:15 AM Jeffrey Warren, <notifications@github.com>
wrote:

[2019-08-21 18:16] jywarren commented on #1211
OK, https://beta.sequencer.publiclab.org is indeed showing:

[code]

Since it's minified, we should look at the exact line of the Regex error while running it locally. It may relate to a different Regex API in Firefox?

[2019-08-21 18:25] jywarren commented on #1211
Shouldn't we be able to read the source map to find the exact line?

In any case, this issue marks something similar: https://github.com/sindresorhus/ip-regex/issues/24

I think the key from the comment there is:

https://stackoverflow.com/questions/57469109/syntaxerror-invalid-regexp-group-firefox also highlights that only Chrome allows Regex lookbehinds.

We don't directly use `RegExp(` anywhere

[2019-08-23 15:50] HarshKhandeparkar commented on #1092
@vaibhavmatta are you referring to the pr? #1208

[2019-08-23 15:56] vaibhavmatta commented on #1092
@HarshKhandeparkar Yes ! Was out of town since a week. Now regularly working on it.
Thanks

[2019-08-23 15:58] HarshKhandeparkar commented on #1092
You could leave a review on the PR and ask @jywarren to merge it.

On Fri, 23 Aug, 2019, 9:26 PM vaibhavmatta, <notifications@github.com>
wrote:

[2019-08-23 16:01] vaibhavmatta commented on #1092
Alright 🙂

[2019-08-23 16:23] keshav234156 commented on #1092
@HarshKhandeparkar changes has already been approved by @jywarren  and has asked you and @Divy123 to review it.Can you please do the same!!

[2019-08-23 16:26] HarshKhandeparkar commented on #1092
I'll do once I am free. Probably today.

On Fri, 23 Aug, 2019, 9:53 PM keshav234156, <notifications@github.com>
wrote:

[2019-08-23 16:47] vaibhavmatta commented on #1092
So should I do it or not? @keshav234156 @HarshKhandeparkar

[2019-08-23 16:51] HarshKhandeparkar commented on #1092
Sure @vaibhavmatta. Your review is important.

[2019-08-23 16:52] vaibhavmatta commented on #1092
Alright, I will do it asap 🙂 @HarshKhandeparkar

[2019-08-23 18:58] aashna27 opened #1223 "Blur Image By Radius"
We have a blur image module that accept the value by which you want to blur the image(Gaussian Blur). That blur is added uniformly to the image. To improve on that another input should be added to accept a radius and then apply blur along the radius provided. So the flow goes like this

- [ ] Add a drop-down or Radio Button to select the blur type (Gaussian Blur or Radial Blur)

- [ ] Implement Ra

[2019-08-23 18:58] rexagod opened #1224 "Initial installation errors"
Okay so I migrated to a different machine and `npm i`ed this lib after `sudo apt-get install -y build-essential libxi-dev libglu1-mesa-dev libglew-dev pkg-config`ing the env. The error logs were:
[code]
cc @publiclab/is-reviewers

[2019-08-23 19:01] rexagod commented on #1224
Fixed by installing `xserver-xorg-dev libxext-dev1`. Making a FTO out of this! cc @jywarren

[2019-08-23 19:02] rexagod commented on #1224
And also the `--fix-missing` arg as well.

[2019-08-23 19:02] #1224 closed

[2019-08-23 19:09] rexagod opened #1225 "Add packages for ARM based devices"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-08-23 19:09] rexagod commented on #1224
#1225

[2019-08-23 19:46] jywarren commented on #1223
Oh, that'd be nice!

On Fri, Aug 23, 2019 at 2:58 PM aashna27 <notifications@github.com> wrote:

[2019-08-24 05:45] deveshkau commented on #1225
🙋‍♂️ I want to claim this issue.

[2019-08-24 06:34] rexagod commented on #1225
Done. Go ahead!

Pranshu Srivastava | @rexagod

On Sat, 24 Aug 2019, 11:15 Devesh Kaushik, <notifications@github.com> wrote:

[2019-08-25 10:15] deveshkau commented on #1225
There is no package named "libxext-dev1"

[2019-08-25 16:37] priyanka1204 commented on #1217
can i work on this issue?

[2019-08-25 16:47] priyanka1204 commented on #1217
Hello @aashna27 , can i take this?

[2019-08-25 17:16] HarshKhandeparkar commented on #1225
@deveshkau no problem. A general version of the package is better instead of a specific version.

[2019-08-25 17:17] aashna27 commented on #1217
Yeah yeah suree please claim it. Do assign yourself!

On Sun, Aug 25, 2019, 10:17 PM Priyanka Bansal <notifications@github.com>
wrote:

[2019-08-26 13:42] #1049 closed

[2019-08-26 13:42] #1092 closed

[2019-08-26 14:27] jywarren opened #1230 "travis failures due to upstream library"
i think this is an upstream server not responding, causing is builds to fail, does that seem correct? https://travis-ci.org/publiclab/image-sequencer/builds/576825636

[2019-08-27 17:10] Divy123 opened #1232 "Update Pull_Request.md file for new PR workflow."
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-08-27 17:12] blurry-x-face commented on #1232
Can i work on this issue?

[2019-08-27 17:12] Divy123 commented on #1232
Yes, go ahead!!

[2019-08-28 16:53] keshav234156 commented on #465
@jywaren made some cahnges.
![Screenshot from 2019-08-28 22-20-37](https://user-images.githubusercontent.com/45951376/63875940-29a54680-c9e2-11e9-826f-54d61774004d.png)
![Screenshot from 2019-08-28 22-20-53](https://user-images.githubusercontent.com/45951376/63875952-2d38cd80-c9e2-11e9-9fe2-2a72d7095f6d.png)
![Screenshot from 2019-08-28 22-21-00](https://user-images.githubusercontent.com/45951376/

[2019-08-28 21:59] #1232 closed

[2019-08-28 22:18] jywarren commented on #465
Yes! It is! Wow, great work! Do you have a PR open for this? Thank you!

[2019-08-28 23:41] blurry-x-face opened #1236 "Select a Module dropdown covers Add Step button in 1920 screen width"
### Select a Module dropdown covers Add Step button in 1920 * 1080 screen size.

![Screenshot from 2019-08-29 04-51-58](https://user-images.githubusercontent.com/42492389/63899534-d26f9800-ca1a-11e9-8c77-a2f2d8596c93.png)

### Browser, version, and operating system
Browser: Google Chrome 72.0.3626.81 (Official Build) (64-bit)
OS: Ubuntu 18

[2019-08-28 23:42] blurry-x-face commented on #1236
Can i work on this?

[2019-08-29 06:00] keshav234156 commented on #1236
@blurry-x-face this issue has been fixed recently with #1208. So i think you can close this issue.

[2019-08-29 06:09] keshav234156 commented on #1236
@jywarren what do you think about this?

[2019-08-29 07:33] keshav234156 commented on #465
@jywarren it's also working fine with the beta version.I think that this issue has been fixed with #1082 .
So we could now this this issue

[2019-08-29 07:55] Rishabh570 opened #1237 "service worker responds with cache to fetch requests everytime its available"
### Please describe the problem (or idea)

[This](https://github.com/publiclab/image-sequencer/blob/main/examples/sw.js#L27) line in `sw.js` is responsible for responding with cache to every fetch request whenever the cache is available. Does this mean user would be getting a cached response every time? Do we have any cache invalidation techniques to make sure cache doesn't get stale?

### Please

[2019-08-29 16:01] HarshKhandeparkar commented on #1236
Yes sure. This was fixed. Thanks for opening this anyway @blurry-x-face. No worries, I will update the beta demo site soon.

[2019-08-29 16:01] #1236 closed

[2019-08-29 17:16] HarshKhandeparkar opened #1238 "Current main branch IS UI is broken, again"
The UI has broken again. :disappointed:
**NOTE**: THE [LIVE DEMO](https://sequencer.publiclab.org) IS WORKING

![ui-broken](https://user-images.githubusercontent.com/34770591/63960063-3b9eec00-caab-11e9-82ab-d3cd6f7609ba.gif)

1. The form for selecting input doesn't work properly. The contrast option input in the above GIF is supposed to be a slider.
2. The apply button has broken itself again. :s

[2019-08-29 17:16] keshav234156 opened #1239 "problem with meta-modules"
There are many errors occuring while using meta-module(colorbar and ndvi-colormap).
Steps to reproduce
1 .chose nvdi-colormap(or colorbar)
2.then chose any other module and change the value that is not the default value
it would now change image produced by the above mentioned module as well .

![Screencastfrom29-08-19095222PMIS](https://user-images.githubusercontent.com/45951376/63961584-bae1ef00

[2019-08-29 17:16] HarshKhandeparkar commented on #1238
@publiclab/is-reviewers @jywarren @Divy123 @aashna27 @tech4GT

[2019-08-29 17:18] keshav234156 commented on #1239
@jywarren @HarshKhandeparkar please have a look

[2019-08-29 17:20] HarshKhandeparkar commented on #1239
I had a look at this already. Would like to solve this one? Do you have any idea why this is happening?

[2019-08-29 17:20] harshithpabbati commented on #1238
Probably we can go with react and start remaking everything. Including the tests from the start. What do you say @jywarren @publiclab/is-reviewers ?

[2019-08-29 17:33] jywarren opened #1240 "PixelManipulation in many modules where unneeded?"
It looks like the PixelManipulation functions are used in many modules which dont actually do per-pixel math. I wonder if we could optimize this!

More soon.

cc https://github.com/publiclab/image-sequencer/issues/550

[2019-08-29 21:43] rexagod commented on #1238
I'd love to be a part of the remake! Very interesting! @jywarren, since we are considering a rebuild, could this be the refactor we were talking about (for the asynchronous aspects of IS)?

[2019-08-30 02:32] BrooksPatola commented on #1240
Would love to be part of the optimization if possible.

[2019-08-30 03:11] HarshKhandeparkar commented on #1238
This issue is only talking about the UI part which is totally broken right
now.

On Fri, 30 Aug, 2019, 3:13 AM Pranshu Srivastava, <notifications@github.com>
wrote:

[2019-08-30 03:25] HarshKhandeparkar commented on #1238
I have a lot of experience in react. I have built full websites with it.
Backend, animations with react spring etc. I think will start the project
in my repo. I will let others know when the basic project is ready.

On Fri, 30 Aug, 2019, 8:41 AM M K, <mjkgoa@gmail.com> wrote:

[2019-08-30 05:13] harshithpabbati commented on #1238
@HarshKhandeparkar link me with the repo. I will be helping you :)

[2019-08-30 10:24] prakashujjwal1010 opened #1241 "Load URL to choose image"
### Please describe the idea

we can have a Load URL feature in image sequencer , which takes url of the image and get the image from web.

currently image sequencer have three methods to get input image
1) by selecting
2) by drag and drop
3) by camera
 but to take images directly from web, we should have Load URL feature.

### Please show us where to look

https://beta.sequencer.publiclab.org

[2019-08-30 13:03] HarshKhandeparkar commented on #1238
Sure

On Fri, 30 Aug, 2019, 10:43 AM Harshith Pabbati, <notifications@github.com>
wrote:

[2019-08-30 15:07] jywarren commented on #1238
Hi all, I've changed the title. Thank you for catching this issue :heart:

However, I want to really emphasize that:

1. the breakage is in beta, not the main demo
2. recommendation 2) above is one which we have already committed to, but have not managed to follow up with -- UI testing can easily catch issues like this, and is not very hard to implement. I'd like to strongly push this option.
3. I

[2019-08-30 16:27] HarshKhandeparkar commented on #1238
@jywarren I understand what you want to say. I think you didn't get why I said we should start with a new framework. This is so that we can make a new start. We could add tests along the way, from the start itself. A new UI would clean the code and protect it from future breakage.

[2019-08-30 16:42] jywarren commented on #1238
Thanks Harsh, i am just concerned that adding UI tests along the way is what we are already doing, but maybe not thoroughly enough, you know? What do you think of accelerating our UI testing work as our very top priority, as the thing that can most protect the code from breakage.

This can lay important groundwork for a /new/ UI project, but that kind of project may be really substantial and we'll

[2019-08-30 16:42] HarshKhandeparkar commented on #1238
Another benefit is that react takes care of the service worker and caches automatically. We just need to create a new clear cache btn.

[2019-08-30 16:45] HarshKhandeparkar commented on #1238
@jywarren I actually said that the two things can be done simultaneously. We can still develop this UI and the new one will be developed in one of my repos (as discussed above). We will slowly start using the new UI once it is ready. Until then, no need to worry, the main repo will not be affected.

[2019-08-30 16:48] HarshKhandeparkar commented on #1238
@rexagod @harshithpabbati the new repo is here https://github.com/HarshKhandeparkar/image-sequencer-ui. I will add you two as maintainers if you want.

[2019-08-30 16:56] blurry-x-face commented on #1000
I would love to work on this issue

[2019-08-30 16:56] HarshKhandeparkar commented on #1000
sure go ahead

[2019-08-30 16:57] Divy123 commented on #1000
Yes please go ahead!

I would love to collaborate on this.

On Fri 30 Aug, 2019, 10:26 PM Rishabh Shukla, <notifications@github.com>
wrote:

[2019-08-30 17:25] BrooksPatola commented on #1217
is this still open?

[2019-08-30 17:25] HarshKhandeparkar commented on #1217
I guess yes. Go ahead

[2019-08-30 17:26] jywarren commented on #1237
We'd prefer that the latest version is made available if it can be fetched, and that the cache remain a fallback. What should we change it to in order to achieve that? Thank you!

cc #605 #953 #761

[2019-08-30 17:28] jywarren commented on #1000
Much ❤️ to you all!!!

Shall we make a checklist of UI actions that could be tested for?

* [ ] clicking Add Step and confirming a new box appears, and a new image appears
* [ ] Add Step for various modules
* [ ] Clicking Insert Step adds a new box, and modifies the image
* [ ] Clicking Delete Step removes the image

These could be largely independent from the UI implementation as long as the add

[2019-08-30 17:29] jywarren commented on #1000
Also updated location of existing UI tests! https://github.com/publiclab/image-sequencer/tree/main/test/ui/spec

[2019-08-30 17:32] jywarren commented on #1000
Here is the most likely section for the listed tests above!

https://github.com/publiclab/image-sequencer/blob/3741d679bd34812efb29d256bb4e033340d086e9/test/ui/spec/defaultHtmlSequencerUi.spec.js#L27-L41

Note that we are not yet testing click events and such. I think the tests are just really minimal stubs, confirming that the UI was set up, but not testing that it works, is that right?

Also:

*

[2019-08-30 17:52] BrooksPatola commented on #1217
Thanks. I'll give it ago @HarshKhandeparkar

[2019-08-30 18:01] HarshKhandeparkar commented on #1238
I have added the basic scaffolding so far. Now we can build upon it.
![Screenshot from 2019-08-30 23-30-32](https://user-images.githubusercontent.com/34770591/64041923-50987f80-cb7e-11e9-921c-34471eaf893d.png)

@harshithpabbati @rexagod @jywarren @publiclab/is-reviewers

[2019-08-30 18:58] BrooksPatola commented on #1217
@HarshKhandeparkar  If i'm understanding correctly, you wish to keep the current Proportional Resize option (125% start value) but would like to add a Custom Resize option that would take both a width and heigh percentage then apply that to the image?

[2019-08-30 18:59] HarshKhandeparkar commented on #1217
yes exactly

[2019-08-30 19:01] BrooksPatola commented on #1217
@HarshKhandeparkar  Would you have a general outline to go about doing this? Just so I am not missing any steps. If not, I will dive into it soon.

[2019-08-30 19:03] HarshKhandeparkar commented on #1217
Nope. You can start right away. I would generally start by understanding the current code and play with it and then fix the issue.

[2019-08-31 06:03] Rishabh570 commented on #1237
Okay so for that, I guess we should be using `Network with Cache fallback Policy` then...this would ensure that response is coming from the network when it's possible, it will fall back on the app cache if needed.

Something similar is implemented [here](https://github.com/publiclab/community-toolbox/blob/main/sw.js#L25) in community toolbox, we can switch to something similar if it is not breakin

[2019-08-31 14:35] HarshKhandeparkar commented on #1238
Issue regarding this in my repo: https://github.com/HarshKhandeparkar/image-sequencer-ui/issues/2
@jywarren @publiclab/is-reviewers

[2019-08-31 17:59] BrooksPatola commented on #1217
@HarshKhandeparkar

I know I should include custom resize functionality in the resize module itself, but I am having difficulty finding where I should include the html tags for the module. When i run the project with 'npm start', it goes to the example page, then I can use Chrome dev tools to see the current elements, I am just unsure of the file to target to include new values. If you have any su

[2019-09-01 05:38] HarshKhandeparkar commented on #1217
To include new options, you have to change the info.json file inside the
module folder

On Sat, 31 Aug, 2019, 11:29 PM Brooks Patola, <notifications@github.com>
wrote:

[2019-09-01 12:42] Divy123 commented on #1000
As I discussed with Pranshu, he suggested that testing with Jest along with puppeteer is a good way to proceed here.
What do you think @jywarren , @blurry-x-face ?

[2019-09-01 19:59] jywarren commented on #1238
Hi Harsh -- if you build a new UI, will the tests be applied here in this repository, and the new UI run against them? I left more notes in #1000 as well. Thank you!

[2019-09-01 20:02] jywarren commented on #1000
Hi! I'm not against a weighing of pros/cons to switching test libraries, but is there a problem with the current test setup that you're interested in addressing by switching?

[2019-09-01 20:11] jywarren commented on #1000
Gaah! I accidentally committed to `main` branch here, i'm sorry:

https://github.com/publiclab/image-sequencer/commit/fb452f7788b7f0641fe1419f649ff5f5ba0f3be9

However, you can see a very clear UI test that is only 3 lines, for the quick selector! cc @harshithpabbati @Divy123 @rexagod @blurry-x-face

[2019-09-01 20:12] jywarren commented on #1000
I apologize for the mistake, i'll revert it as soon as it fails, but will open it in a new PR.

[2019-09-01 20:38] jywarren commented on #1000
Reverted, now working on it at: #1242

To address #1238, which Harsh identified, it would be something like:

[code]

[2019-09-01 20:40] jywarren commented on #1000
Does this makes sense to you all? cc @publiclab/is-reviewers Thanks!

[2019-09-02 05:13] HarshKhandeparkar commented on #1238
I will make sure that the new UI has all the necessary tests. The UI can be
tested in its own repo if we split the repos or a new sub-project can be
made inside the `examples/` which I won't recommend.

Instead, my plan is to use a separate UI repo as a github submodule in the
main repo.

On Mon, 2 Sep, 2019, 1:29 AM Jeffrey Warren, <notifications@github.com>
wrote:

[2019-09-02 05:37] HarshKhandeparkar commented on #1238
Lol, I found a new bug. This is getting crazy. If you click on the step collapse btn and if you have multiple steps, clicking on the load-image step collapses something totally different. After some time, all the collapse btns break.

[2019-09-02 15:33] jywarren opened #1245 "ES6 failure in tests"
https://travis-ci.org/publiclab/image-sequencer/jobs/579551472 is showing an ES6 failure to recognize the `=>` syntax, although that doesn't seem to be what's failing. So, two issues: first that we should either change that syntax or be sure it works in tests, and second, we should make sure tests fail when an error like this pops up!

[code]

[2019-09-02 15:33] jywarren commented on #1245
It's in this file, btw!     Failed to parse file: /home/travis/build/publiclab/image-sequencer/src/modules/MinifyImage/Module.js

[2019-09-02 20:26] Divy123 commented on #1238
I also agree with @jywarren that right now, UI testing should be our top priority and all those changes related to new UI frameworks should be our last priority.

Secondly, I think using a UI framework like React does not guarantee that our UI doesn't break again.
Personally, I am also a react nanodegree graduate and the project, if goes with react is a great opportunity, but at this point of time

[2019-09-02 20:37] blurry-x-face commented on #1000
Actually jest is a more maintained testing library but I will look through jasmine.

Thanks @jywarren
cc: @Divy123

[2019-09-03 06:44] HarshKhandeparkar commented on #1238
Switching to React will make the code cleaner and manageable. If we are to
write tests now, we need to first fix the bugs(some of which are listed
here). The code is already very messy and fixing bugs is very difficult.

This is why I think we should already start developing a new UI
simultaneously so that we can switch to it asap.

On Tue, 3 Sep, 2019, 1:56 AM Slytherin, <notifications@github.com

[2019-09-03 08:32] keshav234156 commented on #465
@jywarren @HarshKhandeparkar can you please close this issue as it's already fixed in #1082 and is working as expected in beta version .

[2019-09-03 14:13] #465 closed

[2019-09-03 17:57] jywarren commented on #1240
Thank you so much! I believe unless we're actually changing per-pixel color values, it's not needed, so we can list out modules where it should be possible to remove it!

https://github.com/publiclab/image-sequencer/tree/main/src/modules/

* [ ] DecodeQr
* [ ] ImportImage
* [ ] BlobAnalysis, i think

... and then, we should look to an existing example of a module with no PixelManipulation -- or th

[2019-09-04 17:54] keshav234156 opened #1247 "Bugs in AddQR,Draw-rectangle,Grid-overlay after #1188"
- [x] AddQR is not working as expected
![Screenshot from 2019-09-04 13-45-19](https://user-images.githubusercontent.com/45951376/64278489-7fda3280-cf6a-11e9-95a3-53335720656b.png)

- [x] Color-picker is not working in Draw-Rectangle
![Screenshot from 2019-09-04 22-44-25](https://user-images.githubusercontent.com/45951376/64278615-ccbe0900-cf6a-11e9-9f5f-39d2e20d7175.png)

- [x] Color-picker is not

[2019-09-04 17:55] keshav234156 commented on #1247
cc : @jywarren @HarshKhandeparkar

[2019-09-04 19:51] jywarren commented on #1247
Thank you for reporting!  Would you have any interest in trying to resolve
some of these? Thank you!

On Wed, Sep 4, 2019 at 1:56 PM keshav234156 <notifications@github.com>
wrote:

[2019-09-04 20:08] keshav234156 commented on #1247
@jywarren currently my university exam are going on,will end on September 13.would try to fix all these issue after that.In the meantime can you please review the PR #1218

[2019-09-04 22:22] jywarren commented on #1238
Thanks all for your thoughts. I have almost gotten HTML Jasmine UI tests running here, but I think that to truly test them in the browser we need to start tracking dist files again, although we can def. leave them .gitignored. https://github.com/publiclab/image-sequencer/pull/1242

or is there another way to run the tests? Like, could we add a `grunt build` step to the test suite workflow?

[2019-09-05 08:29] HarshKhandeparkar commented on #1238
Can a grunt task run the tests?

[2019-09-05 18:50] sashadev-sky opened #1249 "update code of conduct"
update to reflect the updates on https://publiclab.org/conduct Aug 28 2019, and also standardize its formatting to match LDI, Mk, etc.

[2019-09-05 21:56] jywarren commented on #1238
Yes, that's possible; you mean for better integration so we have like a
build, then test, task, and then a task which does those two?

On Thu, Sep 5, 2019 at 4:30 AM Harsh Khandeparkar <notifications@github.com>
wrote:

[2019-09-06 06:30] HarshKhandeparkar commented on #1238
A grunt task which builds and then runs tests.

On Fri, 6 Sep, 2019, 3:26 AM Jeffrey Warren, <notifications@github.com>
wrote:

[2019-09-07 15:04] jywarren commented on #1245
Hi @Divy123 what do you think of this? Thanks!

[2019-09-09 17:31] keshav234156 opened #1252 "Minify image module not working"
The minify-image module in beta version is not working.It should compress the size of image but is just returning the same image on which it is applied.

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they'll be resolved, see:

https://publiclab.org/wiki/developers#Contribu

[2019-09-09 18:00] keshav234156 commented on #1252
cc @jywarren

[2019-09-09 18:05] HarshKhandeparkar commented on #894
fixed

[2019-09-09 18:05] #894 closed

[2019-09-11 15:18] #1225 closed

[2019-09-11 15:55] Starkyv commented on #1217
Is this issue still open?

[2019-09-11 19:28] #1247 closed

[2019-09-12 00:11] Starkyv commented on #1217
How to Claim the issue?

[2019-09-12 00:20] Starkyv commented on #1217
@BrooksPatola Do you need any help in solving this issue? I can help you out if so.

[2019-09-12 01:33] HarshKhandeparkar commented on #1217
If @BrooksPatola doesn't reply in a few days, I guess you can work on it if you want @Starkyv

[2019-09-12 05:19] BrooksPatola commented on #1217
@harshithpabbati  Still on it. Will update within the next week.

[2019-09-13 21:11] keshav234156 opened #1255 "bugs in gamma-correction module"
- [ ] gamma-correction is not working as expected

with gamma value of 0.5 the expected output should be
![download (34)](https://user-images.githubusercontent.com/45951376/64894862-7fdbe000-d698-11e9-828a-2bbf7bebd90e.png)
but output that is given by IS is
![download (35)](https://user-images.githubusercontent.com/45951376/64894910-a26df900-d698-11e9-916d-634051bd5315.png)

what i found is that w

[2019-09-13 21:13] keshav234156 commented on #1255
@jywarren @HarshKhandeparkar have a look

[2019-09-13 21:14] keshav234156 commented on #1255
@jywarren @HarshKhandeparkar should i make first part of this issue as fto-issue

[2019-09-13 22:01] #1252 closed

[2019-09-16 03:37] Starkyv commented on #1217
Sure @BrooksPatola . Take your time.

[2019-09-16 04:10] Starkyv commented on #1084
Can I take up this issue?

[2019-09-19 03:59] Starkyv commented on #1217
@BrooksPatola Can I help you with this issue? If so please enlighten me with the problem you are facing.

[2019-09-22 15:23] HarshKhandeparkar commented on #1238
@jywarren @publiclab/is-reviewers please have a look at https://github.com/HarshKhandeparkar/image-sequencer-ui/pull/5

[2019-09-23 15:23] keshav234156 opened #1261 "bugs in insert step functionality"
- [ ] insert steps add step multiple number of time and are mostly added after some random step.

- [ ] close button and radio group buttons are not working

- [ ] there are some undefined options in select module dropdown
![Sep 23, 2019 8_49 PM (2)](https://user-images.githubusercontent.com/45951376/65439019-2451e500-de44-11e9-8a00-9013fd6674ec.gif)

### Please show us where to look

https://beta

[2019-09-23 15:23] keshav234156 commented on #1261
cc : @jywarren  @HarshKhandeparkar

[2019-09-23 15:57] jywarren commented on #1261
Thank you! These are indeed serious issues. I've been stuck on developing UI tests to protect against them here: #1242 and if you are able to help resolve these we'd LOVE your help. Thank you!

[2019-09-24 20:45] #1137 closed

[2019-09-25 22:31] jywarren commented on #1084
We'd love your help! Sorry for the slow reply!

On Mon, Sep 16, 2019 at 12:11 AM Starkyv <notifications@github.com> wrote:

[2019-10-01 18:23] #913 closed

[2019-10-05 20:24] vaibhavmatta commented on #1245
Hey @jywarren , Sorry, I was bit busy due to my university exams. I am back to the field now. May I try to figure out the solution for this issue? Thanks

[2019-10-05 20:35] vaibhavmatta commented on #1223
@aashna27  @jywarren is anyone working on it?

[2019-10-05 20:39] vaibhavmatta commented on #1261
@jywarren May I claim this issue?

[2019-10-05 20:43] keshav234156 commented on #1261
@vaibhavmatta PR #1266  which fixes this issue is already present.If you could review the PR it would be a great help!!

[2019-10-07 01:55] HarshKhandeparkar commented on #1223
You can work on this one. I had updated the blur module some months ago to add GPU acceleration. Please make sure to keep that feature in the radial blur module too. If you need help, you can DM me on gitter
 Ty!

[2019-10-07 01:56] HarshKhandeparkar commented on #1245
Yes sure.

[2019-10-07 01:58] HarshKhandeparkar commented on #1245
BTW, @jywarren we have babelify as a dependency. We can use it to babelify the tests before running them. I had run into a similar issue some time back so I had added babelify but I think I somehow circumvented the issue but forgot to remove the dep. It may be helpful now.

[2019-10-07 16:03] #1255 closed

[2019-10-07 20:07] keshav234156 commented on #1245
@jywarren  @HarshKhandeparkar the problem is with the istanbul version in package.json changing"istanbul": "^0.4.5" to  "istanbul": "^1.0.0-alpha.2" works.Had tried it locally.Should i open a PR which fixes this issue??

[2019-10-08 16:14] vaibhavmatta commented on #1223
@HarshKhandeparkar  @jywarren What if we use a third party library to apply this radial blur effect and add GPU acceleration afterwards? I think this will efficient way. What's your say?

[2019-10-08 18:23] HarshKhandeparkar commented on #1223
It will be very difficult to do so. Perhaps impossible. Even if it is
possible, it will be very inefficient. We need to make it native.

On Tue, 8 Oct, 2019, 9:44 PM vaibhavmatta, <notifications@github.com> wrote:

[2019-10-08 18:27] vaibhavmatta commented on #1223
@HarshKhandeparkar Then mathematical concepts would be required to do it by native method. Can you please give me just an idea about how can I do it? I will surely do some research work on it.

[2019-10-08 18:32] vaibhavmatta commented on #1223
@HarshKhandeparkar Should I see HTML5 Canvas method for circular/radial blur? I think it is the only native method available.

[2019-10-08 18:40] vaibhavmatta opened #1270 "Change Blur to Gaussian Blur"
Name of module BLUR should be changed to GAUSSIAN BLUR in order to make it more specific. It will make easier for user to select the type of blur he wants to apply on his image. Also, we can add more types of Blur Modules such as Radial Blur (I'm working on it), Lens Blur, etc.

[2019-10-08 18:41] vaibhavmatta commented on #1270
@jywarren What's your say?

[2019-10-09 14:12] HarshKhandeparkar commented on #1270
You can open a PR for this or you can include this in your radial blur PR and close both the issues in one shot

[2019-10-09 14:13] HarshKhandeparkar commented on #1223
I don't using canvas is good. For canvas node support, we use pupeteer which essentially runs a full blown browser in node which is inefficient and for a small task like this I would highly recommend doing this in pure js.(pure js can be gpu accelerated)

[2019-10-09 14:14] HarshKhandeparkar commented on #1223
I will DM you on gitter about how to do it and the math involved in it.

[2019-10-10 15:49] vaibhavmatta commented on #1240
@jywarren I will go through each module and see where the pixelManipulation function is not required. Will be opening a PR for this supersoon..!

[2019-10-10 15:52] vaibhavmatta commented on #1245
@jywarren @HarshKhandeparkar Is the issue solved now?

[2019-10-10 15:59] HarshKhandeparkar commented on #1245
I think so. There is an open PR. You can review the PR if you want.

[2019-10-10 16:05] vaibhavmatta commented on #1245
Alright.! Thanks

[2019-10-12 17:08] rahulzura commented on #1084
Can I take this issue or is anyone working on it?

[2019-10-12 17:55] HarshKhandeparkar commented on #1084
You can work on it. Just make sure that no one else is working on it.

On Sat, 12 Oct, 2019, 10:38 PM Rahul Kumar, <notifications@github.com>
wrote:

[2019-10-12 21:52] vaibhavmatta opened #1273 "Add Sharpen Image Module"
### A Sharpen Module to make Image more sharper as per user's need should be added to Image-Sequencer.

Initial Image and Sharpened Images should look like,

Orignal Image:
![edgedetection1](https://user-images.githubusercontent.com/50797619/66708072-a27d1980-ed68-11e9-9409-761fdd880276.jpg)

Sharpened Image:
![edgedetection2](https://user-images.githubusercontent.com/50797619/66708074-aa3cbe00-ed

[2019-10-12 21:53] vaibhavmatta commented on #1273
@jywarren @HarshKhandeparkar I know how to do it and I am working on this module.
Thanks 😊

[2019-10-13 04:46] amreshk005 commented on #842
Hey there, can you please add my name to the FTO list.

[2019-10-13 05:39] HarshKhandeparkar commented on #842
Done. You can search for existing ones though.

[2019-10-13 05:39] HarshKhandeparkar commented on #1273
Don't we have a noise reduction module? Are they similar?

[2019-10-13 06:33] HarshKhandeparkar commented on #1273
We appreciate your enthusiasm and your ideas are awesome. Just make sure to improve upon this module because the sharpened image shown in the issue body doesn't look very nice. It is not blurred but the artifacts....

[2019-10-13 07:04] vaibhavmatta commented on #1273
Thanks @HarshKhandeparkar
Noise reduction module is for reducing the Grains in the image. Sharpening module will work on edge detection algorithm and will increase the details of Image as per user's needs.

I think our aim is not to make image look nice but to change the image According to the user. Yes, the Sharpened image in the issue body doesn't look nice but if user wants to Sharpen a colorfu

[2019-10-13 09:24] HarshKhandeparkar commented on #1273
Ah ok now I understand properly. The image set me off initially. Thanks! You can ask @publiclab/is-reviewers for any help.

[2019-10-13 12:10] vaibhavmatta commented on #1273
@HarshKhandeparkar Yes.! I am working on it. I ll ask you and others if any help needed. Thanks!

[2019-10-13 18:58] vaibhavmatta opened #1274 "Save and Preview GIF buttons not working"
### Save and Preview Buttons are not working. There comes an error in the chrome's inspect element CONSOLE whenever "Preview GIF" button is clicked.

### Please show us where to look -> https://sequencer.publiclab.org

<img width="1440" alt="Screenshot 2019-10-13 at 3 52 17 AM" src="https://user-images.githubusercontent.com/50797619/66720389-8d13f800-ee19-11e9-8a4e-d10d34012786.png">

****
## Than

[2019-10-13 19:05] vaibhavmatta commented on #1274
cc: @jywarren @HarshKhandeparkar

[2019-10-13 19:30] vaibhavmatta commented on #1273
@jywarren What's your say? I think this module will add a new feature and that’s good for IS.

[2019-10-14 18:46] vaibhavmatta opened #1275 "[FEATURE] Add Cartoonify Module"
### A module to CARTOONIFY the image (As shown in the Image below) should be added to Image Sequencer.

<img width="681" alt="Screenshot 2019-10-15 at 12 12 15 AM" src="https://user-images.githubusercontent.com/50797619/66775077-d5e2b400-eee0-11e9-9d5a-908dde538832.png">

****

## Thank you!

[2019-10-14 18:50] vaibhavmatta commented on #1275
CC: @jywarren @IgorWilbert @HarshKhandeparkar

I am working on this module as well.
Presently, I am working on three new modules altogether .
1. Radial Blur Module
2. Sharpen Image Module
3. Cartoonify Image Module

Will be making PRs for all of them before next week.
@jywarren Please comment if you expect anything else. I've made a list of modules which can be added to Image Sequencer in future a

[2019-10-15 15:05] vaibhavmatta commented on #1000
@jywarren I am claiming it now. Let us work on it together.! The UI needs to be stable. Will make a PR for this super soon.
Thanks

[2019-10-15 18:46] vaibhavmatta commented on #1274
@publiclab/reviewers , @@publiclab/is-reviewers
Please add Fto label to it, Thanks : 😊

[2019-10-16 03:24] amreshk005 opened #1276 "While croping the image, when we increase the width image repeats itself."
<h3>While cropping the image, when we increase the width more than it's original width image gets repeated</h3>

<p>The image shouldn't get repeat after the increment of width.</p>

![Screen Shot 2019-10-16 at 8 51 25 AM](https://user-images.githubusercontent.com/35935083/66885553-42010d00-eff2-11e9-9771-259e8f6c0f89.jpg)

## Thank you!

[2019-10-16 03:33] amreshk005 commented on #1276
@jywarren Please review this issue, is this a valid?

if it is valid I would like work on this issue

[2019-10-16 10:46] keshav234156 commented on #1276
@amreshk005 Thanks for opening the issue.I also noticed this bug earlier.I think expected behaviour should be to add whitespace as it does with the height.It must be an easy fix as behaviour of height is correct which just need to make some changes with height as well.Go ahead!!

[2019-10-16 10:54] keshav234156 commented on #1276
@HarshKhandeparkar what do you think?

[2019-10-16 12:49] vaibhavmatta commented on #1276
@amreshk005 , @keshav234156
I think Crop means to cut out unwanted part from Image either Horizontally (along Width) or Vertically (along height). Thus, the user must not write values greater than Orignal width and height of the Image. There should be error whenever User fills greater value in Width or Height.
Thanks 😊

[2019-10-16 12:52] vaibhavmatta commented on #1276
@keshav234156 , @amreshk005
Rather we should ask user to enter PERCENTAGE of WIDTH/HEIGHT Crop. It will look much professional and will be much easier for user to crop by adding % value as every user is not familiar with the dimensions of the Image he is working on.

[2019-10-20 18:21] HarshKhandeparkar commented on #1276
I think Vaibhav is right here. That would be much better but we will still have to add error handling because user can enter >100%.

@amreshk005 you can add that as a possible fix to this issue body itself.

Amresh can still work on the issue.

[2019-10-20 18:23] HarshKhandeparkar commented on #1274
@vaibhavmatta Please use the beta site https://beta.sequencer.publiclab.org. This issue is fixed there and it will soon be on the stable one too. Closing this one. Feel free to reopen.

[2019-10-20 18:24] #1274 closed

[2019-10-20 18:25] HarshKhandeparkar commented on #1275
:+1:

[2019-10-20 18:53] vaibhavmatta opened #1277 "Find typing errors in Readme file"
### Have a look if there are any typo errors in the README.md file.

[2019-10-20 18:55] vaibhavmatta commented on #1277
While reading the Readme.md, I just found an Typo error which should be corrected. This is not even a FTO issue. It is just made for referencing the PR. Thanks

[2019-10-21 14:05] vaibhavmatta commented on #1276
@amreshk005 Please confirm it once if you are working on it?
if YES, then please keep giving the updates regarding the issue so that I and @HarshKhandeparkar can plan for further actions on this module. Thanks 😊

[2019-10-22 03:00] amreshk005 commented on #1276
@vaibhavmatta @HarshKhandeparkar I would like to work on this.

[2019-10-22 04:36] vaibhavmatta commented on #1276
@amreshk005 Plz do it. Tag me up wherever you feel stuck.
Happy Coding!

[2019-10-26 11:43] HarshKhandeparkar commented on #1084
I think this was fixed

[2019-10-26 11:43] #1084 closed

[2019-10-26 12:00] HarshKhandeparkar commented on #212
We'll find a new solution while developing the new UI. This one isn't working properly.

[2019-10-26 12:00] #212 closed

[2019-10-26 12:02] HarshKhandeparkar commented on #246
Will be addressed in a separate issue.

[2019-10-26 12:02] #246 closed

[2019-10-26 12:02] HarshKhandeparkar commented on #246
https://github.com/publiclab/image-sequencer/issues/1238

[2019-10-26 12:04] HarshKhandeparkar commented on #391
Done

[2019-10-26 12:04] #391 closed

[2019-10-26 13:40] HarshKhandeparkar commented on #844
Bots cannot do this apparently. Instead, us reviewers need to be on our toes.

[2019-10-26 13:40] #844 closed

[2019-10-26 13:50] HarshKhandeparkar commented on #873
Done

[2019-10-26 13:50] #873 closed

[2019-10-26 13:54] #963 closed

[2019-10-26 13:59] HarshKhandeparkar commented on #1070
Done

[2019-10-26 13:59] #1070 closed

[2019-10-26 14:00] HarshKhandeparkar commented on #1072
@sagarpreet-chadha I am closing this one. If you face the issue again, please feel free to reopen the issue.

[2019-10-26 14:00] #1072 closed

[2019-10-26 14:02] HarshKhandeparkar commented on #1172
@jywarren was this issue fixed?

[2019-10-27 19:45] vaibhavmatta opened #1280 "Weekly community Check-In #37 - Making new FTO's and Making IS UI stable"
Hi everyone 👋
We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about their

[2019-10-27 19:48] vaibhavmatta commented on #1280
@gauravano @milaaraujo @kevinzluo @Rishabh570 @sashadev-sky @shubhscoder @sidntrivedi012 @SidharthBansal @stefannibrasil @ViditChitkara @tech4GT @mridulnagpal @IshaGupta18 @CoderJolly @namangupta01 @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @icarito @steviepubliclab, @ebarry, @jywarren, @sagarpreet-chadha, @JonathanXu1 @rexagod, @divyabaid16, @dinaelhanan, @oorjitchowdhary @p

[2019-10-27 19:49] vaibhavmatta commented on #1280
@ananyaarun @ananya @publiclab-mimi @ananya @hc-barker @starkblaze01 @asquare@pdurbin @HarshKhandeparkar@newbazz @aSquare14 @vaarigupta @alonpeer @aashna27 @harshithpabbati @jesus-montano@cryptoclidus @mohamed-elalem @konolga @gowtham5699@jywarren @ebarry @steviepubliclab @StlMaris123, @tauhir, @augustozanellato, @nstjean, @stefanosu, @alexido19, @Akashutreja, @fadib, @skai-ste, @mahimahans111, @L

[2019-10-27 20:17] vaibhavmatta commented on #1276
@amreshk005 any updates?
Are you still working on it?

[2019-10-28 14:06] SidharthBansal commented on #1280
Hi all!
I hope everyone enjoyed the festive season of lights Diwali. :tada: :zap:
We have filled the initial application of GCI. Results will come tomorrow. Really excited to see the results.
All mentors are requested to fill up the mentorship forms.

I will like to do the next checkin :-)

[2019-10-28 14:08] jywarren commented on #1280
Hi, thank you @vaibhavmatta !!! Great check-in! I'm coming back online after some days of rest, and a bit behind on everything, as you can imagine 📫

So glad to see people and the projects progressing. 🙌

[2019-10-28 14:25] jywarren commented on #1172
I don't think so, thanks!

On Sat, Oct 26, 2019 at 10:03 AM Harsh Khandeparkar <
notifications@github.com> wrote:

[2019-10-28 14:28] HarshKhandeparkar commented on #1172
I'll try to compile it on my pi, if possible, and find a fix. Btw, I have
left some DMs on gitter. Please have a look.

On Mon, 28 Oct, 2019, 7:55 PM Jeffrey Warren, <notifications@github.com>
wrote:

[2019-10-28 14:28] HarshKhandeparkar commented on #1172
Thanks!

On Mon, 28 Oct, 2019, 7:58 PM M K, <mjkgoa@gmail.com> wrote:

[2019-10-28 14:29] jywarren commented on #1276
Hi all, just noting that I think there are moments when "overcropping" is
useful, where you want to add white space around an image. So perhaps we
could solve this by adding a conditional for whether a pixel is outside the
original bounds, and adding either white or fully transparent pixels?

On Sun, Oct 27, 2019 at 4:18 PM VAIBHAV MATTA <notifications@github.com>
wrote:

[2019-10-28 14:50] vaibhavmatta opened #1281 "Camera should automatically close after the Image is captured once"
### Once we click *Take Photo* button, Camera remains open
#### What do we expect?
Camera should automatically close after the image is captured once.
 #### Where to see?
Look [here](https://beta.sequencer.publiclab.org/examples/#)

[2019-10-28 15:00] vaibhavmatta opened #1282 "Select a module button is not properly Visible in Mobile mode"
### In mobile mode, *Select a module* button is not fully visible

## What do we expect?
Dimensions for *Select a module* button should be changed such that the text inside button is fully visible.

## Where to look?

![WhatsApp Image 2019-10-28 at 8 26 05 PM](https://user-images.githubusercontent.com/50797619/67689695-b4de9080-f9c1-11e9-9292-fec2107d9c18.jpeg)

[2019-10-28 15:03] vaibhavmatta commented on #1280
Pleasure @jywarren 🙂

[2019-10-28 15:11] nstjean commented on #1280
Happy Monday!
Last week I finished up my PR https://github.com/publiclab/plots2/pull/6472 and focused on creating new FTOs.
This week I will be posting my Outreachy application proposal and working on another PR https://github.com/publiclab/plots2/pull/6422 as well as opening more FTOs. I want to make a checklist of all the pages that need the function translation.

[2019-10-28 15:28] HarshKhandeparkar commented on #1282
It is visible. See https://beta.sequencer.publiclab.org. In the future too, please do not refer to the main site as it is outdated though stable. Thanks!

[2019-10-28 15:30] HarshKhandeparkar commented on #1281
Hey Vaibhav, there is a close button which works. Should we still keep this issue?

[2019-10-28 15:41] vaibhavmatta commented on #1281
@HarshKhandeparkar Yes.! Because Close button can be used if you clicked Take picture button by mistake. But Camera should automatically close after the Image is captured once. Because there is no point of keeping camera active while processing a currently captured image. Thanks

[2019-10-28 15:42] HarshKhandeparkar commented on #1281
Ok cool.

On Mon, 28 Oct, 2019, 9:11 PM VAIBHAV MATTA, <notifications@github.com>
wrote:

[2019-10-28 15:48] vaibhavmatta opened #1283 "Set the Alignment for Mobile Preview"
### The alignment for Mobile Preview is not so good

## What it looks like?
![WhatsApp Image 2019-10-28 at 9 13 41 PM](https://user-images.githubusercontent.com/50797619/67693899-81ebcb00-f9c8-11e9-844c-c5084680723d.jpeg)

## What do we expect?
The UI should look well aligned after we open camera in IS.

[2019-10-28 16:03] keshav234156 commented on #1283
@vaibhavmatta please use beta-version

[2019-10-28 16:09] vaibhavmatta commented on #1283
@keshav234156 Give me few minutes, I will be editing this issue according to beta. Thanks

[2019-10-28 16:19] HarshKhandeparkar commented on #1217
If no one is working on this, let's mark this for gci

[2019-10-28 16:25] HarshKhandeparkar commented on #1121
We can reformat this for gci

[2019-10-28 16:28] HarshKhandeparkar commented on #1046
This is a good gci-candidate. We can reformat this and with proper guidance, the students can learn a lot both about js and the library.

[2019-10-28 17:04] vaibhavmatta opened #1284 "Add Save as PDF option to export the processed image"
Note: **Please note we are preparing to participate in Google Code-in, and have reserved this issue for GCI participants - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

### Save as PDF
In order to save maximum printable quality of the processed image, SAVE AS PDF option should be added along with other Export options.

### Where to ad

[2019-10-28 17:16] vaibhavmatta commented on #1282
@HarshKhandeparkar I am sure that this issue is still not s=resolved on BEta as well. See I've updated the issue body above, I've marked the main site of issue in that image.

[2019-10-28 17:27] vaibhavmatta commented on #1276
@jywarren You are right but this feature doesn’t fits to the exact meaning of CROP . We can make this feature an another module by the name lets say, add base, add bg etc .
Thanks

[2019-10-28 17:38] vaibhavmatta commented on #1282
@HarshKhandeparkar We both are using same device and then too 😂

[2019-10-28 17:40] HarshKhandeparkar commented on #1282
Are you using a non-conventional size device? Like an ipad or one of those
laptop cum tablet devices?

On Mon, 28 Oct, 2019, 11:08 PM VAIBHAV MATTA, <notifications@github.com>
wrote:

[2019-10-28 17:43] vaibhavmatta commented on #1282
Nah.! Oneplus phone

[2019-10-28 17:45] HarshKhandeparkar commented on #1282
Lol. How? Chrome browser too? What is happening to this world? Did you
clear the cache? Reload the website? Maybe restart your device(jk)

On Mon, 28 Oct, 2019, 11:13 PM VAIBHAV MATTA, <notifications@github.com>
wrote:

[2019-10-28 17:45] vaibhavmatta commented on #1282
haha.. Lemme try again 😂

[2019-10-28 17:49] vaibhavmatta commented on #1282
You were ryt @HarshKhandeparkar . Sorry for the trouble 😅

[2019-10-28 17:49] #1282 closed

[2019-10-28 18:21] #1261 closed

[2019-10-28 18:58] keshav234156 opened #1285 "fixing various error occuring during testing (some related to window keyword, some gl-context/puppeteer)"
A lot errors(reference errors,type errors,Unhandled 'error' events,WebAssembly acceleration error) could be seen in travis logs.this could be seen in https://travis-ci.org/publiclab/image-sequencer/jobs/595161585?utm_medium=notification&utm_source=github_status .These errors our preventing us to completly test our module ie all the individual modules are not being tested.Some of these errors have

[2019-10-28 18:58] keshav234156 commented on #1285
cc: @jywarren

[2019-10-28 19:15] keshav234156 commented on #1100
@jywarren i  think we should close this issue with #1266

[2019-10-28 19:25] jywarren commented on #1100
Ah, ok! Closing!

[2019-10-28 19:25] #1100 closed

[2019-10-28 19:26] keshav234156 commented on #1285
@jywarren we have also faced similar issue as mentioned in #645 #659 #1113.

[2019-10-28 19:43] jywarren commented on #1285
Is there anything you all can see particularly linking the `mixin-deep` module that was upgraded in #1234 to the errors not triggering a failed build, do you think?

Also cc'ing @aashna27 @HarshKhandeparkar @harshithpabbati @tech4GT @Divy123 in case you all have insights here. Thanks! Testing and stabilizing our tests will do a huge amount to strengthen the core of our code!

[2019-10-28 19:47] keshav234156 commented on #1285
No i think it's because of upgrade in version of mixing-deep

[2019-10-28 19:52] jywarren commented on #1285
We could test this by opening a PR rolling back the version and seeing if
the tests run correctly?

On Mon, Oct 28, 2019, 3:48 PM keshav234156 <notifications@github.com> wrote:

[2019-10-28 20:25] keshav234156 commented on #1285
@jywarren reverting the changes of #1234 in #1286 didn't work.

[2019-10-29 18:49] jywarren commented on #1285
Hmm. is the next step to try to get the failing tests to cause Travis to return a failure?

[2019-10-29 18:50] vaibhavmatta commented on #1285
@jywarren I was about to suggest that!

[2019-10-29 21:45] #1277 closed

[2019-10-30 12:15] debck opened #1287 "Remove overlapping of button and dropdown"
### Please describe the problem (or idea)

The `select module` dropdown and the `Add step` button are overlapped

![123](https://user-images.githubusercontent.com/33368759/67857472-e92a8c00-fb3c-11e9-8f2e-698d47fd5551.PNG)

Both the elements should have proper alignment between them.

### Please show us where to look

https://sequencer.publiclab.org/examples/#steps=

### Browser, version, and oper

[2019-10-30 12:24] keshav234156 commented on #1287
@debck this issue has been fixed recently.please use beta version as it updated frequently.feel free to reopen the issue

[2019-10-30 12:24] #1287 closed

[2019-10-30 12:26] debck commented on #1287
@keshav234156 got it, Thanks

[2019-10-30 21:45] keshav234156 opened #1288 "Downloading image after modules contianing external links is applied"
Please Note:  **We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more**

Downloading modules contianing external links redirects to that link.the modules that are having external  links are ndvi,gamma-correction,edge-detect,dynamic,dither,con

[2019-10-30 21:45] keshav234156 commented on #1288
cc: @jywarren @HarshKhandeparkar

[2019-11-01 17:12] HarshKhandeparkar commented on #1288
This is a weird one. Should we make this a candidate for GCI?

[2019-11-01 17:12] HarshKhandeparkar commented on #1288
@keshav234156 @vaibhavmatta @jywarren

[2019-11-02 09:42] subhahu123 commented on #1280
Where is GCI mentorship form @jywarren  @SidharthBansal @gauravano

[2019-11-02 09:46] vaibhavmatta commented on #1280
Hey @subhahu123 , refer to https://github.com/publiclab/plots2/issues/6238

[2019-11-02 11:44] keshav234156 commented on #1285
@jywarren  So the problem is with PR #1090. After reverting the changes of #1090(as done in #1289) the modules that are preventing all modules to being tested are:

1.fisheye-gl
2.text-overlay.
3.webgl-distort.

only after soving errors related to the above mentioned modules we would be able to test are modules completely.

Next we should try to fix the errors that are found in modules.These modul

[2019-11-02 18:36] jywarren commented on #1285
Oh wow! So, wait, can you clarify... `const $ = window.$;` caused the error. When we remove that, these modules then error out?

1.fisheye-gl
2.text-overlay.
3.webgl-distort.

1. Do they need this $ const defined? We could potentially run that line only if we're in a specific environment where window is defined, maybe?
2. Then, are you saying, more errors have accumulated in these other modules si

[2019-11-02 19:17] keshav234156 commented on #1285
@jywarren
1.You are right window is only defined in browser environment but is not defined in node.js environment. so they causing errors.similar errors could be seen with fisheye-gl,text-overlay,webgl-distort so we have fix it as well
2.yes,many errors have been accumulated since then as are modules where not being test.these include 7 modules that i have listed above.
3.we should have trusted th

[2019-11-03 17:42] keshav234156 commented on #1288
@SidharthBansal

[2019-11-03 19:54] cesswairimu commented on #1280
Hi @SidharthBansal , I believe the next check-in is yours. Thanks

[2019-11-04 17:56] keshav234156 commented on #1288
**Uploaded on GCI dashboard**

[2019-11-04 21:03] jywarren commented on #1285
Uh ok - so i believe there is a way we can see if we're in a browser environment, but i'm a little rusty. It could be either `options.inBrowser` or `typeof window == 'undefined'`?

[2019-11-06 11:12] keshav234156 opened #1291 "Adding the missing module in the documentation"
**Please note we are preparing to participate in Google Code-in, and have reserved this issue for GCI participants - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our

[2019-11-06 13:35] keshav234156 opened #1292 "Bugs in Blur module and modules which are using blur module"
there is a bug in blur module and modules that are using it(edge-detect).This works fine for me on desktop site but on mobile device it as shown
![Screenshot_20191105-151912_Chrome (1)](https://user-images.githubusercontent.com/45951376/68302469-21dfdd80-00c8-11ea-8f2e-0ac85e877bfa.jpg)

[2019-11-06 13:35] keshav234156 commented on #1292
cc @jywarren  @HarshKhandeparkar

[2019-11-06 14:19] SidharthBansal commented on #1291
PUBLISHED TO GCI DASHBOARD

[2019-11-06 14:34] SidharthBansal commented on #1288
Please hide stale comments.

[2019-11-06 16:24] Tanish0019 commented on #842
@HarshKhandeparkar Can you add me to the FTO list. I can work with HTML, CSS, JavaScript and Python. Thank you :)

[2019-11-06 16:36] #842 closed

[2019-11-09 07:20] SidharthBansal commented on #1288
PUBLISHED

[2019-11-09 11:43] keshav234156 opened #1294 "Overlapping of the dragzone with the image in import image module"
**Please Note: We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more**
### What's the problem (or idea)
The dragzone is overlapping the image in the import module
![Screenshot from 2019-11-09 17-10-47](https://user-images.githubusercontent.co

[2019-11-09 12:19] SidharthBansal commented on #1288
Sorry I clicked on close

[2019-11-11 02:56] SidharthBansal commented on #1280
Yeah sure!

[2019-11-11 02:57] SidharthBansal commented on #1280
Sorry for the delay. Things took a little time to finalize!

[2019-11-11 03:17] SidharthBansal commented on #1280
moved to https://github.com/publiclab/plots2/issues/6762

[2019-11-11 03:17] #1280 closed

[2019-11-11 04:30] cesswairimu commented on #1280
Thanks @SidharthBansal

[2019-11-11 19:17] keshav234156 opened #1295 "Selected value of the drop-down is not displayed"
**Please Note: We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more**

Selected value from the dropdown is not being displayed in the histogram module
![Screenshot from 2019-11-12 00-43-42](https://user-images.githubusercontent.com/45951376/

[2019-11-13 05:16] keshav234156 commented on #1295
**UPLOADED ON GCI DASHBOARD**

[2019-11-13 11:26] SidharthBansal commented on #1294
Please explain the issue!

[2019-11-15 08:10] vaibhavmatta opened #1297 "Create a new Icon Pack for Image-Sequencer modules"
Some of our Image-Sequencer modules have their corresponding icons. Create a new set of icons for any 4 modules.

### What do we expect?
Create a new set of icons for each of the module.

*** Steps to be followed ***
1. Clone the Image-Sequencer repository to your local machine.
2. In your local repository , make a new folder named as "Icon Pack".
3. Make the Icons for any 4 modules using html and

[2019-11-15 13:48] keshav234156 opened #1298 "Custom Resize Option in Resize Module"
### Please describe the problem (or idea)
Currently resize module accepts a single parameter in form of percentage and resize both height and width of the image according to percentage.But a user may want to resize height and width by same proportion.

### What should be done.
we can solve this issue by allowing resize to be done either with locked aspect ratio (the current, where both width and h

[2019-11-15 13:57] keshav234156 commented on #1217
moved to #1298

[2019-11-15 13:57] #1217 closed

[2019-11-18 08:43] urvashigupta7 commented on #879
None of the options in Save Box Dropdown (save as png, save as gif  etc) are not working.

[2019-11-18 11:40] urvashigupta7 opened #1299 "Make effect selection from the grid in intermediate steps working"
Dropdown works but the grid for selecting the effect  is not working when intermediate steps are added.
<img width="600" alt="C" src="https://user-images.githubusercontent.com/41363633/69049615-5176da00-0a26-11ea-8ebb-a2a8e9d93abf.PNG">

[2019-11-18 12:09] debck commented on #1241
**Uploaded to GCI Dashboard**

[2019-11-18 12:40] keshav234156 commented on #1299
@urvashigupta7 this issue has been fixed recently.please use beta version as it is updated frequently.

[2019-11-18 12:49] #1299 closed

[2019-11-18 17:38] harshithpabbati opened #1300 "Insert Button In load image step"
Please Note:  **We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more**

### Problem

We don't have an insert button in the load image step.
The insert button will be disabled until the user adds a new module after the load image.

<img width

[2019-11-21 08:35] harshithpabbati opened #1302 "Dark Theme in Image Sequencer"
Add an option to choose dark/light mode and change the theme accordingly.

<img width="1450" alt="Screenshot 2019-11-21 at 2 04 07 PM" src="https://user-images.githubusercontent.com/43822585/69320762-d0a72080-0c67-11ea-8aa2-c30bd65dbd29.png">

1. Maybe a toggle bar to toggle between dark and light themes.
2. Save the preference in local storage and use the same theme when the user opens it again.

[2019-11-22 16:37] SidharthBansal commented on #1241
Published

[2019-11-22 17:42] debck commented on #1297
**Uploaded to GCI dashboard**

[2019-11-22 18:12] debck opened #1303 "Remove `undefined` from the processed drop-down"
### Please describe the problem (or idea)

When we try to insert a step, a block appears asking us  to `Select a new module to add to your sequence.`
This dropdown gives many `undefined` value.

![Screenshot (43)_LI](https://user-images.githubusercontent.com/33368759/69449366-c9276a80-0d80-11ea-85c8-5861253f626e.jpg)

### Please show us where to look
https://beta.sequencer.publiclab.org

****

##

[2019-11-22 18:15] debck commented on #1303
**Uploaded on GCI dashboard**

[2019-11-22 20:10] debck commented on #1300
**Uploaded to Dashboard**

[2019-11-22 20:11] debck commented on #1302
**Uploaded to GCI dashboard**

[2019-11-23 09:05] keshav234156 commented on #1303
@debck this issue has already been fixed with the #1266 .please use beta version.if you are using beta version then try to clear offline cache to see the changes. @SidharthBansal @debck please remove the task related to this issue.

[2019-11-23 11:08] debck commented on #1303
Got it.
@SidharthBansal Could you please delete it from the dashboard?

[2019-11-23 12:56] SidharthBansal commented on #1303
Can you please reformat it to non-gci?
Also, don't you have access to delete the tasks?

[2019-11-23 13:01] debck commented on #1303
This issue is already solved so we can close it. Also, I don't have access to delete tasks over dashboard.

[2019-11-23 13:44] #1303 closed

[2019-11-25 23:04] ananyaarun opened #1306 "Add Code of Conduct badge in readme"
**Please note we are preparing to participate in Google Code-in, and have reserved this issue for GCI participants - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our

[2019-11-26 03:21] SidharthBansal commented on #1300
Published

[2019-11-26 08:15] debck commented on #1284
@keshav234156 I think we can add this as a GCI task. What's your view on this?

[2019-11-26 08:28] vaibhavmatta commented on #1284
@debck I will be adding this by today.!

[2019-11-26 09:58] SidharthBansal commented on #1302
PUBLISHED

[2019-11-26 14:09] keshav234156 opened #1307 "Dropdown doesn't close on click"
**Please note we are preparing to participate in Google Code-in, and have reserved this issue for GCI participants - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

### Please describe the problem (or idea)

Currently dropdown is not closing when you click on the dropdown icon

### What did you expect to see that you didn't?
 The dropdo

[2019-11-26 14:55] keshav234156 commented on #1307
**UPLOADED ON GCI DASHBOARD**

[2019-11-26 17:38] blurry-x-face commented on #1245
I want to work on this issue!

[2019-11-26 17:38] Divy123 commented on #1245
Assigned to @blurry-x-face .

[2019-11-26 17:46] Divy123 commented on #1245
I guess this is solved. you may look into another issue.
Thanks for your issue.

[2019-11-26 17:53] blurry-x-face commented on #1023
@Divy123 can I claim this issue?

[2019-11-26 17:53] Divy123 commented on #1023
@blurry-x-face please go ahead!!

Thanks!!

[2019-11-27 16:35] SidharthBansal commented on #1307
PUBLISHED ON GCI

[2019-11-27 20:05] jywarren commented on #1276
Actually i think there are some current use cases that do "overcropping" and we shouldn't prevent it even if we later clarify things better. Let's just be sure this can still be possible! Thanks!

[2019-11-28 05:50] SidharthBansal commented on #1306
Publishedc

[2019-11-28 05:52] SidharthBansal commented on #1306
Please make sure beginner tasks are in first timers only format.

[2019-11-28 12:14] debck commented on #1284
**Uploaded to dashboard**

[2019-11-28 13:14] lohitha02 opened #1310 "Mesage notification for "Add Step""
### Mesage notification for "Add Step"

Currently when we are clicking on "Add Step" option without selecting a module it simply shows nothing.

Instead when we are clicking on "Add Step" option without selecting a module it should show a message notification stating that "Please select a module first".

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping re

[2019-11-28 14:34] SidharthBansal commented on #1284
Published on GCI dashboard

[2019-11-28 19:42] #1023 closed

[2019-11-28 22:12] ananyaarun opened #1311 "Update config.yml file for IS"
**Please note we are preparing to participate in Google Code-in, and have reserved this issue for GCI participants - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our

[2019-11-28 22:40] ananyaarun opened #1312 "Update issue templates for IS"
**Please note we are preparing to participate in Google Code-in, and have reserved this issue for GCI participants - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our

[2019-11-29 06:54] SidharthBansal commented on #1312
Published

[2019-11-29 06:54] SidharthBansal commented on #1311
Published

[2019-11-29 07:18] SidharthBansal commented on #1306
Published

[2019-11-29 13:50] lohitha02 opened #1313 "Multiple selection of modules from Add step is not working"
### Bug

On selecting a particular module and the step is loaded, we are not able to select the same module again, but it is working from the quick buttons.

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they'll be resolved, see:

https://publiclab.org/wiki/

[2019-11-29 13:57] keshav234156 commented on #1313
@lohitha02 can you please upload a GIF. It will help in better understanding of the issue

[2019-11-29 21:32] Divy123 opened #1314 "Leftmost "resize quick button" not properly displayed."
### Please describe the problem (or idea)

Currently, the first option in the quick buttons is not properly displayed.

### Please show us where to look

https://beta.sequencer.publiclab.org

### What's your PublicLab.org username?
lit2017001

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really grea

[2019-11-29 21:34] Divy123 commented on #1314
This may help understand better here:

<img width="508" alt="Screenshot 2019-11-30 at 2 54 40 AM" src="https://user-images.githubusercontent.com/31225007/69890839-1fb31c80-131e-11ea-8200-e53cb47f3368.png">

[2019-11-29 21:40] Divy123 opened #1315 "Remove horizontal scroll during short screen sizes"
### Please describe the problem (or idea)

Currently, there is a horizontal scroll appearing at small screen sizes.

### Please show us where to look

https://beta.sequencer.publiclab.org

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they'll be resolv

[2019-11-29 21:42] Divy123 commented on #1315
This may look here:

<img width="380" alt="Screenshot 2019-11-30 at 3 11 51 AM" src="https://user-images.githubusercontent.com/31225007/69890987-2f7f3080-131f-11ea-981f-8a5fda77f293.png">

You can see that its not responsive here.

[2019-11-29 21:42] Divy123 opened #1316 "po"
### Please describe the problem (or idea)

### Please show us where to look

https://beta.sequencer.publiclab.org

### What's your PublicLab.org username?

### Browser, version, and operating system

****

## Thank you!

Your help makes Public Lab better! We *deeply* appreciate your helping refine and improve this site.

To learn how to write really great issues, which increases the chances they'l

[2019-11-29 21:48] Divy123 opened #1317 "Make Add step button blue in color."
**Please note we are preparing to participate in Google Code-in, and have reserved this issue for GCI participants - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our

[2019-11-29 21:50] Divy123 opened #1318 "Make "clear offline cache button" blue in colour"
**Please note we are preparing to participate in Google Code-in, and have reserved this issue for GCI participants - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our

[2019-11-29 21:56] Divy123 opened #1319 "Update PR template to include the guidelines for asking for at least two reviews for getting the PR merged."
This issue required editing PR template for including guidelines to include two reviewers approval for getting the PR merged.

[2019-11-29 21:58] Divy123 opened #1320 "Add lightening bolt icon at the top of step panel to show if the step is wasm accelerated."
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

### Please describe the problem (or idea)

Add lightening bolt icon at the top of step panel to show if the step is wasm accelerated.

### Please show us where to look

https://beta.

[2019-11-29 21:59] Divy123 commented on #1320
Though this issue is preferred for GCI candidates, others may also give it a try.

[2019-11-29 22:02] Divy123 opened #1321 "Disable take a photo and choose a file button while camera is open"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

This issue requires disabling "take a photo button" and "choose a file" button while clicking a picture.

Thanks!!

[2019-11-29 22:07] Divy123 opened #1322 ""Rotate " module changing original dimensions of image"
Note: **We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

### Please describe the problem (or idea)

The rotate module is changing the original dimensions of image, though it should only rotate the same.

### Please show us where to l

[2019-11-29 22:15] #1316 closed

[2019-11-29 22:49] Divy123 commented on #1143
Uploaded on GCI dashboard.

[2019-11-29 22:50] Divy123 commented on #1322
Uploaded on GCI dashboard.

[2019-11-29 22:50] Divy123 commented on #1320
Uploaded on gci dashboard.

[2019-11-29 22:51] Divy123 commented on #1319
Uploaded on gci dashboard.

[2019-11-29 22:52] Divy123 commented on #1318
Uploaded on gci dashboard.

[2019-11-29 22:52] Divy123 commented on #1317
Uploaded on gci dashboard.

[2019-11-29 22:53] Divy123 commented on #1315
uploaded on gci dashboard.

[2019-11-29 22:53] Divy123 commented on #1314
uploaded on gci dashboard.

[2019-11-29 22:54] Divy123 commented on #1046
uploaded this on gci dashboard.

[2019-11-30 05:20] SidharthBansal commented on #1143
@Divy123 I think you are missing something. It will great if you can kindly visit guidelines for tasks and reformat all of your issues according to the guidelines.
Some of the missing things I observed are: Reserved for GCI tagline in BOLD, we use `beginner` instead of `easy`. If `beginner` then it should be in FTO template. I think this should be medium as documentation is a tough to piece to wri

[2019-11-30 06:36] Divy123 commented on #1143
Done here!!

[2019-11-30 08:22] SidharthBansal commented on #1143
Please add code links here and add repo name in the task at GCI dashboard.
Then kindly hide unwanted comments and ping me again. Thanks