[2017-03-05 10:04] ccpandhare opened #2 "Errors on /index.html, /examples/ndvi/index.html"
**/index.html and /examples/ndvi/index.html give out errors on running (Safari, Chrome, Firefox on Mac)**

##### Am I doing something wrong since I believe nobody else is getting these errors?

## On Safari [Mac]
### /index.html
#### The following pops up every time a module is called
[Error] IndexSizeError (DOM Exception 1): The index is not in the allowed range.
	getImageData (image-sequencer.js

[2017-03-05 10:10] ccpandhare commented on #2
The same errors also come on the github-hosted demos.

[2017-03-05 10:22] ccpandhare opened #3 "CORS Image error on GitHub hosted demos"
## There are Cross Origin Resource Sharing Canvas errors on Safari, IE, Opera, Mobile based-browsers.
This is because they not implemented CORS enabled images yet. [MDN Source](https://developer.mozilla.org/en-US/docs/Web/HTML/CORS_enabled_image)
The entire code of Image Sequencer depends on CORS Enabled images.

CORS enabled images are supported **only** on Desktop based Chrome and Firefox
Other

[2017-03-05 11:40] ccpandhare commented on #3
For example, we could render the image stages on a canvas instead of the native HTML img element. CORS images are allowed in canvases.

But there is a problem with this. This would render the canvas sort of though to handle with as then we can't export the canvas, as the mentioned MDN article says.

Anything we could do about this?

[2017-03-06 19:31] jywarren commented on #2
Hi, can you try again in an incognito window to be sure you don't have older cached .js files loading?

I just tested this out on MS Edge on a Windows machine.

@nadya - Hi! would you mind trying the demos out on your Mac?

1. https://jywarren.github.io/image-sequencer/
2. https://jywarren.github.io/image-sequencer/examples/ndvi/

@ccpandhare these are what you're trying, right?

[2017-03-06 20:07] ccpandhare commented on #2
Yes this is what I've been trying..

[2017-03-06 22:15] jywarren commented on #3
Hi, @ccpandhare - although there are significant use cases that do rely on CORS, an image dragged into the interface by a user shouldn't need CORS, since it's not making a cross-origin request. Can you describe exactly the steps that you did to get this error?

[2017-03-06 22:27] jywarren commented on #2
Ah! I had not updated the example code buttons -- so the core library is working, but the buttons are not. Yes, this needs to be fixed -- I can take a look at it soon, but I think the issue is that `sequencer.run()` is being run on the initial `image-select` module, which is not finding its element, since it makes a custom UI. This API is very new, so i'm open to ideas on how to solve this.

[2017-03-06 23:31] jywarren opened #4 "demo of image processing using leaflet map tiles"
This would have to use a CORS enabled tile source so as to allow canvas manipulation of images from another domain. But it'd be cool -- on the fly image processing on a web map.

[2017-03-06 23:32] jywarren opened #5 "image cropping module"
A module which crops images according to passed width and height values.

[2017-03-09 16:35] ccpandhare commented on #5
What if we made it interactive?
Accepting width and height params from users is impractical, isn't it?

[2017-03-09 16:55] ccpandhare commented on #2
Issues Fixed!
PR #6

[2017-03-09 16:55] #2 closed

[2017-03-09 18:25] jywarren commented on #5
I don't think so -- it could be specified in the setup() stage, on the
commandline, perhaps passed into addStep(), or set via the HTML user
interface, as you suggest.

On Thu, Mar 9, 2017 at 10:35 AM, Chinmay Pandhare (CCD) <
notifications@github.com> wrote:

[2017-03-09 19:10] rackstar17 opened #7 "Image upload in Firefox(Mac) and bugs in image effects module selecting via addStep"
1. When I upload an image in Firefox (Mac) Image does not upload and I get this issue in the console

<img width="1280" alt="image-upload" src="https://cloud.githubusercontent.com/assets/7199228/23766216/e4e94782-0529-11e7-8ec3-d62c4aa9bac5.png">

2. No module works when I select it from the select dropdown and then click on add step , I get the following issue on the console

<img width="1280" al

[2017-03-11 03:49] ccpandhare commented on #5
I have done this. Will send a PR soon.

[2017-03-11 03:50] ccpandhare commented on #5
I have done this. Will send a PR soon.

[2017-03-11 03:51] ccpandhare commented on #7
I have fixed this issue in my PR.
It hasn't been merged yet See Issue #2 , PR #6

[2017-03-11 04:08] ccpandhare commented on #5
Added. PR #8

[2017-03-11 08:06] ccpandhare commented on #5
I haven't implemented a demo for the module yet.
So on the demo page (not in the module) cropping occurs at default values (0,0,50%,50%).
Will add a method to accept input from the user soon.

[2017-03-11 15:09] jywarren opened #9 "Add Step via HTML ui in demo errors in PixelManipulation"
As described in #6, in comments, after merging #6, I still got:

[code]

on this line: https://github.com/publiclab/image-sequencer/blob/master/src/modules/PixelManipulation.js#L17

when adding a new step via the HTML ui. But then when I drop a new image into the `image-select` UI, all steps run correctly.

This may have to do with `sequencer.run()`

[2017-03-11 15:17] jywarren opened #11 "Some API for modules to describe their configurable options, for display in an HTML form"
Thinking how we might take a set of parameters required and provide (in the module) a description of what they should be and their defaults -- for use either by programmers, or by the HTML interface when you'd be able to configure the step as a user, using text inputs or sliders or menus.

Thoughts on this?

[2017-03-11 18:46] rackstar17 commented on #9
sequencer.run() expects an image parameter
file - dist/image-sequencer.js line -184165

[code]

So maybe it's not catching the image and that's why showing undefined error

I might be wrong since I just started looking at the codebase
What do you think @jywarren ?

[2017-03-11 19:49] jywarren commented on #9
I was trying to make it so that you could pass an image in via run(image)
but that you could also just trigger it by sending an empty run call if the
imageselect module exists. But I think it could be better thought through
-- I don't like how imageselect is "special", you know? It breaks the
rules. Maybe imageselect is really part of the HTML UI, and not a module?

On Mar 11, 2017 1:46 PM, "Himan

[2017-03-12 04:50] rackstar17 commented on #7
PR #6 does not fix the problems mentioned above
Uncaught error still shows up when image is uploaded not dragged

[2017-03-12 08:19] ccpandhare commented on #9
@jywarren  Yes, I too believe that image-select shouldn't be treated as a module, and be a part of HTML UI.

For now, I have fixed the issue by declaring a global variable document.sequencer_image.
I think we should come up with a better solution.

PR #12

[2017-03-12 13:44] ccpandhare opened #13 "Colorbar acts awry"
When a Colorbar module is applied, It Makes the entire page (HTML) slow. Also after adding a colorbar module, results of adding other modules is undesirable.

Should we implement a better alternative?

[2017-03-12 13:55] rackstar17 commented on #11
@jywarren I'm interested in solving this issue, We can use a modal api for this .
As soon as the value of <select> changes we can open up a modal and based on the value of what module user chooses , we can show options in that modal ?
Just a suggestion
What do you think ?

[2017-03-12 13:56] ccpandhare opened #14 "Unnecessarily slow algorithm"
When a step is added to the sequencer, It gets pushed into steps[], and then the code runs through ALL the steps, running the modules again and again.
I think we should change that. This is making the program unnecessarily slow.

Shouldn't we change this? What do you think, @jywarren ?

[2017-03-12 17:25] ccpandhare commented on #7
Yeah I saw that. Sorry I hadn't tested that on Mac.
I've fixed that in PR #12

[2017-03-12 17:29] jywarren commented on #14
I agree, you should only have to run the final step. But this means we
either need a consistent way to fetch the output of the last step (as part
of the module API?) Or to store each produced image in the sequencer like
sequencer.images perhaps?

On Mar 12, 2017 9:57 AM, "Chinmay Pandhare (CCD)" <notifications@github.com>
wrote:

[2017-03-12 18:38] ccpandhare commented on #14
So is it memory vs runtime?

[2017-03-12 19:17] jywarren commented on #11
Hi, I think a modal could work, but so could a form just built into the UI
pane of each module. Maybe we should start by just trying to insert a form
with an input into a given pane using the userinterface class? If you'd
like to give that a try, I'm happy to help review and comment. Thanks!

On Mar 12, 2017 9:55 AM, "Himanshu Aggarwal" <notifications@github.com>
wrote:

[2017-03-12 19:19] jywarren commented on #13
I think we may need to think about the plotly module differently. It also
causes building to be super slow and I don't think we should need to
compile it into the library.

Maybe we should think about "terminating" modules which you can't chain
things after? Also, modules with external dependencies and how to work with
those...

On Mar 12, 2017 9:44 AM, "Chinmay Pandhare (CCD)" <notifications@gith

[2017-03-12 19:21] jywarren commented on #14
Sorry, I don't understand your question, can you rephrase? I think it's
fine to store images, although I guess I could imagine it getting to be a
lot of space... But do we need to require an image getter function from
each module?

On Mar 12, 2017 2:38 PM, "Chinmay Pandhare (CCD)" <notifications@github.com>
wrote:

[2017-03-12 19:21] jywarren commented on #7
Awesome troubleshooting folks, thanks!

On Mar 12, 2017 1:25 PM, "Chinmay Pandhare (CCD)" <notifications@github.com>
wrote:

[2017-03-12 19:28] ccpandhare commented on #14
Maybe we should do so.
Yeah I guess storing the images won't be a problem after all.
I think we should create another method apart from run().

But anyways, All the steps will have to rerun when a step is removed. (I'm almost dome implementing the removeStep() function)

[2017-03-13 14:57] jywarren commented on #14
Great, and thanks for your patience, i'm struggling with this issue:
https://github.com/publiclab/image-sequencer/pull/1#issuecomment-285897719

On Sun, Mar 12, 2017 at 3:28 PM, Chinmay Pandhare (CCD) <
notifications@github.com> wrote:

[2017-03-14 15:31] #5 closed

[2017-03-14 15:55] ccpandhare opened #15 "UniqueID : Random or Sequential?"
@jywarren I have been working on the `removeStep()`.
We need a unique ID for every step for this to be done. I am aware that we already have one. It is defined in `/src/UserInterface.js`. This is a problem. Because `/src/UserInterface.js` is imported only for browser implementations.
Hence it is a unique ID only for the Browser UI, right?

We'll need a unique ID for every step. Either now, or in t

[2017-03-14 21:03] jywarren commented on #15
Yes, the uniqueId was only for the browser. But we could pass it as a
parameter to UserInterface if we like. Or we could just allow those modules
to be self-reliant and use two separately generated unique IDs. Open to
suggestions.

Either way I agree it's a good idea to have a unique id.

I guess I think random is good, because we might insert a module later, and
then have to re-number.

On Tue, M

[2017-03-15 01:33] ccpandhare commented on #15
Okay,
But we wouldn't have to re-number.
The unique ID doesn't change once defined. So even if we remove one step from the middle, the other unique IDs remain the same.

I think there's no added benefit of having two Unique ID systems, don't you think so?

[2017-03-16 13:37] ccpandhare opened #19 "Filetype extraction"
Some modules might require the filetype.
I hadn't noticed that `options.format` is undefined, so:
[code]
always results in `options.format` to be equal to `jpg`.
Also, we can't only rely on extension of the file. For example, a jpg file renamed as png would work perfectly fine otherwise, but when we set the src for img, we do:
[code]
so this might result in a faulty image.
Should we import the mod

[2017-03-16 15:36] jywarren commented on #19
Sure, that sounds good. As much auto-detection as possible is a good idea,
but we can also set a default (png?) since the images will be transcribed
to a canvas in many modules, and so the encoding won't be preserved
anyways. Some of this will start to affect our ideas about using diff
algorithms to quantify module behavior... colors will start to drift
slightly, etc. but the diff modules I've see

[2017-03-16 15:47] ccpandhare commented on #19
We should think about it.
Actually I was thinking of finding the file-type everytime we export the image as a data URL.
Because everything else is fine but
[code]
Can be problematic.

[2017-03-23 15:03] rogeredthat commented on #14
Can't we have a lower precision version for working and process the complete image only when a full-fledged render is required. This way we would be spending less memory and it would be feasible to have the output of each node stored with it.

[2017-03-23 18:06] ccpandhare commented on #14
Could you please explain that?

[2017-03-25 09:48] rogeredthat commented on #14
We'll, you can see this method used in majority of memory heavy software. They work on a lower resolution version during the crafting and complete all the actions on the full resolution image only when the work is final. It does not make sense to process the entire image spanning 4MPs or something when your display window is barely 500px in width or so

[2017-03-28 18:39] lvyachao commented on #11
A modal API can works (e.g. https://v4-alpha.getbootstrap.com/components/modal/) However, I can we can use Vue.js provide whole solution handling every DOM-rendering and form control events. That bring more helps. I'll cover this issue during GSOC 17.

[2017-03-29 14:14] jywarren opened #20 "Use Marty.isBrowser for standardized browser detection"
http://martyjs.org/api/top-level-api/index.html#isBrowser

[2017-03-31 10:23] ccpandhare opened #21 "Rewrite using callbacks"
I was working on #1. I was able to get a basic version running on node.
I was wondering if we could use callbacks/promises in the code?

[2017-06-03 14:55] ccpandhare opened #23 "Planning Issue for the Image Sequencer GSoC Project"
This is my plan for the summer. Please suggest any suggestions which you may deem fit @jywarren @ebarry. There is still a lot to be written here, will keep adding more points with time. This is by no means, exhaustive.
[Link to my proposal](https://publiclab.org/notes/ccpandhare/03-18-2017/developing-image-sequencer-as-a-library)

# Phase 1 : Core functionality and JSON Input Support
In this phase

[2017-06-04 03:38] ccpandhare opened #25 "Issues With ImageManipulation.js"
There is some problem with the `savePixels` part of the `ImageManipulation.js` with all images.
Some pixels don't get saved and also the saturation of the image, somehow, decreases.

**Before:**
![Timetable Before](https://image.ibb.co/i2B6OF/before.png)

**After:**
![Timetable After](https://image.ibb.co/g8X7Vv/Screen_Shot_1939_03_14_at_8_50_09.jpg)

In fact, the "After" image is corrupted, those

[2017-06-04 16:16] jywarren commented on #23
Hi, this looks super -- I'd like to request some more explicit mention of
when tests will be added, and encourage adding a really clear test that
processes an NDVI image and does a diff comparison between a "before" and a
known "after" image, that we can visually confirm. I think this should be
done in the phase 1 and be clearly documented in the readme too -- this'll
be a really clear way to expl

[2017-06-04 16:42] ccpandhare commented on #23
Okay, I will look into it and let you know if I face any issues.

[2017-06-07 08:06] ccpandhare commented on #25
Update: Been working on it for the past two days. The same code used to work flawlessly on Browsers. Also, the DataURL is corrupted it seems.

The latest commit is on PR #24

[2017-06-07 13:55] jywarren commented on #25
First, let me say it's really cool to be seeing image processing before/after images, even if there is a problem. We should put such examples into the README as it really brings the project to life!

To be clear, are you saying that it does work in browsers, but not in node, or that it used to work in browsers, and now works in neither?

Second, here's the link to the `save-pixels` package: https:

[2017-06-07 13:58] jywarren commented on #25
One odd thing is that the larger images don't seem as affected by the cutoff issue. I'd have guessed that this was due to running out of memory or something, but i'm interested in whether the cutoff with transparent pixels happens the same way each time, or if it's gets a different amount through the image each time. This would tell us if it's a consistent baked-in limitation or if it's some other

[2017-06-07 13:58] jywarren commented on #25
Also - where's the code for DoNothing? can you link that too?

[2017-06-09 05:41] ccpandhare commented on #25
Hey @jywarren Thanks for the debugging ideas. Will look into them later today.

Clarification: The save-pixels thing did work on browsers earlier. Earlier I did get the same once issue but i really don't remember how I fixed that. As of now, due to lack of a proper UI, testing this on a browser is really tedious. That is due to the fact that we can not access user files due to browser limitations,

[2017-06-10 03:19] ccpandhare commented on #25
Update: The issue of incomplete pixels occurs only with PNG images and not with JPEG images

[2017-06-10 03:38] jywarren commented on #25
Wow, fascinating actually. It's almost certainly an issue with read or save
pixels! Do those libs depend on another module to read or encode?

On Jun 9, 2017 11:19 PM, "Chinmay Pandhare" <notifications@github.com>
wrote:

[2017-06-10 03:43] jywarren commented on #25
Two possible hints, one is that you can run the image selection using a
data URL -- that way you don't need to use the image select -- and also you
should be able to use phantomjs to test it in the browser but from the
command line.

It sounds like either way we should have jpgs and pngs in our tests. I
recommend filing this in the save pixels project repo and moving ahead with
jpeg for now.

I'd

[2017-06-10 05:17] ccpandhare commented on #25
Hey Jeff, Thanks a lot for your inputs! I was pondering over some things. Pretty mind-boggling results.

### Some Tests

##### Test 1 : Creating a PNG DataURL (The DataURL is **corrupted**, image is **desaturated**)
[code]

##### Test 2 : Creating a binary PNG File (The Image is **desaturated** but **COMPLETE**)
[code]

##### Test 3 : Creating a JPEG DataURL (The DataURL is **not corrupted**, Imag

[2017-06-12 23:23] jywarren commented on #25
Hi, just so I can go through this methodically:

Can you tell me exactly what to try out?

I think that's possible -- but we need to more narrowly test the issue. I'd like to suggest you debug this by console.logging the string result and/or doing a comparison somehow if you think that's the problem. Do you suspect this because of something you read? Or (as I do) do you think it's possible that si

[2017-06-14 15:03] jywarren commented on #25
Did this make sense? Keep us updated -- don't want you to get stuck and frustrated! Were you able to post to StackOverflow?

[2017-06-14 15:07] ccpandhare commented on #25
Yes, @jywarren thanks for your help!
The issue is certainly surprising. I am having a look.
Was engaged with the Phase-1 completion of the Image Sequencer, as you might have seen.
As soon as I am done with some small bugfixes and minor jobs with that, I will focus on this.
Was too saturated, so shifted my focus for a while! Hope you don't mind.

I will surely take action upon all that you have sug

[2017-06-14 15:13] jywarren commented on #25
No, that's a really good strategy when you get stuck. Thanks for the
report-back!

On Wed, Jun 14, 2017 at 11:07 AM, Chinmay Pandhare <notifications@github.com

[2017-06-16 20:23] jywarren opened #26 "Break out longer functions into sub source files and require in"
If it's possible, can you check if you can break out any of your longer functions into sub files? If you need shared scope, maybe you'll have to pass them in via the function parameters, so they'll be less inter-referential.

But this will make your code into smaller, more independent and easier (one thing per function) parts. So I think it's worth it in some cases!

[2017-06-17 07:49] ccpandhare commented on #23
@jywarren Can you add the "Help Needed" label, please?

[2017-06-18 06:41] ccpandhare commented on #26
Yes, I do agree with this. I will see to it.

[2017-06-18 07:53] ccpandhare commented on #25
I opened up an [issue](https://github.com/scijs/save-pixels/issues/22) with the `save-pixels` GitHub repository. Hope that would help a bit and we'll also get some insight on these issuees:
* Is `toString()` the right way to produce the DatURI
* Why is there a desaturation happening?

I thought this would be better than opening a question on StackOverflow as it would get noticed easily and by the

[2017-06-18 11:55] jywarren commented on #25
Yes but you could do both and link them together, since parts of the
question are general and parts are specific to save-pixels.  Or at least
thats our theory.

On Jun 18, 2017 3:53 AM, "Chinmay Pandhare" <notifications@github.com>
wrote:

[2017-06-22 23:01] jywarren opened #27 "add fisheyegl module"
Hi, @ccpandhare - whats the latest?

I wanted to add this as a feature request down the line -- it's a good one to try to develop a test for:

https://github.com/jywarren/fisheyegl

could be a great module. I want to suggest a test that takes a checkerboard image and corrects fisheye, then diff-compares it with a correct checkerboard.

[2017-06-22 23:02] jywarren commented on #25
Hi, can you open up a StackOverflow issue too and link it from here? Thanks!

[2017-06-23 06:41] ccpandhare commented on #27
Currently, I am designing tests for the core functionality.

Sure, I will add this module in.

[2017-06-23 06:51] ccpandhare commented on #27
I had a look at the code. The module works on canvasses so I'll have to figure out how to make things work for Node.js and that may take some time...

[2017-06-24 04:32] jywarren commented on #27
Low priority!!

On Jun 23, 2017 2:51 AM, "Chinmay Pandhare" <notifications@github.com>
wrote:

[2017-06-24 13:41] ccpandhare commented on #25
I made the StackOverflow Issue. [Here's the link.](https://stackoverflow.com/questions/44737011/how-to-process-datauri-in-node-js)

[2017-06-24 13:44] ccpandhare commented on #23
I am not sure on how this is to be done. Please help me out @jywarren

[2017-06-24 13:53] ccpandhare commented on #27
Ohh okay. Also, I am working on a unified input parser.

[2017-06-24 16:52] jywarren commented on #23
Well, I think we could run a test on a test image, and visually confirm
(like you did with the saturation problem) that the output is correct. Then
document that example in the readme too to show how it works!

On Jun 24, 2017 9:44 AM, "Chinmay Pandhare" <notifications@github.com>
wrote:

[2017-06-26 15:09] ccpandhare commented on #23
Okay, Thanks! Will do that.

[2017-06-26 15:15] ccpandhare commented on #26
Although #28 does not do exactly this, I believe it addresses the issue partially... What do you think @jywarren ?

[2017-06-26 15:16] ccpandhare commented on #21
Done.

[2017-06-26 15:16] #21 closed

[2017-06-26 15:39] #3 closed

[2017-06-26 16:25] jywarren commented on #3
Looks like you figured it out? Cors restrictions only apply to cross domain
image requests, not to images directly uploaded or hosted on the same
domain. This does create some usage limitations it nothing too bad - and if
a server side app uses image-sequencer and wants to use images from another
service, it can proxy remote images to circumvent, OR it can disallow image
export (not ideal but this

[2017-06-26 19:05] ccpandhare commented on #26
Now #28 Addresses this issue wholly. Is this okay?

[2017-06-26 19:44] jywarren opened #29 "Incorporate test images into tests"
Closed #1 as it is a bit out of date now, but I still would like tests which incorporate a "before" and "after" image, as attempted in this code:

https://github.com/jywarren/image-sequencer/blob/3d43eceff9a51ed2f85c3ce42277017c7890e435/test/image-sequencer.js#L31-L59

At simplest, we could perform an operation, then reverse it -- like, for example, inverting and inverting again -- and then confir

[2017-06-26 20:11] jywarren commented on #26
yep, looks great!

On Mon, Jun 26, 2017 at 3:05 PM, Chinmay Pandhare <notifications@github.com>
wrote:

[2017-06-26 20:58] jywarren commented on #25
OK -- let's move forward with other tasks while we wait for a response. I can do some additional testing and outreach to find a solution if we don't get anything in a few days.

[2017-06-26 21:00] jywarren commented on #25
Perhaps you should change the title on SO to include "red channel desaturated and/or cut off" and "using save-pixels" -- there's an art to a well-written issue title, and I think it'll get better input. :-)

[2017-06-27 16:59] ccpandhare commented on #26
Closing this issue then

[2017-06-27 16:59] #26 closed

[2017-06-27 17:05] ccpandhare commented on #7
I think this issue isn't needed anymore.

[2017-06-27 17:05] #7 closed

[2017-06-27 17:09] ccpandhare commented on #9
We have shifted quite a lot from this code, and this issue is fixed, so closing this issue.

[2017-06-27 17:09] #9 closed

[2017-06-27 17:12] ccpandhare commented on #14
This can still be thought upon!

[2017-06-27 17:13] ccpandhare commented on #15
I guess some insight is already needed on this one...

[2017-06-27 17:24] ccpandhare commented on #25
Done that! Thanks :)

[2017-06-27 17:34] jywarren commented on #14
Yes, I think perhaps the way to do that would be to add a resize module
early in the chain, and have it expose a UI where you can select % resize.
Then you run everything fast, and when you want a full res version you can
set it back to 100%. Make sense?

On Tue, Jun 27, 2017 at 1:12 PM, Chinmay Pandhare <notifications@github.com>
wrote:

[2017-06-27 17:34] jywarren commented on #15
+1 random; git commits work that way due to non-linearity, and I think that
makes sense in case you insert a step in the middle of the stack.

On Tue, Jun 27, 2017 at 1:13 PM, Chinmay Pandhare <notifications@github.com>
wrote:

[2017-06-28 08:35] ccpandhare commented on #29
I was onto it. Got stuck at the PixelManipulation thing yet again.

[2017-06-28 09:10] ccpandhare commented on #25
Guess what? I've found the problem with this!
It should be
[code]
and not
[code]

[2017-06-28 09:11] ccpandhare commented on #25
Now I feel like a fool.

[2017-06-28 12:51] ryzokuken commented on #25
@ccpandhare it happens to the best of us. I am glad you found the solution to this :)

[2017-06-28 12:58] jywarren commented on #25
No fooling :-) -- I'm so glad to hear you figured it out! Honestly must
feel great to have the solution, congrats!

On Wed, Jun 28, 2017 at 8:51 AM, Ujjwal Sharma <notifications@github.com>
wrote:

[2017-06-28 13:26] jywarren commented on #25
Let's get some of these issues closed up now! Things are getting exciting :-)

Be sure to update your StackOverflow and other issues with the solution!

[2017-06-28 15:17] ccpandhare commented on #25
Thanks a lot for the motivation @jywarren and @ryzokuken! I really appreciate that!

Yes, I'll write an answer to the SO question and GitHub issue at the earliest. Thanks.

[2017-06-28 15:17] #25 closed

[2017-06-28 15:19] ccpandhare commented on #29
Now that we're done with that, I think this can be worked upon!

[2017-06-28 15:34] ccpandhare commented on #25
@jywarren you could remove the bounty for this issue now :-)

[2017-06-28 15:38] jywarren commented on #25
I'm not sure I can unless I solve it myself. If you solve it you can have
the bounty and if you like you can repost it on another issue you have.

On Jun 28, 2017 11:34 AM, "Chinmay Pandhare" <notifications@github.com>
wrote:

[2017-06-28 15:43] ccpandhare commented on #25
So should I do that? Is it okay?
Not sure about that...

[2017-06-28 15:56] jywarren commented on #25
Fine with me, it was from personal funds and I'd love to see it reapplied
to a new problem!

On Jun 28, 2017 11:43 AM, "Chinmay Pandhare" <notifications@github.com>
wrote:

[2017-06-29 03:30] ccpandhare commented on #25
Woah, Okay! Thanks!

[2017-06-29 17:27] ccpandhare opened #31 "Issue with non-JPEG images also affecting alpha channel"
## The Issue
Now `PixelManipulation` works perfectly fine for JPEG images. Issues come up when we use PNG/GIF images. I am currently using a petty fix so that this works for all images. This is what I do in `PixelManipulation.js` :
[code]
I am hardcoding the format to "jpeg" whenever a module using `PixelManipulation` is used.
So this is working for all images. But as a result, we can't work with

[2017-06-29 17:33] jywarren commented on #31
Let's post a bounty for this one and move forward without alpha for now.
Thanks!

On Jun 29, 2017 1:27 PM, "Chinmay Pandhare" <notifications@github.com>
wrote:

[2017-06-29 17:50] ccpandhare commented on #31
Okay I will do that!

On गुरु, २९, जून २०१७, २३:०४ Jeffrey Warren <notifications@github.com>
wrote:

[2017-06-30 12:00] jywarren commented on #23
Ok! Now let's find, on the public lab site, a clear before/after NDVI image and get ImageSequencer to reproduce it.  Ask Ned Horning or Chris Fastie!

[2017-06-30 12:00] jywarren commented on #23
Also, can you merge to gh-pages branch so we can update the online demo?

[2017-06-30 12:04] jywarren opened #32 "create a replaceImage() method that uses all the current steps to process and replace an image in the DOM"
This will be a good way to integrate this project's abilities into other sites. Like, replace an image on a webpage.

[2017-06-30 12:05] jywarren opened #33 "pr #30 broke Travis build?"
Uh oh, looks like this broke the build... Any idea why? #30

https://travis-ci.org/publiclab/image-sequencer/builds/248752455?utm_source=email&utm_medium=notification

[2017-06-30 14:48] ccpandhare commented on #32
I already have this in the functionality.
If draw(image) method is run on on the first step (loadImages) then the
image is replaced with the input. I just have to make this more user
friendly. :)

On शुक्र, ३०, जून २०१७, १७:३४ Jeffrey Warren <notifications@github.com>
wrote:

[2017-06-30 15:11] #33 closed

[2017-06-30 15:34] jywarren commented on #33
Sometimes they fail due to upstream server response failure. All good! Go
ahead and close.

On Jun 30, 2017 11:11 AM, "Chinmay Pandhare" <notifications@github.com>
wrote:

[2017-06-30 15:34] ccpandhare commented on #23
Can I generate one from Infragram?

[2017-06-30 15:35] jywarren commented on #32
Yes, I know you already have the functionality... I guess I'm thinking of a
single line command that also accepts an element selector from the page, so
Yu can use it just like jQuerys element.hide().

And a simple example! Great.

On Jun 30, 2017 10:49 AM, "Chinmay Pandhare" <notifications@github.com>
wrote:

[2017-06-30 15:47] ccpandhare commented on #23
I had a quick check. The results from Image Sequencer are very different from those of Infragram

[2017-06-30 18:00] jywarren commented on #23
OK - can you post them all in an issue, both before/after pairs? Let's work
on this!

On Fri, Jun 30, 2017 at 11:47 AM, Chinmay Pandhare <notifications@github.com

[2017-07-01 16:25] ccpandhare opened #34 "Difference in Infragram & ImageSequencer ndvi-red results"
## Original

![original](https://user-images.githubusercontent.com/24359/27974077-565d176e-632a-11e7-8e02-52465bc43d50.jpg)

## Image Sequencer Output
#### Full Image
![Image Sequencer](https://preview.ibb.co/b25c3Q/Image_Sequencer.jpg)

## Infragram Output
#### Full Image
![Infragram](https://preview.ibb.co/euEn3Q/Infragram.jpg)

Is the algorithm we are using for `ndvi-red` correct?
[code]

[2017-07-01 16:37] jywarren commented on #34
Looks like negative values are getting output as positive in
ImageSequencer, perhaps? See the black tree trunks? 🌲

Those are zero or negative values. Maybe negative values aren't getting
zeroed out?

On Jul 1, 2017 12:26 PM, "Chinmay Pandhare" <notifications@github.com>
wrote:

[2017-07-01 16:48] ccpandhare commented on #34
Changed the code to this:
[code]

Output:
![Output](https://preview.ibb.co/hEoQq5/Image_Sequencer2.jpg)

I will check the `infragram-js` repository for details.

[2017-07-01 17:02] ccpandhare commented on #34
I think Infragram uses the same algorithm.
[code]
[code]

Isn't it?

[2017-07-01 18:30] ccpandhare commented on #32
This was solved in #35

[2017-07-03 15:46] ccpandhare opened #36 "What Should Module Logs Include?"
We decided to have logging. SO, what data should be logged? Where does the logged data go?
Does it remain accessible only for that session or should it get stored in a LOG file (for Node.js)?

I think the following should be logged:
* Module Name & Options
* Image details (dimensions,format)
* Success/Failure in generating image

Please let me know what all I am missing.
Thanks :-)

[2017-07-03 15:53] jywarren commented on #36
we should have a standard but human-readable JSON log format, maybe one
which could be used to re-run the sequence with the same options?

Would we also log when module options are changed, say, in the web UI?

On Mon, Jul 3, 2017 at 11:46 AM, Chinmay Pandhare <notifications@github.com>
wrote:

[2017-07-03 16:25] ccpandhare commented on #36
Oh. You meant it this way? I thought it was more of a success/error log. Somewhat like syslog.
I get what you are saying.

That is a great question. Haven't thought of it but yes, I think we should.

So the Log could actually be a set of jsons which represent the user input. Basically everything what the user runs via `sequencer.SOMETHING` along with options and the output as well.

Also what do y

[2017-07-03 16:40] jywarren commented on #36
Let's treat sequencer.log as an array and as the canonical place for this
to be stored. All other means can be built off this.

I think we could also log errors, but anytime we change the sequencer or
the settings, we might as well keep a snapshot of the current state in the
log in a runnable way, I figured!

On Jul 3, 2017 12:26 PM, "Chinmay Pandhare" <notifications@github.com>
wrote:

[2017-07-04 05:44] ccpandhare commented on #36
So something like this, right?

[code]

[2017-07-04 16:10] ccpandhare commented on #36
I have pushed a basic draft of this to ccpandhare:development

[2017-07-04 17:55] ccpandhare commented on #31
I have posted a bounty on [BountySource](https://www.bountysource.com/issues/46732565-issue-with-non-jpeg-images-also-affecting-alpha-channel) over here. Focussing on other stuff now and will get back to this soon.

[2017-07-04 20:17] jywarren commented on #36
Sure. Do you want to store the total state (list of steps and
configurations per step) on each log entry or do you think that's too much?

On Jul 4, 2017 12:10 PM, "Chinmay Pandhare" <notifications@github.com>
wrote:

I have pushed a basic draft of this to ccpandhare:development

—
You are receiving this because you commented.

Reply to this email directly, view it on GitHub
<https://github.com/pu

[2017-07-04 20:24] jywarren opened #38 "Browser Based Tests Using tape-run"
And confirm that the library runs the same in both nodejs and phantomjs -- this will be cool! You could do it in a separate file called browserSpec or something.

[2017-07-05 18:03] jywarren opened #39 "Tweaks to getImages & docs"
Just reading through this again and trying to think as a newcomer --

Should we add `loadImage()` as well as `loadImages()`? I guess I feel the initial default assumption should be that the library works on a single image, and multiple images is a additional mode. That's sort of conceptually simpler too, as a starting point. The README could then say `use loadImage(...)` then have a section called

[2017-07-05 18:05] jywarren opened #40 "chainable methods"
if each method `loadImages()`, `addStep()` etc returns the sequencer itself, we can chain, like:

[code]

That's also a really succinct way to demonstrate the entire usage cycle of the library, and would be great to include in the README!

[2017-07-05 18:06] ccpandhare commented on #39
Yes I agree with this. There's another change I was wanting to make to the
Readme. The TravisCI status being shown is of jywarren:master. It should be
corrected to publiclab:master

On बुध, ५, जुलै २०१७, २३:३३ Jeffrey Warren <notifications@github.com> wrote:

[2017-07-05 18:07] ccpandhare commented on #40
This is actually a great idea! Will add this to the project.

On बुध, ५, जुलै २०१७, २३:३५ Jeffrey Warren <notifications@github.com> wrote:

[2017-07-05 18:10] jywarren opened #41 "Return value of run() and its documentation"
in the docs, we see how to use `run()` but not what it returns -- i'm assuming it's the final image state, right? Just good to be explicit, thanks!

[2017-07-05 18:10] jywarren commented on #39
ah, definitely! good catch!

[2017-07-05 18:14] ccpandhare commented on #41
Umm... run() doesn't return anything... Infact most methods don't return
anything as of now.
run() just calls the draw() method on all steps

On बुध, ५, जुलै २०१७, २३:४० Jeffrey Warren <notifications@github.com> wrote:

[2017-07-05 18:18] jywarren opened #42 "expose direct commandline interface via commander"
This would be really great to show in the README, too -- to demonstrate that it's possible to use this in an everyday commandline setting:

https://www.npmjs.com/package/commander

I think it'd have to accept some kind of command string, maybe JSON like:

[code]

This may need more thought but it'd be a cool idea to have a section in the docs that's like `From the commandline`

[2017-07-05 18:20] jywarren commented on #27
I think it should be OK to have some modules which are marked as working only in the browser. In theory, we could shim this so it'd boot up a phantomjs instance, too, but we can think about that later.

I mentioned some interest from NASA folks and I think this may be a good project that they could use. I'd like to get a demo running with a `crop` module and then pass the output to this `lensDisto

[2017-07-05 18:21] ccpandhare commented on #42
Wow! It's really a coincidence that I was thinking of developing a Binary
for ImageSequencer, too! I'd love to do that!

On बुध, ५, जुलै २०१७, २३:४८ Jeffrey Warren <notifications@github.com> wrote:

[2017-07-05 18:23] ccpandhare commented on #27
Okay! Wow!
Sounds great!!

[2017-07-05 18:26] ccpandhare opened #43 "Clarification About GH-Pages"
I am not sure what we could put up on the `gh-pages` branch. As of now, ImageSequencer doesn't have a browser UI, although it does work on browser. So what should I update on the `gh-pages` branch? It won't be a very good demo, for sure...

[2017-07-05 18:38] ccpandhare commented on #39
Well this does add semantic meaning to the syntax, to be honest.

[2017-07-05 18:41] jywarren commented on #41
maybe run should? If it's asynchronous, then you could pass it an
onComplete method. What do you think?

On Wed, Jul 5, 2017 at 2:14 PM, Chinmay Pandhare <notifications@github.com>
wrote:

[2017-07-05 18:44] jywarren commented on #43
Do you think we need to make this part of the Interface phase, then? I
think ideally you could use parts of the UI that I had been developing,
though with the new way ImageSequencer works, it'd need some refactoring:
https://jywarren.github.io/image-sequencer/

For example, wed have to connect up the buttons again, but more
importantly, we'd have to create a new UI with HTML for each module as you

[2017-07-05 18:46] ccpandhare commented on #41
`run()` already accepts a callback function. I think an `onComplete` type syntax could actually work wonders.
[code]

[2017-07-05 18:48] jywarren commented on #41
ah, but wouldn't there be an order issue with run possibly completing
before onComplete was set?  I didn't see the callback documented at
https://github.com/publiclab/image-sequencer#running-the-sequencer, so
maybe I'm just behind the times.

Anyhow, great!

On Wed, Jul 5, 2017 at 2:46 PM, Chinmay Pandhare <notifications@github.com>
wrote:

[2017-07-05 18:48] ccpandhare commented on #43
Maybe we could start early with the Interface phase and give it more priority as many things are actually on hold because of that. And shift other things to the near future. What do you say about this?

[2017-07-05 18:52] jywarren commented on #43
I guess i'm excited about your progress to date, but we are still in the
first 3rd of the summer, so we needn't rearrange our big schedule if it's
disruptive. :-) Do you still feel that all the current set of tasks make
sense coming before the interface work? Or do you feel that there's enough
stability in the codebase now that you could productively pivot to the in
Interface phase, and that there

[2017-07-05 18:54] ccpandhare commented on #41
Thanks a lot for pointing that out!
I don't know how I missed that there.
Looks like I need to make quite a few changes to the `Readme`. Will open a PR for that tomorrow.

As for the return issue, I will look into the applications, benefits and shortcomings of each of the methods discussed here and will come up with a solution by tomorrow.

[2017-07-05 18:57] ccpandhare commented on #43
I actually think the old plan does still make sense and that it's better to have majority of the functionality ready before we start developing the UI. That might save us time later on. We should maybe stick to this and develop the core modules with great thought so that they don't have to be reworked later on.

[2017-07-05 19:02] jywarren commented on #43
OK! Thanks!

On Wed, Jul 5, 2017 at 2:57 PM, Chinmay Pandhare <notifications@github.com>
wrote:

[2017-07-05 19:02] jywarren commented on #41
Super. Thank you!

On Wed, Jul 5, 2017 at 2:54 PM, Chinmay Pandhare <notifications@github.com>
wrote:

[2017-07-05 19:09] ccpandhare commented on #38
Hey, I actually couldn't understand this part. Tried to think about it the whole day but to no relief:

Could you clarify this please?

Also, Can PhantomJS be used for unit testing? like can we run it in "npm test" ?
Doesn't PhantomJS require the opening of a browser? Am I missing something?

[2017-07-05 19:59] jywarren commented on #38
PhantomJS is a browser compiled to run headlessly on the commandline --
it's pretty neat. JavaScript libraries that run in a browser environment
can do automated testing using PhantomJS even on the commandline. So, for
example, there is a DOM.

So this is the idea of actually making automated tests for both Node and
browser environments, but that all actually can be run headlessly on the
commandli

[2017-07-06 16:17] ccpandhare commented on #39
Fixed in #44 : Improved Docs, Chainable Methods

[2017-07-06 16:17] #39 closed

[2017-07-06 16:51] ccpandhare commented on #41
I think it would be better to have a syntax like
[code]
Where `out` is the output of final module.
There won't be any issue of order in this way.

Giving run a return value may not work, as run is more of an asynchronous function.
Also, it will render `run` unchainable thereafter (run is usually the last method, but still)

[2017-07-06 16:52] ccpandhare commented on #40
Fixed in #44.

[2017-07-06 16:55] #40 closed

[2017-07-06 16:58] ccpandhare opened #45 "Which versions of node are to be supported and tested?"
In .travis.yml :
[code]

Are these the only Node versions we should be testing builds on? what about v6, v7, v8?
I run v7.4.0 on my computer.
[code]

[2017-07-06 17:18] jywarren commented on #41
yes re: unchainable, but that's OK!

[2017-07-06 17:19] jywarren commented on #45
sure, try opening a new PR with them!

On Thu, Jul 6, 2017 at 12:58 PM, Chinmay Pandhare <notifications@github.com>
wrote:

[2017-07-06 17:22] ccpandhare commented on #41
No, I'd like to clear myself here.
This will work and allow chaining, and this is what we should do:
[code]

This will neither work nor allow chaining:
[code]

So I will start working on the first one right away.

[2017-07-06 18:02] jywarren commented on #41
oh huh, great!

[2017-07-06 20:00] ccpandhare commented on #45
fixed in #46

[2017-07-06 20:00] #45 closed

[2017-07-06 20:39] ccpandhare commented on #41
Fixed in #47

[2017-07-06 20:39] #41 closed

[2017-07-06 21:04] jywarren commented on #34
Ah, i wonder -- do you need to be doing:

[code]

So that values from -1 to 1 are mapped from 0-255?

[2017-07-06 21:05] ccpandhare commented on #38
PhantomJS uses the `tape-run` module to headlessly test browser code.
We can also directly use the `tape-run` module. Should we do this?

[2017-07-06 21:11] ccpandhare commented on #34
I think NDVI should just be
[code]
[Wikipedia](https://en.wikipedia.org/wiki/Normalized_Difference_Vegetation_Index#Rationale)

[2017-07-06 23:29] jywarren commented on #34
The issue is that there's a difference between what the NDVI value /is/ and what we can display in an image. Infragram.org decides that since there are negative values in NDVI, we should map actual NDVI values of -1 to 1, which are:

[code]

to the full range we can show in an image, which is 0 to 255, so, broken into two steps:

[code]

[2017-07-06 23:31] jywarren commented on #38
huh, interesting... wait, what do you mean?
https://www.npmjs.com/package/tape-run -- yes, that looks good!

On Thu, Jul 6, 2017 at 5:05 PM, Chinmay Pandhare <notifications@github.com>
wrote:

[2017-07-07 16:43] ccpandhare commented on #36
Well I do think that it's a bit too much... We can store it in a different object, maybe `sequencer.state` ?

[2017-07-07 16:54] jywarren commented on #36
Cool!

On Jul 7, 2017 12:43 PM, "Chinmay Pandhare" <notifications@github.com>
wrote:

[2017-07-07 17:01] ccpandhare commented on #34
I am afraid that doesn't do the task either... Will look into this.
This is the output when I used the above code:
![Image](https://preview.ibb.co/iJkOHv/Unknown.jpg)

[2017-07-07 17:03] ccpandhare commented on #34
Somehow, We aren't reaching the extremes. I mean, The parts which are darker in the Infragram version are lighter here and the lighter ones are darker here.

[2017-07-07 19:37] jywarren commented on #34
That's odd -- I ran this a few times manually with NDVI outputs:

[code]

This seems about right, no? Can you try outputting some of the pixel color values to be sure the NDVI is falling between -1 and 1? I don't really see how it could do otherwise.

[2017-07-07 19:50] ccpandhare commented on #34
Yes, the `ndvi` value is between -1 and 1.
Here's a [PasteBin Link](https://pastebin.com/dS2WqJLP) to the ndvi of each of the pixels of this image, for reference.

But interestingly, most ndvi values are close to zero.

[2017-07-07 19:56] jywarren commented on #34
Can you output the R and B values? I wonder if they're not quite right... wrong scale or something? Maybe they're 0-100 for some reason?

[2017-07-07 20:25] ccpandhare commented on #34
Sure,
This [PasteBin Link](https://pastebin.com/bZ02d21W) has r, b and ndvi values.

[2017-07-07 20:32] jywarren commented on #34
Hmm, now that I think about it, isn't the last image you posted correct? That is, for areas of 0 NDVI, it should appear 50% grey. Infragram is rendering those black, which would be -1.

Do you want to post a question to the site on the topic and ask Chris Fastie and Ned Horning to confirm this?

https://publiclab.org/tag/ndvi has a lot of good info on this, and maybe test images others have used.

[2017-07-07 20:33] ccpandhare commented on #34
Sure will do that!
Thanks for the link!

[2017-07-07 21:44] ccpandhare commented on #32
Recently Completed this Issue and pushed changes to #35
I have even added a small working browser demo :-)

[2017-07-07 21:44] #32 closed

[2017-07-07 22:38] jywarren commented on #4
This could be done by setting up a basic Leaflet map in an example, and using this listener to find when tileLayers are loaded: https://stackoverflow.com/questions/27378572/leaflet-fire-event-when-tile-layer-loading-begins-and-ends#27379032

[code]

Then use the new `replaceImage()` method on them!

[2017-07-08 12:53] ccpandhare commented on #34
[This](https://publiclab.org/questions/ccpandhare/07-08-2017/how-to-verify-if-my-programmatically-generated-ndvi-version-of-an-image-is-correct) is the link to the question I have asked on the website.

[2017-07-08 12:54] ccpandhare commented on #27
I think I can work on that demo now.

[2017-07-08 13:21] jywarren commented on #27
Oh great!

On Jul 8, 2017 8:54 AM, "Chinmay Pandhare" <notifications@github.com> wrote:

[2017-07-08 13:26] ccpandhare opened #48 "A Semantic Issue"
How addSteps, removeSteps, etc. work currently :
If no image is specified in the addSteps or removeSteps arguments, then the operation is performed on all images.

Recently we allowed chaining of methods which enables us to do this:
[code]
As you can see, no image is specified with `addSteps`. This means that `ndvi-red` will be added to ALL images present in the sequencer.

What should be done:

*

[2017-07-08 13:44] jywarren commented on #48
I guess I think a diagram would be useful here, showing images, their
movement through the steps, etc.

I was tempted to say we should just create a separate instance of sequencer
for each image... but that doesn't make a lot of sense.

Not only is it useful to be able to "cache" any image that's passed
through, so we can efficiently rerun things, but if we want to load a new
image in, it makes so

[2017-07-08 13:59] jywarren opened #49 "image degredation over repeated steps (invert)"
Aha, very interesting! If you repeat clicking too long, the image degrades; we can address this in a follow-up issue but it's really cool to see, actually! Must be decimal/integer issues.

![index 2](https://user-images.githubusercontent.com/24359/27985934-d757b8c6-63c3-11e7-816b-ed3c748dc9ca.jpg)

Kind of fascinating actually I wonder if it's conversing values from decimal to integer and back ove

[2017-07-08 14:47] ccpandhare commented on #49
Jeff, I can assure you that's not the issue.
But what you said will definitely be beneficial sometime in the future! Thanks!

I just tried this:
[code]
That is, explicitly asking save-pixels to save in high quality.
After that, there was no deterioration as we can see above at all.

But that created a new problem. The build failed.
One unit test failed.
![Screenshot of failed test](https://preview

[2017-07-08 16:10] ccpandhare opened #51 "More Testing"
Should we include `grunt build` as a build job?
anything else we should include? Once the PhantomJS tests are ready, we should include them too.

[2017-07-08 16:21] ccpandhare commented on #49
Why do you think the reason could be?
For two strings to be unequal but seem equal when printed?
Different encoding?
Or What could it possibly be? I am just out of thoughts :/

[2017-07-08 16:46] ccpandhare commented on #34
I have some good news on this front, finally!
### A Relief, Finally!
Chris Fastie suggested I try an image he gave. I think I got the right output from ImageSeqeucer.
It even matched that of Infragram!
But I do have Some interesting news here.

### Original
![Original](http://preview.ibb.co/fT1Xea/vegetation_01.jpg)

### Infragram Output
![Infragram](http://preview.ibb.co/cVsikF/infragram.png)

##

[2017-07-08 17:26] jywarren commented on #49
Whoa. Can you paste in the two strings here? What if you convert both to
string with parseString, just in case?

On Jul 8, 2017 12:21 PM, "Chinmay Pandhare" <notifications@github.com>
wrote:

[2017-07-08 17:41] jywarren commented on #34
I think the older algorithm is flooring anything below zero! But you should post these results to Chris and ask him too:

https://publiclab.org/questions/ccpandhare/07-08-2017/how-to-verify-if-my-programmatically-generated-ndvi-version-of-an-image-is-correct

[2017-07-08 17:46] ccpandhare commented on #34
Okay, Done that!

[2017-07-08 18:06] jywarren opened #52 "segmented-colormap module"
we can use PixelManipulation, and copy this directly from Infragram.org (https://infragram.org/sandbox/):

https://github.com/publiclab/infragram-js/blob/master/public/infragram.js#L88-L114

that method returns a new function which maps an incoming value (0-255) to an outgoing value, and can be run on each pixel.

Colormap functions are based on a nested array:

https://github.com/publiclab/infrag

[2017-07-10 13:35] ccpandhare commented on #48
I think you are right. We should cache the state only if it is required.

Also I have created a pull request which solves the issue I have mentioned above #53

[2017-07-10 13:53] #48 closed

[2017-07-10 13:53] #43 closed

[2017-07-11 05:50] #51 closed

[2017-07-11 13:43] #38 closed

[2017-07-12 20:57] ccpandhare commented on #52
Added in #57!

[2017-07-12 20:57] #52 closed

[2017-07-13 13:03] ccpandhare opened #59 "Reorganize Modules Folder Structure"
I was implementing FishEyeGL and noticed that we need a different folder structure for that.
FishEyeGL has shaders. So there have to be multiple files.
So instead of this:
[code]
Should we move into this:
[code]

Benfits of this folder structure :
* Multiple files per module can be stored.
* Easier to port external modules - We can have the external module file and our own `Module.js` which will a

[2017-07-13 13:12] ccpandhare commented on #59
We can then also have a separate documentation file for each module in their own folder. Not sure if this is useful...

[2017-07-13 13:19] ccpandhare commented on #4
Sorry, I am still unable to make out...
What are we trying to accomplish with leaflet.js?

[2017-07-13 13:44] ccpandhare commented on #34
Chris suggested another image. I tried that out. The same issue was there:
* Old algorithm : broken at negative values
* New Algorithm : faint.

So I created another algorithm "Improved Algorithm":
[code]
This is basically the old algorithm, with the difference that I map negative values of ndvi to 0.
This algorithm produced the exact same result as Infragram! I am not sure if this algorithm is co

[2017-07-13 14:00] jywarren commented on #34
Ok, this is good to know. I think this may show how infragram.org is
destroying some information when in non colorized mode. To do better we
should preserve sub zero values and pass the whole thing to the colorized
for easier viewing.

I think we're good here then!

On Jul 13, 2017 9:44 AM, "Chinmay Pandhare" <notifications@github.com>
wrote:

[2017-07-13 14:01] ccpandhare commented on #34
This is definitely not the right method.
It worked for this:
![Original](http://preview.ibb.co/fT1Xea/vegetation_01.jpg)

But not for this:
![Original](https://user-images.githubusercontent.com/24359/27974077-565d176e-632a-11e7-8e02-52465bc43d50.jpg)

Interestingly, mapping all negatives to 0 and all positives to 255 worked for the second one.

So are we missing something in the algorithm?

Maybe

[2017-07-13 14:01] jywarren commented on #59
I like this. Esp for the different docs files in each folder. Eventually
this also makes it easier to break modules out into their own NPM packages
if we want to do that.

On Jul 13, 2017 9:12 AM, "Chinmay Pandhare" <notifications@github.com>
wrote:

[2017-07-13 14:02] ccpandhare commented on #59
Okay then I shall work on this!

[2017-07-13 14:03] ccpandhare commented on #34
I think there is data rounding off in Infragram as you pointed out.

[2017-07-13 14:04] jywarren commented on #4
So one use case of replaceImage could be to replace all images that are
tiles in a web map like leaflet. But we would have to continue triggering
replaceImage as new map tiles are loaded, so we need to listen for the
event Leaflet emits when new tiles have been loaded, and run replaceImage
on all the new tiles.

I realised also that means we may want to append a class like
"image-sequenced" (maybe

[2017-07-13 14:06] jywarren commented on #34
Yes. I think the lower contrast image is actually the correct one. To make
it more readable we should colormap it.

On Jul 13, 2017 10:04 AM, "Chinmay Pandhare" <notifications@github.com>
wrote:

[2017-07-13 14:44] Fastie commented on #34
Jeff might be right that the lower contrast version ("new algorithm") is correct. The NDVI values for that photo are mostly between -0.2 and +0.3, so there should be very little black or white in the grayscale image, assuming that -1 is black and +1 is white. Here is the histogram of NDVI values computed by Fiji:
![w25floathist](https://user-images.githubusercontent.com/1805899/28171468-82a3968c-6

[2017-07-13 14:52] jywarren commented on #34
very helpful. i think we're on the right track then, and part of the NDVI
module may need to be a config option to set the output range (defaulting
to -1=>1 mapping to 0-255).

Also, i think we should make a histogram module! Kinda weird, but it could
output a histogram graph given an image input! but let's think about that
later (it could use plotly, though inefficiently, and would probably break

[2017-07-14 04:05] ccpandhare commented on #59
Fixed in #60

[2017-07-14 19:38] #59 closed

[2017-07-16 07:44] ccpandhare commented on #27
I have ported the Latest FisheyeGL version from `jywarren/fisheyegl` to ImageSequencer.
I am adding it to documentation and will create a Pull Request soon!

[2017-07-16 23:17] jywarren commented on #23
Really coming along here!

The fisheye module really starts to dig us into user interface and options setting stuff.

Another thing we may want to add is -- can modules access information from previous modules? Say, if we had a module that produced a certain output, could we pass that information on to later modules to use? I don't know -- say, a decoded QR code, or... extracted EXIF data?

[2017-07-17 12:54] jywarren commented on #23
For example, what if we included a QR code in an image and it generated metadata available to the sequencer modules? I'm thinking about for example a colored backdrop with a qr code which, when you photo it, runs a particular module automatically or something.

This is probably thinking too far ahead :-) let's think interface for now!

[2017-07-17 12:56] ccpandhare commented on #23
Well that sure is a possibility, and I am sure it can be done!
But yes, UI should be implemented first :D

[2017-07-17 12:58] ccpandhare commented on #23
Well yes! I think I can add this after the UI

[2017-07-17 14:44] jywarren opened #64 "Webgl-distort library module"
Thinking ahead again (so, lower priority) but it'd be great to integrate the `webgl-distort` library:

https://github.com/jywarren/webgl-distort

This, like `fisheyegl`, uses WebGL canvas.

It probably needs to be packaged up for compatibility with `require` or something, but it is also on NPM:

https://www.npmjs.com/package/webgl-distort

[2017-07-18 23:29] jywarren opened #65 "Planning interface architecture"
Just to kick this off, i had some thoughts:

Each module should have a default interface, which perhaps just doesn't do anything. But we should be able to add an interface, and connect up:

* `onAdd` or `onSetup` - runs when the module is added - can be used to create/append HTML
* `onTrigger` or `onDraw` - runs when the module is run
* `beforeDraw` vs. `afterDraw`? These could display for example

[2017-07-18 23:37] jywarren commented on #65
I actually think we may want to create an extremely minimal "simple" html interface first to prove out our architectural decisions and also make it easy for people to understand how an interface can be implemented. Then circle back for a more awesome interface as a second step. What do you think?

[2017-07-18 23:38] jywarren commented on #65
Like maybe the simplest just displays the images in div, no more.

Also, let's think carefully about designing this so that the interface code may eventually be spun out into a separate module.

[2017-07-19 12:49] ccpandhare commented on #65
Okay! All this sounds great! Just a few thoughts here:
* Shouldn't the modules be independant of the implementation (i.e. the UI/FrontEnd Code)?
* We also have support for NodeJS. So what will the above methods as mentioned by you do in NodeJS?
* What I had in mind was a module called "UserInterface.js" (Just like Image Sequencer had, initially.). whenever an image is drawn, `UserInterface` is inf

[2017-07-19 12:50] ccpandhare commented on #65
I do agree to the fact that we should have a basic, but rigid UI in the beginning, and then develop it furtyher.

[2017-07-19 14:29] jywarren commented on #65
Just brainstorming here -- What about a class called ModuleInterface, where
it's not in the module code but an instance is created and attached to each
separate module?

On Jul 19, 2017 2:51 PM, "Chinmay Pandhare" <notifications@github.com>
wrote:

[2017-07-19 15:30] ccpandhare commented on #65
That sounds great! 👍

[2017-07-21 07:26] ccpandhare opened #66 "NodeJS Binary Output"
We should allow users on NodeJS to save output to actual binary files!
Agree?
Some gitignored directory like `./output/` could be used for the same

[2017-07-21 15:08] jywarren commented on #66
That'd be cool! Although we should just save to the same directory unless
there's a specified destination directory -- and we can look back at this
when we try a commandline interface. +1!

On Fri, Jul 21, 2017 at 3:26 AM, Chinmay Pandhare <notifications@github.com>
wrote:

[2017-07-21 15:12] jywarren commented on #65
Had another thought on this -- the most basic version of the demo interface could just insert a default `options` object into a textarea, and allow people to just edit it directly in text. This isn't a friendly UI, but it very clearly explains what the UI allows you to do with regard to options. What do you think?

So a demo UI could:

1. display the options parameter object for editing
2. display

[2017-07-21 15:15] ccpandhare commented on #65
By `options`, do you mean the options in this syntax:
[code]
If yes, then I agree with all you've said!

[2017-07-21 19:16] jywarren commented on #65
Yep!

On Jul 21, 2017 5:15 PM, "Chinmay Pandhare" <notifications@github.com>
wrote:

[2017-07-21 20:54] ccpandhare commented on #65
Please see #67

[2017-07-21 20:55] ccpandhare commented on #66
Okay!

[2017-07-22 06:02] ccpandhare opened #68 "Should Node-Canvas be used?"
I know, we've had this discussion about node-canvas earlier, but since quite a lot of algorithms are based on canvas, Do you think we should include `node-canvas` in image sequencer anyway?

[2017-07-22 06:06] ccpandhare commented on #34
I will open up an issue for the histogram module.
Also, What colormap should we use then? Or should we use one at all?

[2017-07-22 06:10] ccpandhare opened #69 "Create Histogram Module"
Also, don't you think that the steps after histogram should use the output from the step BEFORE histogram?
It doesn't quite make sense to apply a module on the "histogram" output.
So what we can do is, the histogram module shows the histogram of the image but passes on ITS INPUT as its output to OTHER modules.

Similarly for the QR Code module?

[2017-07-22 07:54] jywarren opened #70 "Namespaced persistent data for each module"
Still traveling so i'll get to your other issues when i can, but I wanted to suggest that persisted data from each module could be stored in a namespaced hash, such as:

[code]

That object would be accessible to each module, and the UI functions as well. Haven't thought through how to pass it but perhaps it's just a property of each image object that the sequencer stores? Any thoughts?

[2017-07-22 08:18] jywarren commented on #68
I think only if there's additional optimization we can offer - like a
reusable canvas to save memory, or a compatibility fallback. Otherwise it
may make the lib unnecessarily heavy. What do you think?

On Jul 22, 2017 8:02 AM, "Chinmay Pandhare" <notifications@github.com>
wrote:

[2017-07-22 18:22] ccpandhare commented on #70
That's nice!
What exactly should be stored that way?

[2017-07-23 04:11] ccpandhare opened #71 "Implement QR-Decode Module"
I found quite a few npm packages for the same:
* [QRCode Reader](https://www.npmjs.com/package/qrcode-reader) (Uses Canvas)
* [jsQR](https://www.npmjs.com/package/jsqr) (Does Not Use Canvas)
* [JS QR Code](https://www.npmjs.com/package/jsqrcode) (Uses Canvas)

Since jsQR is a pure JS port of the best QR Code decoding library ZXing, and it does not use Canvas or WebGL, I think We should use that. N

[2017-07-23 05:25] jywarren commented on #70
Say, output of qr code module, Exif data, things like that? Original size,
for crop?

On Jul 22, 2017 8:22 PM, "Chinmay Pandhare" <notifications@github.com>
wrote:

[2017-07-23 05:45] ccpandhare commented on #70
Okay! Got it! Thanks :-)

[2017-07-23 07:26] ccpandhare commented on #71
PR #72 Resolves this.

[2017-07-23 07:26] #71 closed

[2017-07-24 17:30] jywarren opened #74 "Runkit.com demo"
low priority, but kind of interesting -- i think this is currently still waiting for the newly published npmjs module to update, but could/should work?

https://runkit.com/jywarren/image-sequencer

Nice to give people a Node demo sandbox to work with :-)

[2017-07-24 18:26] #31 closed

[2017-07-24 18:47] ccpandhare commented on #74
Yes, It should work!

[2017-07-24 20:08] ccpandhare opened #75 "Pixel Manipulation and GIFs"
Thanks to #73, GIFs are fully supported by PixelManipulation!

But It doesn't really work as expected. I inverted the following GIF using IS :

![ani-pm-hammer](https://user-images.githubusercontent.com/20787612/28542412-a9c34a88-70d9-11e7-8868-b66bb82ba062.gif)

This is the result:

![gif](https://user-images.githubusercontent.com/20787612/28542439-c03734d2-70d9-11e7-818e-e0e2d5b2b014.gif)

It do

[2017-07-24 20:11] ccpandhare commented on #75
Also, some other modules don't work with GIFs yet. Like the Crop Module.

[2017-07-24 20:33] ccpandhare commented on #68
Yes, I was thinking about it. I don't think we need canvas. We need WebGL contexts actually.

I found this on NPM:
[gl | Headless WebGL Context in Node.js](https://www.npmjs.com/package/gl)

What do you think about this?

[2017-07-24 20:37] ccpandhare commented on #68
Actually that may not be a very good idea, since it is still under development, also, `node-canvas` has less dependancies (3) than `gl` (6)...

I guess we still need to think about this more...

[2017-07-24 20:59] ccpandhare commented on #49
Sorry, this somehow skipped me. Thanks for your suggestion about the `String()` but that didnt work. Based on StackOverflow answers, I have tried `string.trim()`, that didn't work either.

Also, this works:
`string1.substring(0,string1.length-25) == string2.substring(0,string2.length-25) //true`

If 25 is replaced with any number less than 25, the above returns false.

These are the two strings:
(

[2017-07-24 21:17] ccpandhare commented on #70
What can be done about the module repetitions in this regard? Then we will need different namespaces for each repetition. So, is this a viable option? :

[code]

It doesn't sound like a good idea for further repetitions to replace the previous metadata of the same module.

[2017-07-24 21:25] ccpandhare commented on #70
Or this:
[code]

This sounds better. Accessing metadata would be like (for the latest repetition): (pseudocode)
[code]

[2017-07-24 23:09] ccpandhare commented on #14
Yes I totally agree. I think this can be implemented at a later stage though!

[2017-07-24 23:10] #19 closed

[2017-07-24 23:13] ccpandhare opened #78 "Allow Image Sequencer to load images locally and via HTTP requests in Browser"
Image Sequencer requires DataURI input when in Browser mode.
I think we should allow local images and AJAX images via XHR Requests too.

[2017-07-25 11:29] jywarren commented on #78
What would the syntax be? Thanks!

On Jul 25, 2017 1:13 AM, "Chinmay Pandhare" <notifications@github.com>
wrote:

[2017-07-25 11:32] ccpandhare commented on #78
No syntax updates... Just an internal update to loadImages. Now users will
be able to load external images (local or otherwise) using loadImage() on
browsers.

On मंगळ, २५, जुलै २०१७, १६:५९ Jeffrey Warren <notifications@github.com>
wrote:

[2017-07-25 11:35] jywarren commented on #78
Ok!

On Jul 25, 2017 1:33 PM, "Chinmay Pandhare" <notifications@github.com>
wrote:

[2017-07-25 11:36] jywarren commented on #78
Maybe an example in the readme can illustrate that?

On Jul 25, 2017 1:35 PM, Jeffrey Warren <jeff@unterbahn.com> wrote:

[2017-07-25 18:31] ccpandhare commented on #78
Yes, sure. I am still working on this. So once I am done with this, I shall add an example to the README.md

[2017-07-25 18:35] ccpandhare opened #79 "Split README.md into README.md and CONTRIBUTING.md"
Now that Image Sequencer has been published to npm, I think the `README.md` should only consist of Usage instructions and all the development notes should be in `CONTRIBUTING.md`.
Am I right in thinking so?
Also because `README.md` has become very long over the time.

Should README.md have a small navigation or "jump to..." section?

[2017-07-25 18:37] #29 closed

[2017-07-26 02:23] jywarren commented on #34
I'm not sure -- isn't a basic histogram just a graph, not colorized? Maybe stick with the simplest version for now?

[2017-07-26 02:23] jywarren commented on #79
sure! Great.

[2017-07-26 04:15] jywarren commented on #68
Yeah, we can wait a bit. But we could also just require `phantomjs` to do this, perhaps? In any case let's wait a bit for now; does `node-canvas` or `phantomjs` provide WebGL?

[2017-07-26 04:21] jywarren commented on #49
Aha! I looked really carefully -- the first string ends with:

`APxfr/Kc/wC/gKACgAoA/wD/2Q==`

The second ends with:

`APxnr/Kc/wC/gKACgAoA/wD/2Q==`

Notice: `APxfr` vs. `APxnr` -- !!

just one character off.

[2017-07-26 04:22] jywarren commented on #49
If you re-encode again, does it stay `APxfr`?

[2017-07-26 04:25] jywarren commented on #70
You know, I think actually later modules should overwrite previous ones. Or should move previous ones to an older namespace or something. Say, if the QR code module generates `metadata.decode-qr`, you should get the most recent result in that value. Maybe each could return an object, but the object can have `metadata._MODULENAME_.previous`?

[2017-07-26 05:00] ccpandhare commented on #34
Yes, true.
I was actually referring to the colormap we were going to apply to ndvi-red in order to get better contrast for the viewers...

[2017-07-26 05:09] ccpandhare commented on #68
Node-canvas doesn't provide WebGL as far as I know, PhantomJS doesn't intend to support WebGL since it's a headless browser, and supporting WebGL would require an OpenGL capable system - and PhantomJS would no longer remain self contained. (Source: phantomjs)

Other npm modules like the one I have stated above provides WebGL ports.

[2017-07-26 05:36] ccpandhare commented on #49
Wow those are exceptionally great observation skills there, I must say!

[2017-07-26 06:59] jywarren commented on #34
Oh haha ok yeah. So last I remembered we broke colormap into its own
module. Are we talking about what the default is or what we should show in
the example demonstrating ndvi? Again, apologies if I'm slow at the moment.

On Jul 26, 2017 7:00 AM, "Chinmay Pandhare" <notifications@github.com>
wrote:

[2017-07-26 07:16] ccpandhare commented on #49
No, re-encoding doesn't change anything, I tried.
I think the method I am using for testing this isn't ideal.
I doubly-invert a DataURL and equate two DataURL strings.

I should probably use a different sort of comparison. Like one with a threshold.
I don't know why doubly inverting a DataURL would give a slightly different result when generated in High Quality. Do you know any articles which woul

[2017-07-26 07:19] jywarren commented on #49
I agree we should try a different way of diffing. Look at the resources in
the README, I found some that work on images and return a percentage
difference.

On Jul 26, 2017 9:16 AM, "Chinmay Pandhare" <notifications@github.com>
wrote:

[2017-07-26 07:19] ccpandhare commented on #34
No no, I totally understand that you have a lot to look after!

Actually we were getting different outputs for `ndvi-red` than what Infragram gives.
After a lot of tests, we concluded that Image Sequencer gave the right results, and that Infragram uses some "colormap" to enhance the image for better viewing.

The histogram thing was completely different, Sorry. That must have confused you - I shou

[2017-07-26 07:20] ccpandhare commented on #49
Thanks for the update! I will do that.

[2017-07-26 07:23] ccpandhare commented on #70
Okay... What you say is definitely correct for a QR Decode module.
But say, for a Crop module, it won't be valid. The image might be cropped multiple times so I think we should preserve that data as well.

[2017-07-26 08:08] jywarren commented on #70
Ok, but so walk me through the scenario - what would you want to know about
multiple successive crops? I guess I see how the array works better there.
Maybe it's an array but we also offer accessors via namespace, like
getMetadata("crop")?

On Jul 26, 2017 9:23 AM, "Chinmay Pandhare" <notifications@github.com>
wrote:

[2017-07-26 08:11] ccpandhare commented on #70
About multiple crops : We could track how the image transformed over time.

Okay I get what you are saying about the namespace, shall do.

[2017-07-26 08:14] ccpandhare commented on #70
Will it work for the `getMetadata` function to be passed in to the module instead of the entire sequencer?

I feel that the module shouldn't have access to the sequencer because the module is a part of the sequencer and should not get access to other images, sequencer methods like `loadImage`, `addSteps`, etc.

[2017-07-26 08:17] jywarren commented on #70
Also I'm just putting out ideas, and can be persuaded. This will require
some thorough thinking!

On Jul 26, 2017 10:11 AM, "Chinmay Pandhare" <notifications@github.com>
wrote:

[2017-07-26 08:18] ccpandhare commented on #70
Yes, that's true. Some more thought is required here.
I shall think about this and come up with a plan.

[2017-07-26 08:19] jywarren commented on #34
But didn't I see a separate colormap module you wrote? I think we can just
consider ndvi separately from color mapping; after all, Infragram does them
as two separate steps. Does that answer your question?

On Jul 26, 2017 9:19 AM, "Chinmay Pandhare" <notifications@github.com>
wrote:

[2017-07-26 08:22] ccpandhare commented on #34
Yes there is a separate colormap module. Yes, this does solve my question. I was under the impression that we should have a colormap too.
Okay then, I think this can be closed now and `ndvi-red` is good to go!

[2017-07-26 08:26] jywarren commented on #34
Wait, do we need an NDVI module which accepts an option for which channels
to use, default to red/blue? Rather than this? Or maybe ndvi-red is just a
wrapper if ndvi which defaults to red? Or am I overthinking this.

On Jul 26, 2017 10:22 AM, "Chinmay Pandhare" <notifications@github.com>
wrote:

[2017-07-26 08:27] jywarren commented on #70
As to access to the sequencer I agree but maybe we need an internal API
that the sequencer offers the module. Like, an object that includes a set
of helpful functions but is much narrower than the whole sequencer object.

On Jul 26, 2017 10:18 AM, "Chinmay Pandhare" <notifications@github.com>
wrote:

[2017-07-26 08:28] ccpandhare commented on #34
It could be renamed to `ndvi` and default to R and B channels.
As of now it doesn't accept any such parameters.

[2017-07-26 08:30] jywarren commented on #27
Will we need to adjust the module to point at the fisheyegl mom package?

[2017-07-26 08:33] ccpandhare commented on #27
Well once the README.md of `jywarren/fisheyegl` is complete and is published to npm, we can just require in `fisheyegl` from npm and use it directly. I shall complete that immediately.

[2017-07-26 08:38] jywarren commented on #65
Ok, I think we should implement an example (maybe all examples?) Using the new UI system. Then link to the examples to show how the UI may be hooked up. What do you think?

[2017-07-26 08:43] ccpandhare commented on #65
Yes I think that is a good way to show how to use the UI!

[2017-07-26 09:02] ccpandhare commented on #49
The issue that we are facing, of the unequal DataURLs, could it be the result of the lossy JPEG compression?

[2017-07-26 09:09] ccpandhare commented on #49
Turns out I am right! I converted that image to PNG and now it works! What should be done now? I still think that comparing with a threshold should should be implemented.

[2017-07-26 15:58] jywarren commented on #49
Sure, open up a new issue for image diff based testing. Great!

On Jul 26, 2017 5:09 AM, "Chinmay Pandhare" <notifications@github.com>
wrote:

[2017-07-26 19:13] #79 closed

[2017-07-26 19:43] jywarren opened #82 "Demos rework + starter module rethink"
Now that we have a UI system, I'd like to take the "starter module" idea from the previous demo, and start by plugging it into the new sequencer code.

This is the first step in getting a demo that runs on the new code. But do you think we should package up the selector more than including it in the demo code? I had originally seen it as a kind of "special module" but if it really doesn't fit into

[2017-07-26 19:49] ccpandhare commented on #82
Sorry, I am not able to get you here... What is a "starter module" ?
Are you taking about the initial step on every image, `load-image` ?

[2017-07-26 19:50] jywarren commented on #4
Just a followup fleshing this out a bit more; the demo could be later built out into a plugin named `Leaflet.TileFilter: A Leaflet plugin that accepts a pixel compositing function and runs it on every pixel of incoming tiles, on the fly`

[code]

[2017-07-26 19:52] ccpandhare commented on #4
This looks nice!

[2017-07-26 19:58] ccpandhare opened #83 "Image Diff based testing"
Check image similarity using [image-diff](https://www.npmjs.com/package/image-diff)

[2017-07-26 20:03] jywarren commented on #27
fisheyegl `v0.1.0` now published :-)

[2017-07-26 20:05] ccpandhare commented on #74
There's a small problem here:
https://runkit.com/embed/epjvm3wepv8c
[code]

[2017-07-26 20:07] ccpandhare commented on #74
Is this still waiting for npmjs to update?

[2017-07-26 20:08] ccpandhare commented on #27
Okay thanks!

[2017-07-26 20:18] jywarren commented on #82
Sorry, I'm talking about the older system which had a pseudo-module to
"start the sequencer": https://jywarren.github.io/image-sequencer/

On Wed, Jul 26, 2017 at 9:49 PM, Chinmay Pandhare <notifications@github.com>
wrote:

[2017-07-26 20:18] ccpandhare commented on #27
I think it hasn't updated yet.
[npm/fisheyegl](https://www.npmjs.com/package/fisheyegl) still shows the old README.md and
[code]
is still serving the old files

[2017-07-26 20:18] jywarren commented on #74
yeah i dunno why it's stuck... i reported the module missing again.

On Wed, Jul 26, 2017 at 10:07 PM, Chinmay Pandhare <notifications@github.com

[2017-07-26 20:22] ccpandhare commented on #82
Yes, I remember. And we had discussed how that's not a good idea so now we no longer use the pseudo module. I will redo the demos using the new UI System.

[2017-07-26 20:25] jywarren commented on #69
Yeah, perhaps we should wait on this a bit. It seems almost like a use case external to `image-sequencer`, as useful as it is.

[2017-07-26 20:30] jywarren commented on #82
right. agreed. But I'm thinking we can move that code into the demo code
outside the library itself, since there's some good convenient UI there,
the ability to select or drag/drop to activate the demo. Sound all right?

On Wed, Jul 26, 2017 at 10:22 PM, Chinmay Pandhare <notifications@github.com

[2017-07-26 20:30] jywarren commented on #27
hmm, i didn't include the README but the files should be new. i'll issue
v0.1.1 to be sure.

On Wed, Jul 26, 2017 at 10:18 PM, Chinmay Pandhare <notifications@github.com

[2017-07-26 20:38] ccpandhare commented on #69
You did talk about "Terminating Modules" long ago in #13, I think that can actually be made a thing!
Like we can provide histograms for any image in a sequence, when demanded by the user!
A histogram in the middle of a sequence doesn't make much sense, but one as an on-demand side chain does!

[code]

[2017-07-26 20:39] ccpandhare commented on #27
Now it works fine, thanks!

[2017-07-26 20:40] jywarren commented on #27
great.

[2017-07-26 20:42] jywarren commented on #69
+1

On Wed, Jul 26, 2017 at 10:38 PM, Chinmay Pandhare <notifications@github.com

[2017-07-26 20:59] ccpandhare commented on #74
I realized we have the same issue as in [fisheyegl/#17](https://github.com/jywarren/fisheyegl/issues/17)
We are requiring in `./dist/image-sequencer.js` which returns an empty object `{}`. That is why the RunKit isn't working.

While testing we usually do `require('./src/ImageSequencer.js')` and not `require('./dist/ImageSequencer.js')`. The latter returns an empty object, the former returns the i

[2017-07-26 21:01] ccpandhare commented on #74
Is there a workaround for this such that browserify produces a file which can be both used in Browser as well as required in Node?

[2017-07-26 21:08] jywarren commented on #74
hmm, i'm not sure... can you do a check for window, and instantiate
accordingly? Or perhaps we need to append a separately wrapped version for
node usage?

On Wed, Jul 26, 2017 at 11:01 PM, Chinmay Pandhare <notifications@github.com

[2017-07-26 21:20] ccpandhare commented on #74
I already am instantiating according to the presence of `window`. That's why :
* `./src/ImageSequencer.js` can be required in Node.js
* `./dist/image-sequencer.js` can be run in Browser

Maybe this has to do with the way Browserify handles everything, I am not sure...

[2017-07-26 21:25] ccpandhare commented on #74
What would happen if we changed `package.json` to:
[code]
?

Whoever is using npm will be `require()`-ing Image Sequencer, so it should work for everyone...
Is `./dist/image-sequencer.js` supposed to be served by npm, or by a CDN?

[2017-07-26 21:44] jywarren commented on #74
I was just thinking the same thing. Let's try it! You can npm require a
branch directly via a URL from an upstream package.json to test it out.

On Jul 26, 2017 5:25 PM, "Chinmay Pandhare" <notifications@github.com>
wrote:

[2017-07-27 05:35] ccpandhare commented on #74
Yes I have tried it! It works!
[code]

[2017-07-27 13:58] jywarren commented on #74
Super. Merge a PR with that package.json and bump the version number, and
let's try runkit again. :-)

On Jul 27, 2017 1:35 AM, "Chinmay Pandhare" <notifications@github.com>
wrote:

[2017-07-27 18:06] ccpandhare commented on #74
I have merged the PR ( #84 ).
I don't have publish privileges, So I can't bump the version, so I request you to publish the new version!
It must work this time :-)

[2017-07-27 18:26] jywarren commented on #74
OK, i published but then noticed #84 failed tests? Can you figure that out?

https://www.npmjs.com/package/image-sequencer

Thanks!

[2017-07-27 18:56] ccpandhare commented on #74
![screenshot_ -](https://user-images.githubusercontent.com/20787612/28687169-372cf34e-732b-11e7-8633-795daf05d80d.jpg)
I don't think #84 failed tests, It's just that I merged the PR before the TravisCI build completed.

[2017-07-27 18:57] ccpandhare commented on #74
I checked TravisCI. #84 had passed. The build didn't fail, I think the "cross" is shown on the commit in #84 because I merged it in before the TravisCI build completed.

[2017-07-27 18:59] jywarren commented on #74
Ah ok!

On Jul 27, 2017 2:56 PM, "Chinmay Pandhare" <notifications@github.com>
wrote:

[2017-07-28 07:06] ccpandhare commented on #74
https://runkit.com/embed/hvtvir55gm5v

It works now!

[2017-07-28 07:07] ccpandhare commented on #74
Closing this issue.

[2017-07-28 07:07] #74 closed

[2017-07-28 07:07] #78 closed

[2017-07-28 18:23] jywarren commented on #74
Great, can you add this to the README too?

[2017-07-28 20:30] ccpandhare opened #85 "Rework UI Handling"
@jywarren you were once suggesting changes in the UI module. I thought upon them, and find them really interesting. Also, the current system has forward compatibility issues (Adding new features to it is really complicated. The code quality isn't very good). I have been working on the new model, with a much cleaner syntax and code and working on it all day. Will create a PR when ready.

Some takea

[2017-07-28 20:55] jywarren commented on #85
:-) that's OK -- you're doing really well, thinking through usage and these
improvements are great. Let's just not forget to start wrapping up along a
reasonable timeline for SoC -- and getting our demos and such working. I'd
even like to consider making a demo that's a complete replacement for
Infragram.org and FisheyeGL -- with the extra HTML UI those two have.

Thanks!

On Fri, Jul 28, 2017 at

[2017-07-28 22:14] ccpandhare commented on #85
Yes, you are right. We have to follow a timeline. I shall stick to it.

Now that the new version of FisheyeGl has been published, I can re-implement the FisheyeGL Module!

[2017-07-28 22:25] jywarren commented on #85
+1!

On Jul 28, 2017 6:14 PM, "Chinmay Pandhare" <notifications@github.com>
wrote:

[2017-07-31 20:02] ccpandhare commented on #85
"Rework UI Handling" has actually solved a few things for us!
* Modules can give any number of output(s) to the user
* User can send in inputs to the module
* It is much cleaner

[2017-07-31 20:06] ccpandhare commented on #85
This is similar to Metadata. Except that the metadata is stored per "step" and not per "module-name"

[2017-07-31 20:09] jywarren commented on #85
Ah ok! That does make sense.

On Jul 31, 2017 4:07 PM, "Chinmay Pandhare" <notifications@github.com>
wrote:

[2017-08-01 18:09] ccpandhare commented on #85
A FisheyeGl-like demo has been created. (PR #62)
It can be previewed at https://ccpandhare.github.io/image-sequencer/examples/fisheyegl

[2017-08-01 18:10] ccpandhare commented on #82
I have already started on that!
The FisheyeGl has been now rewritten using the UI methods

[2017-08-01 18:23] ccpandhare commented on #69
We shouldn;t use the

[2017-08-01 18:24] ccpandhare commented on #69
We shouldn't use the `Plotly` one right?
As far as I remember it was slow (#13)

[2017-08-01 18:26] ccpandhare commented on #65
Made the FisheyeGl Demo with the new interface.
It can be seen at https://ccpandhare.github.io/image-sequencer/examples/fisheyegl

[2017-08-01 18:28] ccpandhare commented on #85
The link is https://ccpandhare.github.io/image-sequencer/examples/fisheye and not https://ccpandhare.github.io/image-sequencer/examples/fisheyegl, sorry for that.

[2017-08-01 18:35] ccpandhare commented on #49
The module you mentioned `npm:image-diff` is pretty heavy. I am not sure we should use it.
Maybe I can write a lightweight library for that myself.

[2017-08-01 18:44] #27 closed

[2017-08-03 15:29] jywarren commented on #49
There were a few others, no? And we don't need to include it in the library itself; it could just be included in the test suite and under `devDependencies`.

https://github.com/publiclab/image-sequencer/blob/master/CONTRIBUTING.md#module-candidates -- had several diff modules. I'd like to open this issue and take slow steps in this direction; not urgent!

[2017-08-03 15:30] #49 closed

[2017-08-03 15:30] jywarren commented on #83
we don't need to include it in the library itself; it could just be included in the test suite and under devDependencies.

https://github.com/publiclab/image-sequencer/blob/master/CONTRIBUTING.md#module-candidates -- had several diff modules.

[2017-08-03 15:31] jywarren commented on #49
oops, ok -- #83!

[2017-08-06 12:04] ccpandhare opened #87 "Custom UI for modules"
We discussed on #62 that modules should provide their own basic UI. This can be done by creating a wrapper UI module which requires in the actual module and also contains the UI elements.

What do we mean by a basic UI? A basic UI could just mean `<input type="text" />` elements for all input fields or a slider as in FIsheyeGl. It's not very clear as to what should be done - or what the purpose is

[2017-08-06 12:38] ccpandhare commented on #85
I think this part is over and we are now onto #87 for UI development, So I am closing this issue.

[2017-08-06 12:38] #85 closed

[2017-08-07 20:39] ccpandhare commented on #83
I seem to have hit a roadblock here.
None of the npm image-diff modules have DataURL support

[2017-08-07 20:51] jywarren commented on #83
ugh! And probably too much cost to convert and then run. I think this may
be lower priority than other issues, but perhaps we could consider what it
would take to file a new dataUrl feature on one of the more active libs.

On Mon, Aug 7, 2017 at 4:39 PM, Chinmay Pandhare <notifications@github.com>
wrote:

[2017-08-07 20:52] ccpandhare commented on #83
Yes, I agree. I shall open an issue and post the link here.

[2017-08-08 04:58] ccpandhare commented on #83
https://github.com/uber-archive/image-diff/issues/57

[2017-08-08 05:00] ccpandhare commented on #82
Is anything remaining as far as this issue is concerned?

[2017-08-08 05:21] ccpandhare commented on #83
https://github.com/gemini-testing/looks-same
This works on buffers as well.

[2017-08-08 08:45] ccpandhare commented on #83
But it works only for PNG images

[2017-08-08 10:36] ccpandhare commented on #83
Implemented it for PNG images for now at #89

[2017-08-08 11:11] #68 closed

[2017-08-08 15:32] jywarren commented on #87
Hi, Chinmay - i guess that we should try to prototype this. What if we build one around the `threshold` module that has a single slider to set the threshold, and perhaps one other, and then make a demo that uses both of these UIs to present a 2-step example?

[2017-08-08 15:32] jywarren commented on #87
But also -- if you can list out some of your questions to narrow this down, that's also a good next step. Thanks!!!

[2017-08-10 13:11] #83 closed

[2017-08-10 13:12] jywarren commented on #15
This and a few others can be closed now, no? Thanks!

[2017-08-10 13:16] jywarren commented on #82
I guess perhaps it could be a good idea to show/describe how one of the demos (with a drag/select interface for choosing an image) can be adapted to use different steps.

I guess I wanted to know if we could make a new demo very similar to the old demo at https://jywarren.github.io/image-sequencer/ -- one where you can choose different modules to add to the sequence, and it makes a vertical chain

[2017-08-10 13:19] jywarren opened #91 "Demo where steps can be set via URL hash"
So it looks in `window.location.hash` to find a comma delimited set of steps, like `#steps=ndvi,threshold`, and adds them to the reconfigurable demo.

As you remove/add steps, we update the URL hash to reflect this.

That way, we can pass around almost any imaginable demo sequencer as a fixed URL -- very useful!

This would come after #82 (completed!). Some example of reading/writing the URL hash

[2017-08-10 13:20] jywarren commented on #91
So, for example, if someone says "I wish there were a fast way to crop and threshold these images, you could send them a link to the demo with the right steps configured, and they'd go and it'd be all set up for them, with no having to change the demo code :-)

[2017-08-12 03:54] ccpandhare commented on #15
Yes, I think this can be closed now.
I shall add some ideas from these issues into the DEVELOPMENT.md

[2017-08-12 03:55] #15 closed

[2017-08-12 03:57] ccpandhare commented on #11
I think we can easily do this now :)

[2017-08-12 18:04] ccpandhare commented on #91
Yes, I agree to this. I shall do that. Now working on #82 :-)

[2017-08-12 18:20] jywarren commented on #91
awesome!

[2017-08-12 18:21] jywarren commented on #91
This will be great. I think we can even embed a customized sequencer into a wiki page or research note on PublicLab.org -- it'll be a great way to put the library into use!

[2017-08-12 18:30] ccpandhare commented on #91
Hope to do that soon :-)
Will get the demo done by tomorrow, and then we can work on this (#91) and then the wiki page!
This will be good documentation too.

[2017-08-15 16:17] ccpandhare commented on #91
The demo is pretty much done for now, so I shall start working on this

[2017-08-20 05:35] jywarren commented on #91
Great. Sorry for being offline much of this week, it was a vacation I really needed! I'll be back online this coming week.

[2017-08-20 12:54] ccpandhare commented on #91
What if the user wants to set any options? I think that should be included in the hash as well.

[2017-08-20 12:56] ccpandhare commented on #87
This was implemented in #92
Now modules have an `info.json` which spcifies what inputs they take, their defaults, their min/max values, etc. Documentations also added. This can be used to create UIs!

Do you think this is complete or can be improved upon? If it looks complete, I shall close the issue

[2017-08-20 12:57] ccpandhare commented on #82
Demo has been reworked! Shall add it to the README.md when #92 gets merged :-)
Closing this issue then!

[2017-08-20 12:57] #82 closed

[2017-08-20 12:58] #66 closed

[2017-08-20 12:58] ccpandhare commented on #65
I think we are done with this, closing the issue now! :-)

[2017-08-20 12:58] #65 closed

[2017-08-20 12:59] #36 closed

[2017-08-20 13:01] ccpandhare commented on #64
Adding this to the list of module candidates in CONTRIBUTING.md for now!

[2017-08-20 13:27] #34 closed

[2017-08-20 13:31] ccpandhare commented on #11
This has been done in #92

[2017-08-20 13:31] #11 closed

[2017-08-20 23:43] jywarren commented on #91
Sure, but then the hash may get pretty long. Let's see how it does though.
Maybe we can either offer to save the options with a checkbox or we can
just clearly label options so they can be cut out of the URL if people
want. But yes let's start by including them. Good idea!

On Aug 20, 2017 8:54 AM, "Chinmay Pandhare" <notifications@github.com>
wrote:

[2017-08-20 23:43] jywarren commented on #87
This looks super. Close!

On Aug 20, 2017 8:56 AM, "Chinmay Pandhare" <notifications@github.com>
wrote:

[2017-08-21 05:03] ccpandhare opened #93 "Minified distribution version"
`./dist/image-sequencer.js` is a very large file. Maybe we should add a minified version too, apart from it : `./dist/image-sequencer.min.js`

What do you think?

[2017-08-21 05:05] #87 closed

[2017-08-21 10:11] jywarren commented on #93
+1!

On Aug 21, 2017 1:03 AM, "Chinmay Pandhare" <notifications@github.com>
wrote:

[2017-08-25 22:14] ccpandhare commented on #93
Adding the FTO label!

Description:

We are using grunt for distribution. This task essentially requires one to add a new module to the Gruntfile `./Gruntfile.js` in the "build" task.

Currently the "build" task only browserifies the code.

- Find a new grunt module to minify JavaScript files and add it to the devDependancies in `package.json`
- Add this to the registered Grunt task "build"
- The

[2017-08-25 22:19] jywarren commented on #93
Hi, @ccpandhare -- take a look at this guide: https://publiclab.org/notes/warren/10-31-2016/create-a-welcoming-first-timers-only-issue-to-invite-new-software-contributors

Part of the key of FTOs is that they have a welcoming intro, they describe the "problem" or current state, and the "solution" or intended changes. Then they use a checklist to lay out exactly what steps will be needed to solve t

[2017-08-25 22:29] ccpandhare commented on #93
Thanks for your input, shall do!

[2017-08-28 04:47] ccpandhare opened #97 "Add module options to CLI"
## First Timers Only

Hi, this is a first-timers-only issue. This means this has been worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before.**

If you have contributed before, consider leaving this one for someone new, and looking through our general [help wanted](https://github.com/publiclab/ima

[2017-08-28 04:51] ccpandhare commented on #93
Closing this and adding another FTO regarding this. Thanks!

[2017-08-28 04:51] #93 closed

[2017-08-28 05:06] ccpandhare opened #98 "Minify the distribution file"
## First Timers Only

Hi, this is a first-timers-only issue. This means this has been worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before.**

If you have contributed before, consider leaving this one for someone new, and looking through our general [help wanted](https://github.com/publiclab/ima

[2017-08-28 05:10] ccpandhare opened #99 "Make the API Documentation using Swagger"
I realized that Image Sequencer has grown a lot already and there is a need of clear documentations. I found a framework [Swagger](https://swagger.io/) which is meant to manage API development. We can write clearer documentation using Swagger.

There are a few alternatives too such as [DapperDox](https://dapperdox.io/) and [ReDoc](https://github.com/Rebilly/ReDoc)

What do you think about all this

[2017-08-28 05:26] ccpandhare opened #100 "Multiple step support for CLI"
## First Timers Only

Hi, this is a first-timers-only issue. This means this has been worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before.**

If you have contributed before, consider leaving this one for someone new, and looking through our general [help wanted](https://github.com/publiclab/ima

[2017-08-28 14:47] jywarren commented on #99
I think this is a big project, and maybe we could make a well-documented
issue for it, and propose breaking it into smaller parts that can be done
one at a time? But I like how you're thinking about it.

On Mon, Aug 28, 2017 at 1:10 AM, Chinmay Pandhare <notifications@github.com>
wrote:

[2017-08-28 15:22] jywarren opened #101 "Clean up README"
Just compiling a checklist of things to clean up the README a bit here:

* [x] make a Submit a Module section (that could link to CONTRIBUTING if you think that's best)
* [x] move Module Candidates + Ideas under the Submit a Module section
* [x] `make a "nodes-and-lines" UI` issue (just to store that info from the README) marked as `enhancement`
* [x] clean out Development section and add to Issue

[2017-08-28 15:22] jywarren commented on #42
Complete!!

[2017-08-28 15:22] #42 closed

[2017-08-28 15:23] jywarren commented on #42
Shall we make a new NPM release?

[2017-08-28 15:23] jywarren commented on #42
That should be a new major version # in semver, no?

[2017-08-28 15:30] ROODAY commented on #100
Claimed!

[2017-08-28 16:16] ROODAY commented on #97
Claimed!

[2017-08-28 16:19] ccpandhare commented on #97
Great work! Could you open a Pull Request, please?

[2017-08-28 16:46] ccpandhare commented on #42
Yes, That Would be a new version! Thanks!

[2017-08-28 18:55] #97 closed

[2017-08-28 19:19] divyamamgai commented on #98
Can I take up this issue? I want to get started with Open Source contribution and this seems a good place to start since I already have experience with this.

[2017-08-29 02:39] ccpandhare commented on #98
Sure!!
:-)

[2017-08-29 03:25] divyamamgai commented on #98
Can you guide as to how do I initiate the build?

[2017-08-29 04:37] ccpandhare commented on #98
As far as I know, There's no ES6 code...
The dependencies might be using ES6.

[2017-08-29 04:38] ccpandhare commented on #98
What was the problem you faced?

[2017-08-29 05:15] ccpandhare commented on #100
I think the user input breaks for multiple steps.

[code]

Maybe the UI could be better, with less clutter, and also telling the user about default input values

Somewhat like this:

[code]

[2017-08-29 14:12] ROODAY commented on #100
Will do!

[2017-08-29 15:25] ccpandhare commented on #91
This is pretty clear.
I am just skeptical about adding options to steps via the hash, and if we don't, the incompleteness of the same.

Yes, we should start including them.

[2017-08-29 15:53] jywarren commented on #91
What do you think about a syntax more like:

`examples/#steps=ndvi,threshold[40]` -- although this starts to get a bit weird, and we'd have to specify the keyname too, so `[value=40]` ... just brainstorming here.

[2017-08-29 15:54] jywarren commented on #91
also I added you on npmjs.org - you should be able to `npm publish` now, but please take care to do so only from the master branch.

[2017-08-29 17:14] jywarren commented on #91
Now that I think of it, let's just break this in two. First version should have just steps, no options. It'll just use the defaults. Let's open another issue (which we can think about a bit longer) that has options presets too. That more extended version shouldn't stop us from doing the initial version first.

[2017-08-29 21:08] divyamamgai commented on #98
const keyword is used which is in the spec for ES6 but not the previous ones, so uglify is throwing unknown keyword exception. Maybe we can just change them to var?

[2017-08-31 07:18] ccpandhare commented on #98
Ohh okay. I see.
Yes I think that can be done. Will have a look. Thanks!

[2017-08-31 07:20] ccpandhare commented on #91
Looks cool. Will do!

[2017-08-31 07:22] ccpandhare commented on #101
Looks great, will do!

Sorry, didn't quite get this part. What is "nodes-and-lines" ?

[2017-09-01 06:39] #100 closed

[2017-09-01 07:50] divyamamgai commented on #98
Do you want me to do those changes in this PR or are you going to do those in a separate one?

[2017-09-01 11:04] ccpandhare commented on #98
I first need to check whether that breaks anything else; will do that soon.

On Fri, Sep 1, 2017, 13:20 Divya Mamgai <notifications@github.com> wrote:

[2017-09-01 14:37] ccpandhare commented on #98
Fixed that in #104
Thanks for you patience and sorry for the delay!

[2017-09-01 19:46] divyamamgai commented on #98
Okay I'll pull the latest and start working on this PR.

[2017-09-03 10:13] ccpandhare opened #106 "Remove .nojekyll"
Should we remove the .nojekyll ?

It will become easier for users to read the documentation.

As of now, if one wants to read the CONTRIBUTING.md he either has to voew it on GitHub as raw MarkDown or download the file. Enabling Jekyll will make it accessible on the web easily.

Not just CONTRIBUTING.md, but also the module docs in ./docs/

[2017-09-03 10:14] ccpandhare commented on #98
Thanks!

[2017-09-03 11:01] ccpandhare opened #108 "Math Module"
Hi, this is a first-timers-only issue. This means this has been worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before.**

If you have contributed before, consider leaving this one for someone new, and looking through our general [help wanted](https://github.com/publiclab/image-sequencer/issues?ut

[2017-09-03 11:02] ccpandhare commented on #108
@jywarren Is this a bit too much for an FTO? I have tried to document it well though.
Maybe I should just keep it as Help Wanted. What do you say?

[2017-09-03 22:29] debeshadhikari commented on #108
Can I give this a shot?

[2017-09-03 22:52] jywarren commented on #108
Well, I guess it's not too much? :-)

Please give it a go and we'll do our best to help you out!

On Sep 3, 2017 6:29 PM, "Debesh Adhikari" <notifications@github.com> wrote:

[2017-09-03 22:57] debeshadhikari commented on #108
Sure, thanks ! I will post my questions here if I am stuck.

[2017-09-04 09:15] divyamamgai commented on #98
Hey, on doing grunt build I'm still getting `const` variables in the dist js. Can you help? I have forked the latest master.

[2017-09-04 20:45] debeshadhikari commented on #108
I have a question. The module takes arithmetic expressions as inputs and evaluates the expressions. Can I just use eval function for this or are there any other suggested libraries for this purpose?

[2017-09-05 01:30] ccpandhare commented on #108
Directly Using eval for this isn't very safe, and I don't think an
additional library is required for this.

What you could do is parse the input and evaluate the result yourself,
instead of directly using eval.

On Tue, Sep 5, 2017, 02:15 Debesh Adhikari <notifications@github.com> wrote:

[2017-09-05 01:32] ccpandhare commented on #98
Ohh is it? Will have a look. Thanks!

I think it is pretty safe to replace const with var, because we haven't
used them for a particular reason.

Will check.

On Mon, Sep 4, 2017, 14:45 Divya Mamgai <notifications@github.com> wrote:

[2017-09-05 02:37] debeshadhikari commented on #108
Can there can be any mathematical operators in the equations or are the operators limited? And about nested parenthesis? So I need to write a complete mathematical expression parser here?

[2017-09-05 13:52] shyamjesal commented on #108
i want to try too.

[2017-09-05 14:17] ccpandhare commented on #98
I checked. Some more "const"s were there; I removed the const identifiers from our code, but one of our dependencies has it. So we will have to go ahead with a solution which supports ES6.

[2017-09-05 15:15] ccpandhare commented on #108
@debeshadhikari Very complex math isn't required, Basic operations like + , - , * , / would do, including variables R, G, B as shown in the issue description

@shyamjesal Sure, why not! You can also have a look at other [first-timer-only labelled issues](https://github.com/publiclab/image-sequencer/labels/first-timers-only)

[2017-09-05 17:20] divyamamgai commented on #98
Okay, I'll look into the ES6 supporting solution, it had some issues but I'll keep you posted.

[2017-09-05 18:21] jywarren commented on #108
@debeshadhikari @ccpandhare -- i think eval may be the easier route here and since it's just in the sandboxed client-side, there shouldn't be a problem. If people want to specify a math parser other than `eval` later, we can provide that as an overridable option, but I think `eval` is appropriate in the initial implementation, thanks!

[2017-09-05 18:22] jywarren commented on #108
As a follow-up issue, we might ask people to look through the npmjs.org listings for a math parser though!

[2017-09-05 23:08] jywarren commented on #106
Hmm, I wonder - can .nojekyll go in the node_modules folder? Wasn't that
what it was causing trouble with?

On Sun, Sep 3, 2017 at 6:13 AM, Chinmay Pandhare <notifications@github.com>
wrote:

[2017-09-06 02:09] debeshadhikari commented on #108
How do I handle if the user enters some wrong-syntax expressions? The expression will be evaluated as we are using eval and an error will be thrown stopping the script, should I put try/catch blocks around?

Are there any other easier ways to handle this situation??

Also, what should be the default value if no input is provided? I was thinking of keeping the initial RGB values or should I make it

[2017-09-06 05:27] ccpandhare commented on #106
As far as I know, .nojekyll has to be added to root,
Also node_modules is gitignored, so there won't be any benefits of putting
.nojekyll there.

I was proposing to remove the .nojekyll totally so MarkDown documentations
can be shown easily to users

On Wed, Sep 6, 2017, 04:38 Jeffrey Warren <notifications@github.com> wrote:

[2017-09-06 05:29] ccpandhare commented on #108
Yes, the default should be the initial R, G, B values.

Yes, a try catch statement should do the trick!

On Wed, Sep 6, 2017, 07:39 Debesh Adhikari <notifications@github.com> wrote:

[2017-09-06 13:32] jywarren commented on #106
Yes, I see what you're saying, but the .nojekyll was added for a reason,
and I think it was supposed to be only on the gh-pages branch, perhaps, so
that the node_modules in there are preserved? And in the gh-pages branch,
the node_modules folder is included, I believe -- at least that's usually
how I do things.

On Wed, Sep 6, 2017 at 1:27 AM, Chinmay Pandhare <notifications@github.com>
wrote:

[2017-09-07 02:45] ccpandhare commented on #106
Yes that's right.
Sorry

Will move it to the node_modules

Thanks

On Wed, Sep 6, 2017, 19:02 Jeffrey Warren <notifications@github.com> wrote:

[2017-09-09 13:24] jywarren commented on #23
I think we can close this out now! But let's clean up the issues a bit as well. Congrats!

[2017-09-09 13:24] #23 closed

[2017-09-09 13:27] jywarren opened #112 "Scale module"
by percentage and/or desired output width or height...

* [ ] we could start with percentage, as an initial implementation
* [ ] then add scale to specified width or height
* [ ] and associated UI in the demo
* [ ] then resampling method (bicubic, nearest neighbor, etc)

This could be modeled on the existing Crop module.

[2017-09-09 13:28] jywarren opened #113 "Add a Brightness module"
This would be great, and could be a good template for other similar modules, like contrast, saturation

* [ ] basic implementation
* [ ] UI for demo, with slider or at least numeric input (%?)
* [ ] create new issue for contrast similar to this
* [ ] create new issue for saturation similar to this

[2017-09-09 13:29] jywarren commented on #108
Excited to see this happening. Thanks and tell us if you get stuck!

[2017-09-09 13:30] jywarren commented on #108
Also, see a similar implementation you can try out at https://infragram.org/sandbox

[2017-09-09 20:17] jywarren opened #116 "Image overlay module"
A module that fetches a remote image via URL (or data URL) and overlays it on the canvas at a given x, y, w, h

This will be very useful!!

[2017-09-09 21:54] ccpandhare commented on #116
That would be great!

On Sun, Sep 10, 2017, 01:47 Jeffrey Warren <notifications@github.com> wrote:

[2017-09-09 21:59] ccpandhare commented on #116
Maybe it could accept local images from browser based clients too

[2017-09-09 22:00] #106 closed

[2017-09-10 17:09] jywarren opened #118 "Assorted improvements to be broken into separate issues"
Please help out by [creating new issues](/publiclab/image-sequencer/issues/new) for these, and linking out to them in the comments!

## UI

* [x] spinner icons `<i class="fa fa-spinner fa-spin"></i>` in demo before steps are complete
* [x] click to expand for all images (pretty easy [on these](https://github.com/publiclab/image-sequencer/blob/master/examples/index.html#L102) [lines](https://github

[2017-09-10 17:12] jywarren commented on #101
Done here too! I moved a lot of proposed modules to a new issue from which we can break things off: ](#118)

[2017-09-10 17:12] #101 closed

[2017-09-10 17:15] jywarren commented on #70
Is this still open then?

[2017-09-10 23:30] ccpandhare commented on #70
Yes this still is open...

[2017-09-10 23:38] ccpandhare opened #119 "Create Histogram Module"
A module that displays the histogram of a given image.

This module could be a side chain module (One that doesn't really come in the sequence). What that means is, the "output" o this module would be equal to its input, so that more modules could be added on top of it, and histogram data would be an additional "output" instead.

We may use this NPM module too : https://www.npmjs.com/package/histo

[2017-09-10 23:47] ccpandhare opened #120 "Add spinner GIF overlays in demo while output generates"
There are four types events that are triggered in a step's life cycle :

* onSetup : triggered when a step is added to the sequencer
* onDraw : triggered when the step starts to draw
* onComplete : triggered when the step completes drawing
* onRemove : triggered when the step is removed

Reference : [README.md#creating-a-user-interface](https://github.com/publiclab/image-sequencer/#creating-a-user

[2017-09-10 23:51] ccpandhare commented on #118
Histogram Module : #119
Spinner Icons : #120

[2017-09-19 14:41] jywarren commented on #108
Hi, @debeshadhikari - how are things going? any way we can help, or any code you could share in a pull request? Thanks!! 🎈

[2017-09-23 17:22] jywarren opened #122 "Simplify and minimize module requirements"
Related to #242: first, in #122, we should minimize things we require in a module. Then we should make a range of abilities available to modules in #242.

https://github.com/publiclab/image-sequencer/blob/master/CONTRIBUTING.md#draw says:

I wonder if the basic module could be simplified with some helper functions:

[code]

First, I don't really like the double use of `var output` -- is there a re

[2017-09-23 17:31] jywarren commented on #122
Hmm, actually this one is much more readable! https://github.com/publiclab/image-sequencer/blob/master/src/modules/Crop/Module.js -- written later :-)

[2017-09-24 06:00] ccpandhare commented on #122
Yes the Crop one is much more readable

[2017-09-24 06:02] ccpandhare commented on #122
Yes the module creation is really complicated right now; What we can do is automate things like ` UI.onSetup(options.step);`, `UI.onDraw(options.step);`, and `UI.onComplete(options.step);`.

What do you think?

[2017-09-25 05:07] debeshadhikari commented on #108
Hi, I am extremely sorry for the very late response. I have been really busy and been travelling around for work. I have completed the task, and will send a pull request as soon as I get back, which is in a couple of days. Again, I am really sorry for the delay.

[2017-09-25 16:38] jywarren commented on #108
No problem, glad to hear it's solved, and safe travels!

[2017-09-25 22:50] jywarren commented on #122
That sounds pretty good. How do we break that project up so we can formulate a new module API?

[2017-09-25 22:52] jywarren commented on #122
From #123 --

[2017-09-27 02:49] ccpandhare commented on #122
I'm not sure about how we should go about the new API. But we do have to
think deeply about it to make it more developer friendly.

+1

On Tue, Sep 26, 2017, 04:22 Jeffrey Warren <notifications@github.com> wrote:

[2017-09-27 02:51] ccpandhare commented on #108
Thanks Debesh!

Safe travels!

On Mon, Sep 25, 2017, 22:08 Jeffrey Warren <notifications@github.com> wrote:

[2017-09-28 15:15] makeupsomething commented on #98
If this is still available id love to have a go at it

[2017-09-29 03:22] ccpandhare commented on #98
Sure, that'd be great!!

On Thu, Sep 28, 2017, 20:45 makeupsomething <notifications@github.com>
wrote:

[2017-09-29 04:32] divyamamgai commented on #98
I'm sorry, but I have got some urgent work to take care so yeah you can go ahead and to this.

[2017-10-02 11:35] jywarren opened #126 "Move configuration options in demo from "add step" to each step's info area"
Instead of (or in addition to) configuring each step when it's initially added, we should keep an active UI pane to the side of each step which may be used to change the options and re-run the step at any time.

The code for this is currently here:

https://github.com/publiclab/image-sequencer/blob/master/examples/index.html#L173-L182

[2017-10-02 12:36] jywarren opened #127 "ability to set step options via string command syntax: "invert,threshold:{level:50}""
The ability to record both `steps` and `settings` in a string could be useful for browser work, for saving sequences in `localStorage`, in a key/value database on server or client side, and for REST based processing, so I think it's worth considering for all those reasons.

Building on #91, the URL format:

`/examples/#steps=green-channel,crop`

Could have additional options set with:

`/examples/

[2017-10-02 12:37] #91 closed

[2017-10-02 12:44] jywarren commented on #91
Completed and split off new issue!

[2017-10-04 22:31] jywarren opened #129 "notify user that the CLI won't be synchronous (yet)"
It was a little confusing at first that the CLI doesn't synchronously complete. For now, let's just tell the user that it'll execute asynchronously and that you won't see the output for a moment depending on the filesize and number of steps. Then let's implement a synchronous CLI in #130!

[2017-10-04 22:36] jywarren opened #130 "get CLI to run synchronously for chainability"
If there's any way to configure `commander` to be synchronous, and wait for the callback, that'd be good so that the commandline version is chainable -- like:

`sequencer -i photo.jpg && mv photo.jpg ~/Desktop/`

https://npmjs.org/package/commander

[2017-10-04 22:39] jywarren opened #131 "Specifying a CLI output directory could offer more explanation, create directory immediately"
It could indicate that `the output will be a folder containing a sequence of images` and we could allow specifying the output directory name.

The directory should also be created immediately, rather than once the images are ready, as it's confusing when there's nothing changed immediately upon running a command. But if I misunderstand how this works, please set me right! :-)

[2017-10-04 22:43] jywarren opened #132 "fix CLI --options parameter and add example"
First a quick typo: `    -op, --opions {object}  Options for the step` "opions" should be "options" -- but also this did not seem to work for me; perhaps I'm formatting it wrong. The instructions should have a more complete example of setting options, and also how options are set for a specific step (if that's possible).

Thanks!

[2017-10-04 22:45] jywarren opened #133 "add "--simple" or "--single" mode to CLI, so you just get the final image"
This could be `--simple -s` or `--single -s` -- not sure, but we should have a commandline option that makes it work more like ImageMagick's `convert` -- abandoning for this mode the folder of sequential images and just outputting the final image. This, in concert with #130, will make it a really useful and familiar utility for those used to `convert`.

Bonus followup -- make a wrapper which emula

[2017-10-05 20:40] jywarren commented on #120
This could be implemented nicely in the demo using `onDraw` and `onComplete` event handlers in this file:

https://github.com/publiclab/image-sequencer/blob/master/examples/demo.js#L79

It doesn't have an `onDraw` so that could be added. It does have an `onComplete` though. Be sure your insertion and deletion uses a unique ID so that it doesn't operate on all the steps, just the one that's running

[2017-10-05 20:41] jywarren commented on #108
Hi, @debeshadhikari - hope your travels are going well. If you have a moment to open a PR that'd be great, and we'd be happy to help you debug or refine if any of that is needed. Thanks! We can even help rebase if that helps too.

[2017-10-05 21:20] jywarren opened #136 "Data model diagram in README"
Like this one: https://github.com/publiclab/plots2/blob/master/doc/DATA_MODEL.md

I posted a copy of that here for us to work in: https://docs.google.com/presentation/d/1HGUmthisJ_3p7lcq23_umtiLOSDoxpvb5TWoEQSvC68/edit

[2017-10-05 22:44] jywarren commented on #136
OK, here's one we can start with -- i'm trying to show why `sequencer` doesn't just have a `sequencer.steps` property. This helps explain that:

![screenshot 2017-10-05 at 5 42 34 pm](https://user-images.githubusercontent.com/24359/31255882-db5c347a-a9f4-11e7-92dd-76cdadf9de1f.png)

[2017-10-06 15:22] jywarren opened #137 "Clarify and consolidate the "step" object that's passed to UI and document its API"
I've started work on this in https://github.com/publiclab/image-sequencer/pull/135/, but just trying to make the standard `info.json` from each module available in the `step` paramter passed to each UI handler. This will allow the UI access to the `description` and `url` fields in `info.json`, and generally make the assembly and composition of the `step` object more clear in code and documentation

[2017-10-06 15:26] jywarren commented on #137
Can we link to the exact areas of code that drive the behavior and API described here, @ccpandhare -- https://github.com/publiclab/image-sequencer#creating-a-user-interface

(when you're available, i know you're busy at the moment!)

[2017-10-06 16:01] jywarren opened #138 "Add a Dithering module"
I see two existing modules for this:

https://stackoverflow.com/questions/12422407/monochrome-dithering-in-javascript-bayer-atkinson-floyd-steinberg

https://dpiccone.github.io/ditherjs/ (this uses Canvas, so is less suitable for node/browser cross-compatibility)

I think the first one has a very nice `monochrome()` function here that we could use for thresholding as well:

https://github.com/meem

[2017-10-13 10:23] ccpandhare commented on #138
I think this looks great. Can this be an FTO candidate? Just realized we're short of FTO Issues!

[2017-10-13 10:30] ccpandhare commented on #137
Sure

[2017-10-13 10:31] ccpandhare commented on #137
Actually, I don't fully get you. What did you mean to say here, again, please?

[2017-10-13 10:34] ccpandhare commented on #136
That looks really nice and certainly helps in making the user understand more of it.
Which tool did you use to make this?

[2017-10-13 12:41] jywarren commented on #138
That'd be great!

On Oct 13, 2017 6:23 AM, "Chinmay Pandhare" <notifications@github.com>
wrote:

[2017-10-13 13:17] nataliemcmullen commented on #98
First timer here. Can I take a stab at this?

[2017-10-13 15:11] jywarren commented on #98
Of course, thank you!

On Fri, Oct 13, 2017 at 9:17 AM, Natalie McMullen <notifications@github.com>
wrote:

[2017-10-13 15:32] divyamamgai commented on #98
Is this still open? I see that in the master uglify task has been added and is working using the harmony branch of grunt-contrib-uglify.

[2017-10-13 16:46] jywarren commented on #98
ah, perhaps you're right; @ccpandhare, if this is complete could you close
this issue?

Divya - do any other issues look interesting to you? Thanks!

On Fri, Oct 13, 2017 at 11:32 AM, Divya Mamgai <notifications@github.com>
wrote:

[2017-10-13 17:45] divyamamgai commented on #98
Sorry, but currently I'm occupied with something. I'll finish that up in two weeks. After that I will take up an issue to resolve.

[2017-10-14 01:30] #108 closed

[2017-10-14 01:30] #126 closed

[2017-10-14 01:37] jywarren opened #140 "Make demo display corresponding commandline syntax for current sequence"
This would be great to emphasize in the demo how the same command can be run from the CLI interface.

[2017-10-14 18:42] jywarren opened #141 "move module tests into separate test files"
Such as /test/modules/ -- this will help encourage more module specific testing!

https://github.com/publiclab/image-sequencer/blob/master/test/image-sequencer.js

[2017-10-16 08:46] makeupsomething commented on #98
@jywarren @divyamamgai @ccpandhare
Sorry, i made a pull request for this issues a while back and didn't realise it had been merged already.

[2017-10-17 22:08] jywarren opened #142 "Add select dropdown for some module UIs in demo"
This line of code inserts an `<input>` for each module option, so that users can change that option in the demo interface:

https://github.com/publiclab/image-sequencer/blob/master/examples/demo.js#L68

Try that out here: https://publiclab.github.io/image-sequencer/examples/

Some modules have options of type `select` instead of type `integer` or `string`, like this one: https://github.com/publicl

[2017-10-17 22:08] jywarren commented on #142
It seems you've just enabled the issue triaging. I'm just scraping all issues from your repository and will give you some more information about this in a few minutes or so.

Because of the rate limit we can't scrape all information (including all comments and authors) right now - our system is already set up to scrape this in the next days over which the predictions will become more precise every

[2017-10-17 22:09] jywarren commented on #142
The contributors most likely able to help are:

@jywarren
@ccpandhare

[2017-10-18 05:34] ccpandhare commented on #142
I shall take this up today

[2017-10-18 07:18] #142 closed

[2017-10-18 13:13] jywarren commented on #142
Wow!

On Oct 18, 2017 3:19 AM, "Chinmay Pandhare" <notifications@github.com>
wrote:

[2017-10-18 20:28] jywarren opened #145 ""reader is not defined" error on demo"
Uh oh! Fixing in ec10ab0b0d03cfc2646a02772f03de1d21b8fdff

[code]

[2017-10-18 20:28] #145 closed

[2017-10-18 20:52] jywarren opened #146 "Monochrome "fallback" on Dynamic module not working"
On the new Dynamic module, you put in an expression and it runs it on every pixel for each color. But if you haven't specified anything for a channel, it runs the "monochrome" expression on it. This logic is a bit odd and seems to be causing some errors.

Input `(r-b)/(r+b)*128 + 128` or even just `r` into the Dynamic module here: https://publiclab.github.io/image-sequencer/examples/#steps=dynamic

[2017-10-18 20:52] jywarren commented on #146
The contributors most likely able to help are:

@ccpandhare
@jywarren

[2017-10-19 00:24] jywarren commented on #98
Ah, well, it looks like this is indeed resolved so I'll close it. Sorry for the confusion folks, and we've been adding new issues we'd love help with! Thank you all very much!

[2017-10-19 00:24] #98 closed

[2017-10-19 00:25] jywarren commented on #98
Addressed in https://github.com/publiclab/image-sequencer/pull/124

[2017-10-19 19:44] jywarren opened #147 "replaceImage() returns error"
I see an error on running:

[code]

in the console on the [demo](https://publiclab.github.io/image-sequencer/examples/)

The error is at `addSteps()` on this line, which by the way maybe should be broken into multiple lines for readability:

[code]

https://github.com/publiclab/image-sequencer/blob/master/src/ReplaceImage.js#L28

I think this is because in `loadImage()` we don't return `this` and

[2017-10-19 19:47] jywarren opened #148 "Create demo bookmarklet code for inverting images on a page"
A browser bookmarklet that inverts all images on a page would be a cool demo for this lib. We could add it to the README and say "drag this link into your bookmarks bar" for example.

(right now we need to solve #147 first, but then we could do this)

You can make a bookmarklet with a utility like: https://mrcoles.com/bookmarklet/ or just by hand; I made one that runs:

[code]

and includes this s

[2017-10-19 22:26] jywarren commented on #147
The contributors most likely able to help are:

@jywarren
@ccpandhare

[2017-10-19 22:26] jywarren commented on #148
The contributors most likely able to help are:

@jywarren

[2017-10-24 03:12] jywarren commented on #120
Fixed in #143, #149.

[2017-10-24 03:12] #120 closed

[2017-10-24 03:13] jywarren commented on #147
@ccpandhare if you have a chance to try a fix for this, much appreciated! I tried a couple things and didn't make a lot of progress :-/

[2017-10-25 00:00] ccpandhare commented on #147
Sure will do that!

On Tue, Oct 24, 2017, 08:43 Jeffrey Warren <notifications@github.com> wrote:

[2017-10-25 11:16] sils opened #150 "Using GitMate"
Hi there :)

I'm Lasse and this is actually not a template (yet) - I saw you've activated GitMate.io on your repository and you're using it a bit. Can you already tell how well it's working for you or if there's any bigger problems with it? We're looking to find the best area to put work in to make it more useful.

[2017-10-25 11:16] jywarren commented on #150
The contributors most likely able to help are:

@jywarren
@ccpandhare

[2017-10-25 18:56] jywarren commented on #150
Hi, thanks! - I guess I'm not sure if it'll start labeling our issues yet, and I'm trying it out on this repo as it's  a bit lower traffic.

I'd like to have a bot that:

* looks at new issues and asks the author to share a link and/or screenshot if applicable
* prompts someone to add links to lines of code where changes could be made
* looks at issues marked `break-me-up` (we use this at https://

[2017-10-25 19:35] sils commented on #150
Hi @jywarren , that sounds very interesting and some things are definitely doable and actually on our roadmap. CC @fneu our lead of research as well.

Wanna have a chat about it? That might be easier. If you want, you can register one at calendly.com/sils but not before monday please.

[2017-10-25 22:24] jywarren commented on #150
Hi, I'd love to but my schedule for the next 2 weeks is pretty tight... i'm
traveling a lot. Perhaps we could sync up after the 10th of November!
Thanks a lot!

On Wed, Oct 25, 2017 at 3:35 PM, Lasse Schuirmann <notifications@github.com>
wrote:

[2017-10-26 09:23] ccpandhare commented on #147
Sorry, this was a mistake on my part.
Fixed the other things, but I don't think replaceImage is meant to be chainable (it isnt).

[2017-10-26 09:31] ccpandhare commented on #146
I am not able to reproduce your error.
Isn't this the expected result?
![screen shot](https://user-images.githubusercontent.com/20787612/32045661-774b2bb0-ba5e-11e7-91fb-0b0f18a7b64c.JPG)

[2017-10-26 09:44] ccpandhare commented on #146
Lines 31-35 `./src/modules/Dynamic/Module.js`
[code]

Shouldn't that be
[code]

Fixed it for me!

[2017-10-26 18:34] jywarren commented on #146
Ahh! great. Hey, if you'd like to make that change and push it to a branch with a name beginning with `first-timer-`, I think our new `first-timers-bot` will pick it up and make a FTO issue out of it! :-)))

Give it a try! New outreach technology :-)

[2017-10-27 01:52] ccpandhare commented on #146
Ohh wow! That's interesting!

On Fri, Oct 27, 2017, 00:04 Jeffrey Warren <notifications@github.com> wrote:

[2017-10-27 06:10] sils commented on #150
@jywarren sure just make an appointment to https://calendly.com/sils so we don't forget :P

[2018-01-04 18:52] sils commented on #150
ping :)

[2018-01-18 22:31] tech4GT commented on #129
@jywarren  I would like to work on this issue

[2018-01-18 22:43] tech4GT commented on #129
@jywarren do we just want to prompt the user?

[2018-01-18 23:50] jywarren commented on #129
Hi! I think we could just output a message as soon as the command is executed. That way it doesn't look like the command just ended and there was no result. We should make it clear that it may take seconds or minutes for the command to complete.

Thanks so much for your help!

[2018-01-19 04:43] tech4GT commented on #130
I would like to work on this issue

[2018-01-19 04:45] tech4GT commented on #133
I would like to work on this in concert with #130

[2018-01-19 12:26] jywarren commented on #133
Great, thanks!!!

On Jan 18, 2018 11:45 PM, "Varun Gupta" <notifications@github.com> wrote:

[2018-01-19 12:32] jywarren commented on #130
That'd be super, thank you!

On Jan 18, 2018 11:44 PM, "Varun Gupta" <notifications@github.com> wrote:

[2018-01-20 05:05] tech4GT commented on #130
@jywarren do we want to draw progress bar and loading icon?

[2018-01-21 15:26] #129 closed

[2018-01-21 15:43] jywarren commented on #130
That sounds really cool! Let's open a separate issue for it though, so we
can solve things modularly;
https://publiclab.org/notes/warren/01-18-2018/software-outreach-modularity-is-great-for-collaboration

That'd be a perfect next step after this one. Great idea!

On Sat, Jan 20, 2018 at 12:05 AM, Varun Gupta <notifications@github.com>
wrote:

[2018-01-21 16:41] tech4GT commented on #130
Amazing read @jywarren

[2018-01-21 16:42] tech4GT commented on #130
@jywarren should i open the issue?

[2018-01-21 19:11] jywarren commented on #130
Yes please! Thanks!!

On Jan 21, 2018 11:42 AM, "Varun Gupta" <notifications@github.com> wrote:

[2018-01-22 12:58] tech4GT opened #153 "Draw a progress bar for synchronous operation"
In concert with #130

[2018-01-22 12:58] jywarren commented on #153
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @jywarren.

[2018-01-23 01:28] jywarren commented on #153
Awesome!

On Jan 22, 2018 7:47 PM, "Varun Gupta" <notifications@github.com> wrote:

[2018-01-23 14:21] tech4GT commented on #130
@jywarren can you please elaborate on this issue a little. If we store the output image in the same directory, wouldn't that make it chainable too?

[2018-01-23 14:48] jywarren commented on #130
What i've seen is that if you run `sequencer -i photo.jpg && mv photo.jpg ~/Desktop/` and the initial `sequencer` command takes any time at all, the `mv` command will run before `sequencer` is done, since it's asynchronous. So I just want to suggest we make it synchronous -- only return complete once the output file is ready -- so that it can be used in shell script command chaining. Does that mak

[2018-01-23 15:14] tech4GT commented on #130
@jywarren Cool, that makes perfect sense, I will start looking for a workaround now.
Thankyou

[2018-01-23 15:42] jywarren commented on #130
:-) thank you!!!

On Tue, Jan 23, 2018 at 10:14 AM, Varun Gupta <notifications@github.com>
wrote:

[2018-01-23 17:26] #133 closed

[2018-01-24 06:06] Rishabh04-02 commented on #141
@jywarren I want to do this.

[2018-01-25 00:36] jywarren commented on #141
Wow, that would be great!!! Please do jump in here!

[2018-01-25 06:30] Rishabh04-02 commented on #141
@jywarren ``chain.js``,``image-manip.js``,``image-sequencer.js``,``replace.js`` these all will go from ``/test/`` to ``/test/modules/`` or not?
Also what about the ``images`` directory?

[2018-01-25 15:36] tech4GT commented on #132
@jywarren  i would like to work on this

[2018-01-25 20:01] jywarren commented on #132
ooh, that would be great! Thanks!

On Thu, Jan 25, 2018 at 10:36 AM, Varun Gupta <notifications@github.com>
wrote:

[2018-01-25 20:08] jywarren commented on #141
i think `/test/modules/` is right. Images, I don't know, what do you think? Thank you!!!

[2018-01-26 16:28] tech4GT commented on #148
@jywarren are we still doing this, i can even make a google chrome extension if you want?

[2018-01-26 17:51] Rishabh04-02 commented on #141
I think, we should leave the ``images`` at its current position and move all others to ``/test/modules/``.

[2018-01-26 21:17] jywarren commented on #148
i think a bookmarklet would be a great place to start -- maybe a chrome
extension could be a follow-up issue?

On Fri, Jan 26, 2018 at 11:28 AM, Varun Gupta <notifications@github.com>
wrote:

[2018-01-27 13:13] tech4GT commented on #148
@jywarren please update https://publiclab.github.io/image-sequencer/dist/image-sequencer.js file. replaceImage() is returning error

[2018-01-27 13:27] jywarren commented on #148
Oh oops! Hmm, can you post the error as an issue? We should have a test for
that. Thanks for reporting!

On Jan 27, 2018 8:13 AM, "Varun Gupta" <notifications@github.com> wrote:

@jywarren <https://github.com/jywarren> please update
https://publiclab.github.io/image-sequencer/dist/image-sequencer.js file.
replaceImage() is returning error

—
You are receiving this because you were mentioned.
Reply

[2018-01-27 13:44] tech4GT commented on #148
@jywarren it runs fine with my local script so probably the file is not updated with latest commits

[2018-01-28 08:24] tech4GT commented on #148
@jywarren please help

[2018-01-28 11:04] tech4GT commented on #148
@jywarren looks like github has disabled embedding bookmarklets in readme https://stackoverflow.com/questions/19314567/embed-bookmarklet-in-github-readme-md

[2018-01-28 14:07] tech4GT commented on #113
@jywarren I would love to work on this

[2018-01-29 12:34] tech4GT opened #157 "Add a Contrast module"

[2018-01-29 12:34] jywarren commented on #157
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @jywarren.

[2018-01-29 12:34] tech4GT opened #158 "Add a Saturation Module"

[2018-01-29 12:34] jywarren commented on #158
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @jywarren.

[2018-01-29 18:17] jywarren opened #159 "enable processing on alternate thread using greenlet (workerize)"
https://github.com/developit/greenlet

This would be a cool option esp for browser use!

[2018-02-01 17:27] #113 closed

[2018-02-01 17:27] tech4GT opened #162 "Modify the test to check number of modules"

[2018-02-01 17:27] jywarren commented on #162
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @jywarren.

[2018-02-01 17:45] tech4GT commented on #148
@jywarren we can add a link which opens a statically hosted page which has the actual bookmarklet since it is not allowed in github readme. What say?

[2018-02-01 18:36] jywarren commented on #148
That sounds great! Perhaps bookmarklet.md?

[2018-02-01 18:38] #162 closed

[2018-02-01 19:06] tech4GT commented on #148
Actually .md file will again not support js...i was thinking maybe hosting a page on some other service like https://www.bitballoon.com/

[2018-02-02 02:33] jywarren commented on #148
oh, aha -- i see. well, we could host it at PublicLab.org on a wiki page, what do you think? http://publiclab.org/wiki/

[2018-02-02 03:19] tech4GT commented on #148
@jywarren that'll be super😁

[2018-02-02 16:26] tech4GT commented on #148
@jywarren  https://publiclab.org/wiki/imagesequencerbookmarklet

[2018-02-02 17:46] jywarren commented on #148
Looks good! Closing in #164 -- thanks!!!

[2018-02-02 17:52] #148 closed

[2018-02-02 18:07] jywarren opened #165 "Various module ideas to be broken out into separate issues"
## Module Candidates, related ideas

* [ ] https://github.com/linuxenko/rextract.js
* [x] https://www.npmjs.com/package/histogram
* [ ] https://github.com/hughsk/flood-fill
* [ ] https://github.com/yahoo/pngjs-image has lots of useful general-purpose image getters like `image.getLuminosityAtIndex(idx)`
* [ ] some way to add in a new image (respecting alpha) -- `add-image` (with blend mode, default

[2018-02-02 18:07] jywarren commented on #165
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @ccpandhare.

[2018-02-02 18:17] jywarren opened #166 "Edge detection module"
Let's make a module that detects object edges, kind of like in this note: https://publiclab.org/notes/amirberAgain/01-12-2018/python-and-opencv-to-analyze-microscope-slide-images-of-airborne-particles

Some leads:

* [ ] https://github.com/yuta1984/CannyJS - edge detection
* [ ] http://codepen.io/taylorcoffelt/pen/EsCcr - more edge detection

The module could actually output a JSON description of

[2018-02-02 18:17] jywarren commented on #166
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @ccpandhare.

[2018-02-02 18:39] tech4GT commented on #166
@jywarren i would like to work on this issue

[2018-02-02 19:03] jywarren commented on #166
ooh, awesome! Please do, thank you!

On Fri, Feb 2, 2018 at 10:39 AM, Varun Gupta <notifications@github.com>
wrote:

[2018-02-04 14:22] tech4GT commented on #130
@jywarren i think this is happening because our node process exits after calling all the async code, so we need to stop the node process from finishing before the images are exported, we can use es6 features for that.
If we declare exportbin function as async and await it in index.js then we can exit the process after the images are exported
Please guide me if my thinking is correct?

[2018-02-05 12:36] tech4GT commented on #141
@jywarren please close this issue.Thanks

[2018-02-05 13:30] jywarren commented on #141
+1!

[2018-02-05 13:30] #141 closed

[2018-02-05 15:29] jywarren commented on #130
Sure, i think that sounds good. I thought there was a way to run a function
synchronously somehow, but this sounds just as good. Thanks!

On Sun, Feb 4, 2018 at 6:22 AM, Varun Gupta <notifications@github.com>
wrote:

[2018-02-05 16:00] tech4GT commented on #130
@jywarren we would have to change quite a bit of code to es6 i hope it's fine?😅

[2018-02-05 23:43] jywarren commented on #130
would that affect browser support?

On Mon, Feb 5, 2018 at 11:00 AM, Varun Gupta <notifications@github.com>
wrote:

[2018-02-06 02:21] tech4GT commented on #130
It will not work with internet explorer, will that be ok?

[2018-02-06 19:50] jywarren commented on #130
I wonder -- based on what we use already right now, what version of IE do
we support?

On Mon, Feb 5, 2018 at 9:21 PM, Varun Gupta <notifications@github.com>
wrote:

[2018-02-06 21:42] #131 closed

[2018-02-09 10:47] tech4GT commented on #130
<img width="1273" alt="screen shot 2018-02-09 at 4 17 03 pm" src="https://user-images.githubusercontent.com/25617855/36024126-bbf6651e-0db4-11e8-80b3-3b9b0611820e.png">

[2018-02-10 12:22] tech4GT commented on #159
@jywarren  I would like to take up this issue😁

[2018-02-10 22:24] jywarren opened #169 "ability to write metadata into exif tags"

[2018-02-10 22:25] jywarren commented on #169
[GitMate.io](https://gitmate.io) thinks a possibly related issue is #118: Assorted improvements to be broken into separate issues.

[2018-02-11 15:12] ccpandhare commented on #169
This would be pretty cool!

[2018-02-11 15:15] ccpandhare commented on #169
Possible implementation modules:
- https://www.npmjs.com/package/piexifjs

[2018-02-11 15:17] ccpandhare commented on #166
#168 Does get into this, but we probably need to modify that from a greyscale output to actual edges.

[2018-02-11 15:21] ccpandhare commented on #165
These are pretty good resources!

[2018-02-11 15:52] tech4GT commented on #166
@ccpandhare i am working on that, right now it is just a sobel filter will be adding a lot of stuff to it😁

[2018-02-12 11:23] tech4GT commented on #159
@jywarren can i start working on this?😅

[2018-02-13 15:57] tech4GT opened #170 "Output not generated if contents of output folder are deleted"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2018-02-13 15:57] jywarren commented on #170
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @jywarren.

[2018-02-13 16:01] tech4GT commented on #170
@jywarren this will make a good first timer issue please add the label😁

[2018-02-15 15:28] jywarren commented on #170
This does look like a good first-timers issue! Before we label it as such, would you mind reformatting it following some of these suggestions?

https://publiclab.org/n/13667

Thank you! It'll be exciting to see more people join in :-) 👍

[2018-02-15 15:39] tech4GT commented on #170
@jywarren how does this look?

[2018-02-15 18:56] jywarren commented on #159
Sure! We're almost done with edge detection. Do you think this is a tough one?

[2018-02-15 18:57] tech4GT commented on #159
I have been researching a little and yeah this is a little tough but nothing we can't handle😁
Cheers

[2018-02-15 19:46] jywarren commented on #130
This sounds great then!

[2018-02-16 00:12] jywarren commented on #170
It looks good, but it's really worth the extra effort to copy in the welcoming text too! People just feel great about it when you're extra welcoming and use some emoji :-) 👍

[2018-02-16 01:46] tech4GT commented on #170
@jywarren done, please have a look😁

[2018-02-16 01:51] jywarren commented on #170
Great we can clean up some comments if you want too

[2018-02-16 22:07] #166 closed

[2018-02-16 22:24] jywarren opened #172 "blob/region detection and extraction for particle analysis"
region extraction -- https://github.com/linuxenko/rextract.js

This would let us identify objects on images like these:

![imagejsteps.jpg](https://publiclab.org/system/images/photos/000/011/635/original/imagejsteps.jpg)

Read more about this stuff here: https://publiclab.org/tag/particle-imaging

Especially here: https://publiclab.org/notes/mathew/09-19-2015/using-imagej-to-process-passive-partic

[2018-02-16 22:29] jywarren opened #173 "Building out a contributor community for Image Sequencer"
Hi, all -- @publiclab/reviewers too -- i'm interested in how we might get a group of JavaScript/Node folks to also review projects like this one. I know we have some in the group, but is it annoying to ask for reviews across projects if not everybody does lots of JavaScript, or do you think it's OK to be pinging reviewers for any PR?

@ccpandhare @tech4GT i'm interested in hearing from you as well

[2018-02-16 22:32] tech4GT commented on #173
@jywarren i am currently not a reviewer but i would love to be😁

[2018-02-16 22:39] jywarren commented on #173
Added you! More resources here: https://publiclab.org/software-outreach

[2018-02-16 22:40] tech4GT commented on #173
@jywarren thanks a lot😁

[2018-02-16 23:03] #132 closed

[2018-02-16 23:12] tech4GT opened #174 "fix documentation from details to config"

[2018-02-16 23:12] jywarren commented on #174
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @jywarren.

[2018-02-16 23:17] tech4GT opened #176 "Add option to export edge-detected image with black background"
Desired output
![](https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/%C3%84%C3%A4retuvastuse_n%C3%A4ide.png/1000px-%C3%84%C3%A4retuvastuse_n%C3%A4ide.png)

- [ ] Export image with black background
- [ ] Add support for jpeg images

[2018-02-16 23:17] jywarren commented on #176
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @jywarren.

[2018-02-16 23:36] #174 closed

[2018-02-16 23:38] jywarren commented on #176
This is a follow-up to https://github.com/publiclab/image-sequencer/pull/168 !! Thanks!

[2018-02-17 00:49] jywarren commented on #113
please do! Could it be implemented with the PixelManipulation sub-module?

On Sun, Jan 28, 2018 at 9:07 AM, Varun Gupta <notifications@github.com>
wrote:

[2018-02-17 04:07] tech4GT commented on #113
@jywarren yes , it has been implemented with pixelManipulation submodule only in this PR
https://github.com/publiclab/image-sequencer/pull/161

[2018-02-17 08:00] tech4GT opened #177 "Add a Gaussian Blur module"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2018-02-17 08:01] jywarren commented on #177
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @ccpandhare, and @jywarren.

[2018-02-17 08:01] tech4GT commented on #177
@jywarren will this be a good first timer issue?

[2018-02-17 13:02] tech4GT commented on #130
@jywarren I think there was some error earlier, i just tried chaining commands and it worked. I tried it with edge detection which takes some time to process and it still worked. I moved the output of the sequencer to desktop and it worked😅
`node ./index.js -i ../imgs/myImage.png -s "edge-detect" && mv ./output/sequencer101/image1_1.png ../`

[2018-02-17 22:12] tech4GT opened #178 "Image Encryption and Decryption module using any suitable encryption method"
we can have a module that encrypts and decrypts images using aes encryption
AES :  http://point-at-infinity.org/jsaes/ and https://github.com/ricmoo/aes-js
one time pad : https://en.wikipedia.org/wiki/One-time_pad
secret sharing: https://en.wikipedia.org/wiki/Secret_sharing

[2018-02-17 22:13] jywarren commented on #178
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @jywarren.

[2018-02-17 22:13] tech4GT commented on #178
@jywarren what say?

[2018-02-18 03:34] tech4GT commented on #178
@publiclab/reviewers please give your thoughts

[2018-02-18 05:38] mayank1010 commented on #170
i will give it a go

[2018-02-18 05:42] tech4GT commented on #170
Sure mayank go ahead😁

[2018-02-19 21:52] danielleshwed commented on #170
i am interested in working on this if it is available

[2018-02-19 22:10] jywarren commented on #170
@danielleshwed we'd love to have your help, @tech4GT maybe we could make another first timers issue since @mayank1010 is already working on this one?

Thanks!

[2018-02-19 22:15] tech4GT commented on #170
@jywarren sure I'll do that right away
@danielleshwed welcome to the community 😁

[2018-02-19 22:24] tech4GT commented on #177
@jywarren please add the first timers label, also i will detect and create some more fto issues as soon as possible

[2018-02-20 14:00] tech4GT commented on #170
@danielleshwed Jeff is busy right now, start with [#177](https://github.com/publiclab/image-sequencer/issues/177), just go through the contributing.md file to make a basic module and add the line referenced in the issue for the blur module, don't worry about the labels it's a relatively simple issue😁

[2018-02-20 15:26] jywarren commented on #177
Hi, I think this is a great `help-wanted` issue and will label accordingly. But I think it may be a bit much for a very first contribution -- often, fto issues lay out exactly what lines of code must change, so as to help first-timers go through the process and get to know the workflow and tools, before asking them to solve a problem. Make sense? But this is great and many folks should be able to

[2018-02-20 15:29] jywarren commented on #177
Perhaps you want to link to the good example module here: https://github.com/publiclab/image-sequencer/pull/161 too!

[2018-02-20 15:32] tech4GT commented on #177
@jywarren sure it's just that this will be adding one line to the example module and that line was already used in edge detection so i thought it could be a fto issue, but no prob I'll link the pr😁

[2018-02-20 15:35] tech4GT commented on #177
@jywarren also I'll detect and put up some fto issues as soon as possible 😁

[2018-02-20 15:40] jywarren commented on #177
awesome. thanks!

On Tue, Feb 20, 2018 at 10:35 AM, Varun Gupta <notifications@github.com>
wrote:

[2018-02-20 19:21] jywarren commented on #130
Oh, so it's already chainable then?????!!

[2018-02-20 20:53] danielleshwed commented on #177
Hi, I've attempted this issue and submitted a pull request :) Please let me know if there are any issues..

[2018-02-20 22:28] #153 closed

[2018-02-21 01:03] tech4GT commented on #130
Yes if we use a double &😁

[2018-02-21 01:28] tech4GT opened #182 "Update the debug script"
current debug script not working with examples

[2018-02-21 01:29] jywarren commented on #182
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @jywarren.

[2018-02-21 03:56] jywarren commented on #130
Ah, that makes sense! Let's add that to the docs. Great!

On Feb 20, 2018 8:07 PM, "Varun Gupta" <notifications@github.com> wrote:

[2018-02-21 04:39] tech4GT commented on #130
Sure I'm opening another issue for that...this one can be closed😁

[2018-02-21 04:41] tech4GT commented on #130
But the initial example that you took won't work because of poor cli syntax, i have put it in my proposal in detail
https://publiclab.org/notes/tech4gt/02-19-2018/gsoc-proposal-image-sequencer-v2-processing-on-steroids

[2018-02-21 07:19] tech4GT opened #184 "Add chainability example in the documentation"
Add an example to the Readme to show that the cli is chainable with other commands

[2018-02-21 07:19] jywarren commented on #184
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @jywarren.

[2018-02-21 16:27] jywarren commented on #130
Sorry, can you explain that here? Just copy in your explanation?

is the key, right?

[2018-02-21 16:31] #182 closed

[2018-02-21 17:07] tech4GT commented on #130
yeah sure,
Yes you are right that's the key and we also export the images in a "sequencer + <no. of iterations of sequencer>" folder which makes it difficult to access the output on the fly, also i am planning to implement extension detection which will make it possible to name output of a .jpg image  as .png and it will be automatically exported as png. For eg
sequencer -i "photo.jpeg" -s "invert

[2018-02-21 17:21] tech4GT commented on #178
@jywarren what do you think about this, will this be useful?...just trying to think some cool module ideas😅

[2018-02-21 17:53] tech4GT commented on #173
@jywarren I can see how busy you are and I wanted to help, so I was thinking that maybe what we can do is that I can review and help people especially first timers to build their pull requests for image-sequencer and once the pr is just right i will ask for a closing review from you, that will reduce your workload at least for this project, what say?

[2018-02-21 21:29] jywarren commented on #130
oh awesome!

On Wed, Feb 21, 2018 at 12:07 PM, Varun Gupta <notifications@github.com>
wrote:

[2018-02-21 21:38] jywarren commented on #173
:-) thank you! that would be fantastic. I really appreciate it -- you're
doing great work on this project :-)

On Wed, Feb 21, 2018 at 12:53 PM, Varun Gupta <notifications@github.com>
wrote:

[2018-02-21 21:45] jywarren commented on #178
I like it! It'd be a neat one if someone wants to tackle it.

I would however like to try to get as close as we can to solving some issues that'd address big problems at PublicLab.org -- like the dust particle identification work, for example, in https://github.com/publiclab/image-sequencer/issues/172 -- as a high priority. But i do really like this!

[2018-02-22 03:08] tech4GT commented on #178
@jywarren i get it that makes sense. Actually i am having my college mid term exams right now I'll start working on particle detection as soon as possible

[2018-02-22 03:10] jywarren commented on #178
Awesome! Good luck!

On Feb 21, 2018 10:09 PM, "Varun Gupta" <notifications@github.com> wrote:

[2018-02-22 03:10] #184 closed

[2018-02-22 18:52] tech4GT opened #187 "Add documentation about the debug script"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2018-02-22 18:52] jywarren commented on #187
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @jywarren.

A possibly related issue is #170: Output not generated if contents of output folder are deleted.

[2018-02-22 18:55] tech4GT commented on #170
@jywarren this issue can be closed now, thanks

[2018-02-22 18:57] #170 closed

[2018-02-22 18:58] tech4GT commented on #130
@jywarren i think we can close this one now, thanks😁

[2018-02-22 19:01] tech4GT opened #188 "Add a list of working modules and their parameters in the documentation"
If someone wishes to browse our modules one would have to go through the info.json file of every module. We can simplify this by having a list of modules and the their info in the README itself.
@jywarren what say?

[2018-02-22 19:01] jywarren commented on #188
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @jywarren, and @ccpandhare.

[2018-02-22 22:00] jywarren commented on #158
Maybe using this library -- convert to HSV color model, increase saturation, then convert back?

https://www.npmjs.com/package/colorsys

[2018-02-22 22:02] jywarren commented on #158
@danielleshwed how about this one? It should be possible by running each pixel through the `pixelManipulation` function then using `colorsys` as above to change that pixel. Not super efficient, but it should work! Does that make sense? So it'd be kind of like the Green Channel module, structurally.

[2018-02-22 22:12] danielleshwed commented on #158
@jywarren great! i will give it a go 👍

[2018-02-22 22:20] jywarren commented on #158
awesome!!!

On Thu, Feb 22, 2018 at 5:12 PM, Danielle Shwed <notifications@github.com>
wrote:

[2018-02-22 22:30] jywarren commented on #130
Perfect, thanks.

[2018-02-22 22:30] #130 closed

[2018-02-22 22:31] jywarren commented on #130
Should we create an issue for `-o` being used to specify an output filename?

`-o  | --output [PATH]    | Directory where output will be stored. (optional)`

[2018-02-22 22:38] jywarren commented on #188
can we reduce redundancy at all? What if we have a list in README of
modules, each of which links to their respective info.json files for more?

good thinking!

On Thu, Feb 22, 2018 at 2:01 PM, Varun Gupta <notifications@github.com>
wrote:

[2018-02-23 02:13] tech4GT commented on #130
@jywarren we can do that but i would be doing that in the summer anyway

[2018-02-23 02:14] tech4GT commented on #188
@jywarren sure, that can be done😁

[2018-02-23 10:05] tech4GT opened #189 "Add a loading spinner fallback for modules for which progress cannot be calculated"
The modules which do not use pixelManipulation currently have no loading bar and since we use external modules to implement them we cannot measure progress and make a progress bar for them hence we should add a spinner (https://www.npmjs.com/package/cli-spinner) to inform the user that the image is being processed

[2018-02-23 10:06] tech4GT commented on #189
@jywarren would this be the right way to go?

[2018-02-23 10:06] jywarren commented on #189
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @jywarren, and @ccpandhare.

[2018-02-23 10:08] tech4GT commented on #159
@jywarren this is included in my summer proposal with an additional host of features like offline use and push notifications so putting this on hold for now, I hope that's fine?

[2018-02-23 19:46] jywarren commented on #159
Sure, that sounds great!

[2018-02-24 08:10] tech4GT opened #190 "Modular approach for adding modules: s.importModule(moduleName)"
Right now the modules are hardcoded into image-sequencer(image-sequencer/src/Modules.js), that means any user wanting to use image-sequencer has to download all the modules(even if the user just wants to use 1 or 2) so what i am thinking is that what if we make this dynamic.

We publish modules as separate npm packages that can be plugged into the sequencer(kind of like [passport.js](http://www.pa

[2018-02-24 08:11] jywarren commented on #190
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @ccpandhare, and @jywarren.

[2018-02-24 10:07] tech4GT commented on #190
And yes, one more thing the current system would not be affected at all, so if we want to add modules as a part of the sequencer core itself that would also be possible through the pr system that we are following right now

[2018-02-24 10:31] Gayathrir1666 commented on #187
I will take up this issue and solve it.This is the first time I am contributing here!

[2018-02-24 10:44] tech4GT commented on #187
Sure go ahead, thanks for your help looking forward to your pr😁👍

[2018-02-24 13:13] tech4GT commented on #177
@jywarren this issue can be closed now solved in #186

[2018-02-24 13:14] #177 closed

[2018-02-24 16:30] tech4GT commented on #190
@jywarren i may be thinking a bit too far ahead but we can even add features like listing all verified modules and installing verified modules from our cli something like
[code]
This would use install the npm package and set it up for use

[2018-02-26 16:08] #158 closed

[2018-02-26 16:54] jywarren commented on #190
Hi, i like this a lot. I do think we could maintain a set of "core modules" that cover extremely common image manipulations like blur, contrast, saturation, crop, and some others. Maybe whatever Instagram does :-P

https://github.com/publiclab/image-sequencer/issues/122 has some ideas for simplifying module submission that may be related.

I also want to suggest that there are LOTS of things that

[2018-02-26 20:52] jywarren commented on #190
Hi, i'm sorry i'm a bit overloaded at the moment,  do you think you could
ping @ccpandhare and others at @publiclab/reviewers and we could try to
talk through your points one by one?

On Mon, Feb 26, 2018 at 12:39 PM, Varun Gupta <notifications@github.com>
wrote:

[2018-02-26 20:55] tech4GT commented on #190
@jywarren sure, no prob.😁
Just let me know whenever we can work through this one and till then i will consolidate all these ideas into a neat todo-list👍

[2018-02-26 21:00] tech4GT commented on #190
@jywarren and even better I'll link this issue in my soc proposal so we can go over this when we review that, will that be fine?😅

[2018-02-26 21:00] jywarren commented on #190
well, why don't you start by listing out some of the ideas in a list here,
and we can break them out as we go into separate issues if we want. Thanks!

On Mon, Feb 26, 2018 at 3:55 PM, Varun Gupta <notifications@github.com>
wrote:

[2018-02-26 21:02] tech4GT commented on #190
@jywarren sure that's totally doable, I'll start working on it😁👍

[2018-02-26 21:21] jywarren commented on #190
super!

On Mon, Feb 26, 2018 at 4:02 PM, Varun Gupta <notifications@github.com>
wrote:

[2018-02-27 08:38] tech4GT commented on #187
closed via #192

[2018-02-27 08:38] #187 closed

[2018-03-01 08:46] tech4GT opened #194 "Change the warning log"
Hi, this is a first-timers-only issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from people

[2018-03-01 08:46] jywarren commented on #194
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @jywarren, and @danielleshwed.

Possibly related issues are #187 (Add documentation about the debug script), and #170 (Output not generated if contents of output folder are deleted).

[2018-03-01 08:49] tech4GT commented on #194
@jywarren since our execution is not exactly async, maybe this will be a more suitable log😁

[2018-03-02 02:48] jywarren commented on #194
Yes!!!!

On Thu, Mar 1, 2018, 2:50 AM Varun Gupta <notifications@github.com> wrote:

[2018-03-02 03:30] Ronaq13 commented on #194
I want to work on this.

[2018-03-02 03:32] tech4GT commented on #194
@Ronaq13 hello there, welcome to the community😁
I'll assign the issue to you now
Thanks👍

[2018-03-02 04:24] ccpandhare commented on #189
This looks good! Do you think you could reformat this into an FTO?

[2018-03-02 04:27] ccpandhare commented on #188
Yes, having all that into the readme wouldn't be a good idea, I feel.
The readme needs a bit reworking itself, I do feel at times that it's pretty long!

[2018-03-02 05:15] tech4GT commented on #190
@ccpandhare thanks a lot, I'll consolidate the ideas discussed so far in a list and then maybe we can have a group discussion with @warren maybe on hangouts to finalize it
I really appreciate your support 👍😁

[2018-03-02 05:17] tech4GT commented on #189
@ccpandhare maybe this would not be a very good fto issue since i was planning something for this
I was thinking we can pass progress object to the module where the module writer can override it with a progress bar if he/she likes, that way it'll be very generic...what do you think?

[2018-03-02 05:19] tech4GT commented on #188
@ccpandhare yes i share the view so what i was thinking was maybe we can make a note on publiclab.org and link it here for someone who wishes to browse through all the modules kind of like we handle the bookmarklet...what say?

[2018-03-02 05:53] ccpandhare commented on #188
I'm not sure how that'll work out...
@jywarren isn't it?

On Fri, Mar 2, 2018, 10:49 Varun Gupta <notifications@github.com> wrote:

[2018-03-02 05:54] ccpandhare commented on #189
That makes sense to me!

On Fri, Mar 2, 2018, 10:47 Varun Gupta <notifications@github.com> wrote:

[2018-03-02 05:55] ccpandhare commented on #190
👍

On Fri, Mar 2, 2018, 10:45 Varun Gupta <notifications@github.com> wrote:

[2018-03-02 05:55] ccpandhare commented on #194
That'll be great @Ronaq13!

On Fri, Mar 2, 2018, 09:02 Varun Gupta <notifications@github.com> wrote:

[2018-03-02 06:26] tech4GT commented on #188
@ccpandhare what if we shorten the readme and leave it bare bones and create a comprehensive documentation separately like many packages with large documentation do...will that be better?
We can have something like `read full reference` link in readme

[2018-03-08 01:18] kindanduseful opened #196 "suggestions"
Hey, Public Lab community! Great-looking project (love the typefaces)!

How about:
1. ability to save the sequence in some shareable format (eg. url link)
2. ability to insert steps into an already built sequence

Rock on!

[2018-03-09 16:24] tech4GT commented on #196
@kindanduseful thanks a lot for the input, the sharing idea we will be working on this summer and i really like the adding a step to already built sequence, can you please open a separate issue for that I would start working on it as soon as possible.
What do you say @jywarren ?

[2018-03-09 16:45] tech4GT commented on #190
@jywarren @ccpandhare please have a look i have added a list of basic ideas that we have put together right now, i would love to discuss this and figure this out even further, maybe we can have a realtime chat?

[2018-03-09 16:56] tech4GT opened #197 "demo Improvements for summer"
This is a list of ui improvements ideas for the demo for this summer

- [ ] Add sharing features to sharing services like facebook, twitter, instagram etc, people should be able to share result of one step or the complete sequence also adding support for saving it local device
- [ ] Improve the styling and UX of the UI like adding better progress overlay etc
- [ ] Adding support for offline mode a

[2018-03-09 16:56] jywarren commented on #197
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @jywarren.

Possibly related issues are https://github.com/publiclab/image-sequencer/issues/118 (Assorted improvements to be broken into separate issues), https://github.com/publiclab/image-sequencer/issues/74 (Runkit.com demo), https://github.com/publiclab/image-sequencer/issues/142 (Add select dropdown for so

[2018-03-09 16:58] tech4GT commented on #197
@jywarren please have a look at this, we can keep updating this list list as we move along, i think this basic set will be enough for the summer, what say?

[2018-03-09 17:05] tech4GT opened #198 "Building a RESTful API for enabling use of image sequencer on a remote server"
Some Image processing steps can be resource intensive and it might be difficult for users with low powered devices to run them locally one the device, for this purpose we can setup an Express server with an api that can take an image in request and return the step applied image in response.
For this purpose we can use https://www.npmjs.com/package/express for building the server and imgur for host

[2018-03-09 17:06] jywarren commented on #198
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @ccpandhare, and @jywarren.

Possibly related issues are https://github.com/publiclab/image-sequencer/issues/173 (Building out a contributor community for Image Sequencer), https://github.com/publiclab/image-sequencer/issues/23 (Planning Issue for the Image Sequencer GSoC Project), and https://github.com/publicla

[2018-03-09 17:08] tech4GT commented on #198
@jywarren please have a look, this is pretty much what i had in mind, for summer maybe we can just start with support for single step in the server, it would be relatively simpler project and would take 1-2 weeks to implement?

[2018-03-09 22:08] jywarren commented on #188
We can link into additional Markdown files in a /docs/ folder... what do
you think? Like on plots2!

On Fri, Mar 2, 2018 at 1:26 AM, Varun Gupta <notifications@github.com>
wrote:

[2018-03-09 22:34] jywarren commented on #197
I think we should be able to add some more detail to the UI/UX changes here too. It's a good list!

How about:

* [ ] improve the "add additional module" interface:
    * [ ] so you can read the description before adding
    * [ ] so you can search more easily for modules (not a dropdown) and learn about them
* [ ] maybe the "insert module between steps" from https://github.com/publiclab/image-seq

[2018-03-09 22:35] jywarren commented on #190
Actually i wonder what @ryzokuken would have to say about this! @ryzokuken has done a lot of amazing modularity work on https://github.com/publiclab/plotsbot

Thanks!!!

[2018-03-09 22:36] jywarren commented on #190
This is looking really great!!!

[2018-03-10 02:24] ccpandhare commented on #190
Looks very nice!! :-)

[2018-03-10 02:30] ccpandhare commented on #197
Hi...!

I am a bit unclear about the multithreading part, offline mode regarding its implementation. Could you elaborate on that @tech4GT?

As Jeff said, these are completely different headings and some of them do need more detail.

I agree with @jywarren!

Nice start @tech4GT but we do need some more detailing here!

[2018-03-10 02:32] ccpandhare commented on #188
I do agree with Varun on this..!

On Sat, Mar 10, 2018, 03:38 Jeffrey Warren <notifications@github.com> wrote:

[2018-03-10 02:37] ccpandhare commented on #198
@tech4GT a very good idea indeed! But we need to ensure that only those
steps which will take more time are routed to the server. We don't want the
user to be waiting! And how will we decide which is faster? Local or server
(based on internet speed, user configuration, etc.?)

I think this will take more than a week or two... Including testing,
bugfixes and improvements. Usually this takes more ti

[2018-03-10 02:38] ccpandhare commented on #196
Actually... I think we have something like this in place...

On Fri, Mar 9, 2018, 21:55 Varun Gupta <notifications@github.com> wrote:

[2018-03-10 04:15] tech4GT commented on #198
@ccpandhare actually i was thinking we can have the user decide if he wants to use local device or server but i get it, this can take a little more time now working on the timeline, thanks👍

[2018-03-10 04:23] tech4GT commented on #197
@ccpandhare I think we can use service workers for both of the them. First of all we can add support for caching and push notifications by using progressive elements and since we use a single script on the frontend that should not be an issue. Secondly since service workers run in background we can use them to perform the processing of steps in background

[2018-03-10 04:27] tech4GT commented on #197
@jywarren I don't fully understand the sharing part with url, so are we trying to pack everything in the url so that the url is unique and can be user to share the image, so we need to upload the pictures to something like imgur and then pack that url in our url somehow so that we can fetch the image and apply steps on it, is this right?

[2018-03-10 04:35] tech4GT commented on #188
@jywarren totally we can do that👍

[2018-03-10 06:03] ryzokuken commented on #190
@jywarren I'll take a look, thanks!

[2018-03-10 06:21] ryzokuken commented on #190
Now that I think about it, it seems like a really good idea. We might have a ton of differing opinions on how the final API should look (and that's a good thing, we could talk about it extensively), but I think there's no doubt everyone will benefit if the codebase becomes sufficiently modular.

That said, to me

isn't the actual motivation behind making the code modular. This is because if I reca

[2018-03-10 06:29] tech4GT commented on #190
@ryzokuken that makes sense to me thanks a lot, actually right now i am working on putting this in my soc proposal.
I am currently thinking of doing it the way passport does it and we can improvise as we move along, what say?

[2018-03-10 06:40] ryzokuken commented on #190
Cool. That sounds doable.

[2018-03-10 13:20] tech4GT commented on #172
@jywarren i am now taking up this issue can you please elaborate a little what data do we need as output. We can edge detect the image for the particles, do we we need some data about each of the particles like area etc?

[2018-03-10 14:35] tech4GT commented on #190
![modularsequencer](https://user-images.githubusercontent.com/25617855/37243382-480e8216-249e-11e8-9b73-9d0dde341dd1.jpeg)
@jywarren how does this look, i have started working on a basic prototype for this😁

[2018-03-10 15:16] tech4GT commented on #198
@jywarren @ccpandhare would this be a priority or #190  for summer coz @ccpandhare you are right i cannot do both in the given timeframe, maybe we can work on one after the summer, so should i keep this one on #190 in my proposal? thanks

[2018-03-10 17:10] ryzokuken commented on #190
Why not use a js file for binding modules instead? Require them alongside the core, and call a function on the core or something. Perhaps even the constructor of the core object could take an array of modules as an argument. This would make things easier IMO than parsing JSON and requiring them programmatically. (This is also how we do it in plotsbot).

[2018-03-10 18:26] tech4GT commented on #190
we do have a js file called modules.js for the binding purpose but i don't quite understand how will that work if we want to bind modules downloaded from npm without modifying the code, can you drop a code snippet maybe?

[2018-03-10 18:29] ryzokuken commented on #190
@tech4GT I don't have any snippet ready, but will try something over the weekend.

[2018-03-10 20:01] tech4GT commented on #190
@ryzokuken will that be more efficient, coz if we are just storing module details then why not just save as json and require the json itself for all the info?

[2018-03-10 20:09] ryzokuken commented on #190
Wouldn't that be synchronous and depend a lot on disk I/O time (not fast enough)?

I mean, I don't think the config would be too big. Why not use a plain JS object and pass it into a function instead of parsing a JSON file for the same?

I hope you get my point.

[2018-03-10 20:13] tech4GT commented on #190
I might be wrong here but how will we modify this js object and persist this change for when the user runs the service the next time, since we are allowing plugins we would need the change in plugins to persist but the changes to the ja object will get lost as soon as the scope is destroyed , does that make any sense?

[2018-03-10 20:14] tech4GT commented on #190
We can just write the final state of this object to a file and that is what i was thinking with the json

[2018-03-12 04:53] jywarren commented on #172
Yes, after the several image filtering steps as in this post:

https://publiclab.org/notes/amirberAgain/01-12-2018/python-and-opencv-to-analyze-microscope-slide-images-of-airborne-particles

We'd then want to add to the metadata (and to display in the interface) a count of particles by size - ask AmirberAgain in the above post for some help!

Excited! Thank you!

[2018-03-12 04:54] jywarren commented on #172
But let's solve this in a set of chained modules if possible!

[2018-03-12 05:07] tech4GT commented on #190
@ryzokuken @ccpandhare @jywarren i have made a little demo here https://github.com/tech4GT/image-sequencer/tree/modular please do have a look
current workflow from CLI is
[code]
This binds the module to sequencer and allows the user to use it with its name in lowercase

[2018-03-12 05:16] tech4GT commented on #190
![](http://www.giphy.com/gifs/BfarQtjYLfsXjAKWhM)

[2018-03-12 05:20] tech4GT commented on #172
@jywarren totally, because we already have some of the steps which are needed, this would be better implemented with a set of chained modules
Also, I have an idea from this, we can have an ability to add macros so that users can save a set of most used modules, in browser that can be implemented with the url and in cli we can have a macros.json file and our first macro can be region extraction😁
wh

[2018-03-12 12:51] tech4GT commented on #172
@jywarren also can you please have a look at the proposal for this project since the gsoc deadline is coming and the submission is already started

[2018-03-12 15:31] jywarren commented on #198
I think it'd be really useful for example to implement a completely separate service-based MapKnitter back-end, which could receive full-size images and distort them remotely for people. https://github.com/publiclab/mapknitter/

But I think #190 and anything that can help onboard new people to grow this team is a higher priority -- i've written a bit about my reasoning for this here -- hope that m

[2018-03-12 15:36] jywarren commented on #197
Re: sharing - the idea is, if someone composes a sequence and tweaks the settings, they have a process which is really useful. And if we can concisely store that in the URL itself, then they can share that workflow (sequence + settings) with other people, or bookmark it, and we don't have to use a database to save it. We wouldn't save images, just the workflow itself. But we might want to start co

[2018-03-12 15:39] jywarren commented on #197
Sorry to dump my "meta module" idea here -- it ought to be broken out into its own issue, i guess. Will try.

On another topic, let's start compiling a list of nice "use cases" that demos could aim for -- a separate list from the features we want to build/fix on the demo itself. Maybe this is another issue as well, but to start it off:

* [ ] particle identification and sizing for air pollution ht

[2018-03-12 15:43] jywarren opened #200 ""Meta" modules -- modules made of other sequences of modules"
If someone composes a sequence and tweaks the settings, they have a process which is really useful.

And if we can concisely store that in the URL itself, then they can share that workflow (sequence + settings) with other people, or bookmark it, and we don't have to use a database to save it. We do this now, though we don't save the settings, just the sequence:

https://publiclab.github.io/image-s

[2018-03-12 15:43] tech4GT commented on #197
@jywarren please do have a look at #172 i had a similar idea about meta modules or macros, we can even save them in cli using a macros.json file and it will be awesome coz region extraction itself can be our first met-module or macro, what say?

[2018-03-12 15:43] jywarren commented on #200
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @ccpandhare, and @tech4GT.

Possibly related issues are https://github.com/publiclab/image-sequencer/issues/108 (Math Module), https://github.com/publiclab/image-sequencer/issues/112 (Scale module), https://github.com/publiclab/image-sequencer/issues/5 (image cropping module), https://github.com/publiclab/image-s

[2018-03-12 15:44] jywarren commented on #197
Love that. Just read it. Super. Also opened #200 to track that idea.

[2018-03-12 15:47] tech4GT commented on #200
@jywarren this is so cool, i will start working on this for the node using a meta.json and i will try to implement region extraction with that only, super excited😀

[2018-03-12 15:53] jywarren opened #201 "Allow easier access to neighboring pixels in Dynamic module"
Currently the Dynamic module runs on each pixel, one by one:

https://github.com/publiclab/image-sequencer/blob/efd5bf7624420583097fb4ce4f83accdbb067dda/src/modules/Dynamic/Module.js#L37-L45

It has read access to the existing pixel, and uses that data to generate a new pixel color.

But to do some activities, it's helpful to be able to access neighboring pixels. This can become computationally in

[2018-03-12 15:53] jywarren commented on #201
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @ccpandhare.

Possibly related issues are https://github.com/publiclab/image-sequencer/issues/108 (Math Module), https://github.com/publiclab/image-sequencer/issues/146 (Monochrome "fallback" on Dynamic module not working), https://github.com/publiclab/image-sequencer/issues/112 (Scale module), https://github.c

[2018-03-13 18:51] tech4GT commented on #201
@jywarren should we make a function to do this in the dynamic module?
[code]

[2018-03-13 22:16] jywarren commented on #201
Yes, i think that makes sense! :-)

On Tue, Mar 13, 2018 at 2:51 PM, Varun Gupta <notifications@github.com>
wrote:

[2018-03-14 06:09] ccpandhare commented on #201
I think the neighbour function isn't really solving the underlying
problem... What if I need probably the second neighbour? Maybe we could
have a more generic function which makes code more readable

So instead of
[Ndarray(i*w + j*4 + 0), Ndarray(i*w + j*4 + 1), Ndarray(i*w + j*4 + 2),
Ndarray(i*w + j*4 + 3)]

Maybe we can just do newFunction(i,j) which will return the same array
above?

Just my t

[2018-03-14 08:03] tech4GT commented on #201
@ccpandhare actually the neighbor function is supposed to be generic only, it will yield the pixel at x,y distance from the current pixel, as @jywarren was saying, will it be fine then?

[2018-03-14 13:13] ccpandhare commented on #201
Yeah!

On Wed, Mar 14, 2018, 13:33 Varun Gupta <notifications@github.com> wrote:

[2018-03-14 14:13] tech4GT commented on #200
@jywarren if #203 is a good enough approach then maybe we can start working on an option in the CLI for defining meta-modules so that user can dynamically add define these according to needs, So that is one user uses a particular combination a lot in a specific sequence they can define a meta-module for it. This will also be in sync with what we are planning to do with modules in the summer, what

[2018-03-16 09:44] jywarren commented on #190
Actually at the moment it's probably mostly browser-based, FWIW, with an option to run things in Node. But we don't have a big user base or anything, so we're trying to stay consistent and flexible!

[2018-03-16 09:48] jywarren commented on #190
Sorry, just catching up here -- for on-the-fly loading of modules in the browser context, what does this look like? Would we say, include the core library, and then add a `<script>` include for each of the external modules you'd like to use? Or would we have the core module fetch and initialize remote modules (via npmjs.org -- is this possible/advisable?)

Thanks!!

[2018-03-16 10:06] tech4GT commented on #190
@jywarren since this was an idea for the summer i actually didn’t think about the browser side, I have thought a solution for node but now that i think about it, we can add a module registration feature in the core image-sequencer object itself so that a module can be added through an external script in the browser, so a module will link itself to core sequencer using ImageSequencer.bind(), do you

[2018-03-16 10:10] tech4GT commented on #190
an external module will have a index.js which will run something like this
[code]

[2018-03-20 11:42] tech4GT commented on #196
separate issues for the improvements have been opened, closing this now

[2018-03-20 11:42] #196 closed

[2018-03-22 14:11] tech4GT commented on #201
@jywarren i have made this work but i have a doubt, should we put the logic to get neighboring pixels in PixelManipulation itself and pass it to changePixel so that other modules can also use it if need be?
What i mean is that changePixel can be defined like this
[code]
since neighbour is last parameter, its not required hence other modules which do not use neighbors would need no change
[code]

[2018-03-22 16:17] jywarren opened #205 "add "drag to crop" UI feature to Crop module"
I was thinking that the ability to drag a region to be cropped using the Crop tool would be great, when using the default HTML UI. It might take a couple hundred lines of code, however, and I'm not sure we'd want that in the core library. Is this an example of something we should develop as a separate module entirely?

[2018-03-22 16:18] jywarren commented on #205
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @ccpandhare.

Possibly related issues are https://github.com/publiclab/image-sequencer/issues/5 (image cropping module), https://github.com/publiclab/image-sequencer/issues/158 (Add a Saturation Module), https://github.com/publiclab/image-sequencer/issues/157 (Add a Contrast module), https://github.com/publicla

[2018-03-22 16:22] tech4GT commented on #205
@jywarren we can use a jQuery plugin for that, that would keep it separated from our core code
please have a look at this http://odyniec.net/projects/imgareaselect/

[2018-03-22 16:43] jywarren commented on #205
This is fantastic. Excellent find!!!!!!

On Thu, Mar 22, 2018, 12:22 PM Varun Gupta <notifications@github.com> wrote:

[2018-03-23 18:51] jywarren commented on #201
I think it's possible we could expose access to `neighbor()` without passing it as a parameter, if we pass it using a closure -- my brain bends a bit thinking about it, but can't we allow `changePixel()` access? Ugh, it's been too long since I did this...

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Closures

Otherwise, i like your passing `neighbor()` as the 5th parameter. Thanks for

[2018-03-23 19:32] tech4GT commented on #201
@jywarren actually the thing is that the pixels object is not available in the module.js so even if we define the logic there there is no way that we get access to pixels there so we have to pass it to pixelmanipulation, only way this can work is if we bind the neighbour function to an object inside module.js and access that object directly in changepixel, would that be fine
[code]

[2018-03-23 19:33] tech4GT commented on #201
This obj is passed to pixelmanipulation

[2018-03-23 19:49] tech4GT commented on #201
#204 @jywarren done without extra parameter🎉

[2018-03-30 16:20] jywarren commented on #196
Also linking this to https://github.com/publiclab/image-sequencer/issues/127 for the ability to share not only a sequence of steps, but the settings for each step, which is sometimes critical in reproducing a sequence!

[2018-03-31 03:56] tech4GT commented on #127
@jywarren On the browser side once we implement this maybe we can have a `save to local storage` in the sharing options which will ask the user for a name and the meta-module will be saved with the settings user has currently applied, what say?

[2018-03-31 04:02] tech4GT commented on #201
closed in #207

[2018-03-31 04:02] #201 closed

[2018-03-31 05:21] #189 closed

[2018-04-02 18:59] tspakes commented on #194
Hello. I am new to the open-source community and Public Lab. It seems that this issue is still open despite a previous user expressing desire to work on this. Could I please be assigned this issue to help me get started?

[2018-04-02 19:06] tspakes commented on #194
Looking at index.js, I see that this has already been completed. It would probably be a good idea to close this issue so that others don't attempt to complete it.

[2018-04-02 22:15] tech4GT commented on #194
@tspakes sorry for the inconvenience. Welcome to publiclab community try a first timers issue to get started😁

[2018-04-02 22:15] #194 closed

[2018-04-09 21:03] jywarren opened #209 "Module info in demo should source from info.json"
Several modules have `info.json` descriptions but these aren't being shown in the demo, at https://publiclab.github.io/image-sequencer/examples/#steps=ndvi-red,segmented-colormap (for example).

See:

https://github.com/publiclab/image-sequencer/blob/d887f5eb61096d5b05f9caf6ca47149b4cd8fd0a/src/modules/NdviRed/info.json#L3

But when it's set in `options.description` it does work:

https://github.c

[2018-04-09 21:03] jywarren commented on #209
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @ccpandhare.

Possibly related issues are https://github.com/publiclab/image-sequencer/issues/126 (Move configuration options in demo from "add step" to each step's info area), https://github.com/publiclab/image-sequencer/issues/142 (Add select dropdown for some module UIs in demo), https://github.com/publiclab

[2018-04-09 21:08] jywarren commented on #209
Or should this go on these lines, in the demo?

https://github.com/publiclab/image-sequencer/blob/d887f5eb61096d5b05f9caf6ca47149b4cd8fd0a/examples/demo.js#L38-L39

[2018-04-09 21:10] jywarren opened #210 "Make demo images click-to-download"
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://publiclab.github.io/community-toolbox/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting it as a

[2018-04-09 21:10] jywarren commented on #210
[GitMate.io](https://gitmate.io) thinks possibly related issues are https://github.com/publiclab/image-sequencer/issues/3 (CORS Image error on GitHub hosted demos), https://github.com/publiclab/image-sequencer/issues/4 (demo of image processing using leaflet map tiles), https://github.com/publiclab/image-sequencer/issues/148 (Create demo bookmarklet code for inverting images on a page), https://gi

[2018-04-10 20:46] tech4GT commented on #209
@jywarren nice catch, I am a little busy right now but I'll get this sorted ASAP
Thanks😁

[2018-04-10 20:47] tech4GT commented on #205
@jywarren this one is almost done, will be submitting pr by tomorrow
Thanks😁

[2018-04-10 21:14] jywarren commented on #205
Oh awesome.

On Tue, Apr 10, 2018, 4:48 PM Varun Gupta <notifications@github.com> wrote:

[2018-04-11 19:46] marzann commented on #210
Could I work on this, or it is first-timers-only? I had one small previous contribution.

[2018-04-11 19:48] tech4GT commented on #210
@marzann welcome to the community😊
It's preferred that first timers solve this issue but you take it up if you want it'll help you get familiar with the project

[2018-04-12 15:41] tech4GT opened #211 "Make an icon for the project"
@jywarren I was thinking maybe we can design an icon for image-sequencer which can appear in the title of the demo as well. What say?
PS I got the idea from the meetup we organized, maybe in the future we can put image-sequencer logo on the posters

[2018-04-12 15:41] jywarren commented on #211
[GitMate.io](https://gitmate.io) thinks the contributors most likely able to help are @jywarren, and @ccpandhare.

Possibly related issues are https://github.com/publiclab/image-sequencer/issues/23 (Planning Issue for the Image Sequencer GSoC Project), https://github.com/publiclab/image-sequencer/issues/210 (Make demo images click-to-download), and https://github.com/publiclab/image-sequencer/issu

[2018-04-15 22:06] jywarren opened #212 "explore standard multi-source upload with Uppy package"
https://www.npmjs.com/package/uppy

Demo: https://uppy.io/examples/dashboard/

![image](https://user-images.githubusercontent.com/24359/39401228-76b43778-4b0e-11e8-891b-83cadb4fbc05.png)

[2018-04-15 22:06] jywarren commented on #212
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @ccpandhare.

[2018-04-16 17:54] jywarren commented on #127
See comment here: https://github.com/publiclab/image-sequencer/pull/203#issuecomment-381692525

[2018-04-16 17:55] jywarren commented on #211
I like this idea! I'll try to come up with some ideas... ✏️ 📄

[2018-04-16 20:48] jywarren commented on #211
What about something like this?

![image](https://user-images.githubusercontent.com/24359/38834247-dd6dc60a-4195-11e8-816f-ccd4e2f02797.png)

[full-res file](https://user-images.githubusercontent.com/24359/38834272-f633068c-4195-11e8-85f8-8022f10b32f0.jpg)

[2018-04-16 22:01] tech4GT commented on #211
This looks cool🎉

[2018-04-16 22:35] tech4GT commented on #211
@jywarren since we will be adding offline support in the summer we should have a material icon as well, how's this one
![ic_launcher](https://user-images.githubusercontent.com/25617855/38838610-915de3e4-41f4-11e8-9d63-0e50a28813bd.png)

[2018-04-16 22:39] jywarren commented on #211
ooh, very modern! sketching here:
https://docs.google.com/presentation/d/1TCZoTfuhamRVrUak8aDgqJAwSgyhRtZg2Pgacl2_4zc/edit#slide=id.g1a6154e201_0_153

that also has a nice mockup of an early UI that might be interesting to
you.

OH i love this new one! Can we make it pink though? Or purple? Such
friendlier colors :-)

On Mon, Apr 16, 2018 at 5:21 PM, Varun Gupta <notifications@github.com>
wrote:

[2018-04-16 22:42] tech4GT commented on #211
![ic_launcher](https://user-images.githubusercontent.com/25617855/38838785-7994b8f4-41f5-11e8-968d-b3ab0c2abba9.png)
How's this?

[2018-04-16 22:43] tech4GT commented on #211
That is very nice ui, I love it!!!

[2018-04-16 22:46] tech4GT commented on #211
@jywarren I know the perfect ui framework for this
have a look at https://semantic-ui.com/
This is a very mordern css framework which will fall totally in line with the modern style ui we want to go for

[2018-04-18 12:34] tech4GT opened #213 "Crop Module not working correctly"
<img width="1233" alt="screen shot 2018-04-18 at 6 02 48 pm" src="https://user-images.githubusercontent.com/25617855/38932104-df373590-4332-11e8-97da-de59dc17ce9e.png">

[2018-04-18 12:35] jywarren commented on #213
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @jywarren.

Possibly related issues are https://github.com/publiclab/image-sequencer/issues/5 (image cropping module), https://github.com/publiclab/image-sequencer/issues/205 (add "drag to crop" UI feature to Crop module), https://github.com/publiclab/image-sequencer/issues/146 (Monochrome "fallback" on Dynamic

[2018-04-18 12:35] tech4GT commented on #213
@ccpandhare It would be great if you can help, Thanks

[2018-04-18 14:11] marzann commented on #210
@tech4GT: Sorry about the delay, I have been busy. Thank you so much for the welcome. I like the project, and would like to go ahead with issue #210. I have never contributed to the publiclab repos. Quick question, for testing, should I use grunt localhost, rather that npm?

[2018-04-18 14:15] tech4GT commented on #210
Yeah that would be better😁✌️

[2018-04-18 18:17] marzann commented on #210
Tysm. I am having trouble showing website on localhost via npm or grunt. What is the preferred way of doing that?

[2018-04-18 19:28] tech4GT commented on #210
@marzan  actually we do not host the website on a server in grunt(nice pointing It out, I'll open an issue for this) so for now you should start a simple http-server in the project folder
For that you can use https://www.npmjs.com/package/http-server

[2018-04-19 00:45] marzann commented on #210
@tech4GT, thank you! This worked like a charm, so now I can work on the issue, and test it.

[2018-04-19 18:23] jywarren opened #215 "Refine/simplify "add module" interface in demo"
I think it'd be better for UI consistency to have the "configure step" interface always show in the same place, so not at the moment of adding a new module, but only after you've added it. You can always delete the module if you want a different one!

This would simplify the UI a bit, like this:

![screenshot 2018-04-19 at 2 12 36 pm](https://user-images.githubusercontent.com/24359/39010588-14a897

[2018-04-19 18:25] tech4GT commented on #215
@jywarren that sound good to me, infact I have been thinking about this as well so that ui remains consistent and user can scroll down as more steps are added

[2018-04-19 18:26] tech4GT commented on #215
@jywarren also I was thinking we can have a preview button, pressing which a modal appears which contains just the images through all the steps like a timeline, what say?

[2018-04-19 18:43] jywarren commented on #211
This purple icon is amazing. Let's add it to the repo!

[2018-04-19 18:53] tech4GT commented on #211
@jywarren I should add it as the icon for the demo right?

[2018-04-19 20:18] jywarren commented on #211
sure! I believe we may also be able to add them for use as "home icons"?
but i'm not sure if this is up to date:
https://designmodo.com/create-icons-ios-android/

On Thu, Apr 19, 2018 at 2:53 PM, Varun Gupta <notifications@github.com>
wrote:

[2018-04-19 20:25] tech4GT commented on #211
@jywarren actually i was thinking as we move towards the pwa in the summer we can use it there, Since pwa icons get added on home screens of android phones..
for now i will make it the demo icon..
as for ios since this is a material design icon we would have to design another one for ios.

[2018-04-19 20:46] jywarren opened #216 "Add WebGL shim in CLI/Node context to allow GL-based modules to run in Node"
https://www.npmjs.com/package/gl

This would no longer be pure JavaScript, but for some modules this is interesting. For example, the FisheyeGL module #27 can currently only be run in a browser, and webgl-distort #64 also would be this way.

Long-term project!

****

Hmm, maybe also these resources:

* non graphics card GL functions could be shimmed with https://github.com/Overv/JSGL
* or this: ht

[2018-04-19 20:46] jywarren commented on #216
[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @ccpandhare.

Possibly related issues are https://github.com/publiclab/image-sequencer/issues/97 (Add module options to CLI), https://github.com/publiclab/image-sequencer/issues/132 (fix CLI --options parameter and add example), https://github.com/publiclab/image-sequencer/issues/133 (add "--simple" or "--singl

[2018-04-19 21:15] jywarren commented on #211
Awesome. Thanks, Varun!!

On Thu, Apr 19, 2018 at 4:25 PM, Varun Gupta <notifications@github.com>
wrote:

[2018-04-19 22:05] tech4GT commented on #209
@jywarren got the problem!!!

[2018-04-19 22:10] tech4GT commented on #209
@jywarren actually the thing is we export the module itself and it's info separately like 2 elements in an array hence we won't get the original description defined in info.json on the step object but we would get it on the modulesInfo["Module name"] object

[2018-04-20 12:37] tech4GT commented on #200
@jywarren
here is a simple checklist of my view on how we should go about things for this

**What is a Metamodule**: A Sequence of steps which can be represented as a string or as a json and can override some values of some steps while letting others fallback to default

- [ ] Metamodules.json for backend and importing them like normal modules with default presets of its constituent modules but po

[2018-04-20 12:41] tech4GT commented on #200
@jywarren we had to discuss  #190 as well, this maybe a good time since we are making important architectural choices...

[2018-04-23 05:00] tech4GT commented on #172
@jywarren I have made some progress on this one, So I have decided to follow these steps, please guide me if this seems correct
- First we apply edge-detect to the image to binarize it, We can have a foreground pixel and background pixel associated with the output(Since we decided that image can be on black background as well)
- We can then apply connected component labelling on the edge-detected

[2018-04-23 14:09] jywarren commented on #172
Hi! Very cool! I wonder if you could post on the thread with Amir where he
laid out his steps, and check with him if this matches the process he's
described?

On Mon, Apr 23, 2018 at 1:00 AM, Varun Gupta <notifications@github.com>
wrote:

[2018-04-23 14:15] tech4GT commented on #172
@jywarren Done!! Can you also please have a look at the meta modules issue #200 , I have consolidated ideas and made a checklist, Thanks :)

[2018-04-23 15:02] jywarren commented on #200
This is awesome, good planning! A few responses:

1. "default presets of its constituent modules" -- let's say "pass through default presets of its const..."
2. "Implement a .getString and getJSON function" -- let's also specify that it'll preserve not only the steps, but the settings
3. "Allow for storage" -- this can be a future step but for now, let's approach this along with 3. (URL) by making

[2018-04-23 15:05] jywarren commented on #200
Er, wait! I'm mixing up `sequencer.toString` with `metaModule.toString`, aren't I? How should we approach this? Should metamodules have a `toString` and `import` method just like a sequencer, that's kind of what makes them `meta`, right? What do you think?

[2018-04-23 15:50] tech4GT commented on #200
@jywarren i did not get the sequencer.import(), can you please explain it a little more, Thanks!
Also I think lets not do toString() we can do a sequencer.getStringMetaModule(metamodule) and sequencer.getJsonMetaModule(metamodule) functions..

[2018-04-23 15:55] tech4GT commented on #200
@jywarren Are you talking about importing these modules into image sequencer...if that's so then that will actually be handled in dynamic modules so for that can you please have a look at #190, I posted a nice diagram explaining the flow for dynamic modules there, Thanks :)